@charset "utf-8";

/*  手机验证  */
.login-input {
	background-color: #fff;
	padding-top: 16px;
}

.phone-icon {
	width: 10px;
	height: 19px;
	display: inline-block;
	background: url(../images/phone-icon.png) no-repeat;
	background-position: 0 0;
	background-size: 13px auto;
	position: relative;
	top: 5px;
}

.safe-icon {
	width: 13px;
	height: 15px;
	display: inline-block;
	background: url(../images/phone-icon.png) no-repeat;
	background-position: 0 -20px;
	background-size: 13px auto;
	position: relative;
	top: 3px;
}

.login-input:-moz-placeholder,
.login-input::-webkit-input-placeholder{
  color: #d7d7d7;
  font-size: 18px;
}

.login-input div {
	height: 57px;
	line-height: 57px;
	padding: 0 5%;
}

.login-input input {
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	color: #707070;
	border: none;
}

.login-top input {
	margin-left: 16px;
}

.login-top {
	border-bottom: 1px solid #d5d5d5;
}

.login-bottom input {
	margin-left: 13px;
	width: 50%;
}

.login-input input:focus {
	outline: none;
}

.login-btn-container {
	margin-top: 29px;
}

.login-btn {
	background-color: #a5afb8;
	color: #fff;
	height: 45px;
	line-height: 45px;
	font-size: 20px;
	letter-spacing: 10px;
	border-radius: 4px;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.login-btn.enabled {
	background-color: #f1492d;
}