@charset "utf-8";

/*  手机验证  */
.login-input {
	background-color: #fff;
	padding-top: 0.8rem;
}

.file-icon {
    width: 0.6rem;
    height: 0.75rem;
    display: inline-block;
    background-image: url(../images/file.png);
    background-size: contain;
    vertical-align: middle;
}

.phone-icon {
	width: 0.5rem;
	height: 0.95rem;
	display: inline-block;
	background-image: url(../images/phone-icon.png);
    vertical-align: middle;
	background-size: contain;
}

.safe-icon {
	/*width: 0.625rem;
	height: 0.75rem;*/
    width: 0.625rem;
    height: 0.75rem;
	display: inline-block;
	background-image: url(../images/shield-icon.png);
	background-size: contain;
	vertical-align: middle;
    background-repeat: no-repeat;
}

.login-input:-moz-placeholder,
.login-input::-webkit-input-placeholder{
  color: #d7d7d7;
  font-size: 0.9rem;
}

.login-input input {
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.9rem;
	color: #707070;
	border: none;
}

.login-top input {
	margin-left: 0.8rem;
	width: 6.4rem;
}

.login-top {
	border-bottom: 1px solid #d5d5d5;
	font-size: 0;
	height: 2.85rem;
	line-height: 2.85rem;
	padding: 0 0.75rem;
}

.login-bottom {
	font-size: 0;
	height: 2.85rem;
	line-height: 2.85rem;
	padding: 0 0.75rem;
}

.login-bottom input {
	margin-left: 0.675rem;
	width: 6.4rem;
}

.login-input input:focus {
	outline: none;
}

.login-btn-container {
}

.login-btn {
	background-color: #a5afb8;
	color: #fff;
	height: 2.25rem;
	line-height: 2.25rem;
	font-size: 1rem;
	letter-spacing: 0.5rem;
	border-radius: 0.25rem;
	text-align: center;
	width: 15.4rem;
	margin: 0 auto;
}

.login-btn.enabled {
	background-color: #f1492d;
}

.get-check-code {
	color: #bebebe;
	font-size: 0.85rem;
	width: 4.15rem;
	height: 1.875rem;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	display: inline-block;
	line-height: 1.875rem;
	text-align: center;	
	vertical-align: middle;
}

.get-check-code-full{
    color: #bebebe;
    font-size: 0.85rem;
    width: 5rem;
    height: 1.875rem;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    display: inline-block;
    line-height: 1.875rem;
    text-align: center; 
    vertical-align: middle;
    float: right;
}

.get-check-code.enabled {
	color: #fff;
	background-color: #2ec273;
}

.get-check-code.disabled {
	color: #fffefe;
	background-color: #d0d5da;
	font-size: 0.75rem;
}

.input-end-icon {
	display: inline-block;
	vertical-align: middle;
	width: 0.925rem;
	height: 0.925rem;
}

.input-end-icon.default {
	background: url(../images/gray-cross-icon.png) no-repeat;
	background-size: 100%;
}

.input-end-icon.error {
	background: url(../images/red-cross-icon.png) no-repeat;
	background-size: 100%;
}

.input-end-icon.success {
	background: url(../images/green-tick-icon.png) no-repeat;
	background-size: 100%;
}

.login-input .input-end-icon {
	margin-right: 1.6rem;
}

.error-tip {
    font-size: 0.75rem;
    color: #f1595d;
    padding-left: 1.875rem;
    width: 100%;
    background-color: #e7ebef;
    height: 1.7rem;
    line-height: 1.7rem;
}

.chuXingInfo label.error {
    position:absolute;
    top:12.15rem;
    left:0.125rem; 
    font-size: 0.75rem;
    color: #f1595d;
    line-height:1.7rem;
}


/*  手机验证  end */

/*  套餐预约-2  start  */
.headTitle{
    font-size: 0.75rem;
    color: #424242;
    padding-top: 0.625rem;
    margin: 0 0.625rem 0.75rem;
}
.testStatistics{
    margin: 0.625rem;
    font-size: 0.6rem;
    color: #3f6f9a;
}
.testStatistics .left,
.testStatistics .right{
    width: 48.5%;
    display: inline-block;
}
.testStatistics .right{
    text-align: right;
}
.dateOfDeparture{
    padding: 0.625rem;
    font-size: 0.6rem;
    background-color: #fff;
    color: #404040;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    position: relative;
}
.dateOfDeparture .lightBlueFonts{
    color: #3f6f9a;
}
.dateOfDeparture .rightGrayArrow{
    display: inline-block;
    width: 0.475rem;
    height: 0.825rem;
    background: url("../images/rightGrayArrow.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 5%;
    top: 30%;
}
.setMealTitle{
    font-size: 0.6rem;
    color: #404040;
    margin: 0.5rem 0.625rem 0.25rem;
}
.setMealTitle .blueBgFight{
    background: url("../images/blueBgFlight.png") no-repeat;
}
.setMealTitle .hotelTitleIcon{
    background: url("../images/hotelTitleIcon.png") no-repeat;
}
.setMealTitle .editTitleIcon{
    background: url("../images/editTitleIcon.png") no-repeat;
}
.setMealTitle .commonTitleIcon{
    display: inline-block;
    width: 1.05rem;
    height: 1.025rem;
    vertical-align: middle;
    background-size: contain;
    margin-right: 0.25rem;
    margin-top: -0.25rem;
}
.setMealModel{
    width: 96%;
    margin: 0.3rem;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
}
.setMealModel table{
    width: 95%;
}
.setMealModel td{
    padding: 0.375rem 0.125rem;
}
.setMealModel td div{
    line-height: 0.8rem;
}
.setMealModel .voyageFonts{
    font-size: 0.45rem;
    color: #757575;
    text-align: center;
    /*margin-bottom: -0.7rem;*/
}
.setMealModel .placeFonts{
    font-size: 0.5rem;
    color: #333;
}
.placeFonts span{
    float: left;
    display: inline-block;
}
.placeFonts .placeStart,
.placeFonts .placeEnd{
    max-width: 2.5rem;
}
.placeFonts .marginLeftRight{
    margin: 0 0.075rem;
}
.setMealModel .fistTd{
    padding-left: 0.25rem;
}
.setMealModel .fontSize20{
    font-size: 0.5rem;
}
.setMealModel .color999{
    color: #999;
}
.setMealModel .color222 div{
    font-family: Arial;
    color: #222;
    font-size: 0.65rem;
}
.setMealModel .shippingSpace{
    color: #8a8a8a;
    line-height: 0.6rem;
}
.setMealModel .lineStyle{
    display: inline-block;
    width: 98%;
    height: 1px;
    line-height: 1px;
    border-top: 1px solid #e5e5e5;
}
.setMealModel .rightOrangeFonts,
.setMealModel.grayFonts .rightOrangeFonts{
    font-size: 0.5rem;
    color: #ff6b31;
    position: absolute;
    right: 2%;
    top: 5%;
}
.setMealModel .noSelectIcon{
    background: url("../images/noSelectIcon.png") no-repeat;
}
.current .selectIcon{
    background: url("../images/selectIcon.png") no-repeat;
}
.setMealModel .noPadding .commonSelectIcon{
    display: inline-block;
    width: 1.025rem;
    height: 1.025rem;
    background-size: contain;
    position: absolute;
    right: -4%;
    top: -0.5rem;
}
.setMealModel .oneLineShowIcon .commonSelectIcon{
    top: -1.5rem;
}
.setMealModel .noPadding td{
    padding: 0;
}
.setMealModel .positionIcon{
    position: relative;
    line-height: 1px;
    /*margin-top: -0.35rem;*/
}
.setMealModel .oneLineShowIcon .lineStyle{
    border-top: 1px solid #fff;
}
.setMealModel .goIcon{
    background: url("../images/goIcon.png") no-repeat;
}
.setMealModel .backIcon{
    background: url("../images/backIcon.png") no-repeat;
}
.setMealModel .commonIcon{
    display: inline-block;
    width: 0.775rem;
    height: 0.325rem;
    background-size: contain;
}
.setMealModel.current{
    border: 2px solid #26a4e5;
}
.setMealModel .stops{
    color: #8a8a8a;
    font-size: 0.45rem;
    line-height: 0.7rem;
}
.stops .stopsBg{
    display: inline-block;
    min-width: 1.25rem;
    height: 0.65rem;
    line-height: 0.68rem;
    text-align: center;
    background-color: #bac4cc;
    color: #fff;
    text-shadow: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.stops span:last-child {
    display: inline-block;
    max-width: 2.2rem;
}
.setMealModel.grayFonts div{
    color: #b0b0b0;
}
.setMealModel.grayFonts .understock{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0.72rem;
    font-size: 0.5rem;
    text-align: center;
    background-color: #eef0f2;
    border: 1px solid #cccccc;
    color: #919191;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: absolute;
    top: -0.5rem;
    right: -4%;
}
.setMealModel.hotelModel .changePosition{
    position: inherit;
    top: inherit;
    right: inherit;    
}
.setMealModel.hotelModel .commonSelectIcon{
    top: 28%;
}
.setMealModel.hotelModel td{
    padding: 0.625rem 0.25rem;
}
.setMealModel.hotelModel .noPadding td{
    padding: 0;
}
.setMealModel.hotelModel .positionIcon{
    margin-top: -0.5rem;
}
.setMealModel.hotelModel .commonSelectIcon{
    top: -1rem;
}
.editModelContent{
    padding-bottom: 5rem;
}
.editModelContent .editTextarea{
    font-size: 0.55rem;
    display: block;
    width: 96.5% !important;
    height: 3rem !important;
    padding: 0.25rem;
    margin: 0.3rem 0.3rem 0;
    color: #666;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: none !important;
}
.editModelContent .editTextarea:focus{
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
}
.editModelContent .editTextarea:-moz-placeholder,
.editModelContent .editTextarea::-webkit-textarea-placeholder{
    color: #bbbbbb;
}
.bottomFixContent{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.bottomFixContent .statisticsContent{
    width: 100%;
    text-align: center;
    padding: 0.4rem 0;
    background-color: #f2f2f2;
    text-shadow: none;
    border-top: 1px solid #d5d5d5;
}
.statisticsContent label{
    font-size: 0.6rem !important;
    margin-left: 0.4rem;
    display: inline-block;
}
.statisticsContent label:first-child{
    margin-left: 0;
}
.statisticsContent label .color77{
    color: #777;
}
.statisticsContent label .color43{
    color: #434343;
    margin-left: -0.2rem;
}
.statisticsContent label .orangeFonts{
    color: #ff6b31;
    margin-left: -0.2rem;
}
.statisticsContent .orangeFonts .fontSize22{
    font-size: 0.55rem;
    margin-right: -0.2rem;
}
.statisticsContent .orangeFonts .fontSize34{
    font-size: 0.85rem;
}
.btnContent .orangeBtn{
    font-size: 1rem;    
    display: inline-block;
    width: 100% !important;
    height: 2.375rem;
    line-height: 2.375rem;
    background-color: #f1492d;
    color: #fff;
    text-shadow: none;
    text-align: center;
    font-weight: normal;
}
.btnContent .orangeBtn:focus,
.btnContent .orangeBtn:visited,
.btnContent .orangeBtn:hover,
.btnContent .orangeBtn:active{
    color: #fff;
    outline: none;
}
/*  套餐预约-2  end  */


/*  我的订单 start  */
.orderStatistics{
    font-size: 0.65rem;
    color: #777777;
    background-color: #f5f5f5;
    padding: 0.375rem;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    margin-top: 0.25rem;
}
.orderStatistics .orderNumberTitle{
    display: inline-block;
    min-width: 9rem;
    max-width: 9rem;
}
.orderStatistics .totalContent{
    display: inline-block;
    /*max-width: 5.75rem;*/
    /*min-width: 5.75rem;*/
    text-align: right;
}
.totalContent .orangeFonts{
    color: #ff6b31;
    font-size: 0.75rem;
}
.orangeFonts .fontSize20{
    font-size: 0.5rem;
}
.makeAnAppointmentInfo{
    background-color: #fff;
    padding: 0.5rem 0.375rem 0.5rem 1.625rem;
    border-bottom: 1px solid #d5d5d5;
}
.makeAnAppointmentInfo .setMealLine{
    position: relative;
}
.setMealLine .grayDotIcon{
    background: url("../images/dotIcon.png") no-repeat;
}
.setMealLine .selectGreenDotIcon{
    background: url("../images/greenDot.png") no-repeat;
}
.setMealLine .commonIcon{
    display: inline-block;
    width: 1.025rem;
    height: 1rem;
    background-size: contain;
    position: absolute;
    top: -2%;
    left: -9%;
}
.setMealLine .lineFonts{
    font-size: 0.7rem;
    display: inline-block;
    max-width: 10.3rem;
    min-width: 10.3rem;
    /*margin-right: 0.3rem;*/
    line-height: 0.9rem;
    vertical-align: top;
}
.setMealLine .priceFonts{
    display: inline-block;
    font-size: 0.65rem;
    /*max-width: 2.8rem;*/
    vertical-align: top;
    line-height: 0.9rem;
}
.priceFonts .fontSize20{
    font-size: 0.5rem;
    vertical-align: top;
}
.makeAnAppointmentInfo .setMealType{
    font-size: 0.55rem;
    color: #777777;
    margin: 0.625rem 0 0.375rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #d5d5d5;
}
.setMealType .typeLeft{
    display: inline-block;
    max-width: 11rem;
    min-width: 11rem;
    margin-right: 0.25rem;
}
.setMealType .typeNumber{
    display: inline-block;
    max-width: 2.5rem;
    color: #505050;
}
.makeAnAppointmentInfo .bookCopies{
    font-size: 0.55rem;
    color: #777;
}
.bookCopies .residueStyle{
    display: inline-block;
    min-width: 5rem;
    max-width: 5rem;
}
.bookCopies .bookStyle{
    display: inline-block;
    max-width: 8.5rem;
    min-width: 8.5rem;
    text-align: right;
}
.bookStyle .bookFonts{
    margin: 0 0.15rem;
}
.bookStyle .addSubtract{
    display: inline-block;
}
.addSubtract .subtractFonts,.addSubtract .addFonts{
    font-size: 0.75rem;
    display: inline-block;
    width: 1.875rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #dcdcdc;
    color: #333333;
    vertical-align: middle;
}
.addSubtract .subtractFonts.touched,
.addSubtract .addFonts.touched {
    background-color: #c2c2c2;
}
.addSubtract .subtractFonts{
    border: 1px solid #d5d5d5;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}
.addSubtract .addFonts{
    border: 1px solid #d5d5d5;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.addSubtract .copiesInput{
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    border: 1px solid #d5d5d5;
    border-left: none;
    border-right: none;
    line-height: 1.5rem;
    text-align: center;
    margin: 0 -0.2rem;
    outline: none;
    background: none;
    vertical-align: middle;
}
.addSubtract .copiesInput:focus{
    outline: none;    
}
.myOrderModel .bootModel{
    background-color: #fff;
    padding: 0.5rem 0.375rem 0.5rem 1.625rem;
}
.myOrderModel.last{
    margin-bottom: 5.2rem;
}
.bootModel .setMealType{
    font-size: 0.55rem;
    color: #777777;
}
.bookStyle.statusFonts{
    font-size: 0.65rem;
    padding-right: 0.5rem;
    color: #333333;
}
.statusFonts.orangeFonts{
    color: #f43b40;
}
.bottomBtn{
    text-align: right;
    padding-right: 0.25rem;
    width: 100%;
    background-color: #f1f1f1;
    border-top: 1px solid #d5d5d5;
}
.bottomBtn .commonBtn{
    font-size: 0.75rem;
    display: inline-block;
    min-width: 5rem;
    height: 1.625rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: none;
    margin: 0.375rem 0;
    font-weight: normal;
}
.commonBtn.disabled {
    background-color: #a5afb8!important;
    border: 1px solid #c6c6c6!important;
}
.commonBtn.disabled:hover,
.commonBtn.disabled:focus {
    background-color: #a5afb8!important;
    border: 1px solid #c6c6c6!important;
}
.commonBtn.grayBgBtn{
    background-color: #fff;
    border: 1px solid #c6c6c6;
    color: #656565;
}
.commonBtn.grayBgBtn:focus,
.commonBtn.grayBgBtn:hover{
    color: #656565;
}
.commonBtn.greenBgBtn{
    background-color: #22af57;
    border: 1px solid #22af57;
    color: #fff;
}
.commonBtn.greenBgBtn:focus,
.commonBtn.greenBgBtn:hover{
    color: #fff;
}
.orderFixContent{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
}
.orderClassifyList{
    width: 100%;
    padding: 0.25rem 0;
    background-color: #fff;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.orderClassifyList li{
    float: left;
    width: 33%;
    text-align: center;
}
.orderClassifyList li.current .iconFontsExplain {
    color: #ec563e;
}
.orderClassifyList li.current .orderIcon {
    width: 0.85rem;
    height: 1.025rem;
    background: url("../images/listIcon01.png") no-repeat;
    background-size: contain;
}
.orderClassifyList li.current .reservationListIcon {
    width: 1.05rem;
    height: 1.05rem;
    background: url("../images/listIcon02-orange.png") no-repeat;
    background-size: contain;
}
.orderClassifyList li.current .accountNumberIcon {
    width: 1rem;
    height: 1.025rem;
    background: url("../images/accountIcon.png") no-repeat;
    background-size: contain;
}
.topCommonIcon.orderIcon{
    width: 0.85rem;
    height: 1.025rem;
    background: url("../images/listIcon01-gray.png") no-repeat;
    background-size: contain;
}
.topCommonIcon.reservationListIcon{
    width: 1.05rem;
    height: 1.05rem;
    background: url("../images/listIcon02.png") no-repeat;
    background-size: contain;
}
.topCommonIcon.accountNumberIcon{
    width: 1.05rem;
    height: 1.05rem;
    background: url("../images/listIcon03.png") no-repeat;
    background-size: contain;
}
.orderClassifyList .topCommonIcon{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-size: contain;
}
.orderClassifyList .iconFontsExplain{
    margin-top: 0.25rem;
    font-size: 0.55rem;
    color: #656565;
}
.iconFontsExplain.orangeFonts{
    color: #ec563e;
}
.noOrderContent{
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -6.125rem;
    left: 50%;
    margin-left: -4.25rem;
}
.noOrderContent .noOrderHint{
    margin-bottom: 1.8rem;
}
.noOrderHint .noOrderIcon{
    display: inline-block;
    width: 3.5rem;
    height: 3.975rem;
    background: url("../images/noOrderIcon.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.noOrderHint .noOrderFonts{
    font-size: 0.75rem;
    color: #aaaaaa;
    margin-top: 0.5rem;
}
.orderBtn .whiteBgBtn{
    display: inline-block;
    min-width: 8.5rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    background-color: #fff;
    color: #409fd0;
    border: 1px solid #26a4e5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.orderBtn .whiteBgBtn:focus,
.orderBtn .whiteBgBtn:hover{
    color: #409fd0;
}

#confirmWindow {
	background-color: #f1f1f1;
}

#confirmWindow .cont {
	font-size: 0.65rem;
	color: #404040;
	text-align: center;
	padding: 1rem 0.75rem;
}

#confirmWindow .confirmBtn {
	border-top: 1px solid #d6d6da;
	display: -webkit-box;
}

#confirmWindow .leftBtn {
	border-right: 1px solid #d6d6da;
	text-align: center;
	width: 50%;
	padding: .5rem 0;
}

#confirmWindow .rightBtn {
	text-align: center;
	width: 50%;
	padding: .5rem 0;
}

#confirmWindow .confirmBtn div {
	color: #157efb;
	font-size: 0.65rem;
	font-weight: normal;
}

#confirmWindow-screen {
	opacity: .3;
	background-color: #000;
}

/*  我的订单 end  */


/*  填写出行人信息 start  */
.chuXingRen{
    background-color: #fff;
}
.chuXingRen.scroll{
    overflow-y: auto;
}
.chuXingRen .chuXingRenList{
    font-size: 0.6rem;
    margin-left: 0.625rem;
    color: #909090;
}
.chuXingRenList li{
    padding: 0.2rem 0;
    vertical-align: middle;
    border-top: 1px solid #e5e4e4;
    position: relative;
}
.chuXingRenList li:first-child{
    border-top: none;
}
.chuXingRenList .leftNumber{
    float: left;
    width: 23%;
    line-height: 1.5rem;
}
.chuXingRenList .chuXingInfo{
    float: left;
    width: 75%;
}
.chuXingInfo .chuXingName{
    font-size: 0.7rem;
    color: #404040;
    display: inline-block;
    min-width: 3rem;
    max-width: 3.5rem;
    vertical-align: top;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}
.chuXingInfo .credentials{
    display: inline-block;
    min-width: 7rem;
    text-align: left;
}
.chuXingRenList .rightGrayArrow{
    display: inline-block;
    width: 0.475rem;
    height: 0.825rem;
    background: url("../images/rightGrayArrow.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 4%;
    top: 30%;
}
.chuXingInfo input[type="text"],
.chuXingInfo input[type="tel"] {
    width: 10rem;
    border: none;
    vertical-align: middle;
    margin-top: 0.4rem;
    color: #5f5f5f;    
}
.chuXingInfo input[type="text"]:focus{
    outline: none;
}
.chuXingInfo .photoIcon{
    display: inline-block;
    width: 4.775rem;
    height: 4.775rem;
    background: url("../images/emptyPhoto.png") no-repeat;
    background-size: contain;
    margin: 0.3rem 0 0.2rem 0;
    cursor: pointer;
}
.chuXingRenList li .seeExample{
    color: #3b91ee;
    cursor: pointer;
    position: absolute;
    right: 4%;
    top: 10%;
}
.chuXingRenList li.last{
    padding: 0.5rem 0;
}
.chuXingRenList .leftNumber.leftFonts{
    width: 78%;
}
.chuXingRenList .noSaveBtn{
    display: inline-block;
    width: 2.55rem;
    height: 1.55rem;
    background: url("../images/noSaveBtn.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 18%;
    right: 4%;
}
.chuXingRenList .noSaveBtn.saveBtn{
    background: url("../images/saveBtn.png") no-repeat;
    background-size: contain;
}

.bottomBlueBtn{
    text-align: center;
    margin-top: 1rem;
}
.bottomBlueBtn .bigBlueBtn{
    font-size: 1rem;
    display: inline-block;
    min-width: 11.5rem;
    height: 2.125rem;
    line-height: 2.125rem;
    background-color: #26a4e5;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: none;
    font-weight: normal;
}
.bottomBlueBtn .bigBlueBtn:focus,
.bottomBlueBtn .bigBlueBtn:hover{
    color: #fff;
}
.bottomBlueBtn .bigBlueBtn.disabled{
    background-color: #a5afb8;
}

.select-pop-container {
	position: absolute;
	width: 100%;
	height: 1rem;
	opacity: 0;
	bottom: 0;
}

.select-pop-wrapper {
	width: 100%;
}

.select-pop .title,
.selectTraveler-pop .title{
	font-size: 0.65rem;
	background-color: #f4f4f4;
	padding-left: 0.5rem;
	border-bottom: 1px solid #dfdfdf;
	height: 1.5rem;
	line-height: 1.5rem;
	color: #404040;
}

.select-pop li,
.selectTraveler-pop li{
	margin: 0 0.5rem; 
	border-bottom: 1px solid #e5e4e4;
}

.select-pop .item-cont,
.selectTraveler-pop .item-cont{
	font-size: 0.75rem;
	color: #404040;
	height: 2.5rem;
	line-height: 2.5rem;
	min-width: 14rem;
	display: inline-block;
}

.select-pop .item-cont.actived ,
.selectTraveler-pop .item-cont.actived {
	color: #007aff;
}

.select-pop .item-selected-icon,
.selectTraveler-pop .item-selected-icon{
	width: 0.6rem;
	height: 0.625rem;
	background: url(../images/blue-tick-icon.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: none;
}

.select-pop .item-selected-icon.actived,
.selectTraveler-pop .item-selected-icon.actived{
	display: inline-block;
}

.selectTraveler-pop #wrapper {
    position: relative;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 12.75rem;
}

.selectTraveler-pop #scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.idTypeCont {
	width: 10rem;
    border: none;
    vertical-align: middle;
    margin-top: 0.4rem;
    color: #5f5f5f;
    display: inline-block;
}

.upload-input {
	position: relative;
	display: inline-block;
}

.upload-input input[type='file'] {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 4.775rem;
    height: 4.775rem;
    display: block;
    margin-top: 0.3rem;
}

.idPhoto {
	width: 4.775rem;
    height: 4.775rem;
    margin: 0.3rem 0;
}
.chuXingRenList .selectTraveler{
    display: inline-block;
    min-width: 3.75rem;
    height: 1.125rem;
    line-height: 1.125rem;
    padding: 0 0.25rem;
    text-align: center;
    font-size: 0.65rem;
    font-weight: normal;
    color: #63ccf4;
    background-color: #fff;
    border: 1px solid #96ddf8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: none;
    position: absolute;
    right: 4%;
    top: 25%;
}
.chuXingRenList .selectTraveler:focus,
.chuXingRenList .selectTraveler:hover{
    color: #63ccf4;
    outline: none;
}
#noTraveler{
    padding: 10px 20px;
}

.item-list {
    /*max-height: 12.75rem;*/
    /*overflow-y: auto;*/
}

.error-tip-info {
    font-size: 0.75rem;
    color: #f1595d;
    padding-left: 0.7rem;
    width: 100%;
    background-color: #e7ebef;
    height: 1.7rem;
    line-height: 1.7rem;
}

/*  填写出行人信息 end  */


/*** 套餐预约 ***/
.set-order-title{
	/*height: 4.9rem;*/
	height: 21.5%;
}

.order-detail{
	height: 3.125rem;
	padding: 0 0.625rem;
}

.order-detail span{
	padding-top: 0.7rem;
	color: #424242;
	font-size: 0.75rem;
	display: block;
}

.order-number{
	height: 1.75rem;
	line-height: 1.75rem;
	padding: 0 0.625rem;
	color: #3f6f9a;
	font-size: 0.6rem;
	clear:both;
}

.order-number .left{
	float: left;
}

.order-number .right{
	float: right;
}

.confirm-route{
	background-color: #ffffff;
    padding-top: 1.5rem;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.select-schedule{
	margin: 0 2.05rem 0.8rem 2.05rem;
	background-color: #26a4e5;
	width: 12rem;
	height: 2.25rem;
	border-radius: 0.2rem;
	color: #ffffff;
	font-size: 0.9rem;
	line-height: 2.25rem;
	text-align: center;
    text-shadow: none;
}

.iphone-order{
	margin: 0 2.05rem 0.8rem 2.05rem;
	background-color: #ffffff;
	width: 12rem;
	height: 2.25rem;
	border-radius: 0.2rem;
	color: #409fd0;
	border: 1px solid #409fd0;
	font-size: 0.9rem;
	line-height: 2.25rem;
	text-align: center;
}

.order-notice{
	font-size: 0.55rem;
	color: #777777;
	text-align: center;
	padding: 0 0.95rem;
}
/*** 套餐预约 end ***/



/*   选择出行日期  start  */

.customDatepicker {
    padding-top: 1.25rem;
}

.calTable {
	background-color: #fff;
	width: 100%;
}

.calTable td:first-child {
	border-left: none;
}

.calTable td:last-child {
	border-right: none;
}

.calTable td {
	height: 3rem;
	width: 2.264rem;
	text-align: center;
	border-right: 1px solid #dedede;
	border-top: 1px solid #dedede;
}

.calTable .dayCont {
	color: #bbb;
	font-size: 0.65rem;
}

.calTable .top-day-cont {
	min-height: 0.8rem;
}

.calTable .middle-day-cont {
	font-size: 0.6rem;
	min-height: 0.8rem;
}

.calTable .current-date {
	color: #ff6b31;
	font-size: 0.6rem;
}

.calTable .bottom-day-cont {
	font-size: 0.4rem;
	color: #656565;
	min-height: 0.8rem;
}

.calTable .price-num {
	font-size: 0.5rem;
	color: #ff6b31;
}

.calTable .enable {
	color: #3f3f3f;
}

.calTable .active,
.calTable .active div,
.calTable .active span {
	background-color: #26a4e5;
	color: #fff;
}

.calTable .otherMonthDay {
	border-right: 0;
}

.calTable tr:last-child td {
	border-bottom: 1px solid #dedede;
}

.monthBanner {
	background-color: #edf1f5;
	color: #686868;
	font-size: 0.55rem;
	height: 1.15rem;
	line-height: 1.15rem;
	text-align: center;
	width: 100%;
}

.weekBanner {
	background-color: #bfd2e3;
	color: #404040;
	font-size: 0.55rem;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 0;
	max-width: 640px;
}

.window-container {
	height: 5rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	opacity: 0;
    visibility: hidden;
}

.window-container-center {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 50%;
    visibility: hidden;
}

#pickDateTip {
	font-size: 0.7rem;
	color: #fff;
	padding: 0.6rem 1.125rem;
}

#pickDateTip-popup {
	opacity: 0.8;
	position: fixed!important;
}

#pickDateTip-screen {
	display: none;
}

#pickSingleTip {
    font-size: 0.7rem;
    color: #fff;
    padding: 0.6rem 1.125rem;
}

#pickSingleTip-popup {
    opacity: 0.8;
    position: fixed!important;
}

#pickSingleTip-screen {
    display: none;
}

/*   选择出行日期  end  */


/* 预约单详情 S */
.reservationList {
    background:#26a4e5;
    padding:0.5rem 0.3rem 0 0.3rem;
    position:relative;
    margin-bottom: -0.25rem;
}
.reservationConTab {
    width:100%;
    text-shadow: none;
}
.reservationConTab th {
    color: #aeddf6;
    font-size:0.65rem;
    padding:0 0.375rem 0.25rem;
    text-align: right;
    width: 4.3rem;
    vertical-align: top;
    line-height: 1.3rem;
}
.reservationConTab td {
    color: #fefefe;
    font-size:0.65rem;
    padding:0 0 0.25rem 0;
    vertical-align: top;
    line-height: 1.3rem;
}
.lineBorder {
    height: 0.025rem;
    background: #57bdf1;
    margin-bottom:0.25rem;
}
.reservationListStatus {
    position: absolute;
    top:0.65rem;
    right:0.3rem;
    color:#f6eb46;
    font-size:0.7rem;
    text-shadow: none;
}
.blockModel {
    margin: 0.3rem;
    background: #fff;
    border-radius: 0.4rem;
    border:1px solid #d5d5d5;
    padding:0.5rem 0.3rem 0.5rem 0;
}
.returnTicketsTab .voyageFonts {
    font-size: 0.45rem;
    color:#757575;
    margin:0.6rem 0 0 0 ;
}
.returnTicketsTab .goIcon, .returnTicketsTab .backIcon {
    background: url("../images/go-greenArrow.png") no-repeat;
    display: inline-block;
    width: 0.775rem;
    height: 0.325rem;
    vertical-align: middle;
    background-size: contain;
    margin:-0.7rem 0 0 0;
}
.returnTicketsTab .backIcon {
    background: url("../images/back-blueArrow.png") no-repeat;
    background-size: contain;
}
.returnTicketsTab .cityFonts {
    font-size: 0.55rem;
    color: #333;
}
.returnTicketsTab .dateFonts {
    font-size: 0.5rem;
    color: #999;
    margin-top:5px;
}
.returnTicketsTab .timeFonts {
    font-size: 0.7rem;
    color: #222;
    font-weight: bold;
}
.returnTicketsTab .aircraftCabinFonts, 
.returnTicketsTab .priceSpread,
.fillPost .priceSpread
{
    font-size: 0.45rem;
    color: #8a8a8a;
}
.returnTicketsTab .countryFonts {
    font-size: 0.45rem;
    color: #8a8a8a;
    text-align: center;
    margin-top:-0.05px;
}
.returnTicketsTab .depotFonts {
    background: #bac4cc;
    border-radius: 0.2rem;
    color:#fffefe;
    font-size: 0.45rem;
    padding:0.025rem 0.1rem;
    text-align: center;
}
.returnTicketsTab .price,
.fillPost .price{
    color:#ff6b31;
    font-size: 0.5rem;
}
.positionIcon .lineStyle.changeLineWidth{
       width: 90%;
}
.positionIcon .lineStyle.wholeLineWidth {
    width: 100%;
}
.returnTicketsTab .price em {
    font-size: 0.4rem;
}
.returnTicketsTab .tdBottomBorder {
    border-bottom:1px solid #e5e5e5;
}
.returnTicketsTab .tdPaddingLeft {
    padding-left:0.4rem;
}
.setMealModel .fillPost div{
    line-height: 0.6rem;
}
.setMealModel .fillPost{
    position: absolute;
    top: 38%;
    right: 1.5%;
}
.setMealModel .fillPost.oneLinePosition{
    top: 25%;
}
.setMealTitle span {
    display:inline-block;
    vertical-align: middle;
}
.setMealTitle .blueBgFightIcon,
.setMealTitle .orangeHotelIcon, .setMealTitle .greenMark {
    display: inline-block;
    width: 1.05rem;
    height: 1.025rem;
    vertical-align: middle;
    background: url("../images/icon-orangeHotel.png") no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}
.setMealTitle .greenMark {
    background: url("../images/icon-greenMark.png") no-repeat;
    background-size: contain; 
}
.setMealTitle .blueBgFightIcon {
    background: url("../images/blueBgFlight.png") no-repeat;
    background-size: contain;
}
.returnTicketsTab .fontStyle22-333 {
    font-size: 0.55rem;
    color:#333;
}
.returnTicketsTab textarea.fontStyle22-333 {
    text-shadow: none!important;
    box-shadow: none!important;
}
.tripCustomerInfo, .relateTaobaoList {
    position:relative;
    border-bottom: 1px solid #d5d5d5;
    margin:1.2rem 0.3rem 0.8rem 0.3rem;
}
.tripCustomerInfo h3, .relateTaobaoList h3 {
    position: absolute;
    top:-0.4rem;
    left:38%;
    font-size: 0.6rem;
    color: #404040;
    background: #e7ebef;
    padding:0 0.25rem;
}
.tripCustomerInfo .icon-customer {
    background: url("../images/icon-customer.png") no-repeat;
    background-size: contain;
    display: inline-block;
    width: 0.525rem;
    height: 0.65rem;
    vertical-align: middle;
    margin-right: 0.25rem;
}
.tripNum {
    color:#404040;
    font-size: 0.6rem;
    margin: 0 0 0.45rem 0.625rem;
}
.blockModel-green {
    background: #03b98c;
    padding:0.5rem 0.375rem 0 0.375rem;
    position: relative;
}
.tripCustomerName {
    float:left;
    display:inline-block;
    width:3.2rem;
    font-size: 0.7rem;
    color:#fff;
}
.tripCustomerName .letterName {
    font-size: 0.5rem;
    margin-top: 0.25rem;
}
.tripCustomerList {
    border-left:1px solid #40dbb5;
    display: inline-block;
    font-size: 0.65rem;
}
.tripCustomerList th {
    color:#adecdc; 
    padding:0 0 0.5rem 0.3rem;
    text-align: justify;
}
.tripCustomerList td {
    color:#fff;
    padding:0 0 0.5rem 0.3rem;
}
.blockModel-green .editIconDiv {
    position: absolute;
    top:0.025rem;
    right: 0.2rem;
}
.blockModel-green .editIconDiv span {
    background: url("../images/icon-greenEdit.png") no-repeat;
    background-size: contain;
    display: inline-block;
    width: 1.05rem;
    height: 1.025rem;
    vertical-align: middle;
}
.relateTaobaoList .icon-link {
    background: url("../images/icon-link.png") no-repeat;
    background-size: contain;
    display: inline-block;
    width: 0.65rem;
    height: 0.575rem;
    vertical-align: middle;
    margin-right: 0.25rem;
}
.relateTaobaoList h3 {
    left:36%;
}
.relateTaobaoCon {
    margin: 0 0.3rem;
    font-size: 0.6rem;
    color:#555;
    padding:0.625rem 0 0.125rem 0.375rem;
}
.relateTaobaoCon p {
    padding-bottom: 0.5rem;
}
.dashedBorder {
    border-bottom: 1px dashed #ccc;
    margin:0 0.3rem;
}
.solidBorder {
    border-bottom: 1px solid #d5d5d5;
    margin:0 0.3rem;
}
.explainDiv {
    margin:0.5rem 0.3rem;
}
.explainDiv h3 {
    font-size: 0.6rem;
    color:#404040;
    padding:0 0 0.4rem 0;
}
.explainDiv p {
    font-size: 0.55rem;
    color:#ea7125;
    line-height: 0.9rem;
}
.serviceTelBlock {
    margin-bottom: 7rem;
}
.serviceTelBlock.noTelphone {
    border: none;
    background-color: #e7ebef;
    height: 0;
}
.serviceTelBlock .telphone-block,
.serviceTelBlock .cellphone-block {
    background-color: #fff;
    width: 12rem;
    height: 2.25rem;
    border-radius: 0.2rem;
    color: #409fd0;
    border: 1px solid #409fd0;
    font-size: 0.9rem;
    line-height: 2.25rem;
    text-align: center;
    margin: 1rem auto;
}

.serviceTelBlock a {
	color: #409fd0;
  	font-weight: normal;
}

.serviceTelBlock a:active,
.serviceTelBlock a:focus,
.serviceTelBlock a:hover {
	color: #409fd0;
}

#submitTip {
	padding: 0.9rem 3.3rem;
	font-size: 0.85rem;
}

#submitTip-popup {
	opacity: 0.8;
}

.th-letter-space-3 {
    letter-spacing: 0.3rem;
}
/* 预约单详情 E */

/* 我的预约单 S */
.order-sec-list {
    padding-bottom: 3.2rem;
}

.reservationListBox {
    width:14.375rem;
    height: 100%;
    margin: 0.625rem auto;
    background: #fff;
    box-shadow:0px 2px 5px 1px #bbb;
    position: relative;
}

.reservationListBox:first-child {
	margin-top: 0;
}

.left-semicircle {
    position: absolute;
    top: 0.7rem;
    left: -0.01rem;
    border-radius:0 0.4rem 0.4rem 0;
    /*box-shadow: 1px 0 3px 0px #ccc;*/
    box-shadow: 1px 0 2px 0px #bbb;
    width: 0.4rem;
    height: 0.8rem;
    display: inline-block;
    background: #e7ebef;
}
.left-coverUpLine {
   /* width: 0.2rem;
    height: 0.75rem;
    background: #e7ebef;
    position: absolute;
    top: 0.02rem;
    left: -0.05rem;*/

    width: 0.2rem;
    height: 0.8rem;
    background: #e7ebef;
    position: absolute;
    top: 0rem;
    left: -0.2rem;
}
.right-semicircle {
    position: absolute;
    top: 0.7rem;
    right: -0.01rem;
    border-radius: 0.4rem 0 0 0.4rem;
    box-shadow: -1px 0 2px 0px #bbb;
    width: 0.4rem;
    height: 0.8rem;
    display: inline-block;
    background: #e7ebef;
}
.right-coverUpLine {
   /* width: 0.2rem;
    height: 0.75rem;
    background: #e7ebef;
    position: absolute;
    top: 0.02rem;
    right: -0.05rem;*/ 

    width: 0.2rem;
    height: 0.8rem;
    background: #e7ebef;
    position: absolute;
    top:0rem;
    right: -0.2rem;
}
.reservationListBoxTitle {
    /*height: 2.125rem;*/
    padding:0.65rem 0.75rem;
}
.reservationListBoxTitle label {
    display: inline-block;
    margin: 0;
}
.reservationListBoxTitle .list-number {
    font-size: 0.65rem;
    color:#666;
    display: inline-block;
    float:left;
}
.reservationListBoxTitle .list-number span {
    margin-right: 0.75rem;
}
.reservationListBoxTitle .list-status {
    font-size: 0.7rem;
    color: #ff4e00;
    margin-right: 0.5rem;
    text-align: right;
    float:right;
}
.reservationListBoxTitle .listGreenFonts {
    color: #03b365;
}
.reservationListBoxTitle .listGrayFonts {
    color: #555;
}
.reservationListBoxCon {
    background: #029cc9;
    color:#fff;
    padding:0.625rem 0.75rem;
}
.reservationListBoxConTitle {
    font-size: 0.65rem;
    padding-bottom: 0.375rem;
    border-bottom:1px dashed #78d6f1;
    line-height: 1rem;
}
.reservationListBoxConOther {
    padding:0.1rem 0 0.7rem 0;
}
.reservationListBoxConOther label {
    display: inline-block;
    margin: 0 0 0 0;
    color: #fff;
    font-size: 0.55rem;
}
.reservationListBoxConOther label:last-child {
    margin: 0;
}
.reservationListBoxConOther label span {
    margin-left: 0.2rem;
}
.operateBtnDiv {
    text-align: right;
    margin-bottom: 0.4rem;
}
.blueButton {
    background: #029cc9;
    border: 1px solid #66c9ea;
    border-radius: 0.3rem;
    color:#fff !important;
    font-size: 0.65rem;
    text-align: center;
    padding:0.375rem 0.75rem;
}
.listBox-obsolete {
    background: #dadce0;
}
.listBox-obsolete .reservationListBoxCon {
    background: #dadce0;
    color:#333;
}
.listBox-obsolete .reservationListBoxTitle {
    border-bottom: 1px solid #bbb;
}
.listBox-obsolete .reservationListBoxConTitle {
    border-bottom: 1px dashed #bbb;
}
.listBox-obsolete .reservationListBoxConOther label {
    color:#666;
}
.listBox-obsolete .reservationListBoxConOther label span {
    color:#424242;
}
.topCommonIcon.orderIcon-gray {
    width: 0.85rem;
    height: 1.025rem;
    background: url("../images/listIcon01-gray.png") no-repeat;
    background-size: contain;
}
.topCommonIcon.reservationListIcon-orange {
    width: 1.05rem;
    height: 1.05rem;
    background: url("../images/listIcon02-orange.png") no-repeat;
    background-size: contain;
}
/* 取消弹窗 */
.popWindowBox {
    padding:0.5rem;
}
.popWindowBox h4 {
    font-size: 0.7rem;
    color: #fff;
}
.cancelReasonTextarea {
    width:12.8rem!important;
    height: 4.6rem!important;
    padding:0.1rem!important;
    background: #fff!important;
    font-size: 0.6rem!important;
    color: #464646!important;
    text-shadow: none!important;
}
.bigBlueButton {
    background-color: #26a4e5;
    width: 12.8rem;
    height: 2rem;
    border-radius: 0.2rem;
    color: #ffffff;
    font-size: 0.85rem;
    line-height: 2rem;
    text-align: center;
}
/* 我的预约单 E */

/*** 设置密码 ***/
.setPassword{
	height: 7.4rem;
	background-color: #ffffff;
}

.setPassword .title{
	height: 1.7rem;
	line-height: 1.7rem;
	text-align: center;
	background-color: #61cea1;
	color: #ffffff;
	font-size: 0.9rem;
}

.wave{
	background: url("../images/wave.png") repeat;
	background-position: center;
    -webkit-background-size: 100%;
    background-size: 100%;
	width: 100%;
	height: 0.325rem;
	margin-top: -0.1rem;
}

.password-block{
	height: 5.5rem;
}

.password-block .lock-block{
	height: 5.5rem;
	width: 1.95rem;
	float: left;
    display: -webkit-box;
    -webkit-box-pack: center; 
    -webkit-box-align: center; 
}

.password-block .lock-img{
	background: url("../images/lock.png") no-repeat;
	background-position: center;
	background-size: contain;
	width: 0.85rem;
	height: 1.1rem;
	display: inline-block;
}

.password-block .password-input{
	float: left;
	height: 5.5rem;
	line-height: 5.5rem;
	width: 11.8rem;
	color: #d7d7d7;
	font-size: 0.9rem;
}

.input-character{
	height: 2.75rem;
	text-align: left;
	line-height: 2.75rem;
	border-bottom: 1px solid #d7d7d7;
}

.input-character .password{
	border:none;
	color: #d7d7d7;
	font-size: 0.9rem;
	display: inline-block;
	width: 9.5rem;
	vertical-align: text-top;
}

.review-password{
	height: 2.75rem;
	text-align: left;
	line-height: 2.75rem;
	border: none;
}

.review-password .confirmPassword{
	border:none;
	color: #d7d7d7;
	font-size: 0.9rem;
	display: inline-block;
	width: 9.5rem;
	vertical-align: text-top;
}

.closeEye{
	height: 5.5rem;
	width: 2.2rem;
	float: left;
    display: -webkit-box;
    -webkit-box-pack: center; 
    -webkit-box-align: center; 
}

.closeEye-img{
	background: url("../images/closeEye.png") no-repeat;
	background-position: center;
	background-size: contain;
	width: 1.1rem;
	height: 0.925rem;
	display: inline-block;
}

.openEye-img{
	background: url("../images/openEye.png") no-repeat;
	background-position: center;
	background-size: contain;
	width: 1.1rem;
	height: 0.675rem;
	display: inline-block;
}

.deleteInput-img{
	background: url("../images/gray-cross-icon.png") no-repeat;
	background-position: center;
	background-size: contain;
	width: 0.94rem;
	height: 0.94rem;
	display: inline-block;
	vertical-align: text-top;
	margin-top: 0.18rem;
}

.error-hint{
	height: 1.5rem;
	line-height: 1.5rem;
	text-indent: 2rem;
	color: #E7EBEF;
	font-size: 0.75rem;
}

a.confirm-button{
	width: 15.45rem;
	height: 2.3rem;
	line-height: 2.3rem;
	margin: 0 0.3rem;
	/*background-color: #f1492d;*/
	text-align: center;
	display: block;
	color: #ffffff;
	background-color: #a5afb8;
	font-size: 1rem;
	border-radius: 0.2rem;
	font-weight: normal;
}

a.confirm-button:hover{
	color: #ffffff;
}

a.confirm-button-red{
	background-color: #f1492d;
}

/*** 设置密码 end ***/


/*** 添加订单 ***/
.add-order input {
margin-left: 0.55rem;
width: 8rem;
}

.add-order input {
height: 1.2rem;
line-height: 1.2rem;
font-size: 0.75rem;
color: #707070;
border: none;
}

.add-order .input-end-icon{
    margin-right: 0px;
}

.get-check-code-full2{
    color: #BEBEBE;
    font-size: 0.7rem;
    width: 4.25rem;
    height: 1.875rem;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    display: inline-block;
    line-height: 1.875rem;
    text-align: center;
    vertical-align: middle;
    float: right;
    margin-top: 0.5rem;
}

.addOrder-redBtn{
    background-color: #f1492d;
}

.add-order .enabled {
    background-color: #2ec273;
    color: #ffffff;
}


.get-check-code-30s.disabled {
  background-color: #d0d5da;
  color: #fffefe;
  font-size: 0.7rem;
}

.get-check-code-30s {
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  color: #bebebe;
  display: inline-block;
  font-size: 0.85rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  vertical-align: middle;
  width: 4.15rem;
  margin-left: 0.3rem;
}

.addOrder-bottom {
  font-size: 0;
  height: 2.85rem;
  line-height: 2.85rem;
  padding: 0 0.6rem;
}
/*** 添加订单end ***/

/*** 我的账号 ***/
.myAccountBg{
    background-color: #00a5af;
    overflow: hidden;
}

.user-account{
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 4.4rem;
    border: 0.05rem solid #ffffff;
    margin: 2.8rem auto;
    text-align: center;
}

.user-picture{
    background: url("../images/userHead.png") no-repeat center;
    background-size: contain;
    width: 2.6rem;
    height: 2.65rem;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 1.3rem;
    margin-bottom: 0.8rem;
}

.userPhone{
    background-image: url("../images/userPhone.png");
    background-size: contain;
    width: 0.425rem;
    height: 0.675rem;
    display: inline-block;
    float: left;
    vertical-align: text-top;
    margin: 0.2rem 0.35rem 0 1.3rem;
}

.userNum{
    font-size: 0.85rem;
    color: #ffffff;
    float: left;
    
}

.user-account-number{
    text-align: center;
}

.modify-password{
    width: 6.15rem;
    height: 2.1rem;
    border: 0.05rem solid #ffffff;
    text-align: center;
    line-height: 2.1rem;
    font-size: 0.8rem;
    color: #ffffff;
    border-radius: 0.2rem;
    display: inline-block;
    margin-right: 0.2rem;
    background-color: #03bcc8;
}

.exit-account{
    width: 6.15rem;
    height: 2.1rem;
    border: 0.05rem solid #ffffff;
    text-align: center;
    line-height: 2.1rem;
    font-size: 0.8rem;
    color: #ffffff;
    border-radius: 0.2rem;
    display: inline-block;
    background-color: #f35333;
}

.user-function-frame{
    text-align: center;
}

.function-change{
    height: 2.5rem;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
}

.myOrderIcon{
    background-image: url("../images/orderIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.85rem;
    height: 1.025rem;
    display: inline-block;
    margin-top: 0.44rem;
}

.myOrder-frame{
    width: 2.5rem;
    text-align: center;
    color: #656565;
    font-size: 0.55rem;
    float: left;
    margin-left: 1.8rem;
}

.myReserveOrder-frame{
    width: 3rem;
    text-align: center;
    color: #656565;
    font-size: 0.55rem;
    float: left;
    margin-left: 2.2rem;
}

.myAccount-frame{
    width: 2.55rem;
    text-align: center;
    color: #ec563e;
    font-size: 0.55rem;
    float: left;
    margin-left: 2.5rem;
}

.myReserveIcon{
    background-image: url("../images/reserveOrderIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.05rem;
    height: 1.025rem;
    display: inline-block;
    margin-top: 0.44rem;
}

.myAccountIcon{
    background-image: url("../images/accountIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1.025rem;
    display: inline-block;
    margin-top: 0.44rem;
}

/*** 我的账号end ***/


/*   二次登录   start  */

.checkbox {
    display: inline-block;
    width: 1.025rem;
    height: 1.025rem;
    background: url("../images/noSelectIcon.png") no-repeat;
    vertical-align: middle;
    background-size: contain;
}

.checkbox.actived {
    display: inline-block;
    width: 1.025rem;
    height: 1.025rem;
    background: url("../images/selectIcon.png") no-repeat;
    vertical-align: middle;
    background-size: contain;
}

.remember-block {
    margin: 0.5rem 0 0.75rem;
}

.remember-me-container .rem-text {
    color: #777;
    font-size: 0.7rem;
}

.gray-lock-icon {
    width: 0.625rem;
    height: 0.825rem;
    display: inline-block;
    background: url(../images/dark-gray-lock.png) no-repeat;
    vertical-align: middle;
    background-size: contain;
}

.forget-pw-link {
    font-size: 0.7rem;
    color: #777!important;
    font-weight: normal!important;
    float: right;
    margin-top: 0.35rem;
}

.forget-pw-link:hover,
.forget-pw-link:focus {
    color: #777!important;
}

.remember-block {
    padding: 0 0.575rem 0 0.75rem;
}

.register-block {
    padding-top: 0.75rem;
    padding-right: 0.575rem;
    text-align: right;
}

.register-block a {
    font-weight: normal!important;
    color: #26a4e5!important;
    font-size: 0.85rem;
}

.register-block a:focus,
.register-block a:hover {
    color: #26a4e5!important;
}

/*   二次登录   end  */

/* 预约单详情待处理 S */
.statisticsContent label.positionStyleLabel {
    margin: 0 0 0 1.6rem;
    vertical-align: middle;
}
.whiteBgBtn {
    font-size: 0.9rem;
    display: inline-block;
    min-width: 5rem;
    height: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #fff;
    border: 1px solid #7dc9ee;
    color: #409fd0!important;
    font-weight: normal!important;
    text-shadow: none;
}
.whiteBgBtn:focus,
.whiteBgBtn:hover{
    color: #409fd0!important;
}
/* 预约单详情待处理 E */

.loading-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.325rem;
    background: url(../images/ajax-loader.gif) no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-top: -0.125rem;
}

#loadingTip {
      font-size: 0.7rem;
      color: #fff;
      padding: 0.8rem 1.8rem;
}

#loadingTip-popup {
    opacity: 0.9;
}

.tipPopStyle {
    font-size: 0.7rem;
    color: #fff;
    padding: 0.6rem 1.125rem;   
}

.telphoneIcon {
    display: inline-block;
    background: url(../images/telphone-icon.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 1rem;
    height: 0.975rem;
    vertical-align: sub;
    margin-right: 0.5rem;
}

.cellphoneIcon {
    display: inline-block;
    background: url(../images/cellphone-icon.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 0.775rem;
    height: 1.275rem;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
    position: relative;
    top: 0.05rem;
}

.iphone-order a {
    color: #409fd0;
    font-weight: normal;
    font-size: 0.9rem;
}

.iphone-order a:hover,
.iphone-order a:focus,
.iphone-order a:active {
    color: #409fd0;
}

.setMealModel.grayFonts .oneLineShowIcon .understock {
    top: -1.5rem;   
}

.view-bigImg-pop img {
    min-height: 208px;
}