/* 表格样式 */
.k-grid-header .k-header{
    background-color:#e4e4e4;
    border-color:#f6f6f6;
    padding-top:5px;
    padding-bottom:5px;
}
.k-grid-header{
	background-color:#e4e4e4;
}

.k-grid-header .k-header {
    border-width: 0 0 1px 1px;
}

.k-grid table{
    border-collapse:collapse;
}
.k-grid td{
    padding-bottom: 10px;
    padding-top: 10px;
    border-width:0 0 1px 1px;
}
div.k-grid-header{
	padding-right:0;
}
.k-grid-scrollY div.k-grid-header{
	padding-right:17px;
}
div.k-grid-header .k-grid-header-wrap{
}
.k-grid-content{
	overflow:visible;
	overflow-y:visible;
	overflow-x:auto;
}
.k-ie9 .k-grid-content:hover {
    height:100%;
}

.k-grid a{
    color:#06c;
}
.k-grid tbody tr:hover td{
    background-color:#ffffdb; 
}

.k-grid .oper {color:#0066CC; padding:3px;}
.k-grid .oper:hover {text-decoration:underline;}

div.k-grid-header,thead.k-grid-header .k-header{
    border-bottom:2px solid  #fea86d;
}

div.k-pager-wrap {
    height:32px;
    padding: 10px 20px 0 20px;
}

.k-grid-pager b{
    color:#FF6B00;
}
.k-grid-pager {
    border:0;
    line-height:30px; 
    color:#676767;padding-bottom:0px;
    text-align: right;
    position: relative;
    overflow: visible;
    background: #fff
}

.k-pager-wrap .k-link {
    border:none;
    border-radius: 0px; 
    line-height: 30px;
    border-bottom: 2px solid white;
}

.k-pager-wrap-zzz .k-i-seek-w {display:none;}
.k-pager-wrap-zzz .k-i-seek-e {display:none;}

.k-pager-wrap-zzz .k-i-arrow-w {background: url(../../images/fanye.png) no-repeat 0 0;width:7px;}
.k-pager-wrap-zzz .k-i-arrow-e {background: url(../../images/fanye.png) no-repeat -14px 0;width:7px;}
.k-pager-wrap-zzz .k-i-arrow-w:hover {background-position: -7px 0;}
.k-pager-wrap-zzz .k-i-arrow-e:hover {background-position: -21px 0 !important ;}

/* .k-link:not(.k-state-disabled):hover > .k-i-arrow-w,.k-link:not(.k-state-disabled):hover > .k-i-arrow-e{background-position:50% 50%} */
.k-pager-wrap-zzz .k-link .k-icon {line-height:30px;height:30px;}
.k-grid .k-pager-numbers{float:none}
.k-pager-numbers li {text-align:center;margin:0 2px;}
.k-pager-numbers .k-link{line-height:30px;padding:0 11px;}
.k-pager-numbers li span{ color:#ff6c00; font-weight:bold;line-height:30px;}

.k-grid-content tr.k-state-selected {background-color:#fff;}

.k-pager-numbers .k-state-selected {
    border:1px solid #e7e7e7; background:#f7f7f7; border-bottom:2px solid #ff6c00; color:#575757; font-weight:bold;
    border-radius: 0px; 
    line-height: 30px;
    padding: 0px 10px;
}
.k-pager-numbers .k-link:hover {padding:0 10px;line-height:30px;border:1px solid #e7e7e7; background:#f7f7f7; border-bottom:2px solid #ff6c00; color:#575757; font-weight:bold;}

.k-pager-wrap-zzz{float:right}

.k-loading,
.k-state-hover .k-loading {
  background-image: url('../Default/loading.gif');
  background-position: 50% 50%;
}
.k-loading-image {
  background-image: url('../Default/loading-image.gif');
}
.k-loading-color {
  background-color: #ffffff;
}

/***************/
.k-upload-button{
    background: url("../../images/button/button_3_3.png") repeat scroll 0 0 transparent !important;
    color: #454545;
    display: inline-block;
    height: 35px;
    text-align: center;
    width: 71px;
    border:none;
}
.k-upload{
    display:inline-block;
    *display:inline;
}
.k-dropzone{
    padding:0;
}

.k-widget .k-input{
    text-indent:2px;
    box-shadow:none;
}
.k-widget .k-input{
    height:33px;
    line-height:inherit;
    line-height:33px;
    padding:0;
}
.k-dropdown .k-input {
    padding:0 0 0 3px;
}

.k-widget .k-select{
    height:26px;
    min-height:0;
    line-height:inherit;
}
.k-tabstrip{
    background-color:#fff;
    border:none;
}

.k-list .k-state-focused{
    background-color:#ffede3;
}
.k-dropzone em{
    display:none;
}

.k-window-title {position:static;padding-left:10px;}
.k-window-titlebar {
	font-weight:bold;
    cursor:move;
	padding:10px 0px;	
}
.k-window-titlebar .k-window-actions {
    padding-top:0;
    right: 0;
}
.k-content-frame {width:98%;height:98%;}

/*.k-tooltip {text-align:left;background-color:#ffffff;color:#000000;}*/
/*.k-tooltip-content {padding:10px;}*/

.k-alt {background-color:transparent;}

/* validate */
.k-tooltip-validation { 
    border:1px solid transparent;
    background-color:#ff6600;
    color:#ffffff;
    z-index:auto;
}
.k-tooltip-validation .k-icon{
    display:none;
}

.k-numerictextbox .k-link {padding:0 3px;}

.k-invalid {border:1px solid #ff6600 !important;}
span.k-tooltip-validation {padding:2px 3px 3px ;}

div.k-treeview {padding:5px 0 0 5px;}
.k-state-selected {background:#fff;}


/*  开放平台  */
.k-window-titlebar .k-window-action {
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 9px;
    text-decoration: none;
    vertical-align: middle;
    filter: alpha(opacity=70);
    opacity: .7;
}

.orangeHint .k-window-titlebar .k-state-hover {
    background-color: #eb5e00;
    border-style: none;
    border-width: 0;
    padding: 9px;
    filter: alpha(opacity=100);
    opacity: 1;
}

.k-window-titlebar .k-state-hover {
    background-color: #0b93e7;
    border-style: none;
    border-width: 0;
    padding: 9px;
    filter: alpha(opacity=100);
    opacity: 1;
}
.k-window-actions:hover .k-state-hover .k-i-close{
    background: url('../../images/openPlatform/openPlatformIcon.png') no-repeat -302px -48px;    
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
/*.k-tooltip,*/
.k-pager-wrap,
.k-button,
.k-draghandle {
    background-color: #65bdec;
}
.k-i-close{
    width: 18px;
    height: 18px;
    background: url('../../images/openPlatform/openPlatformIcon.png') no-repeat -302px -48px;
    border-color: transparent;
}
.k-header {
    color: #fff;
    font-size: 16px;
 }
div.k-window{
    border-width: 1px;
    border-color: #69bdec !important;
    box-shadow: 1px 1px 7px 1px #69bdec;
}
.k-header,.k-content,
.k-state-selected.k-state-focused, .k-state-selected.k-state-highlight{
    border-color: #69bdec !important;
}
.k-list-container{
    border-color: #69bdec !important;
    background-color: #c9ecff !important;
}
.k-popup .k-list .k-state-focused{
    background-color: #c9ecff !important;
}
.k-popup .k-list .k-item{
    height: 30px;
    line-height: 30px;
}


/*  通用提示框样式 start  */
.changeOrangeWindow .k-block,
.changeOrangeWindow .k-header,
.changeOrangeWindow .k-grid-header,
.changeOrangeWindow .k-toolbar,
.changeOrangeWindow .k-grouping-header,
/*.changeOrangeWindow .k-tooltip,*/
.changeOrangeWindow .k-pager-wrap,
.changeOrangeWindow .k-button,
.changeOrangeWindow .k-draghandle,
.orangeHint .k-header
 {
    background-color: #ff6600;
}
div.changeOrangeWindow.k-window{
    border-width: 1px;
    border-color: #ff6600 !important;
    box-shadow: 1px 1px 7px 1px #636363;
}

div.orangeHint.k-window {
  border-color: #ff6600 !important;
  border-width: 1px;
  box-shadow: 1px 1px 7px 1px #636363;
}

.changeOrangeWindow .k-header,.changeOrangeWindow .k-content,
.changeOrangeWindow .k-state-selected.k-state-focused,.changeOrangeWindow .k-state-selected.k-state-highlight{
    border-color: #ff6600 !important;
}
.changeOrangeWindow .k-list-container{
    border-color: #ff6600 !important;
    background-color: #ebebeb !important;
}
.changeOrangeWindow .k-popup .k-list .k-state-focused{
    background-color: #ebebeb !important;
}

.changeBlueWindow .k-window-actions,
.changeOrangeWindow .k-window-actions{
    display: none;
}




.changeBlueWindow .k-header,
.changeOrangeWindow .k-header{
    font-size: 16px;
}
.commonHint{
    padding: 40px 0;
    text-align: center;
}
.commonHint .commonHintIcon{
    display: inline-block;
    vertical-align: middle;
}
.commonHint .hintContent{
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    min-width: 70px;
    margin-left: 50px;
    color: #636363;
    text-align: left;
    position: relative;
}
.commonHint .successIcon{
    width: 36px;
    height: 36px;
    background: url("../../images/openPlatform/tipsIcon.png") no-repeat 0 0;
    position: absolute;
    left: -50px;
    top: -5%;
}
.commonHint .failIcon{
    width: 36px;
    height: 36px;
    background: url("../../images/openPlatform/tipsIcon.png") no-repeat 0 -40px;
    position: absolute;
    left: -50px;
    top: -5%;
}
.commonHint .loadingIcon{
    width: 44px;
    height: 44px;
    background: url("../../images/openPlatform/loading.gif") no-repeat;
    position: absolute;
    left: -50px;
    top: -5%;
}

/*  透明head提示窗 start  */
.changeCloseOrangeWindow .k-block,
.changeCloseOrangeWindow .k-header,
.changeCloseOrangeWindow .k-grid-header,
.changeCloseOrangeWindow .k-toolbar,
.changeCloseOrangeWindow .k-grouping-header,
    /*.changeCloseOrangeWindow .k-tooltip,*/
.changeCloseOrangeWindow .k-pager-wrap,
.changeCloseOrangeWindow .k-button,
.changeCloseOrangeWindow .k-draghandle,
.orangeHint .k-header
{
    background-color: transparent !important;
    color: #454545;
    font-size: 18px;
}
div.changeCloseOrangeWindow.k-window{
    border-width: 10px;
    border-color: #e2e1e1 !important;
    box-shadow: none;
}
.changeCloseOrangeWindow .k-header,.changeCloseOrangeWindow .k-content,
.changeCloseOrangeWindow .k-state-selected.k-state-focused,.changeCloseOrangeWindow .k-state-selected.k-state-highlight{
    border-color: #fff !important;
}
.changeCloseOrangeWindow .k-list-container{
    border-color: #e2e1e1 !important;
    background-color: #ebebeb !important;
}
.changeCloseOrangeWindow .k-popup .k-list .k-state-focused{
    background-color: #ebebeb !important;
}
.changeCloseOrangeWindow .k-window-titlebar .k-window-action{
    padding: 0;
}
.changeCloseOrangeWindow .k-window-titlebar .k-window-actions {
    padding-top:0;
    right: 0.6em;
    top: -0.1em;
}
.changeCloseOrangeWindow .k-window-titlebar .k-state-hover{
    background-color: transparent;
    filter: alpha(opacity=82);
    opacity: 0.82;
}
.changeCloseOrangeWindow .k-window-actions:hover .k-state-hover .k-i-close{
    background: url('../../images/openPlatform/openPlatformIcon.png') no-repeat -369px -159px;
}
.changeCloseOrangeWindow .k-i-close{
    width: 30px;
    height: 30px;
    background: url('../../images/openPlatform/openPlatformIcon.png') no-repeat -335px -159px;
    border-color: transparent;
}
/*  透明head提示窗 end  */

/*  通用提示框样式 end  */