@charset "utf-8";

html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	font-family: "microsoft yahei", sans-serif, Helvetica, Arial;
}
body {
    background: #fff;
    font-family: "microsoft yahei","arial", "helvetica", "sans-serif";
    font-size: 12px;
}
* {
	outline: none;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {
	list-style-type:none;
}
header, section, footer, article, aside, details, figcaption, figure, hgroup,nav {
	display: block;
}
textarea{
    resize:none;
    padding: 2px 3px;
}

input[type='text'],
input[type='password'] {
	padding: 0 2px;
}

a {
	outline:none;
	text-decoration:none;
	/*for FF*/
}

.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display:block;
	min-height:1%;
}
*html .fixed {
	height:1%;
}

.clearfix{ *zoom: 1;}
.clearfix:after{ 
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td,table th {
    empty-cells:show;
}
/* 头部 S */
.mainHeader {
    height: 88px;
    border-bottom: 2px solid #e8e8e8;
}
.headerCon {
    width:1000px;
    margin: 0 auto;
    height: 88px;
    overflow: hidden;
}
.logo {
    background: url("../image/logo.png") no-repeat;
    width:109px;
    height: 57px;
    float: left;
    display: inline-block;
    margin: 15px 0 0 0;
    
}
.mainNavBar {
    float: right;
    margin: 30px 0 0 0;
}
.mainNavBar li {
    float: left;
    display: inline-block;
    margin: 0 0 0 50px;
}
.mainNavBar li a {
    color: #737373;
    font-size: 18px;
    text-decoration: none;
}
.mainNavBar li a:hover {
    color: #f47900;
}
.mainNavBar li.currentPage a {
    color: #f47900;
}
/* 头部 E */

/* 主体内容 S */
.bannerBlock {
    background: #ea7400;
}
.mainContent {
    width:1000px;
    margin: 0 auto;
}
/* 主体内容 E */

/* 底部 S */
.foot {
    background: #2e2e2e;
}
.mainFoot {
    width: 1000px;
    margin: 0 auto;
    padding:36px 0;
    color: #909090;
    text-align: center;
}
/* 底部 E */