@charset "utf-8";

/*  公司里程 start   */
.mainBody{
    width: 1000px;
    margin: 20px auto;
    position: relative;
}
.mileageBanner{
    background: #f47900 url("../image/mileageBanner.jpg") no-repeat 50% 0;
    height: 204px;
}
.mileageList{
    margin: 70px 140px 50px;
}
.mileageList .commonIcon{
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: url("../image/mileageIcon.png") no-repeat;
    position: absolute;
    left: 0;
    top: -5px;
    z-index: 2;
}
.commonIcon.currentIcon{
    background-position: 0 0;
}
.commonIcon.trophyIcon{
    background-position: -45px -45px;
}
.commonIcon.mobileIcon{
    background-position: -45px 0;
}
.commonIcon.informIcon{
    background-position: -45px -90px;
}
.commonIcon.houseIcon{
    background-position: -45px -135px;
}
.commonIcon.planeIcon{
    background-position: -45px -180px;
}
.commonIcon.walletIcon{
    background-position: -45px -225px;
}
.commonIcon.onLineIcon{
    background-position: -45px -270px;
}
.commonIcon.diamondIcon{
    background-position: -45px -315px;
}
.commonIcon.heartIcon{
    background-position: -45px -360px;
}
.commonIcon.textIcon{
    background-position: -45px -405px;
}
.commonIcon.eyeIcon{
    background-position: -45px -450px;
}
.mileageList li{
    padding: 0 0 50px 50px;
    font-size: 16px;
    color: #737373;
    position: relative;
}
.mileageList .current{
    color: #f47900;
}
.mileageList .leftLine{
    width: 1px;
    height: 100%;
    border-left: 3px solid #f47900;
    position: absolute;
    left: 18px;
    top: 0;
    z-index: 1;
}
.mileageList .leftTime{
    display: inline-block;
    min-width: 110px;
    margin: 0 5px 0 10px;
    vertical-align: top;
}
.mileageList .rightFonts{
    display: inline-block;
    width: 530px;
    line-height: 25px;
}
.mileageList li.last .leftLine{
    border-left: 0;
}
/*  公司里程 end   */

/*  公司新闻 start  */
.newsBanner{
    background: #f47900 url("../image/newsBanner.jpg") no-repeat 50% 0;
    height: 204px;
    position: relative;
}
.newsBanner .newsFonts{
    font-size: 36px;
    color: #fffb91;
    position: absolute;
    right: 28%;
    top: 40%;
}
.newsContent{
    margin: 50px 70px;
    color: #737373;
    font-size: 16px;
}
.newsContent li{
    padding: 20px 10px;
    border-top: 1px solid #efefef;
}
.newsContent li:first-child{
    border-top: 0;
}
.newsContent .leftNewsFonts{
    float: left;
    width: 680px;
}
.newsContent .rightTimeFonts{
    float: right;
    width: 150px;
    text-align: right;
    color: #c4c4c4;
}
.leftNewsFonts .dialogueIcon{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("../image/dialogueIcon.png") no-repeat;
    vertical-align: middle;
    margin-right: 20px;
}
.returnTop{
    font-size: 0;
    width: 59px;
    height: 59px;
    background: url("../image/smallIcon.png") no-repeat 0 0;
    position: fixed;
    bottom: 120px;
    left: 50%;
    margin-left: 500px;
    display: none;
}
.returnTop:hover{
    background-position: -66px 0;
}
/*  公司里程 end   */