@charset "utf-8";

/*  公司里程 start   */
.mainBody{
    width: 1000px;
    margin: 20px auto;
    position: relative;
}
.mileageBanner{
    background: #f47900 url("../image/milestone-bg.gif") no-repeat 50% 0;
    height: 204px;
    position: relative;
}
.mileageBanner .newsFonts {
    font-size: 36px;
    color: #fffb91;
    position: absolute;
    right: 28%;
    top: 40%;
}
.mileageList{
    margin: 70px 140px 50px;
}
.mileageList .commonIcon{
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: url("../image/mileageIcon.png") no-repeat;
    position: absolute;
    left: 0;
    top: -5px;
    z-index: 2;
}
.commonIcon.currentIcon{
    background-position: 0 0;
}
.commonIcon.trophyIcon{
    background-position: -45px -45px;
}
.commonIcon.mobileIcon{
    background-position: -45px 0;
}
.commonIcon.informIcon{
    background-position: -45px -90px;
}
.commonIcon.houseIcon{
    background-position: -45px -135px;
}
.commonIcon.planeIcon{
    background-position: -45px -180px;
}
.commonIcon.walletIcon{
    background-position: -45px -225px;
}
.commonIcon.onLineIcon{
    background-position: -45px -270px;
}
.commonIcon.diamondIcon{
    background-position: -45px -315px;
}
.commonIcon.heartIcon{
    background-position: -45px -360px;
}
.commonIcon.textIcon{
    background-position: -45px -405px;
}
.commonIcon.eyeIcon{
    background-position: -45px -450px;
}
.mileageList li{
    padding: 0 0 50px 50px;
    font-size: 16px;
    color: #737373;
    position: relative;
}
.mileageList .current{
    color: #f47900;
}
.mileageList .leftLine{
    width: 1px;
    height: 100%;
    border-left: 3px solid #f47900;
    position: absolute;
    left: 18px;
    top: 0;
    z-index: 1;
}
.mileageList .leftTime{
    display: inline-block;
    min-width: 110px;
    margin: 0 5px 0 10px;
    vertical-align: top;
}
.mileageList .rightFonts{
    display: inline-block;
    width: 530px;
    line-height: 25px;
}
.mileageList li.last .leftLine{
    border-left: 0;
}
/*  公司里程 end   */

/*  公司新闻 start  */
.newsBanner{
    background: #f47900 url("../image/newsBanner.jpg") no-repeat 50% 0;
    height: 204px;
    position: relative;
}
.newsBanner .newsFonts{
    font-size: 36px;
    color: #fffb91;
    position: absolute;
    right: 28%;
    top: 40%;
}
.newsContent{
    margin: 50px 70px;
    color: #737373;
    font-size: 16px;
}
.newsContent li{
    padding: 20px 10px;
    border-top: 1px solid #efefef;
}
.newsContent li:first-child{
    border-top: 0;
}
.newsContent .leftNewsFonts{
    float: left;
    width: 680px;
}
.newsContent .rightTimeFonts{
    float: right;
    width: 150px;
    text-align: right;
    color: #c4c4c4;
}
.leftNewsFonts .dialogueIcon{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("../image/dialogueIcon.png") no-repeat;
    vertical-align: middle;
    margin-right: 20px;
}
.leftNewsFonts a {
    color: #737373;
    font-size: 16px;
}
.leftNewsFonts a:hover {
    color: #f47900;
}
.returnTop{
    font-size: 0;
    width: 59px;
    height: 59px;
    background: url("../image/smallIcon.png") no-repeat 0 0;
    position: fixed;
    bottom: 120px;
    left: 50%;
    margin-left: 500px;
    display: none;
}
.returnTop:hover{
    background-position: -66px 0;
    cursor: pointer;
}
/*  公司里程 end   */


/* 关于我们 S */
.mainBanner-aboutUs {
    width:1000px;
    height: 585px;
    margin: 0 auto;
}
.aboutUsCon {
    padding: 15px 15px 20px 15px;
    color: #737373;
    font-size: 14px;
}
.aboutUs-item {
    margin: 0 0 40px 0; 
}
.aboutUs-item h2 {
    font-size: 30px;
    color: #f47900;
    font-weight: normal;
    margin: 15px auto;
    text-align: center;
}
.aboutUs-item .aptitude, .aboutUs-item .contact {
    background: url("../image/icon-aboutus.png") no-repeat 0 0;
    width:35px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
    bottom: 2px;
}
.aboutUs-item .contact {
    background-position: 0 -32px;
    width:36px;
    height: 36px;
}
.lineBorder {
    height: 1px;
    background: #e6e6e6;
    margin: 5px 0;
}
.aboutUs-item .companyName {
    font-size: 16px; 
    text-align: center;
    padding: 0 0 15px 0;
}
.aboutUs-item .subItem {
    padding:0 0 0 203px;
    overflow: hidden;
}
.aboutUs-item .subItem li {
    float: left;
    text-align: center;
    width:200px;
    padding: 15px 30px 15px 50px;
    display: inline-block;
    border-right: 1px solid #e6e6e6;
}
.aboutUs-item .subItem h4 {
    font-weight: normal;
    padding: 0 0 12px 0;
}
.aboutUs-item .fonts01 {
    font-size: 20px;
    color: #ea7400;
    padding: 0 0 10px 0;
}
.aboutUs-item .subItem li:last-child {
    border-right: none;
}
.aboutUs-item .scope {
    padding:10px 0 10px 10px;
    overflow: hidden;
}
.aboutUs-item .scope h4 {
    font-weight: normal;
    padding: 0 0 20px 0;
    text-align: center;
}
.aboutUs-item .scope li {
    float: left;
    display: inline-block;
    margin:0 0 0 40px;
    width:208px;
}
.aboutUs-item .scope li:first-child {
    margin:0 0 0 0;
}
.aboutUs-item .scope .one, .aboutUs-item .scope .two, .aboutUs-item .scope .three, .aboutUs-item .scope .four {
    background: url("../image/icon-aboutus.png") no-repeat -52px 0;
    width:18px;
    height: 49px;
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    float: left;
}
.aboutUs-item .scope .two {
    background-position: -83px 0;
    width:31px;
}
.aboutUs-item .scope .three {
    background-position: -124px 0;
    width:32px;
    height: 50px;
}
.aboutUs-item .scope .four {
    background-position: -163px 0;
    width:33px;
}
.aboutUs-item .contactUl {
    overflow: hidden;
    padding: 30px 0 20px 0;
}
.aboutUs-item .contactUl li {
    float: left;
    display: inline-block;
    border-right: 1px solid #e6e6e6;
    padding: 0 50px 0 40px;
    width:247px;
}
.aboutUs-item .contactUl li:last-child {
    border-right: none;
    padding-right: 0;
}
.aboutUs-item .contactUl h5 {
    font-weight: normal;
    color: #ea7400;
    font-size: 14px;
}
.aboutUs-item .contactUl .address, .aboutUs-item .contactUl .tel, .aboutUs-item .contactUl .cooperate {
    background: url("../image/icon-aboutus.png") no-repeat 0 -73px;
    display: inline-block;
    width: 23px;
    height: 26px;
    vertical-align: middle;
    margin-right: 10px;
}
.aboutUs-item .contactUl .tel {
    background-position: 0 -104px;
    width:18px;
    height: 24px;
}
.aboutUs-item .contactUl .cooperate {
    background-position: 0 -134px;
    width:25px;
    height: 24px;
}
.aboutUs-item .contactUl p {
    padding-left: 31px;
}
/* 关于我们 E */

/*  首页  开始  By:shuaigeng.zhao */
.swiper-container {
    width: 100%;
    text-align: center;
}
.pagination {
  position: absolute;
  z-index: 20;
  top: 45%;
  right: 20px;
}
.swiper-pagination-switch {
  display: block;
  margin: 0 5px;
  cursor: pointer;
  margin-bottom: 10px;
  background: url(../image/swiper-pag-icon.png) no-repeat;
  width: 14px;
  height: 15px;
  position: relative;
}
.swiper-active-switch {
  background: url(../image/swiper-pag-curr-icon.png) no-repeat;
}

.swiper-pagination-switch span {
    position: absolute;
    color: #f8be35;
    font-size: 14px;
    right: 25px;
    width: 60px;
    bottom: -1px;
    display: none;
}

.swiper-pagination-switch:hover span {
    display: inline-block;
}

.fullpage {
    background: #dd5900;
}

.companyProfile {
    width: 1000px;
    margin: 0 auto;
    padding-top: 5%;
}

.companyProfile .title {
    color: #e2700f;
    font-size: 30px;
}

.companyProfile .title i {
    background: url(../image/title-icon-01.png) no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 12px;
}

.companyImg {
    float: left;
}

.companyProfile .brief {
    margin-top: 80px;
    margin-bottom: 75px;
}

.companyProfile .briefCont {
    float: left;
    margin-left: 30px;
    color: #737373;
    font-size: 14px;
    line-height: 24px;
    width: 648px;
    text-align: left;
}

.briefBottom {
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
}

.briefBottom .left {
    float: left;
    width: 49%;
    border-right: 1px solid #e2e2e2;
    padding: 20px 0;
}

.briefBottom .left i {
    display: inline-block;
    background: url(../image/team-head-01.png) no-repeat;
    width: 64px;
    height: 64px;
    margin-right: 35px;
}

.briefBottom .right {
    float: left; 
    width: 49%;
    padding: 20px 0;
}

.briefBottom .right i {
    display: inline-block;
    background: url(../image/team-head-02.png) no-repeat;
    width: 64px;
    height: 64px;
    margin-right: 35px;
}

.briefBottom .contText {
    display: inline-block;
    font-size: 14px;
    color: #737373;
    line-height: 24px;
    width: 324px;
    text-align: left;
}

.superiority {
    background-color: #e2710e;
    position: relative;    
}

.superiority .mainContent {
    padding-top: 5%;
}

.superiority .descContContainer {
    padding: 0 22px;
    width: 1000px;
    margin: 0 auto;
}

.superiority .title {
    font-size: 30px;
    color: #fff;
}

.superiority .title i {
    display: inline-block;
    background: url(../image/title-icon-02.png) no-repeat;
    width: 37px;
    height: 37px;
    margin-right: 10px;
    vertical-align: sub;
}

.superiority .subDescribe {
    font-size: 16px;
    color: #fff;
    margin: 35px auto 55px;
    width: 640px;
    text-align: center;
    line-height: 30px;
}

.superiority .left-block,
.superiority .middle-block,
.superiority .right-block {
    float: left;
    width: 252px;
}

.superiority .left-block,
.superiority .middle-block {
    margin-right: 100px;
}

.superiority .left-block i {
    display: inline-block;
    background: url(../image/largebg-icon-1.png) no-repeat;
    width: 122px;
    height: 120px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.superiority .middle-block i {
    display: inline-block;
    background: url(../image/largebg-icon-2.png) no-repeat;
    width: 135px;
    height: 109px;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 10px;
}

.superiority .right-block i {
    display: inline-block;
    background: url(../image/largebg-icon-3.png) no-repeat;
    width: 157px;
    height: 121px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.superiority .topTitle {
    margin-bottom: 25px;
}

.superiority .titleText {
    font-size: 18px;
    text-align: center;
    color: #fffb91;
}

.superiority .contText {
    color: #fffb91;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
}

.superiority .bgImg {
    position: absolute;
    left: -64px;
    bottom: 0;
    width: 100%;
}

.superiority .bgImg i {
    display: inline-block;
    background: url(../image/orange-bg-hill.png) no-repeat 0 0px;
    width: 1112px;
    height: 231px;
    vertical-align: middle;
}

.businessStructure .title {
    color: #f47900;
    font-size: 30px;
}

.businessStructure .title i {
    display: inline-block;
    background: url(../image/title-icon-03.png) no-repeat;
    width: 35px;
    height: 36px;
    vertical-align: sub;
    margin-right: 10px;
}

.businessStructure .subDescribe {
    font-size: 16px;
    line-height: 30px;
    color: #e2700f;
    width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
}

.structDescCont {
    width: 930px;
    margin: 0 auto;
    margin-top: 78px;
}

.structDescCont .structBlock {
    width: 175px;
    float: left;
    margin-right: 75px;
}

.structDescCont .structBlock:last-child {
    margin-right: 0;
}

.structDescCont .topTitle {
    font-size: 18px;
    line-height: 24px;
    color: #e2700f;
}

.structDescCont .topTitle .titleText {
    margin: 20px 0;
}

.structDescCont .structCont {
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    text-align: left;
}

.titleFlightIcon {
    display: inline-block;
    background: url(../image/largebg-icon-5.png) no-repeat;
    width: 105px;
    height: 96px;
    vertical-align: middle;
    margin-top: -8px;
}

.titleHotelIcon {
    display: inline-block;
    background: url(../image/largebg-icon-6.png) no-repeat;
    width: 102px;
    height: 88px;
    vertical-align: middle;
}

.titleTravelIcon {
    display: inline-block;
    background: url(../image/largebg-icon-7.png) no-repeat;
    width: 68px;
    height: 88px;
    vertical-align: middle;
}

.titleGovIcon {
    display: inline-block;
    background: url(../image/largebg-icon-8.png) no-repeat;
    width: 94px;
    height: 92px;
    vertical-align: middle;
    margin-top: -4px;
}

.businessStructure {
    position: relative;
}

.businessStructure .mainContent {
    padding-top: 5%;
}

.businessStructure .bottomPart {
    width: 100%;
    margin: 0 auto;
    height: 188px;
    position: absolute;
    bottom: 88px;
    z-index: -1;
}

.businessStructure .bottomBgImg {
    display: inline-block;
    background: url(../image/bottom-large-bg.png) no-repeat;
    width: 451px;
    height: 188px;
}

.businessStructure .foot {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}


/*  首页  结束*/

.news-title-wrapper {
    position: relative;
    margin-top: 48px;
}

.news-title-wrapper .news-date {
    position: absolute;
    color: #c4c4c4;
    font-size: 16px;
    background-color: #fff;
    width: 140px;
    text-align: center;
    top: -10px;
    left: 430px;
}

.news-title-wrapper .titleCont {
    padding: 28px 0 20px 0;
    color: #f47900;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.news-content {
    color: #737373;
    font-size: 16px;
    line-height: 30px;
    padding: 30px 20px 10px;
}

.news-content p {
    margin-bottom: 35px;
}

.mailToBlock {
    padding: 15px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    color: #8b8b8b;
    padding-left: 20px;
}

.mailToBlock a {
    font-size: 14px;
    color: #f47900;
}

.bottomWrapper {
    text-align: center;
}

.backNewsList {
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 35px auto 50px;
    font-size: 14px;
    color: #8b8b8b;
}

.backNewsList .backArrow {
    display: inline-block;
    background: url(../image/back-sm-icon.png) no-repeat 0 0;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    position: relative;
    left: -6px;
    bottom: 2px;
}

.backNewsList:hover {
    cursor: pointer;
    border-color: #f47900;
    color: #f47900;
}