
.pagination{
    float: right;
    margin-right: 30px;
}
.grid-table-pagination{
    line-height:30px;
    text-align:right;
}
.grid-table-count{
    font-size:16px;
    margin-right:20px;
}
.grid-table-count em{
    color:#FF6B00;
    text-transform:none;
}

.grid-table-pagination{
    line-height:30px;
    text-align:right;
    padding:10px 10px 0 10px;
}
.grid-table-count{
    margin-right:20px;
}
.grid-table-count em{
    color:#FF6B00;
    text-transform:none;
}
.grid-table-pagination a{
    display:inline-block;
    color:#666;
    text-decoration:none;
    text-align:center;
    width:29px;
    height:30px;
    border:1px solid #fff;
}
.grid-table-pagination a:hover {
    background-color:#f7f7f7;
    border:1px solid #eee;
}

.grid-table-pagination .disabled-prev{
    background:url(../../images/finance_r2_c12.png) 50% 50% no-repeat;
}
.grid-table-pagination .disabled-next{
    background:url(../../images/finance_r2_c12-2.png) 50% 50% no-repeat;
}

.grid-table-pagination .prev{
    background:url(../../images/finance_r2_c13-2.png) 50% 50% no-repeat;
}
.grid-table-pagination .next{
    background:url(../../images/finance_r2_c13.png) 50% 50% no-repeat;
}
.grid-table-pagination .current{
    background-color:#f7f7f7;
    border:1px solid #eee;
    border-bottom:3px solid #FF6C00 !important;
    font-weight:bold;
}