body {
	color: initial;
}
.letterWidth{
  font-size: 16px;
  margin-right: 5px;
}
.searchSpace{
  letter-spacing: 10px;
}
.referral .progress {
  margin-top: 5px;
  height: 4px;
  background: #f0f0f0;
  box-shadow: none;
}
.referral h5 .data {
  font-weight: 600;
  margin-right: 5px;
  border-right: 1px solid #e0e0e0;
  padding-right: 7px;
}

.referral{
  margin-left:10px;
  margin-right: 10px;
}
.box-statistic h4{
  /*display: inline-block;*/
  /*margin-left:10px;*/
  /*margin-right: 10px;*/
 /* text-align: center;
  margin-left: -20%;*/
}
.box-statistic h3{
  /*display: inline-block;*/
  /*margin-left:10px;*/
  /*margin-right: 10px;*/
 /* text-align: center;
  margin-left: -20% !important;*/
}
.letterWidth{
  font-size: 16px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .min-left{
    text-align: left;
  }
  .every-li{
    margin-top: 20px;
  }
  .searchTitle{
    margin-left: 0px !important;
  }
  .choice-ul{
    margin-left: 0px !important;
    vertical-align: middle;
    margin-top: 0px !important;
  }
  .searchLeft{
    margin-left:0px !important;
    text-align: left;
    border-color: #999999;
  }
  .left-li{
    margin-left: 0px !important;
  }
}
.searchLeft{
  margin-left:10px;
  text-align: left;
  border-color: #999999;
}
.searchLength{
  width:120px;
}
.swidth{
  width: 200px;
}

.sdatewidth{
  width: 200px;
}

.choice-ul{
  margin-top: 15px;
  vertical-align: middle;
}

.every-li input{
  width: 120px;
  height: 35px;
  border-color: initial !important;
}

.every-li button{
  font-size: 10px;
  margin-left: 10px;
}

.choice-value{
  border: 1px solid #999999;
  height: 36px;
  width: 160px;
}

.left-li{
  margin-left: 20px;
}
.searchTitle{
  border: 1px solid #999999;
  margin-left: 20px;
}

.salse_orders:after{
  content: "";
  display: block;
  margin-top: 1%;
}

.topbox:before{
  content: "";
  display: block;
  margin-top: 2%;
}

 .contrast-red  #main-nav .navigation > .nav > li:hover > a [class*="angle-"],.contrast-red #main-nav .navigation > .nav > li:hover > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li:focus > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li:focus > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li.active > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li.active > a [class*="angle-"],.contrast-red #main-nav .navigation > .nav > li > a.in [class^="angle-"] {
      width: 16px;
      height: 16px;
      float: right;
      margin-top: 15px;
      background: url("../../images/datacenter/dashbordImg/Downwards_pointer.png") no-repeat 0 0;

    }

    .contrast-red  #main-nav .navigation > .nav > li:hover > a [class*="angle-"],.contrast-red #main-nav .navigation > .nav > li:hover > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li:focus > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li:focus > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li.active > a [class*="angle-"], .contrast-red #main-nav .navigation > .nav > li.active > a [class*="angle-"] {
      width: 16px;
      height: 16px;
      float: right;
      margin-top: 15px;
      background: url("../../images/datacenter/dashbordImg/Downwards_pointer.png") no-repeat 0 0;

    }



    .contrast-red #main-nav .navigation > .nav > li.active > .nav > li > a:visited [class^="caretRight"],.contrast-red #main-nav .navigation > .nav > li.active > .nav > li > a:hover [class^="caretRight"],.contrast-red #main-nav .navigation > .nav > li.active > .nav > li > a:focus [class^="caretRight"]{
      height: 8px;
      width: 8px;
      display: inline-block;
      background: url('../../images/datacenter/dashbordImg/playRed.png') no-repeat 0 0;
      margin-bottom: 5px;
    }


    .contrast-red #main-nav .navigation > .nav > li.active > .nav > li >.nav>li>a:visited [class^="caretRight"],.contrast-red #main-nav .navigation > .nav > li.active > .nav > li >.nav>li>a:visited [class^="caretRight"],.contrast-red #main-nav .navigation > .nav > li.active > .nav > li >.nav>li>a:hover [class^="caretRight"],.contrast-red #main-nav .navigation > .nav > li.active >.nav > li >.nav>li>a:hover [class^="caretRight"]{
      height: 8px;
      width: 8px;
      display: inline-block;
      background: url('../../images/datacenter/dashbordImg/playRed.png') no-repeat 0 0;
      margin-bottom: 5px;
    }

    .caretRed{
      height: 8px;
      width: 8px;
      display: inline-block;
      background: url('../../images/datacenter/dashbordImg/playRed.png') no-repeat 0 0;
      margin-bottom: 5px;
    }

    .angle-down{
      width: 16px;
      height: 16px;
      float: right;
      margin-top: 15px;
      background: url("../../images/datacenter/dashbordImg/Downwards_pointer_16.png") no-repeat 0 0;
    }

 .profitLine{
      line-height: 40px;;
    }
