body {background-color: #0xEAEEF1;}

#extHeader {height:122px;background: url(../images/top_bg.jpg) repeat-x;}
#extHeader div {margin:0 auto;width:1200px;height:82px; background: url(../images/top_bg_2.jpg) no-repeat center center;}

#container {margin:0 auto;margin-top:-122px;width:980px;position:relative;}
#container .header {height:82px;}
#container .header h1 {margin-top:10px;background: url(../images/logo.png) no-repeat left top;width:145px;height:65px;float:left;}
#container .header div {margin-top:5px;position: absolute ; right:0; top:0; width:200px;height:60px;text-align:right;padding:3px;}

#top_menu {position:absolute;width:595px;height:50px;left:185px;top:55px;padding:3px;}
#top_menu li {display:block;float:left;width:85px;}
#top_menu li a {display:block;float:left;width:85px;color:#606060;text-align:center;}
#top_menu li a:hover {font-weight:bold;color:#105A8B;}
#top_menu li.current {} 
#message {display:block;width:60px;height:15px;position: absolute;right:5px;top:60px;text-indent:-1000em;background: url(../images/new.jpg) no-repeat left top;}
#sub_menu_bar {height:40px;}
.sub_menu {position:absolute;top:88px;right:60px;} 
.sub_menu li {display:block;float:left;width:75px;height:25px;margin-right:20px;}
.sub_menu li a {display:block;float:left;width:75px;height:25px;text-align:center;line-height:25px;color:#ffffff;}
.sub_menu li.current,.sub_menu li a:hover {background: url(../images/menu_3_bg.png) no-repeat left top;}

#extFooter {height:58px;background: url(../images/foot_bg.jpg) repeat-x left top;color:#ffffff;}
#extFooter a {color:#ffffff;}
#extFooter div {margin:0 auto;text-align:center;}
#extFooter p {padding:8px 5px 3px;}

#mainContent {text-align:left;}

