body {background-color: #EAEEF0;}
a {text-decoration:none; color:#606060;}
input {border:1px solid #cfcfcf;height:20px;}
input[type=radio] {border:none;height:20px;}
input[type=checkbox] {border:none;height:20px;}
#extHeader {height:122px;background: url(../images/top_bg.jpg) repeat-x; position:relative;}
#extHeader div {margin:0 auto;width:1200px;height:82px; background: url(../images/top_bg_2.jpg) no-repeat center center;}

#container {margin:0 auto;margin-top:-122px;width:980px;position:relative;}
.header {height:82px;}
.header h1 {margin-top:10px;background: url(../images/logo.png) no-repeat left top;width:145px;height:65px;float:left;}

.header div.profile {margin-top:5px;position: absolute ; right:0; top:0; width:200px;height:60px;text-align:right;padding:3px;}
.header div.profile a {color:#656162;}

#top_menu {position:absolute;width:750px;height:50px;left:185px;top:55px;padding:3px;}
#top_menu li {display:block;float:left;width:85px; height:25px;}
#top_menu li a {display:block;float:left;width:85px;color:#606060;text-align:center;}
#top_menu li a:hover {font-weight:bold;color:#105A8B; text-decoration:underline;}
#top_menu li.current { background:url(../images/menu_2_bg.jpg) no-repeat bottom center;}
#message {display:block;width:60px;height:15px;position: absolute;right:5px;top:58px;}
#message h3 {text-indent:-1000em;}
#message h3 a {display:block;float:left;width:34px;background: url(../images/message/new.png) no-repeat left top;}
#message h3 span {display:block;float:left;width:26px;background: url(../images/message/xiaoxi.png) no-repeat left top;}
#message_pop {display:none;position:absolute ;width:200px;top:24px;left:-140px;}
#message_pop .pop_head {height:13px;background: url(../images/message/box_top.png) no-repeat left top;}
#message_pop .mesbox {background: url(../images/message/box_background.png) repeat-y left top;overflow:hidden;}
#message_pop .ck {height:14px;padding:2px;}
#message_pop .ck a {text-indent:-10000em;float:right;margin-right:5px;display:block;width:10px;height:11px;background: url(../images/message/close.png) no-repeat left top;}
#message_pop ul {overflow-x:hidden;overflow-y:scroll;width:195px;height:160px;}
#message_pop ul li {display:block;height:30px;line-height:30px;border-bottom:1px solid #bdbdbd;margin-left:3px;}
#message_pop ul li a {display:block;height:27px;padding:1px 3px 1px 10px;}
#message_pop ul li a:hover {background-color:#feffe6;}
#message_pop ul li a em {margin-right:5px;display:inline-block;width:9px;height:9px;background: url(../images/message/notify-item.png) no-repeat left top;}
#message_pop ul li.last {border-bottom:none;}
#message_pop .pop_tail {height:8px;background: url(../images/message/box_bottom.png) no-repeat left top;}

#sub_menu_bar {height:40px;}
.sub_menu {position:absolute;top:88px;right:180px;display:none;} 
.sub_menu li {display:block;float:left;width:75px;height:25px;margin-right:20px;}
.sub_menu li a {display:block;float:left;width:75px;height:25px;text-align:center;line-height:25px;color:#ffffff;}
.sub_menu li.current{background: url(../images/menu_3_bg.png) no-repeat left top; }
.sub_menu li a:hover {text-decoration:underline;}

.gnjp,.gjjp,.jd,.caiwu {left:200px;}
.ticket {left:300px;}
.customer {left:500px;}

#extFooter {height:58px;background: url(../images/foot_bg.jpg) repeat-x left top;color:#ffffff;}
#extFooter a {color:#ffffff;}
#extFooter div {margin:0 auto;text-align:center;}
#extFooter p {padding:8px 5px 3px;}

#mainContent {text-align:left;}



/* 按钮样式 */
.button_3_3 {width:70px;height:26px;display:inline-block;text-align:center;line-height:26px;background:url(../images/button/button_3_3.png) 0 0;color:#454545;}
.button_3_3:hover {background-position:0 -40px;}
.button_3_3:active {background-position:0 -82px;}
.button_4_3{width:70px;height:26px;display:inline-block;text-align:center;line-height:26px;background:url(../images/button/button_4_3.png) 0 0;color:#ffffff;}
.button_4_3:hover {background-position:0 -40px;}
.button_4_3:active {background-position:0 -82px;}
.button_4_4{width:52px;height:26px;display:inline-block;text-align:center;line-height:26px;background:url(../images/button/button_4_4.png) 0 0;color:#ffffff;}
.button_4_4:hover {background-position:0 -40px;}
.button_4_4:active {background-position:0 -82px;}
.button_1_2{width:90px;height:31px;display:inline-block;text-align:center;line-height:31px;background:url(../images/button/button_1_2.png) 0 0;color:#ffffff;font-weight:bold;margin:10px 3px;}
.button_1_2:hover {background-position:0 -41px;}
.button_1_2:active {background-position:0 -83px;}
.button_2_2,.button_3_2 {width:90px;height:31px;display:inline-block;text-align:center;line-height:31px;background:url(../images/button/button_2_2.png) 0 0;color:#4f4f4f;font-weight:bold;margin:10px 3px;}
.button_2_2:hover, .button_3_2:hover {background-position:0 -41px;}
.button_2_2:active, .button_3_2:active {background-position:0 -83px;}
.button_4_2{width:90px;height:31px;display:inline-block;text-align:center;line-height:31px;background:url(../images/button/button_4_2.png) 0 0;color:#ffffff;font-weight:bold;margin:10px;}
.button_4_2:hover {background-position:0 -41px;}
.button_4_2:active {background-position:0 -83px;}
.button_4_5{width:168px;height:25px;display:inline-block;text-align:center;line-height:25px;background:url(../images/button/button_4_5.png) 0 0;color:#ffffff;margin:10px;}
.button_4_5:hover {background-position:0 -32px;}
.button_4_5:active {background-position:0 -65px;}
.otherbutton{text-align:center;width:49px;height:24px;line-height:24px;background:#DBDBDB;border-radius:3px;display:inline-block;color:#2C2C2C}

.button_gray {
    background: url("../images/button/button_3_3.png") repeat scroll 0 0 transparent !important;
    color: #454545;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 71px;
}
.button_text_blue {
    height:26px;
    line-height:26px;
    padding:0 10px;
    color:#0065CB;
    background: none no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    font-size: 12px;

}
.button_text_blue:hover {
    background-color:#D8F4FB;
}
.tgrid {text-align:center;border:1px solid #e0e0e0;border-top:1px solid #D0D0D0;}
.tgrid thead td {color:#393939;border-bottom:3px solid #FFA66F;border-right:1px solid #F6F6F6;}
.tgrid thead td.last {border-right:none;}
.tgrid thead td {background-color:#e4e4e4;}
.tgrid tbody td {color:#393939;border-right:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0;}
