body {background-color:#eaeef0;}

#container {margin:0 auto;width:980px;position:relative;}
.top_line {height:8px;background:url(../images/login/top_line.png) no-repeat;}
#header .logo {display:block;background:url(../images/logo.png) no-repeat;width:145px;height:65px;}
#header {height:72px;}
#header li {display:block;width:122px;float:left;}
#header li a {display:block;width:100%;height:100%;}
.login {position:relative;}
.login_panel {z-index:10;border:1px solid #ffffff;padding:20px;}




