@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'microsoft yahei',sans-serif;
}

#title{
	width: 100%;
	height: 100px;
	background-image: url(../images/b2b_purchase/verUpHead.png);
	position: relative;
	display: inline-block;
	line-height: 100px;
	vertical-align: middle;
}

.verUpdate{
	color: #ffffff;
	font-size: 78px;
	position: relative;
	left: 136px;
	top: -18px;
}

.verUpdate2{
	color: #ffffff;
	font-size: 18px;
	position: relative;
	left: 140px;
	top: -38px;
}

.logo1{
	width: 327px;
	height: 100px;
	position: absolute;
	background: ;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}

.logo2{
	width: 327px;
	height: 100px;
	position: absolute;
	left: 460px;
	
}

/*.logo2:hover{
	background: url(../images/b2b_purchase/titleSlide.png) no-repeat 0;
	width: 327px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
}*/

.logo3{
	width: 327px;
	height: 100px;
	position: absolute;
	left: 786px;
}

/*.logo3:hover{
	background: url(../images/b2b_purchase/titleSlide.png) no-repeat 0;
	width: 327px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
}*/

.logo4{
	width: 327px;
	height: 100px;
	position: absolute;
	left: 1110px;
}

/*.logo4:hover{
	background: url(../images/b2b_purchase/titleSlide.png) no-repeat 0;
	width: 327px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
}*/

.logo5{
	width: 327px;
	height: 100px;
	position: absolute;
	left: 1308px;
}

.colBar{
	background: url(../images/b2b_purchase/verticalBar.png) no-repeat 0;
	width: 1px;
	height: 74px;
	display: inline;
	float: right;
	margin-top: 12px;
}

.logoAllFrame{
	width: 100%;
	height: 75px;
	margin-top: 12px;
	border-left: 1px solid #33cccc;
	border-right: 1px solid #33cccc;
}

.logoWebFrame{
	width: 100%;
	height: 75px;
	margin-top: 12px;
	border-right: 1px solid #33cccc;
}

.logoPhoneFrame{
	width: 100%;
	height: 75px;
	margin-top: 12px;
	border-right: 1px solid #33cccc;
}

.logoFrame-left{
	border-left: 1px solid #ffffff;
	z-index: 2;
}

.logoFrame-right{
	border-right: 1px solid #ffffff;
}

.logoLeftCover{
	width: 332px;
	height: 100%;	
	z-index: 10;
	position: absolute;
	left: 460px;
}

.logoLeftClickCover{
	width: 332px;
	height: 100%;	
	z-index: 10;
	position: absolute;
	background-color: #1c6e84;
	left: 460px;
}

.logoLeftCover:hover{
	width: 332px;
	height: 100%;
	background-color: #1c6e84;
	z-index: 10;
}

.logoMidCover{
	width: 332px;
	height: 100%;	
	z-index: 10;
	position: absolute;
	left: 786px;
}

.logoMidClickCover{
	width: 332px;
	height: 100%;	
	z-index: 10;
	position: absolute;
	background-color: #1c6e84;
	left: 786px;
}

.logoMidCover:hover{
	width: 332px;
	height: 100%;
	background-color: #1c6e84;
	z-index: 10;
}

.logoRigCover{
	width: 332px;
	height: 100%;	
	z-index: 10;
	position: absolute;
	left: 1112px;
}

.logoRigClickCover{
	width: 332px;
	height: 100%;	
	z-index: 10;
	position: absolute;
	background-color: #1c6e84;
	left: 1112px;
}

.logoClickCover{
	background-color: #1c6e84;
}

.logoClickCover2{
	background-color: #1c6e84;
}

.logoRigCover:hover{
	width: 332px;
	height: 100%;
	background-color: #1c6e84;
	z-index: 10;
}

.footPos{
	margin-top: 888px;
}

.logoBordrOne{
	background: url(../images/b2b_purchase/verticalBar.png) no-repeat 0;
	width: 1px;
	height: 74px;
	display: inline-block;
	position: absolute;
	left: 326px;
}



.titleBlock{
	background: url(../images/b2b_purchase/titleSlide.png) no-repeat 0;
	width: 380px;
	height: 100px;
	display: inline-block;
	position: absolute;
	z-index: 2;
}

.logoAll{
	background: url(../images/b2b_purchase/all.png) no-repeat 0px 8px;
	width: 92px;
	height: 40px;
	display: inline-block;
	position: absolute;
	left: 108px;
	top: 32px;
	z-index: 12;
}

.logoWeb{
	background: url(../images/b2b_purchase/verUpdate.png) no-repeat 0px -54px;
	width: 92px;
	height: 40px;
	display: inline-block;
	position: absolute;
	left: 108px;
	top: 32px;
	z-index: 12;
}

.logoPhone{
	background: url(../images/b2b_purchase/verUpdate.png) no-repeat 0px -92px;
	width: 112px;
	height: 40px;
	display: inline-block;
	position: absolute;
	left: 108px;
	top: 32px;
	z-index: 12;
}

#content{
	width: 981px;
	height: 100%;
	margin: 110px 275px 0 326px;
	font-family: 'microsoft yahei',sans-serif;
}

#date{
	width: 129px;
	height: 850px;
	float: left;
	font-family: 'microsoft yahei',sans-serif;
	font-size: 16px;
	color: #555555;
	position: relative;
}

#timeLine{
	width: 78px;
	height: 850px;
	float: left;
	position: relative;
	margin-top: 38px;
}

#record{
	width: 360px;
	height: 850px;
	float: left;
}

#downButton{
	width: 200px;
	height: 850px;
	float: left;
}

.date-one{
	position: absolute;
	left: 36px;
	top:4px;
}

.date-two{
	position: absolute;
	left: 36px;
	top:182px;
}

.date-three{
	position: absolute;
	left: 36px;
	top:430px;
}

.date-four{
	position: absolute;
	left: 36px;
	top:608px;
}

.line{
	width: 50%;
	height: 758px;
	border-right: 1px solid #dbdbdb;
}

.lineComputer-one{
	background: url(../images/b2b_purchase/verUpdate.png) no-repeat 0px -130px;
	width: 55px;
	height: 55px;
	display: inline-block;
	position: absolute;
	top: -10px;
	left: 14px;
}

.linePhone-one{
	background: url(../images/b2b_purchase/verUpdate.png) no-repeat 0px -184px;
	width: 55px;
	height: 55px;
	display: inline-block;
	position: absolute;
	top: 164px;
	left: 14px;
}

.lineComputer-two{
	background: url(../images/b2b_purchase/verUpdate.png) no-repeat 0px -130px;
	width: 55px;
	height: 55px;
	display: inline-block;
	position: absolute;
	top: 414px;
	left: 14px;
}

.linePhone-two{
	background: url(../images/b2b_purchase/verUpdate.png) no-repeat 0px -184px;
	width: 55px;
	height: 55px;
	display: inline-block;
	position: absolute;
	top: 590px;
	left: 15px;
}

.lineMore{
	background: url(../images/b2b_purchase/verUpdate.png) no-repeat 0px -240px;
	width: 55px;
	height: 55px;
	display: inline-block;
	position: absolute;
	top: 740px;
	left: 16px;
}

#record h5{
	font-size: 22px;
	color: #333333;
}

#record ul li{
	margin-top: 4px;
	font-size: 14px;
	color: #999999;
	height: 28px;
	line-height: 28px;
}

.record-one{
	width: 358px;
	height: 176px;
}

.record-one ul{
	position: relative;
	bottom: 30px;
}

.record-two{
	width: 358px;
	height: 248px;
}

.record-two ul{
	position: relative;
	bottom: 30px;
}

.record-three{
	width: 358px;
	height: 178px;
}

.record-three ul{
	position: relative;
	bottom: 30px;
}

.record-four{
	width: 358px;
	height: 144px;
}


.record-four ul{
	position: relative;
	bottom: 30px;
}

.record-five{
	width: 358px;
	height: 104px;
}

.searchUpdateBtn{
	width: 155px;
	height: 41px;
	background-color: #ebebeb;
	font-size: 16px;
	color: #555555;
	border: 0px;
	position: relative;
	top: 8px;

}

.searchUpdateBtn:hover{
	background-color: #4b79c6;
	color: #ffffff;
	cursor: pointer;
}

.down-one{
	width: 200px;
	height: 176px;
}

.down-two{
	width: 200px;
	height: 252px;
}

.down-three{
	width: 198px;
	height: 174px;
}

.down-four{
	width: 200px;
	height: 138px;
}

.download{
	background: url(../images/b2b_purchase/download.jpg) no-repeat 0;
	width: 145px;
	height: 40px;
	display: inline-block;
	margin-top: 32px;
}

.download:hover{
	background: url(../images/b2b_purchase/downloadHov.jpg) no-repeat 0;
	width: 145px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
}

.scanHov{
	background: url(../images/b2b_purchase/downloadHov.png) no-repeat 0px 0px;
	width: 330px;
	height: 205px;
	display: inline-block;
	position: relative;
	left: -13px;
	top: -48px;
	display: none;
	cursor: pointer;
}

.appStore{
	background: url(../images/b2b_purchase/appStore.png) no-repeat 0px 0px;
	width: 130px;
	height: 130px;
	display: inline-block;
	position: absolute;
	left: 172px;
	top: 28px;
}

.appStore:hover{
	background: url(../images/b2b_purchase/appStoreHov.png) no-repeat 0px 0px;
	width: 130px;
	height: 130px;
	display: inline-block;
	position: absolute;
	left: 172px;
	top: 28px;
}

.useExplain{
	background: url(../images/b2b_purchase/useExplain.png) no-repeat 0;
	width: 145px;
	height: 40px;
	display: inline-block;
	margin-top: 32px;
}

.useExplain:hover{
	background: url(../images/b2b_purchase/useExplainHov.png) no-repeat 0;
	width: 145px;
	height: 40px;
	display: inline-block;
}

.useExplain:hover{
	cursor: pointer;
}

.footer-down{
	clear: both;
}

