body {background-color:#eaeef0;}

.pw-ic{
    background:url(../images/login/pws.png) no-repeat;
}
.pw-title{
    margin:0;
    padding-bottom:10px;
    border-bottom:1px solid #D3D3D3;
    font:16px 'Microsoft Yahei',sans-serif;
}
.pw-body{
    padding:20px 40px;
}
.pw-field{
    padding:40px 0;
    border:1px solid #EFEFEF;
    margin:30px 0;
    min-height:100px;
}
.pw-field-row{
    width:500px;
    margin:0 auto 15px auto;
}
.pw-instr{
    color:#666;
    position:relative;
    width:560px;
    margin:0 auto;
}
.pw-instr .pw-ic{
    display:block;
    margin:10px auto;
}
.pw-instr .highlight{
    color:#f60;
}
.pw-instr-bar{
    top:21px;
    left:50%;
    margin-left:-220px;
    width:440px;
    height:2px;
    background-color:#ccc;
    position:absolute;
    display:block;
}
.pw-instr-bar span{
    float:left;
    display:block;
    height:2px;
    width:33.3%;
    background-color:#f30;
}
.pw-label a{
    color:#f00;
}
.pw-block s{
    text-decoration:none;
}
.pw-block .pw-email-input{
    width:220px;
    padding:0 5px;
    height:30px;
    line-height:30px \9;
    border:1px solid #ccc;
}
.pw-label{
    font-size:14px;
}
.pw-instr li{
    position:relative;
    z-index:1;
    float:left;
    margin:0;
    width:25%;
    text-align:center;
}
.pw-block{
    padding:10px;
   background-color:#fff; 
}
.ic-passwd01{ background-position: 0 0; width: 24px; height: 24px; } 
.ic-passwd02{ background-position: 0 -74px; width: 24px; height: 24px; } 
.ic-passwd02g{ background-position: 0 -148px; width: 24px; height: 24px; } 
.ic-passwd03{ background-position: 0 -222px; width: 24px; height: 24px; } 
.ic-passwd03g{ background-position: 0 -296px; width: 24px; height: 24px; } 
.ic-passwdend{ background-position: 0 -370px; width: 26px; height: 24px; } 
.ic-passwdi1{margin-right:5px;display:inline-block; background-position: 0 -444px; width: 15px; height: 15px; } 
.ic-passwdtip{line-height:30px;text-indent:15px;color:#f30;vertical-align:middle;display:inline-block; background-position: 0 -509px; width: 130px; height: 30px; } 

#container {margin:0 auto;width:980px;position:relative;}
.top_line {height:8px;background:url(../images/login/top_line.png) no-repeat;}
#header .logo {display:block;background:url(../images/logo.png) no-repeat;width:145px;height:65px;}
#header {height:72px;}
#header li {display:block;width:122px;float:left;}
#header li a {display:block;width:100%;height:100%;}
.login {position:relative;}
.login_panel {z-index:10;border:1px solid #ffffff;padding:20px;}




