html {
    font-size:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,button,textarea,p,blockquote,iframe,table,th,td,article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
	margin:0;
	padding:0;
	outline-style:none;
	font-family:"Microsoft YaHei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
    display:block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

.video embed,.video object,.video iframe {
	width:100%;
	height:auto;
}

body {
    color:#000;
    background:#e9e9e9;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym{
    border:0;
    font-variant:normal;
}
sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}


.clearfix:before,
.clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

hr {
    margin:0;
    border:none;
    height:0;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}


i{ font-style:normal;}


body{
    font-size:12px;
    color:#828a92;
}

s,u{
    text-decoration:none;
}

.hidetext{
    white-space:nowrap;
    text-indent:100%;
    *text-indent:0;
    *line-height:100em;
    overflow:hidden;
}

hr{
    margin:20px 0;
    border-bottom:1px solid #ddd;
}

input{
    color:#666;
}

.main-wrapper .top-line {
    height:4px;
    background:url(../images/b2g/top_line.jpg) no-repeat 50% 0;
}

.main-header {
    border-bottom:1px solid #384b5f;
    background:#2d3e50;
    height:81px;
}
.main-header .header-content {
    position:relative;
    width:1200px;
    margin:0 auto;
}

.main-nav {
    height: 49px;
    line-height: 49px;
    position:absolute;
    top: 25px;
    right:120px;
}

.main-nav li {
    float:left;
}

.main-nav a {
    background:url(../images/b2g/nav-point.png) no-repeat 0% 50%;
    width:150px;
    /* height:40px; */
    display:block;
    color:#cccccc;
    font-size:16px;
    cursor:pointer;
    text-align:center;
    position:relative;
    z-index:1;
}

.main-nav .first a {
    background:none;
}

.main-nav a:hover {
    text-decoration:none;
    color:#ffffff;
}

.main-nav .active a{
    z-index:1;
    color:#f66058;
}

.main-body{

}

.main-body-content, .header-bar-content {
    width:1200px;
    margin:10px auto;
    position:relative;
}

.main-body-content {
    min-height:400px;
}

.header-bar {
    position:relative;
    height:45px;
    line-height:30px;
    border-top:1px solid #1e2936;
    background:#233343;
}


.header-bar .tips {
    width:26px;
    height:26px;
    display:block;
    float:left;
    margin:0 15px;
    background:url(../images/b2g/sprite.png) no-repeat 0 -80px;
}

.header-bar .setuser {
    position:absolute;
    background:#4f6277;
    padding:0px 12px;
    color:#cccccc;
    right:200px;
    top:0px;
}

.setuser a {
    color:#cccccc;
}

.header-bar .for_reason {
    position:absolute;
    padding:0px 12px;
    right:100px;
    top:0px;
}

.for_reason .reason_checkbox {
    cursor:pointer;
    width:19px;
    height:19px;
    display:block;
    float:left;
    position:relative;
    top:5px;
    background:url(../images/b2g/sprite.png) no-repeat -30px -80px;
}

.for_reason .checked {
    background-position: -55px -80px;
}

.for_reason label {
    cursor:pointer;
    color:#d7d7d7;
    font-size:14px;
    padding:0 5px;
}

.main-footer{
    background-color:#2d3e50;
    height:66px;
    border-top:1px solid #CACACA;
}
.main-footer p {
    text-align:center;
    margin-top:20px;
    color:#8f8f8f;
}
.main-footer a {
    color:inherit;
}
.main-footer .bar {
    margin:0 5px;
}

.logo {
    width:120px;
    height:70px;
    display:block;
    text-indent:-1000em;
    background:url(../images/b2g/sprite.png) 0 0 no-repeat;
}

/* 返回顶部 */
.backToTop {
    display: none;
    width: 60px;
    height: 60px;
    background:url(../images/store/back-top-advice.png) no-repeat;
    color: transparent;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    _bottom: "auto";
    cursor: pointer;
    bottom:175px;
    font-size:0px;
    /*
    opacity: .6;
    filter: Alpha(opacity=60);
    */
}
.backToTop:hover {
    color: transparent;
    background-position:-61px 0;
}

.fullscreen {
    width:100% !important;
    height:100%;
    margin:0 auto;
}

/* loading */
.lightbox table {
    height: 100%;
    width: 100%; 
}

.lightbox td, .lightbox th {
  vertical-align: middle; 
}

.lightbox-content {
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 3px;
  position: relative; 
}

.lightbox-body {
  border: 1px solid #cecece;
  border-top: 0;
  padding: 10px 30px 30px 30px; 
}

.lightbox-head {
  border: 1px solid #cecece;
  border-bottom: 0;
  background-color: #eeeeee; 
}
.lightbox-head h3 {
    line-height: 30px;
    padding-left: 20px;
    margin: 0; 
}

.lightbox {
    display: none;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    zoom: 1; 
}
.loading_icon {
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  height: 130px;
  width: 220px;
  background: url(../images/b2g/flight_loading.gif) no-repeat 0 0 ; 
}

.loading_box div {
  border: 1px solid #6d6f6e;
  width:450px;
}

.loading_text {
  line-height: 60px;
  color: #666;
  font-size: 18px; 
}

.loading_close {
  cursor: pointer;
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* 日历样式 */
.datepicker {height:22px;background:url(../images/store/i8.png) no-repeat 97% center #ffffff;} 
.datepicker.dpShort{background:none}
.ui-datepicker {background:rgb(41, 48, 56);font-size:12px;padding:5px;opacity:0.8;filter:alpha(opacity=80);}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.ui-datepicker-daywrapper{
    font-weight:normal;
    /*text-indent:-50px;*/
    display:inline-block;
    /*width:0px;*/
    *position:relative;
    *top:-4px;
    margin-left: -60px;
    width: 60px;
    text-align: left;
}
.ui-datepicker .ui-datepicker-buttonpane{
    margin:0;
}
.ui-datepicker-calendar thead{
    color:#3597DB;
    background-color:#ffffff;
}
.ui-datepicker-calendar thead th{
    font-weight: normal;
}
#ui-datepicker-div{
    box-shadow:0px 2px 10px #777;
}
#ui-datepicker-div .ui-datepicker-calendar{
    width:100%;
    margin:0 !important;
}
.ui-datepicker-calendar td{
    border:none;
}
.ui-datepicker-calendar td span{
    text-align:center;
    display:block;
    line-height:28px;
    height:28px;
    width:28px;
    margin:0 auto;
    padding:0;
}
.ui-datepicker-calendar td a{
    margin:0 auto;
    display:block;
    text-align:center;
    line-height:28px;
    height:28px;
    width:28px;
    padding:0;
}
.ui-datepicker-calendar-wrap{
    border-right:1px solid #d2d2d2;
    height:200px;
    /*background:url(../images/store/month.jpg) no-repeat 50% 0;*/
}

.ui-datepicker-calendar-wrap-m0{
    background-position:50% 0px;
}
.ui-datepicker-calendar-wrap-m1{
    background-position:50% -200px;
}
.ui-datepicker-calendar-wrap-m2{
    background-position:50% -400px;
}
.ui-datepicker-calendar-wrap-m3{
    background-position:50% -600px;
}
.ui-datepicker-calendar-wrap-m4{
    background-position:50% -800px;
}
.ui-datepicker-calendar-wrap-m5{
    background-position:50% -1000px;
}
.ui-datepicker-calendar-wrap-m6{
    background-position:50% -1200px;
}
.ui-datepicker-calendar-wrap-m7{
    background-position:50% -1400px;
}
.ui-datepicker-calendar-wrap-m8{
    background-position:50% -1600px;
}
.ui-datepicker-calendar-wrap-m9{
    background-position:50% -1800px;
}
.ui-datepicker-calendar-wrap-m10{
    background-position:50% -2000px;
}
.ui-datepicker-calendar-wrap-m11{
    background-position:50% -2200px;
}

/* 日历头 */
.ui-widget-header {
    background: none;
    border:none;
    border-radius:0;
}

.ui-datepicker td {
    padding:0px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width:40%;
}
/* 前后按钮 */
.ui-datepicker-calendar thead th.ui-datepicker-week-end{
    color:#3597DB;
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    cursor:pointer;
    background:none;
    border:0;
    padding:0;
    opacity:1 !important;
    outline: 0;
}
.ui-widget-header .ui-icon{
    margin:0 auto;
    display:block;
    height:13px;
    width:10px;
    background: url(../images/b2g/datePickerMonthButton.png) no-repeat;
}
.ui-state-disabled.ui-datepicker-prev .ui-icon{
    background-position:0 0 !important;
}
.ui-state-disabled.ui-datepicker-next .ui-icon{
    background-position:-6px 0px !important;
}
.ui-datepicker-prev-hover .ui-icon{
    background-position:0 -13px;
    margin-left:-7px !important;
    margin-top:-7px !important;
}
.ui-datepicker-next .ui-icon{
    background-position:-8px 0;
}
.ui-datepicker-next-hover .ui-icon{
    background-position:-8px -13px;
    margin-left:-9px !important;
    margin-top:-7px !important;
}
.ui-datepicker-calendar-wrap {
    background-color:#fff;
    margin:0;
}
.ui-datepicker-calendar-wrap td {
    color:#5c5c5c;
    padding: 0px !important ;
}
.ui-datepicker-calendar-wrap .ui-datepicker-calendar,.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto;
    text-align:center;
    border-collapse: collapse ; 
    width:220px;
}
.ui-datepicker-title{
    color:#EA5C55;
}
.ui-datepicker-multi .ui-datepicker-group-first .ui-datepicker-calendar {
    margin-right:10px !important;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-calendar {
    margin-left:10px !important; 
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border:none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    background-color:#f66e19;
    color:#ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    color:#ffffff;
}
.ui-datepicker-calendar .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: none; 
    font-weight: normal;
}
.ui-datepicker-calendar .ui-state-hover{
    height:26px;
    line-height:26px;
    width:26px;
    border:1px solid #ccc;
}
.ui-datepicker-calendar .ui-state-highlight{
    border:0;
}
.ui-datepicker-buttonpane{
    display:none;
}

.fastival {
    height:26px;
    width:28px;
    text-indent:-1000em;
    display:block;
    border:none;
    cursor:pointer;
    background-image:url(../images/b2g/s2.png) !important;
    background-repeat:no-repeat;
}
.ui-state-hover .fastival{
    margin-top:-1px;
    margin-left:-1px;
    border:none;
}
.today { background-position : 50% 0px !important; }
.yuandan { background-position : 50% -30px !important;}
.chuxi { background-position : 50% -60px !important;}
.chunjie { background-position : 50% -90px !important;}
.yuanxiao { background-position : 50% -120px !important;}
.qingming { background-position : 50% -150px !important;}
.wuyi { background-position : 50% -180px !important;}
.duanwu { background-position : 50% -210px !important;}
.zhongqiu { background-position : 50% -240px !important;}
.guoqing { background-position : 50% -270px !important;}

.ui-state-highlight .today{
    background-color:#F94F46;
}

.ui-datepicker-time-wrap {
    position:relative;
    padding: 5px 0;
}

.ui-datepicker-time-i {
    width:120px;
    margin: 0px auto;
}

.ui-datepicker-time-i input[type=text] {
    text-align:center;
}

.ui-datepicker-time {
    border:1px solid #aaaaaa;
    background:#fff;
    position:absolute;
    width:220px;
}

.ui-datepicker-time-wrap td {text-align:center;}
.ui-datepicker-time-wrap td a {text-align:center;}
.ui-datepicker-time-wrap td a:hover {
    background-color:#f66e19;
    color:#ffffff;
}



.row { *zoom: 1; }
.row:before, .row:after { display: table; line-height: 0; content: ""; }
.row:after { clear: both; }
a{ color:#6d6d6d;}
a:hover{ color:#f1634c;}

.pull-right {float: right;}
.pull-left {float:left;}


/* b2g通用button */
.commonBtn{ border:0; color:#FFFFFF; font-size:14px; font-weight:bold; padding:12px 35px; vertical-align:middle; cursor:pointer;}
.k-ie7 .commonBtn{ padding:10px 20px;}
.lightRedBtn{ background:#F94F46;}
.lightRedBtn:hover{ background:#f83f35;}
.grayBtn{ background:#BCBCBC;}
.grayBtn:hover{ background:#afafaf;}
.orangeBtn{ background:#FA7E2E;}
.orangeBtn:hover{ background:#f46f1a;}
.lightBlueBtn{ background:#63b8f0;}
.lightBlueBtn:hover{ background:#4aadef;}
.disable{ background:#b6bcc3; cursor:default;}
.disable:hover{ background:#b6bcc3;}


/* 通用翻页*/
.pagination,.paging{ margin:10px 0;}
.pagination div,.paging div{ float:right; height:30px; line-height:30px;}
.pagination div em,.paging div em{ color:#e94749; font-weight:bold;}
.pagination ul,.paging ul{ margin:0 10px 0 20px; float:right;}
.pagination ul li,.paging ul li{ float:left; margin-left:10px;}
.pagination ul li a,.paging ul li a{ display:inline-block; padding:5px 8px; border:1px solid #ccd5de; color:#e94749;}
.pagination ul li a:hover,.pagination .present,.paging .present{ color:#fff; text-decoration:none; cursor:pointer; background:#e94749; border:1px solid #e94749;}
.pagination ul li span,.paging ul li span{ color:#e94749;}
.pagination .disabled{ color:#ccd5de;}
.pagination .disabled:hover{ color:#ccd5de; background:none; border:1px solid #ccd5de; cursor:default;}
.paging ul li a:hover{ background:#f6f6f6; text-decoration:none; color:#e94749;}
.paging .present:hover{ background:#e94749; color:#fff;}

input[type=text] , input[type=password] {
    color:#9a9a9a;
    height:28px;
    line-height:28px;
    border:1px solid #c7c7c7; 
    text-indent:3px;
}

input[type=checkbox],input[type=radio] { margin-right:3px; vertical-align: text-bottom;}
input[type=text]:focus, input[type=password]:focus {
    color:#343434;
    border: 1px solid #ffb5b2;
    box-shadow:0px 0px 10px #ffb5b2;
    -moz-box-shadow:0px 0px 10px #ffb5b2;
    -o-box-shadow:0px 0px 10px #ffb5b2;
    -webkit-box-shadow:0px 0px 10px #ffb5b2;
    /*
    outline:#ffb6b2 solid thick;
    outline-width:1px;
    */
}

input[type=text].grayed, input[type=password].grayed {
    color:#cccccc;
    border:1px solid #dedede;
    background:#f7f7f7;
    box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
}


/* 换 */
.xchange {position:absolute;top:30px;left:240px;width:25px;}
.xchange b,.xchange a,.xchange i {display:block;}
.xchange b,.xchange i {margin:3px 0;height:8px;border-right:1px solid #cccccc;right:0px;}
.xchange b {border-top: 1px solid #CCCCCC;}
.xchange i {border-bottom: 1px solid #CCCCCC;}
.xchange a {text-decoration: none;color:#a3a3a3;cursor:pointer;height:16px;width:16px;line-height:16px;padding:2px 2px;border:1px solid #cccccc;position:relative;left:12px;text-align:center;}
.xchange a:hover {background-color:#ff6500;color:#ffffff;border:1px solid #ff6500;}


/* tab切换 */
.tab_change{ width:100%; background:#f8f8f8; border-bottom:1px solid #e1e1e1;}
.tab_change li{ float:left; padding:10px 0; font-size:14px; font-weight:bold; color:#636363;}
.currentState{ background:#fff; border-top:2px solid #f1634c; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-bottom:1px solid #fff; margin:-1px 0 -1px -1px;}
.currentState a{ color:#f1634c;}
.tab_change li em{ padding:0 15px; font-weight:bold; border-left:1px solid #e1e1e1; margin-left:-1px;}
.tab_change a:hover,.tab_change a:visited,.tab_change a:active{ text-decoration:none;}

.dashed_topbor{ border-top:1px dashed #e4e4e4;}

.process_step {text-align:left;border-bottom:2px solid #e1e1e1;color #e1e1e1;position:relative;}
.process_step li {color:#c8c8c8;margin:0 75px 0 0 ;display:block;float:left;position:relative;top:2px;}
.process_step .txt {padding:5px 0;font-size:16px;font-weight:bold;}
.process_step .current {color:#4bae10;border-bottom:2px solid #4bae10;}

.toggle_trigger {cursor:pointer;}

/* tips 验证样式 */
.message_ct {position:relative ;min-width:100px;background-color:#fafadb;border:1px solid #d49d0f;padding:5px;}
.message_ct .arrow {background:url(../images/messge_direct.png) no-repeat 0 0;width:9px;height:9px;position:absolute;}
.message_ct .message_text {color:#636363;}
.message_ct .arrow_west {top:50%;left:-7px;margin-top:-4px;}
.message_ct .arrow_north {top:-5px;left:50%;margin-left:-4px;background-position:0 -20px;height:5px;}
.message_ct .arrow_east {top:50%;right:-7px;margin-top:-4px;background-position:0 -10px;}
.message_ct .arrow_south {bottom:-5px;left:50%;background-position:0 -26px;height:5px;}

.cv-table u{
    margin-right:5px;
    color:#f00;
    font-family:sans-serif;
    font-weight:normal;
}
.cv-table a{
    color:#06c;
}
.cv-table a:hover {
    text-decoration:underline;
}
.cv-table label{
    margin-right:10px;
}
.cv-table th{
    font-weight:bold;
    text-align:right;
    padding:5px 5px 10px 0;
    vertical-align:top;
    line-height:22px;
}
.cv-table td{
    padding:5px 5px 10px 0;
}
.cv-table input[type=text]{
    vertical-align:middle;
}

table.cv-fixed input[type=text],table.cv-fixed textarea{
    width:100%;
}

.cv-table input[type=text]{
    font-size: 12px;
    border: 1px solid #ABADB3;
    height: 23px;
    width: 131px;
    padding: 0 2px;
    line-height: 23px \9;
}
.cv-table strong{
    font-weight:bold;
}

.popup-window{
    padding:20px !important;
}
.popup-window .popup-close{
    font-size:14px;
    color:#666;
    text-decoration:underline;
    margin-left:20px;
}

/** override style of swfuploader*/
.black_booking .progressBarInProgressWrapper{
	width: 55px;
    margin-top:7px;
    height:5px;
    margin-left:10px;
    float:left;
    border:1px solid #ff6500;
}
.black_booking .progressWrapper {
	width: 235px;
	overflow: hidden;
    float:left;
    line-height:23px;
    padding-right:10px;
    padding-bottom:5px;
}

.black_booking .progressContainer {
	border: solid 1px #aaa;
	background-color: #fff;
	overflow: hidden;
    color:#666;
}
/* Message */
.black_booking .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.black_booking .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.black_booking .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.black_booking .blue {
	border: solid 1px #aaa;
	background-color: #fff;
}

.progressName {
	width: 140px;
    padding-left:5px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
    float:left;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 5px;
	background-color: #ff6500;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
    display:none;
	width: 60px;
    overflow:hidden;
	text-align: left;
	white-space: nowrap;
    float:left;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 23px;
	width: 20px;
	background: url(../images/guanbi.png) 50% 50% no-repeat;
	float: right;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: middle;
}

.fl-upholder{
    margin-top:10px;
    overflow:hidden;
    padding-left:80px;
}
.fl-uploader{
    position:relative;
    color:#999;
}
.fl-uploader-error{
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color:#fff;
    font-weight:normal;
    width:400px;
    color:red;
}
.fl-uploader-wrap{
    display:none;
    position:absolute;
    left:-8px;
    top:22px;
    z-index:1;
}
.fl-error{
    cursor:pointer;
    padding:2px 5px;
    background:url(../images/errorfl.png) 50% 50% no-repeat;
    position:relative;
}
.fl-error:hover .fl-uploader-wrap{
    display:block;
}
.fl-uploader-errfiles{
    width:225px;
    color:#333;
    line-height:20px;
}
.black_booking .message_ct .arrow_north{
    left:20px;
}

.tbl_comm {width:100%}
.tbl_comm td,.tbl_comm th{padding:5px;}




/*--404--------------------------------*/
.error-page{
	padding:110px 215px;
	margin:4px 0 0 0;
	height:100%;
	overflow:hidden;	
}
.error-page_img{
	background:url(../images/404.png) no-repeat center center;
	float:left;
	width:200px;
	height:174px;
}
.error-page_con{
	float:left;
	margin-left:55px;
	padding-top:13px;
}
.error-page_con p{
	font-size:14px;
	color:#6d6d6d;
	padding-top:15px;
}
.error-page_con p.p_back{
	color:#cf6b00;
	background:url(../images/icon_back.png) no-repeat 0 4px;
	padding:0 0 0 10px;
	margin-top:15px
}
.error-page_con p.p_back a{
	color:#cf6b00;
	text-decoration:none;
}
.error-page_con p.p_back a:hover{
	color:#cf6b00;
	text-decoration:underline;
}	



.collapse-withtext{
    cursor:pointer;
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    border-top:1px solid #e2e2e2;
    background-color:#fff;
}
.collapse-withtext div{
    margin:3px auto;
    margin-top:-1px;
    width:85px;
    height:24px;
    background:#fff url(../images/store/coltext.png) 0 0 no-repeat;
}
.collapse-withtext.active div{
    background:#fff url(../images/store/coltext.png) 0 -24px no-repeat;
}

.ac-floatlayer {z-index: 999}

.round_trip .col .sail_type{ margin-right:5px; display:inline-block; float:none;}
.round_trip .col .sail_type input{ border:0; margin-right:2px; vertical-align:middle;}

.flowImg{ line-height:25px;}
.flowImg em{ display:inline-block; width:105px; height:25px; text-align:center; color:#fff; font-size:14px; background:url(../images/b2g/flow.png) no-repeat 0 -120px; margin-left:-13px;}
.k-ie7 .flowImg em{ margin-left:-16px;}
.k-ie7 .flowImg em:first-child,.flowImg em:first-child{ margin-left:0;}
.flowImg .curFlowImg{ background:url(../images/b2g/flow.png) no-repeat 0 0;}
.flowImg .curFlowImg i,.flowImg .curMidFlow i,.flowImg .curLastFlow i{ background:url(../images/b2g/smallImg.png) no-repeat 0 0; display:inline-block; width:16px; height:16px; vertical-align:middle; margin-right:5px;}
.flowImg .lastFlowGray{ background:url(../images/b2g/flow.png) no-repeat 0 -150px;}
.flowImg .curMidFlow{ background:url(../images/b2g/flow.png) no-repeat 0 -30px;}
.flowImg .firstFlow{ background:url(../images/b2g/flow.png) no-repeat 0 -90px;}
.flowImg .curLastFlow{ background:url(../images/b2g/flow.png) no-repeat 0 -60px;}



/*首页*/
.wrap1200{width:1200px;margin:0 auto;}
.index_mainPanel{background-color: #495D72;height:340px;position: relative;padding-top:10px;z-index: 1}
.index_bookingLeftMenu{background-color: #20232D;width:100px;float:left;padding-top: 24px}
.index_bookingLeftMenu li{height:44px;line-height: 44px;text-indent: 28px;color:#CBCBCB;cursor: pointer}
.index_bookingLeftMenu li.current{background:url("../images/b2g/z_sprite.png") 0 0 no-repeat;color: #ffffff}
.index_mainContainer{height:330px;margin:0 auto;background-color: #20232D;}
.index_bookingContainer{position: absolute;background-color: #20232D;}
.index_bookingContainer,.index_ad{color:#333333;min-height: 300px}
.index_ad{float: right}
.index_bookingContentContainer{width:480px;background-color: #f4f4f4;min-height:300px;padding:15px 20px;position: relative;float:left;display: none}

.specialPanel{margin: 8px auto 10px}
.index_commonPanel{border:1px solid #C9C9C9}
.index_commonPanel .title{font-size: 16px;color:#333333;height:39px;line-height: 39px;text-indent: 18px;position: relative;background-color: #EAEAEA;border-bottom: 1px solid #C9C9C9;font-weight: normal}
.specialTicket{width:715px;float:left}
.specialHotel{width:472px;margin-left: 9px;float:left}
.panelContentContainer{height: 237px;background-color: #ffffff;padding:14px 0 14px 15px;}
.specialTicket .panelContentContainer li{float:left;margin:0 8px 11px 0;font-size:14px;background-color: #F2F2F2;width:165px;height:70px;position: relative;cursor: pointer}
.specialTicket .panelContentContainer li.highlight{background-color: #D2F3F8}
.specialTicket .panelContentContainer li .voyage{color:#222120;position: absolute;top:8px;left:10px;}
.specialTicket .panelContentContainer li .voyageDate{color:#818181;position: absolute;top:40px;left:10px;}
.specialTicket .panelContentContainer li .voyagePrice{color:#222120;font-family: arial;position: absolute;top:38px;right:20px}
.specialTicket .panelContentContainer li .voyagePrice span{color:#FF0000;font-size: 20px}
.specialHotel .panelContentContainer li{color:#282828;clear:both;cursor: pointer}
.specialHotelBasicInfo{height: 28px;line-height: 28px}
.specialHotelDetailInfo .hotelDesc div{margin-bottom: 8px}
.specialHotelDetailInfo .hotelDesc .hotelScore{color:#FF0000;}
.specialHotelBasicInfo .hotelName{float:left}
.hotelPriceContainer{float: right;font-family: arial;margin-right: 20px}
.hotelPrice{color:#FF0000;font-size: 20px}
.specialHotelDetailInfo{border-top: 1px solid #E9E9E9;padding:12px 0;margin-top: 5px;display: none}
.specialHotelDetailInfo .hotelImage{float:left}
.specialHotelDetailInfo .hotelDesc{margin-left: 120px}

.specialPanelCityNav_domesticTicket,.specialPanelCityNav_hotel{position: absolute;top:7px;right: 20px}
.specialPanelCityNav_domesticTicket li,.specialPanelCityNav_hotel li{height: 30px;line-height: 30px;color: #656565;font-size: 14px;float: left;padding:0 10px;cursor: pointer;text-align: center;text-indent: 0;border-bottom: 3px solid transparent}
.specialPanelCityNav_domesticTicket li.current,.specialPanelCityNav_hotel li.current{color:#171616;border-bottom: 3px solid #F94F46}

.ticketBookingContentContainer{display:none}
.index_bookingContentContainer .ul_itemNav{position: absolute;top:21px;left:20px}
.index_bookingContentContainer .ul_itemNav li{height: 30px;line-height: 16px;float:left;margin-right:10px;font-size: 16px;color: #333333;cursor: pointer}
.index_bookingContentContainer .ul_itemNav li.current{background:url("../images/b2g/ul_itemNav_bg.gif") center bottom no-repeat;color:#C92F27}
.searchContainer{border-top: 1px solid #DCDCDC;margin-top: 30px;padding-top: 15px;+margin-top:45px}
.advancedSearchContainer{clear: both}

/*设置差旅人弹窗*/
.settour{
	font-family:"微软雅黑"; 
	font-size:12px;
	line-height:28px;
	color:#666;
}
.settour h4{
	font-size:14px;
	color:#333;
	font-weight:bold
}
.settour h4 em{
	font-size:18px;
	font-family:"Arial";
	color:#f94f46;
	font-weight:bold;
	margin-right:2px;
}
.settour h5{
	font-size:14px;
	color:#333;
	font-weight:bold;
	padding:8px 0 0 16px;
}
.addtour-info{
	clear:both;
	margin:0 auto;
	line-height:33px;
}
.addtour-info td{
	padding:0 3px;
	font-size:14px;
	color:#666;
}
.addtour-info td input {
	height:25px;
}
.addtour-info td select {
	height:25px;
	padding:2px;
}
.addtour-info td em{
	color:red;
}
/*touruser*/
.touruser-button{
	color:#fff;
	background:#788a98;
	height:25px;
	line-height:25px;
	display:inline;
	padding:5px;
	margin:0 5px 3px 0
}
.touruser-icon{
	background:url(../images/b2g/icon_close.png) no-repeat scroll 7px 3px !important;cursor: pointer;
}
.touruser-icon:hover{
	background:url(../images/b2g/icon_close_on.png) no-repeat scroll 7px 3px !important;
}
.tourobj{
	border-right:1px solid #b9b9b9;
	border-bottom:1px solid #b9b9b9;
	border-left:1px solid #b9b9b9;
	padding:5px;
	width:655px
}
#destinationContainer{padding:10px;width:636px;position: absolute;border:1px solid #BBBBBB;border-top: 0;background-color: #ffffff;display: none}
.tourobj-button{
	color:#666;
	background:#e9e8e8;
	height:25px;
	line-height:25px;
	padding:5px;
    float:left;
	margin:0 5px 5px 0;
    white-space: nowrap;
    cursor: pointer;
}
.tourobj-button:hover,.tourobj-button.current{
	background:#fee1ce;
	color:#3e3e3e;
}
.addtemptour-button{
	background:#ffffff url(../images/b2g/icon_addtemp.png) no-repeat 8px center;
	border:1px solid #ccc;
	width:40px;
	height:23px;
	line-height:23px;
	padding-left:28px;
	display:inline-block;
	margin-right:5px;
	text-align:left;
    cursor: pointer;
}
.addtemptour-button:hover{
    border-color:#93DEA3;
    background-color: #F5FFF7;
}
.addtemptour-button.nb{border:0}
#btn_addProvisionalCustomer{position: absolute;top:51px;right:58px;letter-spacing: normal;display: none;z-index: 10004}
.fold-button a{
	color:#0066cc;
	text-decoration:underline;
}


.buttonbox{
	clear:both;
	text-align:center;
	padding:20px 0 10px 0;
}


.smallLoading{ text-align:center; font-size:14px; color:#1d5ceb; padding:10px 0;}
.smallLoading em{ background:url(../images/b2g/small_loading.gif) no-repeat; display:inline-block; width:22px; height:22px; vertical-align:middle; margin-right:10px;}

