/* insurance */
.insuranceType { 
   height:auto; 
   padding:0; 
   border:1px solid #e1e1e1; 
   background:#fcfcfc;
   margin:10px 0; 
   color:#404040;
}
.insuranceType .logo-part {
	float:left;
	display:inline-block;
	background:#f1f1f1;
	width:130px;
	height:70px;
	border-right:1px solid #e1e1e1;
	padding:30px 10px 0 10px;
	text-align:center;
	margin-right:30px
}
.insuranceType .tkrs {
	background:url(../images/insurance_logo.png) no-repeat 0 0;
	width:126px;
	height:37px; 
	display:inline-block;
	vertical-align:middle;
}
.insuranceType .zgtp {
	background:url(../images/insurance_logo.png) no-repeat 0 -43px;
	width:125px;
	height:36px; 
	display:inline-block;
	vertical-align:middle;
}
.insuranceType .tpybx {
	background:url(../images/insurance_logo.png) no-repeat 0 -87px;
	width:125px;
	height:35px; 
	display:inline-block;
	vertical-align:middle;
}
.insuranceType .content-part {
	margin:24px 0 5px 0;
}
.content-part td{
	padding-bottom:18px
}
.content-part td strong{
	font-size:16px;
	color:#ff6500;
	font-weight:bold;
}
.adaptiveButton .center_insure{padding:0 10px;}

.effectiveDateOfInsuranceContainer,.applicantInfo{padding:10px}
.applicantInfo input[type=text]{height:21px;width:144px}