@charset "utf-8";
/* CSS Document */

.roleManagement{ background:#f4f4f4; padding:10px; font-size:14px; border:1px solid #d3d3d3;}
.btn-s1{ line-height:30px;}
.groupUse{ border:1px solid #d3d3d3; border-top:0; background:#fff; color:#333333;}
.groupList{ margin:15px; color:#333333;}
.groupList table { width:100%; border:1px solid #d7d7d7; font-size:14px;}
.groupList td{ line-height: 40px; border-bottom: 1px solid #f1f1f1;}
.groupList tbody tr:hover{ background:#f5f5f5;}
.groupList .text2{ margin-right:15px;}
.text2{color: #3765bd;}
.groupTbList thead{ line-height:40px; background:#f0efef;}
.groupQuery{ margin:15px; margin-top:0; font-size:14px; padding-top:15px;}
.groupTbList .grayfont{ color:#666666;}



/**/
.block-header {
    background-color:#f4f4f4;
    height:45px;
    padding:5px 15px 0 15px;
    border-bottom:1px solid #b2b2b2;
}
.block2{
    border:1px solid #d3d3d3;
    background-color:#fff;
    margin-bottom:30px;
}
.sel-header {
	background-color:#f4f4f4;
    height:45px;
    border-bottom:1px solid #b2b2b2;
	padding:10px 10px 0 10px;
}
.search-header {
    height:45px;
    padding:5px 15px 0 15px;
}
.search-area {
	float:left;
	padding:5px 0 0 0;
}
.search-area label {
	font-size:14px;
	color:#333;
}
.search-area input {
	vertical-align:middle;	
}
.links{
    float:right;
    line-height:17px;
    font-size:14px;
    margin-top:10px;
}
.links a{
    margin-right:25px;
}
.icon-add{
	background:url(../images/b2g/sprite.png) no-repeat 0 -150px;
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
}
.btn-jsgl{
    display:inline-block;
    width:120px;
    text-align:center;
    line-height:32px;
    vertical-align:middle;
    font-size:16px;
}
.block-body{
    margin:10px;
    position:relative;
    color:#333;
    margin-bottom:20px;
}
.col-tree .wrap{
    padding:10px;
    font-size:14px;
}
.col-content{
    margin-left:250px;
    min-height:500px;
}
.col-tree{
    position:absolute;
    height:100%;
    background-color:#f4f4f4;
    border:1px solid #e4e4e4;
	left:0;
}
.col-tree.fixedBar{
    height:auto;
}
.block-result table{
    width:920px;
    border:1px solid #d7d7d7;
    font-size:14px;
}
.block-result th{
    background-color:#f0eeef;
    line-height:40px;
    border-bottom:1px solid #d7d7d7;
}
.block-result td{
    line-height:40px;
    border-bottom:1px solid #f1f1f1;
}
.block-result tr:nth-last-child(1) td{
    border-bottom:0;
}
.block-result tr.del td{
    background:url(../images/b2g/line.png) 0 22px repeat-x;
    background-color:#dcdadb !important;
}
.block-result tr.del td:nth-child(1){
    background-image:none;
}
.block-result tr.del td:nth-last-child(1){
    background-image:none;
}
.block-result tr:hover td{
    background-color:#f5f5f5;
}
.block-result input[type=checkbox]{
    margin-left:10px;
}
.block-result .hyper-link{
    margin-right:5px;
}