@charset "utf-8";
/* CSS Document */

.roleManagement{ background:#f4f4f4; padding:10px; font-size:14px; border:1px solid #d3d3d3;}
.btn-s1{ line-height:30px;}
.groupUse{ border:1px solid #d3d3d3; border-top:0; background:#fff; color:#333333;}
.groupList{ margin:15px; color:#333333;}
.groupList table { width:100%; border:1px solid #d7d7d7; font-size:14px;}
.groupList td{ line-height: 40px; border-bottom: 1px solid #f1f1f1;}
.groupList tbody tr:hover{ background:#f5f5f5;}
.groupList .text2{ margin-right:15px;}
.text2{color: #3765bd;}
.groupTbList thead{ line-height:40px; background:#f0efef;}
.groupQuery{ margin:15px; margin-top:0; font-size:14px; padding-top:15px;}
.groupTbList .grayfont{ color:#666666;}
























