.row strong{
    font-weight:bold;
}
.row{
    margin-bottom:10px;
}
.btns{
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: none;
    background-repeat: no-repeat;
}
.arrow-down{
    position:absolute;
    top: 4px;
    right: 5px;
    width: 16px;
    height: 16px;
    opacity:.8;
    background:url(Uniform/sprite.png) no-repeat -160px -208px; 
}
.hyper-link:hover .hyper-text{
    display:block;
}
.hyper-link:hover .arrow-down{
    z-index:4;
}
.hyper-link:hover u{
    position:relative;
    z-index:4;
    color:#6d6d6d;
}
.hyper-link u{
    color:#6d6d6d;
}
.hyper-link:hover{
    border: 1px solid #ffb5b2;
    box-shadow: 0px 0px 3px #ffb5b2 inset;
    background-color:#fff;
}
.hyper-link{
    border:1px solid #c7c7c7;
    padding:5px 10px;
    line-height:14px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding-right:28px;
    position:relative; 
}
.btn-active{
    border:1px solid #ffa09c;
    background-color:#fff;
    color:#f74f44;
    padding:3px 19px;
    line-height:14px;
    font-size:14px;
}
.hyper-text a{
    display:block;
    padding:7px 5px 7px 9px;
    border-bottom:1px solid #dee2e3;
}
.hyper-text a:hover{
    text-decoration:none;
    background-color:#F2F2F2;
    color:#000;
}
.hyper-text{
    color:#6d6d6d;
    top:25px;
    left:-1px;
    position:absolute;
    display:none;
    border:1px solid #ccc;
    border-top:0;
    background-color:#fff;
    white-space:nowrap;
    z-index:3;
    width:100%;
}

.block1{
    background-color:#d8f5f9;
    border:1px solid #6fcdd9;
    padding:15px;
    color:#333;
    font-size:14px;
    margin-bottom:10px;
}
.btn-c1{
    background-color:#fa4f47;
    color:#fff !important;
    font-weight:bold;
    font-size:14px;
}
.btn-c2{
    background-color:#77ddeb;
    color:#fff !important;
    font-weight:bold;
    font-size:14px;
}
.btn-c3{
    background-color:#fb7e2e;
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    padding:5px 20px;
}
.btn-c4{
    background-color:#d2f4fd;
    color:#333 !important;
    font-size:14px;
    padding:5px 20px;
    border:1px solid #94e6f1;
}
.btn-c5{
    background-color:#b2b2bc;
    color:#fff !important;
    font-size:14px;
    font-weight:bold;
}
.btn-s1{
    display:inline-block;
    width:120px;
    text-align:center;
    line-height:28px;
    vertical-align:middle;
}
.btn-s2{
    display:inline-block;
    width:120px;
    text-align:center;
    line-height:40px;
    vertical-align:middle;
    font-size:16px;
}
.block2{
    border:1px solid #d3d3d3;
    background-color:#fff;
    margin-bottom:30px;
}
.block-header{
    background-color:#f4f4f4;
    height:45px;
    padding:5px 15px 0 15px;
    border-bottom:1px solid #b2b2b2;
}
.block-body{
    margin:10px;
    position:relative;
    color:#333;
    margin-bottom:20px;
}
.links{
    float:right;
    line-height:17px;
    font-size:14px;
    margin-top:10px;
}
.links a{
    margin-right:25px;
}
.tab-header{
    float:left;
}
.tab-header .active{
    background-color:#fff;
    color:#000;
    border:1px solid #b2b2b2;
    border-bottom:0;
    padding-bottom:1px;
    left:-1px;
}
.tab-header a{
    background-color:#ececec;
    border:1px solid #d3d3d3;
    font-size:16px;
    color:#666;
    float:left;
    height:40px;
    line-height:40px;
    padding:0 20px;
    position:relative;
    bottom:-4px;
}
.col{
    float:left;
}
.col-tree .wrap{
    padding:10px;
    font-size:14px;
}
.col-content{
    margin-left:250px;
    min-height:500px;
}
.col-tree{
    position:absolute;
    height:100%;
    background-color:#f4f4f4;
    border:1px solid #e4e4e4;
}
.block-query{
    margin:15px 0 10px 0;
}
.block-query th{
    text-align:right;
    font-size:14px;
}
.block-query input[type=text]{
    width:110px;
    box-sizing:border-box;
}
.block-query td,.block-query th{
    padding-bottom:5px;
}
.text1{
    color:red;
}
.text2{
    color:#3765bd;
}
.text3{
    color:#f1634c;
}
.table-action{
    height:35px;
}
.block-result table{
    width:920px;
    border:1px solid #d7d7d7;
    font-size:14px;
}
.block-result th{
    background-color:#f0eeef;
    line-height:40px;
    border-bottom:1px solid #d7d7d7;
}
.block-result td{
    line-height:40px;
    border-bottom:1px solid #f1f1f1;
}
.block-result tr:nth-last-child(1) td{
    border-bottom:0;
}
.block-result tr.del td{
    background:url(../images/b2g/line.png) 0 22px repeat-x;
    background-color:#dcdadb !important;
}
.block-result tr.del td:nth-child(1){
    background-image:none;
}
.block-result tr.del td:nth-last-child(1){
    background-image:none;
}
.block-result tr:hover td{
    background-color:#f5f5f5;
}
.block-result input[type=checkbox]{
    margin-left:10px;
}
.block-result .hyper-link{
    margin-right:5px;
}
.department-name{
    font-style:italic;
    color:#f90;
}
.department-belongs{
    color:#777;
    margin-right:5px;
}
.icon{
    display:inline-block;
    zoom:1;
}
.icon1{
    width:17px;
    height:17px;
    vertical-align:middle;
    margin-bottom:3px;
    background:url(../images/b2g/ic23.png) no-repeat;
}
.icon2{
    width:17px;
    height:17px;
    vertical-align:middle;
    margin-bottom:3px;
    background:url(../images/b2g/ic23.png) no-repeat -18px 0;
}
.icon3{
    vertical-align:middle;
    background:url(../images/b2g/sprite.png) no-repeat 0 -229px;
    width:41px;
    height:41px;
    margin-right:5px;
    margin-left:-30px;
}
.treeview-white{
    background-color:#fff;
    overflow-y:auto;
    height:230px;
    margin-left:40px;
    margin-right:40px;
    border:1px solid #ccc;
    padding:10px;
    font-size:14px;
}
.treeview-header{
    font-size:14px;
    color:#333;
    margin:10px 40px;
}
.row-btns{
    text-align:center;
}
.row-btns .btns{
    margin-right:5px;
}
.address-name {
    margin:0 10px;
}
.address-phone{
    margin-right:10px;
    color:#fe0002;
}
.row-icontext{
    text-align:center;
    font-size:16px;
    margin-top:30px;
    margin-bottom:40px;
}
.row-icontext p{
    text-align:left;
    display:inline-block;
    line-height:28px;
}
.block-result .text2{
    margin-right:15px;
}
.cv-table{
    font-size:14px;
}
.cv-table input[type="text"]{
    height:28px;
    line-height:28px \9;
    border: 1px solid #c7c7c7;
}
.block-header.fixedBar{
    width:1168px;
    z-index:1;
}
.col-tree.fixedBar{
    margin-top:60px;
    height:auto;
}
.block-query.fixedBar{
    padding:10px 0;
    width:930px;
    background-color:#fff;
    margin-top:51px;
}
.table-header.fixedBar{
    margin-top:108px;
}
.cv-table .k-autocomplete  input{
    border:0;
    padding:0;
}
