@charset "utf-8";
/* CSS Document */

ul,li{ list-style-type:none;}
label input[type=radio],label input[type=checkbox]{ border:0; vertical-align:middle; margin-right:3px;}

.time{ border:1px solid #e1e1e1; margin:0px auto; border-bottom:0; color:#646464;}
.date{ width:100%; height:auto; border-bottom:2px solid #f1634c; margin:0;}
.date li{ float:left; border-right:1px solid #d1d1d1; line-height:20px; background:#f8f8f8;}
.date li a{ width:129px; padding:10px 0px; display:inline-block; text-align:center;}
.date li a:hover{ text-decoration:none;}
.date li em{ color:#ff6500; font-weight:bold; font-size:13px;}
.date li i{ width:11px; height:19px; display:inline-block; background:url(../images/store/arrows.png) no-repeat 0 0; margin:10px 0 0;}
.date li span{ width:11px; height:19px; display:inline-block; background:url(../images/store/arrows.png) no-repeat -16px center;}
.date .last_li:hover{ background:#fdfdfd;}
.date li b{ font-weight:500; margin-left:3px;}
.date .current{ border-top:2px solid #f1634c; border-left:1px solid #f1634c; border-right:1px solid #f1634c; border-bottom:2px solid #fff; margin:-1px 0 -3px -1px; background:#fff;}
.company{ line-height:20px; padding:10px;}
.company input{ border:0; vertical-align:middle; margin-right:5px;}
.company label{ margin-right:10px;}
.company b{ width:75px; display:inline-block;}
.company span{ margin-left:20px; font-weight:bold;}
.light_pink{ background:#f8f8f8;}
.light_pink td {border-bottom:1px dashed #e4e4e4;}
.first_up {background-color:#ffffff;}
.first_up td {border-bottom:1px solid #e4e4e4;}
.bor_top{ border-top:1px solid #e4e4e4;}




