@charset "utf-8";
/* CSS Document */

/* 我的资料 */
.editboxTitle .orangeBtn{ font-size:16px; margin-left:10px; vertical-align:middle; padding:4px 25px;}
.k-ie7 .editboxTitle .orangeBtn{ padding:2px 15px;}
.editboxTitle{
	border-bottom:1px solid #d2d2d2;
	background:#f4f4f4;
	height:45px;
	padding:0px 0 0px 30px;
}
.editboxTitle .editTith3{
	font-size:16px;
	color:#575757;
	color:#333;
	line-height:45px;
}
.infoBox{ margin-bottom:8px;}
.infoCon{ 
    background:#fff; 
	color:#333; 
	font-size:14px; 
	border:1px solid #d2d2d2;
}
.infoCon table{
	margin:20px;
}
.infoCon select{ 
    height:30px; 
	color:#333; 
	border:1px solid #c7c7c7;
    vertical-align:middle;
}
.infoCon input[type=text]{ 
    height:30px; 
	line-height:30px; 
	padding:0 7px; 
	border:1px solid #c7c7c7;
	width:170px;
}
.infoCon td{
	 padding-bottom:8px;
}
.infoCon td .infoMore{
	background:url(../images/b2g/sprite.png) no-repeat 0 -190px; 
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}
.infoCon td .infoMore:hover{
	background:url(../images/b2g/sprite.png) no-repeat -36px -190px; 
}
.infoCon td.tdTit{
	 font-weight:bold;
	 text-align:right;
}
.infoCon td.tdTit em{
	 color:#ff0000;
}
.gray-dashed-bottom{ border-bottom:1px dashed #e1e1e1;}
.editInfo-unfold{
	cursor:pointer;	
}
.editInfo-unfold i{
	background:url(../images/b2g/sprite.png) no-repeat -13px -171px;
	width:11px;
	height:11px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;	
}
.editInfo-fold i{
	background:url(../images/b2g/sprite.png) no-repeat 0 -171px;
	width:11px;
	height:11px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;	
}
.editInfo-unfold em{
	font-size:14px;
	color:#333;
}
.editInfo-add{
	cursor:pointer;	
	margin-left:25px;
	display:inline-block;
	padding:3px 7px;
}
.editInfo-add:hover{
	background:#e9fced;
}
.editInfo-add em{
	display:none
}
.editInfo-add:hover em{
	display:inline;
}
.editInfo-add i{
	background:url(../images/b2g/sprite.png) no-repeat 0 -150px;
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.editInfo-add:hover i{
	background:#e9fced url(../images/b2g/sprite.png) no-repeat 0 -150px;
	cursor:pointer;
	height:16px;
	width:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.editInfo-del{
	cursor:pointer;
	margin-left:25px;
	padding:3px 7px;
}
.editInfo-del em {
	display:none;
}
.editInfo-del:hover em{
	display:inline;
}
.editInfo-del:hover{
	background:#fef2f2;	
}
.editInfo-del i{
	background:url(../images/b2g/sprite.png) no-repeat -54px -150px;
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.editInfo-del:hover i{
	background:#fef2f2 url(../images/b2g/sprite.png) no-repeat -72px -150px;
	cursor:pointer;
	height:16px;
	width:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.otherInfo{
	margin:10px 0 20px 40px

}
.otherInfo td{
	border-bottom:1px dashed #ccc;
	padding:15px 0 
}
.otherInfo td.tit{
	font-weight:bold;
	text-align:right;
}
.otherInfo td.noBorder{
	border-bottom:none
}
.otherInfo td.last{
	border-bottom:none;
	padding-bottom:0;
}
.other-nonetable td{
	padding:0;
	border-bottom:none;
	margin:0
}
.infoBox .otherInfo td input[type="text"]{ width:230px;}
.editbuttonbox{
	clear:both;
	text-align:center;
	padding:25px 0 40px 0
}
.btnfontStyle{
	font-family:"Microsoft YaHei";
	font-size:16px;
	font-weight:bold;
	height:38px;
	line-height:38px;
	text-align:center;
	padding:0 40px;
}
.groupSet{ background:#f0fdff; border:1px solid #59ddef; color:#666666; display:inline-block; padding:6px 10px; vertical-align:middle; min-width:70px; position:relative; margin:0 3px 8px 0;}
.groupSet:hover{ background:#dcf7fb; color:#333333;}
.groupSet i{ position:absolute; right:7%; top:40%; background:url(../images/b2g/smallImg.png) no-repeat -191px -21px; width:7px; height:7px; vertical-align:middle; cursor:pointer;}
.groupCont{ float:left; width:700px; margin-right:30px; word-break:break-all; word-wrap:break-word;}
.sectModel{ border-bottom:1px solid #e1e1e1;font-size:13px;}
.groupList li{ float:left;}
.groupList .firstGroupList{ max-width:760px;}
.groupList .secondGroupList{ margin:4px 0 0 5px; display:block;}
.k-ie7 .groupList .secondGroupList{ margin-top:0; padding:7px 0;}

/* 消息中心 */
.inforListTab{ background:#fff; border:1px solid #cccccc; width:100%; font-size:14px;}
.inforListTab thead th,.inforListTab tbody td{ padding:12px 15px; text-align:center;}
.inforListTab thead th{ background:#f4f4f4; border-bottom:1px solid #cccccc; color:#333333; font-weight:bold;}
.inforListTab tbody td{ padding:12px 15px; text-align:center; color:#666666; border-bottom:1px solid #f1f1f1; border-right:1px dashed #e1e1e1; line-height:20px;}
.inforListTab tbody tr:hover{ background:#f9f9f9;}
.inforListTab .lightBlueFont{ color:#3399ff; font-size:16px;}
.inforListTab .lightGrayFont{ color:#999999;}
.inforListTab .lightOrangeFont{ color:#ff6633; font-size:16px;}
.inforListTab .deepGrayFont{ color:#333333;}
.smallLoading{ border:1px solid #cccccc; background:#fff;}
.inforListTab .hyper-link{
	border-right:1px solid #f4f4f4;
	border-left:0;
	border-top:0;
	border-bottom:0;
	padding:15px 0;
	display:block;
	height:100%;
}
.inforListTab .hyper-link:hover{
    border-right:1px solid #cccccc;
	border-left:0;
	border-top:0;
	border-bottom:0;
	background:#f4f4f4;
	box-shadow:none;
}
.inforListTab .hyper-text{
    min-width:100%;
    width:auto;
    border-top:1px solid #ccc;
	top:44px;
}
.inforListTab .hyper-link a{
    padding:10px 9px;
	font-size:14px;
	font-family:宋体;
	font-weight:500;
}
.inforListTab .arrow-down{
	top:30%;
	right:20%;
}
























