/* hotel style */



.allImg{ width:980px; height:auto; border:2px solid #666666; position:relative; background:#293038; z-index:1;}
.bigImg{ float:left; padding:20px 12px 35px; background:#293038;}

.leftArrow,.rightArrow{ height:89%;width:50px; cursor: pointer; position:absolute; top:4%;}
.leftArrow {left: 2.5%; z-index:30;}
.rightArrow {right: 36.5%; z-index:20;}



.leftArrow div ,.rightArrow div { width:22px; height:38px; display:block; background:url(../images/b2g/smallImg.png) no-repeat -26px -61px; position:absolute;}
.leftArrow div { left:2.5%; top:45%;}
.rightArrow div {background-position: 0 -61px; right:2%; top:45%;}
.leftArrow:hover ,.rightArrow:hover{ background:#4d4344; filter:alpha(opacity=40); opacity:0.4;}

.smallImg{ float:right; width:300px; padding:0 0 10px 15px; background:#fff; margin:20px 10px 0 0;}
.smallImg h3{ margin:18px 0 10px 0;}
.pics img{ width:600px; height:450px; border:1px solid #fff;}
.pics{ margin:0 10px; float:left;}
#slideshow {}
#nav { width:300px; float:right; height:285px; overflow-y:scroll;position: absolute; top:125px; right:10px; margin-top:20px; background:#fff; padding:5px 0 0 15px;}
#nav li { float: left; margin:0 10px 10px 0; display:inline-flex;width:82px; height:62px;}
#nav a{ width:82px; height:62px; display:inline-block;}
#nav li.activeSlide{ display:inline-flex; width:82px; height:62px;}
#nav li.activeSlide a img{ width:80px; height:60px; border:2px solid #ee665f;}
#nav a:focus { outline: none;}
#nav img { width: 80px; height:60px;}
#scrollText{ position:absolute; bottom:2%; left:32%; color:#fff;}
.rankContent{ margin:10px 0; color:#666666; font-size:12px;}
.rankContent em{ display:inline-block; width:68px; height:11px; vertical-align:middle; margin-right:10px; background:url(../images/b2g/smallImg.png) no-repeat -18px -49px;}
.minutelyAddress{ font-size:12px;}
.minutelyAddress em{ color:#333333;}
.minutelyAddress i{ color:#666666;}
.imgTitle{ width:300px; color:#333333; position:absolute; right:10px; top:22.5%; font-size:12px; background:#fff; padding:7px 0 8px 15px; border-top:1px solid #c9c9c9;}
.riseBook{ width:300px; background:#eaeaea; border-top:1px solid #c9c9c9; padding:10px 0 10px 15px; position:absolute; bottom:10px; right:10px; font-size:12px; vertical-align:middle;}
.riseBook em{ color:#fa3b3b; font-weight:bold; margin-left:20px;}
.riseBook b{ font-size:24px;  color:#fa3b3b;}
.riseBook i{ font-size:16px; font-weight:bold; color:#555353;}
.riseBook .lightRedBtn{ padding:5px 10px; margin-left:25px; font-size:18px;}
.riseBook .lightRedBtn strong{ display:inline-block; width:25px; height:25px; background:url(../images/b2g/smallImg.png) no-repeat -53px -61px; vertical-align:middle; margin-left:5px;}