@charset "utf-8";
/* CSS Document */


.hoverCont{ z-index:2; background:#eaeaea;}

.orderInfoTitle{ border:1px solid #d2d2d2; width:100%; background:#f4f4f4;}
.orderInfoTitle th{ padding:12px 10px; text-align:center; font-size:15px; color:#333333; font-weight:bold;}


.row{
    margin-bottom:10px;
}
.row-icontext{
    text-align:center;
    font-size:16px;
    margin-top:8px;
    margin-bottom:25px;
}
.icon{
    display:inline-block;
    zoom:1;
}

.row-btns{
    text-align:center;
}
.row-btns .btns{
    margin-right:5px;
}
.block-order {
	margin:5px auto 0 auto;
}
.block-orderBar {
    color:#ccc;
    font-size:14px;
}
.btns{
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: none;
    background-repeat: no-repeat;
}
.btn-s2{
    display:inline-block;
    width:120px;
    text-align:center;
    line-height:40px;
    vertical-align:middle;
    font-size:16px;
}
.btn-c1{
    background-color:#f73b31;
    color:#fff !important;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
}
.btn-c1:hover{
    text-decoration:none;
    background-color:#fb5b53;
}
.btn-c2{
    background-color:#77ddeb;
    color:#fff !important;
    font-weight:bold;
    font-size:14px;
}
.btn-c2:hover{
    text-decoration:none;
    background-color:#8ce8f4;
}
.btn-c3{
    background-color:#fb7e2e;
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    padding:5px 20px;
}
.btn-c5{
    background-color:#b2b2bc;
    color:#fff !important;
    font-size:14px;
    font-weight:bold;
}
.btn-c5:hover{
	text-decoration:none;
	background:#bcbcbc;
}



.uc-icon{
    background:url(../images/b2g/smallImg.png) no-repeat;
    display:inline-block;
}
.uc-journey-flight-icon{
    margin-right: 10px;
    width:22px;
    height:22px;
    background-position:-135px -38px;
}
.uc-journey-hotel-icon{
    margin-right: 10px;
    width:22px;
    height:22px;
    background-position:-176px -62px;
}
.uc-journey{
    position:relative;
    padding-bottom:10px;
}
.uc-journey td{
    vertical-align:top;
}
.uc-journey-header{
    font-size:16px;
    color:#fff;
    margin-bottom:10px;
}
.uc-journey-item-header{
    margin-left: 20px;
    font-size: 14px;
}
.uc-journey .uc-slide{
    
}

.uc-journey-item:hover{
    background-color:#f9f9f9;
}
.uc-journey-item{
    background-color:#fff;
    margin-bottom:10px;
    border:1px solid #d2d2d2;
    color:#666;
}
.uc-flight-highlight{
    margin-top: 15px;
    position: relative;
    display:block;
    margin-bottom: 13px;
}
.uc-flight-highlight s{
	margin-right:10px;
}
.uc-flight-text{
    display: block;
    margin-bottom: 10px;
}
.uc-flight-text s{
    margin-right:30px;
}
.uc-flight-departure,.uc-flight-arrival{
    max-width: 60px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    display:inline-block;
    vertical-align:middle;
}
.uc-flight-stop{
    height: 65px;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    position:relative;
    padding:0 10px;
}
.uc-flight-stop-bar{
    position:absolute;
    top:33px;
    display:block;
    height:1px;
    background-color: #333;
    width:100%;
    left:0;
}
.uc-flight-stop s{
    display:block;
    margin:4px 0;
}
.uc-journey-item:hover .uc-flight-stop-box{
    background-color:#f9f9f9;
}
.uc-flight-stop-box{
    display:inline !important;
    position:relative;
    padding:0 3px;
    background-color: #fff;
}
.uc-flight-stop-box i{
    padding:2px 5px;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
}
.uc-journey-state{
    display:block;
}
.uc-journey-state-box{
    font-weight: bold;
    display:block;
    text-align:center;
    font-size: 16px;
    color: #333;
}
.uc-journey-state-text{
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    background-color: #f6f6f6;
    display:block;
    margin: 8px 20px;
    position:relative;
    padding: 4px 0 4px 26px;
    font-size:14px;
}
.uc-journey-state-submited{
    /* color:#03b1df; */
}
.uc-journey-state-refuse{
    /* color:#f84036; */
}
.uc-journey-state-pass{
    color:#01d290;
}
.uc-hotel-name{
    margin-bottom: 7px;
    line-height: 14px;
    font-size:14px;
    display:block;
    margin-left:25px;
}
.uc-hotel-name s{
	color: #333;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.uc-hotel-address{
    color:#505c6c;
    display:block;
    margin-left:25px;
}
.uc-hotel-room{
    font-size:14px;
    display:block;
    color: #333;
    margin-top:8px;
    margin-left:25px;
}
.uc-hotel-date{
    margin-bottom: 7px;
    display:block;
    color: #666;
}

.uc-journey-item td{
    padding: 15px 0;
    border-right:1px dotted #c8c8c8;
}
.uc-journey-item td:nth-last-child(1){
	border:0;
}
.uc-journey-item:nth-child(1){
	border-top:0;
}

.uc-flight-stop-insurance{
    margin-left: 38px;
    color: #188e81;
    padding:2px 5px;
    border:1px dashed #4ed2c5;
    background-color: #a6f5ef;
    border-radius:5px;
}
.uc-arrow-red,.uc-arrow-green{
    width:16px;
    height:7px;
    vertical-align:middle;
    position: absolute;
    left: -20px;
    top: 30px;
}
.uc-arrow-red{
    background-image:url(../images/b2g/workbench.png);
    background-position:-183px -40px;
}
.uc-arrow-green{
    background-image:url(../images/b2g/workbench.png);
    background-position:-183px -56px;
}
.uc-journey{
    height:330px;
}

.uc-quick-actions{
    position:absolute;
    right:6px;
    top:20px;
}
.uc-quick-actions a{
    display:block;
    margin-bottom:10px;
    margin-right:0;
}
.uc-todolist:empty{
    height:180px;
    background:url(../images/b2g/workbench-empty.png) 50% 20px no-repeat;
}
.uc-journey .uc-slides:empty{
    height:250px;
    background:url(../images/b2g/workbench-empty.png) 50% -230px no-repeat;
}

.uc-journey-flight-double td[rowspan]{
	vertical-align:middle;
	border-bottom:0;
}
.uc-col1{
	width:270px;
}
.uc-flight-stop-date{
	font-family:arial;
}
.uc-flight-stop-place{
	color:#999;
}
.uc-submited-date{
	display:block;
	text-align:center;
	font-family:arial;
	font-size:14px;
}
.uc-bang {
	width: 16px;
	height: 16px;
	background:url(../images/b2g/bang2.png) no-repeat;
	position: absolute;
	left: 5px;
	top: 6px;
}
.uc-col1 div{
	position: relative;
	margin-left: 27px;
	margin-bottom: 10px;
}
.uc-col2{
	padding-left: 30px;
}
.uc-col2 .icon{
	position:absolute;
	left: -40px;
	top: 5px;
}
.uc-ticket{
	cursor: default;
	position: relative;
	line-height: 20px;
	color: #25b1b1;
	border-radius: 3px;
	border: 1px solid #47caca;
	text-indent: 14px;
	display: block;
	width:88px;
	margin:0 auto;
	background-color: #f0ffff;
	margin-top: 8px;
}
.uc-ticket .icon{
	vertical-align: middle;
	height: 6px;
	width: 11px;
	background:url(../images/b2g/arrow2.png) no-repeat;
}
.uc-ticket:hover .icon{
	background-position:0 -6px;
}
.uc-ticket:hover .uc-ticket-detail{
	display:block;
}
.uc-ticket-detail{
	display: none;
	top: 27px;
	text-indent: 0;
	cursor: auto;
	background-color: #fffbe8;
	position:absolute;
	border: 1px solid #66aaed;
}
.uc-ticket-item{
	/* width: 696px; */
	/* white-space: nowrap; */
	border-bottom: 1px dotted #c8c8c8;
}
.uc-ticket-item:nth-last-child(1){
	border-bottom: 0;
}

.uc-ticket-item s{
    width: 125px;
    white-space: nowrap;
    /* padding: 5px 10px; */
    /* border-right: 1px dotted #c8c8c8; */
    display: inline-block;
    color: #666;
}
.uc-ticket-item u{
    white-space: nowrap;
    /* padding: 5px 10px; */
    color: #999;
	margin-right:10px;
}
.uc-ticket-item em{
    color: #333;
}
.uc-ticket-detail i{
	position:absolute;
	display:block;
	left:50%;
	top:-7px;
	height:8px;
	width:100px;
	margin-left:-50px;
    background:url(../images/b2g/arrow3.png) center 0 no-repeat;
}
.uc-ticket-item u:nth-child(3n+1){
	/* border-left:1px dotted #d8d8d8; */
	/* margin-left: 145px; */
}
.uc-ticket-item td{
	padding:5px 10px;
}
.uc-ticket-item div{
	white-space:nowrap;
}
.uc-ticket b{
	font-weight:normal;
}