@charset "utf-8";
/* CSS Document */

body{ font-family:微软雅黑;}
ul,li{ list-style-type:none;}
label input[type="radio"],label input[type="checkbox"]{ border:0; vertical-align:middle; margin-right:3px;}

.date{ width:100%; height:auto; border-bottom:2px solid #f94037; margin:0; color:#404040; border-left:1px solid #ebcebf; border-right:1px solid #ebcebf;
 border-top:1px solid #ebcebf; font-size:14px;}
.date li{ float:left; border-right:1px solid #ebcebf; line-height:21px; background:#ffede4;}
.date li a{ width:160px; padding:10px 0px; display:inline-block; text-align:center;}
.date li a:hover{ text-decoration:none; background:#fff7f4; color:#404040;}
.date li em{ color:#f94037; font-weight:bold; font-size:14px;}
.date li i{ width:12px; height:23px; display:inline-block; background:url(../images/b2g/smallImg.png) no-repeat 0 -21px; margin:10px 0 0;}
.date li span{ width:12px; height:23px; display:inline-block; background:url(../images/b2g/smallImg.png) no-repeat -17px -21px;}
.date .last_li,.date li:first-child{ background:#fdf8f5;}
.date li b{ font-weight:500; margin-left:3px;}
.date .current{ border-top:2px solid #f1634c; border-left:1px solid #f1634c; border-right:1px solid #f1634c; border-bottom:2px solid #fff; margin:-1px 0 -3px -1px; background:#fff;}
.company{ line-height:20px; padding:10px;}
.company input{ border:0; vertical-align:middle; margin-right:5px;}
.company label{ margin-right:10px;}
.company b{ width:75px; display:inline-block;}
.company span{ margin-left:20px; font-weight:bold;}
.light_pink{ background:#f8f8f8;}
.light_pink td {border-bottom:1px dashed #e4e4e4;}
.first_up {background-color:#ffffff;}
.first_up td {border-bottom:1px solid #e4e4e4;}
.bor_top{ border-top:1px solid #e4e4e4;}

.titTop{ margin-bottom:10px;}
.titleH3{ float:left; font-weight:bold; font-size:14px; color:#575757; line-height:25px;}
.flowImg{ float:right;}

.seekCon{ margin-bottom:10px;}
.againSeek{ padding:10px 20px; background:#fff; color:#666666; font-size:14px; border-bottom:1px solid #d3d3d3;}
.againSeek select{ height:30px; color:#666666; border:1px solid #c7c7c7;}
.againSeek input[type=text]{ height:28px; line-height:28px; padding:0 7px; border:1px solid #c7c7c7; width:160px;}
.againSeek td{ padding-bottom:8px;}
.heiSeek{ color:#0066cc; margin-left:25px; cursor:pointer;}
.heiSeek em{ display:inline-block; width:12px; height:9px; background:url(../images/b2g/smallImg.png) no-repeat -21px 0; vertical-align:middle;}
.unfoldCon{ background:#f5f4f4; padding:10px 0 10px 30px; border-bottom:2px solid #dddddd;}
.unfoldCon label{ margin-right:30px;}





