@charset "utf-8";
/* CSS Document */

body{ background:#fff;}
.main-wrapper .top-line,.main-header, .header-bar-content{ width:780px; margin:0 auto;}
.main-header .header-content{ width:780px;}
.main-body-content{ width:778px; min-height:auto; margin:0 auto; background:#f4f4f4; border:1px solid #d5d5d5;}
.mainContent{ padding:10px 15px; color:#333333;}
.orderInfo{ width:100%;}
.orderInfo td{ line-height:20px; padding:3px; font-size:14px;}
.orderInfo td:first-child{ text-align:left;}
.orderInfo td h4{ font-size:14px; font-weight:bold; display:inline-block;}
.statusContent{ margin:20px 0 10px 0;}
.statusContent .guestTitle{ font-size:15px; font-weight:bold; margin:7px 0;}
.statusContent .statusShow a{ color:#ff6600;}
.statusContent .statusBtn{ margin:20px 0 10px 0; text-align:center;}
.statusContent .statusBtn button{ margin-right:20px; font-size:16px; font-weight:bold;}
.commonModel{ margin:10px 0; font-size:14px;}
.commonModel .titleName{ font-size:14px; font-weight:bold; margin:7px 0;}
.commonModel .tabList{ border:1px solid #d2d2d2; padding:1px; background:#fff;}
.commonModel .tabList td,.commonModel .tabList th{ padding:8px 5px;}
.commonModel .tabList th{ background:#ffe7db;}
.commonModel .tabList td{ border-top:1px solid #f1f1f1;}
.commonModel .tabList td:first-child,.commonModel .tabList th:first-child{ padding-left:10px;}
.commonModel .tabList .orangeFont{ color:#ff6600; font-size:16px; font-weight:bold;}






























































































































