@charset "utf-8";
/* CSS Document */

body{ font-family:微软雅黑;}
ul,li{ list-style-type:none;}
label input[type="radio"],label input[type="checkbox"]{ border:0; vertical-align:middle; margin-right:3px;}

.date{ width:100%; height:auto; border-bottom:2px solid #f94037; margin:0; color:#404040; border-left:1px solid #ebcebf; border-right:1px solid #ebcebf;
 border-top:1px solid #ebcebf; font-size:14px;}
.date li{ float:left; border-right:1px solid #ebcebf; line-height:21px; background:#ffede4;}
.date li a{ width:160px; padding:10px 0px; display:inline-block; text-align:center;}
.date li a:hover{ text-decoration:none; background:#fff7f4; color:#404040;}
.date li em{ color:#f94037; font-weight:bold; font-size:14px;}
.date li i{ width:12px; height:23px; display:inline-block; background:url(../images/b2g/smallImg.png) no-repeat 0 -21px; margin:10px 0 0;}
.date li span{ width:12px; height:23px; display:inline-block; background:url(../images/b2g/smallImg.png) no-repeat -17px -21px;}
.date .last_li,.date li:first-child{ background:#fdf8f5;}
.date li b{ font-weight:500; margin-left:3px;}
.date .current{ border-top:2px solid #f1634c; border-left:1px solid #f1634c; border-right:1px solid #f1634c; border-bottom:2px solid #fff; margin:-1px 0 -3px -1px; background:#fff;}
.company{ line-height:20px; padding:10px;}
.company input{ border:0; vertical-align:middle; margin-right:5px;}
.company label{ margin-right:10px;}
.company b{ width:75px; display:inline-block;}
.company span{ margin-left:20px; font-weight:bold;}
.light_pink{ background:#f8f8f8;}
.light_pink td {border-bottom:1px dashed #e4e4e4;}
.first_up {background-color:#ffffff;}
.first_up td {border-bottom:1px solid #e4e4e4;}
.bor_top{ border-top:1px solid #e4e4e4;}

.titTop{ margin-bottom:10px;}
.titleH3{ float:left; font-weight:bold; font-size:16px; color:#575757; line-height:25px;}
.flowImg{ float:right;}

.seekCon{ margin-bottom:10px;}
.againSeek{ padding:10px 20px 0; background:#fff; color:#666666; font-size:14px; border-bottom:1px solid #d3d3d3;}
.againSeek select,.unfoldCon select,.airport select{ height:30px; color:#666666; border:1px solid #c7c7c7; vertical-align:middle;}
.againSeek input[type=text]{ height:28px; line-height:28px; padding:0 7px; border:1px solid #c7c7c7; width:160px;}
.againSeek td{ padding-bottom:8px;}
.heiSeek{ padding:10px 17px 20px;}
.heiSeek,.putAway{ color:#0066cc; cursor:pointer; display:inline-block; margin-bottom:-9px; z-index:2; position:relative;}
.putAway{ background:#f5f4f4; border:1px solid #d6d6d6; border-bottom:0; padding:10px 29px 20px;}
.heiSeek em{ display:inline-block; width:12px; height:9px; background:url(../images/b2g/smallImg.png) no-repeat -21px 0; vertical-align:middle;}
.putAway em{ display:inline-block; width:12px; height:6px; background:url(../images/b2g/smallImg.png) no-repeat -37px 0; vertical-align:middle;}
.unfoldCon{ background:#f5f4f4; padding:10px 0 10px 10px; border-bottom:2px solid #dddddd; color:#666666; z-index:1;}
.unfoldCon label{ margin-right:30px;}
.unfoldCon b{ margin-left:20px;}
.airport{ padding:15px 0 10px; background:#fff;}
.airport em{ margin-left:85px; color:#333333; font-size:13px;}
.airport em:first-child{ margin-left:35px;}
.airport label{ margin-right:7px;}
.timePrice{ padding:0 0 15px 35px; background:#fff; color:#333333; font-size:13px;}
.timePrice label{ padding:5px 10px; border:1px solid #dcdcdc; background:#f5f5f5; display:inline-block; min-width:65px; text-align:center; cursor:pointer;}
.timePrice .currentCli,.timePrice label:active{ background:#fcf0ed; border:1px solid #f4a7a3; cursor:pointer;}
.timePrice em{ display:inline-block; width:13px; height:13px; background:url(../images/b2g/smallImg.png) no-repeat -52px 0; vertical-align:middle; margin-left:5px;}
.timePrice .currentCli em{ background:url(../images/b2g/smallImg.png) no-repeat -69px 0;}
.airContent{ background:#fff; border:1px solid #d2d2d2; border-bottom:2px solid #d2d2d2;}
.airList{ width:100%; border-collapse:collapse; color:#333333; position:relative;}
.airList .lastList td{ border-bottom:1px solid #d2d2d2;}
.airList td{ border-bottom:1px solid #f1f1f1; padding:10px 0;}
.airList tr:hover,.checkMore a:hover{ background:#f5f5f5;}
.airList th:first-child,.modFliList td:first-child{ text-align:right; padding-right:5px;}
.airList th{ background:#f0efef; padding:10px 0;}
.NoColor{font-size:18px; font-weight:bold; color:#ff0000;}
.QiSize{font-size:14px; font-weight:bold; margin-left:2px;}
.airContent code,.modFliList code{ background:url(../images/b2g/logo.png) no-repeat 0 0; display:inline-block; width:25px; height:25px;}
.airList th strong{ margin-left:20px; font-size:15px; font-weight:bold;}
.airList .lightRedBtn{ padding:3px 20px;}
.airList .btnReset{ padding:3px 10px;}
.only{ color:#ff0000; vertical-align:middle; margin-left:5px; padding:2px 7px; border:1px solid #f94f46;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.linkA{ color:#3764bd; text-decoration:underline;}
.flexMore,.flexUp{ color:#0066cc; font-size:14px; cursor:pointer;}
.flexMore i{ display:inline-block; width:12px; height:6px; vertical-align:middle; margin-left:7px; background:url(../images/b2g/smallImg.png) no-repeat -21px 0;}
.flexUp i{ display:inline-block; width:12px; height:6px; vertical-align:middle; margin-left:7px; background:url(../images/b2g/smallImg.png) no-repeat -37px 0;}
.checkMore{ text-align:center; font-size:14px; font-weight:bold;}
.checkMore a{ color:#1d5ceb; display:block; padding:10px 0;}
.floatLayer{ border:1px solid #525b68; padding:15px; position:relative; background:#fff;}
.arrowLayer{ display:inline-block; width:9px; height:5px; background:url(../images/b2g/smallImg.png) no-repeat -85px 0; position:absolute; top:-6px; left:10%;}
.favorable{ display:inline-block; width:47px; height:19px; background:url(../images/b2g/smallImg.png) no-repeat -34px -21px; vertical-align:middle; color:#fff; text-align:center;}

.modFlight{ margin:10px 0; border:2px solid #75d0ea;}
.selectedInfo{ float:left; border-right:1px dashed #b6cee1; background:#f4fdff; font-weight:bold; padding:10px 35px; text-align:center;}
.selectedInfo h2{ font-size:16px; color:#0066cc; font-weight:bold; margin-bottom:15px;}
.selectedInfo h3{ font-size:16px; color:#333333; font-weight:bold; margin-bottom:7px;}
.modFlight .selectedInfo h3 em{ font-weight:500;}
.selectedInfo div{ color:#666666;}
.modFliList{ float:left; background:#fff; padding:10px 0;}
.colorSize{ font-size:14px; color:#666666;}
.modFliList td{ padding:3px 5px;}
.moflBtn{ background:#d2f4fd; border:1px solid #93e6f1; padding:5px 20px; cursor:pointer;}

.k-tooltip-content{ color:#666666;}


