@charset "utf-8";
/* CSS Document */

body{ background:#fff;}
.main-wrapper .top-line,.main-header, .header-bar-content{ width:780px; margin:0 auto;}
.main-header .header-content{ width:780px;}
.main-body-content{ width:778px; min-height:auto; margin:0 auto; background:#f4f4f4; border:1px solid #d5d5d5;}
.mainContent{ padding:10px 15px; color:#333333;}
.orderInfo{ width:100%;}
.orderInfo td{ line-height:20px; padding:3px; font-size:14px;}
.orderInfo td:first-child{ text-align:left;}
.orderInfo td h4{ font-size:14px; font-weight:bold; display:inline-block;}





































































































































