@charset "utf-8";

/*分销商 国内机票*/

/*input,select,textarea{
    font-family:Arial,Helvetica,Microsoft YaHei;
}*/


.date .flight_arrow{
    width:33px;
    height:61px;
    padding:0;
}
.flight_arrow:hover{
    background-image:none;
}
.flight_arrow{
    background:#fff url(../images/distributor_ly/flnavarrow.png) 0 bottom repeat-x;
}
.flight_arrow i{
    margin-top:20px;
    width:11px;
    height:19px;
    display:inline-block;
    background:url(../images/distributor_ly/arrows.png) no-repeat 0 0;
}
.flight_prev_arrow.disabled i{
    background-position:0 0;
}
.flight_next_arrow.disabled i{
    background-position:-16px -19px;
}
.flight_arrow.disabled{
    background:#fff url(../images/distributor_ly/flnavarrow.png) 0 bottom repeat-x !important;
}

.date { 
    width:100%; 
    height:auto; 
    border-bottom:2px solid #3c96ca; 
    margin:0;
}




.date .current {
    border-top:2px solid #3c96ca;
    border-left:1px solid #3c96ca;
    border-right:1px solid #3c96ca;
    border-bottom:2px solid #fff;
    margin:-1px 0 -3px -1px;
    background:#fff;
}
.chosen_delete{
    color:#3189bb;
    font-size:16px;
    vertical-align:middle;
    margin:0 5px;
    cursor:pointer;
}
/*button*/
.brightRed_btn  span,.bigDisabled_btn span{float:left; height:35px; line-height:35px;font-size: 16px;}
.brightRed_btn .left{display: none;}
.brightRed_btn .center{background:#3189bb;}
.brightRed_btn .right{display: none;}
.brightRed_btn:hover .left{display: none;}
.brightRed_btn:hover .center{background:#3189bb;}
.brightRed_btn:hover .right{display: none;}

.brightRed_btn.medium  span{float:left; height:30px; line-height:30px;}
.brightRed_btn.medium .left{display: none;}
.brightRed_btn.medium .center{background:#ff5534;}
.brightRed_btn.medium .right{display: none;}
.brightRed_btn.medium:hover .left{display: none;}
.brightRed_btn.medium:hover .center{background:#ff5534;}
.brightRed_btn.medium:hover .right{display: none;}
















