@charset "utf-8";

/*分销商 国内机票*/

/*input,select,textarea{
    font-family:Arial,Helvetica,Microsoft YaHei;
}*/

/*箭头翻页*/
/*.date .flight_arrow{
    width:33px;
    height:61px;
    padding:0;
}
.flight_arrow:hover{
    background-image:none;
}*/
.flight_arrow{
    background:#fff url(../images/distributor_ly/flnavarrow.png) 0 bottom repeat-x;
}
.flight_arrow i{
    margin-top:20px;
    width:11px;
    height:19px;
    display:inline-block;
    background:url(../images/distributor_ly/arrows.png) no-repeat 0 0;
}
.flight_prev_arrow i{
    background-position:0 -19px;
}
.flight_next_arrow i{
    background-position:-16px 0;
}
.flight_prev_arrow.disabled i{
    background-position:0 0;
}
.flight_next_arrow.disabled i{
    background-position:-16px -19px;
}
.flight_arrow.disabled{
    background:#fff url(../images/distributor_ly/flnavarrow.png) 0 bottom repeat-x !important;
}




.date { 
    border-bottom:2px solid #3c96ca; 
}
.date .current {
    border-top:2px solid #3c96ca;
    border-left:1px solid #3c96ca;
    border-right:1px solid #3c96ca;
    border-bottom:2px solid #fff;
}
.caption p i { 
    color:#3189bb;
}
.caption p strong a { 
    color:#3189bb;
}
.chosen_item{
    padding:2px 0 1px 6px;
}
.chosen_item:hover{
    border-color:#3189bb;
    background-color:#3189bb;
    cursor:pointer;
}
.chosen_delete{
    color:#3189bb;
    font-size:16px;
    vertical-align:middle;
    margin:0 5px;
}
.darkOrange,.wayPoint {
    color:#3c96ca; 
    border-bottom:1px dashed #3c96ca;
}

.information_detail tr:hover{
    background-color:#f1faff;
}
/*国际机票*/
.flight_type_orange{
    color:#ff7b24;
    border-bottom:1px dashed #ff7b24;
}
.num_c {
    color: #e94749;
}
.flight_type_noStop{
    border-bottom:1px dashed #999;
}
.information:hover,.international:hover { 
    background:#f1faff;
}


/*button*/
.brightRed_btn  span,.bigDisabled_btn span{float:left; height:35px; line-height:35px;font-size: 16px;}
.brightRed_btn .left{display: none;}
.brightRed_btn .center{background:#3189bb;}
.brightRed_btn .right{display: none;}
.brightRed_btn:hover .left{display: none;}
.brightRed_btn:hover .center{background:#2279aa;}
.brightRed_btn:hover .right{display: none;}

.brightRed_btn.medium  span{float:left; height:30px; line-height:30px;font-size: 14px;}
.brightRed_btn.medium .left{display: none;}
.brightRed_btn.medium .center{background:#ff5534;}
.brightRed_btn.medium .right{display: none;}
.brightRed_btn.medium:hover .left{display: none;}
.brightRed_btn.medium:hover .center{background:#ea4e30;}
.brightRed_btn.medium:hover .right{display: none;}

.mediumOrange_btn  span{float:left; height:30px; line-height:30px;}
.mediumOrange_btn .left{display: none}
.mediumOrange_btn .center{background:#ff5534;}
.mediumOrange_btn .right{display: none;}
.mediumOrange_btn:hover .center{background:#ea4e30;}




/* 通用翻页*/
.pagination,.paging{ margin:10px 0;}
.pagination div,.paging div{ float:right; height:30px; line-height:30px;}
.pagination div em,.paging div em{ color:#3189bb; font-weight:bold;}
.pagination ul,.paging ul{ margin:0 10px 0 5px; float:right;}
.pagination ul li,.paging ul li{ float:left; margin-left:10px;}
.pagination ul li a,.paging ul li a{ display:inline-block; padding:5px 8px; border:1px solid #ccd5de; color:#3189bb;}
.pagination ul li a:hover,.pagination .present,.paging .present{ color:#fff; text-decoration:none; cursor:pointer; background:#3189bb; border:1px solid #3189bb;}
.pagination ul li span,.paging ul li span{ color:#3189bb;}
.pagination .disabled{ color:#ccd5de;}
.pagination .disabled:hover{ color:#ccd5de; background:none; border:1px solid #ccd5de; cursor:default;}
.paging ul li a:hover{ background:#f6f6f6; text-decoration:none; color:#3189bb;}
.paging .present:hover{ background:#3189bb; color:#fff;}












