@charset "utf-8";

/*分销商 国内机票*/

/*input,select,textarea{
    font-family:Arial,Helvetica,Microsoft YaHei;
}*/

/*箭头翻页*/
/*.date .flight_arrow{
    width:33px;
    height:61px;
    padding:0;
}
.flight_arrow:hover{
    background-image:none;
}*/
body{
    font-size:12px;
    font-family:Arial,Helvetica,Microsoft YaHei;
}
.main-wrapper{
    background:#F9F9F9 url(../images/store/skin/blue/bg.gif) repeat-x;
}
.main-links a{
    color: #D8E4F1;
}
.main-nav{
    top: 30px;
    left: auto;
    right:155px;
}
.main-nav a{
    height:54px;
    display:block;
    color:#fff;
    font-size:18px;
    cursor:pointer;
    text-align:center;
    position:relative;
    z-index:1;
    padding:0 40px;
    border-bottom: 6px solid #0C71A5;
    line-height: 60px;
}
.main-nav a:hover{
    text-decoration:none;
    background-color:#095B85;
    color:#fff;
    border-bottom: 6px solid #F25A17;
}
.main-nav .active a{
    background-color:#095B85;
    position:relative;
    z-index:1;
    color:#fff;
    border-bottom: 6px solid #F25A17;
}
.flight_arrow{
    background:#fff url(../images/distributor_ly/flnavarrow.png) 0 bottom repeat-x;
}
.flight_arrow i{
    margin-top:20px;
    width:11px;
    height:19px;
    display:inline-block;
    background:url(../images/distributor_ly/arrows.png) no-repeat 0 0;
}
.flight_prev_arrow i{
    background-position:0 -19px;
}
.flight_next_arrow i{
    background-position:-16px 0;
}
.flight_prev_arrow.disabled i{
    background-position:0 0;
}
.flight_next_arrow.disabled i{
    background-position:-16px -19px;
}
.flight_arrow.disabled{
    background:#fff url(../images/distributor_ly/flnavarrow.png) 0 bottom repeat-x !important;
}




.date { 
    border-bottom:2px solid #3c96ca; 
}
.date .current {
    border-top:2px solid #3c96ca;
    border-left:1px solid #3c96ca;
    border-right:1px solid #3c96ca;
    border-bottom:2px solid #fff;
}
.caption p i { 
    color:#3189bb;
}
.caption p strong a { 
    color:#3189bb;
}
.chosen_item{
    padding:2px 0 1px 6px;
}
.chosen_item:hover{
    border-color:#3189bb;
    background-color:#3189bb;
    cursor:pointer;
}
.chosen_delete{
    color:#3189bb;
    font-size:16px;
    vertical-align:middle;
    margin:0 5px;
}
.darkOrange,.wayPoint {
    color:#3c96ca; 
    border-bottom:1px dashed #3c96ca;
}

.information_detail tr:hover{
    background-color:#f1faff;
}
/*国际机票*/
.flight_type_orange{
    color:#ff7b24;
    border-bottom:1px dashed #ff7b24;
}
.num_c {
    color: #e94749;
}
.flight_type_noStop{
    border-bottom:1px dashed #999;
}
.information:hover,.international:hover { 
    background:#f1faff;
}


/*button*/
.brightRed_btn  span,.bigDisabled_btn span{float:left; height:35px; line-height:35px;font-size: 16px;}
.brightRed_btn .left{display: none;}
.brightRed_btn .center{background:#3189bb;}
.brightRed_btn .right{display: none;}
.brightRed_btn:hover .left{display: none;}
.brightRed_btn:hover .center{background:#2279aa;}
.brightRed_btn:hover .right{display: none;}

.brightRed_btn.medium  span{float:left; height:30px; line-height:30px;font-size: 14px;}
.brightRed_btn.medium .left{display: none;}
.brightRed_btn.medium .center{background:#ff5534;}
.brightRed_btn.medium .right{display: none;}
.brightRed_btn.medium:hover .left{display: none;}
.brightRed_btn.medium:hover .center{background:#ea4e30;}
.brightRed_btn.medium:hover .right{display: none;}

.mediumOrange_btn  span{float:left; height:30px; line-height:30px;}
.mediumOrange_btn .left{display: none}
.mediumOrange_btn .center{background:#ff5534;}
.mediumOrange_btn .right{display: none;}
.mediumOrange_btn:hover .center{background:#ea4e30;}




/* 通用翻页*/
.pagination,.paging{ margin:10px 0;}
.pagination div,.paging div{ float:right; height:30px; line-height:30px;}
.pagination div em,.paging div em{ color:#3189bb; font-weight:bold;}
.pagination ul,.paging ul{ margin:0 10px 0 5px; float:right;}
.pagination ul li,.paging ul li{ float:left; margin-left:10px;}
.pagination ul li a,.paging ul li a{ display:inline-block; padding:5px 8px; border:1px solid #ccd5de; color:#3189bb;}
.pagination ul li a:hover,.pagination .present,.paging .present{ color:#fff; text-decoration:none; cursor:pointer; background:#3189bb; border:1px solid #3189bb;}
.pagination ul li span,.paging ul li span{ color:#3189bb;}
.pagination .disabled{ color:#ccd5de;}
.pagination .disabled:hover{ color:#ccd5de; background:none; border:1px solid #ccd5de; cursor:default;}
.paging ul li a:hover{ background:#f6f6f6; text-decoration:none; color:#3189bb;}
.paging .present:hover{ background:#3189bb; color:#fff;}







/*左侧菜单*/
.us-nav h3{
    font-weight:bold;
    font-size:16px;
    background-color:#696F75;
    color: #ffffff;
    padding:10px;
    border-bottom:0;
}
.us-nav .current{
    color: #ffffff;
    background-color:#3B95C9;
}


/*日历*/
.ui-datepicker,.ui-datepicker-calendar-wrap,.ui-widget-header,.ui-datepicker-calendar thead{background: #3C96CA}
.ui-datepicker-calendar-wrap {
    background-image: none;
}
.ui-datepicker-calendar-wrap{
    border-right: 0;
}
.ui-datepicker-group-first .ui-datepicker-calendar-wrap{
    border-right:1px dashed #206CA1;
}
.ui-widget-content .ui-state-default{
    color: #FFFFFF;
}
.ui-widget-content .ui-state-default.ui-state-active{
    background: #22689E;
}
.ui-datepicker-calendar .ui-state-hover{
    border:0;
    background: #3685BC;
}
.ui-datepicker-calendar thead,.ui-datepicker-week-end{
    color: #ffffff;
}
.ui-widget-header .ui-icon{
    width:26px;
    height: 26px;
    background: url("../images/store/skin/blue/calendarMonthButton.png") no-repeat;
}
.ui-datepicker-next .ui-icon{
    background-position:-30px 0;
}
.ui-datepicker .ui-datepicker-next-hover,.ui-datepicker .ui-datepicker-next{
    right: 12px;
    top: 0px;
}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-prev-hover{
    top: 0px;
    left: 2px;
}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{
    left: auto;
    top: auto;
    margin-left: 0;
    margin-top: 0;
    
}
.ui-datepicker-next-hover .ui-icon,.ui-datepicker-prev-hover .ui-icon{
    margin:0 !important;
}


.currentState{ background:#fff; border-top:2px solid #3B95C9; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-bottom:1px solid #fff; margin:-1px 0 -1px -1px;}
.currentState a{ color:#3B95C9;}


/* 支付 */
.payWay .changeWay .current{
    background: #f4fbff;
    border: 2px solid #9ddafd;
}
.payBtn .brightRed_btn,.payBtn .brightRed_btn.medium span{
    height: 35px;
    line-height: 35px;
}
.payWaySucceed .succeedCont .succeedIcon{
    background: url("../images/distributor/smallIcon.png") no-repeat 0 -52px;
}
.balanceCont{ 
    background:#fffbf9; 
    border:1px solid #ffb595;
}

/* 机票 */

.instr span.highlight-fl{
    color: #3c96ca;
    background-image:url(../images/distributor/order_r5_c12.png);
}
.instr span{
    font-size: 15px;
}
.chief h3{
    color: #3c96ca;
    border-bottom: 1px solid #3c96ca;
    font-size: 15px;
}
.typeTips .typeContent{
    background: #73c889;
    color: #FFFFFF;
}
.typeTips .typeTipsIcon{
    background: url("../images/distributor/smallIcon.png") no-repeat -67px -32px;
}
.remarkInfo .remarkDiv{
    background: #f2f8fd;
    border: 1px solid #d9e7f3;
}
.user p {
    background: #f2f8fd;
    border: 1px solid #d9e7f3;
}
.constant #ffc_title {
    background: #3c96ca;
}
.travellerLocation {
    border: 1px solid #3c96ca;
}
.addInfo{
    color: #3c96ca;
}
.inner_accountInfoBlock .accountCon b{
    color: #f6782b;
    font-size: 15px;
}
.inner_accountInfoBlock .accountCon b em{
    font-size: 13px;
    font-weight: 500;
}
.inner_accountInfoBlock .totlePrice b{
    font-size: 26px;
}
.accountInfoBlock .mediumOrange_btn,.accountInfoBlock .mediumOrange_btn span{
    height: 40px;
    line-height: 40px;
}
.accountInfoBlock .mediumOrange_btn .center{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}
.flexibleType.down {
    background: url(../images/distributor/doubleDown.png) no-repeat 90px center;
    color: #3c96ca;
}
.user .save span b{
    color: #e94749;
    font-size: 16px;
}
.practicalTips,.airPlace .transferTime .transferNumber{
    color: #3c96ca;
    border-bottom: 1px dashed #3c96ca;
}
.offerInfoTab .pnrA:hover{
    text-decoration: none;
}
.travellerListCont{
    border: 1px solid #3c96ca;
    border-top: 0;
}
.quote{
    position: static;
}