body{font:12px/1.5 "Microsoft YaHei",SimSun,Tahoma,Verdana,Arial,sans-serif;background:#d5d5d5}
table{width:100%;border-collapse:collapse;}
td{padding:5px}
.clearfix{clear:both}
.important{color:red}
.operation_records td{text-align: center}
span.head{font-weight:bold;color:#505050}
td.head{font-weight:bold;background:#E2F7FF;vertical-align:top;color:#505050}
div.panel{padding:20px;box-shadow:0 3px 0 0 #999999;background:#ffffff;margin-bottom:10px;width:980px;margin:0 auto 10px;position:relative}
.panelTitle{font-size:14px;font-weight:bold;border-right:2px solid #CFCFCF;float:left;padding-right:10px;margin-right:10px}
.placeholder{color:#9d9c9c}
.tableMain,.tableMain td{border:1px solid #c7dce8;empty-cells: show}
.panelContent{padding:15px 0}
.operation_records,.operation_records td{border:1px solid #cfcfcf;empty-cells: show}
.operation_records thead td{color:#009aa8;background:#ebeff1}
.button_3_3{width:71px;height:26px;display:inline-block;text-align:center;line-height:26px;background:url("http://static.b2b.com/images/button_3_3.png") 0 0;color:#454545}
.button_3_3:hover{background-position:0 -40px}
.button_3_3:active{background-position:0 -82px}
