.bar{
    *zoom:1;
    border-left:1px solid #ccc;
    height:10px;
    display:inline-block;
    vertical-align:middle;
}
i.star{
    vertical-align:middle;
    color:red;
}

.block0 .col{
    height:60px;
    float:left;
    width:50%;
}
.block0 .col-l{
    background:#FFFAF6 url(../images/order_r4_c10.png) 100% 0 no-repeat;
}
.block0 .row{
    font-size:12px;
    padding:10px 15px 0 15px;
    height:20px;
    border-left:9px solid #FF6608;
}
.block0 .row2 {
    height:100%;
    border-left:9px solid #FF6608;
    padding:0px;
}
.block0 .text1{
    font-size:14px;
    color:#333;
    font-weight: bold;
}
.block0 .text1 strong{
    font-size:16px;
    color:#FF4100;
}
.block0 .text2{
    color:#878787;
}
a:hover{
    /*text-decoration:underline;*/
}
.block0 .col-l em{
    text-overflow: ellipsis;
    vertical-align: top;
    display: inline-block;
    color:#F15600;
    max-width: 124px;
    white-space:nowrap;
    overflow:hidden;
}
.block0 .col-r li{
    height:60px;
}
.block0 .count{
    padding:0 10px;
    line-height:60px;
    float:right;
    background-color:#CFF3FC;
    border-right:9px solid #50A2D7;
}
.block0 .count span{
    display:inline-block;
    width:30px;
    line-height:18px;
    vertical-align:middle;
    margin:0 5px;
}
.block0 .count strong{
    vertical-align:middle;
    font-size:36px;
}



.instr{
    overflow:hidden;
    margin:10px 0 0 20px
}
.instr span{
    position:relative;
    z-index:1;
    padding-top:25px;
    display:block;
    float:left;
    background:url(../images/order_r6_c14.png) 50% 4px no-repeat;
    margin-right:10px;
}
.instr .first{
    background-position:-20px 4px;
    background-image:url(../images/instr-item_r1_c1.png);
}
.instr .last{
    margin-right:0;
    background-position:7px 4px;
    background-image:url(../images/instr-item_r1_c3.png);
}
.instr span.highlight{
    background-position:50% 4px;
    background-image:url(../images/hotel_order_status_dot_complete.gif);
    color:#00a000;
}
.instr span.highlight-fl{
    background-image:url(../images/operator/greenDot.png);
    background-position:50% 18%;
    color:#00a000;
}
.instr span.highlight-fe{
    background-image:url(../images/order_r5_c123.png);
    background-position:50% 0;
    color:#f10;
}
.instr span.highlight-half{
    background-image: url("../images/green_circle.png");
    background-position: 50% 4px;
}
.instr{
    position:relative;
}
.instr .line{
    position:absolute;
    display:block;
    width:100%;
    left:10px;
    height:2px;
    background-color:#E9E9E9;
    top:8px;
    z-index:0;
}
.instr .line div{
    background-color:#00a000;
    height:2px;
}

/*  旅游订单详情流程状态修改 */
.travelOrder .instr{
    margin-left: 50px;
}
.travelOrder .instr span.highlight{
    background-position:50% 4px;
    background-image:url(../images/grayPoint.png);
    color:#666666;
}
.travelOrder .instr span.highlight-fl{
    background-image:url(../images/bluePoint.png);
    background-position:50% 4px;
    color:#42a7dc;
}
.travelOrder .instr .line{
    position:absolute;
    display:block;
    width:100%;
    left:10px;
    height: 0;
    background-color: transparent;
    border-bottom: 2px dotted #e9e9e9;
    top:8px;
    z-index:0;
}
.travelOrder .instr .line div{
    background-color:transparent;
    height:0px;
    border-bottom: 2px solid #e9e9e9;
}
/*  结束 */


.lensf_status .instr{
    overflow:hidden;
    margin:10px 0 0 20px
}
.lensf_status .instr span{
    position:relative;
    z-index:1;
    padding-top:25px;
    display:block;
    float:left;
    background:url(../images/order_r6_c14.png) 50% 4px no-repeat;
    margin-right:10px;
}
.lensf_status .instr .first{
    margin-left:0;
}
.lensf_status .instr .last{
    margin-right:0;
}
.lensf_status .instr span.highlight-fl{
    /* background: url(../images/hotel_order_status_dot_ing.gif) no-repeat 40% 13%; */
    background-image:url(../images/order_r5_c12.png);
    background-position:50% 0;
    color:#f60;
}
.travel-lensf_status .instr span.highlight-fl{
    background: url(../images/hotel_order_status_dot_ing.gif) no-repeat 40% 13%;
}
.lensf_status .instr span.highlight-fe{
    background-image:url(../images/order_r5_c123.png);
    background-position:50% 0;
    color:#f10;
}
.lensf_status .instr span.highlight{
    background-position:50% 4px;
    background-image:url(../images/hotel_order_status_dot_complete.gif);
    color:#00a000;
}
.lensf_status .instr{
    position:relative;
}
.lensf_status .instr .line{
    position:absolute;
    display:block;
    height:2px;
    background-color:#E9E9E9;
    top:8px;
    z-index:0;
    margin-left:-5px;
}
.lensf_status .instr .line div{
    background-color:#00a000;
    height:2px;
}



.block1 input{
    width:130px;
}
.block1 li{
    width:230px;
    margin-bottom:15px;
}
.block1.tree-col li{
    width:300px;
    margin-bottom:15px;
}
.block1 label{
    width:80px;
    font-size:12px;
    color:#333333;
    font-weight:bold;
    margin-left:10px;
}
.block1 .col-wide{
    width:464px;
}
.block1 .col-wide label{
    vertical-align:top;
    position:relative;
    z-index:1;
}
.block1 .textarea-wide {
    width:700px;
}
.block1 .textarea-wide label {
    vertical-align:top;
}
.block1 textarea{
    width:363px;
    height:45px;
    font-family:arial;
    font-size:12px;
    border:1px solid #d3d3d3;
}
.block1 .highlight{
    background-color:#eee;
    padding:10px;
    width:368px;
    min-height:50px;
    padding-left:80px;
}
.block1 .highlight label{
    float:left;
    margin-left:-70px;
    width:60px;
}

.block1 .highlight:nth-last-of-type(2){
    margin-right:10px;
}

.block-title-orange{ 
    border-bottom:3px solid #FFA86E;
}
.block-title-blue{ 
    border-bottom:3px solid #72D6FF;
}
.block-module .money s{
    font-size:14px;
    margin-right:3px;
}
.block-module .grid-table{
    width:100%;
}
.block-module .grid-table a{
    color:#06c;
}
.block-module .grid-table a:hover{
    text-decoration:underline;
}

.block-module .grid-table td {
    padding: 5px;
}
.block-module {
    padding:20px;
    color: #444;
}
.block-module .txt{
    margin-right:20px;
}

.block-module .grid-table input[type="text"] {
    border:1px solid #ccc;
    width:100%;
    line-height:20px \9;
    height:20px;
}
.block-module .grid-table span .k-input{
   border:0; 
}

.block-module .row{
    margin-bottom:10px;
}
.block2 .row strong {
    font-weight:normal;
    color:#ff6600;
}
.block3 .row2 span{
    color:#0065CB;
}

.block-module .text1{
    color:#029f2a;
}
.block-module .text2{
    color:#fe5b00;
}
.block-module .text3{
    color:#06c;
}
.block-module .text4{
    color:#aaa;
}
.block3 .row2{
    line-height:1.5em;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #CFCFCF;
}
.block3 .row2 h3{
    color:#333;
    font-size:12px;
    margin-bottom:10px;
}
.block3 .row3 span {
    color:#0065CB;
}

.block-calc{
    background-color:#D9FFFA;
}
.block-calc input{
    padding:0 5px;
    font-size:14px;
    border:0;
    width:117px;
    height:27px;
    line-height:27px \9;
    background:url(../images/order_r11_c8.png) no-repeat;
    border-right:1px solid #cfcfcf;
    color: #f60;
    font-weight: bold;
}
.block-calc .input-b{
    line-height:49px \9;
    padding:0 5px;
    font-size:30px;
    font-weight:bold;
    border:0;
    width: 173px;
    height:49px;
    color:#f60;
    background:url(../images/order_r10_c4.png) no-repeat;
    margin-right: 13px;
    font-family: Arial;
}
.block-calc .input-b::-webkit-input-placeholder{
    font-size:14px;
    color:#aaa;
    font-weight:normal;
    line-height:37px;
    text-indent:10px;
}
.block-calc span{
    display:block;
    text-align: left;
    font-weight:bold;
    color:#333;
    margin-bottom:4px;
}
.block-calc .text2{
    line-height: 30px;
    font-size:16px;
    color:#fe5b00;
}
.block-calc .first span{
    font-size:16px;
    display:inline-block;
    vertical-align:middle;
    margin:0 5px 0 0;
}
.block-calc .flat-list{
    padding:15px;
}
.block-calc li{
    margin-right: 7px;
}
.block-calc-readonly input{
    background:none !important;
    border:none;
}
.flat-list .horizontal{
    margin-top: 12px;
}
.flat-list .horizontal span{
    display: inline-block;
}
.flat-list .horizontal input{
    color: #333333;
}


.block-title label{
    margin-left:10px;
    font-size:12px;
    font-weight:normal;
}

.block8 {position:relative ;}
.block8 em {color:#ff0000;}
.block8 .row1 span, .block8 .row1 a {color:#0065CB;}
.block8 table {width:600px;float:left;}
.block8 table td {padding:5px;}
.block8 input {1px solid #d3d3d3;height:20px;}

.block8 p {line-height:30px;float:left;width:300px;padding:0 8px 0 20px;border-left:1px solid #E2E2E2;}

.uploadify {
    display: inline-block;
}

.uploadify-button {
    background-color: transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    color:#2c2c2c !important;
    text-shadow:none;
}

.airplus-tag {
    background: url(../images/AirPlus.jpg) no-repeat;
    width:70px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.orderBlock-m li {
    width:245px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* 关联订单 浮层 */
.child_order {
    border: 1px solid #439bd4;
    overflow:hidden;
    width:389px;
}
.child_order .title {
    background-color:#cff3fc;
}
.child_order .title li {display:block;float:left;height:60px;}
.child_order .title .first {font-size:12px;width:280px;color:#111111;}
.child_order .title .last {float:right;width:100px;color:#111111;vertical-align:middle;border-right:8px solid #439bd4;}
.child_order .title .last em {padding:12px 5px 12px 10px;width:30px;display:inline-block; float:left;}
.child_order .title span {display:block; margin:15px 4px 15px 17px; background-color:#ffffff;padding:5px 8px;} 
.child_order .title .first strong {color:#FF3300;font-size:18px;} 
.child_order .title .last strong {font-size:36px; line-height:60px; float:left;}

.child_order .history_list {background-color:#ffffff;max-height:360px;overflow-y:scroll;auto;}
.child_order .history_list li {position:relative;margin-left:20px;}
.child_order .history_list li h3 {margin-top:10px;background:url(../images/datetime_bg.png) no-repeat left top;width:124px;height:17px;line-height: 17px;text-indent:16px;font-size:12px;color:#ffffff;}
.child_order .latest,.child_order .order_checked ,.child_order .order_checking {line-height:17px;background-color:#ff4e00;width:62px;height:17px;text-align: center;color:#ffffff;position:absolute;left:130px;top:0px;}
.child_order .order_checked , .child_order .order_checking {border:none;background-color:#ffffff;color:#00bd8e;}
.child_order .order_checking {color:#ff6600;}

.child_order .history_list li span {background: url(../images/blue_circle.png) no-repeat left top;width:10px;height:100%;display:block;position: absolute ;left:-15px;top:4px;}
.child_order .history_list li b {top:10px;left:5px;width:1px;border-left:1px solid #e0e0e0;height:100%;display:block;position:absolute;}
.child_order .history_list .item {border:1px solid #b8f1ff;width:330px;margin-top:5px;}
.child_order .history_list table {color:#444444;text-align:center;vertical-align: middle;}
.child_order .history_list table td {padding:3px;}
.child_order .history_list table th {padding-bottom:6px;font-weight:normal;}
.child_order .history_list table strong {color:#ff3300;font-size:16px;}


.block41 .input-b{
    color: #ff4f25;
}
.block41 input{
    width:93px;
}
.adaptiveButton b{
    font-weight:normal;
}
.block-module input.text{
    width:100%;
    border:1px solid #cfcfcf;
    height:20px;
    *line-height:20px;
}
.block-module .disabled{
    border:none;
    background:none;
    cursor:text;
}
.block-module .unselected{
    display:none;
}

.block-module-action {
    margin-left: 20px;
    border-left: 2px solid #CFCFCF;
    padding-left: 20px
}
.block-title {
    margin-bottom:15px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.icon_ff{
    vertical-align:text-top;
    display:inline-block;
    width:14px;
    height:14px;
    background:url(../images/store/smallPicture.png) 0 -58px no-repeat;
}
[role=tooltip]{
    margin-top:10px;
    border:1px solid #DCC791;
    background-color:#FAFADB;
    box-shadow:none;
    width:340px;
} 
[role=tooltip] .k-tooltip-content{
    padding:2px;
    line-height:20px;
}

[role=tooltip] .k-callout-n{
    border-width:8px;
    background:url(../images/tltip.png) 50% 0 no-repeat;
}

/* -- SWFUpload Object Styles ------------------------------- */
.progressBarInProgressWrapper{
    width: 55px;
    margin-top:7px;
    margin-left:10px;
    float:left;
}
.progressWrapper {
    width: 235px;
    overflow: hidden;
    float:left;
    line-height:23px;
    padding-right:10px;
    padding-bottom:5px;
}

.progressContainer {
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
    overflow: hidden;
}
/* Message */
.message {
    margin: 1em 0;
    padding: 10px 20px;
    border: solid 1px #FFDD99;
    background-color: #FFFFCC;
    overflow: hidden;
}
/* Error */
.red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

/* Current */
.green {
    border: solid 1px #DDF0DD;
    background-color: #EBFFEB;
}

/* Complete */
.blue {
    border: solid 1px #9ecddd;
    background-color: #ecf7fb;
}


/*  通用订单开始  */
.leftSpace li{
    margin-left: 40px;
}
.orderInfoTab th{
    text-align: right;
    color: #333;
}
.orderInfoTab th em{
    color: #ff0000;
    margin-right: 3px;
    vertical-align: middle;
}
.orderInfoTab th,.orderInfoTab td{
    padding: 0 3px 8px;
}
.orderInfoTab td{
    color: #454545;
}
.orderInfoTab .remarkText{
    width: 360px;
    height: 40px;
    padding: 5px;
    resize: none;
}
.grid-table .redFonts{
    color: #ff0000;
}
.grid-table .leaveOneLine{
    color: #0066cc;
    cursor: default;
}
.grid-table .leaveOneLine:hover{
    color: #0066cc;
    text-decoration: none !important;
}
.grid-table .overFlowEllipsis{
    width: 150px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.grid-table .textAlignCenter{
    text-align: center;
}
.btn-ac-blue b{
    font-weight: 500;
}

/*  重置通用table样式  */
.information_div{ background:#fff; padding:15px 10px; margin-bottom:10px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2;}
.information_tab td{ line-height:33px;}
.information_tab td input{ padding-left:3px; height:20px; line-height:20px;}
.information_tab td select{ height:22px; line-height:22px;}
.information_tab th{ text-align: right; padding-right: 5px; font-weight: 500;}

.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:25px;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid tbody td em{ color:#339900; font-weight:bold;}
.tgrid tbody td i{ color:#ff6600; font-weight:bold;}


.tgrid .nameEllipsis{
    width: 85px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.tgrid .remarkContent{
    width: 100px;
    display: inline-block;
}
.tgrid .noWhiteSpace{
    white-space: normal;
    overflow: inherit;
}
.namesTwoLinesEllipsis{
    width: 75px;
    display: inline-block;
}
















