/*采购商 机加酒 确认单*/
html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    font-family: "microsoft yahei", "Arial", "Helvetica", "sans-serif";
	-webkit-text-size-adjust:none;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {
	list-style-type:none;
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
}

.main-wrapper {
    width:800px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}
.topBar {
    background: url("../images/store/jijiajiu/affirmTopBg.jpg") no-repeat;
    width:800px;
    height: 73px;
    position: relative;
}
.topBar .logo {
    background: url("../images/store/newLogo.png") no-repeat;
    width:120px;
    height: 41px;
    display: inline-block;
    margin: 15px 0 0 30px;
}
.topBar h1 {
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 20px;
    top:20px;
}
.mainContent {
    border: 1px solid #ff4e34;
}
.mainContentRow li {
    border-bottom:1px solid #ccc;
    padding: 6px 10px;
    font-size: 14px;
    color: #666;
}
.mainContentRow li:last-child {
    border-bottom:none;
}
.mainContentRow li h2 {
    font-size: 16px;
    color: #ff3300;
    font-weight: bold;
    position: relative;
    line-height: 30px;
}
.mainContentRow li h2 i {
    background: url("../images/store/jijiajiu/affirmIcon.jpg") no-repeat 0 -2px;
    width:8px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.font-blue16 {
    font-size: 16px;
    color: #0099cc;
}
.mainContentRow li h2 b {
    margin-left: 10px;
}
.rowTitleR {
    position: absolute;
    right: 0px;
    top:4px;
    color: #666;
    font-size: 14px;
    font-weight: normal;
}
.inRowContent {
    border-top:1px dashed #ccc;
    padding: 6px 10px 0 10px;
    font-size: 14px;
    color: #666;
    margin: 5px -10px 0 -10px;
    clear: both;
}
.inRowContent table {
    margin: 0 -10px;
}
.inRowContent th:first-child, .inRowContent td:first-child {
    padding-left: 3px;
}
.inRowContent th {
    color: #0099cc;
    border-bottom: 1px dashed #ccc;
    padding: 0 0 5px 0;
}
.inRowContent td {
    padding: 2px 0;
}
.font-gray20 {
    font-size: 20px;
    color: #333;
}
.font20 {
    font-size: 20px;
}
.inRowContent b {
    margin-right: 15px;
}
.inRowContent dl {
}
.inRowContent dt {
    float: left;
    font-weight: bold;
    padding: 6px 0;
}
.inRowContent dd {
    border-bottom: 1px dashed #ccc;
    padding: 6px 0;
    margin: 0 0 0 80px;
}
.inRowContent .noBorderDd {
    border-bottom: none;
}
.bottomBar {
    background: url("../images/store/jijiajiu/affirmBottomBg.jpg") no-repeat;
    width:800px;
    height: 86px;
}
.inBottomBar {
    text-align: center;
    vertical-align: middle;
    padding: 12px 0 0 0;
}
.inBottomBar p {
    color: #fff;
    font-size: 14px;
}