@charset "utf-8";
/* CSS Document */

/* 积分规则设置 S */
.fixedMenu .currentState {
    background: #FFFFFF;
    border-bottom: 3px solid #ff7702;
    color: #333333;
}
.topFixedToolsBar .fixedMenu{
    width: auto;
}
.integralBlock .block-field {
    background-color:#fff;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom:1px dashed #c0c0c0;
}
.integralBlock .block-title {
    margin-bottom:10px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
}
.integralBlock .block-con {
    color:#666;
    margin-top:15px;
}
.integralBlock .integralDiv {
    padding-left:20px;
}
.integralBlock .integralDiv span {
    margin-right: 5px;
}
.integralBlock .integralDiv .operBtn, .integralBlock .integralUl .operBtn {
    margin: 0 0 0 30px;
    color: #0066cc;
    cursor: pointer;
}
.integralBlock .integralUl .operBtn {
    margin-left: 0;
}
.integralBlock .integralDiv .save, .integralBlock .integralUl .save {
    margin-right: 20px;    
}
.integralDiv input, .integralUl input {
    padding:0 0 0 3px;
    margin-right: 5px;
}
.integralDiv input[readonly='readonly'] {
    border: 1px solid #fff;
    background: none;
}
.integralUl input[readonly='readonly'] {
    border: 1px solid #f2fbff;
    background: none;
}
.integralBlock .integralUl {
    overflow: hidden;
}
.integralBlock .integralUl li {
    float: left;
    display: inline-block;
    border: 1px solid #c1deec;
    background: #f2fbff;
    padding:15px;
    margin: 0 0 20px 20px;
    width:158px;
    height: 83px;
}
.integralBlock .integralUl li:hover {
    border: 1px solid #42abdf;
}
.integralBlock .integralUl .liTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.integralBlock .integralUl .marginR {
    margin-right: 20px;
}
.integralBlock .integralUl li .operBtnP {
    display: none;
    margin-top: 15px;
}
.integralBlock .integralUl li:hover .operBtnP {
    display: block;
}

/* 积分规则设置 E */