@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
img,input{ border:0px;}
a{ text-decoration:none; color:#606060;}
ul li{ list-style-type:none;}
body{ width:100%; height:auto; font-family:Arial, Helvetica, sans-serif,微软雅黑; font-size:12px; color:#333; background-color:#fff;}

.guanli{ width:983px; height:auto; margin:0 auto;}

.chaxun_content{ width:980px; height:145px; border:1px solid #797979; margin-top:10px;}
.tianxie_content{ width:820px; height:145px; float:left; font-size:14px; font-weight:bold;}
.tianxie_content select{ font-size:14px;}
.tianxie_content input{ border-left:1px solid #dbdfe6; border-right:1px solid #dbdfe6; border-bottom:1px solid #dbdfe6; border-top:1px solid #abadb3; font-size:14px;}
.tianxie_content_1{ width:805px; height:30px; line-height:30px; float:left; margin-top:8px; margin-left:10px;}
.pnr_p,.hongkonggongshi{ width:195px; float:left;}
.pnr_p span,.dingdanhao_1 span{ width:50px; padding-left:5px; display:block; float:left; font-weight:bold;}
.pnr_p input{ width:90px; height:25px; float:left;}
.dingdanhao_1{ width:220px; height:30px; line-height:30px; float:left;}
.dingdanhao_1 input,.zhi input{ width:140px; height:25px; float:left;}
.zuangtai{ width:167px; float:left;}
.zuangtai span{ width:65px; float:left; display:block; padding-left:5px; font-weight:bold;}
.zuangtai select{ width:95px; height:25px; font-size:14px; display:block; margin-top:2px;}
.hongkonggongshi span,.chungjianriqi span{ width:65px; padding-left:5px; display:block; float:left; font-weight:bold;}
.hongkonggongshi input{ width:110px; height:25px; float:left;}
.chungjianriqi{ width:210px; height:30px; line-height:30px; float:left;}
.chungjianriqi input{ width:130px; height:25px; float:left;}
.zhi{ width:235px; height:30px; line-height:30px; float:left;}
.zhi span{ width:25px; text-align:left; line-height:30px; float:left; font-weight:bold; display:block;}
.hangcheng{ width:163px; float:left;}
.hangcheng span{ width:43px; display:block; float:left; font-weight:bold;}
.hangcheng input{ width:115px; height:25px; display:block; float:left;}
.tianxie_content_2{ width:805px; height:30px; line-height:30px; float:left; margin-top:5px; margin-left:10px; font-weight:bold; font-size:14px;}
.chuangjiaren{ width:215px; float:left;}
.chuangjiaren select{ width:70px; height:25px; float:left; font-size:14px; background:#e4e4e4; margin-top:2px;}
.chuangjiaren input{ width:115px; height:25px; float:left; display:block; padding-left:5px; font-size:14px;}
.jiandan{ width:317px; float:left;}
.jiandan span,.chupiaodian span{ width:83px; float:left; display:block;}
.jiandan input,.chupiaodian input,.kehumingcheng input{ width:143px; float:left; display:block; height:25px; line-height:25px; color:#666; padding-left:5px; font-size:14px;}
.jiandan a,.chupiaodian a,.kehumingcheng a{ width:34px; height:27px; float:left; display:block; background:url(../images/shoushuo.png) no-repeat center center;}
.chupiaodian{ width:270px; float:left; display:block;}
.kehumingcheng{ width:290px; float:left;}
.kehumingcheng span{ width:70px; display:block; float:left;}
.jiesuanfangshi{ width:200px; float:left;}
.jiesuanfangshi span{ width:73px; float:left; display:block;}
.jiesuanfangshi select,.gongyingshang select{ width:90px; float:left; font-size:14px; margin-top:2px;}
.gongyingshang{ width:160px; float:left;}
.gongyingshang span{ width:55px; float:left; display:block;}
.chaxun_btn{ width:150px; height:145px; float:left;}
.chaxun_btn a{ font-size:14px; width:101px; height:26px; line-height:26px; display:block; margin-top:60px; text-align:center; margin-left:30px;}
a.chaxun_btn_a:link{ background:url(../images/chaxun_a_bg.png) no-repeat -50% 50%;}
a.chaxun_btn_a:hover{ background:url(../images/chaxun_a_bg_1.png) no-repeat 50% 50%;}

.table_1{ width:980px; height:370px; margin-top:10px; border-collapse:collapse; font-size:14px; text-align:center; margin-bottom:10px;}
.table_1 td{ border:1px solid #ccc;}
.table_1 th{ background:#e4e4e4; border:1px solid #ccc;}
.table_1_td_4{ background:#ccffff;}
.table_1_th1{ width:135px;}
.table_1_th2{ width:78px;}
.table_1_th3{ width:118px;}
.table_1_th4{ width:75px;}
.table_1_th5{ width:72px;}
.table_1_th6,.table_1_th9{ width:65px;}
.table_1_th7{ width:110px;}
.table_1_th8{ width:90px;}
.table_1_th10{ width:73px;}
.table_1_th11{ width:85px;}
.lasttd{ vertical-align:bottom; padding-bottom:2px;}
.fanye{ width:310px; float:right;}
.fanye-left-img{ width:12px; height:30px; float:left; display:block; margin-left:10px;}
.fanyeul{ width:210px; height:30px; line-height:30px; float:left; margin-left:10px;}
.fanyeul li{ width:28px; text-align:center; float:left;}
.fanye-ul-li{ border:1px solid #e7e7e7; background:#f7f7f7; border-bottom:2px solid #ff6c00; font-weight:bold;}


