/* 分销商开始*/
.tdxTitle{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e1e1;
}
.tdxTitle .tdxIcon{
    display: inline-block;
    width: 29px;
    height: 29px;
    background:url("../images/distributor/smallIcon.png") no-repeat 0 0;
    vertical-align: middle;
}
.tdxTitle h3{
    font-size: 14px;
    font-weight: bold;
    float: left;
    line-height: 29px;
}
.tdxTitle .tdxFonts{
    float: right;
    font-size: 14px;
    cursor: pointer;
    color: #333333;     
}
.tdxTitle .tdxFonts:hover{
    color: #ff5a00;
    text-decoration: none;
}
.tdxTitle .tdxFonts:hover .tdxIcon{
    background: url("../images/distributor/smallIcon.png") no-repeat -34px 0;
}
.searchModel{
    margin: 12px 0;
}
.searchModel tr{ 
    line-height: 35px;
}
.tabListDetail .orderNumber{
    display: inline-block;
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cf6b00;
}
.tabListDetail .ellipsisOverflow{
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabListDetail td div{
    line-height: 20px;
}