.block1{
    padding:10px;
}
.block1 input{
    color:#666;
}
.block1 .col-l{
    float:left;
    width:850px;
}
.block1 .flat-list li{
    width:200px;
    margin-bottom:10px;
}
.block1 .flat-list label{
    display:inline-block;
    width:53px;
}
.block2 .block-header{
    border-bottom:1px solid #C6C6C6;
    padding:5px 15px;
    line-height:30px;
    background-color:#F6F6F6;
}
.block2 .flat-list li{
    margin-right:10px;
}
.block .grid-table{
    width:100%;
}
.grid-table .thead{
    border-bottom:3px solid #FFA86E;
}
.block2 .text1{
    color:#FF6B00;
}
.grid-row-ac .btns{
    color:#0065CB;
    margin:0 5px;
}
.grid-table .highlight{
    background-color:#FFFFDB;
}
.k-widget .k-input{
    text-indent:0;
    box-shadow:none;
}
.popup-window li{
    width:200px;
    margin-bottom:10px;
}
.popup-window label{
    width:73px;
    display:inline-block;
    font-weight:bold;
}
.popup-window{
    padding:10px;
}
.popup-window .text1{
    color:#f60;
}
.popup-window textarea{
    border:1px solid #ccc;
    width:300px;
    height:100px;
}

