/*航空公司 大logo*/
.logo_3U, .logo_3u {
	background:url(../images/airline_logo.png) no-repeat 0 0;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_8C, .logo_8c {
	background:url(../images/airline_logo.png) no-repeat 0 -28px;
	width:38px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_8L, .logo_8l {
	background:url(../images/airline_logo.png) no-repeat 0 -56px;
	width:20px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BK, .logo_bk {
	background:url(../images/airline_logo.png) no-repeat 0 -84px;
	width:26px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CA, .logo_ca {
	background:url(../images/airline_logo.png) no-repeat 0 -112px;
	width:25px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CN, .logo_cn {
	background:url(../images/airline_logo.png) no-repeat 0 -140px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CZ, .logo_cz {
	background:url(../images/airline_logo.png) no-repeat 0 -168px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_EU, .logo_eu {
	background:url(../images/airline_logo.png) no-repeat 0 -197px;
	width:28px;
	height:29px;
	display:inline-block;
	vertical-align:middle;
}
.logo_FM, .logo_fm {
	background:url(../images/airline_logo.png) no-repeat 0 -226px;
	width:53px;
	height:29px;
	display:inline-block;
	vertical-align:middle;
}
.logo_G5, .logo_g5 {
	background:url(../images/airline_logo.png) no-repeat 0 -254px;
	width:26px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_GS, .logo_gs {
	background:url(../images/airline_logo.png) no-repeat 0 -282px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_HO, .logo_ho {
	background:url(../images/airline_logo.png) no-repeat 0 -310px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_HU, .logo_hu {
	background:url(../images/airline_logo.png) no-repeat 0 -338px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_KN, .logo_kn {
	background:url(../images/airline_logo.png) no-repeat 0 -366px;
	width:39px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MF, .logo_mf {
	background:url(../images/airline_logo.png) no-repeat 0 -394px;
	width:34px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MU, .logo_mu {
	background:url(../images/airline_logo.png) no-repeat 0 -422px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_NS, .logo_ns {
	background:url(../images/airline_logo.png) no-repeat 0 -450px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_PN, .logo_pn {
	background:url(../images/airline_logo.png) no-repeat 0 -478px;
	width:31px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_SC, .logo_sc {
	background:url(../images/airline_logo.png) no-repeat 0 -506px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_ZH, .logo_zh {
	background:url(../images/airline_logo.png) no-repeat 0 -534px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_VD, .logo_vd {
	background:url(../images/airline_logo.png) no-repeat 0 -562px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_JR, .logo_jr {
	background:url(../images/airline_logo.png) no-repeat 0 -591px;
	width:33px;
	height:29px;
	display:inline-block;
	vertical-align:middle;
}
.logo_9W, .logo_9w {
	background:url(../images/airline_logo.png) no-repeat 0 -619px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AA, .logo_aa {
	background:url(../images/airline_logo.png) no-repeat 0 -647px;
	width:34px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AB, .logo_ab {
	background:url(../images/airline_logo.png) no-repeat 0 -675px;
	width:22px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AC, .logo_ac {
	background:url(../images/airline_logo.png) no-repeat 0 -703px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AF, .logo_af {
	background:url(../images/airline_logo.png) no-repeat 0 -731px;
	width:42px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AI, .logo_ai {
	background:url(../images/airline_logo.png) no-repeat 0 -759px;
	width:40px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AY, .logo_ay {
	background:url(../images/airline_logo.png) no-repeat 0 -787px;
	width:26px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AZ, .logo_az {
	background:url(../images/airline_logo.png) no-repeat 0 -815px;
	width:40px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BA, .logo_ba {
	background:url(../images/airline_logo.png) no-repeat 0 -843px;
	width:52px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BD, .logo_bd {
	background:url(../images/airline_logo.png) no-repeat 0 -871px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BI, .logo_bi {
	background:url(../images/airline_logo.png) no-repeat 0 -900px;
	width:41px;
	height:29px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BR, .logo_br {
	background:url(../images/airline_logo.png) no-repeat 0 -928px;
	width:39px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CI, .logo_ci {
	background:url(../images/airline_logo.png) no-repeat 0 -956px;
	width:35px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CO, .logo_co {
	background:url(../images/airline_logo.png) no-repeat 0 -984px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CX, .logo_cx {
	background:url(../images/airline_logo.png) no-repeat 0 -1012px;
	width:42px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_DL, .logo_dl {
	background:url(../images/airline_logo.png) no-repeat 0 -1040px;
	width:35px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_EK, .logo_ek {
	background:url(../images/airline_logo.png) no-repeat 0 -1068px;
	width:22px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_ET, .logo_et {
	background:url(../images/airline_logo.png) no-repeat 0 -1096px;
	width:31px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_FT, .logo_ft {
	background:url(../images/airline_logo.png) no-repeat 0 -1124px;
	width:37px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_GA, .logo_ga {
	background:url(../images/airline_logo.png) no-repeat 0 -1152px;
	width:58px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_JK, .logo_jk {
	background:url(../images/airline_logo.png) no-repeat 0 -1180px;
	width:58px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_JL, .lggo_jl {
	background:url(../images/airline_logo.png) no-repeat 0 -1208px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_JP, .logo_jp {
	background:url(../images/airline_logo.png) no-repeat 0 -1236px;
	width:56px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_KA, .logo_ka {
	background:url(../images/airline_logo.png) no-repeat 0 -1264px;
	width:20px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_KE, .logo_ke {
	background:url(../images/airline_logo.png) no-repeat 0 -1292px;
	width:27px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_KL, .logo_kl {
	background:url(../images/airline_logo.png) no-repeat 0 -1320px;
	width:47px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_KQ, .logo_kq {
	background:url(../images/airline_logo.png) no-repeat 0 -1348px;
	width:34px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_LA, .logo_la {
	background:url(../images/airline_logo.png) no-repeat 0 -1376px;
	width:57px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_LH, .logo_lh {
	background:url(../images/airline_logo.png) no-repeat 0 -1404px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_LO, .logo_lo {
	background:url(../images/airline_logo.png) no-repeat 0 -1432px;
	width:56px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_LX, .logo_lx {
	background:url(../images/airline_logo.png) no-repeat 0 -1460px;
	width:37px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_LY, .logo_ly {
	background:url(../images/airline_logo.png) no-repeat 0 -1488px;
	width:57px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MA, .logo_ma {
	background:url(../images/airline_logo.png) no-repeat 0 -1516px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MH, .logo_mh {
	background:url(../images/airline_logo.png) no-repeat 0 -1544px;
	width:39px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_NH, .logo_nh {
	background:url(../images/airline_logo.png) no-repeat 0 -1572px;
	width:58px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_NW, .logo_nw {
	background:url(../images/airline_logo.png) no-repeat 0 -1600px;
	width:52px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_NX, .logo_nx {
	background:url(../images/airline_logo.png) no-repeat 0 -1628px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_NZ, .logo_nz {
	background:url(../images/airline_logo.png) no-repeat 0 -1657px;
	width:27px;
	height:29px;
	display:inline-block;
	vertical-align:middle;
}
.logo_OK, .logo_ok {
	background:url(../images/airline_logo.png) no-repeat 0 -1685px;
	width:27px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_OS, .logo_os {
	background:url(../images/airline_logo.png) no-repeat 0 -1713px;
	width:58px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_OZ, .logo_oz {
	background:url(../images/airline_logo.png) no-repeat 0 -1741px;
	width:35px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_PG, .logo_pg {
	background:url(../images/airline_logo.png) no-repeat 0 -1769px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_PR, .logo_pr {
	background:url(../images/airline_logo.png) no-repeat 0 -1797px;
	width:48px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_QF, .logo_qf {
	background:url(../images/airline_logo.png) no-repeat 0 -1825px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_QR, .logo_qr {
	background:url(../images/airline_logo.png) no-repeat 0 -1853px;
	width:33px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_SK, .logo_sk {
	background:url(../images/airline_logo.png) no-repeat 0 -1881px;
	width:30px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_SN, .logo_sn {
	background:url(../images/airline_logo.png) no-repeat 0 -1909px;
	width:23px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_SQ, .logo_sq {
	background:url(../images/airline_logo.png) no-repeat 0 -1937px;
	width:25px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_SU, .logo_su {
	background:url(../images/airline_logo.png) no-repeat 0 -1965px;
	width:46px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_TG, .logo_tg {
	background:url(../images/airline_logo.png) no-repeat 0 -1993px;
	width:29px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_TK, .logo_tk {
	background:url(../images/airline_logo.png) no-repeat 0 -2021px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_UA, .logo_ua {
	background:url(../images/airline_logo.png) no-repeat 0 -2049px;
	width:26px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_UL, .logo_ul {
	background:url(../images/airline_logo.png) no-repeat 0 -2078px;
	width:37px;
	height:29px;
	display:inline-block;
	vertical-align:middle;
}
.logo_UN, .logo_un {
	background:url(../images/airline_logo.png) no-repeat 0 -2105px;
	width:39px;
	height:27px;
	display:inline-block;
	vertical-align:middle;
}
.logo_VN, .logo_un {
	background:url(../images/airline_logo.png) no-repeat 0 -2133px;
	width:46px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_VS, .logo_vs {
	background:url(../images/airline_logo.png) no-repeat 0 -2161px;
	width:40px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_VV, .logo_vv {
	background:url(../images/airline_logo.png) no-repeat 0 -2189px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_HX, .logo_hx {
	background:url(../images/airline_logo.png) no-repeat 0 -2217px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_UO, .logo_uo {
	background:url(../images/airline_logo.png) no-repeat 0 -2245px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_JD, .logo_jd {
	background:url(../images/airline_logo.png) no-repeat 0 -2273px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_EY, .logo_ey {
	background:url(../images/airline_logo.png) no-repeat 0 -2301px;
	width:51px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_US, .logo_us {
	background:url(../images/airline_logo.png) no-repeat 0 -2329px;
	width:47px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_KY, .logo_ky {
	background:url(../images/airline_logo.png) no-repeat 0 -2357px;
	width:44px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AE, .logo_ae {
	background:url(../images/airline_logo.png) no-repeat 0 -2385px;
	width:38px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_GE, .logo_ge {
	background:url(../images/airline_logo.png) no-repeat 0 -2413px;
	width:29px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_B7, .logo_b7 {
	background:url(../images/airline_logo.png) no-repeat 0 -2441px;
	width:39px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MI, .logo_mi {
	background:url(../images/airline_logo.png) no-repeat 0 -2469px;
	width:41px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_IY, .logo_iy {
	background:url(../images/airline_logo.png) no-repeat 0 -2497px;
	width:53px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AM, .logo_am {
	background:url(../images/airline_logo.png) no-repeat 0 -2525px;
	width:34px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MS, .logo_ms {
	background:url(../images/airline_logo.png) no-repeat 0 -2553px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_3K, .logo_3k {
	background:url(../images/airline_logo.png) no-repeat 0 -2581px;
	width:54px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_JQ, .logo_jq {
	background:url(../images/airline_logo.png) no-repeat 0 -2609px;
	width:54px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BL, .logo_bl {
	background:url(../images/airline_logo.png) no-repeat 0 -2637px;
	width:54px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_VF, .logo_vf {
	background:url(../images/airline_logo.png) no-repeat 0 -2665px;
	width:30px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_HY, .logo_hy {
	background:url(../images/airline_logo.png) no-repeat 0 -2693px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_TV, .logo_tv {
	background:url(../images/airline_logo.png) no-repeat 0 -2721px;
	width:24px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_AS, .logo_as {
	background:url(../images/airline_logo.png) no-repeat 0 -2749px;
	width:26px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_HA, .logo_ha {
	background:url(../images/airline_logo.png) no-repeat 0 -2777px;
	width:29px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_S7, .logo_s7 {
	background:url(../images/airline_logo.png) no-repeat 0 -2805px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_OM, .logo_om {
	background:url(../images/airline_logo.png) no-repeat 0 -2833px;
	width:42px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_SA, .logo_sa {
	background:url(../images/airline_logo.png) no-repeat 0 -2861px;
	width:35px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_9C, .logo_9c {
	background:url(../images/airline_logo.png) no-repeat 0 -2889px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MK, .logo_mk {
	background:url(../images/airline_logo.png) no-repeat 0 -2917px;
	width:53px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MD, .logo_md {
	background:url(../images/airline_logo.png) no-repeat 0 -2945px;
	width:45px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_WS, .logo_ws {
	background:url(../images/airline_logo.png) no-repeat 0 -2973px;
	width:27px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_FE, .logo_fe {
	background:url(../images/airline_logo.png) no-repeat 0 -3001px;
	width:54px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_TZ, .logo_tz {
	background:url(../images/airline_logo.png) no-repeat 0 -3025px;
	width:32px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BX, .logo_bx {
	background:url(../images/airline_logo.png) no-repeat 0 -3059px;
	width:57px;
	height:19px;
	display:inline-block;
	vertical-align:middle;
}
.logo_OX, .logo_ox {
	background:url(../images/airline_logo.png) no-repeat 0 -3082px;
	width:32px;
	height:35px;
	display:inline-block;
	vertical-align:middle;
}
.logo_O8, .logo_o8 {
	background:url(../images/airline_logo.png) no-repeat 0 -3118px;
	width:45px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
}