/* 
    Document   : flight
    Created on : 2013-5-10, 10:40:25
    Author     : 234
    Description:
        Purpose of the stylesheet follows.
*/
body {font-size:0.8em;}
#container {margin:0 auto;width:960px;text-align:left;}
.top_header h1 {width:192px;height:74px; background:url(../images/logo.gif) no-repeat left top;float:left;position:relative;}

.profile {float:right;padding:3px;margin-top:20px;margin-right:20px;}
.title{color:#DA0CF4;padding:5px;border-bottom:1px solid #cccccc;margin:10px 0}

.button_main_m {
    background: url("../images/btns.png") no-repeat scroll -408px 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    font-size: 12px;
    height: 21px;
    width: 56px;
}
