.ptnav {position:fixed; top:122px;height:40px;z-index:100;background-color:#D0F2FC;}
.ptnav ul {border-left:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;}
.ptnav li,.ptnav li a {display:block;float: left;width:150px;height:40px;text-align:center;line-height:40px;border-right:1px solid #cbcbcb;} 
.ptnav li.first,.ptnav li.first a{width:60px;}
.ptnav li.last {width:240px;}

.addHotel {margin-top:40px;}
.addHotel table {width:100%;} 
.addHotel table td {padding:5px;} 
/*.addHotel table td a {display:block;width:65px;height:25px;border:1px solid #cbcbcb;}*/
.addHotel .box {margin-top:20px;padding:1px;}
.addHotel .box h3 {position:relative;height:30px;}
.addHotel .box h3 strong {display:block;position:absolute;right:10px;top:5px;}
.addHotel .box ul {border:1px solid #cbcbcb;}
.addHotel .box ul li {border-top:1px solid #cbcbcb;padding:5px;}

.tbform {text-align:left;}
.tbform tr td {padding:5px;}
.stext {width:40px;}

.addroomtype td ul li {display:block;width:120px;float:left;}
