.panelTitle {
    border: 0
}

input[type=text] {
    width: 138px;
    height: 20px
}

select {
    width: 150px
}

.priceDetailHead {
    background: #E4E4E4;
    border-bottom: 3px solid #FFA96D !important;
    height: 25px;
    border-right:1px solid #ffffff !important;
    text-align: center;
}
td.priceDetailHead:last-child{
    border-right-color: #E0E0E0 !important;
}

.priceDetailSubHeadB {
    height: 38px;
    background: #E1F5FF;
    text-align: center;
    vertical-align: middle;
}

.priceDetailSubHeadY {
    background: #FFFDE9;
    width: 95px;
    padding: 8px
}
.priceDetailSubHeadG td{
    background: #F5F5F5;
    color: #656565;
}

.priceDetailSubHeadY, .priceDetailSubHeadB {
    border: 1px solid #E0E0E0;
    border-width: 0 1px 1px 0
}

.priceDetailAmount td{
    background:#F5F5F5;
    padding:5px;
    color: #656565;
}

.priceDetailFoot{
    background-color: #F5F5F5;
}

.priceDetailContent {
    height: 39px;
    vertical-align: middle;
    border: 1px solid #E0E0E0;
    border-width: 0 1px 1px 0
}
.priceDetail .salePrice{color:#ff4e00}
.priceDetail td{border:1px solid #E0E0E0;padding:10px 0;vertical-align:middle}

.tbl_orderPrice td {
    border: 1px solid #8BCAE6;
    height:30px;
    vertical-align: middle;
    padding-left:10px;
}
.tbl_orderPriceHead {
    background: #E1F5FF;
    padding-left: 10px;
    height: 30px;
    vertical-align: middle;
}
td.tbl_orderPriceLeftHead{
    background:#D0F1FF;
    height:60px;
    text-align:center;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    padding-left: 0;
}
.tbl_orderPriceContent td{
    padding-left: 30px;
    vertical-align: middle;
    font-size: 16px;
}
.tbl_orderPrice .money{
    font-size: 16px;
    color: #333333;
}

.tbl_common td {
    border: 1px solid #D5D5D5;
    color:#666;
    vertical-align: middle;
}

.tbl_common thead td {
    background: #F5F5F5;
    color:#333;
}
.tbl_common .td_head{
    background: #F5F5F5;
    color:#333;
}
.tbl_common .oper-leftAlign {
    text-align: left;
    position:relative;
}
.tbl_common .oper-leftAlign span {
    position:absolute;
    cursor:pointer;
    color:#0066cc;
    right:10px;
    top:10px;
}
.tbl_common .oper-leftAlign span:hover {
    text-decoration: underline;
}

.popwin {
    color: #0066cc
}

.hotelOrderStatusContainer {
    float: left;
    padding: 20px 10px
}

.statusContainer {
    float: left;
    position: relative;
    padding: 15px 10px 5px
}

.statusContainer.first .statusLineLeft {
    display: none
}

.statusContainer.last .statusLineRight {
    display: none
}

.statusDot {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    z-index: 2;
    top: 0
}

.statusLine {;
    z-index: 1
}

.status_ing {
    color: #ff6600
}

.status_ing .statusDot {
    background: url('../images/hotel_order_status_dot_ing.gif') no-repeat
}

.status_ing .statusLineLeft {
    width: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    border-top: 2px solid #00a000
}

.status_ing .statusLineRight {
    width: 50%;
    position: absolute;
    top: 4px;
    right: 0;
    border-top: 2px solid #e9e9e9
}

.status_complete {
    color: #00a000
}

.status_complete .statusDot {
    background: url('../images/hotel_order_status_dot_complete.gif') no-repeat
}

.status_complete .statusLineLeft {
    width: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    border-top: 2px solid #00a000
}

.status_complete .statusLineRight {
    width: 50%;
    position: absolute;
    top: 4px;
    right: 0;
    border-top: 2px solid #00a000
}

.status_uncomplete {
    color: #666666
}

.status_uncomplete .statusDot {
    background: url('../images/hotel_order_status_dot_uncomplete.gif') no-repeat
}

.status_uncomplete .statusLineLeft {
    width: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    border-top: 2px solid #e9e9e9
}

.status_uncomplete .statusLineRight {
    width: 50%;
    position: absolute;
    top: 4px;
    right: 0;
    border-top: 2px solid #e9e9e9
}

.priceDetail_otherToolTip{cursor:pointer}
.hotelOrderStatusContainer .exception{color:#ff0000}
.hotelOrderStatusContainer .exception .statusDot{background: url('../images/hotel_order_status_dot_exception.gif') no-repeat}

.complete{font-weight:bold;color: #00a000}
.ing{font-weight:bold;color: #ff6600}

.fieldName{background:#f5f5f5;color:#333}

.liuzhangInfoContainer{display: none;margin-top: 10px}


/*确认单*/


.k-dropdown{vertical-align:top}

.journalCurrentNo{color: #ff6600;padding:0 3px}
.journalTotalPageNo{padding:0 5px 0 3px}


.optgroup{background-color:#fff;color:#333;text-decoration:none;font-weight:bold}
.option{text-decoration:none;padding-left:5px}

#smTemplate{
    padding:10px 50px;
}

.money{
    color:#FF6603;
}

.customerInfo td{
    text-align: center;
}

.tbl_supplierInfo .fieldName{
    vertical-align: middle;
    text-align: center;
}

.trimStripLeft{
    width:7px;
    background:#FE7218;
    float:left;
    height:63px;
}
.trimStripRight{
    width:7px;
    background:#439CD3;
    float:right;
    height:63px;
}
.relatedOrderContainer{
    width:77px;
    background:#cff3fc;
    float:right;
    height:63px;
}
.relatedOrderType {
    float: left;
    padding: 13px 0px 0 9px;
    line-height: 1.5;
}
.relatedOrderNum{
    font-size: 40px;
    line-height: 63px;
}
.orderStatusInfoContainer{
    margin:0 7px;
    height:63px;
}
.orderStatusInfoLeftPanel{
    width:452px;
    float:left;
    border-right:1px dashed #FADBD3;
    height:63px;
    background:#FFFBF5;
    padding:0 0 0 20px;
}
.orderStatusInfoRightPanel{
    width:388px;
    margin-left:453px;
    height:63px;
}
.orderStatusBasicInfo{
    line-height: 63px;
}
.orderStatusBasicInfo .orderNo{
    color:#FF4200;
    font-weight: bold;
    font-size:16px;
}
.orderStatusBasicInfo .orderType{
    color:#888986;
    padding-left:20px;
}
#bookingProduct .txt_orange,.txt_orange{
    color:#FF6700;
}
.txt-price {
    float: right;
    padding-right: 58px;
    font-size: 16px;
}
.txt-price em {
    font-family: Arial;
}
.fwb{
    font-weight: bold;
}
.tbl_priceDetail td{
    border:1px solid #E0E0E0;
    vertical-align: middle;
}
.ico_right{
    background: url("../images/operation.png") -27px 0 no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.tbl_hotelRules td{
    vertical-align: middle;
    line-height: 2;
}
.btn_checkSupplierRules{
    color:#0065CB;
    background:url("../images/arrow_blue.gif") center right no-repeat;
    padding-right: 12px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    z-index: 1000;
}
.numRemind,.numRemind_max{
    width: 26px;
    height: 15px;
    background: url("../images/numRemind.gif") no-repeat;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    color: #ffffff;
    font-weight: bold;;
    margin-left: 5px;
}
.numRemind_max{
    background: url("../images/numRemind_max.gif") no-repeat;
    text-indent: -3000px;
}
.checkSupplierRulesContainer{
    position:relative;
}
.checkSupplierRulesContainer .tab{
    position: absolute;
    width:132px;
    height: 36px;
    border:1px solid #D5D5D5;
    border-bottom: 1px solid #ffffff;
    top:-37px;
    right: 0;
    background:#ffffff;
}
.checkSupplierRulesContent{
    border:1px solid #D5D5D5;
    padding:20px;
    background:#ffffff;
}
.checkSupplierRulesContent li{
    list-style: disc;
    margin:5px 0 0 20px;
}
.vfengexian{
	position: absolute;
	top: 10px;
	left: 352px;
	width: 1px;
	border-right: 1px dashed #353535;
	height: 96%;
}
.tdx_rulesContainer{
	float: left;
	width:340px;
	padding:10px;
}
.gta_rulesContainer{
	float:left;
	width:320px;
	padding:10px;
}
.rulesContainer{
	position: relative;
}
.rulesContainer .title{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.rulesContainer .subTitle{
	font-weight: bold;
	margin-top: 20px;
	padding-left: 10px;
}
.rulesContainer li{
	padding-left: 10px;
	margin-top: 10px;
	line-height: 1.5
}
.rulesContainer li.current{
	background: url("../images/tjxg_right_bg.png") left center no-repeat;
	color: #FF7000;
}
.amount{
	border-top: 1px solid #E5E5E5;
	padding: 10px 0 40px;
	margin:10px;
}
.amountDetail{
	width:370px;
	float:left;
}
.popWinBottomButtonContainer{
	margin: 20px 0;
	text-align: center;
}
.tddPrompt{
	border:1px solid #9A9A9A;
	padding:20px 20px 0;
	background: #F3F1F2;
}

/*   机加酒 订单详情样式  */
.orderTypeStyle{
    line-height: 1;
    margin-top: 13px;
}
.orderTypeStyle .orderType{
    padding: 8px 0 0 0;
}
.operation_records .leftAligning{
    text-align: left;
    line-height: 20px;
}
.operation_records td{
    vertical-align: middle;
}
.tabCenterStyle td{
    text-align: center;
    padding: 7px 5px;    
}
.tabCenterStyle td a{
    color: #0066cc;
}
.tabCenterStyle td a:hover{
    text-decoration: underline;
}
.tabCenterStyle .productFlight,.tabCenterStyle .productHotel, .tabCenterStyle .productTickets {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../images/operator/operatorIcon.png") no-repeat;
}
.tabCenterStyle .productFlight{
    background-position: 0 0;
}
.tabCenterStyle .productHotel{
    background-position: -25px 0;
}
.tabCenterStyle .productTickets {
    background-position: 0 -321px;
}
.tabCenterStyle .editable.disable{
    text-align: center;
}
.panel .changeBtnFonts{
    position: absolute;
    right: 40px;
    top: 15px;
}
.changeBtnFonts .modifiedFonts,.changeBtnFonts .saveFonts,.changeBtnFonts .cancelFonts,
.orderInfoOperDiv .modifiedFonts,.orderInfoOperDiv .saveFonts,.orderInfoOperDiv .cancelFonts {
    color: #0066cc;
    text-align: center;
    padding: 5px 7px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}
.changeBtnFonts .modifiedFonts:hover,.changeBtnFonts .saveFonts:hover,.changeBtnFonts .cancelFonts:hover,
.orderInfoOperDiv .modifiedFonts:hover,.orderInfoOperDiv .saveFonts:hover,.orderInfoOperDiv .cancelFonts:hover {
    background-color: #beecf8;
}
.changeBtnFonts .saveAndCancel,
.orderInfoOperDiv .saveAndCancel {
    display: none;
}

/* 底部蓝色结算样式 */
.block-calc{
    background-color:#D9FFFA;
}
.block-calc input{
    padding:0 5px;
    font-size:14px;
    border:0;
    width:90px;
    height:27px;
    line-height:27px \9;
    background:url(../images/order_r11_c8.png) no-repeat;
    border-right:1px solid #cfcfcf;
    /*color: #f60;*/
    font-weight: bold;
}
.block-calc .input-b{
    line-height:49px \9;
    padding:0 5px;
    font-size:30px;
    font-weight:bold;
    border:0;
    width: 173px;
    height:49px;
    color:#f60;
    background:url(../images/order_r10_c4.png) no-repeat;
    margin-right: 5px;
}
.block-calc .input-b::-webkit-input-placeholder{
    font-size:14px;
    color:#aaa;
    font-weight:normal;
    line-height:37px;
    text-indent:10px;
}
.block-calc span{
    display:block;
    text-align: left;
    font-weight:bold;
    color:#333;
    margin-bottom:4px;
    margin-left: 18px;
}
.block-calc .text2{
    line-height: 30px;
    font-size:16px;
    color:#fe5b00;
}
.block-calc .first span{
    font-size:16px;
    width:35px;
    display:inline-block;
    vertical-align:middle;
    margin:0 5px 0 0;
}
.block-calc .flat-list{
    padding:15px 5px 15px 15px;
}
.flat-list .numberInput{
    width: 30px; 
    text-align: center;    
}
.flat-list em{
    margin:  0 3px;
}


.panel .lineNumber{
    position: absolute;
    top: 23px;
    right: 30px;
}
.lineNumber em{
    color: #999999;
}
.lineNumber a{
    color: #0066cc;
}
.lineNumber a:hover{
    text-decoration: underline;
}
.productClassify{
    padding-left:60px;
    display: inline-block;
}
.productClassify li{
    float: left;
    font-size: 14px;
    min-width: 110px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ececec;
    border-bottom: 0;
    border-top: 0;
    text-align: center;
    margin: 0 2px -2px 0;
    background-color: #ececec;
    cursor: pointer;
}
.productClassify li.current{
    background-color: #fafafa;
    border: 1px solid #8cc9e7;
    border-bottom: 0;
}

.changeModelCommonStyle{
    background-color: #fafafa;
    border: 1px solid #8cc9e7;
    padding: 10px 0;
    color: #636363;
    min-height: 190px;
    /*margin-top: 1px;*/
    margin-top: -2px;
}
.changeModelCommonStyle .trafficLive{
    width: auto;
    margin-left: 120px;
}
.trafficLive td{
    padding: 10px 3px;
    vertical-align: middle;
    line-height: 22px;
}
.trafficLive .fonts14{
    font-size: 14px;    
}
.trafficLive .greenBgFonts{
    background-color: #5184c9;
    color: #FFFFFF;
    padding: 2px 5px;
}
.trafficLive .color999{
    color: #999999;
    margin-left: 2px;
}
.trafficContent{
    border-bottom: 1px solid #e1e1e1;
}
.liveContent{
    padding: 10px 0;
}
.trafficContent,.liveContent, .ticketsContent {
    position: relative;
}
.trafficContent .flightBigIcon,.liveContent .hotelBigIcon {
    display: inline-block;
    width: 63px;
    height: 63px;
    background:url("../images/operator/operatorIcon.png") no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 15px;
}
.trafficContent .flightBigIcon{
    background-position: 0 -248px;
    top: 27%;
}
.liveContent .hotelBigIcon{
    background-position: -69px -248px;
    top: 17%;
}
.ticketsContent {
    border-top: 1px solid #e1e1e1;
    padding:25px 0;
}
.ticketsContent .ticketsBigIcon {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat -212px -173px;
    display: inline-block;
    width: 64px;
    height: 64px;
    vertical-align: middle;
    position: absolute;
    left: 15px;
    top:18px;
}
.trafficLive .logo01,.trafficLive .logo02{
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background: url("../images/operator/operatorIcon.png") no-repeat;
}
.trafficLive .logo01{
    background-position: -50px -197px;
}
.trafficLive .logo02{
    background-position: -82px -197px;
}
.trafficLive .dashedLine td{
    border-bottom: 1px dotted #79b4c1;
}
.fontsContent{
    margin-top: 10px;
}
.fontsContent:first-child{
    margin-top: 0;
}
.fontsContent .leftFonts{
    float: left;
    width: 11%;
    font-size: 14px;
    text-align: right;
    color: #333333;
    margin-top: 3px;
    padding-right: 5px;
}
.fontsContent .rightFonts{
    float: left;
    width: 88%;
}
.fontsContent .paddingBottom{
    padding-bottom: 10px;
}
.fontsContent .rightFonts p{
    line-height: 22px;
}
.fontsContent .dashedLine{
    border-bottom: 1px dotted #79b4c1;
}

.order-cancel-remark-win {
    padding: 20px 10px;
}

.order-cancel-remark-win .tip {
    color: #a0a0a0;
}

.order-cancel-remark-win textarea {
    padding: 3px;
    width: 485px;
    height: 130px;
    margin: 10px 0;
}

.win-oper-btn {
    font-size: 14px;
    text-align: right;
}

.not-cancel-order {
    margin-left: 20px;
}

.loadingHint {
    text-align: center;
    margin: 30px 0;
}

.loadingHint .gifLoadingIcon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background: url("../images/store/mini_loading.gif") no-repeat;
    margin-right: 3px;
    margin-top: -3px;
}

.loadingHint .loadingHintFonts {
    font-size: 16px;
    font-weight: bold;
    color: #636363;
}

.order-cancel-win {
    text-align: center;
}

.order-cancel-win .win-oper-btn {
    text-align: center;
}

.order-cancel-win .tip-msg {
    margin-bottom: 35px;
}

.order-cancel-win .tip-msg i.large-success-icon {
    background: url(../images/store/success-warn-icons.png) no-repeat 2px -20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 13px;
    margin: 0 10px;
}

.order-cancel-win .tip-msg span {
    font-size: 16px;
    color: #3c3c3c;
    display: inline-block;
}

.order-cancel-win i.large-fail-icon {
    background: url(../images/store/success-warn-icons.png) no-repeat -40px -20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 0px;
    margin-right: 10px;
}

.order-cancel-win .tip-cont {
    font-size: 16px;
    color: #3c3c3c;
    display: inline-block;
    text-align: left;
}

.order-cancel-win .tip-cont .gray-tip {
    font-size: 12px!important;
    color: #a0a0a0!important;
}

.panelProductName {
    float: left;
    width: 650px;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
/* 机加酒 订单管理 订单详情 修改 */
.fc454545 {
    color:#454545;
}
.fc999 {
    color:#999;
}
.orderListDiv {
    position:relative;
}
.orderListTable th {
    font-weight: bold;
    color: #454545;
    padding:8px 0;
    vertical-align: top;
}
.orderListTable td {
    color:#666;
    padding:8px 0;
    vertical-align: top;
}
.orderInfoOperDiv {
    display: inline-block;
    position: absolute;
    right:-10px;
    bottom:88px;
}
.orderListTable textarea[readonly="readonly"] {
    border:none;
}
.bookingProductsTitle {
    display: inline-block;
    margin-top:5px;
}
/* 酒店星级 */
.hotelStarLevel{position: relative;display: inline-block}
.hotelStarLevel,.hotelStarLevel span{
    background:url("../images/store/hotelstarLevel.png") 0 -15px no-repeat;
    width:88px;
    height:15px;
    vertical-align:bottom;
}
.hotelStarLevel span{background-position:0 0;position: absolute;top:0;left: 0}
.hotelStar5 span{width:88px;}
.hotelStar4_5 span{width:80px}
.hotelStar4 span{width:70px}
.hotelStar3_5 span{width:62px}
.hotelStar3 span{width:52px}
.hotelStar2_5 span{width:44px}
.hotelStar2 span{width:34px}
.hotelStar1_5 span{width:26px}
.hotelStar1 span{width:16px}


.sentFileSelect, .sentFileA {
    font-weight: normal;
    font-size: 12px;
}

/* 弹窗样式 */
div.k-window-content {
    padding: 15px 15px 25px 15px;
}
.common-tip-container {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    position: relative;
}

.large-success-icon, .large-abnormal-icon {
    background: url("../images/operator/groupManage.png") no-repeat -31px -53px;
    display: inline-block;
    height: 47px;
    width: 46px;
    margin-right: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 30px;
    top: -8%;
}
.large-abnormal-icon {
    background-position: -89px 0;
    height: 47px;
    width: 47px;
}

.tip-msg-content {
    display: inline-block;
    line-height: 30px;
    margin-left: 92px;
    text-align: left;
}

.large-warn-icon {
    background: url("../images/operator/groupManage.png") no-repeat -31px 0px;
    display: inline-block;
    width: 47px;
    height: 47px;
    margin-right: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 30px;
    top: 10%;
}

.operating-icon {
    background: url(../images/operator/loading.gif) no-repeat 0 0;
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 30px;
    top: 10%;
}
.operBtnStyle{
    text-align: center;
    margin-top: 30px;
}
.operBtnStyle button{
    font-size: 14px;
    font-weight: bold;
}
.operBtnStyle button.disable{
    color: #666;
}
.createOrederWin {
    font-weight: normal;
}
.createOrederWin p {
    line-height: 20px;
}
.fc666 {
    color:#666;
}
.fs12 {
    font-size: 12px;
}
/*  出错页面  */
.error-page {
    padding: 110px 215px;
    margin: 4px 0 0 0;
    height: 100%;
    overflow: hidden;
    border: 1px solid #bbb;
}

.error-page_img {
    background: url(../images/error_pic.png) no-repeat center center;
    float: left;
    width: 211px;
    height: 174px;
}

.error-page_con {
    float: left;
    margin-left: 55px;
    padding-top: 65px;
    font-size: 16px;
}
/* 修改 弹窗 */
.WindowOrderDetail-container {
    
}
.innerOrderContainer {
    
}
.innerOrderContainer h3 {
    font-weight: bold;
    font-size: 12px;
    padding:0 0 10px 0;
}
.innerOrderContainer p {
    padding:0 0 8px 25px;
}
.innerOrderContainer input[type=text] {
    margin:0 0 0 20px;
}
.innerOrderContainer input, .innerOrderContainer select {
    vertical-align: middle;
}
.innerOrderContainer .spanTitle {
    vertical-align: middle;
    display:inline-block;
    padding:4px 5px 0 0;
}
.lineDiv {
    border-top:1px dashed #cfcfcf;
    height: 1px;
    margin: 5px 0;
}
.sendMessagesTextarea {
    padding:3px;
    text-indent:2em;
    color:#666;
}
.fcf05030 {
    color:#f05030
}
/* 门票子订单 S */
.panel .subPanelTitle {
    clear:both;
    padding:6px 0 10px 0;
}
.panel .subPanelTitle span {
    margin-right:20px;
}
.tb2_common thead td {
    background:#e4e4e4;
}
/* 门票子订单 E */