.panelTitle {
    border: 0
}

input[type=text] {
    width: 138px;
    height: 20px
}

select {
    width: 150px
}

.priceDetailHead {
    background: #E4E4E4;
    border-bottom: 3px solid #FFA96D !important;
    height: 25px;
    border-right:1px solid #ffffff !important;
    text-align: center;
}
td.priceDetailHead:last-child{
    border-right-color: #E0E0E0 !important;
}

.priceDetailSubHeadB {
    height: 38px;
    background: #E1F5FF;
    text-align: center;
    vertical-align: middle;
}

.priceDetailSubHeadY {
    background: #FFFDE9;
    width: 95px;
    padding: 8px
}
.priceDetailSubHeadG td{
    background: #F5F5F5;
    color: #656565;
}

.priceDetailSubHeadY, .priceDetailSubHeadB {
    border: 1px solid #E0E0E0;
    border-width: 0 1px 1px 0
}

.priceDetailAmount td{
    background:#F5F5F5;
    padding:5px;
    color: #656565;
}

.priceDetailFoot{
    background-color: #F5F5F5;
}

.priceDetailContent {
    height: 39px;
    vertical-align: middle;
    border: 1px solid #E0E0E0;
    border-width: 0 1px 1px 0
}
.priceDetail .salePrice{color:#ff4e00}
.priceDetail td{border:1px solid #E0E0E0;padding:10px 0;vertical-align:middle}

.tbl_orderPrice td {
    border: 1px solid #8BCAE6;
    height:30px;
    vertical-align: middle;
    padding-left:10px;
}
.tbl_orderPriceHead {
    background: #E1F5FF;
    padding-left: 10px;
    height: 30px;
    vertical-align: middle;
}
td.tbl_orderPriceLeftHead{
    background:#D0F1FF;
    height:60px;
    text-align:center;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    padding-left: 0;
}
.tbl_orderPriceContent td{
    padding-left: 30px;
    vertical-align: middle;
    font-size: 16px;
}
.tbl_orderPrice .money{
    font-size: 16px;
    color: #333333;
}

.tbl_common td {
    border: 1px solid #D5D5D5;
    color:#666;
}

.tbl_common thead td {
    background: #F5F5F5;
    color:#333;
}
.tbl_common .td_head{
    background: #F5F5F5;
    color:#333;
}

.popwin {
    color: #0066cc
}

.hotelOrderStatusContainer {
    float: left;
    padding: 20px 10px
}

.statusContainer {
    float: left;
    position: relative;
    padding: 15px 10px 5px
}

.statusContainer.first .statusLineLeft {
    display: none
}

.statusContainer.last .statusLineRight {
    display: none
}

.statusDot {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    z-index: 2;
    top: 0
}

.statusLine {;
    z-index: 1
}

.status_ing {
    color: #ff6600
}

.status_ing .statusDot {
    background: url('../images/hotel_order_status_dot_ing.gif') no-repeat
}

.status_ing .statusLineLeft {
    width: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    border-top: 2px solid #00a000
}

.status_ing .statusLineRight {
    width: 50%;
    position: absolute;
    top: 4px;
    right: 0;
    border-top: 2px solid #e9e9e9
}

.status_complete {
    color: #00a000
}

.status_complete .statusDot {
    background: url('../images/hotel_order_status_dot_complete.gif') no-repeat
}

.status_complete .statusLineLeft {
    width: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    border-top: 2px solid #00a000
}

.status_complete .statusLineRight {
    width: 50%;
    position: absolute;
    top: 4px;
    right: 0;
    border-top: 2px solid #00a000
}

.status_uncomplete {
    color: #666666
}

.status_uncomplete .statusDot {
    background: url('../images/hotel_order_status_dot_uncomplete.gif') no-repeat
}

.status_uncomplete .statusLineLeft {
    width: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    border-top: 2px solid #e9e9e9
}

.status_uncomplete .statusLineRight {
    width: 50%;
    position: absolute;
    top: 4px;
    right: 0;
    border-top: 2px solid #e9e9e9
}

.priceDetail_otherToolTip{cursor:pointer}
.hotelOrderStatusContainer .exception{color:#ff0000}
.hotelOrderStatusContainer .exception .statusDot{background: url('../images/hotel_order_status_dot_exception.gif') no-repeat}

.complete{font-weight:bold;color: #00a000}
.ing{font-weight:bold;color: #ff6600}

.fieldName{background:#f5f5f5;color:#333}

.liuzhangInfoContainer{display: none;margin-top: 10px}


/*确认单*/


.k-dropdown{vertical-align:top}

.journalCurrentNo{color: #ff6600;padding:0 3px}
.journalTotalPageNo{padding:0 5px 0 3px}


.optgroup{background-color:#fff;color:#333;text-decoration:none;font-weight:bold}
.option{text-decoration:none;padding-left:5px}

#smTemplate{
    padding:10px 50px;
}

.money{
    color:#FF6603;
}

.customerInfo td{
    text-align: center;
}

.tbl_supplierInfo .fieldName{
    vertical-align: middle;
    text-align: center;
}

.trimStripLeft{
    width:7px;
    background:#FE7218;
    float:left;
    height:63px;
}
.trimStripRight{
    width:7px;
    background:#439CD3;
    float:right;
    height:63px;
}
.relatedOrderContainer{
    width:77px;
    background:#cff3fc;
    float:right;
    height:63px;
}
.relatedOrderType {
    float: left;
    padding: 13px 0px 0 9px;
    line-height: 1.5;
}
.relatedOrderNum{
    font-size: 40px;
    line-height: 63px;
}
.orderStatusInfoContainer{
    margin:0 7px;
    height:63px;
}
.orderStatusInfoLeftPanel{
    width:452px;
    float:left;
    border-right:1px dashed #FADBD3;
    height:63px;
    background:#FFFBF5;
    padding:0 0 0 20px;
}
.orderStatusInfoRightPanel{
    width:388px;
    margin-left:453px;
    height:63px;
}
.orderStatusBasicInfo{
    line-height: 63px;
}
.orderStatusBasicInfo .orderNo{
    color:#FF4200;
    font-weight: bold;
    font-size:16px;
}
.orderStatusBasicInfo .orderType{
    color:#888986;
    padding-left:20px;
}
#bookingProduct .txt_orange,.txt_orange{
    color:#FF6700;
}
.txt-price {
    float: right;
    padding-right: 58px;
    font-size: 16px;
}
.txt-price em {
    font-family: Arial;
}
.fwb{
    font-weight: bold;
}
.tbl_priceDetail td{
    border:1px solid #E0E0E0;
    vertical-align: middle;
}
.ico_right{
    background: url("../images/operation.png") -27px 0 no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.tbl_hotelRules td{
    vertical-align: middle;
    line-height: 2;
}
.btn_checkSupplierRules{
    color:#0065CB;
    background:url("../images/arrow_blue.gif") center right no-repeat;
    padding-right: 12px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    z-index: 1000;
}
.numRemind,.numRemind_max{
    width: 26px;
    height: 15px;
    background: url("../images/numRemind.gif") no-repeat;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    color: #ffffff;
    font-weight: bold;;
    margin-left: 5px;
}
.numRemind_max{
    background: url("../images/numRemind_max.gif") no-repeat;
    text-indent: -3000px;
}
.checkSupplierRulesContainer{
    position:relative;
}
.checkSupplierRulesContainer .tab{
    position: absolute;
    width:132px;
    height: 36px;
    border:1px solid #D5D5D5;
    border-bottom: 1px solid #ffffff;
    top:-37px;
    right: 0;
    background:#ffffff;
}
.checkSupplierRulesContent{
    border:1px solid #D5D5D5;
    padding:20px;
    background:#ffffff;
}
.checkSupplierRulesContent li{
    list-style: disc;
    margin:5px 0 0 20px;
}
.vfengexian{
	position: absolute;
	top: 10px;
	left: 352px;
	width: 1px;
	border-right: 1px dashed #353535;
	height: 96%;
}
.tdx_rulesContainer{
	float: left;
	width:340px;
	padding:10px;
}
.gta_rulesContainer{
	float:left;
	width:320px;
	padding:10px;
}
.rulesContainer{
	position: relative;
}
.rulesContainer .title{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.rulesContainer .subTitle{
	font-weight: bold;
	margin-top: 20px;
	padding-left: 10px;
}
.rulesContainer li{
	padding-left: 10px;
	margin-top: 10px;
	line-height: 1.5
}
.rulesContainer li.current{
	background: url("../images/tjxg_right_bg.png") left center no-repeat;
	color: #FF7000;
}
.amount{
	border-top: 1px solid #E5E5E5;
	padding: 10px 0 40px;
	margin:10px;
}
.amountDetail{
	width:370px;
	float:left;
}
.popWinBottomButtonContainer{
	margin: 20px 0;
	text-align: center;
}
.tddPrompt{
	border:1px solid #9A9A9A;
	padding:20px 20px 0;
	background: #F3F1F2;
}