
table{width:99%;border-collapse:collapse;}
td{padding:5px}
input[type=radio],input[type=checkbox]{margin-right:5px}
input[type=text]{height:25px;border:1px solid #D3D3D3;padding:0 5px}
.clearfix{clear:both}
.important{color:red}
.operation_records td{text-align: center}
span.head{font-weight:bold;color:#505050}
td.head{font-weight:bold;background:#E2F7FF;vertical-align:top;color:#505050}
div.main{background:#ffffff}
div.panel{padding:20px;box-shadow:0 3px 0 0 #999999;background:#ffffff;margin-bottom:10px;width:940px;margin:0 auto 10px;position:relative}
.panelTitle{font-size:14px;font-weight:bold;border-right:2px solid #CFCFCF;float:left;padding-right:10px;margin:0 10px 10px 0}
.placeholder{color:#9d9c9c}
.tableMain,.tableMain td{border:1px solid #c7dce8;empty-cells: show}
.panelContent{padding:15px 0}
.operation_records,.operation_records td{border:1px solid #cfcfcf;empty-cells: show}
.operation_records thead td{color:#009aa8;background:#ebeff1}
.button_3_3{width:71px;height:26px;display:inline-block;text-align:center;line-height:26px;background:url("http://static.b2b.com/images/button_3_3.png") 0 0;color:#454545;}
.button_3_3:hover{background-position:0 -40px}
.button_3_3:active{background-position:0 -82px}
.button_4_3{width:71px;height:26px;display:inline-block;text-align:center;line-height:26px;background:url("http://static.b2b.com/images/button_4_3.gif") 0 0;color:#ffffff;}
.button_4_3:hover{background-position:0 -40px}
.button_4_3:active{background-position:0 -82px}
.button_3_2{width:91px;height:31px;display:inline-block;text-align:center;line-height:31px;background:url("http://static.b2b.com/images/button_3_2.gif") 0 0;color:#454545}
.button_3_2:hover{background-position:0 -41px}
.button_3_2:active{background-position:0 -83px}
.button_1_2{width:91px;height:31px;display:inline-block;text-align:center;line-height:31px;background:url("http://static.b2b.com/images/button_1_2.gif") 0 0;color:#ffffff;font-weight:bold;margin:10px;}
.button_1_2:hover{background-position:0 -41px}
.button_1_2:active{background-position:0 -83px}
.button_2_2{width:91px;height:31px;display:inline-block;text-align:center;line-height:31px;background:url("http://static.b2b.com/images/button_2_2.gif") 0 0;color:#4f4f4f;font-weight:bold;margin:10px;}
.button_2_2:hover{background-position:0 -41px}
.button_2_2:active{background-position:0 -83px}
.button_4_2{width:91px;height:31px;display:inline-block;text-align:center;line-height:31px;background:url("http://static.b2b.com/images/button_4_2.gif") 0 0;color:#ffffff;font-weight:bold;margin:10px;}
.button_4_2:hover{background-position:0 -41px}
.button_4_2:active{background-position:0 -83px}
.otherbutton{text-align:center;width:49px;height:24px;line-height:24px;background:#DBDBDB;border-radius:3px;display:inline-block;color:#2C2C2C}
.remind{padding:0 16px;background:url("http://static.b2b.com/images/icoRemind.gif") no-repeat;color:#CC6A1A}
.mail{padding:0 18px;background:url("http://static.b2b.com/images/icoMail.gif") no-repeat;color:#0066CC}
.topFixedToolsBar{background:#EDEDED;box-shadow:0 0 3px 0 #999999;width:980px;margin:0 auto;margin-bottom:10px;height:33px}
.topFixedToolsBar a{color:#676767}
.fixedMenu{margin-left:10px;width:730px;border-right:1px solid #cdcdcd;float:left;height:33px}
.fixedMenu a{padding:0 10px;display:inline-block;line-height:30px;border-bottom:3px solid #ededed}
.fixedMenu a:hover,.fixedMenu a.current{background:#ffffff;border-bottom:3px solid #FF7702;color:#000000}
.fixedButton{float:left;margin-right:10px;border-left:1px solid #ffffff;padding-left:10px;height:33px}

/*kendoUi style 修改*/
iframe.k-content-frame{width:98%;height:98%;background:#ffffff}
.k-window-title{padding-left:10px;font-weight:bold;top:13px}
.k-window-titlebar .k-window-actions{top:6px}
.k-window{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.k-window-titlebar{height:27px;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.k-window-content{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}