html {
    font-size:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,button,textarea,p,blockquote,iframe,table,article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
    /*margin:0;
    padding:0;
    outline-style:none;*/
}

figcaption,figure {
    margin:0;
    padding:0;
    outline-style:none;
}

article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
    display:block;
}

div.panel{padding:0;width:980px}
input[type=text]{height:20px}
input[type=button]{border:none}
.button_6,.button_6_select{padding:3px 10px;color:#000000;background:#ffffff;display:inline-block}
.button_6:hover,.button_6_select{background:#10A9DD;color:#ffffff}
.button_7{border:1px solid #A5E9FF;background:#D1F3FE;color:#008BB9;display:inline-block;padding:2px 5px;line-height: 1;}
.button_8{border:1px solid #FFD4B8;background:#FEECE0;color:#FF6500;display:inline-block;padding:2px 5px;line-height: 1; font-weight: normal; font-size: 12px;}
.button_9{border:1px solid #898888;background:#ACACAC;color:#F3F3F3;display:inline-block;padding:2px 5px;line-height: 1;}
.button_metropolis {
    background:#53c1e6;
    color:#fff;
    display:inline-block;
    padding:2px 5px
}

.ico_search{ width:19px; background:url(../images/xyzc_shuoshuo.jpg) no-repeat; display:inline-block; margin-left: 3px;height:20px;vertical-align: middle}
.tbl_customersList thead td{background:#E4E4E4;border-right:1px solid #ffffff; padding: 8px 5px;}
.tbl_customersList tbody td{border-right:1px solid #E4E4E4; padding: 8px 5px;}
.searchPanel{background:#FFFCE8;padding:10px}
.searchPanel input[type=text]{height:20px;margin:0 10px 0 5px;border:1px solid #F5B581;background-color:#ffffff;width:100px}
.filterPanel{padding:10px;border-top:3px solid #FFA86E}
.filterListItem{height:160px}
.filterTitle{font-weight:bold;margin:0 0 5px 0}
.filterAny{margin-bottom:5px}
.ul_filterList li{margin-bottom:5px;float:left;word-break:keep-all}
.filterHotelStyle li{width:78px}
.filterParamsList{width:840px;float:left}
.filterParamsList li{float:left;margin:0 5px 5px 0;border:1px solid #9FCDDD;background:#ECF7FB;padding:2px 6px;word-break:keep-all}
.filterParamsPanel{position:relative;padding:10px;}
.hotelListToolsBar{height:40px;line-height:40px;padding:0 10px;background:#F6F6F6}
.hotelBasicInfo{height:115px}
.hotelListItem{padding:18px;background:#ffffff;border:1px solid #E2E5E7}
.hotelImg{float:left}
.hotelImgTag {
    position: absolute;
    bottom:3px;
    left: 3px;
}
.hotelImgTag span {
    background:#000;
    background:rgba(0,0,0,.7);
    filter:alpha(opacity=70);
    -ms-filter:'progid.DXImageTransform.Microsoft.Alpha(opacity=70)';
    padding: 2px 12px;
    color: #fff;
}
.hotelTextInfo{width:610px;margin:0 15px;float:left}
.hotelName{font-weight:bold;width:245px;float:left;margin-right:25px;overflow:hidden}
.hotelStarLevel,.hotelStarLevel span{background:url("../images/star_level.gif") 0 -17px no-repeat;width:89px;height:17px;vertical-align:middle;float:left;margin-right:85px;}
.hotelStarLevel span{background-position:0 0}
.hotelStar5 span{width:89px;}
.hotelStar4_5 span{width:81px}
.hotelStar4 span{width:71px}
.hotelStar3_5 span{width:63px}
.hotelStar3 span{width:53px}
.hotelStar2_5 span{width:45px}
.hotelStar2 span{width:35px}
.hotelStar1_5 span{width:27px}
.hotelStar1 span{width:17px}
.customerStyleLimit{font-weight:bold}
.hotelAddress{color:#999999;float:left;margin:5px 0 10px;line-height: 22px;min-width: 360px;}
.agencyManagers{color:#000000;background:#DDF4FC;float:right;padding:2px 6px;margin:5px 40px 10px 0}
.checkInOut{clear:both;margin-bottom:5px}

.hotelLowestPrice{width:140px;height:105px;border:1px solid #E2E5E7;float:right;background:#F8F8F8;text-align:center}

.hotelRoomStyleListContainer{padding-top:18px}
.hotelRoomStyleListContainer thead td{background:#E4E4E4;border-right:1px solid #ffffff}
.hotelRoomStyleListContainer tbody td{border-top:1px solid #E0E0E0}
.hotelRoomStyleListContainer table{border:1px solid #E0E0E0}
tr.hotelRoomOverView td{background:#ECF7FB}
.roomStyle{font-weight:bold}
.hotelGift{display:inline-block;width:15px;height:16px;text-indent:-3000px;float:left}
.hotelGift.enable{background:url('../images/hotelGift.gif') no-repeat;cursor:pointer}
.hotelRoomActionButtonContainer{text-align:right}
.roomStyle_special{font-weight:bold;padding-left:15px}
.hotelRoomdetail:hover td{background:#FFFFDB}
.bedStyle{text-indent:0}
.allPriceToggle{color:#0065CB;}
.rule{color:#0065CB;text-decoration:underline;font-weight:normal;padding-left:10px}
.other{cursor:pointer}
.basePrice,.sellPrice{cursor:pointer}
.sellPrice{font-weight:bold;color:#ff2f00;font-size: 14px;font-family: arial;}
.backPrice{font-weight:normal;color:#333;font-size: 14px;font-family: arial;display: inline-block; min-width: 75px;}

.btn_sort{background:url(../images/btn_sort.png) no-repeat 0 0;display:inline-block;width:9px;height:13px;vertical-align:middle}
.btn_sort.desc{background-position:0 -30px}
.btn_sort.asc{background-position:0 -15px}

#errorMsgContainer{position:absolute;top:100px;left:50px;height:26px;display:none}
#errorMsgArrow{position:absolute;top:50%;left:0;margin-top:-6px;width:6px;height:13px;background:url('../images/errorMsgArrow.gif') no-repeat left center;z-index:1001}
#errorMsgContent{padding:3px 5px;background:#FFFCE8;border:1px solid #FF3333;position:absolute;top:0;left:5px;z-index:1000;color:#FF0000}

.toolTipField{color:#0065CB;text-align:left}
.k-tooltip{border-width:2px;background-color:#ffffff;color:#000000}
.k-callout.k-callout-n{border-bottom-color:#666666}
.k-callout.k-callout-s{border-top-color:#666666}

.priceTable td{text-align:left}
.priceTableHead td{background:#F6F6F6;width:40px}
.priceTablePrice{font-weight:bold;color:#ff2f00}

.xunjia_customer,.xunjia_hotel{margin-top:10px}
.xunjia_customer thead td{background:#E4E4E4;border-right:1px solid #ffffff;border-bottom:3px solid #FEA96D}
.xunjia_hotel thead td{background:#E4E4E4;border-right:1px solid #ffffff;border-bottom:3px solid #72D6FF}



/**************************预付酒店详情页**********************************/

.hotelDetail {background-color:#ffffff;margin-top:10px;padding:20px;}
.hotelDetail .title {position:relative;height:50px;}
.hotelDetail .title h2 {color:#2c2c2c;}
.hotelDetail .title address {color:#999999;font-style:normal;}
.hotelDetail .title .extra {position:absolute; right:0px;top:0px;width:520px;}
.hotelDetail .title .extra a {
    background: none repeat scroll 0 0 #DDF4FC;
    color: #000000;
    padding: 6px;
    position:absolute;
    right:200px;
    top:0px;
}
.hotelDetail .title .price {
    background-color: #F8F8F8;
    border: 1px solid #E6E6E6;
    color: #FF3000;
    height: 45px;
    line-height: 45px;
    padding: 2px 40px 5px;
    position: absolute;
    right: 0;
    top: 0;

}
.hotelDetail .title .price sup {color: #666666;font-size:15px;}
.hotelDetail .title .price sub{font-size:14px;}
.hotelDetail .title .price b {font-size: 38px;}


.pictureInfo {position:relative;margin-top:10px;}
.pictureInfo .pic {position:relative;float:left;}
.pictureInfo .pic span {width:270px;height:200px;position:absolute;left:0px;top:0px;}
.pictureInfo .pic span img {width:270px;height:200px;}
.pictureInfo .pic ul {width:275px;height:200px;margin-left:270px;position:relative;}
.pictureInfo .pic ul li {margin:0 0 5px 5px;display:block;float:left;width:132px;height:100px;overflow:hidden;}
.pictureInfo .pic ul li.secondRow {margin:0 0 0px 5px;}
.pictureInfo .pic ul li img {width:132px;height:100px;}
.pictureInfo .pic ul li.secondRow img {height:95px;}
.pictureInfo .map {width:392px;height:200px;float:right;}
.hotelDetail .checkIn {margin-top:10px;}
.hotelDetail .checkIn label {display:inline-block;padding-right:40px;}
.hotelDetail .checkIn strong {color:#ff6600;padding:3px;}
.hotelDetail .checkIn a {padding:3px;}
.hotelDetail .showInfo {margin-top:20px;}
.hotelDetail .showInfo h3 {border-top:1px dotted #999999;padding:15px 0 15px 5px; color:#333333;}
.hotelDetail .remark {margin-bottom:40px;}
.hotelDetail .showInfo table th,.hotelDetail .showInfo table td strong {font-style:normal;color:#666666;}
.hotelDetail .showInfo table td,.hotelDetail .showInfo table th {padding:5px;vertical-align:top;}
.hotelDetail ul.item li {float:left;width:100px;color:#555555;}




/*建单结果页*/
.tgrid .left_line{
    border-left: 1px solid #dfe3e5;
}
.tgrid .right_line{
    border-right: 1px solid #dfe3e5;
}
.grayTab{
    background-color: #fff;
    margin-bottom: 10px;
}
.grayTab thead th{
    border-bottom: 1px solid #dfe3e5;
    font-weight: normal;
    padding: 8px 5px;
    text-align: left;
}
.grayTab tbody td{
    padding: 8px 5px;
    text-align: left;
}
.grayTab tbody td:first-child,
.grayTab thead th:first-child{
    padding-left: 10px;
}
.centerFlow{
    margin: 10px 0;
}
.centerFlow .commonReturnBtn,
.centerFlow .commonReturnBtn a{
    border: 0;
}
.centerFlow .commonReturnBtn{
    margin-top: 13px;
}

/* 订单流程 */
.centerFlow .flow {
    padding:5px 10px 0 10px;
    margin: 0 auto;
    width:450px;
    height: 100%;
    overflow: hidden;
}
.instr{
    height: 100%;
    margin:0 10px;
}
.instr span {
    position:relative;
    z-index:1;
    padding-top:22px;
    display:block;
    float:left;
    background:url("../images/operator/deepGrayDotted.png") 50% 4px no-repeat;
    margin-right:10px;
    min-width:120px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#92a5b9;
}
.instr .first{
    margin-left:0;
}
.instr .last{
    margin-right:0;
}
.instr span.highlightTravel{
    background:url(../images/operator/orangeFlowCurrent.png) no-repeat 50% 0px;
    color:#ff5b02;
}
.instr span.highlight {
    color:#92a5b9;
}
.instr{
    position:relative;
}
.instr .line{
    position:absolute;
    display:block;
    height:2px;
    border-bottom: 1px dashed #c5c5c5;
    top:7px;
    z-index:0;
    margin-left:-5px;
}
.instr .line div {
    background-color:#c1c1c1;
    height:1px;
    margin-top:2px;
}

.themeContent{
    background-color: #fff;
}
.themeContent .resultContent{
    width: 550px;
    margin: 10px auto;
    padding: 60px 0;
    min-width: 110px;
}
.resultContent .resultTitle{
    margin: 10px 0 20px 30px;
    font-size: 16px;
    font-weight: bold;
}
.resultContent .greenFonts{
    color: #04ac00;
}
.resultContent .orangeFonts{
    color: #f05030;
}
.resultContent .resultIcon{
    display: inline-block;
    width: 29px;
    height: 29px;
    vertical-align: middle;
    margin-right: 10px;
}
.resultContent .greenFonts .succeedIcon{
    background: url("../images/pass.png") no-repeat;
}
.resultContent .orangeFonts .failIcon{
    background: url("../images/orangeDottedHint.png") no-repeat;
}
.resultContent .resultHint{
    line-height: 23px;
    margin-left: 70px;
    color: #666666;
}
.resultHint .redFonts{
    font-weight: bold;
    color: #ff3300;
}
.resultHint p a{
    color: #0066cc;
    text-decoration: underline;
}

/* 现付酒店查询结果页 */
.panel .checkTab{
    padding: 10px 5px;
    background-color: #fffce8;
    border-bottom: 3px solid #ffa86e;
}
.panel .checkTab th{
    padding: 7px 2px;
    text-align: right;
    font-weight: normal;
}
.panel .checkTab td{
    padding: 7px 2px;
}
.panel .checkTab td input[type="text"]{
    border: 1px solid #f5b581;
}
.hotel_search .inlandHilter {
    z-index:1;
    border-top:none;
    background:#fff;
}
.inlandHilter .searchRowUl {
    padding: 0 10px;
    border-bottom: 1px dashed #ccc;
    line-height: 40px;
    position: relative;
}
.inlandHilter .searchRowUl b {
    float: left;
    width:70px;
}
.searchRowUl .sel {
     background: #10a9dd;
     color: #fff;
     margin-right: 30px;
 }
.searchRowUl span {
    font-size: 12px;
    color: #4b4b4b;
    padding: 4px 10px;
    cursor: pointer;
    margin-right: 5px;
    vertical-align: top;
}
.inlandHilter ul {
    display: inline;
}
.inlandHilter li {
    display: inline-block;
    width:120px;
}
.inlandHilter li.last {
    width:68px;
    text-align: center;
}
.searchRowUl label {
    font-size: 12px;
    color: #4b4b4b;
    padding: 5px 5px 5px 5px;
    width: 110px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.searchRowUl label:hover {
    color: #0066cc;
}
.searchRowUl input[type=text] {
    width: 60px;
    height: 23px;
    line-height: 23px;
    margin: 0 3px;
    border: 1px solid #c7c7c7;
}
.searchRowUl .left,
.searchRowUl .right{
    padding: 0;
    margin: 0;
}
.searchRowUl .center{
    margin: 0;
}

.moreArea_search {
    border-bottom: 1px dashed #ccc;
    height: auto;
    overflow: hidden;
}
.inner_moreArea {
    border: 1px solid #e1e1e1;
    background: #f2f2f2;
    padding: 15px 10px 0 10px;
    margin: 2px 0;
    height:auto;
    overflow: hidden;
    width:878px;
    float: right;
    position: relative;
}
.inner_moreArea li {
    float: left;
    width:108px;
    padding-bottom: 15px;
}
.inner_moreArea label {
    padding:8px;
}
.inner_moreArea .sel {
    color: #0066cc;
}
.inner_moreArea label:hover {
    color: #0066cc;
    cursor: pointer;
}

.searchResult {
    background: #f7f7f7;
    padding: 10px;
    overflow:hidden;
}
.searchResult em {
    color: #f94037;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}
.searchResult span {
    background: #ecf7fb;
    border: 1px solid #9fcddd;
    padding: 3px 10px;
    margin:0 5px 0 0;
    position: relative;
}
.searchResult span strong {
    padding: 0 15px 0 0;
    font-weight:normal;
}
.searchResult span i {
    background: url(../images/guanbi.png) no-repeat;
    width: 10px;
    height: 9px;
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    right: 5px;
}
.searchResult .clearCondition {
    margin-right: 15px;
    color: #0066cc;
    display: inline-block;
    float: right;
}
.clearCondition .clearFonts{
    color: #0066cc;
    text-decoration: none;
}
.clearCondition .clearFonts:hover{
    text-decoration: underline;
}
.searchResult span {
    cursor: pointer;
}
.searchResult .clear a {
    color: #0066cc;
    text-decoration: none;
}
.searchResult .clear a:hover {
    color: #f94f46;
    text-decoration: underline
}
.fitCondition {
    float:left;
    width: 900px;
}
.fitConditionTit {
    float:left;
    min-width: 80px;
    max-width: 100px;
}
.fitContent {
    float:left;
    display:inline;
    width:800px;
    line-height:28px;
}
.fitContent li{
    float:left;   
    width: auto;
}
.searchContent {
    clear: both;
}
.searchContent .left {
    float: left
}
.searchContent .right {
    float: right
}
.searchContent-left {
    width: 912px;
    float: left;
}

.moreBtnblock {
    position: absolute;
    bottom:-4px;
    right: 20px;

}
.relevanceOr_click {
    border: 1px solid #e1e1e1;
    border-bottom: none;
    background: #f2f2f2;
    height: 30px;
    line-height: 22px;
    position: absolute;
    bottom:-4px;
    right: 20px;
    z-index: 10;
}
.search_close {
    background: url(../images/store/search_close.png) no-repeat 0 0;
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    top:6px;
    right: 10px;
    cursor: pointer;
}
.search_close:hover {
    background: url(../images/store/search_close.png) no-repeat 0 -11px;
}
.ico_down{background:url("../images/store/up_down.png") no-repeat  0 -6px;width:9px;height:6px;display:inline-block;margin-left:3px}
.ico_up{background:url("../images/store/up_down.png") no-repeat;width:9px;height:6px;display:inline-block;margin-left:3px}


/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}
.main-footer center {
    margin-top: 20px;
}
.copyright {
    padding-bottom: 20px;
}
.main-footer a {
    color: inherit;
}
.main-footer .bar {
    margin: 0 5px;
}


/* 现付酒店查询结果页 */
.hotelRoomStyleListContainer .roomBoldStyle{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.priceOperationStyle{
    text-align: right;
    margin-top: 10px;
}


/*  现付酒店详情页  By:shuaigeng.zhao ;  */
.top-title-text {
    font-size: 14px;
    font-weight: bold;
    color: #676767;
    padding-left: 10px;
}

.cutomerList th {
    font-weight: normal;
}

.cutomerList thead tr {
    height: 21px;
    line-height: 21px;
}

.cutomerList tbody tr {
    height: 25px;
    line-height: 25px;
}

.hotelRoomStyleListTable {
    width: 100%;
}

.hotelRoomStyleListTable tr {
    height: 30px;
    line-height: 30px;
}

.hotelRoomStyleListTable tr:hover {
    background-color: #ffffdb;
}

.hotelRoomStyleListTable td {
    padding: 0 0 0 5px;
    vertical-align: middle;
}

.hotelRoomStyleListTable .wholeTr,
.hotelRoomStyleListTable .wholeTr td{
    background-color: #ebf8fb;
    font-weight: bold;
    font-size: 14px;
}

.hotelRoomStyleListTable .roomStyle_special {
    width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.hotelRoomStyleListTable .hotel-gift-icon {
    background:url('../images/hotelGift.gif') no-repeat;
    cursor:pointer;
    width:15px;
    height:16px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.hotelRoomStyleListTable .no-gift {
    display: inline-block;
    width: 15px;
}

.hotelRoomStyleListTable .cancel-rule {
    text-decoration: underline;
    cursor: pointer;
}

.hotelRoomStyleListTable .orderBtn {
    float: right;
    margin-top: 3px;
    margin-right: 8px;
}

.hotelRoomStyleListTable .orderBtn .center {
    padding: 0 8px;
}

.priceTable .redFont {
    color: #ff0000;
}

.priceWinHead {
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}

.priceWinHead em {
    padding: 0 10px;
}

.priceWinHead em:first-child {
    padding-left: 0;
}

.priceWinHead .liveNum {
    float: right;
}

.priceWinHead .liveNum em {
    color: #ff0000;
    font-size: 14px;
    font-family: arial;
}

.priceTable th {
    font-weight: normal;
    background-color: #f6f6f6;
    border-top: 1px solid #c6c6c6;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.priceTable tbody td {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.priceTable tbody td:first-child {
    font-weight: bold;
}

.priceTable tbody {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

.winTotalPrice {
    text-align: right;
    margin: 15px;
    font-size: 14px;
    font-weight: bold;
}

.winTotalPrice span {
    color: #ff3000;
    padding: 0 2px;
}

.priceWinFoot {
    background-color: #f6f6f6;
    margin: 0 -15px -15px -15px;
    padding: 10px 20px 20px 20px;
}

.priceWinFoot p {
    height: 28px;
    line-height: 28px;
}

.priceWinFoot b {
    margin-right: 20px;
}

.ruleContent {
    margin: -8px;
    line-height: 18px;
}

/*  现付酒店建单页  By:shuaigeng.zhao ;  */

.checkin_info_table .hotel_return {
    background: url(../images/store/hotelIcon_return.png) no-repeat 0 0;
    width: 52px;
    height: 18px;
    padding-left: 20px;
    line-height: 18px;
    display: inline-block;
    color: #4fd1c3;
    margin-left: 15px;
    vertical-align: super;
}
.hotelCreateRec {
    background: #10a9dd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 12px;
    color: #fff;
    padding: 1px 2px;
    text-align: center;
    margin:0 15px;
    vertical-align: top;
}
.hotelCreateTips i {
    background: url(../images/store/hotelPic.png) no-repeat -19px 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right:5px;
}
.assureTipsBox {
    border:1px solid #edd597;
    background: #fdfeeb;
    padding: 10px;
}
.assureTipsBox p {
    padding-top: 8px;
    line-height: 22px;
}
.fillCardblock {
    border-top:1px dashed #e4e4e4;
    padding-top: 15px;
    margin-top: 15px;
}
.fillCardblock p {
    margin-bottom: 15px;
}
.cardCVV {
    margin: 0 5px;
    text-decoration: underline;
    cursor: pointer;
}
.accountConTips {
    font-size: 14px;
    margin-right: 20px;
    vertical-align: middle;
}
.hotelCreateOrderTips {
    font-size: 12px;
}
.hotelCreateOrderTips th {
    font-weight: bold;
    text-align: left;
    width:65px;
}
.hotelCreateOrderTips th, .hotelCreateOrderTips td {
    padding-top:3px;
    padding-bottom: 3px;
    color: #636363;
}
.cardChart {
    border-bottom: 1px dashed #ddd;
    position: relative;
    height: 30px;
}
.cardChart span {
    position: absolute;
    top:22px;
    left: 0px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    padding-right: 10px;
}
.cardChartCon {
    background: url(../images/store/hotelCardCVV.jpg) no-repeat 0 0;
    display: inline-block;
    width: 405px;
    height: 98px;
    vertical-align: middle;
    margin: 20px 0 0 10px;
}
/*发卡银行*/
.bankChartBox {
}
.bankChart {
    border-bottom: 1px dashed #ddd;
    position: relative;
    height: 20px;
    margin: 0 15px;
    
}
.bankChart span {
    position: absolute;
    top:12px;
    left: 0px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    padding-right: 10px;
}
.bankChart i {
    background-image: url(../images/store/iconSprite.png);
    background-position: 0px -63px;
    position:absolute;
    right:-17px;
    top:16px;
    width:9px;
    height:9px;
    cursor:pointer;
}
.bankChart i:hover {
    background-position: 0px -73px;
}
.bankChartCon {
    margin-top: 20px;
}
.inland_bank, .abroad_bank {
    height: auto;
    overflow: hidden;
   margin-top: 25px;
}
.inland_bank li, .abroad_bank li { 
    float: left;
    height:20px; 
    width:138px;
    padding: 8px 0;
    text-align: center;
    border:1px solid #dddddd; 
    margin:0 0 15px 20px; 
    display:inline-block; 
    position: relative;
}
.inland_bank li:hover, .abroad_bank li:hover { 
    border:1px solid #f1634c;
}
.inland_bank li.checked, .abroad_bank li.checked {
    border:1px solid #f1634c;
}
.inland_bank li.checked i, .abroad_bank li.checked i {
    background: url(../images/store/icon_checked.png) no-repeat right bottom;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width:16px;
    height:16px;
}

.agriculture{ width:103px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 0;}
.commerce{ width:100px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -71px;}
.construct{ width:102px; height:22px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -272px;}
.citic{ width:93px; height:22px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -196px;}
.postal{ width:107px; height:16px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -25px;}
.china{ width:100px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -96px;}
.business{ width:85px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -148px;}
.shenzhen{ width:103px; height:17px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -223px;}
.tsation{ width:78px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -46px;}
.spdb{ width:72px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -123px;}
.brighten{ width:106px; height:19px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -173px;}
.shanghai{ width:75px; height:21px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -247px;}

.card_visa {
    background:url(../images/store/abroad_bank.png) no-repeat 0 0;
    width:50px; 
    height:15px; 
    display:inline-block; 
}
.card_master {
    background:url(../images/store/abroad_bank.png) no-repeat 0 -18px;
    width:33px;
    height:20px;
    display:inline-block;
}
.card_amex {
    background:url(../images/store/abroad_bank.png) no-repeat 0 -41px;
    width:20px;
    height:20px;
    display:inline-block;
}
.card_jcb {
    background:url(../images/store/abroad_bank.png) no-repeat 0 -64px;
    width:27px;
    height:20px;
    display:inline-block;
}

.h_order_infoDiv {
    padding:8px;
}
.build_hotel_overview {
    word-break: break-all;
    width: 160px;
    margin: 0 auto;
}
.build_hotel_overview td, .build_hotel_overview th {
    padding:5px 0;
}
.build_hotel_overview th {
    vertical-align: top;
    font-weight: normal;
    color: #888;
}
.checkin_info_table th {
    color: #454545;
    font-weight: bold;
    padding:4px 0;
    text-align: right;    
}
.checkin_info_table td {
    color: #636363;
    padding:4px 0;
}
.checkin_info_table .trRow_price {
    color: #ff6500;
    margin-right:15px;
    font-size: 20px;
}
.checkin_info_table .trRow_price em {
    font-size: 16px;
}
.checkin_info_table .trRow_room {
    color: #0066cc;
    font-size: 12px;
    padding-bottom: 3px;
    border-bottom:1px dashed #0066cc;
    vertical-align: super;
    cursor: pointer;
}
.block_gap {
    padding:5px;
}
.checkin_info_table textarea {
    color: #636363;
}
.checkin_info_table input[type=text] {
    text-indent: 3px;
    height: 23px;
    border: 1px solid #bbb;
}
.checkin_info_table select {
    border: 1px solid #bbb;
    height: 26px;
}
.checkin_info_table th em {
    color:#f1634c;
}

.checkin_info_table textarea.remark {
    width: 438px;
    height: 72px;
    padding: 3px;
}

.checkin_info_table .hotel-remark-list {
    width: 600px;
}

.checkin_info_table .hotel-remark-list label {
    margin-right: 15px;
    display: inline-block;
    margin-bottom: 5px;
}

.checkin_info_table .hotel-remark-list label input {
    margin-right: 5px;
}
.fontColor_f1634c {
    color: #f1634c;
}
.warmTipsDiv {
    margin-top: 15px;
    padding-top: 5px;
    border-top:1px dashed #e4e4e4;
}
.h_order_title {
    border-bottom:1px solid #e1e1e1;
    color:#007ee9;
    font-size:16px;
    font-weight:bold;
}
.h_order_title strong {
    padding:0 25px 0 10px;
    line-height:33px;
    font-weight:bold;
    display:inline-block;
    border-bottom:2px solid #007ee9;
    position:relative;
    top:1px;
}
.accountInfoBlock {
    width:100%;
    margin-top:-10px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC142d59,endColorstr=#CC142d59);
    background: rgba(20,45,89,0.8);
    padding: 2px 0;
}
.inner_accountInfoBlock {
    width:960px;
    padding:15px 10px;
    margin:0 auto;
    text-align: right;
    font-family: sans-serif;
}
.inner_accountInfoBlock b {
    padding:0 5px;
}
.accountInfoBlock .accountCon {
    font-size: 14px;
    vertical-align: middle;
}
.accountInfoBlock .totlePrice {
    font-size: 26px;
    color: #ff7b24;
    vertical-align:sub;
    margin-right: 10px;
    font-family: "Microsoft YaHei";
}

.create_outerblock{
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}
.create_orderLeft {
    border-top:1px solid #efefef;
}
.create_orderRight {
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
    border-top:1px solid #efefef;
    background-color: #fff;
}

.side_info figure {
    padding: 10px;
}

#h_order_info {position: relative; background:#fff;}
#frequentFlyerContainer {position:absolute;right:30px;top:100px;}

.passengerBlock{
    width:400px;
    margin-top:15px;
}
.passengerRowTitle {
    line-height:24px;
    background:#efefef;
}
.passengerRowTitle span, .passengerRow span {
    display:inline-block;
    padding-left:5px;
}
.passengerRow {
    line-height:44px;
    border-bottom:1px dashed #e4e4e4;
}
.passengerRowTitle .spanLeft, .passengerRow .spanLeft {
    width:90px;
}
.passengerRowTitle .spanLeft em, .passengerRow .spanLeft em {
    color:red;
}
.passengerRowTitle .spanCenter, .passengerRow .spanCenter {
    width:202px;
}
.passengerRowTitle .spanRight, .passengerRow .spanRight {
    width:75px;
}
.travelBlock {
    margin-top:5px;
    background:#efefef;
    padding:6px 0 6px 5px;
    width:395px;
}

/*常旅客样式*/
#frequentFlyerContainer {border:1px solid #24aeea;width:168px}
#ffc_title{background-color: #24aeea;color:#fff;padding:0 5px;height:30px;line-height:30px}
/*#ffc_title{background:url('../images/arrow_bottom_white.gif') no-repeat 90% 50% #24aeea;color:#fff;padding:0 5px;height:30px;line-height:30px}*/
/*#ffc_title.expand{background-image:url('../images/arrow_top_white.gif')}*/
#ffc_title label {display:block;}
#ffc_input{border:0;text-indent:0;width:148px;padding:0 15px 0 5px;outline:none;background:url("../images/order_r8_c5.png") no-repeat center right 8px #fff;height:30px;line-height:30px;}
.ac-floatlayer .ul_ffc{border:1px solid #24aeea;border-width:0 1px 1px;width:168px;background:#fff}
ul{list-style:none;margin:0;padding:0}
.ul_ffc li div.item{padding:5px}
.ul_ffc .item label {cursor:pointer;}
/*常旅客样式*/

.fig-hotel-title {
    text-align: left;
    font-weight: bold;
    color: #505050;
    margin-top: 10px;
}

.modifyDate {
    color: #0066cc;
    padding-left: 20px;
}

.modifyQuantityContainer {
    background: #ffffff;
    border:1px solid #CACACA;
    padding:20px 0 0 0;
}
.modifyQuantityContainer div {
    clear:both;
}
.modifyQuantityContainer .rowNumber {
    margin-bottom: 15px;
    padding: 0 20px;
}
.modifyQuantityContainer .rowBg {
     background: #efefef;
     padding: 0 20px;
    line-height: 34px;
}

.mdt_roombookingNum {
    width: 26px;
    height: 26px;
    border: 1px solid #ffffff;
    margin-right: 10px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    display: inline-block;
}

.mdt_roombookingNum:hover {
    border-color: #FF6500;
}

.mdt_roombookingNum.current {
    border-color: #FF6500;
    background: #FFF1E7;
}

.promptTxt {
    color: #FF6500;
}

.layerGrayContainer_noArrow {
    border:1px solid #cdcdcd;
    padding:10px;
    color:#636363;
    font-size: 14px;
}
.layerGrayContainer_noArrow p {
    padding:10px 0 0 0;
    margin-bottom: 10px;
}
.floatLayer {
    background: #fff;
}

.blockNumber {
    background-color: #fffbe8;
    border: 1px solid #ed885b;
    color: #4c4c4c;
    font-size: 20px;
    font-family: arial;
    padding: 5px 8px;
}

/*酒店比价 start*/
.panel .checkTab .roomNumber {
    border: 1px solid #f5b581;
    width:40px;
    height: 20px;
}
.panel .border-yellow {
    border:1px solid #FCE485;
    border-bottom: 3px solid #ffa86e;
}
.panel .border-gray {
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
}
.hotelPriceTitle {
    border-top:1px solid #e7e7e7;
   /* border-left:1px solid #e7e7e7;
    border-right:1px solid #e7e7e7;*/
    height: 56px;
    margin: 10px 0 5px 0;
}
.hotelPriceTitle .verticalLine {
    height: 43px;
    width: 1px;
    background: #e9e9e9;
}
.hotelPriceTitle li {
    display: inline-block;
    float: left;
    border-bottom: 2px solid #10a9dd;
    background: #f8f8f8;
    width:128px;
    height: 43px;
    text-align: center;
    padding: 12px 0 0 0;
    -webkit-box-shadow:0 2px 1px #e9e9e9;
    -moz-box-shadow: 0 2px 1px #e9e9e9;
    box-shadow: 0 2px 1px #e9e9e9;
}
.hotelPriceTitle li:hover {
    background: #ebecec;
    cursor: pointer;
}
.hotelPriceTitle li:first-child, .hotelPriceTitle li:first-child:hover, .hotelPriceTitle li:last-child, .hotelPriceTitle li:last-child:hover {
    background: url("../images/operator/fourArrows.jpg") no-repeat 0 0;
    width:35px;
}
.hotelPriceTitle li:first-child:hover {
    background-position:0 -59px;
    cursor: pointer;
}
.hotelPriceTitle li:last-child {
    background-position: -35px 0;
}
.hotelPriceTitle li:last-child:hover {
    background-position: -35px -59px;
    cursor: pointer;
}
.hotelPriceTitle li.current {
    border-top:3px solid #10a9dd;
    border-left:1px solid #10a9dd;
    border-right:1px solid #10a9dd;
    border-bottom: none;
    background: #fff;
    margin-top: -1px;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.hotelPriceTitle li p {
    padding: 4px 0 0 0;
    font-size: 14px;
    font-family: "Arial";
    color: #ff6600;
    font-weight: bold;
}
.hotelPriceTitle li p em {
    font-size: 12px;
    font-family: "microsoft yahei";
    font-weight: normal;
}
.hotelPriceResultCon {
    padding: 0 18px 20px 18px;
}
.hotelPriceResultNum {
    padding: 5px 0 5px 15px;
    border-bottom: 1px dotted #999;
    color: #333;
    /*margin: 0 18px;*/
}
.hotelPriceResultNum span {
    color: #f60;
    margin: 0 3px;
}
.hotelPriceItem {
    /*margin: 0 18px 0 18px;*/
    overflow: hidden;
    padding: 0 0 10px 0;
}
.line-hotelPrice {
    height: 2px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 -18px;
}
.hotelPriceItemSummary {
    padding: 0 0 0 15px;
}
.hotelPriceItemSummary h3 {
    color: #2c2c2c;
    font-size: 14px;
    padding: 12px 0 12px 0;
    overflow: hidden;
}
.hotelPriceItemSummary .hotelPriceName {
    width:120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 20px 0 0;
    float:left;   
}
.hotelPriceItemSummary .hotelPriceAddress {
    width:200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px 0 0;
    float: left;
}
.hotelPriceItemSummary p {
    padding: 0 0 5px 0;
    line-height: 22px;
}
.hotelPriceItemSummary .firstP span {
    margin: 0 15px 0 0;
}
.loadMoreBar {
    height: 34px;
    line-height: 34px;
    margin: 10px 0 0 0;
    background: #d1f3fe;
    font-size: 14px;
    color:#666;
    text-align: center;
}
.loadMoreBar:hover {
    background: #3399cc;
    color: #fff;
}
.loadMoreBar i, .loadMoreBar:hover i {
    background: url("../images/operator/twoArrows.png") no-repeat 0 0;
    width:9px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
.loadMoreBar:hover i {
    background-position: -11px 0;
}
.button_blue {
    border:1px solid #a5e9ff;
    background:#d1f3fe;
    color:#018cba;
    display:inline-block;
    padding:2px 5px;
    line-height: 1; 
    font-weight: normal;
    font-size: 12px;
}
.tag_blue {
    background:#53c1e6;
    color:#fff;
    padding:3px 5px;
}
.addBebOrNot {
    font-size: 12px;
    font-weight: normal;
}
.addBebOrNot b {
    margin-right: 10px;
}
.hotelRoomStyleListTable .other, .hotelRoomStyleListTable .stipulate {
    text-decoration: underline;
    cursor: pointer;
}
.hotelRoomStyleListTable .slash {
}
.backPrice-modify {
    font-weight:normal;
    color:#333;
    font-size: 14px;
    font-family: arial;
    display: inline-block; 
}
.backPrice-modify em, .sellPrice em {
    font-size: 12px;
    font-family: "microsoft yahei";
}
/* 浮层 */
.otherContent {
    margin: -8px;
    line-height: 18px;
}
/*酒店比价 end*/

.mainContent{
    margin-bottom: 40px;
}

.compare-price-frame{
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #cccccc;
}

.compare-price-frame .font1{
    font-size: 12px;
    color: #444444;
    font-weight: bolder;
    margin-right: 10px;
}

.compare-price-frame .font2{
    font-size: 12px;
    color: #0066cc;
    font-weight: bolder;
    margin-right: 12px;
}

.website{
    height: 40px;
    line-height: 40px;  
    font-size: 12px;
    color: #555555;
    border-bottom: 1px dotted #666666;
}

.website-userInfo-table{
    margin-top: 20px;
    width: 100%;
}

.website-userInfo-table td{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #666666;
}

.website-userInfo-table thead td{
    background-color: #f5f5f5;
}

.website-input{
    width: 330px;
    height: 20px;  
    border: 1px solid #cccccc; 
}

.website-table-input{
    width: 160px;
    height: 20px;  
    border: 1px solid #cccccc; 
    font-size: 12px;
    color: #666666;
}

.compare-price-btn{
    float: right;
}