@charset "utf-8";
/* CSS Document */
body {
    background-color: #EAEEF0;
    min-width: 980px;
}
#container {
    margin:-122PX auto 0 auto;
    width:980px;
    position:relative;
}
#mainContent{
    padding-top:10px;
    margin-bottom:40px;
}

/* 悬浮 bar S */
.topFixedToolsBar {
    background:#EDEDED;
    border-top:1px solid #FFFFFF;
    border-bottom:2px solid #cbcbcb;
    border-right:1px solid #cbcbcb;
    border-left:1px solid #cbcbcb;
    margin:0 auto;
    margin-bottom:10px;
    height:35px;
    line-height:35px;
    z-index:100
}
.topFixedToolsBar a {
    color:#676767
}
.topFixedToolsBar .item {
    padding:0 15px;
    vertical-align:top;
    line-height:34px;
    display:inline-block;
}
.topFixedToolsBar .item:hover,
.topFixedToolsBar .highlight{
    padding-top:3px;
    line-height:28px;
    background-color:#fff;
    border-bottom:3px solid #FF7702;
}
.topFixedToolsBar.fixedBar{
    width:978px;
}
.fixedMenu {margin-left:10px;width:730px;float:left;height:33px;color:#676767;line-height:33px;font-size:12px}
.fixedMenu a{padding:0 9px;display:inline-block;line-height:33px; margin-right:3px;}
.fixedMenu a:hover{background:#ffffff;border-bottom:3px solid #FF7702;color:#000000;}
.fixedButton{
    float:right;
    background: url("../images/spacer.png") no-repeat scroll 0 0 transparent;
    margin-right:10px;
    border-left:1px solid #ffffff;
    padding-right: 10px;
    padding-left:10px;
    height:33px;
}
.fixedMenu .currentState {
    background: #FFFFFF;
    border-bottom: 3px solid #ff7702;
    color: #333333;
}
.topFixedToolsBar .fixedMenu{
    width: auto;
}
.topFixedToolsBar .fixedMenu h3 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 25px;
}
.commonReturnBtn {
    float: left;
    border-right: 1px solid #ffffff;
    font-size: 14px;
}
.commonReturnBtn .leftArrow {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 11px;
    background: url("../images/order_r2_c2.png") no-repeat;
    margin: 0 3px 0 2px;
}
.commonReturnBtn a {
    display: inline-block;
    line-height: 33px;
    font-size: 14px;
    font-weight: bold;
    border-right: 1px solid #CDCECE;
    padding: 0 8px;
}
/* 悬浮 bar E */






.tgrid{background-color: #fff;}
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:30px;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid tbody td em{ color:#339900; font-weight:bold;}
.tgrid tbody td i{ color:#ff6600; font-weight:bold;}

.tgrid {text-align:center;width:100%;}
.tgrid td { text-overflow:ellipsis;white-space:nowrap; overflow:hidden; padding:5px; border:1px solid #e0e0e0;}
.tgrid th { text-overflow:ellipsis;white-space:nowrap; overflow:hidden; padding:5px;border:1px solid #fff;}
.tgrid thead th,.tgrid thead td,.tgrid .thead td {background-color:#e4e4e4;border-top:1px solid #D0D0D0;color:#393939;border-bottom:3px solid #FFA66F;border-right:1px solid #F6F6F6;}
.tgrid thead .noborder th{ border-bottom:0; text-align:center; background:#d4d4d4;}
.tgrid thead .last,.tgrid .thead .last {border-right:1px solid #E0E0E0;}
.tgrid tbody td {color:#393939;}
.tgrid tbody a.oper,.oper {color:#0066CC; padding:3px;}
.tgrid tbody a.oper:hover,.oper:hover {text-decoration:underline;}

a.hasclick, .tgrid tbody a.hasclick {color:#479494;}

.tgrid tbody tr:hover { background: none repeat scroll 0 0 #FFFFDB;}
.tgrid .last_col {padding:0px;}

.tgrid .nowrap { word-wrap:break-word;}
.tgrid .normal { white-space:normal;}
.tgrid .break_word { word-break:break-all; white-space:normal;}

.fixedMenu .menuRedFonts {
    color: #ff0000;
    font-size: 12px;
}


/* 按钮样式  S*/
.adaptiveButton{display:inline-block;margin:0 2px;vertical-align:middle;cursor:pointer}
.adaptiveButton span.center{padding:0 15px}
.adaptiveButton.medium span{float:left;height:31px;line-height:31px}
.button_important span.center {color:#ffffff;}
.button_important.medium .left{background:url('../images/button/button_important_medium.png') 0 0 no-repeat;width:5px}
.button_important.medium .center{background:url("../images/button/button_important_medium.png") 0 -33px repeat-x;}
.button_important.medium .right{background:url('../images/button/button_important_medium.png') 0 -66px no-repeat;width:5px}
.button_secondary{color:#ffffff}
.button_secondary span.center {color:#ffffff;}
.button_secondary.medium .left{background:url('../images/button/button_secondary_medium.png') 0 0 no-repeat;width:5px}
.button_secondary.medium .center{background:url("../images/button/button_secondary_medium.png") 0 -33px repeat-x;}
.button_secondary.medium .right{background:url('../images/button/button_secondary_medium.png') 0 -66px no-repeat;width:5px}
.button_unimportant{color:#ffffff}
.button_unimportant.medium .left{background:url('../images/button/button_unimportant_medium.png') 0 0 no-repeat;width:5px}
.button_unimportant.medium .center{background:url("../images/button/button_unimportant_medium.png") 0 -33px repeat-x;}
.button_unimportant.medium .right{background:url('../images/button/button_unimportant_medium.png') 0 -66px no-repeat;width:5px}
.adaptiveButton.medium:hover .left{background-position:0 -99px;}
.adaptiveButton.medium:hover .center{background-position:0 -132px;}
.adaptiveButton.medium:hover .right{background-position:0 -165px;}
.adaptiveButton.medium:active .left{background-position:0 -198px;}
.adaptiveButton.medium:active .center{background-position:0 -231px;}
.adaptiveButton.medium:active .right{background-position:0 -264px;}

.adaptiveButton.small span{float:left;height:25px;display:inline-block;line-height:25px}
.button_important{color:#ffffff}
.button_important.small .left{background:url('../images/button/button_important_small.png') 0 0 no-repeat;width:5px}
.button_important.small .center{background:url("../images/button/button_important_small.png") 0 -27px repeat-x;}
.button_important.small .right{background:url('../images/button/button_important_small.png') 0 -54px no-repeat;width:5px}
.button_secondary{color:#ffffff}
.button_secondary.small .left{background:url('../images/button/button_secondary_small.png') 0 0 no-repeat;width:5px}
.button_secondary.small .center{background:url("../images/button/button_secondary_small.png") 0 -27px repeat-x;}
.button_secondary.small .right{background:url('../images/button/button_secondary_small.png') 0 -54px no-repeat;width:5px}
.button_unimportant{color:#000000}
.button_unimportant.small .left{background:url('../images/button/button_unimportant_small.png') 0 0 no-repeat;width:5px}
.button_unimportant.small .center{background:url("../images/button/button_unimportant_small.png") 0 -27px repeat-x;}
.button_unimportant.small .right{background:url('../images/button/button_unimportant_small.png') 0 -54px no-repeat;width:5px}
.adaptiveButton.small:hover .left{background-position:0 -81px;}
.adaptiveButton.small:hover .center{background-position:0 -108px;}
.adaptiveButton.small:hover .right{background-position:0 -135px;}
.adaptiveButton.small:active .left{background-position:0 -162px;}
.adaptiveButton.small:active .center{background-position:0 -189px;}
.adaptiveButton.small:active .right{background-position:0 -216px;}
.center_1{ padding:0 5px !important;}

.fixedButton .adaptiveButton {display:inline-block;margin-left:5px;}

.disabled_btn span{float:left;height:24px;display:inline-block;line-height:24px;}
.disabled_btn .left{background:url('../images/button/disabled_btn.png') 0 0 no-repeat;width:5px}
.disabled_btn .center{background:url("../images/button/disabled_btn.png") 0 -29px repeat-x;}
.disabled_btn .right{background:url('../images/button/disabled_btn.png') 0 -58px no-repeat;width:5px}
.disabled_btn .center{ padding:0 15px;}
.disabled_btn{cursor:default; display:inline-block;}

.button_secondary-green {
    color: #ffffff;
}
.button_secondary-green span.center {
    color:#ffffff;
}
.button_secondary-green.small .left {
    background:url('../images/button/button_secondary_small.png') 0 -243px no-repeat;
    width:5px;
}
.button_secondary-green.small .center {
    background:url('../images/button/button_secondary_small.png') 0 -270px repeat-x;
}
.button_secondary-green.small .right {
    background:url('../images/button/button_secondary_small.png') 0 -297px no-repeat;
    width:5px;
}
.button_secondary-green.small:hover .left {
    background-position: 0 -324px;
}
.button_secondary-green.small:hover .center {
    background-position: 0 -352px;
}
.button_secondary-green.small:hover .right {
    background-position: 0 -379px;
}
.btns {
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: none;
    background-repeat: no-repeat;
}
.button_1_2 {
    width: 90px;
    height: 31px;
    display: inline-block;
    text-align: center;
    line-height: 31px;
    background: url(../images/button/button_1_2.png) 0 0;
    color: #ffffff;
    font-weight: bold;
    margin: 10px 3px;
    border: 0;
}
.button_1_2:hover {
    background-position: 0 -41px;
}
.button_2_2, .button_3_2 {
    width: 90px;
    height: 31px;
    display: inline-block;
    text-align: center;
    line-height: 31px;
    background: url(../images/button/button_2_2.png) 0 0;
    color: #4f4f4f;
    font-weight: bold;
    margin: 10px 3px;
    border: 0;
}
.button_2_2:hover, .button_3_2:hover {
    background-position: 0 -41px;
}

/* 按钮样式  E*/




.cutwords , .k-grid .cutwords {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.fixable {position:relative;z-index:100;}
.fixable a {color:#0066CC;padding:3px;}
.fixable a:hover {text-decoration:underline;}
.hightlight {background-color:#FFFFDB !important ;}

.gray thead th,.gray .thead th {border-bottom:none;}
.gray tbody {background-color:#ffffff;}



/* form style S */
.datepicker {
    background: url(../images/jisuanqi_1.png) no-repeat 97% center;
}
.datepicker.orange {
    background: url(../images/jisuanqi_2.png) no-repeat 97% center;
}
/* form style E */



/* paging S*/
.page {
    background: #fff;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #bfc3c5;
}
.grid-table-pagination {
    line-height:30px;
    text-align:right;
}
.grid-table-pagination a{
    display:inline-block;
    color:#666;
    text-decoration:none;
    text-align:center;
    width:29px;
    height:30px;
    border:1px solid #fff;
}
.grid-table-pagination a:hover {
    background-color:#f7f7f7;
    border:1px solid #eee;
}

.grid-table-pagination .disabled-prev{
    background:url(../images/finance_r2_c12.png) 50% 50% no-repeat;
}
.grid-table-pagination .disabled-next{
    background:url(../images/finance_r2_c12-2.png) 50% 50% no-repeat;
}

.grid-table-pagination .prev{
    background:url(../images/finance_r2_c13-2.png) 50% 50% no-repeat;
}
.grid-table-pagination .next{
    background:url(../images/finance_r2_c13.png) 50% 50% no-repeat;
}
.grid-table-pagination .current{
    background-color:#f7f7f7;
    border:1px solid #eee;
    border-bottom:3px solid #FF6C00 !important;
    font-weight:bold;
}
.grid-table-pagination{
    padding:10px 10px 0 10px;
}
/* paging E*/

/* 返回顶部 */
.backToTop {
    display: none;
    width: 28px;
    height: 80px;
    background:url(../images/back_top.png) no-repeat;
    color: transparent;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    margin-left:490px;
    left:50%;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    font-size:0px;
    /*
    opacity: .6;
    filter: Alpha(opacity=60);
    */
}
.backToTop:hover {
    color: transparent;
    background-position:-33px 0px;
}
