body{
		font-family: SimSun;
		font-size: 14px;
		color: #333333;
}

.contentCls{
	width: 770px;
	height: 100%;
	margin: 0 auto;
}

.signatureCls{
	width: 100%;
	height: 90px;
	line-height: 90px;
	border-bottom: 1px dashed #e4e4e4;
}

.modelCls{
	width: 100%;
	height: 70px;
	color: #808080;
}

.modelFont1{
	position: relative;
	top: 38px;
}

.modelFont2{
	color: #333333;	
}

.modelFont3 span{
	width: 40px;
	height: 20px;
	color: #808080;
	display: inline-block;
	text-align: center;
	line-height: 20px;
}

.modelFont3 span:hover{
	color: #ffffff;
	background-color: #6fbfef;
}

.modelFont4{
	display: inline-block;
	background-color: #33b294;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	width: 88px;
	height: 26px;
	line-height: 26px;
	float: right;
	margin-top: 32px;
}

.modelFont4:hover{
	background-color: #37bfa0;
}

.modelFont5{
	font-size: 20px;
	
}

.modelFont6{
	font-size: 12px;
	position: relative;
	bottom: 3px;
	cursor: pointer;
}

.bisinessCls{
	width: 100%;
	height: 640px;
}

.signFont1{
	margin: 0 16px;
}

.signFont2{
	color: #666666;
}

.singImg1{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat 0px 0px;
	width: 18px;
	height: 20px;
	display:inline-block;
	position: relative;
	left: 4px;
	top: 4px;
}

.singImg1:hover{
	cursor: pointer;
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat 0px -22px;
}

#signBtn{
	display: inline;
}

#signSave{
	display: none;
}

.saveBtn{
	width: 82px;
	height: 31px;
	display: inline-block;
	text-align: center;
    line-height: 31px;
    background: url(../images/button/button_2_1.png) 0 0;
    color: #ffffff;
    border:0;
    font-weight: bold;
}

.saveBtn:hover {
    background-position: 0 -41px;
    cursor:pointer;
}

#signSave .signTxtCls{
	width: 178px;
	height: 30px;
	margin-left: -8px;
}

.explain{
	font-size: 12px;
	color: #999999;
}

.bisTable{
	width: 100%;
}

#bisinessType .bisTable .head{
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e4e4e4;
	color: #404040;
}

#bisinessType .bisTable tr{
	width: 100%;
	height: 122px;
	border-bottom: 1px dashed #e4e4e4;
} 

.planeImg{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat 0px -44px;
	width: 30px;
	height: 35px;
	display: inline-block;
}

.planeImgCopy{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat 3px -41px;
	width: 35px;
	height: 35px;
	display: inline-block;
}

.planeImgCopy:hover{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat -3px -153px;
}

.hotelImg{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat -2px -78px;
	width: 30px;
	height: 35px;
	display: inline-block;
}

.hotelImgCopy{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat 3px -78px;
	width: 35px;
	height: 35px;
	display: inline-block;
}

.hotelImgCopy:hover{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat -3px -194px;
}

.otherImg{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat -1px -115px;
	width: 30px;
	height: 35px;
	display: inline-block;
}

.otherImgCopy{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat 2px -114px;
	width: 35px;
	height: 35px;
	display: inline-block;
}

.otherImgCopy:hover{
	background: url(../images/b2b_noteSet/noteSet.png) no-repeat -3px -236px;
	
}

#bisinessType .tableFont1{
	font-size: 12px;
	color: #808080;
}

#bisinessType .bisTable .tableDash{
	border-bottom: 1px dashed #e4e4e4;
	height: 1px;
}

#bisinessType .tableFont2{
	font-size: 14px;
	color: #333333;

}

#bisinessType .tableFont2 .hangup{
	width: 40px;
	height: 22px;
	background-color: #ffb358;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	margin-bottom: 10px;
	margin-left: 22px;
}

#bisinessType .sysModel{
	width: 60px;
	height: 20px;
	background-color: #73c889;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	margin-bottom: 10px;
	margin-left: 14px;
}

#bisinessType .tableFont3{
	font-size: 12px;
	color: #808080;
}

#bisinessType .tableFont4 div{
	font-size: 12px;
	color: #616161;
	width: 226px;
}

#bisinessType .tableFont5 span{
	font-size: 12px;
	color: #cf6b00;
	margin-right: 14px;
}

#bisinessType .unlock{
	font-size: 12px;
	color: #cf6b00;
	margin-right: 25px;
}

#bisinessType .del{
	font-size: 12px;
	color: #cf6b00;
	margin-left: 25px;
}

#ac-addModel-template.setAddModelWin{
	display: block; 
	height: 572px;
	overflow: hidden;
}

#modelContent{
	width: 610px;
	height: 390px;
	margin: 6px auto auto auto;
}

#ac-addModel-template .bisnessTypeCls{
	width: 100%;
	height: 70px;
}

#ac-addModel-template .bisTypeLeft{
	float: left;
}

#ac-addModel-template .bisTypePos1{
	margin-right: 30px;
	position: relative;
	font-size: 14px;
	color: #404040;
	top: 16px;
}

#ac-addModel-template .bisTypePos2{
	margin-right: 30px;
	font-size: 12px;
	color: #999999;
	text-align: center;
}

#ac-addModel-template .modelTitleCls{
	width: 100%;
	height: 64px;
}

#ac-addModel-template .modelContentCls{
	width: 100%;
	height:214px;
}

#ac-addModel-template .modelTitlePos1{
	margin-right: 8px;
	font-size: 14px;
	color: #404040;
}

#ac-addModel-template .modelTitlePos2{
	width: 270px;
	height: 30px;
}

#ac-addModel-template .modelTitlePos3{
	font-size: 12px;
	color: #999999;
	display: inline-block;
	width: 180px;
	position: relative;
	top: 4px;
}

#ac-addModel-template .clacFontNumCls{
	width: 100%;
	height: 93px;
}

#ac-addModel-template .errorImg{
	background: url(../images/b2b_noteSet/error.png) no-repeat 0px 0px;
	width: 16px;
	height: 16px;	
	display: inline-block;
	margin-left: 76px;
	margin-top: 6px;
}

#ac-addModel-template .modelTitlePos4{
	margin-left: 4px;
	position: relative;
	bottom: 5px;
	display: inline-block;
	color: #ff530f;
	font-size: 12px;
}

.contentLeft{
	width: 75px;
	height: 100%;
	float: left;
	
}

.contentCenter{
	width: 325px;
	height: 100%;
	float: left;
}

.contentRight{
	width: 210px;
	height: 100%;
	float: left;
}

.contentRight div{
	margin-left: 35px;
	margin-bottom: 10px;
}

.contentRight span{
	color: #0066cc;
	font-size: 12px;
	cursor: pointer;
}

.contentLeftFont{
	font-size: 14px;
	color: #404040;
	margin-top: 14px;
}

.contentTxtarea{
	width: 326px;
	height: 210px;
}

.clacFontNumCls{
	font-size: 12px;
	color: #999999;
	line-height: 24px;
	margin-left: 74px;
	margin-top: 4px;

}

.funBtnCls{
	width: 448px;
	height: 45px;
	text-align: center;
	margin: 0 auto;	
}

.wordNum{
	color: #0066ff;
	font-size: 12px;
	margin: 0 4px;
}

.infoNum{
	color: #0066ff;
	font-size: 12px;
	margin: 0 4px;
}

.saveBtnPos{
	position: relative;
	right: 66px;
}

.cancelBtnPos{
	position: relative;
	right: 25px;
	text-decoration: underline;
	font-size: 14px;
	color: #636363;
}

#errorInfo{
	display: none;
}


