@charset "utf-8";
/* CSS Document */

.inquire_div{ background:#fff; padding:15px 10px; margin-bottom:10px;}
.inquire_tab td input{ padding-left:3px; height:20px; line-height:20px;}
.inquire_tab td select{ height:22px; line-height:22px;}







































