@charset "utf-8";
/* CSS Document */

.inquire_div{ background:#fff; padding:15px 10px; margin-bottom:10px;}
.inquire_tab td input,.uploading td input{ padding-left:3px; height:20px; line-height:20px;}
.inquire_tab td select,.uploading td select{ height:22px; line-height:22px;}
.cjrq_input_1{ width:98px; background:url(../images/jisuanqi_1.png) no-repeat 98% center;}
.cjrq_input_2{ width:98px; background:url(../images/jisuanqi_2.png) no-repeat 98% center;}
.politics{ padding:0px 10px; background:#fff; color:#333 !important; border-bottom:3px solid #ff7702;}
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff;}
.tgrid th{ text-align:left; padding:0 0 0 5px; height:30px;} 
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid .th_left{ border-left:1px solid #dfe3e5;}
.tgrid .th_right{ border-right:1px solid #dfe3e5;}
.btn_size{ font-size:14px; font-weight:bold; float:right; margin-top:25px; margin-right:20px;}
.btn_size a{ margin-left:5px;}
.thickness {}
.uploading{ width:99%;}
.uploading td{ line-height:30px;}
.uploading td:first-child{ font-weight:bold; text-align:right;}
.uploading .k-upload-button {background:url(../images/button/80X25.png) no-repeat left top !important ;width:86px;height:26px;}
.uploading .k-upload-button span {color:#fff;}
.uploading .k-upload {float:left;}

.announce td{ padding:10px 0 5px 0;}
.announce textarea{ width:580px; height:120px; overflow-y:scroll; overflow-x:hidden;}
.announce td:first-child{ text-align:left;}
.k-editor{ width:98%; height:180px;}
.k-editor .k-editable-area{ border-style:none; border-top:1px solid #cdcdcd;}
.k-editor-button{ margin-left:3px;}
.k-editor-button .k-tool-icon{ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.k-editor-button .k-state-active{ border:1px solid #ff6742; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}

.block-header .adaptiveButton{
vertical-align:middle;
}
.block-header strong{
font-size:14px;
margin-right:10px;
}
.block-header{
margin-bottom:20px;
}
.vertical-head{
font-weight:bold;
display:inline-block;
width:65px;
}

.advertising{ background:#fff; padding:20px;}
.advertising_title,.url{ margin:10px 0;}
.advertising_title input{ width:360px; height:20px; line-height:20px; padding-left:3px;}
.url input{ width:400px; height:20px; line-height:20px; padding-left:3px;}
.issue_date{ margin-bottom:20px;}
.issue_date input{ width:110px; height:20px; line-height:20px; padding-left:3px;}
.location{ width:80%; padding:15px 20px 20px; border:1px solid #d7d7d7;}
.advertise{ margin-bottom:20px;}
.advertise select{ width:100px; height:22px; line-height:22px;}
.advertise span em{ color:#ff6600;}
.advertise a{ margin-left:20px;}
.adimg{ margin:5px 0 15px;}
.adimg img{ border:1px solid #d7d7d7; padding:2px;}
.move_left{ float:left;}
.move_right{ float:right; margin-right:20px;}
.move_right div{ margin-bottom:7px;}
.move_right a{ color:#fff;}
.add{ border-bottom:1px solid #d7d7d7; padding-bottom:40px; margin-bottom:40px;}
.add_upload{ text-align:center; width:80%; border:1px solid #d7d7d7; margin-bottom:30px;}
.add_upload a{ font-size:200px; color:#eeeeee;}

.query{ height:auto; margin-top:10px; padding:0px 0px 5px 0px;}
.query_tab{ width:99%; height:auto; line-height:32px; margin-left:15px;}
.query_tab_1{ width:99%; height:40px; line-height:40px; margin-left:15px;}
.query_tab input,.query_tab_1 input,.query_tab_2 input{ padding-left:3px; height:20px; line-height:20px; font-size:12px;}
.query_tab select,.query_tab_1 select,.query_tab_2 select{ color:#666; height:22px; font-size:12px;}
.query_a{ width:82px; height:31px; line-height:31px; text-align:center; color:#fff; background:url(../images/button/button_2_1.png) no-repeat 0 0; border:0px; float:left;}
a.query_a:hover { background-position:0 -41px; border:0px; }
a.query_a:active { background-position:0 -83px; border:0px;}
.leftandright{ width:978px; height:564px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #bfc3c5; position:relative; background:#fff;}
.right_side{background:#FFF; }
.right_tab{ width:100%; overflow-x:auto; overflow-y:hidden;}
.testbox ul li:hover{ background:#fff;}
.testbox ul li a:hover{ text-decoration:underline;}
.testbox ul li.current{background:#fff;border:1px solid #CCC;border-width:1px 0;}
.testbox ul li.current .boxshow{display:block}
.testbox ul li.current a.MenuItem{color: #000; font-weight:bold; float: left;position: relative;z-index: 2; width:125px; background:#fff url(../images/jiantou_right.png) no-repeat 80% center; text-decoration:none;}
.testbox{float:left;width: 15%; height:100%;background:#F6F6F6;}
.testbox ul{padding-top:10px;}
.testbox ul li{border-top:1px solid #E6E6E6;border-right: 1px solid #E6E6E6;height:40px;}
.MenuItem {color: #787878;text-decoration: none; display:block; margin-left:25px; float: left;position: relative;width: 85%; line-height:40px;}
.ClickMenu{color: #000; font-weight:bold; float: left;position: relative;z-index: 2; width:125px; background:#fff url(../images/jiantou_right.png) no-repeat 80% center;}
.MenuHover{background-color: #fff;}
.testbox ul li .boxshow {background-color: #fff;height: 100%;width:83.5%;position: absolute;left: 162px;color: #000;top: 0px;z-index: 1;}
.rightTabContent{ min-height: 360px; margin-top: 10px;}
.rightTabContent .tgrid thead th:first-child,.rightTabContent .tgrid tbody td:first-child{ padding-left: 13px;}
.journalContent{ margin:10px 0 0 10px;}
.journalContent .operation_records{ width:98%;}
.journalContent .operation_records td{ text-align: left;}
.journalContent .grid-table-pagination{ padding: 20px 10px 0; margin-bottom: -5px;}
.journalContent .grid-table-pagination a{ width: 20px; height: 25px;}
.inquireTab td{ padding-bottom: 10px;}
.inquireTab .last td{ padding-bottom: 0;}
.loadBanner{ margin-bottom: 20px;}
.adInfo{ margin:20px; color: #2c2c2c;}
.adInfo th,.adInfo td{ padding: 5px 7px;}
.adInfo th{ text-align: right; font-size: 14px;}
.adInfo .adImgSize{ color: #888888; margin-left: 10px; display: inline-block;}
.adInfo input[ type="text"]{ padding: 0 3px;}
.adInfo label{ margin-right: 20px;}
.adInfo label input{ margin-right: 2px;}
.adInfo .large_button{ font-size: 16px; font-weight: bold;}
.adInfo .imgInfo{ color: #666666; margin-right: 5px;}
.leftBannerPic{ float: left; width: 430px; margin-right: 7px;}
.rightBannerPic{ float: left; width: 278px;}
.rightBannerPic li:first-child,.leftBannerPic li:first-child{ margin-bottom: 10px;}
.rightBannerPic li{ position: relative;}
.clickSelectAd{ cursor: pointer;}
.clickSelectAdBg{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; filter:alpha(opacity=70); opacity:0.7;}
.clickSelectFont{ position: absolute; top: 50%; left: 37%; color: #b3b3b3; font-size: 14px;}
.adBannerBorder{ border: 3px solid #fb6c25; position: absolute; top: 0; left: 0; width: 98.5%; height: 96.5%;}
.uncommittedCont{ color:#000; text-align: center; position: relative;}
.uncommittedCont .title{ font-size: 16px; font-weight: bold; color: #000; padding-top:13px; }
.uncommittedCont .uncommittedFont{ margin: 7px 0 25px;}
.uncommittedCont span.close{ position: absolute; top: -3px; right: 0; display: inline-block; width: 10px; height: 9px; cursor: pointer; background: url("../../static/images/guanbi.png") no-repeat;}
.windowBg{ background: #f3f2f2;}
.clickSelectFont5 { position: absolute; top: 50%; left: 20%; color: #b3b3b3; font-size: 14px;}
.clickSelectFont6 { position: absolute; top: 50%; left: 13%; color: #b3b3b3; font-size: 14px;}

.add-city{
    padding:10px 0 13px 0;
    background-color:#ddfff5;
    text-align:center;
}
.add-city .label{
    font-size:16px;
    color:#454545;
    font-weight:bold;
    cursor:pointer;
}
.add-city .icon-add{
    color:#f60;
    cursor:pointer;
    font-size:25px;
    font-weight:bold;
    margin:0 5px;
    line-height:13px;
    vertical-align:text-top;
}
.add-city input{
    width:180px;
}
#citywrapper{
    padding-bottom:100px;
}
.city-block{
    position:relative;
    color:#454545;
}
.city-block .ac-edit{
    position:absolute;
    top:18px;
    right:10px;
}
.city-block .seemore{
    color:#0066cc;
    cursor:pointer;
}
.pull-right .bluelink{
    margin-left:10px;
}
.city-block .bluelink{
    cursor:pointer;
    color:#06c;
}
.city-block .default-state{
    padding:20px;
}
.city-block .active-state{
    border-top:1px solid #ccc;
}
.default-state .city-name{
    display:inline-block;
    width:80px;
    font-size:16px;
    color:#454545;
    font-weight:bold;
    margin-right:20px;
    margin-left:20px;
}
.default-state .city-order{
    display:inline-block;
    width:100px;
    margin-right:20px;
}
.default-state .city-suggest{
    display:inline-block;
    width:130px;
    margin-right:20px;
}



/* 新首页酒店
 * yan.liu
 */
.hotelHomePageBG{
    background:url("../images/store/homeStore/homeBanner01.jpg") center no-repeat #00092f;
    width:100%;
    height:470px;
}
.hotHotelBlock {
    width:100%;
    background:#e8e8e8;
    padding-bottom:28px;
}
.hotHotelContent, .hotCityBrandContent, .homePageBanner {
    width:980px;
    margin:0 auto;
}
.blockTopTitle {
    height:40px;
    color:#636363;
    padding:10px 0 5px 10px;
}
.blockTopTitle b {
    font-size:22px;
    font-weight:normal;
    float:left;
}
.blockTopTitle ul {
    float:right;
    padding:5px 0 0 0;
}
.blockTopTitle li {
    float:left;
    font-size:16px;
    padding:3px 15px;
    margin-left:5px;
	cursor:pointer;
}
.blockTopTitle a {
    color:#636363;
    text-decoration:none;
}
.blockTopTitle li:hover, .li_current {
    background-color:#576b8f;
    color:#fff;
}
.blockTopTitle li:hover a, .li_current a {
    color:#fff;
}
.hotHotel_show{
    background-color:#eaeef0;
    padding:10px;
    min-height:280px;
    margin:20px 30px;
    margin-bottom:60px;
}
.hotHotel_show dt {
    position: relative;
}
.hotHotel_show dt a:hover .bgShade {
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=20);
    opacity: 0.2;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.hotHotel_show img {
    width:218px;
    height:220px;
}
.hotHotel_show dl {
    float:left;
    margin-right:8px;
    width:218px;
    border-bottom:2px solid #c7c6c6;
    position:relative;
}

.hotHotel_show dl:nth-child(4n) {
    margin-right:0;
}

.hotHotel_show .hotel_meta {
    background:#fff;
    padding:10px 15px 5px 15px;
    height:auto;
    overflow: hidden;
}
.hotel_move {
    position:absolute;
    bottom:-40px;
    width:218px;
    left:0;
    text-align:center;
}
.hotHotel_show dl:nth-child(1) .lnkarr-left{
    display:none;
}
.hotHotel_show dl:nth-last-child(1) .lnkarr-right{
    display:none;
}
.hotel_move .lnkarr{
    background-color:#eeeded;
    border-radius:3px;
    padding:7px;
}
.hotel_move .lnkarr:hover{
    background-color:#ddf4fd;
}
.city-block:nth-child(1) .mvcity{
    display:none;
}
.mvcity{
    margin-left:10px;
}
.hotel_move .lnkdel{
    margin-left:10px;
}
.hotHotel_show .hotelName {
    font-size:14px;
	width:208px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hotHotel_show .hotelName a {
    color:#636363;
    text-decoration:none;
}
.hotHotel_show .hotelName a:hover {
    color:#ef4423;
    text-decoration:none;
}
.hotHotel_show .hotelStar {
    float:left;
    background:url(../images/store/homeStore/homeHotelStar.png) no-repeat 0 -12px;
    width:69px;
    height:12px;
    display:inline-block;
    position:relative;
    margin-top:13px;
}
.hotHotel_show .star01, .hotHotel_show .star02, .hotHotel_show .star03, .hotHotel_show .star04, .hotHotel_show .star05, .hotHotel_show .star01_5, .hotHotel_show .star02_5,  .hotHotel_show .star03_5,  .hotHotel_show .star04_5 {
    background:url(../images/store/homeStore/homeHotelStar.png) no-repeat 0 0;
    width:13px;
    height:12px;
    display:inline-block;
    vertical-align:middle;
    position:absolute;
    top:0px;
    left:0px;
}
.hotHotel_show .star01_5 {
    width:21px;
}
.hotHotel_show .star02 {
    width:27px;
}
.hotHotel_show .star02_5 {
    width:35px;
}
.hotHotel_show .star03 {
    width:41px;
}
.hotHotel_show .star03_5 {
    width:49px;
}
.hotHotel_show .star04 {
    width:55px;
}
.hotHotel_show .star04_5 {
    width:63px;
}
.hotHotel_show .star05 {
    width:69px;
}
.hotHotel_show .price {
    float:right;
}
.hotHotel_show .price em {
    font-size:18px;
    font-style:normal;
}
.hotHotel_show .price a {
    color:#ef4423;
    font-size:24px;
    width:100%;
    text-decoration:none;
}
.hotCityBrand {
    width:100%;
}
/*hotcity*/
.hotCityContent {
    float:left;
}
.hotCityContent li {
    float:left;
    margin-right:8px;
    position:relative;
}
.hotCityImgHover {
    cursor:pointer;
}
.hotCityImgHover span {
    display:none;
}
.hotCityImgHover .searchIcon {
    background:url(../images/store/homeStore/icon_hoverSearch.png) no-repeat center center;
    width:40px;
    height:41px;
    position:absolute;
    top:42%;
    left:43%;
}
.hotCityContent li a:hover .hotCityImgHover {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background:#ea554a;
    filter:alpha(opacity=80);
    opacity:0.8;
}
.hotCityContent a:hover span {
    display:inline-block;
}
.hotelBrandContent {
    float:right;
    width:320px;
}
.hotelBrandContent ul {

}
.hotelBrandContent li {
    float:left;
    width:105px;
    background:#d8d8d8;
    margin:0 0 1px 1px;
    text-align:center;
    height:60px;
    vertical-align:middle;
    display:table;
}
.hotelBrandContent li a {
    display:table-cell;
    vertical-align:middle;
	cursor:default;
}
.hotelBrandContent li:hover {
    background:#e53a3d;
}
.hotelBrandContent li.liLeft {
    margin-left:0;
}
.homePageBanner {
    margin-bottom:20px;
    margin-top:8px;
    text-align:center;
}

.company_info {
    padding:0 20px;
}
.company_info .row{
    overflow:hidden;
    margin:0;
    padding:0;
}
.company_info .journey_info{
    display:block;
    width:50%;
    float:left;
    line-height:70px;
    height:70px;
}
.lie{
    display:none;
}
.company_info .journey_info:nth-child(1){
    border-right:1px dashed #aaa;
    position:relative;
    margin-right:-2px;
}
.journey_info s{
    color:#0366cc;
    margin-left:25px;
}
.journey_info u{
    color:#FF6B00;
    margin-left:45px;
    font:14px arial;
}
.journey_info textarea{
    width:177px;
    height:45px;
    vertical-align:middle;
}

.journey_info input{
    width:260px;
}
.journey_info .infoSpan u{
    margin-left:10px;
}
.journey_info .buttonSpan{
    margin-left:10px;
}
.journey_info .buttonSpan a{
    color:#0366cc;
    margin-left:5px;
}

.company_info .visa_info{
    display:block;
    width: 33%;
    float:left;
    height:90px;
    padding-top: 10px;
}
.company_info .visa_info:nth-child(1){
    border-right:1px dashed #aaa;
    position:relative;
    margin-right:-2px;
}
.company_info .visa_info:nth-child(2){
    border-right:1px dashed #aaa;
    position:relative;
    margin-right:-2px;
}
.visa_info input{
	width:140px;
}
.visa_info textarea{
    width:190px;
    height:48px;
    vertical-align:middle;
    border:none;
    color:#999;
}
.visa_info .buttonSpan a{
    color:#0366cc;
}
.move-oper-link {
	width:95px;
}
.move-oper-link a {
	display:inline-block;
	float:left;
	margin-right:10px;
}
.btnSpanContainer {
	float:right;
	line-height:20px;
}
