@charset "utf-8";
/* CSS Document */

.insu_div{ background:#fff; padding:15px 10px; margin-bottom:10px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2;}
.insu_tab td{ line-height:33px;}
.insu_tab td input{ padding-left:3px; height:20px; line-height:20px;}
.insu_tab td select{ height:22px; line-height:22px;}
.insu_tab td label{ margin-right:20px;}
.insu_tab td label input{ border:0; vertical-align:middle; margin-right:2px;}
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:25px;} 
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:25px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid tbody a{ margin-right:10px;}


.block231 {
    padding:20px;
}
.block231 .block-body{
    border:1px solid #ddd;
    padding:15px;
}
.block231 .item{
    padding-bottom:10px;
    margin-bottom:15px;
    border-bottom:1px dashed #ddd;
}
.block231 strong{
    color:#f60;
}
.block231 table{
    width:100%;
}
.block231 h3{
    font-size:14px;
    font-weight:bold;
    color:#333;
    margin-bottom:15px;
}
.block231 .row{
    margin-bottom:20px;
}
.block231 .last{
    border-bottom:0;
    margin-bottom:0;
    padding-bottom:0;
}
.block231 .itext{
    width:50px;
    margin:0 3px;
}
.block231 input[type=checkbox]{
    margin-right:3px;
}
.block231 p{
    margin-bottom:10px;
}
.block231 label{
    margin:0 10px;
}
.block231 h4{
    font-size:12px;
    font-weight:bold;
    color:#333;
    margin-bottom:15px;
}
