/* 
    Document   : login
    Created on : 2013-5-10, 9:59:38
    Author     : 234
    Description:
        Purpose of the stylesheet follows.
*/

body {background:url("../images/bg.jpg") no-repeat scroll center top transparent;}
#container {margin:0 auto;width:960px;text-align:left;}
.login_header h1 {width:192px;height:74px; background:url(../images/logo.gif) no-repeat left top;float:left;position:relative;}
.nav {
    float: right;
    margin-top: 40px;
    width: 500px;
}

.nav li {
    float: left;
    list-style: none outside none;
    margin-left: 10px;
}
.nav li a {
    color: #333333;
    display: inline-block;
    font: bold 14px "微软雅黑","宋体";
    padding-top: 6px;
    text-align: center;
    width: 100px;
}
.nav li a:hover {
    color: #106FCE;
    display: inline-block;
    padding-top: 6px;
    text-align: center;
    width: 100px;
}
.nav li a.current {
    color: #106FCE;
    display: inline-block;
    padding-top: 6px;
    text-align: center;
    width: 100px;
}

.login {margin:0 auto;width:500px;text-align:center;}
.login {font-size:2em;}
.login li {padding-top:20px;}
.login input {width:200px;height:30px;line-height:30px;font-size:16px;}
