@charset "utf-8";
/* CSS Document */


/*编辑员工信息*/
.editTith3{
	font-size:16px;
	color:#333;
	padding-left:30px
}
.infoBox{ margin-bottom:8px;}
.infoCon{ 
    background:#fff; 
	color:#333; 
	font-size:14px; 
	border:1px solid #d2d2d2;
}
.infoCon table{
	margin:20px 10px;
}
.infoCon select{ 
    height:30px; 
	color:#333; 
	border:1px solid #c7c7c7;
    vertical-align:middle;
}
.infoCon input[type=text]{ 
    height:30px; 
	line-height:30px; 
	padding:0 7px; 
	border:1px solid #c7c7c7;
	width:170px;
}
.infoCon td{
	 padding-bottom:8px;
}
.infoCon td .infoMore{
	background:url(../images/b2g/sprite.png) no-repeat 0 -190px; 
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}
.infoCon td .infoMore:hover{
	background:url(../images/b2g/sprite.png) no-repeat -36px -190px; 
}
.infoCon td.tdTit{
	 font-weight:bold;
	 text-align:right;
}
.infoCon td.tdTit em{
	 color:#ff0000;
}
.editboxTitle{
	border-bottom:1px solid #d2d2d2;
	background:#f4f4f4;
	height:48px;
	line-height:48px;
	padding-left:30px;
}
.editboxTitle h4{
	font-size:16px;
	color:#333;
	font-weight:bold;
	float:left
}
.editboxTitle span{
	display:inline;
	float:right;
	margin-right:20px;
}
.editInfo-unfold{
	cursor:pointer;
	
}
.editInfo-unfold i{
	background:url(../images/b2g/sprite.png) no-repeat -13px -171px;
	width:11px;
	height:11px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;	
}
.editInfo-fold i{
	background:url(../images/b2g/sprite.png) no-repeat 0 -171px;
	width:11px;
	height:11px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;	
}
.editInfo-unfold em{
	font-size:14px;
	color:#333;
}
.editInfo-add{
	cursor:pointer;	
	margin-left:36px;
}
.editInfo-add em{
	display:none
}
.editInfo-add:hover em{
	display:inline;
}
.editInfo-add i{
	background:url(../images/b2g/sprite.png) no-repeat 0 -150px;
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.editInfo-add:hover i{
	background:#e9fced url(../images/b2g/sprite.png) no-repeat 0 -150px;
	cursor:pointer;
	height:16px;
	width:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.editInfo-del{
	cursor:pointer;
	margin-left:36px;
}
.editInfo-del em {
	display:none;
}
.editInfo-del:hover em{
	display:inline;
}
.editInfo-del i{
	background:url(../images/b2g/sprite.png) no-repeat -54px -150px;
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.editInfo-del:hover i{
	background:#fef2f2 url(../images/b2g/sprite.png) no-repeat -91px -150px;
	cursor:pointer;
	height:16px;
	width:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.otherInfo{

}
.otherInfo td{
	border-bottom:1px dashed #ccc;
	padding:15px 0 
}
.otherInfo td.tit{
	font-weight:bold;
	text-align:right;
}
.otherInfo td.noBorder{
	border-bottom:none
}
.otherInfo td.last{
	border-bottom:none;
	padding-bottom:0;
}
.other-nonetable td{
	padding:0;
	border-bottom:none;
	margin:0
}
.editbuttonbox{
	clear:both;
	text-align:center;
	padding:25px 0 40px 0
}
.btnfontStyle{
	font-family:"Microsoft YaHei";
	font-size:16px;
	font-weight:bold;
	height:38px;
	line-height:38px;
	text-align:center;
	padding:0 40px;
}
/*修改密码弹出框*/
.changepwdDiv{
	padding:10px 0 0 0;
}
.changepwdDiv td{
	padding-bottom:8px;
}
.changepwdDiv td.tdTit{
	text-align:right;
	font-weight:bold;
	color:#333;
	font-size:14px;
}
.changepwdDiv td .textright,.changepwdDiv td .texterror{
	background:url(../images/b2g/sprite.png) no-repeat -36px -150px;
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	margin-right:4px;
}
.changepwdDiv td .texterror{
	background:url(../images/b2g/sprite.png) no-repeat -18px -150px;
}
.pwd-tips{
	color:#333;
}
.pwd-tips p{
	padding:0 0 4px 0;
}
.pwd-tips p i{
	background:url(../images/b2g/sprite.png) no-repeat 0 -276px;
	width:17px;
	height:17px;
	display:inline-block;
	vertical-align:middle;
	margin-right:4px;
}
.pwd-tips ul{
	margin:0 0 0 20px;
}
.pwd-tips ul li{
	list-style:disc;
	padding:0 0 4px 0;
}
/*部门组织架构树*/
.orgchartDiv p{
	padding:5px 0 5px 60px;
}
.orgchartDiv label{
	font-weight:bold;
	color:#333;
	font-size:14px;
}