@charset "utf-8";
/* 运营商 营销CSS Document */

/*  jenny */
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}
.k-i-arrow-s,.k-link:not(.k-state-disabled):hover > .k-i-arrow-s, .k-state-hover .k-i-arrow-s, .k-button:hover .k-i-arrow-s,
.k-textbox:hover .k-i-arrow-s, .k-button:active .k-i-arrow-s{
    background-position:0 -30px !important;
}
.k-popup .k-list .k-item{
    line-height: 30px !important;
}
.k-widget .k-input{
    height: 30px !important;
    line-height: 30px !important;
}
.popup-window{
    padding: 15px 20px 20px !important;
}

.ke-toolbar{
    padding:7px 5px;
}
.ke-statusbar{
    background: transparent;
    border-top: 0;
    padding-bottom: 5px;
}
.ke-statusbar-center-icon{
    background: none;
}
.ke-edit{
    /*height: 90px !important;*/
}
.ke-container{
    max-width: 900px;
    resize: none;
}

input[type="text"],
input[type="password"]{
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
}

/*layer Gray*/
.k-tooltip{
    border: none;
    box-shadow: none;
    background: none;
}
.k-tooltip-content{ padding: 0;}
.changeLayerGrayBlock {
    border:3px solid #e2e2e2;
    background:#fff;
}
.changeLayerGrayContainer {
    border:1px solid #a8a8a8;
    padding:5px 12px;
    color:#636363;
    position:relative;
}
.k-tooltip-dir-n .changeLayerGrayArrow,
.shadow_box .k-callout-n{
    /*TOP arrow*/
    position:absolute;
    top:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 0;
    width:9px;
    height:5px;
}
.k-tooltip-dir-s .changeLayerGrayArrow,
.shadow_box .k-callout-s{
    /*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 -6px;
    width:9px;
    height:5px;
}.shadow_box .k-callout-n{/*TOP arrow*/
     margin-top:1px;
 }
.shadow_box .k-callout-s{/*BOTTOM arrow*/
    margin-bottom:1px;
}
.shadow_box .k-loading-image{
    height: 40px;
    width: 40px;
    left:50%;
    margin-left:-20px;
    background: url(../images/store/mini_loading.gif) no-repeat 50% 50%;
}
.shadow_box .k-loading-mask{
    background:#fff;
    border:1px solid #a8a8a8;
}
/* layer Gray 结束 */


/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}
.main-footer center {
    margin-top: 20px;
}
.copyright {
    padding-bottom: 20px;
}
.main-footer a {
    color: inherit;
}
.main-footer .bar {
    margin: 0 5px;
}

.topFixedToolsBar .fixedMenu{
    width: auto;
}
.fixedMenu h3{ 
    font-size:14px;
}
.fixedMenu .menuRoundRedFonts{
    color: #fff;
    font-size: 12px;
    padding: 0px 2px;
    background: #ff5b02;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 5px;
}
.fixedMenu .currentState{
    background: #FFFFFF;
    border-bottom: 3px solid #ff7702;
    color: #333333;
}

.information_div{
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #ccd0d2;
}
.information_tab td{ 
    line-height:40px;
}
.information_tab td input[type="text"]{
    height: 30px;
    padding-left: 4px;
}
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:25px;}
.tgrid tbody a{ color:#0066cc; margin-right:5px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; padding: 7px; line-height: 20px; height: 25px;}
.tgrid .textAlginCenter{text-align: center;}
.tgrid thead th{ font-weight:normal;}
.tgrid.tbFixed { table-layout: fixed;}
.tbFixed td{ white-space: inherit;}


/*  弹窗表题添加内容 S */
.addTitleContent {
    margin-left: 30px;
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: -27px;
    left: 65px;
    font-weight: 500;
}
.addTitleContent em{
    font-weight: bold;
    color: #ff6600;
    margin: 0 3px;
}
div.addTitleStyle {
    z-index: 1 !important;
    overflow: visible !important;
}

.tgrid .greenFonts339{
    color: #339933;
    font-size: 14px;
}

#container .banner{
    height: 97px;
    background-color: white;
}

#container .banner .lineTitle{
    padding: 20px 0px 15px 33px;
    color: #333333;
    font-size: 16px;
}

#container .banner .lineDetail div{
    float: left;
    margin: 0 32px;
    font-size: 12px;
}

#container .banner .lineDetail .detail1{
    color: #666666;
}

#container .banner .lineDetail .detail2{
    margin-left: 4px;
    color: #333333;
}
/*  弹窗表题添加内容 E */



/* 券发放情况 S  */
.tgrid .commonTagBg{
    display: inline-block;
    min-width: 60px;
    height: 25px;
    line-height: 25px;    
    text-align: center;
    color: #fff;
    margin-top: 2px;
}
.tgrid .commonTagBg.blueBgFonts{
    background-color: #0b87de;
}
.tgrid .commonTagBg.purpleBgFonts{
    background-color: #7e7cd5;
}
.tgrid .commonTagBg.greenBgFonts{
    background-color: #3ec087;
}
.tgrid .redFonts{
    color: #da3737;
}
.tgrid .greenFonts{
    color: #009e46;
}
.tgrid .blueFonts{
    color: #0066cc;
}
.tgrid .roseoFonts{
    color: #ff03d9;
}
.tgrid .cyanFonts{
    color: #00d5ba;
}
.tgrid .lightpurpleFonts{
    color: #00d5ba;
}
.tgrid .purpleFonts{
    color: #5800a2;
}
.tgrid .deepyellowFonts{
    color: #e67200;
}
.tgrid .brownFonts{
    color: #9c4d00;
}
.commonModelWindow th{
    color: #2c2c2c;
    font-weight: bold;
    padding: 5px 2px;
}
.commonModelWindow td{
    padding: 5px 2px;
    color: #666;
    line-height: 19px;
}
.commonModelWindow .verticalAlignTop{
    vertical-align: top;
}
.commonModelWindow .orangeFonts{
    color: #ff6600;
}
.commonModelWindow .foldContent{
    width: 430px;
    position: relative;
}
.foldContent .foldFonts{
    display: inline-block;
    max-height: 95px;
    overflow: hidden;
}
.foldContent .foldFonts label{
    display: inline-block;
    white-space: nowrap;
}
.operateClick{
    margin-right: -36px;
}
.groupClick .foldType{
    display: inline-block;
    width: 55px;
    color: #0066cc;
    cursor: pointer;
    position: absolute;
    right: -35px;
    bottom: 2px;
}
.groupClick.putTop .foldType{
    bottom:inherit;
    top: -18px;
}
.operateClick .foldType{
    display: inline-block;
    width: 55px;
    color: #0066cc;
    cursor: pointer;
    text-align:left;
}
.operateClick .foldType.expandMoreLink,.groupClick .foldType.expandMoreLink{
    background: url(../images/operator/blueHollowDownArrow.png) no-repeat 70% center;
}
.operateClick .foldType.foldMoreLink,.groupClick .foldType.foldMoreLink {
    background: url(../images/operator/blueHollowUpArrow.png) no-repeat 70% center;
}
.grayCommonTab th{
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 7px;
    text-align: left;
    color: #2c2c2c;
    font-weight: normal;
}
.grayCommonTab th .fonts888{
    color: #888888;
}
.grayCommonTab td{
    border: 1px solid #e0e0e0;
    padding: 7px;
    color: #454545;
}
.grayCommonTab .blueFonts{
    color: #0066cc;
}
.grayCommonTab tbody a{
    color: #0066cc;
    margin-right: 5px;
}
.grayCommonTab tbody a:hover{
    text-decoration: underline;
}
.btnCenterModel{
    margin: 20px 0 10px;
    text-align: center;
}
.btnCenterModel .large_button{
    font-size: 14px;
    font-weight: bold;
}
.btnCenterModel .disable{
    color: #505050;
}
.activityContent{
    font-size: 14px;
    margin: 0 0 10px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #454545;
}
.activityTicket{    
    display: inline-block;
    background-color: #efefef;
    height: 120px;
    width: 370px;
    position: relative;
}
.activityTicket .priceContent{
    display: inline-block;
    font-size: 14px;
    width: 140px;
    color: #fff;
    background-color: #fc552e;
    text-align: center;
    height: 120px;
    position: relative;
}
.priceContent .activityTicketBorder{
    display: inline-block;
    width: 3px;
    height: 100%;
    background: url("../../static/images/operator/activityTicketBg.png") repeat-y;
    position: absolute;
    right: -2px;
    top: 0;
}
.priceContent .priceFonts{
    padding: 10px 0 5px;
}
.priceFonts .priceSymbol{
    font-size: 20px;
}
.priceFonts .fontSize48{
    font-size: 48px;
}
.activityTicket .dateContent{
    font-size: 12px;
    display: inline-block;
    width: 195px;
    padding: 0 15px;
    color: #454545;
    vertical-align: top;
}
.dateContent .useClassify{
    line-height: 18px;
    margin: 15px 0;
}
.dateContent .timeFonts{
    text-align: right;
    position: absolute;
    bottom: 7%;
    right: 15px;
}
.activityContent .activityRight{
    display: inline-block;
    margin-left: 30px;
    margin-top: 25px;
}
.activityContent .activityTitle{
    color: #454545;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
.activityContent .activityTitle.greenFonts{
    color: #009e46;
}
.activityContent .activityTitle.redFonts{
    color: #da3737;
}
.activityContent .activityInfo{
    color: #666;
    margin: 15px 0 25px;
}
.activityContent .activityInfo label{
    display: inline-block;
    margin-right: 40px;
}
.activityContent .activityInfo .orangeFonts{
    color: #ff5a00;
    margin:  0 5px;
}

.sorttab { position:relative;cursor:pointer;}
.sorttab i,.sorttab_line2 i {  
    width:9px; 
    display:inline-block;
    height:13px;
    vertical-align:middle; 
    position:relative; 
    right:0; 
    top:0; 
    background:url(../images/operator/sort.png) no-repeat 0 0;}
.sorttab_line2 i {top:-20px;left:27px;}
.ascend i {background-position: -14px 0;}
.descend i {background-position: -28px 0;}

.fullSubtract{
    margin: 5px 0;
}
.fullSubtract h3{
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    margin: 5px 0;
}
.fullSubtract .fullSubtractInfo{
    width: 300px;
    height: 160px;
    border: 1px solid #d0d0d0;
}
.tgrid .full100:hover,
.tgrid .full200:hover{
    text-decoration: none;
}
/* 券发放情况 E  */

/*  新增购买券 S  */
.commonBodyStyle{
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #dfe3e5;
    background-color: #fff;
    padding: 10px;
}
.addTicketTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.addTicketTab tbody .redFonts{
    color: #ff0000;
    vertical-align: middle;
}
.addTicketTab td{
    padding: 5px 3px;
}
.addTicketTab tbody .verticalAlignTop{
    vertical-align: top;
}
.addTicketTab tbody .paddingTop10{
    padding-top: 10px;
}
.addTicketTab .activeExplain{
    width: 650px;
    height: 170px;
    padding: 10px;
}
.addTicketTab .activeName{
    width: 430px;
}
.addTicketTab .activeName label{
    display: inline-block;
    min-width: 90px;
    margin-bottom: 10px;
}
.checkboxContent{
    margin-right: 10px;
    display: inline-block;
}
.checkboxContent .commonIcon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.checkboxContent .commonIcon.checkboxIcon{
    width: 12px;
    height: 12px;
    background: url("../images/operator/operatorIcon.png") no-repeat -93px -122px;
    margin-top: -2px;
}
.checkboxContent .checkboxIcon.active{
    background-position: -109px -122px;
}
.tabsClassify .checkboxContent{
    margin-right: 0;
}
.addTicketTab .lightBtn{
    display: inline-block;
    min-width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 3px 10px;
    color: #0066cc;
    background-color: #e4f8ff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.addTicketTab .lightBtn:hover{
    color: #fff;
    background-color: #0066cc;    
}
.addTicketTab .totalGroup{
    margin-left: 20px;
}
.addTicketTab .orangeFonts{
    color: #ff6000;
}
.foldContent.addClientGroupInfo{
    width: 670px;
    margin-top: 10px;
    position: relative;
}
.foldContent.addClientGroupInfo .foldFonts label{
    margin-bottom: 7px;
}
.inquireWindow{
    margin-bottom: 15px;
}
.inquireWindow th{
    font-size: 14px;
    font-weight: bold;
    color: #454545;
}
.selectedContent{
    margin-bottom: 10px;  
    padding-top: 10px;
    border-top: 1px dashed #454545;
    line-height: 20px;
}
.selectedContent .selectedInfo{
    float: left;
    width: 480px;
    margin-left: 10px;
}
.redFonts{
    color: #ff6600;
}
.redFonts .selectedNumber{
    margin: 0 10px;
}
.selectedInfo .selectedFonts{
    color: #454545;
}
.selectedInfo .clearSelected{
    color: #0066cc;
    cursor: pointer;
}
.tabChangeList{
    margin: 15px 0 20px;
}
.tabChangeList .listClassify{
    width: 100%;
    border-bottom: 1px solid  #f0713a;
}
.listClassify li{
    float: left;
    min-width: 65px;
    text-align: center;
    color: #333;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    cursor: pointer;
}
.listClassify li:hover{
    font-weight: bold;
}
.listClassify li.current{
    font-weight: bold;
    border: 1px solid #f0713a;
    border-bottom: none;
    margin-bottom: -1px;
    background-color: #fff;
}
.tabsClassify{
    padding-top: 10px;
}
.noBorderTab{
    margin-bottom: 20px;
    color: #454545;
}
.noBorderTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.noBorderTab td{
    padding: 5px 3px;
}
.noBorderTab .coloa5a5{
    color: #a5a5a5;
    margin-left: 10px;
}
.verticalAlignTop{
    vertical-align: top;
}
.noBorderTab .usableRange .checkboxContent{
    margin-right: 20px;
    min-width: 80px;
    margin-bottom: 10px;
}
.noBorderTab .ticketBgImg{
    margin-top: 10px;
}
.noBorderTab .ticketBgImg img{
    max-width: 290px;
    height: auto;
}
.grayCommonTab.addFavorableTab{
    margin-top: 10px;
}
.grayCommonTab.addFavorableTab th{
    text-align: left;
    padding: 7px;
}
.grayCommonTab.addFavorableTab td{
    padding: 7px;
}
.editableModel span{
    display: inline-block;
}
.addFavorableTab .sampleInfo{
    position: relative;
}
.sampleInfo .sampleIcon{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url("../images/operator/operatorIcon.png") no-repeat -24px -321px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20%;
}
.sampleContent{
    margin: 5px 0;
}
.sampleContent .titleFonts{
    font-size: 12px;
    color: #333;
}
.sampleHint{
    margin-top: 10px;
}
.sampleHint td{
    padding: 3px 0;
}
.sampleHint td div{
    line-height: 18px;
}
.sampleHint .orangeBorder{
    border: 1px solid #ff5a00;
}
.orangeFonts{
    color: #ff6600;
}
.addTicketTab .redbold{
    color:#ff0000;
    font-weight:bold;
    line-height:18px;
}
/*  新增购买券 E  */

.popup-window .changeLayerGrayBlock,
.popup-window .changeLayerGrayContainer {
    border: none!important;
}

.couponNum{
    color:#2c2c2c;
    font-weight:bold;
    margin-top:10px;
}
.couponNum span{
    color:#ff6600;
}

.hour,.minute{
    width:50px;
    height:32px;
    border:1px solid #cfcfcf;
    margin-left:5px;
    margin-right:5px;
}

.operateList {
  font-size: 14px;
  max-height:140px;
  overflow-y: auto;
  background:#f5f5f5;
  padding-left: 5px;
}
.operateList li {
  position: relative;
  /* border-left: 1px solid #ade0f1; */
  padding: 0 5px 5px 15px;
  margin: 0 10px;
}
.operateList .operateIcon {
  display: inline-block;
  background: url("../images/supplier/smallSpirit.png") no-repeat -250px 0;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -6px;
  top: 4px;
  z-index: 2;
}
.operateList .operateLeftLine {
  display: inline-block;
  width: 1px;
  border-left: 1px solid #ade0f1;
  height: 100%;
  position: absolute;
  left: -1px;
  top: 4px;
  z-index: 1;
}
.operateList .operateTitle {
  color: #333333;
}
.operateList .operateTitle em {
  margin-left: 20px;
}
.operateList .operateP {
  color: #999999;
  line-height: 20px;
  margin-top: 3px;
}

.breakLine {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}