@charset "utf-8";
/* CSS Document */

.lookup{ height:auto; padding:7px 0px 20px 20px; border-right:1px solid #dfe3e5; border-bottom:2px solid #dfe3e5; margin-bottom:10px; background:#fff;}
.lookup_tab{ width:100%;}
.lookup_tab td{ line-height:30px; height:30px;}
.lookup_tab td input{ padding-left:3px; color:#666;}
.lookup_tab td select{ width:125px; height:22px; color:#666;}
.tgrid{ background:#fff;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid th{ text-align:left; padding-left:5px; height:30px;} 
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover,.operate a:hover{ color:#0066cc;text-decoration:underline;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.line_left{ border-left:1px solid #e0e0e0 !important;}
.line_right{ border-right:1px solid #e0e0e0 !important;}
.third{ background:#ffffdb;}
.tgrid .huise{ color:#b1b1b1;}
.tgrid .red_color{ color:#e4702a;}
.tgrid .hui_bg{ background:#f0f0f0;}
.tgrid .font_color,.third .font_color td{ color:#b1b1b1;}
.tgrid .a_span,.tgrid .a_span:hover{ color:#454545;}

.template{ width:100%; border-right:2px solid #cacdcf; border-bottom:2px solid #cacdcf; padding:20px 0 50px 30px; background:#fff;}
.template b{ display:inline-block; width:93px;}
.template input{ color:#666; padding-left:3px;}
.template select{ color:#666; height:22px;}
.tem_name,.system,.note,.mail{ margin-bottom:20px;}
.system input,.note input,.mail input{ border:0;}
.tem_name input{ width:125px; margin-right:30px;}
.tem_name select{ width:125px;}
.system textarea,.note textarea{ width:590px; height:65px; overflow-y:scroll; resize:none;}
.system b{ vertical-align:top;}
.note label,.mail label{ font-weight:bold; vertical-align:top; width:93px; display:inline-block;}
.note label input,.mail label input{ margin-right:2px; vertical-align:top;}
.mail a{ margin-right:30px;}
.mail_a{ color:#0066ff;}
.mail_a:hover{ text-decoration:underline;}