/*
**  created by shuaigeng.zhao 
*/


/*  添加售价规则  By:shuaigeng.zhao */
.commonFileContent{
    padding: 5px 0;
    margin-bottom: 15px;
    background-color: #fff;
    color: #454545;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #dfe3e5;
}
.commonFileContent .commonModuleClassify{
    padding: 15px 10px 15px 20px;
    border-top: 1px solid #dfe3e5;
}
.commonFileContent .commonModuleClassify:first-child{
    border-top: 0;
}

.redStar {
	color: #ff0000;
	position: relative;
	top: 2px;
	right: 2px;
}

.fileModuleTitle .titleBoldFonts{
    color: #0066cc;
    font-size: 16px;
    font-weight: bold;
}

.commonModuleClassify .commonTabFreight input[type="text"]{
    padding-left: 2px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #d3d3d3;
}
.commonModuleClassify .commonTabFreight{
    margin-top: 10px;
    position: relative;
}
.commonModuleClassify .commonTabFreight th{
    text-align: right;
}
.commonModuleClassify .commonTabFreight td{
    padding: 7px 3px;
}
.commonModuleClassify .commonTabFreight label{
    /*margin-right: 25px;*/
}
.commonTabFreight label input[type="radio"],.commonTabFreight label input[type="checkbox"]{
    margin-right: 2px;
    margin-top: -2px;
}
.fileModuleTitle .EnglishFonts{
    margin-left: 30px;
    font-size: 14px;
}
.commonTabFreight .blueSmallBtn{
    display: inline-block;
    min-width: 40px;
    text-align: center;
    padding: 2px 5px;
    margin-left: 5px;
    background-color: #41aade;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.commonTabFreight .blueSmallBtn:hover{
    background-color: #2ba2dd;
}
.commonTabFreight .legDelete{
    color: #4199c4;
    margin-left: 5px;
}
.commonTabFreight .legDelete:hover{
    text-decoration: underline;
}
.commonTabFreight .paddingBottom td{
    padding-bottom: 15px;
}
.commonTabFreight td b{
    font-weight: bold;
}
.commonModuleClassify .airInformation{
    margin-left: 20px;
}
.airInformation .textareaInfo{
    display: inline-block;
    width: 290px;
    height: 95px;
    padding: 5px;
}
.airInformation div,.shareAirTab div,.endorseTicketTab div{
    margin-bottom: 10px;
}
.airInformation .airHint{
    float: left;
    display: inline-block;
    width: 155px;
    margin-left: 15px;
}
.commonTabFreight .marginRight10{
    margin-right: 10px;
}
.commonModuleClassify .marginLeft20{
    margin-left: 20px;
}
.commonTabFreight .borderTopSolid td{
    border-top: 1px solid #dfdede;
}
.commonModuleClassify .shareAirTab td{
    padding: 15px 3px;
}
.commonModuleClassify .shareAirTab .trPaddingTop td{
    padding-top: 7px;
}
.shareAirTab .shareDeleteAll{
    color: #0066cc;
    margin-left: 35px;
    cursor: pointer;
}
.shareAirTab .shareDeleteAll .deleteIcon{
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url("../images/operator/operatorIcon.png") no-repeat -13px -122px;
    margin-right: 3px;
    vertical-align: middle;
}
.shareAirTab .shareDelFonts{
    color: #4199c4;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    margin-left: 5px;
}
.shareAirTab .shareDelFonts:hover{
    text-decoration: underline;
}
.commonTabFreight .verticalAlignTop{
    vertical-align: top;
}
.commonModuleClassify .shareAirTab .paddingTop20{
    padding-top: 20px;
}
.commonModuleClassify .shareAirTab .paddingTop10{
    padding-top: 10px;
}
.commonTabFreight .marginBottom0{
    margin-bottom: 0;
}
.commonTabFreight .paddingBottom0 td{
    padding-bottom: 0;
}

.commonModuleClassify .airInformation{
    margin-left: 20px;
}
.commonModuleClassify .marginLeft20{
    margin-left: 20px;
}
.commonModuleClassify .shareAirTab td{
    padding: 15px 3px;
}
.commonModuleClassify .shareAirTab .trPaddingTop td{
    padding-top: 7px;
}
.commonModuleClassify .shareAirTab .paddingTop20{
    padding-top: 20px;
}
.commonModuleClassify .shareAirTab .paddingTop10{
    padding-top: 10px;
}
.commonModuleClassify .addModelStyle{
    background: #f5f5f5;
    width: 920px;
    border: 1px solid #dedede;
    padding: 8px 0;
    margin: 15px 0;
    text-align: center;
    color: #0066cc;
    cursor: pointer;
}
.commonModuleClassify .addModelStyle .addModelStyleIcon{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../images/operator/operatorIcon.png") no-repeat -48px -122px;
}
.commonModuleClassify .addModelStyle:hover .addModelStyleIcon{
    background-position: -30px -122px;
}
.commonModuleClassify .addModelStyle:hover{
    color: #fff;
    background-color: #26a2df;
    border: 1px solid #26a2df;
}
.commonModuleClassify .textAlignRight{
    text-align: right;
}
.commonModuleClassify .endorseTicketTab td{
    padding: 12px 3px;
}
.endorseTicketTab .borderBottomSolid,.commonModuleClassify .tabBottomBorderSolid{
    border-bottom: 1px solid #dfdede;
}

.commonTabFreight textarea {
	padding: 3px;
}

.numberOfPasses {
    padding: 5px 6px;
    color: #fff;
    border-radius: 3px;
    margin-left: 8px;
}

.greenBg {
    background-color: #35c159;
}

.deepPurpleBg {
    background-color: #6183d0;
}

.orangeRedBg {
    background-color: #fb725c;
}

.orangeYellowBg {
    background-color: #fa962b;
}
.deepPinkBg {
    background-color: #f47aa3;
}
 .lightPurpleBg {
    background-color: #855fe6;
}

.hoverDeleteFonts {
    color: #0066cc;
    cursor: pointer;
    display: none;
}

.hoverDeleteIcon {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url("../images/operator/operatorIcon.png") no-repeat -13px -122px;
    margin-right: 3px;
    vertical-align: middle;
}

.policyRuleInfoTab tbody tr:hover .hoverDeleteFonts {
    display: inline-block;
}

.policyRuleInfoTab .hasRightBorder {
	padding: 2px 10px 2px 0;
	border-right: 1px solid #9e9e9e;
}

.policyRuleInfoTab tr {
	border-bottom: 1px dashed #bbb;
}

.policyRuleInfoTab tr:last-child {
	border-bottom: none;
}

.policyRuleInfoTab tr:hover {
	background-color: #ecf6fa;
}

.policyRuleInfoTab td {
	padding: 15px 3px!important;
}

.commonModuleClassify .addModelStyle{
    background: #f5f5f5;
    width: 920px;
    border: 1px solid #dedede;
    padding: 8px 0;
    margin: 15px 0;
    text-align: center;
    color: #0066cc;
    cursor: pointer;
}
.commonModuleClassify .addModelStyle .addModelStyleIcon{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../images/operator/operatorIcon.png") no-repeat -48px -122px;
}
.commonModuleClassify .addModelStyle:hover .addModelStyleIcon{
    background-position: -30px -122px;
}
.commonModuleClassify .addModelStyle:hover{
    color: #fff;
    background-color: #26a2df;
    border: 1px solid #26a2df;
}
.commonModuleClassify .colorAfafaf{
    line-height: 18px;
    color: #afafaf;
    margin-left: 5px;
}

.commonModuleClassify .lightBlueBgDateInfo{
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    background-color: #ecf7fb;
    border: 1px solid #9ecfdd;
}
.lightBlueBgDateInfo .dateContent{
    color: #343331;
    min-width: 160px;
    display: inline-block;
}
.lightBlueBgDateInfo .closeIcon{
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url("../images/ucac.png") no-repeat -60px 0;
    vertical-align: middle;
    cursor: pointer;
}
.policyAttachInfoTab .topAlign {
	vertical-align: top;
	padding-top: 10px;
}

.lightBlueBgDateModel {
	margin-top: 10px;
}
.ticketTypes label {
	margin-right: 20px;
}

.customerGroupTab .editOper {
	color: #0066cc;
}

.customerGroupTab .editOper:hover em {
	text-decoration: underline;
	cursor: pointer;
}

.customerGroupTab .editIcon {
	background: url(../images/operator/edit-del-search-icon.png) no-repeat 0 -21px;
	width: 13px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 2px;
}

.customerGroupTab .delOper {
	color: #9f9f9f;
	margin-left: 15px;
}

.customerGroupTab .delOper:hover em {
	text-decoration: underline;
	cursor: pointer;
}

.customerGroupTab .delIcon {
	background: url(../images/operator/edit-del-search-icon.png) no-repeat 0 -36px;
	width: 9px;
	height: 9px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 2px;
}

.customerGroupTab {
	border: 1px solid #dedede;
	width: 922px;
}

.customerGroupTab th {
	background-color: #f5f5f5;
	border-top: 1px solid #dedede;
	height: 30px;
	line-height: 30px;
	text-align: left!important;
	font-weight: normal;
}

.customerGroupTab tbody tr {
	border-bottom: 1px dashed #bbb;
	height: 40px;
}

.customerGroupTab tbody tr:hover .operCont {
	display: block;
}

.customerGroupTab tbody tr:hover {
	background-color: #ecf6fa;
}

.customerGroupTab .operCont {
	display: none;
}

.customerGroupTab th:first-child,
.customerGroupTab td:first-child {
	padding-left: 15px;
}

.customerGroupTab td:first-child {
	font-weight: bold;
	color: #333;
}

.scg-win-container {
	color: #333;
}

.left-list {
	float: left;
	width: 257px;
	border-right: 1px solid #e0e0e0;
}

.search-cg-bar .search-icon {
	background: url(../images/operator/edit-del-search-icon.png) no-repeat 0 0;
	width: 18px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.scg-win-container .oper-btn {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
}

.scg-win-container .oper-btn .button_unimportant {
	color: #505050;
}

.scg-body {
	border-bottom: 1px solid #e0e0e0;
}

.noPadding {
	padding: 0!important;
}

.search-cg-bar {
	margin: 20px 0 10px 10px;
}

.search-cg-bar input[type='text'] {
	height: 22px;
	line-height: 22px;
}

.cg-title {
	height: 30px;
	line-height: 30px;
	color: #777777;
	background-color: #f1f2f2;
	padding-left: 25px;
}

.cg-list {
	height: 287px;
	overflow-y: auto;
    background-color: #fff;
}

.cg-list-cont .cg-item {
	height: 35px;
	border-bottom: 1px solid #e0e0e0;
	line-height: 35px;
	padding-left: 10px;
	color: #333;
}

.cg-list-cont .cg-item:hover {
	background-color: #ecf6fa;
}

.cg-list-cont .cg-item.actived:hover .oper-link {
	display: inline-block;
}

.cg-list-cont .cg-item:last-child {
	border-bottom: none;
}

.cg-list-cont .cg-item input[type='checkbox'] {
	margin-right: 3px;
}

.cg-list-cont .cg-item .oper-link {
	display: none;
	color: #3399cc;
	float: right;
	margin-right: 10px;
}

.cg-list-cont .cg-item .oper-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.cg-item.actived .cg-name {
	color: #ff6600;
}

.cg-cont-top {
	margin: 18px 0 12px 0px;
}

.cg-cont-top .exclude-num {
	color: #ff0000;
	padding: 0 5px;
}

.customerListTab {
	width: auto;
	margin: 0 auto;
}

.customerListTab tr {
	height: 23px;
	line-height: 23px;
}

.customerListTab th {
	font-weight: normal;
}

.customerListTab th,
.customerListTab td {
	text-align: left;
	padding-left: 7px;
}

.customerListTab tbody td:first-child {
	border-left: none;
}

.customerListTab tbody td:last-child {
	border-right: none;
}

.customerListTab input[type='checkbox'] {
	margin-right: 3px;
}