@charset "utf-8";
/* 运营商 邮轮CSS Document */


/*  jenny */
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}
.k-i-arrow-s,.k-link:not(.k-state-disabled):hover > .k-i-arrow-s, .k-state-hover .k-i-arrow-s, .k-button:hover .k-i-arrow-s,
.k-textbox:hover .k-i-arrow-s, .k-button:active .k-i-arrow-s{
    background-position:0 -30px !important;
}
.k-popup .k-list .k-item{
    line-height: 30px !important;
}
.k-widget .k-input{
    height: 30px !important;
    line-height: 30px !important;
}
.popup-window{
    padding: 15px 20px 20px !important;
}
.grid-table-pagination .links a,.grid-table-pagination .links a:hover{
    border: 0;
    background: none;
}
.grid-table-pagination .noIcon{
    display: none;
}
.grid-table-pagination .links a:hover{
    text-decoration: underline;
    color: #05579d;
}
.grid-table-pagination .links .current,.grid-table-pagination .links .current:hover{
    background-color: #05579d;
    border: 0 !important;
    color: #FFFFFF;
}
.grid-table-pagination .links .ellipsis{
    cursor: default;
}
.grid-table-pagination .links .current:hover,.grid-table-pagination .links .ellipsis:hover{
    text-decoration: none;
}
.grid-table-pagination .prev:hover,.grid-table-pagination a:hover{
    text-decoration: none;
    border: 0;
    background-color: #FFFFFF;
}
.grid-table-pagination a{
    border: 0;
}


.ke-toolbar{
    padding:7px 5px;
}
.ke-statusbar{
    background: transparent;
    border-top: 0;
    padding-bottom: 5px;
}
.ke-statusbar-center-icon{
    background: none;
}
.ke-edit{
    /*height: 90px !important;*/
}
.ke-container{
    max-width: 900px;
    resize: none;
}

.fixedMenu h3{ 
    font-size:14px;
}
.fixedMenu .menuRoundRedFonts{
    color: #fff;
    font-size: 12px;
    padding: 0px 2px;
    background: #ff5b02;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 5px;
}
.fixedMenu .currentState{
    background: #FFFFFF;
    border-bottom: 3px solid #ff7702;
    color: #333333;
}

.information_div{
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #ccd0d2;
}
.information_tab td{ 
    line-height:40px;
}
.information_tab td input[type="text"]{
    height: 30px;
    padding-left: 4px;
}
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:30px;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}

.shipBasicInfo {
    margin: 20px 10px;
}
.shipBasicInfo th em{
    color: red;
    margin-right: 3px;
}
.shipBasicInfo th {
    text-align: right;
    font-weight: normal;
    padding: 0 5px 20px 0;
}
.shipBasicInfo td {
    padding: 0 5px 20px 0;
}

.shipBasicInfo .textareaDiv{
    position: relative;
}

.shipBasicInfo .country{
    margin-left: 10px;
}

.shipBasicInfo input[name="select"]{
    margin-left:  10px;
}

.textareaDiv .textareaContent{
    width: 780px;
    padding: 5px;
    line-height: 18px;
}
.textareaDiv .introText{
    height: 70px;
}
.textareaDiv .introduceText{
    height: 250px;
}

.textareaDiv .introduceText2{
    width: 465px;
    height: 140px;
}

.textareaDiv .hintFontsNumber{
    position: absolute;
    bottom: -17px;
    right: 25px;
    color: #b5b5b5;
}

/*上传照片*/
.shipUploadImg{
    height: auto;
    overflow: hidden;
}
.shipUploadImg li {
    width:188px;
    height: 123px;
    border: 1px solid #d3d3d3;
    margin: 0 10px 20px 0;
    float: left;
}
.shipUploadImg li.uploadingBox {
    width:164px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
}
.shipUploadImg .uploadBar {
    background: #ededed;
    width:165px;
    height: 16px;
    position: relative;
}
.shipUploadImg .uploadinged {
    background: #0074d2;
    width:60px;
    height: 16px;
    position: absolute;
    top:0px;
    left: 0px;
}
.shipUploadImg li.addImgBox {
    border: 1px solid #0074d2;
    width:164px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
    color: #0074d2;
    font-size: 16px;
}
.shipUploadImg li.addImgBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}
.shipUploadImg .shipImgLi {
    position: relative;
}
.shipUploadImg .memberFile{
    display: none;
}
.shipUploadImg .shipImgLi:hover .memberFile {
    position: absolute;
    bottom:0px;
    left: 0;
    height: 30px;
    line-height: 30px;
    width: 188px;
    background:#000;
    background:rgba(0,0,0,.75);
    filter:alpha(opacity=75);
    -ms-filter:'progid.DXImageTransform.Microsoft.Alpha(opacity=75)';
    text-align: center;
    display: block;
}
.shipImgLi .imgPrev, .shipImgLi .imgDel, .shipImgLi .imgNext {
    background: url("../images/supplier/routeShipIcon.png") no-repeat -31px 0;
    width:20px;
    height: 19px;
    display: inline-block;
    vertical-align: sub;
    cursor: pointer;
}
.shipImgLi .imgDel {
    background-position:-80px 0;
    width: 19px;
}
.shipImgLi .imgPrev {
    position: absolute;
    left: 10px;
    top:5px;
}
.shipImgLi .imgNext {
    background-position: -55px 0;
    position: absolute;
    right: 10px;
    top:5px;
}


.shipBasicInfo .errorHint{
    margin-left: 10px;
    color: #ff6000;
}
.errorHint .errorIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url("../images/b2b_noteSet/error.png") no-repeat;
}
.shipBasicInfo .logoContent{
    position: relative;
    display: inline-block;
    padding-right: 20px;
    margin: 0 15px 15px 0;
}
.shipBasicInfo .logoImg{
    display: inline-block;
    padding: 3px;
    text-align: center;
    min-width: 85px;
    border: 1px solid #dddddd;
    line-height: 1;
}
.logoImg .logoIcon,.logoImg .delIcon{
    display: inline-block;
    vertical-align: middle;    
}
.logoImg .costa{
    width: 73px;
    height: 43px;
    background: url("../images/operator/operatorIcon.png") no-repeat 0 -72px;
}
.logoContent .delIcon{
    width: 14px;
    height: 14px;
    background: url("../images/operator/operatorIcon.png") no-repeat -15px -56px;
    position: absolute;
    bottom: 0;
    right: 0px;
    display: none;
    cursor: pointer;
}
.shipBasicInfo .logoContent:hover .delIcon{
    display: inline-block;
}
.shipBasicInfo .blueUploading{
    vertical-align: top;
}
.shipBasicInfo .showLogo{
    display: none;
}
.addImgBox i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -24px;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
}
.addImgBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -20px -24px;
}


/*基础模块维护*/
.basicBlockSummary {
    background: #fff;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #ccd0d2;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.basicBlockSummary input[type=text]{
    padding:0 3px;
    line-height: 28px;
    height: 28px;    
}
.basicBlockSummary select {
    padding: 0 3px;
    line-height: 28px;
    height: 28px;
    border-color: #ccc;
}
.basicBlockSummary .fs14 {
    font-size: 14px;
}
.basicBlockSummary .fc999 {
    color: #999;
}
.basicBlockSummary .fc333 {
    color: #333;
}
.basicBlockSummary .fc666 {
    color: #666;
}
.basicBlockSummary th {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
}
.basicBlockSummary th, .basicBlockSummary td {
    padding: 8px 0 8px 8px;
}
/*tgrid table*/
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
/*.hui_bg,.hui_bg tr{ background:#f0f0f0;}*/
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:25px;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:8px 8px 8px 8px;}
.tgrid thead th{ font-weight:500;}
.tgrid .orangeFont{ color:#ff6600; font-weight:500;}

.shipCompanyList td:first-child, .shipCompanyList td:last-child {
    text-align: center;
}
.shipCompanyList td {
    white-space: normal;
}
.fs14 {
    font-size: 14px;
}
.fc999 {
    color: #999;
}
.updateTime p {
   padding: 2px 0;
}
.shipCompanyList td p {
    padding: 2px 0;
}

.ship-reasonText {
    line-height: 20px;
    width: 220px;
    color: #656565;
    height: 80px;
}
.ship-ljyl, .ship-gsdyl, .ship-hjyl {
    background: url("../images/operator/shipCompanyLogo.jpg") no-repeat 0 0;
    display: inline-block;
    width:57px;
    height: 31px;
}
.ship-gsdyl {
    background-position: 0 -38px;
    width:62px;
    height: 39px;
}
.ship-hjyl {
    background-position: 0 -84px;
    width:83px;
    height: 25px;
}
.noSearchReasultBlock {
    background: #fff;
    height: auto;
    overflow: hidden;
    padding: 60px 0 60px 180px;
}
.noSearchReasultBlockText {
    float: left;
    display: inline;
}
.noSearchReasultBlockText p {
    padding:15px 0 0 0;
}
.noSearchReasultBlockText .goBack a {
    color: #cc6800;
    text-decoration: none;
    font-size: 16px;
}
.noSearchReasultBlockText .goBack a:hover {
    color: #cc6800;
    text-decoration: underline;
}
.noSearchReasultBlockText .fs18 {
    font-size: 18px;
}
.noSearchReasultBlockText .fs16 {
    font-size: 16px;
}
.noSearchReasultBlockText .fc333 {
    color: #333;
}
.noSearchReasultBlockText .fcc6800 {
    color: #cc6800;
}
.noSearchReasultBlockText .goOnArrow {
    background: url("../images/operator/operatorIcon.png") no-repeat 0 -122px;
    display: inline-block;
    width:6px;
    height: 11px;
    margin-left: 5px;
}
.noSearchReasultBlockImg {
    float: left;
    margin: 0 0 0 15px;
    display: inline;
    background: url("../images/operator/noSearchImg.png") no-repeat 0 0;
    width:256px;
    height: 256px;
    display: inline;
}


/*弹窗*/
.templateTipsText {
    font-size: 14px;
    color: #2c2c2c;
    text-align: center;
    margin: 10px 0 0 0;
}
.templateTipsText .tipsIcon {
    background: url("../images/operator/shipTipsIcon.png") 0 0;
    width:27px;
    height: 27px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.templateBtnBlock {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 14px;
}

/* 标签页面   by: shuaigeng.zhao; */
.tagMainContent {
    margin-top: 50px;
}

.tagListBlock {
    width: 980px;
    background-color: #fff;
    min-height: 500px;
}

.tagList {
    padding: 20px;
}

.tagList li {
    height: 30px;
    width: 180px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    position: relative;
    margin-bottom: 10px;
}

.addTag {
    border: 1px dashed #09bd3b;
    color: #09bd3b;
}

.addTag i {
    background: url(../images/operator/tag-icons.png) no-repeat 0 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 4px;
}

.addTag:hover {
    background-color: #e8fcec;
    cursor: pointer;
}

.tagItem {
    border: 1px solid #a6e0f7;
    background-color: #f5fcff;
}

.tagItem:hover {
    background-color: #48a8de;
    color: #fff;
    cursor: pointer;
}

.tagItem i.delTag {
    background: url(../images/operator/tag-icons.png) no-repeat -36px 0;
    width: 15px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 6px;
    top: 6px;
    visibility: hidden;
}

.tagItem i.delTag:hover {
    background: url(../images/operator/tag-icons.png) no-repeat -18px 0;
    cursor: pointer;
}

.displayTagItem {
    visibility: visible;
}

.newTag {
    height: 30px;
    width: 180px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    position: relative;
    margin-bottom: 10px;
    background-color: #2374a4;
}

.newTag input {
    width: 120px;
    padding-left: 10px;
    position: absolute;
    left: 0;
    height: 26px;
    line-height: 26px;
    background-color: #2374a4;
    color: #fff;
    border: none;
    font-size: 14px;
    top: 2px;
}

.sureAddTag {
    background: url(../images/operator/tag-icons.png) no-repeat -72px 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 6px;
}

.sureAddTag:hover {
    background: url(../images/operator/tag-icons.png) no-repeat -54px 0;
    cursor: pointer;
}

.cancelAddTag {
    background: url(../images/operator/tag-icons.png) no-repeat -18px -19px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 6px; 
}

.cancelAddTag:hover {
    background: url(../images/operator/tag-icons.png) no-repeat 0 -19px;
    cursor: pointer;
}
.fixedMenu h3{
    font-size: 14px;
}
.fixedMenu .fixedMenuTitle{
    display: inline-block;
    margin-right: 20px;
}
.shipBasicInfo .shipBasicInfoBtn{
    text-align: center;
    padding-top: 20px;
}
.shipBasicInfoBtn button{
    font-size: 14px;
    font-weight: bold;
}
.shipBasicInfoBtn .disable{
    color: #505050;
    margin-left: 5px;
}

/* 新增邮轮船只-舱房  By: shuaigeng.zhao ;  */
.head-title {
    float: left;
}

.head-title-zh {
    font-size: 18px;
}

.head-title-en {
    font-size: 16px;
    color: #969696;
    margin-left: 5px;
}

.oper-button {
    float: right;
}

.content-table {
    margin-top: 20px;
    border: 1px solid #ccc;
}

.content-table th {
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    background-color: #f3f3f3;
    color: #666;
    height: 35px;
    border: 1px solid #eee;
}

.content-table td {
    border: 1px solid #eee;
    text-align: center;
    padding: 10px;
    line-height: 20px;
}

.content-table tbody a {
    color: #0066cc;
    margin-right: 3px;
}

.content-table tbody a:hover {
    text-decoration: underline;
}

.itemNUm {
    margin: 20px 5px;
    text-align: right;
}

.itemNUm  em{
    color: #0066cc;
    padding: 0 3px;
}

/* 新增舱房弹窗  */
i.redStar {
    color: red;
}

.addCabinWindow table th {
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}

.addCabinWindow table tr {
    height: 40px;
    line-height: 40px;
}

.addCabinWindow input[type='text']{
    width: 300px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
}

.addCabinWindow input[readonly='readonly'] {
    color: #ccc;
}

.operBtn {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

i.addIconBlue {
    background: url(../images/operator/common-add-icons.png) no-repeat 0 0;
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 10px;
}

i.addIconBlue:hover {
    background: url(../images/operator/common-add-icons.png) no-repeat -24px 0;
    cursor: pointer;
}

i.delIconGray {
    background: url(../images/operator/common-add-icons.png) no-repeat -72px 0;
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 10px;
}

i.delIconGray:hover {
    background: url(../images/operator/common-add-icons.png) no-repeat -48px 0;
    cursor: pointer;
}

.cabinDesc {
    width: 654px!important;
    height: 107px!important;
    padding: 6px;
}

.blankImg {
    width: 230px;
    height: 150px;
    border: 1px solid #0075d2;
    color: #0075d2;
    font-size: 14px;
    text-align: center;
    line-height: 150px;
}

.blankImg .addIconBlue {
    background: url(../images/operator/common-add-icons.png) no-repeat -24px 0;
    margin-right: 15px;
}

.blankImg:hover {
    background-color: #0075d2;
    cursor: pointer;
    color: #fff;
}

.blankImg:hover .addIconBlue{
    background: url(../images/operator/common-add-icons.png) no-repeat 0 0; 
}

.cabinUploadImg {
    position: relative;
}
.cabinUploadImg .memberFile{
    display: none;
}

.memberFile .imgDel {
    background: url("../images/supplier/routeShipIcon.png") no-repeat -31px 0;
    width:20px;
    height: 19px;
    display: inline-block;
    vertical-align: sub;
    cursor: pointer;
    background-position:-80px 0;
    width: 19px;
}

.cabinUploadImg:hover .memberFile {
    position: absolute;
    bottom:0px;
    left: 0;
    height: 30px;
    line-height: 30px;
    width: 230px;
    background:#000;
    background:rgba(0,0,0,.75);
    filter:alpha(opacity=75);
    -ms-filter:'progid.DXImageTransform.Microsoft.Alpha(opacity=75)';
    text-align: center;
    display: block;
}

.catering-hideTopBorder td{
    border-top:none; 
}

.catering-hideBottomBorder td{
    border-bottom:none;
}

.catering-load{
    color: #0074d2;
}

.facilityType div{
    width: 50px;
    height: 24px;
    border: 1px dashed #e3e3e3;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}

.facilityType div:not(.facilityTypeClick):hover{
    background-color: #cff0fe;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    color: #606675;
}

.facilityType .facilityTypeClick{
    background-color: #44a6de;
    border: 1px solid #e3e3e3;
    color: #ffffff;
}

.addCabinWindow .introduce{
    width: 500px;
    height: 108px;
}

.addCabinWindow .addCartering{
    margin: 30px 0px 0px 30px;
}

.basicBlockRule .ruleType div{
    float: left;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.basicBlockRule .ruleType div:hover{
    background-color: #bef5ff;
    cursor: pointer;
}

.basicBlockRule .ruleType .current{
    background-color: #bef5ff;
    cursor: pointer;
}

.basicBlockRule{
    background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid #ccd0d2;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 982px;
    height: 92px;
    line-height: 92px;
}

.basicBlockRule th{
    font-weight: normal;
    font-size: 12px;
}

.basicBlockRule .ruleName{
    width: 197px;
    height: 30px;
}

.basicModel-shipCompanyList .left,.basicModel-shipCompanyList .left a{
    color: #616161;
    font-size: 12px;
}

.basicModel-shipCompanyList .center{
    color: #999999;
    font-size: 12px;
}

.basicModel-shipCompanyList td:first-child, .basicModel-shipCompanyList td, .basicModel-shipCompanyList th{
    text-align: left;
    text-indent: 20px;
}

.fixedMenu{
    width: 600px;
}

.basicModel-shipCompanyList .startup{
    background: url("../images/operation.png") no-repeat -28px -1px ;
    width:20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: none;
}

.addCabinWindow .addDownPayment-area{
    width: 450px;
    height: 108px;
    margin-top: 10px;
}

.head-right{
    margin-left: 200px;
}

.textareaDiv .limmitFont{
    right: 327px;
}

.shipBasicInfo .manageBussiness{
    background: url("../images/manageBusiness.png") no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
}

.shipBasicInfo .manageBusinessSlide{
    vertical-align: middle;
    margin: 0 4px;
    font-size: 12px;
    color: #149b83;
}

.shipBasicInfo .manageCls{
    display: inline-block;
}

.shipBasicInfo .manageCls:hover{
    cursor: pointer;
}

.shipBasicInfo .businessType{
    width: 800px;
    height: 100%;
    padding-top: 20px;
    background-color: #fafafa;
    border: 1px solid #d3d3d3;
}

.shipBasicInfo .businessArrow{
    background: url(../images/addProduct.png) 0px 0px;
    width: 18px;
    height: 9px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    bottom: -1px;
    left: 292px;
}

.shipBasicInfo .businessSlide{
    /*display: none;*/

}

.shipBasicInfo .businessSlide .cancel{
    background: url(../images/addProduct.png) 0px -12px;
    width: 10px;
    height: 10px;
    display: inline-block;
    float: right;
    margin: -14px 6px 0px 0px;
    cursor: pointer;
}

.shipBasicInfo .businessSlide .businessName{
    width: 96px;
    height: 32px;
    background-color: #34aef4;
    margin: 0px 5px 20px 5px;
    line-height: 32px;
    color: white;
    text-indent: 12px;
    display: inline-block;
    vertical-align: middle;
}

.shipBasicInfo .inputBussinessType{
    width: 155px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 20px 5px;
    padding: 0px;
    position: relative;
}

.shipBasicInfo .inputBussinessType .writeBusinessType {
    border: 1px solid #d3d3d3;
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
    margin: 0px 5px 20px 5px;
    border-right: none;
    display: inline-block;
    vertical-align: middle;
}

.shipBasicInfo .businessSlide .businessName .right{
    background: url(../images/addProduct.png) 0 -24px;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: right;
    margin: 8px 5px 0 5px;
}

.shipBasicInfo .businessSlide .businessName .right:hover{
    cursor: pointer;
    background-position: 0 -43px;
}

.shipBasicInfo tr:first-child td,.shipBasicInfo tr:first-child th{
    /*padding-bottom: 0px;*/   /* 有样式冲突问题， 由weiwei.gong 来改  */
}

.shipBasicInfo .businessType .pleaseInput{
    width: 175px;
    height: 30px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    vertical-align: middle;
    line-height: 30px;
}

.shipBasicInfo .businessType .add{
    background: url(../images/addProduct.png) 0 -59px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.shipBasicInfo .businessType .add:hover{
    background-position: 0 -74px;
    vertical-align: middle;
}

.shipBasicInfo .businessType .cancelAdd{
    background: url(../images/addProduct.png) 0 -91px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.shipBasicInfo .businessType .cancelAdd:hover{
    background-position: 0 -109px;
}

.shipBasicInfo .addBusinessTypeBtn{
    color: #0099cc;
    border: 1px dashed #46c0e8;
    width: 116px;
    height: 30px;
   
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 20px 5px;
}

.shipBasicInfo .addBusinessTypeBtn:hover{
    background-color: #e4f5ff;

}

.shipBasicInfo .writeBusinessType-inputImg{
    display: inline-block;
    width: 42px;
    height: 30px;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-left: none;
    vertical-align: middle;
    position: absolute;
    left: 104px;
    line-height: 30px;
    margin: 0px 5px 20px 5px;
}

#businessTypeSel{
    width: 230px;
    height: 30px;
    border-left: 1px solid #d3d3d3;
}

#editBusinessName .note{
    color: #ff6600;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

#editBusinessName{
    text-align: center;
    
}

#editBusinessName .editorContent{
    width: 336px;
    height: 36px;
    margin-top: 20px;
}

#editBusinessName .editorBtn{
    margin-top: 20px;
}

.resizeImgContainer {
    width: 140px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
}

.resizeLogoContainer{
    text-align: center;
    line-height: 140px;
    vertical-align: middle;
}

.resizeLogoContainer img{
    position: relative;
    top: 20px;
}

.tgrid .grayFonts999{
    color: #999999;
}
.tgrid .fonts14 {
    font-size: 14px;
    color: #616161;
}
.tgrid .timeContent{
    margin-top: 2px;
}
.timeContent .timeIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/supplier/smallSpirit.png") no-repeat -176px 0;
    vertical-align: middle;
}
.timeContent .blueFonts {
    color: #08b1c3;
    font-weight: 500;
}
.tgrid .minWidthLink{
    display: inline-block;
    min-width: 55px;
}
.tgrid .lineNames{
    position: relative;
}
.tgrid .redFonts{
    color: #e40000;
}
.lineNames .commonFontStyle{
    padding: 0 2px;
    color: #FFFFFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}
.lineNames .orangeFontIcon{
    background: #f55100;
}
.lineNames .grayFontsIcon{
    background: #b9b9b9;
}
.tgrid .autoLineFeed{
    white-space: inherit;
}
.lineNames .lineContent{
    width: 140px;
    display: inline-block;
    padding-left: 20px;
    line-height: 20px;
}

.lineNumberWindow{
    font-size: 14px;
    margin-bottom: 10px;
}
.seeContent{
    color: #cc6600;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #fff4ec;
}
.seeContent .title{
    color: #cc6600;
    font-weight: 500;
    font-size: 14px;
}
.seeContent p{
    line-height: 20px;
}
.centerStyleBtn{
    text-align: center;
}
.journalList{
    margin: 0 -15px 0 -10px;
    max-height: 310px;
    overflow-y: auto;
}
.journalList li{
    position: relative;
    /*border-left: 1px solid #ade0f1;*/
    padding: 0 5px 20px 15px;
    margin: 0 10px;
}
.journalList .journalTitle{
    color: #333333;
    font-size: 14px;
}
.journalList .journalTitle em{
    margin-left: 20px;
}
.journalList .journalP{
    color: #999999;
    line-height: 20px;
    margin-top: 3px;
}
.journalList .journalIcon{
    display: inline-block;
    background: url("../images/supplier/smallSpirit.png") no-repeat -250px 0;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -6px;
    top: 4px;
    z-index: 2;
}
.journalList .journalLeftLine{
    display: inline-block;
    width: 1px;
    border-left: 1px solid #ade0f1;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 4px;
    z-index: 1;
}

/*  弹窗表题添加内容 */
.addTitleContent {
    margin-left: 30px;
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: -27px;
    left: 65px;
    font-weight: 500;
}
.addTitleContent em{
    font-weight: bold;
    color: #ff6600;
    margin: 0 3px;
}
div.addTitleStyle {
    z-index: 1 !important;
    overflow: visible !important;
}

.tgrid .greenFonts339{
    color: #339933;
    font-size: 14px;
}

#container .banner{
    height: 97px;
    background-color: white;
}

#container .banner .lineTitle{
    padding: 20px 0px 15px 33px;
    color: #333333;
    font-size: 16px;
}

#container .banner .lineDetail div{
    float: left;
    margin: 0 32px;
    font-size: 12px;
}

#container .banner .lineDetail .detail1{
    color: #666666;
}

#container .banner .lineDetail .detail2{
    margin-left: 4px;
    color: #333333;
}


.commonModelStyle {
     background: #fff;
     margin-bottom: 10px;
     border-left: 1px solid #dfe3e5;
     border-right: 1px solid #dfe3e5;
     border-bottom: 2px solid #ccd0d2;
 }
.paddingSpace{
    padding: 20px 10px 20px 30px;
}
.commonModelStyle .lineTitleContent{
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
}
.lineTitleContent label:first-child{
    margin-right: 25px;
}
.lineTitleContent .fonts333{
    color: #333333;
}
.lineTitleContent .trickHint{
    background: #00a8e1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 2px 5px;
    color: #FFFFFF;
    margin-left: 8px;
    display: inline-block;    
}
.commonModelStyle .passengerLinerInfo li{
    float: left;
    margin-right: 50px;
    color: #333333;
}
.commonModelStyle .passengerLinerInfo em{
    color: #666666;
}

/* 修改共用菜单表题 */
.commonModelStyle .fixedMenu a{
    position: relative;
    padding: 0 15px;
}
.commonModelStyle .fixedMenu .menuIcon{
    position: absolute;
    top: 7px;
    right: 9%;
    display: inline-block;
    background: url("../images/operator/operatorIcon.png") no-repeat -36px -56px;
    width: 8px;
    height: 8px;
}
.commonModelStyle .topFixedToolsBar{
    position: relative;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cbcbcb;
    width: 980px;
}
.commonModelStyle .topFixedToolsBar .newIcon{
    position: absolute;
    top: 0;
    right: -1px;
    background: url("../images/operator/operatorIcon.png") no-repeat -130px -72px;
    width: 35px;
    height: 35px;
}
.grayTitleTab{
    margin: 10px;
    color: #333333;
    width: 98%;
}
.grayTitleTab thead th{
    padding: 7px 5px;
    background: #eeeeee;
    color: #7f7f7f;
    font-weight: 500;
}
.grayTitleTab tbody td{
    padding: 10px 5px;
    border-bottom: 1px solid #eaeaea;
}
.grayTitleTab tbody td:first-child,.grayTitleTab thead th:first-child{
    padding-left: 10px;
}
.grayTitleTab .redFonts{
    color: #fe5050;
}
.grayTitleTab .orangeFonts{
    color: #ff6600;
    font-size: 20px;
    font-weight: 500;
}
.grayTitleTab .blueBgFonts{
    color: #525252;
    background: #a6eafd;
    padding: 0 2px;
}
.grayTitleTab .fontWeight{
    font-size: 16px;
    font-weight: bold;
    color: #555555;
}
.grayTitleTab .fonts14{
    font-size: 14px;
}
.grayTitleTab tbody a{
    color: #0066cc;
    margin-right: 7px;
    display: inline-block;
    min-width: 40px;
}
.grayTitleTab tbody a:hover{
    text-decoration: underline;
}
.grayTitleTab tbody div{
    line-height: 20px;
}

/*  页面下面蓝色悬停  */
.accountInfoBlock {
    width:100%;
    margin-top:-30px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC142d59,endColorstr=#CC142d59);
    background: rgba(20,45,89,0.8);
    padding: 2px 0;
}
.countdownContainer{
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#ccffe1b0,endColorstr=#ccffe1b0);
    background: rgba(255,225,176,0.8);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #333333;
}
.inner_accountInfoBlock {
    width:960px;
    padding:20px 10px;
    margin:0 auto;
    text-align: center;
    font-family: arial;
}
.accountInfoBlock .accountCon {
    font-size: 14px;
    vertical-align: middle;
}
.accountInfoBlock .accountCon a{
    margin-right: 10px;
}
.accountCon .commonBtnStyle{
    color: #FFFFFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    min-width: 130px;
    text-align: center;
}
.accountCon .orangeBtn{
    background: #ff5a2e;
}
.accountCon .orangeBtn:hover{
    background: #ff4918;
}
.accountCon .greenBtn{
    background: #30b16d;
}
.accountCon .greenBtn:hover{
    background: #30a06d;
}
.accountCon .cancelBtn{
    color: #97b0d8;
    font-size: 14px;
    margin-left: 10px;
}
.accountCon .cancelBtn:hover{
    text-decoration: underline;
}

.btn-blue.btn-fontSet{
    font-size: 14px;
}

.newNavigate{
    padding-left: 26px;
}

.newNavigate .current{
    background-color: white;
    border-bottom: 4px solid #ff7702;
}

.newNavigate .new{
    background: url(../images/operator/fixBanner.png) 0px -16px;
    width: 34px;
    height: 34px;
    display: inline-block;
    float: right;
}

.newNavigate ul li{
    float: left;
    font-size: 12px;
    color: #666666;
    width: 91px;
    text-align: center;
}

.redCircle{
    background: url(../images/operator/fixBanner.png) 0px 0px;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: relative;
    top: -6px;
}

.describe{
    margin: 0 auto;
    width: 900px;
}

.describe .catalog{
    font-size: 14px;
    color: #666666;
    margin-top: 30px;
    margin-bottom: 4px;
}

.describe .containCharge{
    
}

.containCharge ol.list li{
    list-style-type: decimal;
    margin-left: 16px;
    font-size: 12px;
    color: #333333;
    line-height: 24px;
}

.containCharge ol.list li.currentRed{
    color: red;
}

.containCharge ol.noDecimal li{
    list-style-type: none;
    margin-left: 0px;
}

.passport{
    width: 918px;
    height: 482px;
    margin-bottom: 100px;
    font-size: 12px;
    color: #333333;
}


.targePos{
    color: #666666;
    font-size: 14px;
    float: left;
    height: 25px;
    line-height: 25px;
}

.ticketType{
    width: 55px;
    height: 26px;
    background-color: #00a8e1;
    font-size: 14px;
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
}

.ticketType a{
    color: white;
}

.ticketType a:hover{
    color: white;
}

.visa{
    width: 61px;
    height: 26px;
    background-color: #ebf6fe;
    font-size: 14px;
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    margin-right: 10px;
    border: 1px solid #add6f4;
}

.catalog4 {
  color: #333333;
  float: left;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  margin-right: 10px;
  text-align: right;
  width: 96px;
}

.catalog4 em {
  color: red;
  margin-right: 3px;
  vertical-align: middle;
}

.targePos .number{
    color: #e30000;
    font-size: 18px;
}

.targePos .number2{
    color: #333333;
    font-size: 16px;
}

.targePos .number3{
    color: #666666;
    font-size: 12px;
}

.targePos .percentSign{
    color: #333333;
    font-size: 18px;
}

.targePos .reviewRule{
    color: #0074d2;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}

.PortInfo thead tr{
    color: #666666;
    font-size: 12px;
    background-color: #eeeeee;
    line-height: 33px;
}

.PortInfo tbody tr{
    color: #666666;
    font-size: 14px;    
    line-height: 44px;
    border-bottom: 1px solid #eaeaea;
}

.PortInfo tbody tr td,.PortInfo thead tr th{
    text-align: left;
    font-weight: normal;
}

.PortInfo tbody tr:hover{
    background-color: #fafafa
}

.PortInfo tbody .order1{
    background: url("../images/operator/order.png") no-repeat 0px 0px;
    width:26px;
    height: 26px;
    display: inline-block;  
    vertical-align: middle; 
}

.PortInfo tbody .order2{
    background: url("../images/operator/order.png") no-repeat 0px -28px;
    width:26px;
    height: 26px;
    display: inline-block;  
    vertical-align: middle; 
}

.catalog5 {
  color: #333333;
  float: left;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  margin-right: 10px;
  text-align: right;
  width: 98px;
}

.map{
    background: url("../images/operator/map.png") no-repeat 0px 0px;
    width: 260px;
    height: 146px;
    display: inline-block;
    float: left;
}

#extFooter.operator-accountInfoBlock-footAdd{
    margin-top: 10px;
}

.baseInfo-accountInfoBlock-footAdd{
    margin-top: 0px;
}

#extFooter.baseInfo-extFooter-footAdd{
    margin-top: 10px;
}

.describeInfoCls {
  margin: 26px auto;
  text-align: center;
  width: 920px;
}


.dayListInfo{
    margin: 20px;
}
.dayListInfo li{
    position: relative;
    padding-bottom: 60px;
}
.dayListInfo .leftLine{
    width: 1px;
    height: 100%;
    border-left: 3px solid #80ccf3;
    position: absolute;
    left: 27px;
    top: 20px;
}
.dayListInfo .dayNumberPlace{
    float: left;
    margin-right: 5px;
    background: url("../images/operator/operatorIcon.png") no-repeat 0 -136px;
    filter:alpha(opacity=80); 
    opacity:0.8;
    width: 183px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    position: relative;
}
.dayListInfo .dayNumberIcon{
    display: inline-block;
    width: 46px;   
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: -5px;
    background: url("../images/operator/operatorIcon.png") no-repeat 0 -197px;
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 2;
}
.dayNumberPlace b{
    color: #000;
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
}
.dayTabList{
    width: 745px;
    float: left;
}
.dayTabList thead th{
    text-align: center;
    background: #54c5e6;
    height: 25px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 500;
}
.dayTabList tbody td{
    text-align: center;
    background: #cff9ff;
    height: 31px;
    line-height: 31px;
    color: #016d8d;    
}
.dayListInfo .dayPInfo{
    margin: 20px 10px 20px 70px;
    color: #666666;
}
.dayListInfo .dayPInfo p{
    line-height: 22px;
}
.journeyImg{
    margin-left: 70px;
}
.journeyImg dl{
    margin-left: 20px;
    float: left;
    background: #ededed;
    padding: 5px;
}
.journeyImg dl:first-child{
    margin-left: 0;
}
.journeyImg dt{
    margin-bottom: 3px;
}
.journeyImg dt img{
    width: 256px;
    height: 168px;
}
.journeyImg dd{
    line-height: 22px;
    border: 1px solid #d3d3d3;
    background: #FFFFFF;
    color: #666666;
    width: 256px;
    font-size: 14px;
}
.journeyImg .imgDescribe{
    margin: 8px 9px;
    display: inline-block;
    height: 45px;
    overflow: hidden;
}

.layerGrayBlock {
  background: none repeat scroll 0 0 #fafafa;
  border: 3px solid #e2e2e2;
  width: 450px;
  height: 198px;
}

 

.layerGrayBlock i {
  background-image: url("../images/store/iconSprite.png");
  background-position: 0 -63px;
  cursor: pointer;
  height: 9px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 9px;
}

.pleaseSel{

}

.layerTable{
    margin-top: 10px;
}

.layerTable td{
    line-height: 34px;
    font-size: 12px;
    color: #666666;
}

.layerGrayBlock div{
    float: right;   
    margin-right: 45px;
    margin-top: 8px;
}

.layerGrayBlock .confirm{
    margin-right: 20px;
}

.groupManage-tab-advantage td{ 
    line-height:40px;
}

.groupManage-tab-advantage td.groupManage-serch-adv{
    text-align: right;
    padding-right: 4px;
}

.groupManage-tab-advantage td input[type="text"]{
    padding-left: 4px;
    height: 30px;
}

.lineNames-advantage{
    width: 108px;
}

.tgrid .groupNumber-grey{
    color: #616161;
    font-size: 12px;
}

.tgrid .stock{
    background: url("../images/operator/groupManage.png") no-repeat 0px 0px;
    width: 16px;
    height: 56px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.tgrid .stockNum,.tgrid .startChargeNum{
    float: left;
    margin-left: 4px;
}

.tgrid .stockNum div,.tgrid .startChargeNum div{
    line-height: 19px;
    height: 19px;
}

.tgrid .startCharge{
    background: url("../images/operator/groupManage.png") no-repeat 0px -60px;
    width: 16px;
    height: 56px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.tgrid .saleIcon{
    background: url("../images/operator/groupManage.png") no-repeat 0px -120px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.tgrid .downIcon{
    background: url("../images/operator/groupManage.png") no-repeat -20px -120px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.tgrid tbody td{
    color: #616161;
    font-size: 12px;
}

.tgrid .lineType-font{
    font-size: 16px;
    color: #333333;
}

.tgrid .saling{
    font-size: 14px;
    color: #01a84b;
}

.tgrid .stopSaling{
    font-size: 14px;
    color: #666666;
}

.tgrid .wayline{
    text-indent: 20px;
}

.tgrid .alreadyStopSaling{
    font-size: 14px;
    color: #ff3300;
}

.tgrid .alreadyLoadWarrant{
    font-size: 14px;
    color: #ff6600;
}

.tgrid .alreadySendWarrant{
    font-size: 14px;
    color: #666666;
}

.send-msg-success {
  color: #646464;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
}

.large-success-icon {
  background: url("../images/operator/groupManage.png") no-repeat scroll -31px -53px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 47px;
  position: relative;
  top: 13px;
  width: 46px;
  margin-right: 10px;
  vertical-align: bottom;
}
