/*  预约订单页  By: shuaigeng.zhao ;  */
input[type='text'], textarea {
	padding-left: 3px;
}

.block-module {
	height: auto;
	padding: 20px;
	border-bottom: 2px solid #bfc2c4;
	border-left: 1px solid #dfe3e5;
	border-right: 1px solid #dfe3e5;
	margin: 10px 0;
	color: #636363;
	background: #fff;
}

.book-info {
	color: #444;
}

.book-info strong {
	font-size: 16px;
	color: #FF4100;
}

.book-num b {
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.bn-date {
	margin-left: 70px;
}

.set-menu-info {
	margin-top: 10px;
	margin-bottom: 25px;
}

.sm-name {
	vertical-align: top;
}

.sm-name em {
	width: 200px;
	line-height: 16px;
	display: inline-block;
}

.sm-price {
	margin-left: 24px;
	vertical-align: top;
}

.sm-price strong {
	vertical-align: top;
}

.sm-status {
	float: right;
}

.book-remark span {
	vertical-align: top;
	color: #333;
}

.book-remark textarea {
	height: 65px;
	width: 855px;
	padding: 3px;
}

.block-module .main-title {
	padding-top: 10px;	
}

.block-module .main-title h3 {
	font-size: 14px;
	color: #333;
}

.block-module .main-title span {
	font-size: 14px;
}

.sub-info {
	margin: 15px 0;
}

.sub-info .info-title {
	color: #454545;
	margin-right: 15px;
}

.tb-info-block {
}

.tb-order-table,
.diff-price-table {
	font-size: 14px;
	text-align: center;
	width: 100%;
}

.tb-order-table thead tr,
.diff-price-table thead tr {
	background-color: #f5f2f3;
	height: 45px;
	line-height: 45px;
}

.tb-order-table tbody tr,
.diff-price-table tbody tr {
	height: 35px;
	line-height: 35px;
}

.tb-order-table th,
.tb-order-table td,
.diff-price-table th,
.diff-price-table td {
	border: 1px solid #dadada;
}

.tb-order-table .tb-book-num {
	text-align: left;
	padding: 0 10px;
	word-break: break-all;
	line-height: 22px;
}

.tb-order-table a,
.diff-price-table a {
	color: #0066cc;
	text-decoration: underline;
	font-size: 12px;
}

.diff-price-table .tb-diff-price {
	font-size: 18px;
	color: #f7572c;
	/*text-align: left;*/
	padding: 0 10px;
}

.trip-info-block .sub-info span {
	margin-right: 30px;
}

.trip-passenger-table {
	text-align: center;
	font-size: 14px;
	width: 100%;
}

.trip-passenger-table thead tr {
	background-color: #f5f2f3;
	height: 45px;
	line-height: 45px;
}

.trip-passenger-table tbody tr {
	height: 35px;
	line-height: 35px;
}

.trip-passenger-table th,
.trip-passenger-table td {
	border: 1px solid #dadada;
}

.trip-passenger-table a {
	color: #0066cc;
	text-decoration: underline;
	font-size: 12px;
}

.add-passenger-container {
	padding: 10px;
}

.add-passenger-table {
	width: 100%;
}

.add-passenger-table th {
	text-align: right;
}

.add-passenger-table tr {
	height: 35px;
	line-height: 35px;
}

.table-top-head {
	margin: 10px 0;
}

.table-top-head b {
	margin-right: 20px;
}

.order-diff-price-block {
	margin-top: 25px;
}

.tempTabContainer {
	padding: 10px;
}

.tempTabContainer table {
	width: 100%;
}

.tempTabContainer .tipText {
	margin-bottom: 5px;
	color: #f96819;
}

.bookWinContainer {
	text-align: center;
}

.bookWinContainer p {
	margin: 15px 0;
}

.bookWinContainer .remark span {
	vertical-align: top;
}

.bookWinContainer .tipMsg {
	font-size: 16px;
	color: #666;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 30px;
}

.tipMsg .failIcon {
	background: url("../images/operator/groupManage.png") no-repeat scroll -31px 0px rgba(0, 0, 0, 0);
	display: inline-block;
	width: 47px;
	height: 47px;
	position: relative;
	top: 13px;
	margin-right: 10px;
	vertical-align: bottom;
}

.tipMsg .successIcon {
	background: url("../images/operator/groupManage.png") no-repeat scroll -31px -53px rgba(0, 0, 0, 0);
	display: inline-block;
	height: 47px;
	position: relative;
	top: 13px;
	width: 46px;
	margin-right: 10px;
	vertical-align: bottom;
}

.product-info-table {
	width: 100%;
	font-size: 12px;
	margin: 10px 0;
	table-layout: fixed;
}

.product-info-table tr {
	height: 58px;
	line-height: 58px;
}

.product-info-table td {
	border: 1px solid #e2e3e5;
	background-color: #faf9f9;
	padding-left: 10px;
}

.product-info-table .productName span {
	background-color: #36c359;
	color: #fff;
	padding: 5px 8px;
	border-radius: 2px;
	vertical-align: top;
	margin-right: 6px;
}

.product-info-table .productName b {
	font-size: 14px;
	color: #333;
	width: 360px;
	height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
}

.product-info-table .productPrice strong {
	font-size: 18px;
	color: #f7572c;
}

.product-info-table .productStatus .operBtn {
	float: right;
	margin-right: 6px;
}

.textEllipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.currencySymbol {
	font-size: 12px;
	font-weight: normal;
}

.orangeFont {
	color: #ff6600!important;
}

.greenFont {
	color: #009900!important;
}

.orderTracking {
    border: 1px solid #a5d5fd;
    background: #f2fdff;
    padding: 10px 15px 0 15px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
    position: relative;
}
.orderTracking h3 {
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 12px;
}
.trackingList {
    display: inline;
    float: left;
    margin: 6px 0 0 10px;
    width:90%;
}
.trackingList li {
    position: relative;
    border-left: 1px solid #d8e8f4;
    font-size: 12px;
}
.trackingList li:first-child .dotIcon {
    top:0px;
}
.trackingList .dotIcon {
    background: url("../images/supplier/travelSmallIcon.png") no-repeat 0 -18px;
    display: inline-block;
    width: 9px;
    height: 9px;
    position: absolute;
    left: -5px;
    top:14px;
}
.trackingList li:first-child .trackingListText {
    line-height: 10px;
}
.trackingListText {
    border-bottom: 1px dotted #d3e6f6;
    padding: 8px 0 8px 15px;
}
.trackingListText .orderOper {
    display: inline-block;
    width:550px;
    float: left;
    font-size:12px;
    line-height: 22px;
}
.trackingListText .orderOper p {
    padding:3px 0;
}
.trackingListText .orderOper span {
    margin-right: 20px;
}
.trackingListText .operUser {
    display: inline-block;
    float: right;
}
.trackingListText .operUser em {
    color: #888;
    margin-right: 30px;
    font-size: 12px;
}
.trackingList li:last-child .trackingListText {
    border-bottom: none;
}
.trackingListText .fc1 {
    color: #f1634c;
}

.trackingListText .operTime {
	float: left;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin-right: 20px;
}

span.editBtn {
	color: #fff;
	background-color: #339afe;
	padding: 6px 10px;
	position: relative;
	left: 70px;
	top: -15px;
}

span.editBtn:hover {
	background-color: #228efa;
	cursor: pointer;
}

.editAvpTable {
	width: 100%;
	text-align: left;
	table-layout: fixed;
}

.editAvpTable tr {
	height: 40px;
	line-height: 40px;
}

.editAvpTable tr td:first-child {
	text-align: center;
}

.saveTripInfoOper {
	position: relative;
	left: 70px;
	top: -15px;
	display: none;
}

.trip-info input[readonly='readonly'] {
	border: none;
	background: none;
}

.saveTripInfoOper .cancel {
	color: #0066cc;
	margin-left: 15px;
}

.saveTripInfoOper .cancel:hover {
	text-decoration: underline;
	cursor: pointer;
}

.tempRemarkContainer {
	text-align: left;
}

.tempRemarkContainer .remark span {
	vertical-align: top;
}

.tempRemarkContainer .remark textarea {
	width: 350px;
	height: 80px;
}

.tempRemarkContainer p {
	margin: 10px 0;
	text-align: left;
}

.tempRemarkContainer .tipMsg {
	font-size: 14px;
}

.tempRemarkContainer .operBtn {
	text-align: center;
}

/* 套餐产品维护 */

.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:30px;} 
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid tbody td em{ color:#339900; font-weight:bold;}
.tgrid tbody td i{ color:#ff6600; font-weight:bold;}
.tgrid tbody td span{ color:#ff0000;}
.tgrid .line_left {
    border-left: 1px solid #e0e0e0;
}
.tgrid .line_right {
    border-right: 1px solid #e0e0e0;
}

.set_menu_table {
	table-layout: fixed;
}

.set_menu_table .product_price {
	color: #ff6b00;
}

.add-setMenu-table {
	width: 100%;
}

.add-setMenu-table th {
	text-align: right;
}

.add-setMenu-table tr {
	height: 30px;
	line-height: 30px;
}

.add-setMenu-table .setMenu-type label {
	margin-right: 20px;
}

.add-setMenu-table .setMenu-type input {
	margin: 0 5px;
}

.add-setMenu-table .setMenu-include label {
	margin-right: 20px;
}

.add-setMenu-table .setMenu-include input {
	margin: 0 5px;
}

.add-setMenu-table textarea {
	width: 450px;
	height: 120px;
}

/*  预约单管理 */
.information_div {
	background: #fff;
	padding: 15px 10px;
	margin-bottom: 10px;
	border-left: 1px solid #dfe3e5;
	border-right: 1px solid #dfe3e5;
	border-bottom: 2px solid #ccd0d2;
}

.information_tab tr {
	height: 33px;
}

.orderListTable {
	table-layout: fixed;
}

.orderListTable th,
.orderListTable tbody td {
	text-align: center;
}

.noEllipsis {
	text-overflow: clip!important;
	white-space: normal!important;
}

.tdLeftAlign {
	text-align: left!important;
}

.actions.block .page-name {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	padding-left: 12px
}

/*  新建国内预约页  */
.set-menu-detail {
	color: #0066cc;
	display: inline-block;
	margin-left: 20px;
	border-bottom: 1px dashed #0066cc;
}

.editAvpTable.addModule {
	margin-top: 15px;
}

.editAvpTable.addModule input[type='text'] {
	height: 26px;
	line-height: 26px;
}

.code-selectList-container span {
	width: 80px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}

.code-selectList-container .disabled {	
	background-color: #eaefee;
	border: 1px solid #eaefee;
}

.code-selectList-container .normal {
	border: 1px solid #90d9fd;
	background-color: #c7eefe;
}

.code-selectList-container .normal:hover {
	background-color: #9ce1fd;
}

.code-selectList-container .normal.current {
	border: 1px solid #09a6fe;
	background-color: #09a6fe;
	color: #fff;
}

.trip-passenger-table input[type='text'] {
	font-size: 14px;
	height: 26px;
	line-height: 26px;
}

/* 新建国际预约页  */
.trip-info-table {
	height: 28px;
	line-height: 28px;
}

.passport-num {
	float: left;
	margin-left: 60px;
	width: 110px;
}

.passport-oper {
	float: left;
	margin-left: 20px;
}

.passport-oper span {
	border-bottom: 1px dashed #0066cc;
	color: #0066cc;
	margin-right: 15px;
	padding-bottom: 3px;
}

.re-upload-passport {
	cursor: pointer;
}

.upload-passport {
	cursor: pointer;
}

.passport-detail {

}

.uploadPassportImgBtn {
	color: #fff;
	background-color: #339afe;
	padding: 6px 10px;
	cursor: pointer;
}

.grayFont {
	color: #999;
}

.passportImgContainer {
	position: relative;
}

.passportImgContainer .grayBorderUpArrow {
	display: inline-block;
	height: 6px;
	width: 11px;
	position: absolute;
	top: -6px;
	left: 10px;
	background: url(../images/operator/grayBorderUpArrow.png) no-repeat 0 0;
}

.passportImgContainer img {
	width: 350px;
	height: 200px;
}

.passportImgContainer .viewBigImage {
	padding:10px 5px 10px 0;
	text-align: center;
	cursor:pointer;
	color:#0066cc;
	font-size:14px;
}

.passportImgContainer .viewBigImage:hover {
	text-decoration: underline;
}

.resetGap {
    padding: 0;
    border: 1px solid #aaa;
}

.resetGap .k-tooltip-content {
    padding: 0;
}

.smdTipBorder {
	box-shadow: none;
	border: 1px solid #aaa;
	background-color: #eaeef0;
	color: #666;
}

.setMenuContainer {
	position: relative;
}

.setMenuContainer .grayBorderUpArrow {
	display: inline-block;
	height: 6px;
	width: 11px;
	position: absolute;
	top: -20px;
	left: 0;
	background: url(../images/operator/grayBorderUpArrow.png) no-repeat 0 0;
}

.setMenuContent {
	line-height: 18px;
}

.blueHollowBorderUpArrow {
	display: inline-block;
	height: 7px;
	width: 12px;
	position: absolute;
	top: -7px;
	right: 40px;
	background: url(../images/operator/blueHollowBorderUpArrow.png) no-repeat 0 0;
}

.orderTracking .arrowWhiteBorder {
	position: absolute;
	top: -1px;
	width: 10px;
	right: 41px;
	height: 1px;
	background-color: #fff;
}

.stressStatusText {
	font-size: 14px;
	font-weight: bold;
}

/* 用户管理    By:shuaigeng.zhao ;  */

.add-user-table {

}

.add-user-table th {
	text-align: right;
	padding-right: 5px;
}

.add-user-table tr {
	height: 35px;
	line-height: 35px;
}

.add-user-table .splitLine {
	border-top: 1px dashed #666;
}

.add-user-table label {
	margin-right: 20px;
}

.add-user-table label input {
	margin-right: 5px;
}

.add-user-table textarea {
	width: 440px;
	height: 70px;
}

/*  天猫订单管理  By:shuaigeng.zhao ; */

.orderListTable .reservationCode span {
	color: #666;
	display: inline-block;
}

.orderListTable .reservationCode .disabled {
	color: #ccc;
}

.importTmallOrderWin p {
	margin-bottom: 20px;
}

.importTmallOrderWin label {
	display: inline-block;
	padding-left: 64px;
	margin-top: 5px;
}

.importTmallOrderWin label input {
	margin-right: 5px;
}

.importResultWin .largeTipText {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}

.addTmallOrderWin {

}

.addTmallOrderWin .splitLine {
	border-top: 1px dashed #666;
	margin: 10px 0;
}

.addTmallOrderWin .table-module tr {
	height: 35px;
	line-height: 35px;
}

.addTmallOrderWin th {
	text-align: right;
	padding-right: 5px;
}

.addTmallOrderWin textarea {
	width: 440px;
	height: 70px;
}

.addTmallOrderWin .fill-code-item .delCodeOper {
	color: #0066cc;
	padding: 0 10px;
}

.addTmallOrderWin .fill-code-item .addCodeOper {
	color: #0066cc;
}

.addTmallOrderWin .fill-code-item .use-flag-span {
	background-color: #eaeaea;
	color: #666;
	display: inline-block;
	width: 46px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}

.addTmallOrderWin .radio-box-container label {
	margin-right: 20px;
}

.addTmallOrderWin .radio-box-container label input {
	margin-right: 5px;
}

.upload-area {
	position: relative;
	width: 340px;
}

.upload-area input[type='file'] {
	position: absolute;
	opacity: 0;
	width: 100px;
	top: 0;
}

.fixedMenu {
  width: 600px;
}

.goodName{

}

.goodName .font1{
	float: left;
	color: #333333;
	font-size: 12px;
	width: 60px;
}

.goodName .font2{
	float: left;
	color: #666666;
	font-size: 12px;
	width: 500px;
	text-align: left;
}

.goodName .font3{
	float: left;
	color: #333333;
	font-size: 12px;
	width: 88px;
}


.select-setmeal-popwindow{
	text-align: left;
	font-size: 12px;
	color: #333333;
	height: 32px;
	line-height: 32px;
	margin-top: 12px;
	font-weight: bolder;
	border-top: 1px dashed #e0e0e0;
}

.select-setmeal-popwindow-input{
	height: 32px;
	line-height: 32px;
	text-align: left;
}

.select-setmeal-popwindow-input .font1{
	color: #333333;
	font-size: 12px;
}

.select-setmeal-popwindow-input .search{
	width: 230px;
	height: 20px;
	font-size: 12px;
	color: #999999;
	border: 1px solid #d3d3d3;
}

.setmeal-item{
	margin: 15px 0px;
}

.setmeal-item .part1{
	float: left;
	width: 30px;
}

.setmeal-item .part2{
	float: left;
	width: 462px;
	text-align: left;
	margin-right: 20px;
}

.setmeal-item .part3{
	float: left;
	width: 50px;
}

.mealset-end{
	height: 20px;
	border-bottom: 1px solid #c6c5c5;
}

.bindsetmeal-confirm .font1{
	float: left;
	color: #333333;
	font-size: 12px;
	width: 70px;
	font-weight: bolder;
}

.bindsetmeal-confirm .font2{
	float: left;
	color: #666666;
	font-size: 12px;
	width: 350px;
	text-align: left;
}

.bindsetmeal-confirm .font3{
	float: left;
	color: #333333;
	font-size: 12px;
	width: 92px;
	font-weight: bolder;
}

.bindsetmeal-confirm .font4{
	float: left;
	color: #666666;
	font-size: 12px;
	width: 320px;
	text-align: left;
}

.select-setmeal-popwindow-confirm-detail{
	text-align: left;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin-top: 12px;
	border-top: 1px dashed #e0e0e0;
	padding-top: 20px;
}

.select-setmeal-popwindow-confirm-detail .part1{
	width: 65px;
	float: left;
	font-size: 12px;
	color: #333333;
	font-weight: bolder;
	line-height: 15px;
}

.select-setmeal-popwindow-confirm-detail .part2{
	width: 290px;
	float: left;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
}

.select-setmeal-popwindow-confirm-detail .part3{
	width: 60px;
	float: left;
	font-size: 12px;
	color: #ff6600;
	line-height: 15px;
}

/* 套餐管理 S*/
.package_tab th {
    font-weight: normal;
    text-align: right;    
}
.package_tab label {
    margin-right:10px;
}
.package_tab label input {
    margin-right:5px;
}
.tdCenterAlign {
    text-align: center!important;
}
.startUsing {
    background: url("../../static/images/confirmFlag.png") no-repeat;
    width:17px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
}
/* 弹窗 */
.packageWinContainer {
    
}
.packageListCon {
    overflow-y: scroll;
    height: 360px;
    padding: 15px;
}
.noScrollCon {
    padding:15px 15px 0 15px;
}
.packageWinTab {
    margin-bottom: 10px;
}
.packageWinTab em {
    vertical-align: middle;
    margin-right: 3px;
}
.packageWinTab th, .packageWinTab td {
    vertical-align: top;
    padding:5px 0 5px 0;
}
.packageWinTab td {
    padding:5px 0 5px 5px;
}
.packageWinTab th {
    color: #333;
    font-weight: normal;
    text-align: right;
}
.packageWinTab td {
    color: #666;
}
.packageWinTab .priceFonts {
    font-family: "Arial";
    color: #ff6600;
}
.packageWinTab input {
    padding: 0 3px;
}
.packageWinTab textarea {
    padding: 3px;
}
.windowConLine {
    height: 1px;
    border-bottom: 1px dashed #cfcfcf;
    margin: 5px 0;
}
.selectSingleProDiv {
    
}
.selectSingleProDiv h4 {
    font-size: 12px;
    padding:10px 0 ;
}
.verticalMiddle td, .verticalMiddle th{
    vertical-align: middle;
}
.packageListWinTab tr:hover {
    background: #ffffdb;
}
.operBtnDiv {
    border-top:1px solid #c6c5c5;
    text-align: center;
    padding: 8px 0;
}
.packageWinConTab td {
    color: #333;
}
.packagelistConWinTab {
    margin-left: 12px; 
}
.packagelistConWinTab p {
    padding-bottom:4px;
}
.noTopBorderDiv {
    border-top:none;
}
.delConDiv {
    border-bottom: 1px dashed #cfcfcf;
    padding: 0 10px 10px 10px;
    color: #333;
    text-align: left;
}
.peopleNumberSpan {
    position: relative;
    display: inline-block;
    width:85px;
}
.peopleNumberSpan .minus, .peopleNumberSpan .plus {
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #666;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    cursor: pointer;
    /*padding: 0 4px;*/
    width:20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
}
.peopleNumberSpan .plus {
    color: #1ba1e2;
    border-left:none;
}
/* 套餐管理 E*/