/*  公司信息 办公时间  By:shuaigeng.zhao */

.block-field{
    background-color:#fff;
    padding: 20px 0;
    margin:0 25px;
    border-bottom:1px dotted #aaa;
}
.block-field .block-title {
    margin-bottom:10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.block-field .row{
    margin-bottom:5px;
}
.block-field .flat-list li{
    margin-top:10px;
}
.timeModifyContainer {
  position: relative;
}
.cv-table a {
  color: #06c;
  text-decoration: none; 
}
.div_worktime {
  margin-top: 5px;
}
.block-field .cv-table th {
    font-weight: normal;
}

.ac-add {
    position: absolute;
    top: 2px;
    left: 509px;
    display: block;
    width: 35px;
    height: 30px;
    background: white;
    text-align: center;
}

.mm10 {
    margin: 0 10px;
}

.time60 {
    width: 50px;
    text-align: center;
}
.timeofitems{
    padding:3px 10px;
    border:1px dashed #44B0F5;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    color: #333333;
}
.timeofitems.unchoose{
    border:1px solid #E9E9E9;
    color: #999999;
    background:#F5F5F5;
    cursor: default;
}
.timeofitems.choosed{
    background: url("../images/ico_timeOfwork_choosed.png") right bottom no-repeat #E5F5FD;
    border:1px solid #44B0F5;
    color: #333333;
}
.div_worktime{
    margin-top: 5px;
}
.hoursSelectContainer,.minutesSelectContainer{
    background: #ffffff;
    width: 50px;
    height: 160px;
    overflow-y: auto;
    border: 1px solid #cccccc;
}
.hoursSelectContainer li,.minutesSelectContainer li{
    text-align: center;
    cursor: pointer;
    color: #333333;
    padding:5px 0;
    border-bottom: 1px dashed #F1F1F1;
}
.hoursSelectContainer li:hover,.minutesSelectContainer li:hover{
    background: #FFECE2;
    color: #EA5F14;
    text-decoration: underline;
}
.timeModifyContainer{
    position: relative;
}
.block-title-domesticTicket,.block-title-internationalTicket{
    background: #DFF6FF;
    border-bottom: 3px solid #D7E2E7;
    height: 34px;
    position: relative;
}
.block-title-internationalTicket{
    background: #FFEFE4;
    border-color: #EEDDD3;
}
.block-title-content{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: -3px;
    padding:5px 20px;
}
.block-title-domesticTicket .block-title-content{
    border-bottom: 3px solid #72D6FF;
}
.block-title-internationalTicket .block-title-content{
    border-bottom: 3px solid #FF670B;
}
.copyInternationalTicketTime,.copyDomesticTicketTime{
    line-height: 37px;
    float:right;
    margin-right: 10px;
    color: #0065CB;
}
