body{
	font-family: 'SimSun','Microsoft YaHei';
}

#head{
	width: 100%;
	height: 80px;
	background-color: #023B80;
}

#head div{
	background: url('../images/passengerLiner/head.jpg') no-repeat center center;
	height: 116px;
}

#catalogue{
	width: 100%;
	height: 36px;
	background-color: #1e5a9d;
}

#contain{
	width: 980px;
	margin: -122px auto 0;
}

.logo{
	height: 82px;
	margin-bottom: 50px;
}

.logo h1{
	background: url('../images/passengerLiner/logo.png') no-repeat left center;
	width: 108px;
	height: 50px;
	position: relative;
	top: 12px;
	float: left;
}

.logo .profile{
	float: right; 
	padding-top: 16px;
}

.logo .profile a{
	margin-left: 20px;
	font-size: 12;
	color: #ffffff;
}

.clearfix{ *zoom: 1;}
.clearfix:after{ content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both; 
}

#catalogue_menu{
	position: relative;
    left: 108px;
    top:1px;
    float: left;
}

#catalogue_menu li{
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    padding: 0 5px;
    text-align: center;
    line-height: 30px;
    color: #dddddd;
    min-width: 30px;
    margin-right: 6px;
}

#catalogue_menu li a{
	font-size: 12px;
    /*color: #ffffff;*/
    color: #dddddd;
    display: block;
    text-decoration: none;
}

#catalogue_menu li.current a{
	color: white;
}

#catalogue_menu .subMenu li:hover,
#catalogue_menu .subMenu .currentSubMenu{
	/*font-weight: bold;*/
	background-color: #24aeea;
}

#catalogue_menu .subMenu{
	position: absolute;
	top: 35px;
	left: -2px;
	font-weight: normal;
	width: 870px;
}

#catalogue_menu .subMenu li{
	min-width: 40px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	margin-right: 6px;
}

#catalogue_menu .subMenu li a{
	color: white;
	display: block;
}

#catalogue_menu .current,
#catalogue_menu > li:hover {
	border-bottom: 5px solid #fb5c07;
}

.headerMessage {
	float: right;
	margin-top: 8px;
	color: #dddddd;
	font-size: 12px;
	cursor: pointer;
	position: relative;
}

.headerMessage #msgNum em{
	padding: 0 5px;
	background-color: #ff5a00;
	border-radius: 2px;
	text-align: center;
}

#extFooter{
	background: none;
	background-color: #d7dfdf;
	color: #666666;
	font-size: 12px;
	margin-top: 30px;
}

#extFooter a{
	color: #666666;
	font-size: 12px;	
}

.deckBanner{
	width: 100%;
	height: 35px;
	background-color: #ededed;
}

#main{
	width: 982px;
	height: 100%;
	margin: 0 auto;
}

.Banner{
	width: 100%;
	height: 34px;
	border-top: 2px solid #fcfffe;
	border-bottom: 2px solid #c7cccd;
	border-left: 1px solid #dee2e4;
	border-right: 1px solid #dee2e4;
	margin-bottom: 10px;
}

.topFixAdd{
	width: 982px;
}

.header_message_pop {
	z-index: 2000;
	left: -228px!important;
	top: 15px!important;
}

/*  公共弹窗样式   操作成功，失败，正在查询 等    By:shuaigeng.zhao;  */
div.k-window-content {
    padding: 15px 15px 25px 15px;
}
.common-tip-container {
	color: #666;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
    position: relative;
}

.large-success-icon {
	background: url("../images/operator/groupManage.png") no-repeat -31px -53px;
	display: inline-block;
	height: 47px;
	width: 46px;
	margin-right: 10px;
	vertical-align: bottom;
    position: absolute;
    left: 30px;
    top: 10%;
}

.tip-msg-content {
	display: inline-block;
	line-height: 30px;
    margin-left: 92px;
    text-align: left;
}

.large-warn-icon {
	background: url("../images/operator/groupManage.png") no-repeat -31px 0px;
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-right: 10px;
	vertical-align: bottom;
    position: absolute;
    left: 30px;
    top: 10%;
}

.operating-icon {
	background: url(../images/operator/loading.gif) no-repeat 0 0;
	display: inline-block;
	width: 46px;
	height: 46px;
	margin-right: 10px;
	vertical-align: bottom;
    position: absolute;
    left: 30px;
    top: 10%;
}
.operBtnStyle{
    text-align: center;
    margin-top: 30px;
}
.operBtnStyle button{
    font-size: 14px;
    font-weight: bold;
}
.operBtnStyle button.disable{
    color: #666;
}
/*  出错页面  */
.error-page {
	padding: 110px 215px;
	margin: 4px 0 0 0;
	height: 100%;
	overflow: hidden;
	border: 1px solid #bbb;
}

.error-page_img {
	background: url(../images/error_pic.png) no-repeat center center;
	float: left;
	width: 211px;
	height: 174px;
}

.error-page_con {
	float: left;
	margin-left: 55px;
	padding-top: 65px;
	font-size: 16px;
}


