@charset "utf-8";
/* 运营商 文件运价管理*/


/*  jenny */
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}
.k-i-arrow-s,.k-link:not(.k-state-disabled):hover > .k-i-arrow-s, .k-state-hover .k-i-arrow-s, .k-button:hover .k-i-arrow-s,
.k-textbox:hover .k-i-arrow-s, .k-button:active .k-i-arrow-s{
    background-position:0 -30px !important;
}
.k-popup .k-list .k-item{
    line-height: 30px !important;
}
.k-widget .k-input{
    height: 30px !important;
    line-height: 30px !important;
}
.popup-window{
    padding: 15px 20px 20px !important;
}

.ke-toolbar{
    padding:7px 5px;
}
.ke-statusbar{
    background: transparent;
    border-top: 0;
    padding-bottom: 5px;
}
.ke-statusbar-center-icon{
    background: none;
}
.ke-edit{
    /*height: 90px !important;*/
}
.ke-container{
    max-width: 900px;
    resize: none;
}

.fixedMenu h3{ 
    font-size:14px;
}
.fixedMenu .currentState{
    background: #FFFFFF;
    border-bottom: 3px solid #ff7702;
    color: #333333;
}

.information_div{
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #ccd0d2;
}
.information_tab td{ 
    line-height:40px;
}
.information_tab td input[type="text"]{
    height: 30px;
    padding-left: 4px;
}
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:30px;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:normal;}
.tgrid.tbFixed { table-layout: fixed; }




/*文件运价管理列表*/
.information-file-tab input[type=text] {
    border: 1px solid #d3d3d3;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 3px;
}
.information-file-tab select {
    border: 1px solid #d3d3d3;
}
.table-borderTop {
    border-top:1px solid #dfdede;
}
.information-file-tab th {
    text-align: right;
    font-weight: normal;
}
.information-file-tab th, .information-file-tab td {
    padding: 8px 3px 0 3px;
}
.information-file-tab {
    margin: 8px 0 0 0;
}
.information_div {
    position: relative;
}
.information_div .searchDiv {
    position: absolute;
    top:125px;
    right: 10px;
}
.window-issueDiv {
    text-align: center;
    margin:10px auto 30px auto;
    font-size: 14px;
}