@charset "utf-8";
/* CSS Document */

html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}

table.layoutFixed {
    table-layout: fixed;
    width: 100%;
}

.tdEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.tdNoEllipsis {
    word-wrap: break-word;
    white-space: normal;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
}

.tgrid tbody td div.visa-name {
  	color: #666666;
	font-size: 12px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 180px;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;

}

.td-group-num {
  line-height: 38px;
}

.col-r {
  float: right;
  height: 100%;
  position: relative;
}

.sep-l {
  background: url("../images/spacer.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
  padding-left: 11px;
  padding-right: 10px;
}

.sale-rule-maintain-title th{
	text-align:center;
}

.tgrid tbody td.sale-rule-maintain-country span{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 115px;
	display: inline-block;
	color: #393939;
}

.guest-group{
	word-wrap: break-word;
	white-space: normal;
	overflow: hidden;
	width: 110px;
	height: 35px;

}

.sale-rule-remind{
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 16px;
}

.sale-rule-remind-button{
	text-align: center;
}

.sale-rule-remind-button a{
	margin-right: 10px;
}

/*价格信息  By:shuaigeng.zhao */

.block-module {
    height: auto;
    padding: 20px;
    border-bottom: 2px solid #bfc2c4;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    margin: 10px 0;
    color: #636363;
    background: #fff;
}

.supplier-modify-place {
    color: #666;
    font-size: 14px;
}

.supplier-modify-place h4 {
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 14px;
}

.supplier-modify-place .modify-title {
    font-size: 16px;
    color: #333;
}

.supplier-modify-place li {
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
}

.basic-info-container {

}

.visa-info-table {
    font-size: 12px;
}

.visa-info-table tr {
    height: 30px;
    line-height: 30px;
}

.visa-info-table .status {
    color: #ff3300;
    font-size: 16px;
}

.visa-info-table a:hover {
    color: #0066cc;
    text-decoration: underline;
}

.tabwidgetUl {
    height: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.tabwidgetUl li {
    float: left;
    width:103px;
    text-align: center;
    padding: 7px 0;
    color: #666;
    font-weight: bold;
    background: #daeef6;
    font-size: 14px;
    margin-right: 1px;
}
.tabwidgetUl li:hover, .tabwidgetUl li.currentLi {
    color: #fff;
    background: #2cb7f1;
    cursor: pointer;
}
.search-price .searchRow {
    font-size: 14px;
    margin-bottom: 35px;
    color: #333;
}
.search-price .searchRow b {
    font-size: 16px;
    margin-right: 20px;}

.search-price input[type='text'] {
    text-indent: 3px;
}

.visaPriceInfo {
    position: relative;
}
.visaPriceInfo input {
    width:36px;
    border: 1px solid #d8d8d8;
    padding: 0 0 0 0px;
    height: 24px;
    display: inline-block;
}
.visaPriceInfo label {
    padding:3px;
    display: inline-block;
}
.priceInfoTab{
    margin:20px 0 10px 0;
    color: #555;
    width: 100%;
    font-size: 14px;
}
.priceInfoTab th{
    background: #eeeeee;
    padding: 3px 0 3px 8px;
    color: #555555;
    text-align: left;
}
.priceInfoTab td{
    padding: 10px 0 10px 8px;
    border-bottom: 1px solid #eaeaea;
}
.priceInfoTab tr:hover{
    background: #f8f8f8;
    cursor: pointer;
}
.priceInfoTab .cf1 {
    color: #0393d3;
}
.priceInfoTab .cf2 {
    color: #fc3333;
}
.editFontLink, .saveFontLink {
    cursor: pointer;
}
.adultBorderL {
    border-left:2px solid #50aee4;
}
.kidsBorderL {
    border-left: 2px solid #69bf7f;
}
.kidsBorderR {
    border-right:2px solid #69bf7f;
}
.adultBorderB {
    border-bottom: 2px solid #50aee4!important;
}
.kidsBorderB {
    border-bottom: 2px solid #69bf7f!important;
}
.personTypeBox {
    position: absolute;
    top:-20px;
}
.adultBox, .kidsBox, .big-kidsBox {
    background: #50aee4;
    width:197px;
    position: absolute;
    top:1px;
    color: #fff;
    text-align: center;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.adultBox i, .kidsBox i, .big-kidsBox i {
    font-family: "sans serif";
    font-size: 12px;
}

.adultBox {
    left: 126px;
}

.kidsBox {
    left: 322px;
}

.big-kidsBox {
    left: 518px;
}

.kidsBox, .big-kidsBox {
    background: #69bf7f;
}

.policy-price-container {

}

.policy-price-container h3 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.policy-price-table tr {
    height: 50px;
    /*line-height: 50px;*/
}

.policy-price-table th {
    background-color: #eee;
}

.policy-price-table th,
.policy-price-table td {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #616161;
    font-size: 14px;
    padding-left: 10px;
    word-wrap: break-word;
}

/* 签证信息  By:shuaigeng.zhao ;  */
.changeList {
    background: #f4f4f4;
    border-bottom:1px solid #e0e0e0;
    width:945px;
    z-index: 1;
    margin-bottom: 20px;
    -webkit-transform: translateZ(0);
    position:relative;
}
.changeList ul {
    float:left;
}
.changeList li {
    float:left;
    position:relative;
    height:40px;
    line-height:40px;
    font-size:14px;
    color:#454545;
}
.changeList a {
    float: left;
    display:inline-block;
    min-width:93px;
    text-align:center;
    color: #404040;
    font-size: 14px;
    text-decoration: none;
}
.changeList .currentLi, .changeList .currentLi:hover {
   font-weight: bold;
    height:41px;
    z-index:3;
}
.changeList .currentLi i {
    position:absolute;
    bottom:-1px;
    left:0px;
    background:#ff6600;
    height:3px;
    min-width:96px;
}

.visa-table-container {
    padding: 0 10px;
}

.visa-details-table {
    font-size: 14px;
    color: #616161;
}

.visa-details-table tr {
    height: 35px;
}

.visa-details-table th {
    text-align: right;
    font-weight: normal;
    font-size: 14px;
    color: #616161;
    padding-right: 10px;
}

.visa-details-table pre {
    margin: 0;
    font-size: 14px;
    font-family: microsoft yahei,Arial,Helvetica,sans-serif!important;
}

.visa-details-table .visa-name input {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #616161;
    font-size: 14px;
}

.address-table-container {
    padding: 10px 0;
}

.address-table tr {
    height: 30px;
}

.address-table th {
    font-size: 16px;
    color: #333;
    text-align: left;
    padding: 0;
}

.address-table td {
    text-align: left;
    font-size: 14px;
    color: #616161;
}

.uploadImgBlock {

}

.uploadImgBlock li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.uploadImgBlock img {
    height: 88px;
    width: 135px;
}
.itemsTitleDiv {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    color: #454545;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px; 
}

.previewMaterialContainer {
    margin-top: 25px;
}

.previewMaterialContainer .tab-list {
    /*border-bottom: 1px solid #158dee;*/
}

.previewMaterialContainer .tab-list li {
    height: 40px;
    line-height: 40px;
    width: 90px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    background-color: #f5f5f5;
    margin-right: 3px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}

.previewMaterialContainer .tab-list li:hover {
    border-top: 1px solid #158dee;
    border-left: 1px solid #158dee;
    border-right: 1px solid #158dee;
    background-color: #f5f5f5;
    cursor: pointer;

}

.previewMaterialContainer .tab-list li.current {
    border-top: 1px solid #158dee;
    border-left: 1px solid #158dee;
    border-right: 1px solid #158dee;
    background-color: #e4f3ff;
    color: #017de2;
}

.previewMaterialContainer .prev-material-cont {
    margin: 0 -20px;
}

.material-list-head {
    margin: 0 -20px;
    padding: 0 20px;
    background-color: #d9eff5;
    box-shadow: 0px 0px 5px 0px #bfc2c4;
    border-bottom: 2px solid #bfc2c4;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    border-top: 1px solid #158dee;
}

.material-list-head span {
    height: 42px;
    line-height: 42px;
    display: inline-block;
}

.material-cont-table {
    font-size: 14px;
    color: #616161;
    width: 100%;
}

.material-cont-table tr {
    border-bottom: 1px solid #eaeaea;
}

.material-cont-table td {
    padding: 20px 0px 20px 20px;
}

.material-cont-table pre {
    width: 480px;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
    line-height: 22px;
    font-size: 14px;
    font-family: microsoft yahei,Arial,Helvetica,sans-serif!important;
}

.material-cont-table .td-attachment {
    margin-top: 10px;
}

.material-cont-table .td-attachment a {
    color: #0066cc;
    text-decoration: underline;
    padding-right: 10px;
}

.order-notice-block {
    padding: 15px 30px;
}

.order-notice-block pre {
    line-height: 22px;
    font-size: 14px;
    font-family: microsoft yahei,Arial,Helvetica,sans-serif!important;
}

.other-block {
    padding: 15px 30px;
}

.other-block pre {
    line-height: 22px;
    font-size: 14px;
    font-family: microsoft yahei,Arial,Helvetica,sans-serif!important;
}