.block-module{
    padding:10px 20px 20px 20px;
    color:#444;
}
.block0 .col{
    height:60px;
    float:left;
    width:50%;
}
.block0 .col-l{
    background:#FFFAF6 url(../images/order_r4_c10.png) 100% 0 no-repeat;
}
.block0 .row{
    font-size:12px;
    padding:10px 15px 0 15px;
    height:20px;
    border-left:9px solid #FF6608;
}
.block0 .text1{
    font-size:14px;
    color:#333;
}
.block0 .text1 strong{
    font-size:16px;
    color:#FF4100;
}
.block0 .text2{
    color:#878787;
}
.block0 .col-l em{
    color:#F15600;
}
.block0 .col-r li{
    height:60px;
}
.block0 .count{
    padding:0 10px;
    line-height:60px;
    float:right;
    background-color:#CFF3FC;
    border-right:9px solid #50A2D7;
}
.block0 .count span{
    display:inline-block;
    width:30px;
    line-height:18px;
    vertical-align:middle;
    margin:0 5px;
}
.block0 .count strong{
    vertical-align:middle;
    font-size:36px;
}
.instr{
    overflow:hidden;
    margin:10px 0 0 20px
}
.instr span{
    position:relative;
    z-index:1;
    padding-top:25px;
    display:block;
    float:left;
    background:url(../images/order_r6_c14.png) 50% 4px no-repeat;
    margin-right:10px;
}
.instr .first{
    background-position:-20px 4px;
    background-image:url(../images/instr-item_r1_c1.png);
}
.instr .last{
    margin-right:0;
    background-position:7px 4px;
    background-image:url(../images/instr-item_r1_c3.png);
}
.instr span.highlight{
    background-position:50% 4px;
    background-image:url(../images/order_r6_c15.png);
    color:#FF6608;
}
.instr span.highlight-fl{
    background-image:url(../images/order_r5_c12.png);
    background-position:50% 0;
}
.instr{
    position:relative;
}
.instr .line{
    position:absolute;
    display:block;
    width:100%;
    left:10px;
    height:2px;
    background-color:#E9E9E9;
    top:8px;
    z-index:0;
}

.block-title{
    font-size:14px;
    color:#333;
    font-weight:bold;
    margin-bottom:10px;
}
.block1 input{
    width:130px;
}
.block1 li{
    width:230px;
    margin-top:10px;
}
.block1 label{
    width:75px;
}
.block1 .col-wide{
    width:464px;
}
.block1 .col-wide label{
    vertical-align:top;
}
.block1 textarea{
    width:363px;
    height:45px;
    font-family:arial;
    font-size:12px;
    border:1px solid #d3d3d3;
}
.block-title-orange{ 
    border-bottom:3px solid #FFA86E;
}
.block-title-blue{ 
    border-bottom:3px solid #72D6FF;
}
.block-module .grid-table{
    width:100%;
}
.block-module .row{
    margin-top:10px;
}
.block2 .row strong {color:#ff6600;}
.block3 .row2 span{
    color:#0065CB;
}

.block3 .text1{
    color:#029f2a;
}
.block3 .text2{
    color:#fe5b00;
}
.block3 .row2{
    line-height:1.5em;
    padding:10px;
    border:1px solid #CFCFCF;
}
.block3 .row2 h3{
    color:#333;
    font-size:12px;
    margin-bottom:10px;
}
.block3 .row3 span {
    color:#0065CB;
}

.block5{
    background-color:#D9FFFA;
}
.block5 input{
    padding:0 5px;
    font-size:14px;
    border:0;
    width:117px;
    height:27px;
    background:url(../images/order_r11_c8.png) no-repeat;
}
.block5 .input-b{
    padding:0 5px;
    font-size:30px;
    font-weight:bold;
    border:0;
    width:173px;
    height:49px;
    background:url(../images/order_r10_c4.png) no-repeat;
}
.block5 span{
    display:block;
    text-align:center;
    font-weight:bold;
    color:#333;
    margin-bottom:8px;
}
.block5 .first span{
    font-size:16px;
    width:35px;
    display:inline-block;
    vertical-align:middle;
    margin:0 5px 0 0;
}
.block5 .flat-list{
    padding:15px;
}
.block5 li{
    margin-right:10px;
}

.block-module-action{
    margin-left:20px; 
    border-left:2px solid #CFCFCF;
    padding-left:20px;
}

.block-title label{
    margin-left:10px;
    font-size:12px;
    font-weight:normal;
}

.block8 {position:relative ;}
.block8 em {color:#ff0000;}
.block8 .row1 span, .block8 .row1 a {color:#0065CB;}
.block8 table {width:600px;float:left;}
.block8 table td {padding:5px;}
.block8 input {1px solid #d3d3d3;height:20px;}

.block8 p {line-height:30px;float:left;width:300px;padding:0 8px 0 20px;border-left:1px solid #E2E2E2;}

.uploadify {
    display: inline-block;
}

.uploadify-button {
    background-color: transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    color:#2c2c2c !important;
    text-shadow:none;
}


/* 关联订单 浮层 */
.child_order {
    border: 1px solid #439bd4;
    overflow:hidden;
    width:389px;
}
.child_order .title {
    background-color:#cff3fc;
}
.child_order .title li {display:block;float:left;height:60px;}
.child_order .title .first {font-size:12px;width:300px;color:#111111;}
.child_order .title .last {float:right;width:80px;color:#111111;vertical-align:middle;border-right:7px solid #439bd4;}
.child_order .title .last em {padding:10px;width:30px;display:inline-block;}
.child_order .title span {display:block; margin:15px 17px; background-color:#ffffff;padding:5px 8px;} 
.child_order .title .first strong {color:#FF3300;font-size:18px;} 
.child_order .title .last strong {font-size: 36px;}

.child_order .history_list {background-color:#ffffff;max-height:360px;overflow-y:scroll;auto;}
.child_order .history_list li {position:relative;margin-left:20px;}
.child_order .history_list li h3 {margin-top:10px;background:url(../images/sprite/datetime_bg.png) no-repeat left top;width:124px;height:17px;line-height: 17px;text-indent:16px;font-size:12px;color:#ffffff;}
.child_order .latest,.child_order .order_checked ,.child_order .order_checking {line-height:17px;background-color:#ff4e00;width:62px;height:17px;text-align: center;color:#ffffff;position:absolute;left:130px;top:0px;}
.child_order .order_checked , .child_order .order_checking {border:none;background-color:#ffffff;color:#00bd8e;}
.child_order .order_checking {color:#ff6600;}

.child_order .history_list li span {background: url(../images/sprite/blue_circle.png) no-repeat left top;width:10px;height:100%;display:block;position: absolute ;left:-15px;top:4px;}
.child_order .history_list li b {top:10px;left:5px;width:1px;border-left:1px solid #e0e0e0;height:100%;display:block;position:absolute;}
.child_order .history_list .item {border:1px solid #b8f1ff;width:330px;margin-top:5px;}
.child_order .history_list table {color:#444444;text-align:center;vertical-align: middle;}
.child_order .history_list table td {padding:3px;}
.child_order .history_list table th {padding-bottom:6px;font-weight:normal;}
.child_order .history_list table strong {color:#ff3300;font-size:16px;}

.jj,.crate,.frate,.origin_price {display:none;}
#passenger_info_grid2 input[type=text] {width:90%;}
button b {font-weight:normal;}
.tuipiao input {width:90px;}

.pnr-console {
    background-color: #000000;
    border: 1px solid #666666;
    color: #00FF00;
    font-family: arial;
    font-size: 12px;
    padding: 10px;
}

.prompt {
    position: relative;
}

.prompt i {
    background: url("../images/sprite/left_jiantou.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 9px;
    left: -6px;
    position: absolute;
    top: 45%;
    width: 6px;
}


