/*个人中心*/
.personalNavBar {
	margin:15px auto 5px auto;
	width:945px;	
}
.personalNavBar ul {
	text-align:center;
}
.personalNavBar li {
	float:left;
	font-size:14px;
	cursor:pointer;
	margin-left:20px;
}
.personalNavBar .journey,.personalNavBar .journey:hover, .personalNavBar .card, .personalNavBar .card:hover, .personalNavBar .secretary, .personalNavBar .secretary:hover, .personalNavBar .approver, .personalNavBar .approver:hover, .personalNavBar .messages, .personalNavBar .messages:hover, .personalNavBar .data, .personalNavBar .data:hover, .personalNavBar .password, .personalNavBar .password:hover {
	background:url(../images/b2g/personalCenter_sprite.png) no-repeat 0 0;
	width:115px;
	height:115px;
	display:inline-block;
	vertical-align:middle;
	position:relative;
}
.personalNavBar .journey:hover {
	background-position:-120px 0;
}
.personalNavBar .card {
	background-position:0 -131px;
}
.personalNavBar .card:hover {
	background-position:-120px -131px;
}
.personalNavBar .secretary {
	background-position:0 -262px;
}
.personalNavBar .secretary:hover {
	background-position:-120px -262px;
}
.personalNavBar .approver {
	background-position:0 -393px;
}
.personalNavBar .approver:hover {
	background-position:-120px -393px;
}
.personalNavBar .messages {
	background-position:0 -524px;
}
.personalNavBar .messages:hover {
	background-position:-120px -524px;
}
.personalNavBar .data {
	background-position:0 -655px;
}
.personalNavBar .data:hover {
	background-position:-120px -655px;
}
.personalNavBar .password {
	background-position:0 -786px;
}
.personalNavBar .password:hover {
	background-position:-120px -786px;
}

.personalLiCurrent {
	background:url(../images/b2g/personalCenter_sprite.png) no-repeat 0 0;
	width:115px;
	height:126px;
	display:inline-block;
	vertical-align:middle;
}
.journeyCurrent {
	background-position:-240px 0;
}
.cardCurrent {
	background-position:-240px -131px;
}
.secretaryCurrent {
	background-position:-240px -262px;
}
.approverCurrent {
	background-position:-240px -393px;
}
.messagesCurrent {
	background-position:-240px -524px;
}
.dataCurrent {
	background-position:-240px -655px;
}
.passwordCurrent {
	background-position:-240px -786px;
}


.personalNavBar em {
	color:#888;
	text-align:center;	
	line-height:170px;
}

.personalBlock {
	border:1px solid #d2d2d2;
	background:#fff;
}
.personalBlockTit {
	border-bottom:1px solid #d2d2d2;
	background:#f4f4f4;
	color:#454545;
	font-size:14px;
	height:50px;
	line-height:50px;
	padding-left:28px;
	font-weight:bold;
}
.personalContent {
	padding:28px 18px 28px 28px;
}
.secretary_ul li {
	float:left;
	margin:0 10px 10px 0;
	width:275px;
	height:151px;
}

/*个人名片信息*/
.personalCard {
	padding:15px;
	overflow:hidden;
	color:#333;
	border:1px solid #d0d0d0;
	background:#fffbe8;
	position:relative;
}
.personalCard:hover {
	border:2px solid #feaba9;
	cursor:pointer;
}
.personalCard-left {
	float:left;
	margin-right:10px
}
.personalCard-left p {
	line-height:30px;
}
.personalCard-right {
	float:right;
}
.cardImgarea span {
	background:transparent
}
.cardImgarea .boyPic {
	background:url(../images/b2g/customerPic.png) no-repeat 0 0;
	width:62px;
	height:62px;
	display:inline-block;
	vertical-align:middle;
}
.cardImgarea .girlPic {
	background:url(../images/b2g/customerPic.png) no-repeat 0 -66px;
	width:62px;
	height:62px;
	display:inline-block;
	vertical-align:middle;
}
.delete_card {
	color:#0066cc;
	font-size:14px;
	cursor:pointer;
	position:relative;
}
.delete_card em {
	position:absolute;
	bottom:-60px;
	right:2px;
	display:none;
}
.personalCard:hover .delete_card em {
	display:inline;
}
.personalCard_add, .approverCard_add {
	border:1px dashed #02C52B;
	color:#009A22;
	text-align:center;
	display:inline-block;
	width:273px;
	min-width:273px;
	height:149px;
	line-height:149px;
	font-size:14px;
	cursor:pointer;
}
.personalCard_add:hover, .approverCard_add:hover {
	background:#e9fced;
}
.personalCard_add i, .approverCard_add i {
	background: url("../images/b2g/sprite.png") 0 -150px;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
/*代理审批人信息*/
.approver_ul li {
	float:left;
	margin:0 10px 10px 0;
	width:496px;
	height:149px;
}
.approverCard {
	overflow:hidden;
	color:#333;
	border:1px solid #d0d0d0;
	background:#fffbe8;
	position:relative;
}
.approverCard:hover {
	border:2px solid #feaba9;
	cursor:pointer;
}
.approverCard-left {
	float:left;
	padding:15px;
	position:relative;
}
.approverCard-left p, .approverCard-right p {
	line-height:30px;
}
.approverCard-right {
	float:right;
	padding:15px;
	background:#ebfcfe;
	border-left:1px solid #c9e5e8;
	width:192px;
	height:119px;
	color:#333;
	position:relative;
}
.approverCard-right .fontSize16 {
	font-size:16px;
}
.approverCard-right .fontSize14 {
	font-size:14px;
}
.approverCard-right .fontColorgray {
	color:#666;
}
.approverCard-left .cardImgarea {
	background:transparent;
	position:absolute;
	top:10px;
	right:-85px;
}
.handle_card {
	color:#0066cc;
	font-size:14px;
	cursor:pointer;
	position:absolute;
	bottom:13px;
	right:20px;
}
.handle_card em {
	
	display:none;
}
.approverCard:hover .handle_card em {
	display:inline;
}


/*添加差旅秘书弹窗*/
.ul_selectedTravelClerk li{
    margin-bottom: 5px;
    background-color: #788a98;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-indent:12px;
    position: relative;
	color:#fff;
	cursor:pointer;
}
.ul_selectedTravelClerk li:hover,.ul_selectedTravelClerk li.select{
    background-color: #788a98;
}
.ul_selectedTravelClerk li i.btn_del{
    background: url("../images/b2g/sprite.png") 0px -140px;
    width: 7px;
    height: 7px;
    position: absolute;
    top:50%;
    margin-top: -3px;
    right:10px;
    cursor: pointer;
}
.ul_selectedTravelClerk li:hover i.btn_del,.ul_selectedTravelClerk li.select i.btn_del{
    background-position:-10px -140px;
	
}