.myVisa{
    min-height: 515px;
}

.cardType .cardControl{
    display: none;
}
.cardType ul:hover .cardControl{
    display: block;
    text-align: right;
}
.cardControl a{
    padding-left: 10px;
    color: #0066cc;
}
.cardControl a:hover{
    color: #fa5a51;
}
.infoContent {
    background: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 10px;
}
.writeTitle {
    background: #f4f4f4;
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 15px;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}
.fillInContent {
    padding: 0 20px 15px;
    /*margin: 20px 0;*/
}
.cardType {
    padding:0 0 0 6px;
}
.cardType ul {
    float:left;
    display:inline-block;
    height:114px;
    background:#f2f2f2;
    border:2px solid #d3d3d3;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-size:14px;
    color:#333;
    cursor:pointer;
    margin:0 5px 10px 0;
    position: relative;
}

.cardType ul:hover {
    border:2px solid #bfbfbf;
}
.cardType ul.cardSelected {
    border:2px solid #feaba9;
    cursor:pointer;
}
.cardType li {
    padding:10px 0 5px 0;
}
.cardType li span {
    padding:0 0 0 10px;
}
/*银行卡标志*/
.cardType li i {
    background:url(../images/b2g/bank_icon.png) no-repeat 0 0;
    vertical-align:middle;
    display:inline-block;
    margin-right:5px;
}
.cardType li .zs {
    background-position: 0 -120px;
    width:20px;
    height:20px;
}
.cardType li .jtyh {
    background-position: 0 -140px;
    width:19px;
    height:20px;
}
.cardType li .shyh {
    background-position: 0 0;
    width:20px;
    height:20px;
}
.cardType li .zgyz {
    background-position: 0 -20px;
    width:21px;
    height:20px;
}
.cardType li .cardNumber {
    background:#fff;
    font-size:16px;
    color:#4b4b4b;
    border-top:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    padding:5px 28px 5px 10px;
}
.cardType li .cardDays {
    font-size:12px;
    color:#666;
}
.cardType ul.cardType_add {
    border:2px dashed #02C52B;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    color:#009A22;
    text-align:center;
    display:inline-block;
    width:196px;
    height:114px;
    line-height:114px;
    font-size:14px;
    cursor:pointer;
    background: #ffffff;
}
.cardType ul.cardType_add li{
    padding:0
}
.cardType ul.cardType_add:hover {
    background:#e9fced;
}
.cardType ul.cardType_add i,.btn_addVisa{
    background: url("../images/b2g/sprite.png") 0 -150px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.title16{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    width: auto;
    vertical-align: middle;
}
.cardSelTips {
    font-size:12px;
    color:#ff6600;
}
.cardSelTit {
    margin:10px 0 20px 0;
    color: #333333;
    font-size: 14px;
}
.cardEnsure{
    margin: 20px 0;
}
.writeList {
    float: left;
    color: #333333;
}

.writeList th, .linkmanList th {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px 5px 0;
}
.writeList td, .linkmanList td {
    line-height: 35px;
    padding: 0 5px 5px 0;
    font-size: 14px;
}
.writeList td input[type="text"] {
    width: 163px;
}
.writeList .days {
    margin-left:90px
}
.writeList .red {
    color:#f94037;
}
.writeList .fontDash {
    border-bottom:1px dashed #ff0000;
    cursor:pointer;
}
.writeList .price {
    font-size:16px;
    font-weight:bold;
}
.writeList .grayfonts {
    font-size:12px;
    color:#999;
}
.add_cardList {
}
.add_cardList th {
    text-align:right;
    font-weight:normal;
}
.add_cardList .codeword {
    font-size:12px;
    color:#999;
    margin-right:8px
}
.fillCard .buttonBox {
    clear:both;
    text-align:right;
}
.fillCard{
    border-top: 1px solid #ababab;
    margin-top: 10px;
}
.blockNumber {
    border:1px solid #ed885b;
    background:#fffbe8;
    color:#333;
    font-weight:bold;
    font-size:20px;
    padding:3px 5px 3px 5px;
}
.tbl_modifyPassword{
    width: 900px;
    margin: 30px auto;
}
.tbl_modifyPassword th{
    font-weight: bold;
    color: #333333;
    text-align: right;
    padding:15px 0
}
.validtorContainer{
    position: relative;
}
.invalidTip{
    padding:0 10px;
    background: #fe6e6e;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: -2px;
}
.passwordTip{
    border:1px solid #bfeff5;
    border-radius: 5px;
    padding:10px;
}
.passwordTip .title i{
    background:url("../images/b2g/sprite.png") 0 -275px no-repeat;
    width: 17px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.passwordTip .title{
    font-size: 14px;
    font-weight: bold;
    color: #fd6f2a;
    vertical-align: middle;
    margin-bottom: 15px;
}
.passwordTip li{
    list-style: square;
    margin:0 0 10px 18px;
}
.oldPasswordStatus{
    display: inline-block;
    height: 17px;
    width: 16px;
    margin-left: 10px;
    vertical-align: text-bottom;
}
.oldPasswordStatus.right{
    background: url("../images/b2g/sprite.png") -36px -149px;
}
.oldPasswordStatus.wrong{
    background: url("../images/b2g/sprite.png") -18px -149px;
}