.block1{
    padding:10px;
}
.block1 input{
    color:#666;
}
.block1 .row{
    height:30px;
    line-height:30px;
    padding-bottom:4px;
}
.block1 .col-l{
    float:left;
    width:850px;
}
.block1 .flat-list li{
    width:200px;
}
.block1 .flat-list label{
    display:inline-block;
    width:53px;
}
.block .radio{
    width:auto;
}

.tcy_list li {
    cursor: pointer;
    color: #333;
    float: left;
    width: 58px;
    height: 14px;
    line-height: 14px;
    margin: 5px;
    vertical-align: top;
    overflow: hidden;
}
#tabstrip{
    display:none;
    border:1px solid #ccc;
}
.grid-table{
    margin-bottom:20px;
    width:100%;
    border:1px solid #E0E0E0;
}
.grid-table td{
    border-left:0;
    border-right:0;
}
.grid-table th{
    font-weight:normal;
    border-left:1px solid #fff;
    border-right:0;
    padding:5px;
}
.price{
    font-family:arial;
}
.more-up{
    display:none;
}
.caption{
    padding:10px;
    background-color:#F6F6F6;
    color:#10A9DD;
    border-bottom:1px solid #ccc;
}
.block2{
    padding:20px;
}
.row1 .price{
    text-align:center;
    display:block;
    color:#1E7FBD;
    font-weight:bold;
    font-size:16px;
}
.row1 .date b{
    font-size:16px;
    font-weight:normal;
    margin-left:5px;
}
.row1 .flat-list{
    float:left;
    border-top:1px solid #BDE0E6;
    border-left:1px solid #BDE0E6;
    background-color:#F6FEFF;
}
.row1 li{
    float:left;
    padding:5px 0;
    border-right:1px solid #BDE0E6;
    text-align:center;
    width:132px;
    border-bottom:1px solid #10A9DD;
}
.row1 .current{
    border-top:3px solid #10A9DD;
    border-left:1px solid #10A9DD;
    border-right:1px solid #10A9DD;
    border-bottom:1px solid #fff;
    background-color:#fff;
    margin-top:-1px;
    margin-left:-1px;
}
.current .price{
    color:#FF3000;
}
.row1{
    height:60px;
    overflow:hidden;
}
.row2{
    margin:10px 0;
}
.row2 .price{
    color:#FF3000;
}
.row2 b{
    font-weight:normal;
}
.row2 .flat-list{
    margin-top:5px;
}
.row2 li strong{
    display:block;
    width:60px;
}
.row2 .btn-ac-blue{
    margin-right:10px;
}
.row2 label{
    display:block;
    width:90px;
}
body{
    color:#333;
}
.grid-table u{
    text-decoration:none;
}
.flight-num{
    display:block;
}
.fico{
    display:inline-block;
}
.fname{
    vertical-align:middle;
    display:inline-block;
}
u.jx{
    display:block;
}
.grid-table .highlight{
    color:#FF3000;
    font-size:16px;
    font-weight:bold;
}
.btn-order{
    background-color:#f90;
    padding:3px 10px;
    color:#fff;
}
.grid-table .tgq{
    text-decoration:underline;
    color:#0065CB;
}
.info-row .more-down{
    display:none;
}
.expanded .more-down{
    display:none;
}
.expanded{
    background-color:#FFFFDB;
}
.info-row{
    display:none;
}
.block3{
    padding:20px;
}
.block3 h3{
    font-size:16px;
    margin-bottom:10px;
}
.block3 .row{
    padding:15px;
    background-color:#DDF6FF;
}
.block3 .flat-list span{
    display:block;
    padding:2px 0;
}
.block3 li{
    vertical-align:middle;
    text-align:center;
    width:105px;
}
.block3 .price{
    color:#f30;
    font-size:16px;
    font-weight:bold;
}
.block3 a{
    color:#0065CB;
}
