/*  基本样式   重置样式     开始 */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

ul,li{ list-style-type:none;}

/*  基本样式   重置样式     结束 */

/*==========================================================*/

.ap-outer-container {
	padding: 0;
	font-family: microsoft yahei;
	background-color: #fff;
	width: 810px;
}

/*  左侧地区范围   开始 */

.orange-font-color {
	color: #ff6600;
}

.ap-left-container {
	float: left;
	width: 243px;
	height: 287px;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 10px 6px 3px 6px;
}

.ap-area-title {
	color: #9f9f9f;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.ap-area-block {
	font-size: 12px;
	color: #454545;
}

.ap-flag-icon {
	background: url(../images/select_airport.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}

.ap-flag-icon.icon1 {
	background-position: 0 0;
	width: 12px;
	height: 12px;
}

.ap-flag-icon.icon2 {
	background-position: -14px 0;
	width: 11px;
	height: 11px;
}

.ap-flag-icon.icon3 {
	background-position: -27px 0;
	width: 9px;
	height: 11px;
}

.ap-tree-arrow-fold {
	background: url(../images/select_airport.png) no-repeat -10px -14px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
	width: 8px;
	height: 8px;
	left: 4px;
}

.ap-tree-arrow-fold.ap-expand {
	background: url(../images/select_airport.png) no-repeat 0px -14px;
	width: 8px;
	height: 8px;
	left: 2px;
	bottom: 0;
}

.ap-tree-arrow-fold.ap-arrow-none {
	background: none;
}

.ap-checkbox-unchecked {
	background: url(../images/select_airport.png) no-repeat -38px 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
	width: 12px;
	height: 12px;
}

.ap-checkbox-unchecked.ap-checked {
	background: url(../images/select_airport.png) no-repeat -52px 0;
}

.ap-area-block {
}

.ap-area-block ul {
	padding-left: 20px;
}

.ap-area-block ul:first-child {
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 5px;
}

.ap-first-level-item ul {
	display: none;
}

.ap-first-level-container .ap-wrap-tree-title {
	width: 230px;
}

.ap-second-level-container .ap-wrap-tree-title {
	width: 230px;
	margin-left: -20px;
	text-indent: 20px;
}

.ap-third-level-container .ap-wrap-tree-title {
	width: 230px;
	margin-left: -40px;
	text-indent: 40px;
}

.ap-forth-level-container .ap-wrap-tree-title {
	width: 230px;
	margin-left: -60px;
	text-indent: 60px;
}

.ap-area-block i.ap-tree-arrow-fold,
.ap-area-block i.ap-checkbox-unchecked {
	-moz-user-select: none;  /* 屏蔽连击图标出现的蓝色选中区域, 针对firefox */
}

.ap-area-block .ap-wrap-tree-title {
	padding: 3px 0;
	display: inline-block;
}

.ap-area-block .ap-wrap-tree-title span {
	display: inline-block;
	width: 98px;
	text-indent: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	top: 2px;
}

.ap-area-block .ap-wrap-tree-title:hover {
	background-color: #ecf7fb;	
}

.ap-view-airport {
	text-decoration: underline;
	color: #454545;
	float: right;
	margin-right: 3px;
	display: none;
	text-indent: 0;
}

.ap-view-airport:hover {
	color: #3399cc;
}

.ap-area-block .ap-wrap-tree-title:hover .ap-view-airport.ap-view-show {
	display: inline-block;
}

/*  左侧地区范围   结束 */

/*==========================================================*/

/*  右侧机场列表   开始 */

.ap-right-container {
	float: left;
	width: 506px;
	height: 285px;
	overflow: auto;
	border: 1px solid #ccc;
	border-left: none;
	padding: 10px 25px 5px 10px;
}

.ap-empty-text {
	text-align: center;
	margin-top: 120px;
	color: #9f9f9f;
	font-size: 20px;
}

.ap-right-content-top {
	height: 25px;
	line-height: 25px;
	margin: 5px 0;
}

.ap-search-bar {
	float: left;
}

.ap-search-bar-title {
	font-size: 14px;
	color: #9f9f9f;
}

.ap-search-bar-input {
	text-indent: 3px;
	width: 150px;
	border: 1px solid #d3d3d3;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}

.ap-search-bar-icon {
	background: url(../images/select_airport.png) no-repeat -66px 0;
	width: 19px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.ap-check-btn {
	float: right;
	font-size: 12px;
	margin-right: 15px;
}

.ap-check-all-btn,
.ap-check-inverse-btn {
	width: 55px;
	height: 25px;
	background-color: #e2e2e2;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	display: inline-block;
}

.ap-check-all-btn.current,
.ap-check-inverse-btn.current {
	color: #fff;
	background-color: #13bee4;
}

.ap-airport-list {
	padding-left: 0;
}

.ap-airport-item {
	font-size: 12px;
	color: #454545;
	float: left;
	margin-right: 25px;
	margin-bottom: 15px;
	height: 25px;	
	line-height: 25px;
	min-width: 140px;
	padding-left: 5px;
	cursor: pointer;
}

.ap-airport-item i {
	bottom: 10px;
}

.ap-airport-item.actived {
	line-height: 25px;
	background-color: #13bee4;
	color: #fff;
}

.ap-airport-item.actived i {
	background: url(../images/select_airport.png) no-repeat -52px 0;
}

.ap-airport-item.ap-airport-item-adjust {
	margin-right: 0;
}

.ap-airport-item span {
	display: inline-block;
	width: 115px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*  右侧机场列表   结束 */