/*  基本样式   重置样式     开始 */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

ul,li{ list-style-type:none;}

/*  基本样式   重置样式     结束 */

/*==========================================================*/

.ap-outer-container {
	padding: 0;
}

/*  左侧地区范围   开始 */

.ap-left-container {
	float: left;
	width: 257px;
	height: 280px;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 10px 6px;
}

.ap-area-title {
	color: #9f9f9f;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.ap-area-block {
	font-size: 12px;
}

/*  左侧地区范围   结束 */

/*==========================================================*/

/*  右侧机场列表   开始 */

.ap-right-container {
	float: left;
	width: 527px;
	height: 280px;
	overflow: auto;
	border: 1px solid #ccc;
	border-left: none;
	padding: 10px 6px;
}

.ap-empty-text {
	text-align: center;
	margin-top: 120px;
	color: #9f9f9f;
	font-size: 20px;
}

/*  右侧机场列表   结束 */