@charset "utf-8";
/* CSS Document */

/*  订单详情页  By:shuaigeng.zhao */
.back-text {
	cursor: pointer;
}

.instr {
	position: relative;
	overflow: hidden;
	margin: 0 10px;
}

.instr .highlight {
	background: url(../../images/store/flowdeepDot.jpg) no-repeat 50% 25px;
	color: #797979;
	background-position: 50% 29px;
}

.instr .highlight-fl {
	background-image: url(../../images/store/travelFlowIcon.jpg);
	background-position: 50% 100%;
	color: #e47965;
}