@charset "utf-8";
/* 采购商 机+酒 CSS Document */

/*目的地机加酒列表*/
.searchWrapper {
    margin: 10px 0;
    font-family: "微软雅黑";
}
.searchWrapper input {
    font-size: 14px;
    color: #666;
}
.newSearchTab {
    width: 467px;
    margin: 0 -1px 0 0;
    padding: 0;
    overflow: hidden;
}
.newSearchTab li {
    float: left;
    cursor: pointer;
    color: #63afed;
    width: 73px;
    font-size: 14px;
    text-align: center;
    height: 26px;
    line-height: 26px;
}
.newSearchTab li:before {
    content: "|";
    color: #ddd;
    float: left;
}
.newSearchTab li.first:before, .newSearchTab li.selected:before {
    content: "";
}
.newSearchTab .selected {
    color: #fff;
    background-color: #5eb5f1;
    border-width: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 1px;
    margin-right: -3px;
    position: relative;
}
.newSearch .newSearchContent {
    position: relative;
    clear: both;
    overflow: hidden;
}
.newSearch .searchForm {
    display: inline-block;
    background-color: #5eb5f1;
    width: 974px;
    height: 30px;
    line-height: 30px;
    padding: 5px 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-right-radius: 3px;
    -moz-border-top-right-radius:3px;
    -webkit-border-top-right-radius:3px;
}
.newSearch .searchForm em {
    color: #cbeaff;
}
.newSearchDate {
    background: #e5f3fd;
    border: 1px solid #77c2f6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 28px;
    line-height: 20px;
    display: inline-block;
}
.newSearch .searchForm .btn {
    width: 84px;
    height: 30px;
    color: #fff;
    background-color: #5eb5f1;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    border: 0;
    margin-left: 15px;
}
.inputWhiteBgRow {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    padding: 1px;
    display: inline-block;
    width:250px;
    float: left;
    margin-right: 5px;
}
.inputNoBgRow {
    height: 30px;
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.inputWhiteBgRow .placeBlock-bg {
    background: #e0f2ff;
    width:77px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    float: left;
}
.inputWhiteBgRow .placeBlock-bg b {
    font-size: 16px;
    color: #074e97;
}
.inputWhiteBgRow .startFont {
    position: absolute;
    right: 24px;
    top:7px;
    color: #919191;
    font-size: 12px;
}
.inputWhiteBgRow .startOff, .inputWhiteBgRow .scenicPlace {
    border: none;
    background-color: transparent;
    height: 28px;
    line-height: 28px;
}
.inputWhiteBgRow .startOff {
    font-size: 18px;
    color: #074e97;
}
.inputWhiteBgRow input[type=text] {
    font-size: 16px;
    vertical-align: middle;
}
.newSearch .searchForm02 {
    width:440px;
    float: left;
}
.hotCity-place {
    display: inline-block;
    padding:12px 0 12px 15px;
    font-size: 14px;
    color: #666;
}
.hotCity-place b {
    color: #555;
    font-weight: bold;
}
.hotCity-place a {
    text-decoration: underline;
    margin-right: 10px;
}
.hotCity-place a:hover {
    text-decoration: underline;
    color: #198fe0;
}




.travel-filter {
    border: 1px solid #dce6f0;
    background: #fff;
    zoom: 1;
    margin-bottom: 10px;
}
.play_type {
    height: 34px;
    line-height: 34px;
    background-color: #dce4eb;
    border-bottom: 1px solid #d2d7de;
    min-width: 790px;
}
.play_type li {
    display: inline-block;
    border-right: 1px solid #d5e1ed;
    padding: 0 20px;
    overflow: hidden;
    height: 34px;
    float: left;
}
.play_type li a {
    color: #666;
}
.play_type li a:hover {
    text-decoration: none;
    color: #666;
}
.play_type li:hover {
    background: #edf3f8;
    /*border-bottom: 1px solid #fff;
    margin: 1px 0 0 0;*/
    cursor: pointer;
}
.play_type li.currentState {
    background: #fff;
    border-top: 2px solid #5eb5f1;
    margin: -1px 0 -1px -1px;
    border-bottom: 1px solid #fff;
}
.play_type li.currentState a:hover {
    text-decoration: none;
}
.travel-filter-nav {
    background: #e7eef5;
}
.travel-filter-list {
    padding: 10px 0 0 0;
    min-height: 30px;
    overflow: hidden;
}
.travel-filter-list li {
    padding: 3px 20px;
    overflow: hidden;
}
.travel-filter-list li .filterTitle {
    width: 65px;
    padding: 3px 0;
}
.travel-filter-list li label {
    float: left;
    overflow: hidden;
    display: block;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 20px 4px 10px;
}
.travel-filter-list .tipsIcon {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat -50px 0;
    display: inline-block;
    width:14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.filterCheck {
    overflow: hidden;
}
.filterCheck span {
    padding: 3px 0;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    min-width: 55px;
    float: left;
    display: inline-block;
}
.filterCheck span.selectedSpan, .filterCheck span:hover {
    background: #52a0e5;
    min-width: 55px;
    color: #fff;
}
.travel-filter-list input[type=text] {
    border:1px solid #c7c7c7;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    width:60px;
}
.travel-filter-list .priceRow {
    margin-bottom: 5px;
}
.travel-filter-list .priceRow em {
    font-family: "微软雅黑";
    color: #949494;
}
.travel-filter-list .sureBtn {
    margin-left: 10px;
    border: 1px solid #b1e0ff;
    background: #f0fcff;
    padding: 4px 13px;
    display: inline-block;
    cursor: pointer;
}
.travel-filter-list li.selectedRow {
    border-top:1px solid #dce6f0;
    padding: 15px 20px;
}
.filterSelect div.item {
    margin-right: 5px;
    float: left;
    border: 1px solid #ccc;
    height: 23px;
    line-height: 23px;
    padding: 0 30px 0 10px;
    position: relative
}
.filterSelect div.item:hover {
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
    cursor: pointer;
}

.filterSelect div.item:hover .close {
    color: #fff
}

.filterSelect .close {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #52a0e5;
    float: right;
    line-height: 18px;
    text-decoration: none;
    position: absolute;
    right: 6px;
    top: 1px
}
.clearAll {
    color: #818181;
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.clearAll:hover {
    color: #52a0e5;
}
.tour_main_listNew {
    margin-top:10px;
}
.tour_resultInfoNew {
    background: #edf3f8;
    padding: 5px 5px 5px 15px;
    border:1px solid #d9e5f0;
    font-size: 14px;
}
.tour_resultInfoNew .tour_resultNo {
    color: #ff6500;
    font: bold 18px arial;
    padding: 0 5px;
}
.tour_resultInfoNew .rankType {
    font-size: 12px;
}
.tour_resultInfoNew .rankType span {
    border: 1px solid #c1c1c1;
    background: #f8f8f8;
    padding: 4px 15px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.tour_resultInfoNew .rankType span:hover {
    border: 1px solid #fea468;
}
.tour_resultInfoNew .rankType .currentSpan {
    border: 1px solid #ff8533;
    background: #fff8f4;
}
.tour_resultInfoNew .rankType .upIcon, .tour_resultInfoNew .rankType .downIcon {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -18px;
    display: inline-block;
    width:9px;
    height: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.tour_resultInfoNew .rankType .downIcon {
    background-position: 0 -25px;
}
.tour_resultInfoNew .pageColor {
    color: #E94749;
    margin-left: 10px;
}
.tour_resultInfoNew .pageUp, .tour_resultInfoNew .pageDown {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -35px;
    display: inline-block;
    width:25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.tour_resultInfoNew .pageDown {
    background-position: -25px -35px;
}
.tour_resultInfoNew .pageUp:hover {
    background-position: 0 -63px;
}
.tour_resultInfoNew .pageDown:hover {
    background-position: -25px -63px;
}
.tour_resultListNew {
    background: #fff;
    font-size: 14px;
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
}
.tourRoomPrice {
    color: #FF6500;
    font: bold 20px/1.5 Arial;
}

.tourRoomPrice.sold {
    color: #636363;
    border-bottom: none
}

.tourRoomPrice .changeFont {
    font-size: 14px;
    font-weight: 500;
}

.roomTypeDetailContainer .floatLayer {
    padding-bottom: 1px;
    border-bottom: 1px dashed #ff6500;
    cursor: pointer;
}

.tour_resultList {
    background: #fff;
    font-size: 14px;
}

.tour_resultDiv {
    height: auto;
    overflow: hidden;
}

.tour_resultDiv_left {
    float: left;
    padding: 20px 0 10px 20px;
}
.tour_resultDiv_left:hover {
    background: #f7fbff;
    cursor: pointer;
}

.tour_resultDiv_right {
    background: #fbfbfb;
    float: right;
    padding: 20px 20px 10px 20px;
    vertical-align: middle;
    width:180px;
    min-height: 120px;
}

.tour_resultDiv .fontTitle {
    color: #888;
    width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tour_resultDiv .tour_price {
    color: #ef4423;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

.tour_resultDiv p {
    padding-bottom: 10px;
}

.tour_price_block {
    margin-right: 20px;
}

.tour_resultDiv .tour_price em {
    font-size: 14px;
    font-family: "微软雅黑";
}

.tour_unfoldCon {
    padding: 5px 0 10px 20px;
    z-index: 1;
    clear: both;
}
.tour_resultDiv_left .tourImgBox {
    float: left;
    display: inline-block;
    width: 160px;
    height: 120px;
    overflow: hidden;
    margin-right: 15px;
}
.tour_resultDiv_left .textContent {
    display: inline-block;
    width:500px;
}
.tour_resultDiv_left .fontBigTitle {
    color: #1673c4 ;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.tour_resultDiv_left:hover .fontBigTitle {
    text-decoration: underline;
}
.jewelevel02, .jewelevel03, .jewelevel04, .jewelevel05, .jewelevel06 {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -96px;
    width:26px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}
.jewelevel03 {
    width:39px;
}
.jewelevel04 {
    width:52px;
}
.jewelevel05 {
    width:65px;
}
.jewelevel06 {
    width:78px;
}
.jewelMargin {
    margin: 0 15px 0 5px;
}
.palyTypeTag-ball, .palyTypeTag-halfself, .palyTypeTag-local {
    background: url("../images/store/travl/travlTypeIcon.png") no-repeat 0 0;
    width:65px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
}
.palyTypeTag-halfself {
    background-position: 0 -29px;
}
.palyTypeTag-local {
    background-position: 0 -58px;
}
.groupTour {
    background: #50c9b1;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 6px 10px;
}
.placeStart {
    background: #eee;
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    padding: 6px 10px;
}
.tour_resultDiv_left .fontConP {
    width:490px;
    color: #636363;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tour_resultDiv_left .groupDate {
    color: #888;
    margin-top:10px;
}
.viewGroup, .fewerGroup {
    margin-left: 10px;
    color: #5697c4;
    text-decoration: underline;
}
.viewGroup:hover, .fewerGroup:hover {
    color: #008ded;
}
.viewGroup em, .fewerGroup em {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat -11px -25px;;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.fewerGroup em {
    background-position: -11px -18px;
}
.viewGroup:hover em {
    background-position: -22px -25px;
}
.fewerGroup:hover em {
    background-position: -22px -18px;
}
.tour_resultDiv_right .marketPrice {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 12px;
    color: #949494;
    padding-top: 10px;
}
.tour_resultDiv_right .marketPrice em {
    color:#afafaf;
    font-family: "微软雅黑";
}
.tour_resultDiv_right .marketPrice span {
    color:#333;
    font-family: "arial";
    font-size: 16px;
    margin: 0 3px;
}
.tour_resultDiv_right .ClearingPrice {
    display: inline-block;
    float: right;
    width:135px;
    vertical-align: middle;
}
.tour_price_block {
    margin-bottom: 8px;
    display: inline-block;
}


/*  机加酒产品详情  By:shuaigeng.zhao;  */
.th-title-block {
    margin: 10px 0
}

.th-name {
    font-size: 20px;
}

.th-start-place {
    background-color: #e4e4e4;
    color: #868686;
    padding: 3px 8px;
    position: relative;
    top: -3px;
    left: 8px;
}

.timePriceSimple {
    position: relative;
}

/*  左侧  */

.leftImages {
    float: left;
}

/* 右侧 */

.rightCalendar {
    float: left;
    width: 468px;
    height: 308px;
    padding: 20px;
    border: 1px solid #efefef;
    margin-left: 7px;
    position: relative;
}

/* 头部价格 */

.titlePrice {
    margin-top: -5px;
}

.realPrice {
    font-size: 14px;
}

.realPrice em{
    font-size: 36px;
    color: #ef4423;
}

.realPrice b {
    font-size: 20px;
    color: #ef4423;
}

.marketPrice {
    color: #9d9d9d;
    font-size: 12px;
    text-decoration: line-through;
    padding-left: 20px;
}

i.scanCodeTip {
    width: 163px;
    height: 30px;
    display: inline-block;
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat 0 0;
    position: relative;
    top: 5px;
    left: 25px;
}

/* 二维码部分 */

.qrCodeBlock {
    position: absolute;
    right: 0;
    top: 0;
}

.qrCodeBlock i.qrCodeSmall {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat -169px 0;
    display: inline-block;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.qrCodeRealBlock {
    cursor: pointer;
    width: 132px;
    height: 152px;
    padding: 7px;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 1px 5px #d5d5d5;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    display: none;
}

.qrCodeBlock:hover .qrCodeRealBlock {
    display: block;
}

.qrCodeRealBlock i.qrCodeBig {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat 0 -34px;
    display: inline-block;
    width: 132px;
    height: 132px;
}

.qrCodeRealBlock .app_text {
    color: #1879cf;
    font-size: 12px;
    width: 136px;
}

.qrCodeRealBlock .app_text:hover {
    text-decoration: underline;
}

.qrCodeRealBlock .app_text em {
    background: url(../images/store/app_arrow.png) no-repeat 0 center;
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-top: -3px;
}

/* 日历部分 */

.calendarBlock {
    margin-top: 15px;
}

.calendarTitle {
    width: 472px;
}

.calendarTables {
    width: 470px;
    height: 198px;
    border: 1px solid #e2e2e2;
}

/* 右侧结束 */


/* 预订表格部分 */
.timePriceDetail {
    padding-top: 10px;
}

.timePriceDetail table {
    width: 100%;
}

.orderInfoTable {
    border: 1px solid #ffb265;
    font-size: 14px;
}

.orderInfoTable tr {
    height: 65px;
    line-height: 65px;
    background-color: #fffcf4;
}

.orderInfoTable th {
    font-weight: bold;
    width: 70px;
    text-align: center;
}

.orderInfoTable .orderInfoPrice {
    width: 390px;    
}

.hasRightBorder {
    padding: 5px 8px 5px 0;
    border-right: 1px solid #ffb265;
}

.orderInfoTable .orderInfoNum {
    width: 290px;
    margin-left: 5px;
}

.orderInfoNum ul {
    margin-left: 5px;
}

.orderInfoNum li {
    float: left;
    margin-right: 10px;
}

.orderInfoNum select {
    width: 50px;
    height: 24px;
}

.orderInfoNum span {
    font-weight: bold;
    color: #333;
}

.orderInfoNum .hasRightBorder {
    padding: 5px 2px;
}

.orderInfoTable .orderOper span {
    margin-left: 5px;
}

.orderInfoTable .orderOper b{
    font-weight: bold;
}

.orderInfoTable .orderOper i {
    font-size: 16px;
    color: #ef4423;
}

.orderInfoTable .orderOper em {
    font-size: 24px;
    color: #ef4423;
}

.orderInfoTable .orderOper .orderBtn {
    color: #fff;
    background-color: #fc6f26;
    padding: 12px 24px;
    position: relative;
    top: -3px;
    left: 6px;
    cursor: pointer;
}