@charset "utf-8";
/* 采购商 机+酒 CSS Document */

/*目的地机加酒列表*/


.searchWrapper {
    margin: 10px 0;
    font-family: "微软雅黑";
}
.searchWrapper input {
    font-size: 14px;
    color: #666;
}
.newSearchTab {
    width: 467px;
    margin: 0 -1px 0 0;
    padding: 0;
    overflow: hidden;
}
.newSearchTab li {
    float: left;
    cursor: pointer;
    color: #63afed;
    width: 73px;
    font-size: 14px;
    text-align: center;
    height: 26px;
    line-height: 26px;
}
.newSearchTab li:before {
    content: "|";
    color: #ddd;
    float: left;
}
.newSearchTab li.first:before, .newSearchTab li.selected:before {
    content: "";
}
.newSearchTab .selected {
    color: #fff;
    background-color: #5eb5f1;
    border-width: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 1px;
    margin-right: -3px;
    position: relative;
}
.newSearch .newSearchContent {
    position: relative;
    clear: both;
    overflow: hidden;
}
.newSearch .searchForm {
    display: inline-block;
    background-color: #5eb5f1;
    width: 974px;
    height: 30px;
    line-height: 30px;
    padding: 5px 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-right-radius: 3px;
    -moz-border-top-right-radius:3px;
    -webkit-border-top-right-radius:3px;
}
.newSearch .searchForm em {
    color: #cbeaff;
}
.newSearchDate {
    background: #e5f3fd;
    border: 1px solid #77c2f6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 28px;
    line-height: 20px;
    display: inline-block;
}
.newSearch .searchForm .btn {
    width: 84px;
    height: 30px;
    color: #fff;
    background-color: #5eb5f1;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    border: 0;
    margin-left: 15px;
}
.searchBtnContainer {
    width: 112px;
    height: 32px;
    display: inline-block;
    border-radius: 4px;
    padding: 1px 0;
}
.searchBtnContainer:hover {
    background-color: #439fdb!important;
}
.searchBtnContainer:hover .btn {
    background-color: #439fdb!important;
}
.inputWhiteBgRow {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    padding: 1px;
    display: inline-block;
    width:250px;
    float: left;
    margin-right: 5px;
}
.inputNoBgRow {
    height: 30px;
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.inputWhiteBgRow .placeBlock-bg {
    background: #e0f2ff;
    width:77px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    float: left;
}
.inputWhiteBgRow .placeBlock-bg b {
    font-size: 16px;
    color: #074e97;
}
.inputWhiteBgRow .startFont {
    position: absolute;
    right: 24px;
    top:7px;
    color: #919191;
    font-size: 12px;
}
.inputWhiteBgRow .startOff, .inputWhiteBgRow .scenicPlace {
    border: none;
    background-color: transparent;
    height: 28px;
    line-height: 28px;
}
.inputWhiteBgRow .startOff {
    font-size: 18px;
    color: #074e97;
}
.inputWhiteBgRow input[type=text] {
    font-size: 16px;
    vertical-align: middle;
}
.newSearch .searchForm02 {
    width:440px;
    float: left;
}
.hotCity-place {
    display: inline-block;
    padding:12px 0 12px 15px;
    font-size: 14px;
    color: #666;
}
.hotCity-place b {
    color: #555;
    font-weight: bold;
}
.hotCity-place a {
    text-decoration: underline;
    margin-right: 10px;
}
.hotCity-place a:hover {
    text-decoration: underline;
    color: #198fe0;
}




.travel-filter {
    border: 1px solid #dce6f0;
    background: #fff;
    zoom: 1;
    margin-bottom: 10px;
}
.play_type {
    height: 34px;
    line-height: 34px;
    background-color: #dce4eb;
    border-bottom: 1px solid #d2d7de;
    min-width: 790px;
}
.play_type li {
    display: inline-block;
    border-right: 1px solid #d5e1ed;
    padding: 0 20px;
    overflow: hidden;
    height: 34px;
    float: left;
}
.play_type li a {
    color: #666;
}
.play_type li a:hover {
    text-decoration: none;
    color: #666;
}
.play_type li:hover {
    background: #edf3f8;
    /*border-bottom: 1px solid #fff;
    margin: 1px 0 0 0;*/
    cursor: pointer;
}
.play_type li.currentState {
    background: #fff;
    border-top: 2px solid #5eb5f1;
    margin: -1px 0 -1px -1px;
    border-bottom: 1px solid #fff;
}
.play_type li.currentState a:hover {
    text-decoration: none;
}
.travel-filter-nav {
    background: #e7eef5;
}
.travel-filter-list {
    padding: 10px 0 0 0;
    min-height: 30px;
    overflow: hidden;
}
.travel-filter-list li {
    padding: 3px 20px;
    overflow: hidden;
}
.travel-filter-list li .filterTitle {
    width: 65px;
    padding: 3px 0;
}
.travel-filter-list li label {
    float: left;
    overflow: hidden;
    display: block;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 20px 4px 10px;
}
.travel-filter-list .tipsIcon {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat -50px 0;
    display: inline-block;
    width:14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.filterCheck {
    overflow: hidden;
}
.filterCheck span {
    padding: 3px 0;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    min-width: 55px;
    float: left;
    display: inline-block;
}
.filterCheck span.selectedSpan, .filterCheck span:hover {
    background: #52a0e5;
    min-width: 55px;
    color: #fff;
}
.travel-filter-list input[type=text] {
    border:1px solid #c7c7c7;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    width:60px;
}
.travel-filter-list .priceRow {
    margin-bottom: 5px;
}
.travel-filter-list .priceRow em {
    font-family: "微软雅黑";
    color: #949494;
}
.travel-filter-list .sureBtn {
    margin-left: 10px;
    border: 1px solid #b1e0ff;
    background: #f0fcff;
    padding: 4px 13px;
    display: inline-block;
    cursor: pointer;
}
.travel-filter-list li.selectedRow {
    border-top:1px solid #dce6f0;
    padding: 15px 20px;
}
.filterSelect div.item {
    margin-right: 5px;
    float: left;
    border: 1px solid #ccc;
    height: 23px;
    line-height: 23px;
    padding: 0 30px 0 10px;
    position: relative
}
.filterSelect div.item:hover {
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
    cursor: pointer;
}

.filterSelect div.item:hover .close {
    color: #fff
}

.filterSelect .close {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #52a0e5;
    float: right;
    line-height: 18px;
    text-decoration: none;
    position: absolute;
    right: 6px;
    top: 1px
}
.clearAll {
    color: #818181;
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.clearAll:hover {
    color: #52a0e5;
}
.tour_main_listNew {
    margin-top:10px;
}
.tour_resultInfoNew {
    background: #edf3f8;
    padding: 5px 5px 5px 15px;
    border:1px solid #d9e5f0;
    font-size: 14px;
}
.tour_resultInfoNew .tour_resultNo {
    color: #ff6500;
    font: bold 18px arial;
    padding: 0 5px;
}
.tour_resultInfoNew .rankType {
    font-size: 12px;
}
.tour_resultInfoNew .rankType span {
    border: 1px solid #c1c1c1;
    background: #f8f8f8;
    padding: 4px 15px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.tour_resultInfoNew .rankType span:hover {
    border: 1px solid #fea468;
}
.tour_resultInfoNew .rankType .currentSpan {
    border: 1px solid #ff8533;
    background: #fff8f4;
}
.tour_resultInfoNew .rankType .upIcon, .tour_resultInfoNew .rankType .downIcon {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -18px;
    display: inline-block;
    width:9px;
    height: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.tour_resultInfoNew .rankType .downIcon {
    background-position: 0 -25px;
}
.tour_resultInfoNew .pageColor {
    color: #E94749;
    margin-left: 10px;
}
.tour_resultInfoNew .pageUp, .tour_resultInfoNew .pageDown {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -35px;
    display: inline-block;
    width:25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.tour_resultInfoNew .pageDown {
    background-position: -25px -35px;
}
.tour_resultInfoNew .pageUp:hover {
    background-position: 0 -63px;
}
.tour_resultInfoNew .pageDown:hover {
    background-position: -25px -63px;
}
.tour_resultListNew {
    background: #fff;
    font-size: 14px;
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
}
.tourRoomPrice {
    color: #FF6500;
    font: bold 20px/1.5 Arial;
}

.tourRoomPrice.sold {
    color: #636363;
    border-bottom: none
}

.tourRoomPrice .changeFont {
    font-size: 14px;
    font-weight: 500;
}

.roomTypeDetailContainer .floatLayer {
    padding-bottom: 1px;
    border-bottom: 1px dashed #ff6500;
    cursor: pointer;
}

.tour_resultList {
    background: #fff;
    font-size: 14px;
}

.tour_resultDiv {
    height: auto;
    overflow: hidden;
}

.tour_resultDiv_left {
    float: left;
    /*padding: 20px 0 10px 20px;*/
}
.tour_resultDiv_left:hover {
    background: #f7fbff;
    cursor: pointer;
    z-index: 100;
}

.tour_resultDiv_right {
    background: #fbfbfb;
    float: right;
    /*padding: 20px 20px 10px 20px;*/
    vertical-align: middle;
    width:166px;
    height: 168px;
    min-height: 120px;
    margin-top: -20px;
    margin-bottom: -10px;
}

.tour_resultDiv .fontTitle {
    color: #888;
    width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tour_resultDiv .tour_price {
    color: #ef4423;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

.tour_resultDiv p {
    padding-bottom: 10px;
}

.tour_price_block {
    margin-right: 20px;
    height: 20px;
}

.tour_resultDiv .tour_price em {
    font-size: 14px;
    font-family: "微软雅黑";
}

.tour_unfoldCon {
    padding: 5px 0 10px 20px;
    z-index: 1;
    clear: both;
    border-top:1px solid #ccc;
    margin-top:10px;
}
.tour_resultDiv_left .tourImgBox {
    float: left;
    display: inline-block;
    width: 160px;
    height: 120px;
    overflow: hidden;
    margin-right: 15px;
}

.tour_resultListNew .tourImgBoxPos {
    position: relative;
}

.tour_resultDiv_left .textContent {
    display: inline-block;
    width:500px;
}
.tour_resultDiv_left .fontBigTitle {
    color: #1673c4 ;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.tour_resultDiv_left:hover .fontBigTitle {
    text-decoration: underline;
}
.jewelevel02, .jewelevel03, .jewelevel04, .jewelevel05, .jewelevel06 {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -96px;
    width:26px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}
.jewelevel03 {
    width:39px;
}
.jewelevel04 {
    width:52px;
}
.jewelevel05 {
    width:65px;
}
.jewelevel06 {
    width:78px;
}
.jewelMargin {
    margin: 0 15px 0 5px;
}
.palyTypeTag-ball, .palyTypeTag-halfself, .palyTypeTag-local {
    background: url("../images/store/travl/travlTypeIcon.png") no-repeat 0 0;
    width:65px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
}
.palyTypeTag-halfself {
    background-position: 0 -29px;
}
.palyTypeTag-local {
    background-position: 0 -58px;
}
.groupTour {
    background: #50c9b1;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 6px 10px;
}
.placeStart {
    background: #eee;
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    padding: 6px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 4px;
}
.tour_resultDiv_left .fontConP {
    width:490px;
    color: #636363;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tour_resultDiv_left .groupDate {
    color: #888;
    margin-top:10px;
}
.viewGroup, .fewerGroup {
    margin-left: 10px;
    color: #5697c4;
    text-decoration: underline;
}
.viewGroup:hover, .fewerGroup:hover {
    color: #008ded;
}
.viewGroup em, .fewerGroup em {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat -11px -25px;;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.fewerGroup em {
    background-position: -11px -18px;
}
.viewGroup:hover em {
    background-position: -22px -25px;
}
.fewerGroup:hover em {
    background-position: -22px -18px;
}
.tour_resultDiv_right .marketPrice {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 12px;
    color: #949494;
    padding-top: 8px;
}
.tour_resultDiv_right .marketPrice em {
    color:#afafaf;
    font-family: "微软雅黑";
}
.tour_resultDiv_right .marketPrice span {
    color:#333;
    font-family: "arial";
    font-size: 16px;
    margin: 0 3px;
}
.tour_resultDiv_right .ClearingPrice {
    display: inline-block;
    float: right;
    width:135px;
    vertical-align: middle;
    position: relative;
    left: 4px;
    top: 20px;
}
.tour_price_block {
    margin-bottom: 8px;
    display: inline-block;
}

.tour_resultListNew .freeTravelTag {
    background: url("../images/store/travl/travelTag.png") no-repeat 0px 0px;
    width: 65px;
    height: 24px;
    position: absolute;
    left: 95px;
}

.tour_resultListNew .arroundTravelTag {
    background: url("../images/store/travl/travelTag.png") no-repeat 0px -27px;
    width: 65px;
    height: 24px;
    position: absolute;
    left: 95px;
}

.aroundTravel-title{
    height: 46px;
    line-height: 46px;
    font-size: 19px;
    color: #4a4a4a;
    width: 980px;
    margin: 0 auto 10px auto;
    font-family: "Microsoft YaHei";
}

.privilegeHotel-title{
    height: 46px;
    line-height: 46px;
    font-size: 19px;
    color: #4a4a4a;
    width: 980px;
    margin: 0 auto;
    font-family: "Microsoft YaHei";
}

.privilegeHotel-title a{
    float: right;
    color: #1673c4;
    font-size: 14px;
}

.aroundtour_resultListNew{
    width: 980px;
    margin: 0 auto;
}

.badge{
    background: url("../images/store/travl/badge.png") no-repeat 0px 0px;
    width: 21px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

.privilegeHotel-review{
    width: 980px;
    margin: 0 auto 10px auto; 
    font-family: "microsoft yahei",sans-serif;
}

.hotHotel_show dl {
  float: left;
  margin-right: 8px;
  width: 239px;
}

.hotHotel_show dt {
  position: relative;
}

.hotHotel_show dd {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 2px solid #c7c6c6;
  height: auto;
  overflow: hidden;
  padding: 10px 15px 5px;
}

.hotHotel_show img {
  height: 230px;
  width: 239px;
}

.hotHotel_show .hotelName {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 208px;
}

.hotHotel_show .hotelName a {
  color: #636363;
  text-decoration: none;
}

.hotHotel_show .hotelStar {
  background: url("../images/store/homeStore/homeHotelStar.png") no-repeat scroll 0 -12px rgba(0, 0, 0, 0);
  display: inline-block;
  float: left;
  height: 12px;
  margin-top: 13px;
  position: relative;
  width: 69px;
}



.hotHotel_show .star03 {
  width: 41px;
}


.hotHotel_show .star01, .hotHotel_show .star02, .hotHotel_show .star03, .hotHotel_show .star04, .hotHotel_show .star05, .hotHotel_show .star01_5, .hotHotel_show .star02_5, .hotHotel_show .star03_5, .hotHotel_show .star04_5 {
  background: url("../images/store/homeStore/homeHotelStar.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 13px;
}

.hotHotel_show hotHotel_show.price {
  float: right;
}

.hotHotel_show .price a {
  color: #ef4423;
  font-size: 24px;
  text-decoration: none;
  width: 100%;
}

.hotHotel_show .price em {
  font-size: 18px;
  font-style: normal;
}

/* 推荐周边游 */
.toursRecomm_show {
    background: #fff;
    border: 1px solid #efefef;
    padding:10px 15px 0 15px;
    width:950px;
    margin: 0 auto 10px auto;
}
.nearToursTag {
    background: #f44e27;
    display: inline-block;
    width:65px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    color:#fff;
}
.nearToursTag em {
    background: url("../images/store/jijiajiu/jijiajiu_product_detail.png") no-repeat 0 -285px;
    display:inline-block;
    width:12px;
    height:16px;
    margin: 0 5px;
    vertical-align: middle;
}
.toursRecomm_show dl {
    float: left;
    margin-right: 10px;
    width: 230px;
}

.toursRecomm_show dt {
    position: relative;
}

.toursRecomm_show dd {
    background: none repeat scroll 0 0 #fff;
    height: auto;
    overflow: hidden;
    padding: 10px 5px 5px;
}

.toursRecomm_show img {
    height: 223px;
    width: 230px;
}

.toursRecomm_show .scenicName {
    font-size: 12px;
    width: 208px;
    font-weight: normal;
    color: #1673c4;
    line-height: 18px;
    height:40px;
}
.toursRecomm_show .scenicName a {
    color: #1673c4;
    text-decoration: none;
}
.toursRecomm_show .marketPrice {
    text-decoration: line-through;
    font-size: 14px;
    color: #777;
    float: left;
    display: inline-block;
    margin-top: 10px;
}
.toursRecomm_show .marketPrice span {
    font-size: 18px;
    font-family: "arial";
}
.toursRecomm_show .marketPrice span em {
    font-size: 14px;
    font-family: "microsoft yahei";
}
.fs12 {
    font-size: 12px;
}

.toursRecomm_show .price {
    float: right;
}

.toursRecomm_show .price a {
    color: #ef4423;
    font-size: 24px;
    text-decoration: none;
    width: 100%;
}

.toursRecomm_show .price em {
    font-size: 14px;
    font-style: normal;
}
.toursRecomm_show dt a:hover .bgShade {
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=20);
    opacity: 0.2;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


footer.main-footer {
  background-color: #eaeaea;
  border-top: 1px solid #cacaca;
  color: #969696;
  font-family: "microsoft yahei",sans-serif;
    
}

.main-footer {
  background-color: #d8d8d8;
  color: #969696;
}

.footerContainer {
  margin: 0 auto;
  padding: 20px 0;
  width: 980px;
}

.bottomQuickNav {
  float: left;
  margin-right: 75px;
  padding-left: 50px;
  padding-top: 5px;
  position: relative;
}

.bottomQuickNav i.ico {
  background: url("../images/store/bottomIcons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.xssl i.ico {
  background-position: 0 0;
  height: 35px;
}



.bottomQuickNav h3, .bottomQuickNav h4 {
  color: #4a5872;
  font-size: 16px;
}

.bottomQuickNav li {
  color: #626b7d;
  font-size: 12px;
  margin-top: 10px;
}

.bottomQuickNav li a {
  color: #626b7d;
}

.zffs i.ico {
  background-position: 0 -98px;
  height: 23px;
}

.bottomQuickNav h3, .bottomQuickNav h4 {
  color: #4a5872;
  font-size: 16px;
}

.bottomQuickNav li {
  color: #626b7d;
  font-size: 12px;
  margin-top: 10px;
}

.bottomQuickNav li a {
  color: #626b7d;
}

.sjfw i.ico {
  background-position: 0 -125px;
  height: 35px;
}



.gywm i.ico {
  background-position: 0 -35px;
  height: 35px;
}


.bottomQuickNav.last {
  margin-right: 0;
}

.kfrx i.ico {
  background-position: 0 -70px;
  height: 30px;
}

.bottomQuickNav h4 {
  font-weight: normal;
}

.bottomQuickNav h2 {
  color: #495971;
  font-family: "Arial","Helvetic","sans-serif";
  font-size: 21px;
}

.footerContainer .copyright {
  padding: 60px 0 10px;
}

.hotHotel_show .star04_5 {
  width: 63px;
}

.hotHotel_show .star03 {
  width: 41px;
}

.hotHotel_show .star02 {
  width: 27px;
}

.textContent .detail{
    vertical-align: bottom;
}

.textContent .hotelIcon{
    background: url("../images/store/travl/buildIcon.png") no-repeat 0px 0px;
    display: inline-block;
    width:17px;
    height: 15px;
    vertical-align: bottom;
    cursor: pointer;
}
.textContent .ticketsIcon {
    background: url("../images/store/jijiajiu/jijiajiu_product_detail.png") no-repeat -16px -285px;
    display: inline-block;
    width:19px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
}

.hotelDescribe-height{
    /*height: 40px;*/
    
}


.hotelStarLevel{position: relative;margin: 0px 8px;display: inline-block}
.hotelStarLevel,.hotelStarLevel span{
    background:url("../images/store/hotelstarLevel.png") 0 -15px no-repeat;
    width:88px;
    height:15px;
    vertical-align:bottom;
}
.hotelStarLevel span{background-position:0 0;position: absolute;top:0;left: 0}
.hotelStar5 span{width:88px;}
.hotelStar4_5 span{width:80px}
.hotelStar4 span{width:70px}
.hotelStar3_5 span{width:62px}
.hotelStar3 span{width:52px}
.hotelStar2_5 span{width:44px}
.hotelStar2 span{width:34px}
.hotelStar1_5 span{width:26px}
.hotelStar1 span{width:16px}

.groupDate .startDate{
    background: url("../images/store/travl/appAndHot.png") no-repeat 0px 0px;
    display: inline-block;
    width:16px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
}

.groupDate em{
    vertical-align: middle;
}

.leftLine{
    background: url("../images/store/travl/leftLine.png") no-repeat 0px 0px;
    display: inline-block;
    width:1px;
    height: 163px;
    vertical-align: middle;
}

.marketPrice{
    color: #898989;
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 6px;
}

.viewBtnAdjust{
    margin-left: 14px;
}

.startPrice{
    text-decoration: line-through;
}

.privilegeBadge{
    background: url("../images/store/travl/gift.png") no-repeat 0px 0px;
    display: inline-block;
    width:26px;
    height: 40px;
    vertical-align: middle;
    position: absolute;
    left: 194px;
}

.partnerContainer {
  color: #5f5f5f;
  font-size: 15px;
  margin: 20px auto;
  width: 980px;
  font-family: "Microsoft YaHei";
}

.partnerContainer .partnerIcon {
  background-image: url("../images/store/partnerIcon.png");
  display: inline-block;
  height: 34px;
  margin-left: 10px;
  vertical-align: middle;
}

i.travelsky {
  background-position: 0 0;
  width: 56px;
}

i.dovepay {
  background-position: -57px 0;
  width: 79px;
}

i.chinapnr {
  background-position: -140px 0;
  width: 120px;
}

i.alipay {
  background-position: -264px 0;
  width: 76px;
}

i.tenpay {
  background-position: -344px 0;
  width: 89px;
}

i.cxw{
  background-position: -556px 0;
  width: 89px;
}

i.zxw {
  background-position: -437px 0;
  width: 119px;
}

/*  机加酒产品详情  By:shuaigeng.zhao;  */
.th-title-block {
    margin: 10px 0
}

.th-name {
    font-size: 20px;
}

.th-start-place {
    background-color: #e4e4e4;
    color: #868686;
    padding: 3px 8px;
    position: relative;
    top: -3px;
    left: 8px;
}

.timePriceSimple {
    position: relative;
}

/*  左侧  */

.leftImages {
    float: left;
}

/* 右侧 */

.rightCalendar {
    float: left;
    width: 468px;
    height: 308px;
    padding: 20px;
    border: 1px solid #efefef;
    margin-left: 7px;
    position: relative;
}

/* 头部价格 */

.titlePrice {
    margin-top: -5px;
}

.realPrice {
    font-size: 14px;
}

.realPrice em{
    font-size: 36px;
    color: #ef4423;
}

.realPrice b {
    font-size: 20px;
    color: #ef4423;
}

.marketPrice-origin {
    color: #9d9d9d;
    font-size: 12px;
    text-decoration: line-through;
}

i.scanCodeTip {
    width: 163px;
    height: 30px;
    display: inline-block;
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat 0 0;
    position: relative;
    top: 5px;
    left: 25px;
}

/* 二维码部分 */

.qrCodeBlock {
    position: absolute;
    right: 0;
    top: 0;
}

.qrCodeBlock i.qrCodeSmall {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat -169px 0;
    display: inline-block;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.qrCodeRealBlock {
    cursor: pointer;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 1px 5px #d5d5d5;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    display: none;
}

.qrCodeBlock:hover .qrCodeRealBlock {
    display: block;
}

.qrCodeRealBlock i.qrCodeBig {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat 0 -34px;
    display: inline-block;
    width: 132px;
    height: 132px;
}

.qrCodeRealBlock .app_text {
    color: #1879cf;
    font-size: 12px;
    width: 136px;
}

.qrCodeRealBlock .app_text:hover {
    text-decoration: underline;
}

.qrCodeRealBlock .app_text em {
    background: url(../images/store/app_arrow.png) no-repeat 0 center;
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-top: -3px;
}

/* 日历部分 */

.calendarBlock {
    margin-top: 15px;
}

.calendarTitle {
    width: 472px;
}

.calendarTables {
    width: 472px;
    height: 198px;
}

.calendarTables td {
    border: 1px solid #e2e2e2;
    height: 40px;
    position: relative;
}

.calendarTables td span.day{
    position: absolute;
    left: 5px;
    top: 5px;
}

.calendarTables td span.grayDay{
    color: #aeaeae;
}

.calendarTables td span.startPrice{
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: #ff6500;
}

.calendarTables td span.startPrice em {
    font-weight: bold;
}

/* 右侧结束 */


/* 预订表格部分 */
.timePriceDetail {
    padding-top: 10px;
}

.timePriceDetail table {
    width: 100%;
}

.orderInfoTable {
    border: 1px solid #ffb265;
    font-size: 14px;
}

.orderInfoTable tr {
    height: 65px;
    line-height: 65px;
    background-color: #fffcf4;
}

.orderInfoTable th {
    font-weight: bold;
    width: 70px;
    text-align: center;
}

.orderInfoTable .orderInfoPrice {
    width: 390px;    
}

.hasRightBorder {
    padding: 5px 8px 5px 0;
    border-right: 1px solid #ffb265;
}

.orderInfoTable .orderInfoNum {
    width: 290px;
    margin-left: 5px;
}

.orderInfoNum ul {
    margin-left: 5px;
}

.orderInfoNum li {
    float: left;
    margin-right: 10px;
}

.orderInfoNum select {
    width: 50px;
    height: 24px;
}

.orderInfoNum span {
    font-weight: bold;
    color: #333;
}

.orderInfoNum .hasRightBorder {
    padding: 5px 2px;
}

.orderInfoTable .orderOper span {
    margin-left: 5px;
}

.orderInfoTable .orderOper b{
    font-weight: bold;
}

.orderInfoTable .orderOper i {
    font-size: 16px;
    color: #ef4423;
}

.orderInfoTable .orderOper em {
    font-size: 24px;
    color: #ef4423;
}

.orderInfoTable .orderOper .orderBtn {
    color: #fff;
    background-color: #fc6f26;
    padding: 12px 24px;
    position: relative;
    top: -3px;
    left: 6px;
    cursor: pointer;
}

/* 机票部分 */


.flightInfoBlock {
    padding: 10px 15px;
    border-left: 1px solid #ffb265;
    border-right: 1px solid #ffb265;
    border-bottom: 1px solid #ffb265;
    color: #636363;
}

.bigFlightIcon i{
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat 0 -173px;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.tdDashedBottomBorder {
    border-bottom: 1px dashed #79b4c1;
    padding-bottom: 10px;
}

.tdDashedBorderPadding {
    padding-top: 10px;
}

.goBackFlag span {
    color: #fff;
    background-color: #5184c9;
    padding: 3px 5px;
}

.flightLogo i.shanghaijixiang_flightLogo {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat -216px 0;
    display: inline-block;
    width: 28px;
    height: 28px;
}

.flightInfoTable {
    padding: 8px 15px;
}

.flightInfoTable tr {
    height: 24px;
    line-height: 24px;
}

.flightTime b{
    color: #636363;
    font-weight: bold;
    font-size: 14px;
}

.flightTime em {
    color: #999;
}


/*  酒店部分  */
.hotelInfoBlock {
    padding: 10px 15px;
    border-left: 1px solid #ffb265;
    border-right: 1px solid #ffb265;
    border-bottom: 1px solid #ffb265;
    color: #636363;
}

.bigHotelIcon i {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat -72px -173px;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.liveHotelFlag span{
    color: #fff;
    background-color: #5184c9;
    padding: 3px 5px;
}

.liveDate b {
    font-size: 14px;
    font-weight: bold;
    color: #636363;
    padding-left: 10px;
}

.liveDays em {
    color: #ff6500;
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;
}

.hotelInfoTable tr {
    height: 30px;
    line-height: 30px;
}

.hotelRoomInfo span{
    padding-right: 15px;
}

.hotelAddress span {
    padding-right: 20px;
}

.roomBasicInfo em {
    padding: 0 10px;
}

/* 景点门票 */
.scenicInfoBlock {
    padding: 10px 15px;
    border-left: 1px solid #ffb265;
    border-right: 1px solid #ffb265;
    border-bottom: 1px solid #ffb265;
    color: #636363;
}
.bigTicketIcon i {
    background: url(../images/store/jijiajiu/jijiajiu_product_detail.png) no-repeat -212px -173px;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 10px;
}
.scenicTicketInfoTable tr {
    height: 30px;
    line-height: 30px;
}
.scenicTicketInfoTable em {
    color: #f60;
    margin-right: 3px;
}

/* 酒店星级 */
.hotelStarLevel{position: relative;display: inline-block}
.hotelStarLevel,.hotelStarLevel span{background:url("../images/store/hotelstarLevel.png") 0 -15px no-repeat;width:88px;height:15px;vertical-align:middle;margin-right: 15px;}
.hotelStarLevel span{background-position:0 0;position: absolute;top:0;left: 0}
.hotelStar5 span{width:88px;}
.hotelStar4_5 span{width:80px}
.hotelStar4 span{width:70px}
.hotelStar3_5 span{width:62px}
.hotelStar3 span{width:52px}
.hotelStar2_5 span{width:44px}
.hotelStar2 span{width:34px}
.hotelStar1_5 span{width:26px}
.hotelStar1 span{width:16px}

/*  产品详情  -- 目的地介绍  */
.destinationIntroduce {
    padding: 0 20px;
}

.destIntroContext li {
    border-bottom: 1px dashed #e4e4e4;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.destIntroContext li:last-child {
    border-bottom: none;
}

.destIntroContext li span.destName{
    font-size: 20px;
    color: #404040;
}

.destIntroContext li p {
    margin-top: 10px;
    line-height: 25px;
}

.destIntroContext li img {
    margin: 10px 0;
}

/* 交通信息 */

.trafficInfoContent {
    font-size: 14px;
    padding: 0 20px;
    /*font-family: sans-serif;*/
}

.trafficSimpleInfo b{
    font-weight: bold;
}

.trafficDetailTable {
    margin-top: 10px;
}

.trafficDetailTable tr {
    height: 35px;
    line-height: 35px;
}

.trafficDetailTable thead {
    background-color: #e2e2e2;
    color: #706f6f;
}

.trafficDetailTable tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}

.trafficDetailTable tr th:first-child,
.trafficDetailTable tr td:first-child {
    padding-left: 10px;
}

.traffic-small-tip {
    font-size: 12px;
    color: #999;
    margin: 10px 0 30px 5px;
}

.hotelImgs {
    padding: 0 20px;
}

/* 酒店信息  copy from store_hotel.css */

.hotelSummary_block {
    margin:10px 0 0 0;
    padding: 0 20px;
}
.hotelSummary_block .hotelInfo {
    float:left;
    font-size:14px;
}
.hotelSummary_block .hotelInfo_tips {
    float:right;
    text-align:right;
    margin-right: 20px;
}
.hotelInfo_tips li {
    padding:0 0 10px 0;
}
.hotelInfo li {
    padding:12px 0 0 0
}
.hotelInfo .icon_remind {
    background:url(../images/store/icon_warn.png) no-repeat 0 0;
    width:16px;
    height:16px;
    vertical-align:middle;
    display:inline-block;
    margin:0 3px;   
}

.hotelName {
    color: #E94749;
    font: bold 16px '宋体';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 420px;
}

/*酒店设施*/
.icon-list {
    overflow: hidden;
    float: right;
}
.icon-list span, .innerIcon span {
    float: left;
    width: 29px;
    height: 29px;
    margin-right: 3px;
    background: url(../images/store/hotel_eauipment-icon.png) no-repeat;
    cursor: pointer;
}
.innerIcon span {
    margin-right: 5px;
    margin-top:5px;
    
}
.icon-list .ico-wifi, .innerIcon .ico-wifi {
    background-position: 0 0;
}
.icon-list .ico-free-wifi, .innerIcon .ico-free-wifi {
    background-position: 0 -30px;
}
.icon-list .ico-broadband, .innerIcon .ico-broadband {
    background-position: 0 -60px;
}
.icon-list .ico-free-broadband, .innerIcon .ico-free-broadband{
    background-position: 0 -90px;
}
.icon-list .ico-park, .innerIcon .ico-park {
    background-position: 0 -120px;
}
.icon-list .ico-free-park, .innerIcon .ico-free-park{
    background-position: 0 -150px;
}
.icon-list .ico-gym, .innerIcon .ico-gym {
    background-position: 0 -180px;
}
.icon-list .ico-restaurant, .innerIcon .ico-restaurant {
    background-position: 0 -210px;
}
.icon-list .ico-indoorswim, .innerIcon .ico-indoorswim {
    background-position: 0 -240px;
}
.icon-list .ico-outdoorswim, .innerIcon .ico-outdoorswim {
    background-position: 0 -270px;
}
.icon-list .ico-business, .innerIcon .ico-business {
    background-position: 0 -300px;
}
.icon-list .ico-meeting, .innerIcon .ico-meeting {
    background-position: 0 -330px;
}
.icon-list .ico-pickup, .innerIcon .ico-pickup {
    background-position: 0 -360px;
}
.icon-list .ico-free-pickup, .innerIcon .ico-free-pickup {
    background-position: 0 -390px;
}

.summary_right {
    float:right;
    border-left:1px solid #e1e1e1;
    padding:10px;
}
.summary_right .hotel_Price {
    font-size:26px;
    color:#ff6500;
    font-weight:bold;
}
.summary_right .pricermb {
    color:#ff6500;
}
/*酒店图片 开始*/
.hotelImgs{
    padding-right:0px;
    position:relative;
    height:auto;
    overflow:hidden;
}
.hotelImgs li {
    float: left;
    display:inline-block;
    cursor: pointer;
    color: #fff;
    text-align: center;
}
.hotelLeftBigImg {
    margin: 0 10px 0 0;
    float:left;
    display: inline-block;
    position: relative;
    width:320px;
}
.hotelLeftBigImg img {
    width: 320px;
    height: 240px;
}
.hotelModdleSmallImg {
    margin-right: 0px;
}
.hotelMoSmImgTop {
    margin-bottom: 12px;
}
.hotelMoSmImgTop li, .hotelMoSmImgBtm li {
    margin: 0 10px 0 0;
    width: 152px;
    height: 114px;
    display: inline-block;
    overflow: hidden;
    float: left;
    position: relative;
}
.hotelMoSmImgTop li img, .moddleSmallImg li img {
    width: 152px;
    height: 114px;
}
.hotelImgs .hotelRightMap{
    float:right;
    width:276px;
    margin-right: 25px;
}
.hotelRightMap img {
    width: 276px;
    height: 240px;
}
.ImgHover {
    cursor: pointer;
}
.ImgHover span {
    display: none;
}
.hotelLeftBigImg a:hover .ImgHover, .hotelMoSmImgTop a:hover .ImgHover, .hotelMoSmImgBtm a:hover .ImgHover {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 30px;
    line-height: 30px;
    background: #413a31;
    filter: alpha(opacity=70);
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
}
.hotelLeftBigImg a:hover span, .hotelMoSmImgTop a:hover span, .hotelMoSmImgBtm a:hover span {
    display: inline;
}
.hotelModdleSmallImg .hotel-picList {
    background: none;
    border: 0;
    padding: 0;
}
/*酒店图片 结束*/
p.hotelInfoIntro {
    padding: 0 20px;
    color: #404040;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 23px;
}

.tdoi_bookingRules {
    background: url("../images/store/tdoi_ico3_1.gif") no-repeat 20px 0;
}

.tdoi_visaInfo {
    background: url("../images/store/tdoi_ico4.gif") no-repeat 20px 0;   
}

/*酒店图片弹窗*/
.popup-window .k-window-content .k-content {
    background: #fff !important;
}
.allImg {
    width: 694px;
    height: auto;
    position: relative;
    background: #fff;
    z-index: 1;
}
.bigImg {
    float: left;
    padding: 20px 12px 35px 12px;
    background: #fff;
}
.leftArrow {
    height: 87.5%;
    width: 55px;
    cursor: pointer;
    position: absolute;
    top: 4.5%;
}
.rightArrow {
    height: 83%;
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 5%;
}
.leftArrow {
    left: 3.5%;
    z-index: 30;
}
.rightArrow {
    right: 16%;
    z-index: 20;
}
.leftArrow div, .rightArrow div {
    width: 22px;
    height: 38px;
    display: block;
    background: url(../images/b2g/smallImg.png) no-repeat -26px -61px;
    position: absolute;
}
.leftArrow div {
    left: 2.5%;
    top: 45%;
}
.rightArrow div {
    background-position: 0 -61px;
    right: 2%;
    top: 45%;
}
.leftArrow:hover, .rightArrow:hover {
    background: #4d4344;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.smallImg {
    float: right;
    width: 300px;
    padding: 0 0 10px 15px;
    background: #fff;
    margin: 20px 10px 0 0;
}
.smallImg h3 {
    margin: 18px 0 10px 0;
}
.pics img {
    width: 560px;
    height: 420px;
    border: 1px solid #fff;
}
.pics {
    margin: 0 10px;
    float: left;
}
#slideshow {
}
.nav_wrapper {
    overflow:hidden;
    position:absolute;
}
#nav {
    width: 100px;
    float: right;
    height: 420px;
    overflow:hidden;
    position: absolute;
    top: 0px;
    right: -10px;
    margin-top: 20px;
    background: #fff;
    padding: 5px 0 0 5px;
}
#nav li {
    float: left;
    margin: 0 10px 10px 0;
    display: inline-flex;
    width: 82px;
    height: 62px;
}
#nav a {
    width: 82px;
    height: 62px;
    display: inline-block;
}
#nav li.activeSlide {
    display: inline-flex;
    width: 82px;
    height: 62px;
}
#nav li.activeSlide a img {
    width: 80px;
    height: 60px;
    border: 2px solid #ee665f;
}
#nav a:focus {
    outline: none;
}
#nav img {
    width: 80px;
    height: 60px;
}
#scrollText {
    position: absolute;
    bottom: 2%;
    left: 32%;
    color: #fff;
}
.rankContent {
    margin: 5px 0;
    color: #666666;
    font-size: 12px;
}
.rankContent span {
}
.rankContent em {
    margin: 0 0 0 2px
}
.minutelyAddress {
    font-size: 12px;
}
.minutelyAddress em {
    color: #333333;
}
.minutelyAddress i {
    color: #666666;
}
.imgTitle {
    width: 300px;
    color: #333333;
    position: absolute;
    right: 10px;
    top: 22.5%;
    font-size: 12px;
    background: #fff;
    padding: 7px 0 8px 15px;
    border-top: 1px solid #c9c9c9;
}
.riseBook {
    width: 300px;
    background: #eaeaea;
    border-top: 1px solid #c9c9c9;
    padding: 10px 0 10px 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    vertical-align: middle;
}
.riseBook em {
    color: #fa3b3b;
    font-weight: bold;
    margin-left: 20px;
}
.riseBook b {
    font-size: 24px;
    color: #fa3b3b;
}
.riseBook i {
    font-size: 14px;
    font-weight: bold;
    color: #555353;
}
.riseBook .lightRedBtn {
    padding: 5px 10px;
    margin-left: 25px;
    font-size: 18px;
}
.riseBook .lightRedBtn strong {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/b2g/smallImg.png) no-repeat -53px -61px;
    vertical-align: middle;
    margin-left: 5px;
}
.arrowUpblock, .arrowDownblock {
    position:absolute; 
    right:8px; 
    top:0px; 
    background:#efefef; 
    width:80px; 
    height:20px;
    cursor:pointer;
}
.arrowDownblock {
    top:448px;
}
.arrowUpblock:hover, .arrowDownblock:hover {
    background:#f5f5f5; 
}
.arrowUpblock .arrowUp {
    background:url(../images/store/store_arrows.png) no-repeat 0 0;
    display:inline-block;
    vertical-align:middle;
    width:16px;
    height:8px;
    position:relative;
    left:40%;
}
.arrowDownblock .arrowDown {
    background:url(../images/store/store_arrows.png) no-repeat 0 -10px;
    display:inline-block;
    vertical-align:middle;
    width:16px;
    height:8px;
    position:relative;
    left:40%;
}

/* 结束 */

.tripDetailOtherInfo a{
    color: #3183cb;
}

.tripDetailOtherInfo a:hover {
    text-decoration: underline;
    color: #3183cb;
}

.calendar .salePrice {
    color: #ff6500;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    top: 20px;
}


/*  订单详情页  */

/*流程样式 */
.instr{
    overflow:hidden;
    margin:0 10px;
}
.instr span{
    position:relative;
    z-index:1;
    padding-bottom:25px;
    display:block;
    float:left;
    background:url(../images/store/flowDot.jpg) 50% 29px no-repeat;
    margin-right:10px;
    min-width:100px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:#b9b9b9;
}
.instr .first{
    margin-left:0;
}
.instr .last{
    margin-right:0;
}
.instr span.highlight-fl{
    background-image:url(../images/store/travelFlowIcon.jpg);
    background-position:50% 100%;
    color:#e47965;
}

.instr span.highlight{
    background-position:50% 29px;
    background-image:url(../images/store/flowdeepDot.jpg);
    color:#797979;
}
.instr{
    position:relative;
}
.instr .line{
    position:absolute;
    display:block;
    height:2px;
    border-bottom: 2px dotted #e6e6e6;
    bottom:6px;
    z-index:0;
    margin-left:-5px;
}
.instr .line div{
    background-color:#c1c1c1;
    height:2px;
    margin-top:2px;
}

.flow {
    padding: 0 10px;
    margin-bottom: 20px;
}

.flow h3 {
    cursor: pointer;
}

/* 订单追踪 */
.order{ color:#636363; border:1px solid #e4e4e4; background:#fff;}

.newOrder{
    border: 0;
    position: relative;
}

.orderStatus{ padding-bottom: 10px; border: 1px solid #e1e1e1; border-bottom: 0;}
.order .newEndorseOrder{ border: 0; background: none; margin: 0;}
.order .newEndorseOrder .orderNO,.order .newEndorseOrder .orderNO strong{ font-size: 20px;}
.newEndorseOrder .relevanceOr {
    padding: 5px 10px;
    background: #52a0e5;
    color: #fff;
    height:24px;
    line-height: 24px;
}
.newEndorseOrder .relevanceOr:hover {
    background: #67b3f6;
}
.newEndorseOrder .relevanceOr i{ color: #fff;}
.newEndorseOrder .relevanceOr em{ background: url("../images/store/writeArrowDown.png") no-repeat;}
.newEndorseOrder .lightGray888{ color: #888888;}
.newEndorseOrder .lightGray4040{ color: #404040;}

.newEndorseOrder .lightGray-status{
    position: absolute;
    right: 110px;
    top: 44px;
}

.newEndorseOrder .lightGray-warrant{
    position: absolute;
    right: 37px;
    top: 42px;
}

.newEndorseOrder .lightGray-warrantAdd{
    font-size: 18px;
    right: 45px;
    top: 42px;
    color: #f1634c;
}

.newEndorseOrder .lightGray-down{
    position: absolute;
    right: 58px;
    top: 62px;
    color: #1879cf;
    font-size: 12px;
}


.newEndorseOrder .relevanceOr_click {
    padding: 5px 10px 11px 10px;
    color: #636363;
    background: #fff;
    border: 1px solid #52a0e5;
    border-bottom:none;
    box-shadow: 1px 1px 10px #e0e3e7;
    -webkit-box-shadow:1px 1px 10px #e0e3e7;
    -moz-box-shadow:1px 1px 10px #e0e3e7;
}
.newEndorseOrder .relevanceOr_click i{
    color: #636363;
}
.newEndorseOrder .relevanceOr_click em {
    background: url("../images/store/blackArrowDown.png") no-repeat;
}
.relevanceOr_click.relevanceOr:hover{
    background: #fff;
}
.newEndorseOrder .minWidthLabel label{ display: inline-block; min-width: 220px; margin-right: 10px;}
.newReOrder{
    border: 1px solid #52a0e5;
    padding:12px;
    width:375px;
    color:#404040;
    background:#ffffff;
    box-shadow: 1px 1px 10px #e0e3e7;
    -webkit-box-shadow:1px 1px 10px #e0e3e7;
    -moz-box-shadow:1px 1px 10px #e0e3e7;
}
.attention,.alreadyAttention{ padding:0 10px; height: 25px; line-height: 25px; display: inline-block; margin-left: 60px; cursor: pointer;}
.attention{ color: #fff; background: #52a0e5;}
.attention:hover {
    background: #67b3f6;
}
.alreadyAttention{ background: #fff; border: 1px solid #52a0e5; height: 23px; line-height: 23px;}
.alreadyAttention:hover {
    background: #ebf6ff;
}
.attention i,.alreadyAttention i{ display: inline-block; vertical-align: middle; margin-right: 5px;}
.alreadyAttention i{ background: url("../images/store/iconSprite.png") no-repeat -72px 0; width: 14px; height: 9px;}
.attention i {
    background: url("../images/store/iconSprite.png") no-repeat -52px 1px;
    width: 16px;
    height: 15px;
    margin-bottom: 4px;
}
.newOrderTrace{ background: #f7fbff; border: 1px solid #d9e7f3; margin-top: 0; position: relative;}
.newOrderTrace .orderArrowUp{ background: url("../images/store/iconSprite.png") no-repeat -52px -14px; width: 15px; height: 8px; display: inline-block; position: absolute; top: -8px; right: 7%;}
.traceList{ float: left; width: 89.5%;}
.traceList li{ float: left; margin-left: 30px; padding: 10px 5px 10px 0; position: relative; border-bottom: 1px dashed #d8e9f9; vertical-align: top;}
.traceList .orderIcon{ position: absolute; top: 18px; left: -23px; background: url("../images/store/iconSprite.png") no-repeat -72px -14px; width: 7px; height: 7px;}
.traceList li label{
    display: inline-block;
    width: 578px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    line-height: 22px;
    vertical-align: top;
    float: left;
}

.traceList li label.orderTraceContent span{
    margin-right: 20px;
}

.traceList li label.orderTraceContentAdd{
    height: 42px;
}


.traceList .opUser {
    float: right;
    color: #888;
    width: 260px;
}
.traceList .orderLine{ display: inline-block; width: 1px; height: 103%; border-left: 1px solid #bed2e4; position: absolute; top: 0; left:-20px;}
.traceList .orderNoLine{ border: 0; width: 100%;}
.traceList .orderOrangeFont{ color: #f1634c; font-size: 14px;}
.flexiBleContent{ display: none;}
.orderFlexibleType {
    width: 90px;
    height: 28px;
    margin: 0 auto;
    border: 1px solid #dbe8f3;
    top: -1px;
    z-index: 2;
    line-height: 28px;
    cursor: pointer;
    background: url(../images/store/downArrowGray.png) no-repeat 75px center #fbfbfb;
    margin-bottom: -11px;
    text-align: center;
    padding-right: 10px;
    
}

.orderFlexibleTypeAdd{
    position: relative;
    left: -52px;
}

.orderFlexibleType.down {
    background: url(../images/store/upArrowGray.png) no-repeat 75px center;
}
.newOrder{
    border: 0;
    position: relative;
}
.twoDimensionOrder{
    position: absolute;
    top: 0;
    right: 0;
}
.twoDimensionOrder .twoDimensionOrderBig{
    width: 120px;
    height: 120px;
    display: none;
    padding:7px;
    border: 1px solid #e1e1e1;
    background: #fff;
}
.twoDimensionOrder .twoDimensionOrderBig_M{
    width: 148px;
    height: 167px;
    display: none;
    cursor: pointer;
}
.twoDimensionOrder .twoDimensionOrderSmall{
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url("../images/store/twoDimensionOrderSmall.png") no-repeat;
    cursor: pointer;
}

.trace{ width:8%; font-weight:bold; float:left; padding:10px 0 0 10px;}

.endorseOrder{ border:1px solid #e1e1e1; border-bottom:0; margin-top:10px; color:#404040; width:100%; margin-bottom:-10px; position:relative; background:#fff;}
.endorseOrder th{ font-weight:500; text-align:left; padding:15px 5px 10px;}
.endorseOrder th:first-child{ padding-left:10px;}
.endorseOrder td:first-child{ padding-left:15px;}
.endorseOrder td{ padding:0px 5px 5px;}

/* 各类信息块 */
.departure {
    height: auto;
    padding: 10px 10px 0 10px;
    border: 1px solid #e1e1e1;
    margin: 10px 0;
    color: #636363;
    background: #fff;
}

.departure .flightInfoBlock {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e1e1e1;
}

.departure .hotelInfoBlock {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.pathInfo {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 20px;
}

.pathInfoTable {
    font-size: 14px;
}

.pathInfoTable thead {
    border-bottom: 1px dashed #8f8f8f;
    height: 40px;
    line-height: 40px;
}

.pathInfoTable th {
    color: #404040;
    font-weight: bold;
}

.pathInfoTable tbody td {
    padding: 10px 0;
    line-height: 20px;
}

.pathInfoTable tbody td:first-child {
    padding-right: 40px;
}

.pathInfoTable tbody td:last-child {
    vertical-align: top;
}

.pathInfoTable tbody p {
    margin: 3px 0;
}

.pathInfoTable tbody .pathName {
    font-size: 14px;
    color: #505050;
}

.pathInfoTable tbody .date{
    font-weight: bold;
    color: #636363;
}

.pathInfoTable tbody .place {
    color: #505050;
}

.pathInfoTable tbody .airLine {
    color: #999;
    font-size: 12px;
}

.pathInfoTable tbody .hotelName {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}

.departure .timePriceDetail  {
    padding-top: 0;
}

/*  订单详情--旅客信息  */

.font12 {
    font-size: 12px;
}

.departureInfoTab {
    width: 100%;
}

.departureInfoTab tbody {
    font-size: 14px;
}

.departureInfoTab thead {
    background-color: #f8f8f8;
}

.departureInfoTab thead tr th:first-child,
.departureInfoTab tbody tr td:first-child {
    padding-left: 20px;
}

.departureInfoTab tr {
    height: 40px;
    line-height: 40px;
}

.passengerInfoTop {
    position: relative;
}

.passengerInfoTop .passengerNum {
    position: absolute;
    top: 2px;
    left: 130px;
}

.passengerInfoTop .passengerNum em {
    color: #ff3c00;
    font-weight: bold;
    padding: 0 3px;
    font-size: 14px;
}

.passengerInfoTop .hotelConfirmNum {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #404040;
    font-size: 14px;
}

/* 备注信息 */
.departureContentBlock {
    padding: 20px;
}

.departureContentBlock .infoBlock {
    font-size: 14px;    
    line-height: 22px;
}

.infoBlock .infoBlockTitle {
    color: #333;
    float: left;
    width: 75px;
}

.infoBlock .infoBlockContent {
    color: #707070;
    float: left;
    width: 840px;
}

.remarkBlockGap {    
    margin-bottom: 30px;
}

.feeBlockGap {
    margin-bottom: 15px;
}

.feeBlockGap li {
    line-height: 25px;
}

.orderContentList li,
.orderItemList li {
    line-height: 25px;
    font-size: 14px;
    color: #707070;
}

/* 订单详情 底部悬停 */

.accountInfoBlock {
    width:100%;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC142d59,endColorstr=#CC142d59);
    background: rgba(20,45,89,0.8);
    padding: 2px 0;
}
.inner_accountInfoBlock {
    width:960px;
    padding:15px 0px;
    margin:0 auto;
    text-align: right;
    font-size: 14px;    
    font-family: "microsoft yahei", Arial;
    line-height: 48px;
}
.inner_accountInfoBlock b {
    font-weight: bold;
    padding-right: 10px;
}
.accountInfoBlock .accountCon {
    vertical-align: middle;
}
.accountInfoBlock .totalPrice {
    font-size: 26px;
    color: #ff7b24;
    vertical-align: middle;
    margin-right: 10px;
}

.inner_accountInfoBlock .cancelLink {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 15px;
}

.orderCountDown {
    width:100%;
    background-color: #f8e4d9;
    margin-top: -20px;
}

.inner_orderCountDown {
    width: 960px;
    color: #333;
    margin: 0 auto;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.inner_orderCountDown em {
    color: #ff3300;
    font-weight: bold;
}

.grayFontStatus span {
    color: #aeaeae!important;
}

.soldOut {
    position: absolute;
    right: 5px;
    top: 5px;
}

/* 线路建单页面 修改 S */
.passenger-detail-title .editInfoLabel {
    color:#195dda;
    cursor: pointer;
}
.passenger-detail-title .saveInfoLabel {
    display: none;
}
.travellerInfoTable .editStatusSel, .travellerInfoTable .editStatusInput,
.ticketsInfoTable .editStatusInput, .relatedOfHuman .editStatusInput {
    display:none;    
}
.travellerInfoTable div, .ticketsInfoTable div {
    display:inline-block;
}
.travellerInfoTable td, .ticketsInfoTable td {
    font-size: 14px;
}
.editStatus-saveBtn {
    margin-bottom: 15px;
    display: none;
}
.ticketsInfoTable .adultIcon, .ticketsInfoTable .childIcon {
    background:#6eb6e9;
    color:#fff;
    padding:2px 3px;
    margin-left: 5px;
    font-size: 12px;
}
.ticketsInfoTable .childIcon {
    background: #73c889;
}
.ticketsInfoTable .ui-datepicker-daywrapper {
    display:none;
}
.ticketsInfoTable .haveThBg {
    background: #e7e7e7;
}
.departure .ticketsInfoTable th, .departure .ticketsInfoTable td {
    padding-left:10px;
}
/* 线路建单页面 修改 E */