@charset "utf-8";
/* CSS Document */

/* 
.house{ padding-left:20px; background:url(../images/store/house.png) no-repeat left center; color:#7a7a7a;}
.boat{ padding:10px; background:#f8f8f8; border:1px solid #e1e1e1; margin:15px 0;}
.boat td{ height:35px;}
.boat input{ height:22px;}
.range_type{ width:90%;}
.range_type input{ width:175px;}
.range_type strong{ color:#ef482d; padding:3px; vertical-align:middle; font-size:15px;}
.range_type big{ color:#636363; padding:3px; vertical-align:middle; font-size:15px;}
.range_type select{ width:90px;}
*/

.flight_number{ width:980px; border:1px solid #e1e1e1; position:relative; margin:10px auto;}
.multi-row{ padding:15px 10px; height:auto; line-height:30px; color:#404040;}
.caption{ padding:0 10px; height:45px; line-height:45px; color:#404040;}
.multi-row div{ width:100%; clear:both;}
.caption h3,.caption p span,.multi-row h3,.multi-row p span{ font-size:14px; font-weight:bold; float:left;}
.caption p,.multi-row p{ float:right;}
.caption p em,.multi-row p em{ color:#ff6500; font-weight:bold; font-size:14px;}
.caption p i,.multi-row p i{ margin:0 10px 0 20px; color:#e94749;}
.caption p strong,.multi-row p strong{ padding:5px 10px; border:1px solid #ccd5de; color:#e94749;}
.number{ border:1px solid #e1e1e1; border-left:0; border-right:0; background:#f8f8f8; padding:8px 10px;}
.number table span,.information span{ position:relative;}
.number table i{top:5px; width:9px; display:inline-block; padding-left:5px; background:url(../images/store/up_down.png) no-repeat right center;}
.number strong{ width:9px; height:5px; display:inline-block; background:url(../images/store/up_down.png) no-repeat right top;}
.information{ padding:20px 0 20px 10px;}
.information td{ height:20px;}
.information table i{ color:#e94749;}
.information table big{ color:#ff6500; font-size:12px;}
.information table strong{ color:#ff6500; font-size:13px; font-weight:bold;}
.information table code{ width:16px; height:16px; display:inline-block; background:url(../images/store/aviation.jpg) no-repeat left center;}
.more-cabin,.more-cabin:hover{ position:relative; color:#636363; text-decoration:none; padding:0 10px; height:9px; display:inline-block; vertical-align:middle;}
.more-cabin i,.number em{ width:9px; display:inline-block;background:url(../images/store/up_down.png) no-repeat right -5px;}
.information span strong{ width:14px; height:14px; display:inline-block; background:url(../images/store/smallPicture.png) no-repeat 0 -58px;}
.dashed{ border:1px dashed #e4e4e4; border-left:0; border-right:0; background:#fff6f0;}
.dashed_top{ border-top:1px dashed #e4e4e4;}
.bor_bom{ border-bottom:1px solid #e4e4e4;}
.location{ width:445px; position:absolute; top:362px; left:590px;}
.floating{ height:auto; background:#fafadb; border:1px solid #dcc791; position:relative; color:#636363;}
.floating i{ width:11px; display:inline-block; position:absolute; background:url(../images/store/upward.png) no-repeat center center; top:-9px; left:50%;}
.floating_title{ width:100%; border-bottom:1px solid #dcc791;}
.floating_title td{ font-weight:bold; padding:10px 0;}
.floating_title td:first-child{ padding-left:7px;}
.aviation{ padding:12px 0px; margin:0 7px; border-bottom:1px dashed #dcc791;}
.aviation td{ height:20px;}
.half_dashed{ padding:10px 0 20px -10px; border-bottom:1px dashed #e4e4e4;}




























