@charset "utf-8";
/* CSS Document */

ul,li{ list-style-type:none;}

.sorttab { position:relative;cursor:pointer;}
.sorttab i,.sorttab_line2 i {  width:9px; display:inline-block; position:relative; right:0; top:0; background:url(../images/store/sort.png) no-repeat 0 0;}
.sorttab_line2 i {top:-20px;left:27px;}
.ascend i {background-position: -14px 0;}
.descend i {background-position: -28px 0;}


.separate10 {margin-bottom:10px;}

.flight_search {color:#636363;border:1px solid #e1e1e1;}
.flight_search .condition li {position:relative;float:left;padding:15px 0px;}

.flight_search .condition .trip_type {padding-top:25px;}
.flight_search .trip_type strong {color:#646464;font-weight:bold;}
.flight_search .time_city td {padding:5px 0;}
.flight_search .time_city input {width:180px;height:23px;line-height:23px;}
.flight_search .time_city em {color:#ef482d;padding:0 5px;}
.flight_search .trip_type em {color:#ef482d;padding:0 5px;}
.flight_search .muted em {color:#999999;}
.flight_search .search_history {margin-top:10px;}

.flight_search .internation {padding:20px;border-top:1px dashed #e4e4e4;}
.flight_search .extra {padding:20px 10px;position:relative;}
.flight_search .muti_trip .hitext {font-size:20px;}
.flight_search .muti_trip td {padding:5px 5px;}


.flight_number{ border:1px solid #e1e1e1; position:relative; color:#646464;}
.multi-row{ padding:15px 10px; height:auto; line-height:30px; color:#404040;}
.caption{ padding:0 10px; height:45px; line-height:45px; color:#404040;}
.multi-row div{ width:100%; clear:both;}
.caption h3,.multi-row h3{ font-size:14px; font-weight:bold; float:left;}
.caption p span,.multi-row p span{ font-size:14px; font-weight:bold;}
.caption p,.multi-row p{ float:right;}
.caption p em,.multi-row p em{ color:#ff6500; font-weight:bold; font-size:14px;}
.caption p i,.multi-row p i{ margin:0 10px 0 20px; color:#e94749;}
.caption p strong a,.multi-row p strong a{ padding:5px 10px; border:1px solid #ccd5de; color:#e94749;}

.number{ border:1px solid #e1e1e1; border-left:0; border-right:0; background:#f8f8f8; color:#404040;}
.number table{ width:100%;}
.number td:first-child{ padding-left:10px;}
.number table span,.information span{ position:relative;}
.number strong{ width:9px; height:5px; display:inline-block; background:url(../images/store/up_down.png) no-repeat right top;}
.information{  border-bottom:1px dashed #e4e4e4;}
.information table{ width:100%;}
.information table td{padding:20px 0;}
.information table td:first-child{ padding-left:10px;}
.information div{ line-height:20px;}
.information table i{ color:#e94749;}
.information .greaterThan{ color:#45b32e; font-family: 宋体;}
.information table big{ color:#ff6500; font-size:12px;}
.information table strong{ color:#ff6500; font-size:13px; font-weight:bold;}
.information .widen td{ padding:20px 5px;}
.information .transfer{ position:relative;}
.information .transfer strong{ position:absolute; top:22%; left:110%; cursor:pointer;}
.information table code{ width:16px; height:16px; margin:3px 5px 0 0; display:inline-block; background:url(../images/store/aviation.jpg) no-repeat left center;}
.more-cabin,.more-cabin:hover{ position:relative; color:#636363; text-decoration:none; padding:4px 10px 0 10px; display:inline-block; vertical-align:middle;}
.more-cabin i{ width:9px; height:8px; display:inline-block;background:url(../images/store/up_down.png) no-repeat right -5px; vertical-align:middle; margin-left:2px;}
.information span strong,.route td small{ width:14px; height:14px; display:inline-block; background:url(../images/store/smallPicture.png) no-repeat 0 -58px; cursor:pointer;}
.information cite{ height:16px; display:inline-block; background:url(../images/store/smiling.png) no-repeat right center; padding-right:18px; vertical-align:middle;}
.information tr:hover,.international table:hover{ background:#fff6f0;}
.information.last{ border-bottom:0;}
.information.international.solid_bom{ border-bottom:1px solid #e4e4e4;}

.dashed{ border:1px dashed #e4e4e4; border-left:0; border-right:0;}
.dashed_top,.dashed_top td{ border-top:1px dashed #e4e4e4;}
.bor_bom td { border-bottom:1px solid #e4e4e4 !important;}
.location{ width:448px; position:absolute; top:373px; left:595px;}
.location_1{ width:448px; position:absolute; top:317px; left:790px;}
.floating{ height:auto; background:#fafadb; border:1px solid #dcc791; position:relative; color:#636363;}
.floating i{ width:11px; display:inline-block; position:absolute; background:url(../images/store/upward.png) no-repeat center center; top:-9px; left:50%;}
.floating_title{ width:100%; border-bottom:1px solid #dcc791;}
.floating_title td{ font-weight:bold; padding:10px 0;}
.floating_title td:first-child{ padding-left:7px;}
.floating p{ line-height:22px;}
.aviation{ padding:12px 0px; margin:0 7px; border-bottom:1px dashed #dcc791;}
.aviation td{ height:20px;}
.half_dashed{ border-bottom:1px dashed #e4e4e4;}

.time{ border:1px solid #e1e1e1; margin:0px auto; border-bottom:0; color:#646464;}
.date{ width:100%; height:auto; border-bottom:2px solid #f1634c; margin:0;}
.date li{ float:left; border-right:1px solid #d1d1d1; line-height:20px; background:#f8f8f8;}
.date li a{ width:129px; padding:10px 0px; display:inline-block; text-align:center;}
.date li a:hover{ text-decoration:none;}
.date li em{ color:#ff6500; font-weight:bold; font-size:13px;}
.date li i{ width:11px; height:19px; display:inline-block; background:url(../images/store/arrows.png) no-repeat 0 0; margin:10px 0 0;}
.date li span{ width:11px; height:19px; display:inline-block; background:url(../images/store/arrows.png) no-repeat -16px center;}
.date .last_li:hover{ background:#fdfdfd;}
.date li b{ font-weight:500; margin-left:3px;}
.date .current{ border-top:2px solid #f1634c; border-left:1px solid #f1634c; border-right:1px solid #f1634c; border-bottom:2px solid #fff; margin:-1px 0 -3px -1px; background:#fff;}
.company{ line-height:20px; padding:10px;}
.company input{ border:0; vertical-align:middle; margin-right:5px;}
.company label{ margin-right:10px;}
.company b{ width:75px; display:inline-block;}
.company span{ margin-left:20px; font-weight:bold;}
.light_pink{ background:#f8f8f8;}
.light_pink td {border-bottom:1px dashed #e4e4e4;}
.first_up {background-color:#ffffff;}
.first_up td {border-bottom:1px solid #e4e4e4;}
.bor_top{ border-top:1px solid #e4e4e4;}

.selected{ width:960px; color:#666666; padding:10px; border:1px solid #e4e4e4; margin-bottom:10px; background:#f8f8f8;}
.selected h3{ width:100%; font-weight:bold; font-size:13px; padding-bottom:10px; border-bottom:1px dashed #e4e4e4;}
.selected_tab{ margin-top:10px;}
.selected_tab td{ line-height:23px;}
.selected_tab td b{ font-weight:bold; color:#404040;}
.selected_tab td em{ font-size:13px; color:#ff6500; font-weight:bold;}
.obtain{ text-decoration:underline;}

.fruitless{ padding:70px 0; border:1px solid #e1e1e1; color:#636363;}
.write{ width:280px; height:auto; margin:0 auto;}
.villain{ width:76px; height:86px; display:inline-block; float:left; background:url(../images/store/villain.png) no-repeat left center; margin-bottom:50px;}
.hint{ float:left; margin-left:20px;}
.hint p{ line-height:27px; font-size:14px;}
.hint div{ vertical-align:middle; color:#f0482d; font-size:22px; font-weight:bold; line-height::20px; padding-left:25px; background:url(../images/store/telephone.png) no-repeat left center; margin-top:10px;}
.write_btn{ float:left; margin:20px 0 0 20px;}
.write_btn a{ font-size:14px;}

.flow{ padding:10px 10px 0 10px;}
.flow h3{ padding:10px 0 10px 10px; font-size:14px; color:#797979; font-weight:bold; background:url(../images/store/leftarrows.png) no-repeat left center; float:left;}
.flow ul{ float:right; border-bottom:2px solid #e1e1e1; padding-right:20px; position:relative;}
.flow ul li{ float:left; margin-right:90px; padding:10px 0; font-size:14px; font-weight:bold; color:#c8c8c8;}
.flow .current_li{ color:#4bae10;}
.line { border-top: 2px solid #4bae10; bottom: -6px; height: 4px; left: 0; position: absolute; width: 100%;}
.departure{ height:auto; padding:10px 10px 0 10px; border:1px solid #e1e1e1; margin:10px 0; color:#636363;}
.chief{ border-bottom:1px solid #e1e1e1; padding-top:10px;}
.chief h3{ width:10%; font-size:14px; font-weight:bold; color:#f1634c; border-bottom:1px solid #f1634c; padding:0 0 10px 5px; margin-bottom:-1px;}
.chiefTit{ float:left;}
.look{ float:right; vertical-align:middle; color:#636363; text-decoration:underline;}
.route{ width:100%; margin-top:10px;}
.route th,.fare th{ background:#f8f8f8; border-bottom:1px solid #e4e4e4; padding:13px 0; color:#404040;}
.route th:first-child,.route td:first-child,.departure .traveller tr td:first-child{ padding-left:10px;}
.route td,.fare td{ padding:15px 0; line-height:22px;}
.route a{ text-decoration:none;}
.route input{ border:0; vertical-align:middle; margin-right:3px;}
.departure .traveller td{ padding:10px 0;}
.aviation_icon{ display:inline-block; padding-left:20px; background:url(../images/store/aviation.jpg) no-repeat left top;}
.quote{ padding:0 0px 10px 0px; border:1px solid #e1e1e1; color:#636363;}
.quote .message_ul{ width:100%; background:#f8f8f8; border-bottom:1px solid #e1e1e1;}
.message_ul li{ float:left; padding:10px 0px; font-size:14px; font-weight:bold; color:#636363;}
.message_ul li a{ display:inline-block;}
.message_li{ background:#fff; border-top:2px solid #f1634c; margin-top:-1px; border-right:1px solid #e1e1e1; border-bottom:1px solid #fff; margin-bottom:-1px; border-left:1px solid #e1e1e1;}
.message_ul .message_li:first-child{border-left:0;}
.message_li a{ color:#f1634c;}
.message_ul li em{ padding-right:15px; font-weight:bold; margin-left:15px; border-right:1px solid #e1e1e1; margin-right:-1px;}
.message_ul a:hover{ text-decoration:none;}
.fare{ margin:0 10px; margin-top:10px; width:98%;}
.fare td em{ color:#ff6500;}
.fare td b{ color:#ff6500; font-size:12px;}
.fare td:first-child,.fare th:first-child{ padding-left:5px;}
.fare input{ border:0; vertical-align:middle;}
.rule{ padding:15px 0px; color:#636363; margin:0 10px;}
.rule h3{ font-size:14px; font-weight:bold; margin-bottom:7px;}
.rule p{ line-height:22px;}
.rule b{ font-weight:bold;}
.rule span{ font-weight:bold; color:#e94749;}
.remark{ width:600px; height:100px; margin:15px 0 10px 10px;}
.accounts{ margin:20px 0; float:right; color:#000000;}
.accounts a{ font-size:14px;}
.accounts em{ color:#ff6500; margin:0 5px;}
.accounts i{ font-size:16px;}
.accounts b{ font-size:18px; color:#ff6500; margin-right:20px;}
.save{ padding:20px 10px 10px 0;}
.save em{ color:#ff6500;}
.save label{ margin-left:20px;}
.save label input{ border:0; vertical-align:middle; margin-right:5px;}

.constant{ margin:15px 10px 12px 0px;}
.user{ width:auto; float:left;}
.user p{ padding:13px; background:#fafadb; border:1px solid #dcc791;}
.user p span{ color:#ff6500; font-weight:bold;}
.delete{ width:9px; height:9px; display:inline-block; background:url(../images/store/sign.png) no-repeat left center;}
.add{ width:10px; height:10px; display:inline-block; background:url(../images/store/sign.png) no-repeat -14px 0;}
.case input{ height:22px; line-height:22px; vertical-align:middle; border:1px solid #abadb3;}
.case select{ height:24px; vertical-align:middle; color:#636363;}
.del{ padding:12px 0 12px 10px;}
.fillout{ padding:10px; margin:0 10px 10px 0px;}
.fillout h3{ font-size:14px; font-weight:bold; margin-bottom:5px;}
.fillout p{ line-height:22px;}
.distance{ padding:0 2px;}

.retreat{ position:absolute; top:745px; left:432px;}
.floating .retreat_i{ width:11px; display:inline-block; position:absolute; background:url(../images/store/upward.png) no-repeat center center; top:-9px; left:93%;}

.pack_up,.pack_up:hover{ position:relative; color:#636363; text-decoration:none; padding:4px 10px 0 18px; display:inline-block; vertical-align:middle;}
.pack_up i{ width:9px; height:7px; display:inline-block;background:url(../images/store/up_down.png) no-repeat right 0px; vertical-align:middle; margin-left:2px;}
.first_up td{ padding:20px 0;}

/*询价单*/
.k_place{ border:1px solid #e1e1e1; color:#797979;}
.k_place h2{ padding:10px; font-size:14px; font-weight:bold; border-bottom:1px solid #e1e1e1; background:#f8f8f8;}
.important{color:#ef482d}
.mes_h3{ border-bottom:1px solid #e1e1e1;}
.mes_h3 h3{ width:10%; padding:10px; font-size:14px; font-weight:bold; color:#f1634c; border-bottom:1px solid #f1634c; margin-bottom:-1px;}
.hldfgx{border-bottom:1px dashed #e4e4e4;position:relative;margin:20px 0}
.hldfgx div{position:absolute;top:-7px;left:100px;width:40px;background:#fff;text-align:center}
.mes_tab input[type=text]{height:23px;line-height:23px}
.mes_tab td{padding:8px 0}
.mes_tab td.td_head{text-align:right;vertical-align:middle}
.apply_message,.contacts,.businessDesc{padding:10px 20px}
.message_content,.contacts_content,.businessDesc_content{padding:10px 20px}
.phone{background:url('../images/store/i6.png')no-repeat;width:17px;height:16px;display:inline-block;vertical-align:middle;margin:-4px 4px 0 0}
/*询价单*/


/*白屏弹窗*/
.audit{ padding:0 10px 20px; color:#636363;}
.audit_tab{ width:auto; height:auto;}
.audit_tab td{ height:40px;}
.audit_tab td:first-child{ text-align:right; padding-right:3px;}
.audit_input{ height:20px; width:265px; line-height:20px; padding-left:3px;}
.audit label{ margin-right:20px;}
.audit a{ font-size:14px;}
.audit_tab textarea{ width:265px; height:60px; padding:3px;}
.audit_last td{ padding:10px 0;}
.audit_last td:first-child{ vertical-align:top;}
.abolish{ font-size:12px; margin-left:30px; vertical-align:middle; text-decoration:underline;}
/*白屏弹窗*/


/* 国际订单详情-正常 */

.position{ margin:15px 0 10px 0;}
.pos_ul{ margin-left:10px;}
.pos_ul li{ float:left; margin-right:5px;}
.pos_btn{ float:right; margin-right:20px;}
.pos_btn a{ margin-left:5px;}
.order{ color:#636363; border:1px solid #e4e4e4;}
.order_list{ width:100%;}
.order_list td,.order_list th{ padding:10px 0;}
.order_list td:first-child,.order_list th:first-child{ padding-left:10px;}
.order_list th{ border-bottom:1px solid #e4e4e4; background:#f8f8f8; color:#404040;}
.order_list a{ color:#cf6b00;}
.order_list em{ color:#f1634c;}
.order_list td{ border-bottom:1px solid #e4e4e4;}
.order_trace{ margin:10px 0;}
.trace{ width:10%; font-weight:bold; float:left; padding:10px 0 0 10px;}
.trace_list{ width:88%; float:left;}
.trace_list th,.trace_list td{ padding:10px 0;}
.trace_list th:first-child,.trace_list td:first-child{ padding-left:15px;}
.trace_list th{ border-bottom:1px dashed #e4e4e4; color:#404040;}
.examine{ background:#fff7f1;}
.write_note{ margin:15px 0; line-height:22px;}
.trace_list a{ text-decoration:underline;}

/* 国际订单详情-正常 */


/* 酒店订单详情 */

.description{ padding:15px 10px; border-top:1px dashed #e4e4e4;}
.description p{ line-height:22px;}
.cost{ width:100%; margin-top:10px; text-align:center; border:1px solid #fff;}
.cost th{ background:#f8f8f8; border-bottom:1px solid #e4e4e4; padding:13px 0; color:#404040; text-align:center; border-left:1px solid #e4e4e4;}
.cost td:first-child,.cost tr th:first-child,.contactgegevens td:first-child,.contactgegevens th:first-child{ padding-left:10px;}
.cost td{ padding:10px 0; border:1px dashed #e4e4e4;}
.contactgegevens{ width:100%; margin-top:10px;}
.contactgegevens th{ background:#f8f8f8; border-bottom:1px solid #e4e4e4; padding:13px 0; color:#404040;}
.contactgegevens td{ padding:13px 0;}
.stipulate{ margin:15px 0;}
.stipulate p{ width:85%; line-height:22px;}
.stipulate p b{ width:100px; display:inline-block; text-align:right;}
.stipulate div{ width:70%; line-height:22px; margin:15px 0 0 100px;}

/* 酒店订单详情 */

.successful{ margin:130px 0 0; color:#636363; text-align:center;}
.successful h3{ font-size:14px; font-weight:bold; line-height:36px;}
.successful h3 em{ width:36px; height:36px; display:inline-block; background:url(../images/store/succeed.png) no-repeat left center; vertical-align:middle;}
.successful div{ margin:15px 0;}
.successful ul{ margin-left:447px;}
.successful ul li{ float:left; margin-right:20px;}
.successful ul li a{ text-decoration:underline;}


.psr_files b{
    float:left;
    margin-left:-60px;
    font-weight:normal;
    padding:8px 0;
}
.psr_files {
    margin-left:10px;
    padding-left: 55px;
    padding-top:20px;
}
.psr_files a{
    display:block;
    float:left;
    width:190px;
    padding:8px;
    background-color:#f8f8f8;
    border:1px solid #e7e7e7;
    margin-left:15px;
    margin-bottom:10px;
}
.psr_files a:hover{
    text-decoration:none;
    background-color:#fff7f2;
    color:#cf6b00;
    border:1px solid #f2d7c4;
}

.ngrade{ width:auto; margin-bottom:3px; position:relative;}
.ngrade span{ background:#ff7400; color:#fff; display:inline-block; padding:0 3px;}
.ngrade div{ background:url(../images/store/cw.gif) no-repeat; display:inline-block; width:3px; height:2px; position:absolute; top:20px; left:25%;}

.pascer{ height:auto; margin-top:20px;}
.pascer div{ float:left; min-width:70px; line-height:27px;}
.pascer ul{ float:left; width:90%;}
.pascer ul li{ float:left; margin:0 20px 10px 0;}
.pascer ul li a{ min-width:180px; padding:6px 5px; color:#6c6c6c; display:inline-block; border:1px solid #ececec; background:#f8f8f8;}
.pascer ul li a:hover{ color:#ac7d4a; text-decoration:none; background:#fff8f2; border:1px solid #eadfd6;}

.fare .ora{ color:#636363; font-size:14px;}
.fare .ora em{ font-weight:bold; color:#ff6500;}


.intiback{ color:#636363;}
.stipulateCon{ width:290px; padding:5px 8px; border:1px solid #dcc791; background:#fafadb; line-height:20px; position:absolute; top:22px; right:22px;}
.intiback th{ text-align:right; font-weight:bold;}
.intiback .unFold,.intiback .packUp{ color:#cf6b00; margin-left:30px; cursor:pointer;}
.intiExplain{ width:200px; line-height:20px;}
.intiExplain i,.gn-title-tip i{ background:url(../images/store/smallPicture.png) no-repeat 0 -58px; width:14px; height:14px; display:inline-block; margin-left:-15px; margin-right:3px; vertical-align:middle;}
.intiType label{ margin-left:25px;}
.intiType label:first-child{ margin-left:0;}
.intiType label input{ border:0; vertical-align:middle;}
.required{ color:#ff0000; font-size:14px; font-weight:bold; vertical-align:middle; margin:0 3px 0 0;}
.choiceDiv{ color:#636363; width:890px;}
.choiceTitle{ width:125px; text-align:right; font-weight:bold; color:#636363; margin-bottom:5px; margin-top:10px;}
.choiceTab{ width:100%;}
.choiceTab thead th{ background:#f8f8f8; border-bottom:1px solid #e4e4e4; padding:8px 5px; color:#404040;}
.choiceTab tbody td{ border-bottom:1px dashed #e4e4e4; padding:8px 5px; line-height:20px;}
.choiceTab input[type="text"]{ height:23px; padding-left:5px; margin-bottom:3px;}
.reftic{ color:#636363; margin-top:10px;}
.reftic td{ line-height:35px;}
.reftic th,.subtab th{ text-align:right; font-weight:bold;}
.reftic td select{ height:24px; color:#636363;}
.subtab{ color:#636363; margin-top:15px;}
.subtab textarea{ width:600px; height:100px;}
.subtabCancel{ margin-left:20px; color:#636363; text-decoration:underline; vertical-align:middle;}
.intiMes{ margin-bottom:10px;}
.intiMes th{ font-weight:bold; text-align:right;}
.intiMes td{ padding:10px 5px;}
.intiMes .intiMesTab{ margin-top:0;}
.intiMes .intiMesTab th{ font-weight:500; text-align:left;}
.intiMes .intiMesTab td{ border-bottom:1px dashed #e4e4e4;}
.ticketmes{padding:12px 5px 5px;}
.nofloat{ padding:0; margin:0;}
.nofloat a{ margin-left:0; margin-right:15px; vertical-align:middle; margin-bottom:0;}
.flexible{ float:right; vertical-align:middle; margin-bottom:-4px; cursor:pointer; margin-right:15px;}
.flexible em{ color:#f1634c;}
.flexible em i{ margin-left:15px; width:9px; height:6px; display:inline-block; vertical-align:middle;}
.upArrow{ background:url(../images/store/up_down.png) no-repeat 0 0;}
.downArrow{ background:url(../images/store/up_down.png) no-repeat 0 -7px;}
.marem { color:#636363; margin-top:0; margin-bottom:15px;}
.departure .marem em{ margin:0 5px 0 0;}
.marem strong{ font-weight:bold;}




.gn-title-tip{
    color:#636363;
    font-size:12px;
    margin-left:20px;
    position:relative;
    cursor:pointer;
    padding-bottom:3px;
}

.gn-title-tip:hover .gn-tip-div{
    display:block;
}
.gn-tip-div{
    cursor:default;
    color:#636363;
    line-height:23px;
    padding:10px 20px;
    position:absolute;
    z-index:3;
    left:-126px;
    top:17px;
    white-space:nowrap;
    display:none;
}
.gn-tip-div .arrow_north{
    left: 117px;
}

.sailType label{ margin-right:20px;}
.sailType label input{ border:0; margin-right:2px; vertical-align:middle;}

.orTitle{ background:#f8f8f8; border-bottom:1px solid #e1e1e1; font-size:16px; font-weight:bold; color:#797979; position:relative;}
.orTitle a{ float:left; font-weight:bold; line-height:39px; padding-right:30px; border-right:1px solid #e1e1e1; color:#797979; text-decoration:none;}
.orTitle a em{ display:inline-block; width:5px; height:7px; background:url(../images/store/leftarrows.png) no-repeat; margin:0 5px 0 10px; vertical-align:middle;}
.upProcess{ float:left; position:absolute; left:18%;}
.upProcess li{ float:left; margin-left:50px; vertical-align:middle; line-height:39px;}
.upProcess li i{display:block;position:relative;width:16px;height:16px;float:left;top:11px;text-indent:-1000em; font-style:italic; margin-right:8px;background:url(../images/store/step_num.png) no-repeat left top;}
.upProcess i.hightlight {background-position: -16px 0;}
.upProcess i.unable {background-position: -32px 0;}
.upProcess .untanned{ color:#c8c8c8;}

.currentFlow{ color:#4bae10;}
.upProcess li em{ display:inline-block; width:22px; height:39px; background:url(../images/store/store_login.png) no-repeat 0 -328px; margin-left:50px;}
.endorseOrder{ border:1px solid #e1e1e1; border-bottom:0; margin-top:10px; color:#404040; width:100%; margin-bottom:-10px; position:relative;}
.endorseOrder th{ font-weight:500; text-align:left; padding:15px 5px 10px;}
.endorseOrder th:first-child{ padding-left:10px;}
.endorseOrder td:first-child{ padding-left:15px;}
.endorseOrder td{ padding:5px 5px 10px;}
.orderNo {position:relative;z-index:2;}
.orderNO b{ font-size:14px;}
.orderNO strong{ font-weight:bold; font-size:13px;}
.relevanceOr{position:relative;cursor:pointer;left:50px;top:-1px;}
.relevanceOr i{ color:#f1634c;}
.relevanceOr em{ display:inline-block; width:7px; height:4px; background:url(../images/store/arrow_down.png) no-repeat; vertical-align:middle;}
.endorsing{ font-size:14px; color:#f1634c;}
.adultOrder{ text-decoration:none; color:#cf6b00;}
.passTicket{ border:1px solid #e1e1e1; border-collapse:collapse; margin-bottom:10px; width:100%; color:#404040;}
.passTicket td{ padding:15px 10px;}
.passTicket th{ background:#f8f8f8; padding:15px 10px; border-bottom:1px solid #e1e1e1; font-weight:bold;}
.accountRec{ text-align:right;}
.accountRec strong{ font-size:14px;}
.accountRec em{ font-size:14px; color:#ff6500;}
.copy{ color:#cf6b00; margin-left:20px; font-weight:500;}
.passTicket .noborder th{ border-bottom:0;}
.remarkTex{ width:600px; height:100px; margin:15px 0 20px;}
.accountInfo{width:960px; background:#eaeaea; border:1px solid #e1e1e1; border-top:0; padding:15px 10px; margin-top:-10px;}
.accountTit{ margin-bottom:10px;}
.accountTit h3{ float:left; font-size:14px; color:#f1634c; font-weight:bold;}
.acTotal{ float:right; color:#404040;}
.acTotal em{ font-size:16px;}
.acTotal strong{ font-size:16px; color:#ff6500; font-weight:bold;}
.operateBtn{ text-align:right;}
.operateBtn a{ margin-left:15px;}
.printOrdBtn:hover{ text-decoration:none; color:#636363; background:#fdfdfd;}
.printOrdBtn{ display:inline-block; padding:0 20px; height:30px; line-height:30px; border:1px solid #bbbbbb; vertical-align:middle; background:url(../images/store/bgcolor.jpg) repeat-x; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; color:#636363;}
.listTit h3{ float:left;}
.titleRi{ float:left; margin:10px 0 0 15px;}
.titleRi i{ background:url(../images/store/smallPicture.png) no-repeat 0 -58px; width:14px; height:14px; display:inline-block; margin-left:-15px; margin-right:3px; vertical-align:middle;}
.chHint{ color:#8d8d8d;}
.titleRi label{ margin-left:15px;}
.titleRi label input{ border:0; margin-right:2px;}
.reOrder{ border:1px solid #e1e1e1; padding:12px; width:375px; color:#404040; position:absolute; top:278px; left:560px; background:#ffffff;}
.reTi{ padding-bottom:10px; border-bottom:1px dashed #e1e1e1;}
.reNO{ float:left;}
.reNO b{ font-size:14px;}
.reNO strong{ font-size:13px; font-weight:bold;}
.re_order{ float:right;}
.re_order em{ display:inline-block; width:9px; height:5px; background:url(../images/store/up_down.png) no-repeat 0 0; vertical-align:middle;}
.re_order i{ color:#f1634c;}
.rawOrd{ padding:7px 10px; border-bottom:1px dashed #e1e1e1;}
.rawNum{ float:left; font-size:14px;}
.ordNum{ float:right; font-size:14px; color:#ff6500; font-weight:bold;}
.orderSta{ margin-top:10px;}
.orderSta li{padding:0 0 20px 12px; position:relative;}
.sta{ color:#f1634c; margin-left:20px;}
.staList{ background:#f0f0f0; padding:10px; margin-top:7px;}
.staList td{ line-height:20px;}
.staList a,.rawNum a{ color:#cf6b00;}
.staList a:hover,.rawNum a:hover{ color:#f1634c;}
.weight{ font-size:14px; font-weight:bold; color:#ff6500;}
.signOrd{ display:block; width:7px; height:100%; background:url(../images/store/smallsign.png) no-repeat left top; position:absolute; left:0; top:5px; z-index:1;}
.signOrd em{ border-left:1px solid #e1e1e1; position:absolute; left:3px; top:7px; width:1px; height:100%; display:block; z-index:0;}
.currentSta{ border:1px solid #f1634c; background:#f0f0f0;}
.currentSta:hover{ background:#f0f0f0;}
.toLead{ display:inline-block; padding:0 10px; background:url(../images/store/bgcolor.jpg) repeat-x; height:25px; line-height:25px; border:1px solid #e1e1e1;}

.fico{
    position:relative;
}
.fico .code_share {
    position:absolute;
    top: 20px;
    left:5px;
    font-size:16px;
    color:red;
}


.remarkCont td{ padding-top:0;}
.currentTr .fontWeight{ font-size:14px; font-weight:bold;}
.currentTr .fontWeight b{ font-size:14px;}
.beizhu{ padding:8px 10px; background:#fafadb; color:#636363; border:1px solid #dcc791; width:870px;}
.beizhu b{ float:left; display:block; min-width:8%;}
.beizhu div{ float:left; line-height:20px; width:92%;}