@charset "utf-8";
/* CSS Document */

/*  订单详情页  By:shuaigeng.zhao */

.back-text {
	cursor: pointer;
}

.instr {
	position: relative;
	overflow: hidden;
	margin: 0 10px;
}

.instr span {
	position: relative;
	z-index: 1;
	padding-bottom: 25px;
	display: block;
	float: left;
	background: url(../images/store/flowDot.jpg) 50% 29px no-repeat;
	margin-right: 10px;
	min-width: 100px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #b9b9b9;
}

.instr .highlight {
	background: url(../images/store/flowdeepDot.jpg) no-repeat 50% 25px;
	color: #797979;
	background-position: 50% 29px;
}

.instr .highlight-fl {
	background-image: url(../images/store/travelFlowIcon.jpg);
	background-position: 50% 100%;
	color: #e47965;
}

.instr .line {
	position: absolute;
	display: block;
	height: 2px;
	border-bottom: 2px dotted #e6e6e6;
	bottom: 6px;
	z-index: 0;
	margin-left: -5px;
}

.instr .line div {
	background-color: #c1c1c1;
	height: 2px;
	margin-top: 2px;
}

.newOrder {
	border: 0;
	position: relative;
}

.order {
	color: #636363;
	border: 1px solid #e4e4e4;
	background: #fff;
}

.orderStatus {
	padding-bottom: 10px;
	border: 1px solid #e1e1e1;
	border-bottom: 0;
}

.order .newEndorseOrder {
	border: 0;
	background: none;
	margin: 0;
}

.order .newEndorseOrder .orderNO, 
.order .newEndorseOrder .orderNO strong {
	font-size: 20px;
}

.endorseOrder{ border:1px solid #e1e1e1; border-bottom:0; margin-top:10px; color:#404040; width:100%; margin-bottom:-10px; position:relative; background:#fff;}
.endorseOrder th{ font-weight:500; text-align:left; padding:15px 5px 10px;}
.endorseOrder th:first-child{ padding-left:10px;}
.endorseOrder td:first-child{ padding-left:15px;}
.endorseOrder td{ padding:0px 5px 5px;}

.newEndorseOrder .lightGray888 {color: #888;}

.newEndorseOrder .lightGray4040 {color: #404040;}

.endorsing {
	font-size: 18px;
	color: #f1634c;
	font-weight: normal;
}

.newEndorseOrder .minWidthLabel label {
	display: inline-block;
	min-width: 220px;
	margin-right: 10px;
}

.newOrderTrace{ background: #f7fbff; border: 1px solid #d9e7f3; margin-top: 0; position: relative;}
.newOrderTrace .orderArrowUp{ background: url(../images/store/iconSprite.png) no-repeat -52px -14px; width: 15px; height: 8px; display: inline-block; position: absolute; top: -8px; right: 7%;}
.trace {
	width: 8%;
	font-weight: bold;
	float: left;
	padding: 10px 0 0 10px;
}
.traceList{ float: left; width: 89.5%;}
.traceList li{ float: left; margin-left: 30px; padding: 10px 5px 10px 0; position: relative; border-bottom: 1px dashed #d8e9f9; vertical-align: top;}
.traceList .orderIcon{ position: absolute; top: 18px; left: -23px; background: url(../images/store/iconSprite.png) no-repeat -72px -14px; width: 7px; height: 7px;}
.traceList li label{
    display: inline-block;
    width: 578px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    line-height: 22px;
    vertical-align: top;
    float: left;
}

.traceList li label.orderTraceContent span{
    margin-right: 20px;
}

.traceList li label.orderTraceContentAdd{
    height: 42px;
}


.traceList .opUser {
    float: right;
    color: #888;
    width: 260px;
}
.traceList .orderLine{ display: inline-block; width: 1px; height: 103%; border-left: 1px solid #bed2e4; position: absolute; top: 0; left:-20px;}
.traceList .orderNoLine{ border: 0; width: 100%;}
.traceList .orderOrangeFont{ color: #f1634c; font-size: 14px;}
.flexiBleContent{ display: none;}
.orderFlexibleType {
    width: 90px;
    height: 28px;
    margin: 0 auto;
    border: 1px solid #dbe8f3;
    top: -1px;
    z-index: 2;
    line-height: 28px;
    cursor: pointer;
    background: url(../images/store/downArrowGray.png) no-repeat 75px center #fbfbfb;
    margin-bottom: -11px;
    text-align: center;
    padding-right: 10px;
    
}

.orderFlexibleTypeAdd{
    position: relative;
    left: -52px;
}

.orderFlexibleType.down {
    background: url(../images/store/upArrowGray.png) no-repeat 75px center;
}
.newOrder{
    border: 0;
    position: relative;
}
.twoDimensionOrder{
    position: absolute;
    top: 0;
    right: 0;
}
.twoDimensionOrder .twoDimensionOrderBig{
    width: 120px;
    height: 120px;
    display: none;
    padding:7px;
    border: 1px solid #e1e1e1;
    background: #fff;
}
.twoDimensionOrder .twoDimensionOrderBig_M{
    width: 148px;
    height: 167px;
    display: none;
    cursor: pointer;
}
.twoDimensionOrder .twoDimensionOrderSmall{
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url("../images/store/twoDimensionOrderSmall.png") no-repeat;
    cursor: pointer;
}

.departure{ height:auto; padding:10px 10px 0 10px; border: 1px solid #e1e1e1; margin:10px 0; color:#636363; background:#fff;}
.chief{ border-bottom:1px solid #e1e1e1; padding-top:10px;}
.chief h3{ 
	width: 10%;
	font-size: 16px;
	font-weight: bold;
	color: #f1634c;
	border-bottom: 1px solid #f1634c;
	padding: 0 0 5px 5px;
	margin-bottom: -1px;
}

.departure .operBtn {
	float: right;
	position: relative;
	bottom: 8px;
}

.departure .operBtn span {
	display: inline-block;
	width: 70px;
	height: 22px;
	border: 1px solid #2792d6;
	color: #2792d6;
	text-align: center;
	line-height: 22px;
	margin-right: 5px;
}

.departure .operBtn span:hover {	
	background-color: #2794d6;
	color: white;
	cursor: pointer;
}

.departureAdd {
	position: relative;
}

.route {
	width: 100%;
	margin-top: 10px;
}

.noMarginTop {
	margin-top: 0;
}

.route th {
	background: #f8f8f8;
	padding: 13px 0;
	color: #404040;
	border-bottom: 1px solid #e4e4e4;
}

.route td {
	border-bottom: 1px dotted #e4e4e4;
	padding: 15px 3px;
}

.route th:first-child, 
.route td:first-child, 
.departure .traveller tr td:first-child {
	padding-left: 10px;
}

.route .boldFont16 {
	font-size: 14px;
	color: #404040;
}

.route .peopleType {
	background: #73c889;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-right: 8px;
	vertical-align: middle;
	display: inline-block;
	padding: 4px 6px;
	margin-left: -7px;
}

.route .status {
	color: #ef4423;
	font-size: 14px;
}

.adjustCharge, div.table-adjustCharge {
	line-height: 25px;
	background-color: #f3f9ff;
	border: 1px solid #d6e5f1;
	margin-bottom: 10px;
	padding: 10px;
}

.adjustCharge .cause, .table-adjustCharge .cause {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

.adjustCharge .explain, .table-adjustCharge .explain {
	color: #333333;
	font-size: 14px;
}

.route .status .cost {
	color: #666;
	font-size: 12px;
	margin-top: 5px;
}

.productInfo {
	margin: 10px 0 20px 0;
}

.productInfo td {
	padding: 12px 5px 0 8px;
}

.productInfo .productTitle {
	width: 640px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	font-weight: bold;
}

.productSmallInfo label {
	color: #888888;
	display: inline-block;
	margin-right: 20px;
}

.productSmallInfo .font404040 {
	color: #404040;
}

.orangePrice {
	font-size: 16px;
	color: #ef4423;
}

.greenPrice {
	font-size: 16px;
	color: #009900;
}

.expressInfo .address-detail {
	width: 400px;
	display: inline-block;
	line-height: 18px;
}

.departure .express-type {
	font-size: 16px;
	padding: 12px 0 12px 6px;
	font-weight: bold;
	color: #404040;
}

.accountInfoBlock {
    width:100%;
    margin-top:-10px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC142d59,endColorstr=#CC142d59);
    background: rgba(20,45,89,0.8);
    padding: 2px 0;
}
.inner_accountInfoBlock {
    width:960px;
    padding:15px 10px;
    margin:0 auto;
    text-align: right;
    font-family: sans-serif;
}
.inner_accountInfoBlock b {
    padding:0 5px;
}
.accountInfoBlock .accountCon {
    font-size: 14px;
    vertical-align: middle;
    line-height: 50px;
}
.accountInfoBlock .totlePrice {
    font-size: 26px;
    color: #ff7b24;
    vertical-align:sub;
    margin-right: 10px;
    font-family: "Microsoft YaHei";
}

.white-arrow-double-up {
	display: inline-block;
	width: 7px;
	height: 8px;
	background: url(../images/store/icon-arrow-double.png) no-repeat 0 0;
	vertical-align: middle;
	position: relative;
	left: 5px;
}

.white-arrow-double-up.down {
	background: url(../images/store/icon-arrow-double.png) no-repeat 0 -10px;
}

.two-oper-btn-container {
	position: relative;
	display: inline-block;
}

.two-oper-btn-container .two-oper-btn {
	position: absolute;
	bottom: 39px;
	width: 84px;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: none;
}

.two-oper-btn-container .two-oper-btn div {
	height: 28px;
	line-height: 28px;
	color: #666;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
}

.two-oper-btn-container .two-oper-btn div:last-child {
	border-bottom: none;
}

.two-oper-btn-container .two-oper-btn div:hover {
	cursor: pointer;
	background-color: #f6f6f6;
}

.large-warn-icon {
	background: url(../images/store/success-warn-icons.png) no-repeat -40px -20px;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: bottom;
}

.stree-tip-text {
	font-weight: bold;
	font-size: 14px;
	color: #333;
}

.confirm-unsubscribe-win {
	text-align: center;
	font-size: 14px;
	color: #636363;
}

.confirm-unsubscribe-win .stree-tip-text {
	position: relative;
	bottom: 12px;
}

.unsub-detail-list li {
	height: 26px;
	line-height: 26px;
}

.unsub-detail-list li em {
	font-weight: bold;
	color: #ff6633;
	padding: 0 5px;
}

.win-oper-btn-container {
	margin: 10px;
	text-align: center;
	font-size: 14px;
}

.win-oper-btn-container .cancel-oper-link {
	padding: 0 3px;
	text-decoration: underline;
	margin-left: 15px;
}

.win-oper-btn-container .cancel-oper-link:hover {
	cursor: pointer;
	color: #666;
}

.complate-unsubscribe-win {
	font-size: 14px;
}

.unimpot-tip-text {
	color: #636363;
}

.complate-unsubscribe-win p {
	margin: 10px 0;
}

.hintContent {
	background: #fff1e8;
	padding: 10px;
	border: 1px solid #ff6500;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 30px;
}

.hintContent .hintWord {
	float: left;
	color: #f85136;
	margin-right: 15px;
}

.hintContent .hintList {
	float: left;
}

.noBottomBorder td {
	border-bottom: none;
}

.textField {
	width: 640px;
	height: 55px;
}

.remarkTitle {
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
}

.modifyPassengerInfo {
	max-height: 500px;
	overflow: auto;
	font-size: 14px;
}

.tour_infoList:hover {
	background: #f7fcff;
}

.tour_infoList {
	border-bottom: 1px solid #e4e4e4;
}

.tour_infoList.noBottomBorder {
	border-bottom: none;
}

.tour_infoListDiv {
	float: left;
}

.tour_infoListDiv p {
	font-weight: bold;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
}

.tour_infoListDiv .peopleType {
	background: #73c889;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
	color: #fff;
	padding: 2px 3px;
	text-align: center;
}

.tour_guestInfo {
	float: left;
}

.tour_guestInfo th {
	text-align: right;
	padding: 6px 5px 6px 0;
}

.tour_guestInfo td {
	padding: 6px 0 6px 5px;
}

.tour_guestInfo input[type=text] {
	height: 23px;
	line-height: 23px;
	border: 1px solid #bbb;
	padding-left: 5px;
	width: 187px;
	vertical-align: middle;
}

.modify-address-win {
	font-size: 14px;
}

.modify-address-win .getType {
	margin: 15px 0 25px 0;
	color: #333333;
}

.modify-address-win .getType label {
	margin-right: 15px;
}

.modifyAddressTab td {
	border-bottom: none;
}

.modifyAddressTab input[type='text'] {
	height: 26px;
}

.modifyAddressTab textarea {
	color: #666;
}

.pay-tip-win {
	font-size: 14px;
}

.pay-tip-win .unimpot-tip-text {
	margin: 15px 0;
}

.pay-tip-win .stree-tip-text {
	margin-top: 10px;
	margin-bottom: 30px;
}

.finishPay_block {
	float: left;
	text-align: center;
	width: 210px;
	border-right: 1px solid #d3d3d3;
}

.rePay_block {
	float: left;
	text-align: center;
	width: 210px;
}

/*  签证预订页   By:shuaigeng.zhao ;  */

.breadthDiv {
    width: 720px;
}

.tour_createOrder {
    border: 1px solid #efefef;
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
    position: relative;
    color: #636363;
}

.tour_orderTitle {
    padding: 15px 0;
    
}
.tour_orderTitle h2 {
    color: #404040;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 698px;
}
.tour_orderTitle .font_tit {
    color: #888;
}
.tour_orderTitle .font_smallGap {
    margin-left: 10px;
}
.tour_orderTitle .font_gap {
    margin-left: 30px;
}
.tour_guestInfo {
    font-size: 14px;
    color: #404040;
}

.tour_guestInfoAdd {
    margin: 0px;
}

.tour_guestInfo th {
    text-align: right;
    padding:6px 5px 6px 0;
}
.tour_guestInfo th em {
    color: #f1634c;
    font-size: 12px;
    margin-right: 3px;
    vertical-align: middle;
}
.tour_guestInfo td {
    padding:6px 0 6px 5px;
}
.tour_guestInfo input[type=text] {
    height: 26px;
    line-height: 26px;
    border: 1px solid #bbb;
    padding-left: 5px;
    width:187px;
    vertical-align: middle;
}
.tour_guestInfo input[name=select_pro] {
    border:none;
}

.tour_guestInfo input[type=checkbox] {
    margin-right: 3px;
    vertical-align: text-bottom;
}
.tour_guestInfo .add_btn {
    color: #2792d6;
    cursor: pointer;
}
.tour_guestInfo input , .tour_guestInfo select {
    color: #404040; 
    font-size: 14px;
}

.tour_infoList {
    position: relative;
    padding: 22px 10px;
    margin: 0 -10px;
}

.tour_infoListAdd{
    margin: 0px;
}

.tour_infoListDiv {
    margin-top: 5px;
}
.tour_infoListDiv p {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}
.tour_infoListDiv .peopleType {
    background: #73c889;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    color: #fff;
    padding: 2px 3px;
    text-align: center;
}

.tour_infoList:hover {
    background: #f7fcff;
}
.tour_infoList:hover .person_del_icon {
    background: url(../images/store/person_del_icon.png) no-repeat 0 0;
    width: 76px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.tour_infoList .person_del_icon:hover {
	background-position: 0 -32px;
	cursor: pointer;
}

.add_guestBlock {
    border: 1px dashed #c9c9c9;
    background: #f8f8f8;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #1ba1e2;
    font-size: 14px;
    margin-top: 25px;
}
.add_guestBlock i ,.add_guestBlock .guestBlockIcon{
    background: url(../images/store/tour_addIcon.png) no-repeat;
    width:13px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.add_guestBlock:hover {
    border: 1px dashed #23a8e8;
    background: #23a8e8;
    cursor: pointer;
    color: #FFFFFF;
}
.add_guestBlock:hover .guestBlockIcon,
.add_guestBlock:hover i {
    background: url(../images/store/smallPic.png) no-repeat -69px -148px;
}
.tour_totalPrice {
    color: #ef4423;
    font-size: 26px;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
}
.tour_totalPrice em {
    font-family: "微软雅黑";
    font-size: 20px;
}


.tour_rightFillIn {
    color: #333333;
    margin-left: 728px;
    width:252px;
}
.fillInBlock {
    
}
.aside_orderTopBg {
    background: url(../images/store/tour_asideTop.png) no-repeat;
    width: 252px;
    height: 16px;
}
.aside_orderCon {
    background: url(../images/store/tour_asideConBg.png) repeat-y;
    
}
.orderTotal {
    border-bottom: 1px dotted #e4e4e4;
    height: auto;
    overflow: hidden;
    margin: 0 15px;
    padding: 10px 0;
}
.orderTotal .total_zj {
    color: #888;
    font-size: 14px;
    float: left;
}
.orderTotal .totalPrice {
    color: #ef4423;
    font-size: 20px;
    float: right;
}
.orderTotal .totalPrice em {
    font-family: "微软雅黑";
    font-size: 16px;
}
.orderTotalInfo {
    padding: 10px 0;
    margin:0 15px;
}
.orderTotalInfo h5 {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}
.orderTotalInfo p {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
}

.orderTotalInfo .price {
    color: #ef4423;
    font-size: 16px;
}
.orderTotalInfo .price em {
    font-family: "微软雅黑";
    font-size: 14px;
}
.aside_orderBotBg {
    background: url(../images/store/tour_asideBottom.png) no-repeat 50% bottom;
    width: 252px;
    height: 10px;
}

.traveller_type label {
	margin-right: 20px;
}

.traveller_type label input[type='radio'] {
	vertical-align: middle;
	margin-right: 5px;
}

.id_type_rh .k-input {
	height: 26px;
}

.name_tip_text {
	color: #2792d6;
	border-bottom: 1px dashed #2792d6;
	cursor: pointer;
}

.input_tip_text {
	color: #aaaaaa;
}

.take_way_radio {
	margin: 20px 0;
	color: #333;
}

.take_way_radio label {
	margin-right: 20px;
}

.take_way_info_table {
	width: 100%;
	color: #666;
}

.take_way_info_table th {
	background-color: #f8f8f8;
	height: 40px;
	color: #333;
}

.take_way_info_table tr {
	height: 52px;
}

.take_way_info_table tr:first-child td {
	border-bottom: 1px solid #e1e1e1;
	padding-right: 10px;
}

.take_way_info_table input[type='text'] {
	height: 30px;
}

.take_way_info_table .set_default_address {
	color: #2792d6;
	border-bottom: 1px dashed #2792d6;
	cursor: pointer;
}

.visa_order_remark {
	width: 680px;
	height: 80px;
	resize: none;
	padding: 2px 5px;
	margin: 15px 0;
	font-size: 14px;
}

.tip_win_container {
	font-size: 14px;
}

.tip_win_container p {
	text-align: center;
	padding: 15px 0;
}

.tip_content_text {
	font-weight: bold;
	color: #333;
	line-height: 40px;
}

.layerGrayArrow {
	position: absolute;
	top: -5px;
	left: 50%;
	background: url(../images/store/layerGrayArrow.png) no-repeat 0 0;
	width: 9px;
	height: 5px;
}

.nameTipContList li {
	line-height: 18px;
}

/* 签证详情页 */
.visaFistModelInfo{
    border: 1px solid #efefef;
    padding: 15px;
    background-color: #FFFFFF;
}
.visaFistModelInfo .visaBookModel{
    padding-bottom: 15px;
    border-bottom: 1px dotted #d2d2d2;
}
.visaBookModel .visaFistModelLeft{
    float: left;
    width: 288px;
    margin-right: 25px;
    overflow: hidden;
}
.visaBookModel .visaFistModelRight{
    float: right;
    width: 620px;
}
.visaFistModelRight .titleFonts{
    font-size: 22px;
    color: #333333;
}
.visaFistModelRight .visaFistNumber{
    margin: 20px 0;
    overflow: hidden;
}
.color888{
    color: #888888;
}
.color333{
    color: #333;
}
.color666{
    color: #666;
}
.marginRight15{
    margin-right: 15px;
}
.marginLeft25{
    margin-left: 25px;
}
.visaFistModelRight .priceInfo{
    padding: 10px 20px;
    background-color: #fef7f1;
    position: relative;
}
.fonts14{
    font-size: 14px;
}
.fonts18{
    font-size: 18px;
}
.fonts36{
    font-size: 36px;
}
.orangeFonts{
    color: #ef4423;
}
.priceInfo .bookingBtn{
    display: inline-block;
    min-width: 120px;
    text-align: center;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fc6c26;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 16%;
}
.priceInfo .bookingBtn.disabled {
	background-color: #ccc;
}
.priceInfo .bookingBtn:hover{
    text-decoration: none;
    color: #fff;    
}
.visaInfoList{
    margin-top: 20px;
    color: #505050;
}
.visaInfoList li{
    float: left;
    display: block;
    line-height: 25px;
    position: relative;
    margin-bottom: 5px;
}
.visaInfoList .listLeftTitle{
    display: inline-block;
    float: left;
    min-width: 40px;
    font-weight: bold;
}
.visaInfoList .listRightContent{
    float: left;
    max-width: 820px;
    min-width: 700px;
}
.listRightContent .thirdEllipsis{
    max-height: 75px;
}
.visaInfoList .scopeContent{
    /*height: 75px;*/
    overflow: hidden;
}
.visaInfoList .areaContent {
	max-height: 25px;
	overflow: hidden;
}
.visaInfoList .expandMoreLink,
.visaInfoList .foldMoreLink {
    color: #0066cc;
    cursor: pointer;
    position: absolute;
    right: -40px;
    bottom: 0;
}
.consularContent{
    /*display: inline-block;
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    max-width: 808px!important;
}
.consularContent.expand{
    text-overflow:inherit;
    white-space:normal;
}
.consularContent.fold{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tripDetailInfo{
    color: #474747;
}
.noticeList .tdoi_bookingNote{
    padding: 0 0 20px 75px;
    background-position: 5px 0;
}
.noticeList .tdoi_bookingNote li{
    line-height: 30px;
}
.tripDetailInfo .commonStyle{
    border-top: 2px solid #e6e6e6;
    margin: 0 15px;
}
.tripDetailInfo .commonStyle.noticeList{
    border-top: 0;
}
.materialContent .tdoi_supTitle{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin: 25px 0 15px;
    position: relative;
}
.commonIconStyle{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: url("../images/store/smallIcon.png") no-repeat;
}
.tdoi_supTitle .materialIcon{
    background-position: -60px -56px;
}
.tdoi_supTitle .addressIcon{
    background-position: -117px -41px;
}
.tdoi_supTitle .otherIcon{
    background-position: -117px -99px;
}
.tdoi_supTitle .printBtn{
    position: absolute;
    right: 20px;
    top: 15%;
    font-size: 15px;
    font-weight: normal;
}
.tdoi_supTitle .printBtn a{
    color: #0066cc;
 }
.printBtn .printIcon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url("../images/store/smallIcon.png") no-repeat -175px -27px;
}
.materialContent .tabChangeList{
    margin: 15px 0 15px 70px;
    border-bottom: 1px solid #3fa2f5;
}
.tabChangeList li{
    float: left;
    margin-right: 2px;
}
.tabChangeList li a{
    display: inline-block;
    padding: 7px;
    min-width: 90px;
    text-align: center;
    color: #555555;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #3fa2f5;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}
.tabChangeList li a:hover{
    text-decoration: none;
    color: #0680e6;
}
.tabChangeList .current a{
    background-color: #3fa2f5;
    color: #fff;
    font-weight: bold;
}
.tabChangeList .current a:hover{
    color: #fff;
}
.changeListContent .redFonts{
    color: #ff0000;
}
.changeListContent{
    margin: 10px 0 20px 70px;
}
.changeListContent .alignTop{
    vertical-align: top;
    padding-top: 7px;
}
.changeListContent b{
    font-weight: bold;
}
.tdListContent li,
.commonLiStyle li{
    line-height: 23px;
}
.changeListContent .grayTabContent{
    width: 100%;
    margin: 10px 0;
}
.changeListContent .grayTabContent th{
    padding: 10px 5px;
    background-color: #efefef;
    font-weight: bold;
    font-size: 14px;    
}
.changeListContent .grayTabContent td{
    padding: 13px 5px;
    border-top: 1px dotted #d2d2d2;
}
.changeListContent .grayTabContent th:first-child,
.changeListContent .grayTabContent td:first-child{
    padding-left: 20px;
}
.changeListContent .grayTabContent td a{
    color: #3183cb;
    text-decoration: underline;
}
.changeListContent .grayTabContent td a:hover{
    color: #ff4800;
}
.changeListContent .fonts14{
    font-size: 14px;
}
.selectStyle{
    margin-bottom: 20px;
}
.selectStyle .titleFonts{
    font-size: 12px;
    font-weight: normal;
    background-color: #f6f6f6;
    color: #606060;
    padding: 10px;
}
.selectStyle .selectContent{
    margin-bottom: 10px;
    font-size: 14px;
    color: #404040;
}
.selectStyle .selectContent label{
    display: inline-block;
    min-width: 160px;
    margin: 10px 20px 0 0;
}
.selectContent label input[type="text"]{
    height: 25px;
    line-height: 25px;
    padding-left: 3px;
    border: 1px solid #abadb3;
}
.btnCenter{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.btnCenter .bigOrangeBtn{
    display: inline-block;
    background-color: #fc6c26;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 0 10px;
    min-width: 130px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}
.btnCenter .bigOrangeBtn:hover{
    background-color: #f8580a;
}

/*签证列表页 start*/
.tour_main-body {
    width: 980px;
    margin: 10px auto;
    min-height: 400px;
    font-family: "microsoft yahei";
    color: #636363;
}
.searchWrapper {
    margin: 10px 0;
    font-family: "微软雅黑";
}
.searchWrapper input {
    font-size: 14px;
    color: #666;
}
.newSearchTab {
    width: 467px;
    margin: 0 -1px 0 0;
    padding: 0;
    overflow: hidden;
}
.newSearchTab li {
    float: left;
    cursor: pointer;
    color: #63afed;
    width: 73px;
    font-size: 14px;
    text-align: center;
    height: 26px;
    line-height: 26px;
}
.newSearchTab li:hover {
    text-decoration: underline;
}
.newSearchTab li:before {
    content: "|";
    color: #ddd;
    float: left;
}
.newSearchTab li.first:before, .newSearchTab li.selected:before {
    content: "";
}
.newSearchTab .selected {
    color: #fff;
    background-color: #5eb5f1;
    border-width: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 1px;
    margin-right: -3px;
    position: relative;
}
.newSearch .newSearchContent {
    position: relative;
}
.newSearch .searchForm {
    clear: both;
    background-color: #5eb5f1;
    width: 790px;
    height: 30px;
    line-height: 30px;
    padding: 5px 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-right-radius: 3px;
    -moz-border-top-right-radius:3px;
    -webkit-border-top-right-radius:3px;
}
.newSearch .searchForm em {
    color: #cbeaff;
}
.newSearchDate {
    background: #e5f3fd;
    border: 1px solid #77c2f6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    line-height: 20px;
    display: inline-block;
}
.datepicker.newSearchDate {
    height: 28px;
    line-height: 28px;
}
.newSearch .searchForm .btn {
    width: 84px;
    height: 30px;
    color: #fff;
    background-color: #5eb5f1;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    border: 0;
    margin-left: 15px;
}
.inputWhiteBgRow {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    padding: 1px;
    display: inline-block;
    width:465px;
    float: left;
    margin-right: 5px;
}
.inputNoBgRow {
    height: 30px;
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.inputWhiteBgRow .startOff-bg {
    background: url("../images/store/travl/startOffBg.png") no-repeat;
    width:126px;
    height: 28px;
    display: inline-block;
    padding: 1px;
    position: relative;
}
.inputWhiteBgRow .startFont {
    position: absolute;
    right: 24px;
    top:7px;
    color: #919191;
    font-size: 12px;
}
.inputWhiteBgRow .startOff, .inputWhiteBgRow .scenicPlace {
    border: none;
    background-color: transparent;
    height: 28px;
    line-height: 28px;
}
.inputWhiteBgRow .startOff, .inputWhiteBgRow .visaCountry {
    font-size: 18px;
    color: #074e97;
}
.searchForm02 {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}




.travel-filter {
    border: 1px solid #dce6f0;
    background: #fff;
    zoom: 1;
    margin-bottom: 10px;
}
.play_type {
    height: 34px;
    line-height: 34px;
    background-color: #dce4eb;
    border-bottom: 1px solid #d2d7de;
    min-width: 790px;
    font-family: "microsoft yahei";
    font-size: 14px;
}
.play_type li {
    display: inline-block;
    border-right: 1px solid #d5e1ed;
    padding: 0 20px;
    overflow: hidden;
    height: 34px;
    float: left;
}
.play_type li a {
    color: #666;
}
.play_type li a:hover {
    text-decoration: none;
    color: #666;
}
.play_type li:hover {
    background: #edf3f8;
    /*border-bottom: 1px solid #fff;
    margin: 1px 0 0 0;*/
    cursor: pointer;
}
.play_type li.currentState {
    background: #fff;
    border-top: 2px solid #5eb5f1;
    margin: -1px 0 -1px -1px;
    border-bottom: 1px solid #fff;
}
.play_type li.currentState a {
    font-weight: normal;
}
.play_type li.currentState a span {
    font-weight: bold;
}
.play_type li.currentState a:hover {
    text-decoration: none;
}
.travel-filter-nav {
    background: #e7eef5;
}
.ballTourIcon, .halfselfIcon, .localTourIcon {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 0;
    display: inline-block;
    width:15px;
    height: 12px;
    vertical-align: middle;
    margin-right: 3px;
}
.halfselfIcon {
    background-position: -18px 0;
    width:13px;
    height: 11px;
}
.localTourIcon {
    background-position: -35px 0;
    width:12px;
    height: 16px;
}
.travel-filter-list {
    padding: 10px 0 0 0;
    min-height: 30px;
    overflow: hidden;
}
.travel-filter-list li {
    padding: 3px 20px;
    overflow: hidden;
}
.travel-filter-list li .filterTitle {
    width: 75px;
    padding: 3px 0;
    text-align: right;
}
.travel-filter-list li label {
    float: left;
    overflow: hidden;
    display: block;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 20px 4px 10px;
}
.travel-filter-list .tipsIcon {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat -50px 0;
    display: inline-block;
    width:14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.filterCheck {
    overflow: hidden;
}
.filterCheck span {
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    min-width: 55px;
    float: left;
    display: inline-block;
}
.filterCheck span.selectedSpan, .filterCheck span:hover {
    background: #52a0e5;
    min-width: 55px;
    color: #fff;
}
.travel-filter-list input[type=text] {
    border:1px solid #c7c7c7;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    width:60px;
}
.travel-filter-list .priceRow {
    margin-bottom: 5px;
}
.travel-filter-list .priceRow em {
    font-family: "微软雅黑";
    color: #949494;
}
.travel-filter-list .sureBtn {
    margin-left: 10px;
    border: 1px solid #b1e0ff;
    background: #f0fcff;
    padding: 4px 13px;
    display: inline-block;
    cursor: pointer;
}
.travel-filter-list li.selectedRow {
    border-top:1px solid #dce6f0;
    padding: 15px 20px;
}
.filterSelect div.item {
    margin-right: 5px;
    float: left;
    border: 1px solid #ccc;
    height: 23px;
    line-height: 23px;
    padding: 0 30px 0 10px;
    position: relative
}
.filterSelect div.item:hover {
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
    cursor: pointer;
}

.filterSelect div.item:hover .close {
    color: #fff
}

.filterSelect .close {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #52a0e5;
    float: right;
    line-height: 18px;
    text-decoration: none;
    position: absolute;
    right: 6px;
    top: 1px
}
.clearAll {
    color: #818181;
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.clearAll:hover {
    color: #52a0e5;
}
.tour_main_listNew {
    margin-top:10px;
}
.tour_resultInfoNew {
    background: #edf3f8;
    padding: 5px 15px;
    border:1px solid #d9e5f0;
    font-size: 14px;
}
.tour_resultInfoNew .tour_resultNo {
    color: #ff6500;
    font: bold 18px arial;
    padding: 0 5px;
}
.tour_resultInfoNew .rankType {
    font-size: 12px;
}
.tour_resultInfoNew .rankType span {
    border: 1px solid #c1c1c1;
    background: #f8f8f8;
    padding: 4px 15px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.tour_resultInfoNew .rankType span:hover {
    border: 1px solid #fea468;
}
.tour_resultInfoNew .rankType .currentSpan {
    border: 1px solid #ff8533;
    background: #fff8f4;
}
.tour_resultInfoNew .rankType .upIcon, .tour_resultInfoNew .rankType .downIcon {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -18px;
    display: inline-block;
    width:9px;
    height: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.tour_resultInfoNew .rankType .downIcon {
    background-position: 0 -25px;
}
.tour_resultInfoNew .pageColor {
    color: #E94749;
    margin-left: 10px;
}
.tour_resultInfoNew .pageUp, .tour_resultInfoNew .pageDown {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat 0 -35px;
    display: inline-block;
    width:25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.tour_resultInfoNew .pageDown {
    background-position: -25px -35px;
}
.tour_resultInfoNew .pageUp:hover {
    background-position: 0 -63px;
}
.tour_resultInfoNew .pageDown:hover {
    background-position: -25px -63px;
}
.tour_resultListNew {
    background: #fff;
    font-size: 14px;
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
}
.tour_resultDiv_left .countryImgBox {
    float: left;
    display: inline-block;
    width: 140px;
    height: 90px;
    overflow: hidden;
    margin-right: 15px;
    border:1px solid #cbcbcb;
}
.tour_resultDiv_left .textContent {
    display: inline-block;
    width:500px;
}
.tour_resultDiv_left .fontBigTitle {
    color: #1673c4 ;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}
.tour_resultDiv_left:hover .fontBigTitle {
    text-decoration: underline;
}
.tour_resultDiv_left .fontConDiv {
    width:490px;
    color: #636363;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.fontConDiv .left {
    display: inline-block;
    float: left;
    width:60px;
}
.fontConDiv .right {
    display: inline-block;
    float: left;
}
.fontConDiv .right pre {
	width: 430px;
	margin-top: -1px;
	white-space: pre-line;
	word-break: break-all;
	line-height: 18px;
	font-family: "microsoft yahei";
}
.fontConDiv .right p {
    padding-bottom: 5px;
}
.tour_resultDiv_left .earlyBooking {
    color: #888;
    margin-top:10px;
    font-size: 12px;
}
.viewGroup, .fewerGroup {
    margin-left: 10px;
    color: #5697c4;
    text-decoration: underline;
}
.viewGroup:hover, .fewerGroup:hover {
    color: #008ded;
}
.viewGroup em, .fewerGroup em {
    background: url("../images/store/travl/travlSmallIcon.png") no-repeat -11px -25px;;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.fewerGroup em {
    background-position: -11px -18px;
}
.viewGroup:hover em {
    background-position: -22px -25px;
}
.fewerGroup:hover em {
    background-position: -22px -18px;
}
.tour_resultDiv_right {
    padding-top: 20px;
}
.tour_resultDiv_right .marketPrice {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 12px;
    color: #949494;
    padding-top: 10px;
}
.tour_resultDiv_right .marketPrice em {
    color:#afafaf;
    font-family: "微软雅黑";
}
.tour_resultDiv_right .marketPrice span {
    color:#333;
    font-family: "arial";
    font-size: 16px;
    margin: 0 3px;
}
.tour_resultDiv_right .ClearingPrice {
    display: inline-block;
    float: right;
    width:135px;
    vertical-align: middle;
}
.tour_price_block {
    margin-bottom: 8px;
    display: inline-block;
}
/*排序按钮样式 start*/
.sorttab {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #c1c1c1;
    padding: 3px 40px 3px 10px;
}

.sorttab i {
    width: 9px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 28%;
    background: url(../images/store/travl/sort.png) no-repeat 0 0;
    right: 3px
}

.ascend, .descend {
    color: #404040
}

.ascend i {
    background-position: -14px 0
}

.descend i {
    background-position: -28px 0
}

/*排序按钮样式 end*/
input.chinaName:focus{
    border: 1px solid #7ccde9;
}

.delStyleContentAdd{
    font-size: 14px;
}

.submitOrderAdd{
    margin-bottom: 20px;
}

.adultAndKidarrange{
    margin-left: 15px;
}

.tour_resultDiv_left .textContent .contentTopBlock {
    min-height: 85px;
}

.fontTitleP span.tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tour_resultDiv {
    height: auto;
    overflow: hidden;
    padding: 20px 0 10px 0;
}

.tour_resultDiv:hover {
    background: #f7fbff;
    cursor: pointer;
}

.tour_resultDiv_left {
    float: left;
    padding-left: 20px;
}

.tour_resultDiv_right {
    float: right;
    padding-right: 20px;
    vertical-align: middle;
    width:250px;
}

.tour_resultDiv .fontTitle {
    color: #888;
    width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*.tour_resultDiv .fontBigTitle {
    color: #3183cb;
    font-size: 16px;
    font-weight: bold;
    margin-right: 3px;
}

.tour_resultDiv:hover .fontBigTitle {
    text-decoration: underline;
}*/

.tour_resultDiv .tour_price {
    color: #ef4423;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

.tour_resultDiv p {
    padding-bottom: 10px;
}

.tour_price_block {
    margin-right: 20px;
}

.tour_resultDiv .tour_price em {
    font-size: 14px;
    font-family: "微软雅黑";
}

.tour_unfoldCon {
    padding: 5px 0 10px 20px;
    z-index: 1;
    clear: both;
}

.viewGroup, .fewerGroup {
    margin-left: 10px;
}

.viewGroup em, .fewerGroup em {
    background: url(../images/store/tour_arrowIcon.png) no-repeat 0 0;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.fewerGroup em {
    background-position: 0 -6px;
}
.dotted_topbor {
    border-top: 1px dotted #e4e4e4;
}

.filter_item_info_box{
    width:828px;
    float:left;
}

.filter_item_list{
    padding:20px 50px 0 15px;
}
.filter_item .left_margin {
  margin-left: 0px !important;
}
.filter_item_info{
    margin-bottom:5px;
}
.filter_item_info div,.sub_filter_item_info div{
    /* width:50px; */
    height:20px;
    line-height:20px;
  cursor: pointer;
  padding:0 8px;
  display: inline-block;
}
.filter_item_info div.subPlace{
    margin-right:5px;
}
.sub_filter_item_info{
    padding:5px;
    background:#f3f3f3;
    display: none;
}
.sub_filter_item_info.nopadding{
    padding:0;
}
.filter_item_info div.current,.sub_filter_item_info div.current,.filter_item_info div:hover, .sub_filter_item_info div:hover{
    background:#52a0e5;
    color:#fff;
}

/*签证列表页 end*/


.tour_createOrder .orderRemark {
  border: 1px solid #bdbdbd;
  color: #333;
  display: block;
  height: 75px;
  margin: 10px 0;
  padding: 5px;
  resize: none;
  width: 680px;
}


.primarily-contract {
  height: 30px;
  line-height: 30px;
  text-indent: 4px;
}

.primarily-contract a {
  color: #2792d6;
  text-decoration: underline;
}

.primarily-contract a:hover{
	color:#f1634c;
}

.visaPreContainer {
	white-space: pre-line;
	word-break: break-all;
	line-height: 18px;
	font-family: "microsoft yahei";
}

.countDownText {
	color: #636363;
}

.countDown {
	padding: 0 3px;
	color: #ef4423;
}