@charset "utf-8";
/* CSS Document */

div.k-window-content{
    padding: 15px;
}
/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}
.main-footer center {
    margin-top: 20px;
}
.copyright {
    padding-bottom: 20px;
}
.main-footer a {
    color: inherit;
}
.main-footer .bar {
    margin: 0 5px;
}

.departure{ 
    height:auto;
    padding:10px 10px 0 10px; 
    border: 1px solid #e1e1e1; 
    margin:10px 0; color:#636363; 
    background:#fff;
}
.chief{ 
    border-bottom:1px solid #e1e1e1; 
    padding-top:10px;
}
.chief h3{ 
    width:10%; 
    font-size:14px; 
    font-weight:bold; 
    color:#f1634c; 
    border-bottom:1px solid #f1634c; 
    padding:0 0 10px 5px; 
    margin-bottom:-1px;
}

/*layer Gray*/
.layerGrayBlock {
    border:3px solid #e2e2e2;
    background:#fff;
}
.layerGrayContainer {
    border:1px solid #a8a8a8;
    padding:5px 12px;
    color:#636363;
    position:relative;
}
.k-tooltip-dir-n .layerGrayArrow,
.shadow_box .k-callout-n{
    /*TOP arrow*/
    position:absolute;
    top:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 0;
    width:9px;
    height:5px;
}
.k-tooltip-dir-s .layerGrayArrow,
.shadow_box .k-callout-s{
    /*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 -6px;
    width:9px;
    height:5px;
}
.shadow_box .k-callout-n{/*TOP arrow*/
    margin-top:1px;
}
.shadow_box .k-callout-s{/*BOTTOM arrow*/
    margin-bottom:1px;
}
.shadow_box .k-loading-image{
    height: 40px;
    width: 40px;
    left:50%;
    margin-left:-20px;
    background: url(../images/store/mini_loading.gif) no-repeat 50% 50%;
}
.shadow_box .k-loading-mask{
    background:#fff;
    border:1px solid #a8a8a8;
}

/* 订单页 S */
.order{ 
    color:#636363; 
    background:#fff;
    position: relative;
}
.orderStatus{ padding-bottom: 10px; border: 1px solid #e1e1e1; border-bottom: 0;}
.order .newEndorseOrder{ border: 0; background: none; margin: 0;}
.order .newEndorseOrder .orderNO,.order .newEndorseOrder .orderNO strong{ font-size: 20px;}
.newEndorseOrder .relevanceOr {
    padding: 5px 10px;
    background: #52a0e5;
    color: #fff;
    height:24px;
    line-height: 24px;
}
.newEndorseOrder .relevanceOr:hover {
    background: #67b3f6;
}
.newEndorseOrder .relevanceOr i{ color: #fff;}
.newEndorseOrder .relevanceOr em{ background: url("../images/store/writeArrowDown.png") no-repeat;}
.newEndorseOrder .lightGray888{ color: #888888;}
.newEndorseOrder .lightGray4040{ color: #404040;}
.newEndorseOrder .lightGray-status{
    position: absolute;
    right: 140px;
    top: 44px;
}
.newEndorseOrder .lightGray-warrant{
    position: absolute;
    right: 37px;
    top: 42px;
}
.newEndorseOrder .lightGray-warrantAdd{
    font-size: 18px;
    right: 14px;
    top: 38px;
}
.newEndorseOrder .lightGray-down{
    position: absolute;
    right: 58px;
    top: 62px;
    color: #1879cf;
    font-size: 12px;
}
.orderStatusAndDownLoad {
    width: 200px;
    text-align: center;
}
.orderStatusAndDownLoad b{
    color: #f1634c;
    font-size: 18px;
}
.orderStatusAndDownLoad .download {
    margin-left: 40px;
    line-height: 20px;
}
.orderStatusAndDownLoad .downLink {
    color: #1879cf;
}
.orderStatusAndDownLoad .downLink:hover {
    cursor: pointer;
    text-decoration: underline;
}
.newEndorseOrder .relevanceOr_click {
    padding: 5px 10px 11px 10px;
    color: #636363;
    background: #fff;
    border: 1px solid #52a0e5;
    border-bottom:none;
    box-shadow: 1px 1px 10px #e0e3e7;
    -webkit-box-shadow:1px 1px 10px #e0e3e7;
    -moz-box-shadow:1px 1px 10px #e0e3e7;
}
.newEndorseOrder .relevanceOr_click i{
    color: #636363;
}
.newEndorseOrder .relevanceOr_click em {
    background: url("../images/store/blackArrowDown.png") no-repeat;
}
.relevanceOr_click.relevanceOr:hover{
    background: #fff;
}
.newEndorseOrder .minWidthLabel label{ 
    display: inline-block; 
    min-width: 220px; 
    margin-right: 10px;
}
.newReOrder{
    border: 1px solid #52a0e5;
    padding:12px;
    width:375px;
    color:#404040;
    background:#ffffff;
    box-shadow: 1px 1px 10px #e0e3e7;
    -webkit-box-shadow:1px 1px 10px #e0e3e7;
    -moz-box-shadow:1px 1px 10px #e0e3e7;
}
.endorseOrder{ 
    border:1px solid #e1e1e1; 
    border-bottom:0; 
    margin-top:10px;
    margin-bottom:-10px;
    color:#404040; 
    width:100%; 
    background:#fff;
    position:relative;
}
.endorseOrder th{ 
    font-weight:normal; 
    text-align:left; 
    padding:15px 5px 10px;
}
.endorseOrder th:first-child{ padding-left:10px;}
.endorseOrder td:first-child{ padding-left:15px;}
.endorseOrder td{ padding:0px 5px 5px;}
.orderNo { 
    position:relative;
    z-index:2;
}
.orderNO b{ font-size:14px;}
.orderNO strong{ 
    font-weight:bold; 
    font-size:13px;
}
.order_trace{ margin:10px 0;}
.newOrderTrace{ 
    background: #f7fbff; 
    border: 1px solid #d9e7f3; 
    margin-top: 0; 
    position: relative;}
.newOrderTrace .orderArrowUp{ 
    background: url("../images/store/iconSprite.png") no-repeat -52px -14px; 
    width: 15px; 
    height: 8px; 
    display: inline-block; 
    position: absolute; 
    top: -8px; 
    right: 7%;
}
.trace{ 
    width:8%; 
    font-weight:bold; 
    float:left; 
    padding:10px 0 0 10px;
}
.traceList{ 
    float: left;
    width: 89.5%;
}
.traceList li{ 
    float: left;
    margin-left: 30px; 
    padding: 10px 5px 10px 0; 
    position: relative; 
    border-bottom: 1px dashed #d8e9f9; 
    vertical-align: top;
}
.traceList .orderIcon{ 
    position: absolute; 
    top: 18px; 
    left: -23px; 
    background: url("../images/store/iconSprite.png") no-repeat -72px -14px; 
    width: 7px; 
    height: 7px;
}
.traceList li label{
    display: inline-block;
    width: 578px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    line-height: 22px;
    vertical-align: top;
    float: left;
}
.traceList li label.orderTraceContent span{
    margin-right: 20px;
}
.traceList li label.orderTraceContentAdd{
    height: 42px;
}
.traceList .opUser {
    float: right;
    color: #888;
    width: 260px;
}
.traceList .orderLine{ 
    display: inline-block; 
    width: 1px; 
    height: 103%; 
    border-left: 1px solid #bed2e4; 
    position: absolute; 
    top: 0; 
    left:-20px;
}
.traceList .orderNoLine{ 
    border: 0; 
    width: 100%;
}
.traceList .orderOrangeFont{ 
    color: #f1634c; 
    font-size: 14px;
}
.flexiBleContent{ display: none;}
.orderFlexibleType {
    width: 90px;
    height: 28px;
    margin: 0 auto;
    border: 1px solid #dbe8f3;
    top: -1px;
    z-index: 2;
    line-height: 28px;
    cursor: pointer;
    background: url(../images/store/downArrowGray.png) no-repeat 75px center #fbfbfb;
    margin-bottom: -11px;
    text-align: center;
    padding-right: 10px;
}
.orderFlexibleTypeAdd{
    position: relative;
    left: -52px;
}
.orderFlexibleType.down {
    background: url(../images/store/upArrowGray.png) no-repeat 75px center;
}
.grayTheadTab{ 
    width:100%;
    margin: 15px 0;
}
.grayTheadTab th{ 
    background:#f8f8f8; 
    padding:13px 7px; 
    color:#404040;
    border: 1px solid #e4e4e4;
}
.grayTheadTab td{ 
    padding:13px 7px;
    line-height:22px;
    border: 1px solid #e4e4e4;
}
.grayTheadTab a{ text-decoration:none;}
.grayTheadTab input[type="checkbox"],.grayTheadTab input[type="radio"]{ 
    border:0; 
    vertical-align:middle;
    margin-right:3px;
}
.grayTheadTab input[type="text"]{ height: 22px;}
.grayTheadTab td{
    font-size: 14px;
    border-bottom:1px dotted #e4e4e4;
}
.grayTheadTab.noMarginTop{
    margin-top: 0;
}
.grayTheadTab.noMarginTop thead th{
    border-top: 0;
}
.productInfo td{
    padding:12px 5px 8px;
}
.productInfo .productTitle{
    width: 640px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
}
.productInfo .font14{
    font-size: 14px;
    text-align: right;
    width: 100%;
    display: inline-block;
}
.productSmallInfo{
    margin-top: 5px;
}
.productSmallInfo label{
    color: #888888;
    display: inline-block;
    margin-right: 20px;
}
.productSmallInfo .font404040{
    color: #404040;
}
.productInfo .moveTop td{
    padding-top: 5px ;
}
.noBorderTab{
    margin: 15px 0;
}
.noBorderTab td{
    font-size: 14px;
    padding: 7px;    
}
.noBorderTab th{
    text-align: right;
    padding: 7px;
}
.noBorderTab .redFonts{
    color: #ff3300;
}
.noBorderTab input[type="text"]{
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
}
.inner_accountInfoBlock .billingDetails{
    margin-right: 30px;
}
.textAlignRight.orangeFonts{
    font-size: 16px;
}
.orangeFonts .fonts26{
    font-size: 26px;
    vertical-align: middle;
}
/* 订单页 E */


/*  预订页 S  */
.tour_main-body {
    width: 980px;
    margin: 10px auto;
    min-height: 400px;
    font-family: "sans-serif", "Arial", "Helvetic";
    color: #636363;
}
/* 订单流程 */
.flow {
    padding: 10px 10px 0 10px;
}
.flow h3 {
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #797979;
    font-weight: bold;
    background: url(../images/store/leftarrows.png) no-repeat left center;
    float: left;
}
.flow ul {
    float: right;
    border-bottom: 2px solid #e1e1e1;
    padding-right: 20px;
    position: relative;
}
.flow ul li {
    float: left;
    margin-right: 90px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #c8c8c8;
}
.flow ul li em {
    color: #8d8d8d;
    font-weight: bold;
}
.flow .current_li {
    color: #4bae10;
}
.flow ul .line {
    border-top: 2px solid #4bae10;
    bottom: -6px;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
.flow .last {
    margin-right: 0;
}

/*流程样式 */
.instr {
    overflow: hidden;
    margin: 0 10px;
    float: right; 
    position: relative;
}
.instr span {
    position: relative;
    z-index: 1;
    padding-bottom: 25px;
    display: block;
    float: left;
    background: url(../images/store/flowDot.jpg) 50% 30px no-repeat;
    margin-right: 10px;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #b9b9b9;
}
.instr .first {
    margin-left: 0;
}
.instr .last {
    margin-right: 0;
}
.instr span.highlight-tour {
    background: url(../images/store/balloonIcon.jpg) no-repeat 50% 100%;
    color: #e47965;
}
.instr span.highlight {
    background: url(../images/store/flowdeepDot.jpg) no-repeat 50% 25px;
    color: #797979;
}
.instr .line {
    position: absolute;
    display: block;
    height: 2px;
    border-bottom: 2px dotted #e6e6e6;
    bottom: 6px;
    z-index: 0;
    margin-left: -5px;
}
.instr .line div {
    background-color: #c1c1c1;
    height: 2px;
    margin-top: 2px;
}
.breadthDiv {
    width: 720px;
    float: left;
}
.tour_createOrder {
    border: 1px solid #efefef;
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
    position: relative;
}
.chief {
    border-bottom: 1px solid #e1e1e1;
}
.chief h3 {
    width: 10%;
    font-size: 16px;
    font-weight: bold;
    color: #f1634c;
    border-bottom: 1px solid #f1634c;
    padding: 0 0 5px 5px;
    margin-bottom: -1px;
}
.tour_orderTitle {
    padding: 15px 0;
    border-bottom: 1px dotted #e4e4e4;
    margin-bottom: 15px;
}
.tour_orderTitle h2 {
    color: #404040;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 698px;
}
.tour_orderTitle .font_tit {
    color: #888;
}
.tour_orderTitle .font_smallGap {
    margin-left: 10px;
}
.tour_orderTitle .font_gap {
    margin-left: 30px;
}
.pro_infoTable td {
    vertical-align: top;
    padding-bottom: 10px;
}
.pro_infoTable .blueTag {
    background: #7bcbf1;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    min-width: 54px;
    padding:3px 0;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}
.pro_infoTable p {
    padding-bottom: 8px;
}
.pro_infoTable .price, .tour_guestInfo .price {
    color: #ef4423;
    font-size: 13px;
    margin-right: 3px;
}
.pro_infoTable .price em, .tour_guestInfo .price em {
    font-family: "微软雅黑";
    font-size: 12px;
}
.tour_guestInfo {
    font-size: 14px;
    color: #404040;
    margin: 10px auto;
    width:700px;
}
.tour_guestInfoAdd {
    margin: 0px;
}
.tour_guestInfo th {
    text-align: right;
    padding:6px 5px 6px 0;
}
.tour_guestInfo th em {
    color: #f1634c;
    font-size: 12px;
    margin-right: 3px;
    vertical-align: middle;
}
.tour_guestInfo td {
    padding:7px 0 7px 7px;
}
.tour_guestInfo input[type=text] {
    height: 23px;
    line-height: 23px;
    border: 1px solid #bbb;
    padding-left: 5px;
    width:187px;
    vertical-align: middle;
}
.tour_guestInfo input[name=select_pro] {
    border:none;
}
.tour_guestInfo input[type=checkbox] {
    margin-right: 3px;
    vertical-align: text-bottom;
}
.tour_guestInfo .add_btn {
    color: #2792d6;
    cursor: pointer;
}
.tour_guestInfo input , .tour_guestInfo select {
    color: #404040;
    font-size: 14px;
}
.tour_guestInfo td label{
    margin-right: 20px;
}
.tour_infoList {
    position: relative;
}
.tour_infoListAdd{
    margin: 0px;
}
.tour_infoListDiv {
    position: absolute;
    top:10px;
    left: 5px;
}
.tour_infoListDiv p {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}
.tour_infoListDiv .peopleType {
    background: #73c889;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    color: #fff;
    padding: 2px 3px;
    text-align: center;
}
.del_guest-block {
    margin-top: 10px;
    cursor: pointer;
}
.tour_infoList .del_guestBlock {
    margin-top: 10px;
    display: block;
}
.tour_infoList .del_guestBlock span {
    display: none;
}
.tour_infoList:hover {
    background: #f7fcff;
}
.tour_infoList:hover .del_guestBlock span {
    display: inline;
    cursor: pointer;
}
.del_guest-block .del_guest {
    color: #2792d6; !important
}
.add_guestBlock {
    border: 1px dashed #c9c9c9;
    background: #f8f8f8;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #1ba1e2;
    font-size: 14px;
}
.add_guestBlock i ,.add_guestBlock .guestBlockIcon{
    background: url(../images/store/tour_addIcon.png) no-repeat;
    width:13px;
    height: 13px;
    display: inline-block;
    margin-right: 3px;
}
.add_guestBlock:hover {
    border: 1px dashed #23a8e8;
    background: #23a8e8;
    cursor: pointer;
    color: #FFFFFF;
}
.add_guestBlock:hover .guestBlockIcon{
    background: url("../images/store/smallPic.png") no-repeat -69px -148px;
}
.tour_totalPrice {
    color: #ef4423;
    font-size: 26px;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
}
.tour_totalPrice em {
    font-family: "微软雅黑";
    font-size: 20px;
}
.tour_rightFillIn {
    color: #333333;
    margin-left: 728px;
    width:252px;
}
.agreeBox input,
.agreeBox span{
    vertical-align: middle;
}
.aside_orderTopBg {
    background: url(../images/store/tour_asideTop.png) no-repeat;
    width: 252px;
    height: 16px;
}
.aside_orderCon {
    background: url(../images/store/tour_asideConBg.png) repeat-y;
}
.orderTotal {
    border-bottom: 1px dotted #e4e4e4;
    height: auto;
    overflow: hidden;
    margin: 0 15px;
    padding: 10px 0;
}
.orderTotal .total_zj {
    color: #888;
    font-size: 14px;
    float: left;
}
.orderTotal .totalPrice {
    color: #ef4423;
    font-size: 20px;
    float: right;
}
.orderTotal .totalPrice em {
    font-family: "微软雅黑";
    font-size: 16px;
}
.orderTotalInfo {
    padding: 10px 0;
    margin:0 15px;
    border-bottom: 1px solid #e4e4e4;
}
.orderTotalInfo h5 {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}
.orderTotalInfo p {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
}

.orderTotalInfo .price {
    color: #ef4423;
    font-size: 16px;
}
.orderTotalInfo .price em {
    font-family: "微软雅黑";
    font-size: 14px;
}
.aside_orderBotBg {
    background: url(../images/store/tour_asideBottom.png) no-repeat 50% bottom;
    width: 252px;
    height: 10px;
}

.departureInfoContainer li:hover{
    color: #ec5e16;
    text-decoration: underline;
}
.departureInfo {
    width: 170px;
    height: 22px;
    vertical-align: middle;
    border: 1px solid #bbbbbb;
    background: url("../images/store/input_arrowDown.gif") 94% 50% no-repeat;
    cursor: pointer;
}

/* tab切换 */
.tour_tab_change {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.tour_tab_change li {
    float: left;
    padding: 8px 15px;
    color: #636363;
}
.currentState {
    background: #fff;
    border: 1px solid #e1e1e1;
    margin: -1px 0 -1px -1px;
    border-bottom: 1px solid #fff;
}
.currentState a {
    font-weight: bold;
}
.tour_tab_change li em a{
    color: #636363;
}
.tour_tab_change a:hover, .tour_tab_change a:visited, .tour_tab_change a:active {
    text-decoration: none;
}
.expense_include,
.expense_Noinclude {
    padding: 10px 5px 0 5px;
    width:95%;
    line-height: 23px;
}

/*排序按钮样式*/
.sorttab {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #c1c1c1;
    padding: 3px 40px 3px 10px;
}
.sorttab i {
    width: 9px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 28%;
    background: url(../images/store/travl/sort.png) no-repeat 0 0;
    right: 3px
}
.ascend, .descend {
    color: #404040
}
.ascend i {
    background-position: -14px 0
}
.descend i {
    background-position: -28px 0
}
/*排序按钮样式*/

/* 通用button*/
.adaptiveButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.adaptiveButton:hover {
    text-decoration: none;
}
.adaptiveButton .center {
    padding: 0 30px;
    color: #ffffff;
}
.adaptiveButton .center_1 {
    padding: 0 20px;
}
.adaptiveButton .center_2 {
    padding: 0 10px;
}
.mediumOrange_btn span {
    float: left;
    height: 30px;
    line-height: 30px;
}
.mediumOrange_btn .left {
    background: url('../images/store/big_btn.png') 0 -240px no-repeat;
    width: 5px
}
.mediumOrange_btn .center {
    background: url("../images/store/big_btn.png") 0 -275px repeat-x;
}
.mediumOrange_btn .right {
    background: url('../images/store/big_btn.png') 0 -310px no-repeat;
    width: 5px
}
.mediumOrange_btn:hover .left {
    background: url('../images/store/big_btn.png') 0 -345px no-repeat;
}
.mediumOrange_btn:hover .center {
    background: url("../images/store/big_btn.png") 0 -380px repeat-x;
}
.mediumOrange_btn:hover .right {
    background: url('../images/store/big_btn.png') 0 -416px no-repeat;
}
.brightOrange_btn  span{float:left; height:35px; line-height:35px;}
.brightOrange_btn .left{background:url('../images/store/big_btn.png') 0 -680px no-repeat;width:5px}
.brightOrange_btn .center{background:url("../images/store/big_btn.png") 0 -720px repeat-x;}
.brightOrange_btn .right{background:url('../images/store/big_btn.png') 0 -760px no-repeat;width:5px}
.brightOrange_btn:hover .left{background:url('../images/store/big_btn.png') 0 -800px no-repeat;}
.brightOrange_btn:hover .center{background:url("../images/store/big_btn.png") 0 -840px repeat-x;}
.brightOrange_btn:hover .right{background:url('../images/store/big_btn.png') 0 -880px no-repeat;}


/* 通用翻页*/
.pagination, .paging {
    margin: 10px 0;
}
.pagination div, .paging div {
    float: right;
    height: 30px;
    line-height: 30px;
}
.pagination div em, .paging div em {
    color: #e94749;
    font-weight: bold;
}
.pagination ul, .paging ul {
    margin: 0 10px 0 5px;
    float: right;
}
.pagination ul li, .paging ul li {
    float: left;
    margin-left: 10px;
}
.pagination ul li a, .paging ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #ccd5de;
    color: #e94749;
}
.pagination ul li a:hover, .pagination .present, .paging .present {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #e94749;
    border: 1px solid #e94749;
}
.pagination ul li span, .paging ul li span {
    color: #e94749;
}
.pagination .disabled {
    color: #ccd5de;
}
.pagination .disabled:hover {
    color: #ccd5de;
    background: none;
    border: 1px solid #ccd5de;
    cursor: default;
}
.paging ul li a:hover {
    background: #f6f6f6;
    text-decoration: none;
    color: #e94749;
}
.paging .present:hover {
    background: #e94749;
    color: #fff;
}
.tour_guestInfo .addIdentityCard{
    display: none;
}
.tour_guestInfo .papersStyle{
    position: relative;
}
.papersStyle .add_btn{
    position: absolute;
    top: 5px;
    right: -75px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{
    border: 1px solid #76cbe8;
}
.tour_infoList:hover .delStyleContent{
    display: inline-block;
}
.tour_infoList .delStyleContent{
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 5px 10px;
    border: 1px dashed #bae2fa;
    cursor: pointer;
    display: none;
}
.tour_infoList .delStyleContent:hover{
    border: 1px dashed #23a8e8;
    background: #23a8e8;
    color: #FFFFFF;
}
.tour_infoList .delStyleContent:hover .delIcon{
    background: url("../images/store/smallPic.png") no-repeat -32px -251px;
}
.delStyleContent .delIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../images/store/smallPic.png") no-repeat -50px -251px;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}
.tour_guestInfo .redErrorBorder{
    border: 1px solid #d10707 !important;
}
.errorStyleHint{
    position: relative;
}
.errorStyleHint .errorHint{
    position: absolute;
    top: 0;
    left: 205px;
}
.errorStyleHint .message_ct{
    min-width: 65px;
}
.tour_createOrder .orderRemark{
    width: 680px;
    height: 75px;
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: #333;
    border: 1px solid #bdbdbd;
    resize: none;
}
.readStyle{
    margin: 13px 10px 20px;
}
.readStyle input,
.readStyle span{
    vertical-align: middle;
}
.aside_orderCon .submitBtn{
    padding-bottom: 15px;
    text-align: center;
}
/*  预订页 E  */



/* 订单列表开始*/
.main-body{
    width: 980px;
    margin: 10px auto;
    min-height: 400px;
}
.tab_change li em{
    float:left;
    min-width:65px;
    text-align:center;
}
input[type=text],input[type=password] {
    border:1px solid #ABADB3;
    height:23px;
    width:134px;
    padding:0 2px;
    line-height:23px;
}
.us-content .city_ac{
    border:0;
    line-height:normal !important;
}
.us-content input.dpShort{
    width:70px;
}
.us-bind{
    padding:10px;
}
.us-bind a{
    padding:3px 0;
}
.us-nav{
    float:left;
    width:178px;
}
.us-nav .text1{
    color:#e94749;
}
.us-nav i{
    margin-right:5px;
    vertical-align:text-bottom;
    display:inline-block;
    background:url(../images/store/ucnavs.png) no-repeat;
}
.us-nav dt i{
    width:16px;
}
.us-nav .ic-j{
    padding-left:15px;
}
.us-nav .ic-j i{
    vertical-align:middle;
}
.us-content{
    float:left;
    width:788px;
    margin-left:10px;
}
.us-body{
    border:1px solid #E1E1E1;
    background-color:#fff;
}
.us-title{
    font-size:14px;
    font-weight:bold;
    color:#505050;
    border-bottom:1px solid #E1E1E1;
    padding:10px 5px;
    margin-bottom:10px;
}
.us-nav a{
    color:#4F4F4F;
    font-size:12px;
}
.us-nav dd a{
    display:block;
    padding:10px 30px;
}
.us-nav .current{
    color:#fff;
    background-color:#f1634c;
}
.us-nav .ic-j.current{
    color:#505050;
    background-color:#fff;
}
.us-nav{
    background-color:#F8F8F8;
    color:#505050;
    border:1px solid #E1E1E1;
}
.us-nav dt{
    background-color:#eaeaea;
    padding:10px;
    font-size:14px;
    font-weight:bold;
    border-top:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
}
.us-nav h3{
    font-weight:bold;
    font-size:16px;
    background-color:#eaeaea;
    color: #505050;
    padding:10px;
    border-bottom:2px solid #F1634C;
}
.us-query{
    padding:20px 10px;
}
.us-query .brightRed_btn{
    margin-top:15px;
    margin-left: 25px;
}
.us-query-table{
    float:left;
}
.us-query-table s{
    display:inline-block;
    width:18px;
    text-align:center;
}
.us-query-table th{
    white-space: nowrap;
    color:#636363;
    text-align:right;
    padding:5px 0;
}
.us-query-table td{
    padding:5px 0;
    padding-right:20px;
}
.us-query-table .statusList label{
    padding:0 3px 3px;
    width:80px;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#636363;
}
.fixed-table td {
    padding:5px 0;
}
.us-query-report{
    float:none;
}
.us-query-report em{
    color:#acacac;
    font-family:"宋体";
    font-size:12px;
}
.ureport{
    padding-bottom:15px;
    border-bottom:1px #e4e4e4 dotted;
    float:left;
}
.us-report{
    float:left;
    border-top:1px dotted #e4e4e4;
    margin-right:26px;
    padding-top:15px;
    width:632px
}
.us-result{
    padding:10px;
    padding-bottom:0;
}
.us-result_tit{
    height:40px;
    line-height:40px;
    background:#e4e4e4;
    color:#636363;
    padding:0 7px;
}
.us-result_tit em{
    margin-right:20px;
    font-style:normal;
}
.us-result_tit span{
    float:right;
}
.us-result_tit span a{
    color:#cf6b00;
}
.us-result table{
    width:100%;
}
.us-result th{
    line-height:27px;
    background-color:#F8F8F8;
    border-bottom:1px solid #E4E4E4;
    padding:5px 5px;
    color:#404040;
}

.us-result table tbody tr:hover,.us-result table tbody tr:active,.usResult table tbody tr:hover,.usResult table tbody tr:active,.currentList{
    background:#fff6f0;
    cursor:pointer;
}
.us-result td{
    line-height:20px;
    color:#636363;
    padding:15px 3px;
    border-bottom:1px dashed #E4E4E4;
}
.us-body .text1{
    color:#cf6b00;
}
.us-body .text2{
    color:#f60;
}
.us-body .text3 {
    color:#2187c1;
}
.us-body .text4 {
    color:#46a8d7;
}
.us-body .text0{
    white-space:nowrap;
    display:block;
    overflow:hidden;
    text-overflow: ellipsis
}
.us-result td div.oper{
    color:#999;
}
.us-result s{
    font-size:14px;
    font-family:arial;
}
.us-noresult{
    padding:50px 0 80px 250px;
    height:100%;
    overflow:hidden;
}
.us-noresult_img{
    background:url(../images/store/no_result.png) no-repeat center center;
    width:84px;
    height:84px;
    float:left;
}
.us-noresult_con{
    float:left;
    font-size:14px;
    color:#616161;
    line-height:84px;
    margin-left:15px;
}
.us-actions .adaptiveButton .center{
    padding:0 15px;
    font-size:14px;
}
.us-actions .adaptiveButton{
    margin-left:20px;
}
.us-actions{
    margin-top: -10px;
    top: -5px;
    position: relative;
    padding: 10px 0;
    line-height:35px;
    border-top:1px solid #eee;
}
.us-actions .text1{margin-right:15px;}
.us-actions .item{margin-right:20px;}

i.ucnav_03{ background-position: 0 0; width: 12px; height: 12px; }
i.ucnav_07{ background-position: 0 -62px; width: 17px; height: 17px; }
i.ucnav_10{ background-position: 0 -129px; width: 17px; height: 15px; }
i.ucnav_12{ background-position: 0 -194px; width: 16px; height: 15px; }
i.ucnav_15{ background-position: 0 -259px; width: 16px; height: 13px; }
i.ucnav_17{ background-position: 0 -322px; width: 16px; height: 14px; }
i.ucnav_19{ background-position: 0 -386px; width: 14px; height: 15px; }
i.ucnav_22{ background-position: 0 -451px; width: 15px; height: 16px; }
i.ucnav_26{ background-position: 0 -517px; width: 14px; height: 14px; }
i.ucnav_29{ background-position: 0 -581px; width: 34px; height: 33px; }
i.ucnav_32{ background-position: 0 -664px; width: 34px; height: 33px; }
i.ucnav_36{ background:url(../images/store/ucnavs_36.png) no-repeat; width: 34px; height: 34px; }
i.ucnav_37{ background:url(../images/store/ucnavs_37.png) no-repeat; width: 34px; height: 34px; }
i.ucnav_33{ background-position: 0 -800px; width: 19px !important; height: 15px; }
i.ucnav_34{ background-position: 0 -840px; width: 18px !important; height: 16px !important; }
i.ucnav_35{ background-position: 0 -860px; width: 34px ; height: 33px ; }
i.ico_tuifeipiaoguiding{ background-position: 0 -720px; width: 34px; height: 33px; }
i.ico_shengcangguidign{ background-position: 0 -760px; width: 34px; height: 33px; }

.ac-oper .active{
    background-position:0 0px;
}
.ac-oper i{
    display:inline-block;
    margin-left:5px;
    width:10px;
    height:7px;
    background:url(../images/store/up_down.png) no-repeat 0 -6px;
}
.us-result .hyper-text{
    border:1px solid #ccc;
}


.tabListDetail{ width:100%; margin-bottom:25px;}
.tabListDetail th{ padding:13px 5px 13px 10px; color:#404040; background:#f8f8f8; border-bottom:1px solid #e4e4e4;}
.tabListDetail td{ padding:13px 5px 13px 10px; border-bottom:1px dashed #e4e4e4;}
.tabListDetail .orangeFontsf60{ color: #ff6600; font-weight: bold;}
.btnStyle .cancelBtn{
    margin-left: 30px;
    text-decoration: underline;
}

.tabListDetail td div {
    line-height: 20px;
}
.tabListDetail .haveAdjustment .adjustment {
    background: #f1634c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #FFFFFF;
    padding: 1px 2px;
    margin-right: 2px;
}
.haveAdjustment .operator {
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}
.f60{
    color:#f60!important;
}
.payOrderBtn,.payOrderBtn:link,.payOrderBtn:visited{
    width:58px;
    height:24px;
    line-height:24px;
    display:inline-block;
    border:1px solid #8eceec;
    text-align:center;
    color:#0c8ec9;
    border-radius:1px;
    text-decoration:none;
}
.payOrderBtn:hover{
    background:#0c8ec9;
    border:1px solid #0c8ec9;
    color:#fff;
    text-decoration:none;
}
.marginL{
    margin-left:5px;
}
.orderName{
    width:190px;
    height:20px;
    line-height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
    vertical-align: middle;
}

/* 订单列表结束*/


/* 搜索页开始 */
.tour_main-body {
  width: 980px;
  margin: 10px auto;
  min-height: 400px;
  font-family: "sans-serif", "Arial", "Helvetic";
  color: #636363;
}
.searchWrapper {
  margin: 10px 0;
  font-family: "微软雅黑";
}
.tour_main-body {
  width: 980px;
  margin: 10px auto;
  min-height: 400px;
  font-family: "sans-serif", "Arial", "Helvetic";
  color: #636363;
}
.newSearch .newSearchContent {
  position: relative;
}
.newSearch .searchForm {
  clear: both;
  background-color: #5eb5f1;
  width:570px;
  height:46px;
  padding:6px;
  box-sizing:border-box;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}
.inputNoBgRow {
  height:34px;
  float: left;
  display: inline-block;
  vertical-align: middle;
}
.searchWrapper input {
  font-size: 14px;
  color: #666;
}
.newSearch .searchForm .btn {
  width: 84px;
  color: #fff;
  background-color: #5eb5f1;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
  cursor: pointer;
  border: 0;
  margin-left:10px;
}
.inputNoBgRow input{
    width:460px;
    height:34px;
    line-height:34px;
    outline:none;
    border:0;
}
.inputNoBgRow input:focus{
    outline:none;
    border:0;
}

/* search模块开始*/
.travel-filter{
    font-family:"Microsoft Yahei";
    background:#fff;
    border:1px solid #efefef;
}
.selectedBox{
    height:46px;
    line-height:46px;
    border-bottom:1px solid #dae4ee;
    padding-left:15px;
    padding-right:40px;
}
.selectedBox .selectedText{
    display:inline-block;
    width:75px;
    text-align:right;
    margin-top:3px;
    padding-right:10px;
}
.selectedItem{
    display:inline-block;
}
.selectedItem div{
    /* cursor:pointer; */
    height:20px;
    line-height:20px;
    display:inline-block;
    padding:0 5px 0 8px;
    border:1px solid #abadb3;
    margin-right: 10px;
}
.selectedItem div:hover{
    border:1px solid #52a0e5;
    color:#fff;
    background:#52a0e5;
}
.selectedItem div:hover span{
    background:url(../images/store/travl/closebtnhover.png) center center no-repeat;
}
.selectedItem div span{
    width:10px;
    height:10px;
    display: inline-block;
    margin-left:8px;
    cursor:pointer;
    background:url(../images/store/travl/closebtn.png) center center no-repeat;
}
.selectedBox .clearSelected{
    cursor:pointer;
    display:none;
}
.selectedBox .clearSelected:hover{
    color:#3399cc;
}
.filter_item{
    margin-bottom:10px;
    overflow:hidden;
}
.filter_item_tip{
    width:75px;
    float:left;
    padding-right:10px;
    text-align:right;
}
.filter_item_info_box{
    width:828px;
    float:left;
}
.themeBox{
    width:780px;
    height:25px;
    line-height:25px;
    position:relative;
    text-align:justify;
}
.themeBox.changeHeight{
    height:auto;
}
.filter_item_list{
    padding:20px 50px 0 15px;
}
.filter_item .left_margin {
  margin-left: 0px !important;
}
.filter_item_info{
    margin-bottom:5px;
}
.filter_item_info div,.sub_filter_item_info div{
    /* width:50px; */
    height:20px;
    line-height:20px;
  cursor: pointer;
  padding:0 8px;
  display: inline-block;
  border-radius:2px;
}
.filter_item_info div.subPlace{
    margin-right:5px;
}
.sub_filter_item_info{
    padding:5px;
    background:#f3f3f3;
}
.sub_filter_item_info.nopadding{
    padding:0;
}
.filter_item_info div.current,.sub_filter_item_info div.current,.filter_item_info div:hover, .sub_filter_item_info div:hover{
    background:#52a0e5;
    color:#fff;
}
.more{
    width:45px;
    height:20px;
    line-height:20px;
    text-align:center;
    float:right;
    color:#52a0e5;
    cursor:pointer;
    position:absolute;
    right:-50px;
    top:3px;
    border-radius: 2px;
}
/* search模块结束 */
.tour_main_listNew {
  margin-top: 10px;
}
.tour_resultInfoNew {
  background: #edf3f8;
  padding: 5px 15px;
  border: 1px solid #d9e5f0;
  font-size: 14px;
}
.tour_resultInfoNew .tour_resultNo {
    color: #ff6500;
    font: bold 16px arial;
    padding: 0 5px;
}
.tour_resultListNew {
  background: #fff;
  font-size: 14px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.tour_resultDiv{
  height: auto;
  overflow: hidden;
  padding: 15px 0 15px 0;
  border-bottom:1px dashed #e4e4e4;
}
.tour_resultDiv:hover{
    background:#f7fbff;
}
.tour_resultDiv_left {
  float: left;
  padding-left: 20px;
}
.tour_resultDiv_left .tourImgBox {
  float: left;
  display: inline-block;
  width: 160px;
  height: 120px;
  overflow: hidden;
  margin-right: 15px;
}
.tour_resultDiv_left .textContent {
  display: inline-block;
  width: 500px;
}
.tour_resultDiv_left .textContent .contentTopBlock {
  min-height: 85px;
}
.tour_resultDiv .fontTitleP {
  padding-bottom: 10px;
  text-align:justify;
}
.tour_resultDiv_left .fontBigTitle{
  color: #1673c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  cursor:pointer;
}
.tour_resultDiv_left .fontBigTitle:hover{
    text-decoration:underline;
}
.tagGroup{
  float:right;
  margin-top:5px;
  margin-right:5px;
}
.fontTitleP .tag {
  display: inline-block;
  width:68px;
  height:24px;
  line-height:24px;
  background: #50c9b1;
  font-size: 12px;
  color: #fff;
  text-align:center;
}
.tour_resultDiv_left .fontConP {
  width: 490px;
  height:62px;
  color: #636363;
}
.fontConP p{
  line-height: 22px;
  margin-top:5px;
}
.fontConP span{
    color:#999;
}
.fontConP span em{
    color:#636363;
}
.time{
    display:inline-block;
    margin-left:90px;
}
.tour_resultDiv_right {
  padding-top: 20px;
}
.tour_resultDiv_right {
  float: right;
  padding-right: 20px;
  vertical-align: middle;
  width: 250px;
}
.tour_resultDiv_right .marketPrice {
  display: inline-block;
  float: left;
  vertical-align: middle;
  font-size: 12px;
  color: #949494;
  padding-top: 10px;
}
.tour_resultDiv_right .ClearingPrice {
  display: inline-block;
  float: right;
  width: 135px;
  vertical-align: middle;
  text-align:center;
}
.tour_price_block {
  margin-bottom: 8px;
  display: inline-block;
}
.tour_resultDiv .tour_price {
  color: #ef4423;
  font-size: 24px;
  font-weight: bold;
  margin-right: 5px;
}
.tour_resultDiv .tour_price em {
  font-size: 14px;
  font-family: "微软雅黑";
}
.adaptiveButton {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.mediumOrange_btn span {
  float: left;
  height: 30px;
  line-height: 30px;
}
.mediumOrange_btn .left {
  background: url('../images/store/big_btn.png') 0 -240px no-repeat;
  width: 5px;
}
.mediumOrange_btn .center {
  background: url("../images/store/big_btn.png") 0 -275px repeat-x;
}
.adaptiveButton .center_2 {
  padding: 0 10px;
}
.adaptiveButton .center {
  padding: 0 30px;
  color: #ffffff;
}
.mediumOrange_btn .right {
  background: url('../images/store/big_btn.png') 0 -310px no-repeat;
  width: 5px;
}

/* 搜索页结束 */

/*  详情页 start  */
.tripInfoAndBooking{
    font-size: 14px;
    margin: 15px 0;
    background-color: #fff;
    border: 1px solid #efefef;
    color: #636363;
}
.tripInfoAndBooking_right {
    float: right;
    padding: 0 10px;
    width: 420px;
    margin-left: 0;
}
.tripInfoAndBooking_right li{
    border-bottom: none;
    padding: 15px 10px;
}
.greenLabel{
    margin: 10px 0;
}
.greenLabel .greenBgFonts{
    font-size: 14px;
    display: inline-block;
    width: 70px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background-color: #50c9b1;
    color: #fff;
}

/* 日历部分样式  */
.tabSwitchMonth {
    background-color: #fff;
}
.tabSwitchMonth li {
    background-color: #e3e3e3;
    margin-right: 2px;
    height: 25px;
    width: 75px;
    float: left;
    font-size: 12px;
    color: #868686;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.tabSwitchMonth li:last-child {
    margin-right: 0;
}
.tabSwitchMonth li:hover {
    cursor: pointer;
}
.tabCurrentMonth {
    background-color: #99c9f2!important;
    color: #fff!important;
    padding-bottom: 2px;
}

/* 日历  */

.grayFont {
    color: #e3e3e3;
}
.sellOutLi em {
    color: #aeaeae!important;
}
.calendarTables {
    min-height: 281px;
}
.calendarTitle {
    height: 28px;
    width: 464px;
    background-color: #99caf2;
    color: #fff;
    text-align: center;
}
.calendarTitle span {
    padding: 0 25px;
    line-height: 28px;
}
.calTable {
    width: 463px;
}
.calTable td {
    text-align: center;
}
.calTable tr {
    height: 56px;
}
.calTable td {
    border: 1px solid #e3e3e3;
    color: #aeaeae;
    width: 65px;
    height: 55px;
    position: relative;
}
.calTable .multiTour {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat 0 -32px;
    position: absolute;
    left: 0;
    top: 0;
}
.calTable .disa-multiTour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -21px -32px;
}
.calTable .tourFlag {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.calTable .sureTour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat 0 0;
    display: inline-block;
    width: 46px;
    height: 14px;
}
.calTable .disa-sureTour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat 0 -16px;
    display: inline-block;
    width: 46px;
    height: 14px;
}
.calTable .tour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -48px 0;
    display: inline-block;
    width: 25px;
    height: 14px;
}
.calTable .disa-tour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -48px -16px;
    display: inline-block;
    width: 25px;
    height: 14px;
}
.price {
    font-size: 12px;
    color: #ff6500;
    position: absolute;
    bottom: 5px;
    right: 2px;
}
.disa-price {
    color: #aeaeae;
}
.price b {
    font-weight: bold;
    padding: 0 1px;
}
.dateDay {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #333;
}
.disa-dateDay {
    color: #aeaeae;
}
.hasBorderTd:hover {
    background-color: #fff;
    border: 1px solid #fe9149;
    border-bottom: 0;
    cursor: pointer;
}
.hasBorderTd.current,
.hasBorderTdActive{
    border: 1px solid #ff9933;
    background-color: #ffe6cb;
}
.trBorderBottom {
    border-bottom: 1px dashed #aeaeae;
}
.priceTotal {
    font-size: 14px;
    text-align: right;
    padding-top: 10px;
}
.priceTotal span{
    padding-left: 15px!important;
}
.orderBtnOrange {
    padding-left: 20px;
}
.multiTem {
    width: 333px;
    position: relative;
    left: 1px;
}
.multiTem table{
    width: 100%;
}
.multiTem .departureInfo {
    width: 278px;
    height: 24px;
    padding-left: 10px;
    background: url("../images/store/orangeBgDownArrow.png") 97% 50% no-repeat;
}
.multiTem .orderBtnOrange {
    padding-left: 130px;
}
.multiTem .tdTopAlign {
    vertical-align: top;
}
.multiTem .tdRightAlign {
    text-align: right;
    padding-right: 0;
}
.multiTem .orangePriceText span {
    font-size: 14px;
}
ul.mtSelectItems {
    width: 290px;
    position: absolute;
    z-index: 10004;
    background-color: #fff;
}
ul.mtSelectItems li {
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    padding-left: 10px;
    cursor: pointer;
}
.mtSelectItems span {
    color: #909090;
    padding-right: 10px;
}
.mtSelectedItem span {
    padding-right: 10px;
}
.mtSelectItems .mtPrice em,
.mtSelectedItem .mtPrice em{
    color: #ff6500;
}
.mtSelectItems .mtLeftNum em,
.mtSelectedItem .mtLeftNum em {
    color: #348332;
}
.mtSelectedItem {
    position: absolute;
    top: 44px;
    left: 70px;
}
div.k-window-titleless {
    padding-top: 8px!important;
}
.ac-floatlayer {
    z-index: 20001;
}
.priceCalendarPw {
    padding: 8px 15px 20px 15px;
    position: relative;
}
#priceCalendarPw {
    width: 464px;
    float: left;
    height: 365px;
}
.pwOrderContent {
    width: 220px;
    height: 30px;
    float: left;
    margin-left: 10px;
}
i.grayArrowLeft {
    display: inline-block;
    width: 6px;
    height: 9px;
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -7px -53px;
}
.notSelectDateBlock {
    text-align: center;
    margin-top: 170px;
}
.notSelectDateBlock span {
    font-size: 14px;
    color: #7b7b7b;
}
.normalTourBlock {
    margin-top: 20px;
    margin-left: 35px;
}
.normalTourBlock table {
    width: 100%;
}
.normalTourBlock table tr{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.boldDate {
    font-size: 20px;
}
.splitLineTr {
    height: 20px!important;
}
.priceCalendarPw i.close {
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -16px -53px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

#scrollImg {
    height: 320px;
    z-index: 5;
    position: relative;
}

#scrollImg img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-left: 0px;
    /*display: none;
    opacity: 0;*/
}

.slider_nav {
    z-index: 10;
    position: absolute;
}
.slider_nav a {
    float: left;
    text-indent: -1000em;
    margin: 0 6px;
    border: none;
    background: url(../images/login/store/rotate.png) no-repeat 0 0;
    display: block;
    width: 11px;
    height: 12px;
    overflow: hidden;
}
.slider_nav .activeSlide {
    background-position:-11px 0;
}
.hasBorderTd {
    width: 63px;
    height: 53px;
}
.bookingContainer2 {
    border: 1px solid #ff904b;
    position: relative;
    left: 1px;
}
.bookingContainer2 .importantTxt1 {
    font-size: 14px;
}
.orderBtnOrange .btn_booking_clickable{
    width: 98px;
    height: 31px;
    font-size: 12px;
    font-weight: normal;
    line-height: 31px;
    border: none;
    float: right;
}
.numberFont14 {
    font-size: 14px;
}
.numberFont16 {
    font-size: 16px!important;
}
.hideBorderBot {
    width: 63px;
    height: 5px;
    position: absolute;
    top: -2px;
    left: 0px;
    background: #fff;
}
.tripTopTitle {
    margin-top: 20px;
}
span.tourDate em {
    padding-right: 10px;
}
.spExplain {
    text-decoration:underline;
    margin-left:15px;
    font-size: 14px;
    color: #7c7c7c;
}
.btn_booking {
    font-size: 18px;
    font-weight: normal;
}
#priceCalendar {
    margin-top: 12px;
}

.travel_birthland_destination{
    font-size: 14px;
}
.orangeFonts{
    color: #ef4423;
}

/* 图片轮播 S */
.leftBookImg{
    float: left;
    width: 520px;
    margin-right: 15px;
}
#bigpicarea {
    position: relative;
    margin: 0px auto;
    width: 520px;
    height: 320px;
    overflow: hidden;
}
.showGraph{
    width: 520px;
    height: 320px;
    overflow: hidden;
}
.showGraph:hover .bigbtnPrev, .bigbtnNext{
    display: block;
}
.showGraph .image {
    text-align: center;
    width: 520px;
    height: 320px;
}

.bigbtnPrev, .bigbtnNext {
    z-index: 100;
    position: absolute;
    width: 50px;
    height: 120px;
    top: 100px;
    cursor: pointer;
}
.bigbtnPrev{
    left: 0px;
}
.bigbtnNext{
    right: 0px;
}
#big_play_prev, #big_play_next{
    width: 50px;
    display: block;
    height: 120px;
    _background: none;
}
#big_play_prev {
    background-image: url(../images/store/cruise/leftbig.png);
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/store/cruise/leftbig.png')
}
#big_play_next {
    background-image: url(../images/store/cruise/rightbig.png);
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/store/cruise/rightbig.png')
}
.smallpicarea {
    margin: 0px auto;
    width: 520px;
    padding: 10px 0;
    height: 60px;
    position: relative;
}
.slideshowItem img{
    display: inline-block;
    width: 90px;
    height: 56px;
}
.smallSlideShow {
    width: 483px;
    height: 63px;
    overflow: hidden;
    position: absolute;
    margin-left: 18px;
}
.smallBtnPrev {
    background-image: url(../images/store/cruise/left.png);
    position: absolute;
}
.smallBtnNext {
    background-image: url(../images/store/cruise/right.png);
    position: absolute;
    right: 0px;
    top: 10px;
}
.smallBtnPrev,
.smallBtnNext {
    margin: 17px 3px 0px 3px;
    width: 14px;
    height: 28px;
    cursor: pointer;
}
.slideshowItem {
    width: 90px;
    height: 60px;
    display: inline-block;
    position: absolute;
}
.slideshowItem a {
    width: 90px;
    height: 56px;
    display: block;
    font-size: 0px;
    border: 2px solid #fff;
}
.slideshowItem a:hover {
    border: 2px solid #1cadf1;
}
.slideshowItem.activeSlide a {
    border: 2px solid #1cadf1;
}
/*  图片轮播 E  */

.tripName .minWidth195{
   display: inline-block;
   min-width: 195px;
    color: #888;
    margin-top: 10px;
}
.tripName .color333{
    color: #333;
}
.moreDetails{
    height: 90px;
    line-height: 23px;
    overflow: hidden;
}
.view-more-text {
    color: #0066cc;
    text-align: right;
    cursor: pointer;
    font-size: 12px;
    margin-top: -10px;
}
.view-more-text .icon-arrow-down,
.view-more-text .icon-arrow-up{
    display: inline-block;
    width: 7px;
    height: 4px;
    vertical-align: middle;
    margin-left: 5px;
    background: url("../images/store/blue_up_down.png") no-repeat;
}
.view-more-text .icon-arrow-down{
    background-position: 0 0;
}
.view-more-text .icon-arrow-up{
    background-position: 0 -6px;
}
/*  详情页 end  */
