@charset "utf-8";
/* CSS Document */

body{
    font-size: 14px;
    font-family: microsoft yahei, Arial, Helvetica, sans-serif;
    color: #666666;
}
pre{
    font-family: "microsoft yahei";
    white-space: pre-wrap;
    margin: 0;
}
.wordBreak{
    word-break: break-all;
}
div.k-window-content{
    padding: 15px;
}
/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}
.main-footer center {
    margin-top: 20px;
}
.copyright {
    padding-bottom: 20px;
}
.main-footer a {
    color: inherit;
}
.main-footer .bar {
    margin: 0 5px;
}

.departure{ 
    height:auto;
    padding:10px 10px 0 10px; 
    border: 1px solid #e1e1e1; 
    margin:10px 0; color:#636363; 
    background:#fff;
}
.chief{ 
    border-bottom:1px solid #e1e1e1; 
    padding-top:10px;
}
.chief h3{ 
    width:10%; 
    font-size:14px; 
    font-weight:bold; 
    color:#f1634c; 
    border-bottom:1px solid #f1634c; 
    padding:0 0 10px 5px; 
    margin-bottom:-1px;
}

/*layer Gray*/
.layerGrayBlock {
    border:3px solid #e2e2e2;
    background:#fff;
}
.layerGrayContainer {
    border:1px solid #a8a8a8;
    padding:5px 12px;
    color:#636363;
    position:relative;
}
.k-tooltip-dir-n .layerGrayArrow,
.shadow_box .k-callout-n{
    /*TOP arrow*/
    position:absolute;
    top:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 0;
    width:9px;
    height:5px;
}
.k-tooltip-dir-s .layerGrayArrow,
.shadow_box .k-callout-s{
    /*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 -6px;
    width:9px;
    height:5px;
}
.shadow_box .k-callout-n{/*TOP arrow*/
    margin-top:1px;
}
.shadow_box .k-callout-s{/*BOTTOM arrow*/
    margin-bottom:1px;
}
.shadow_box .k-loading-image{
    height: 40px;
    width: 40px;
    left:50%;
    margin-left:-20px;
    background: url(../images/store/mini_loading.gif) no-repeat 50% 50%;
}
.shadow_box .k-loading-mask{
    background:#fff;
    border:1px solid #a8a8a8;
}


/* 订单流程 */
.flow {
    padding: 10px 10px 0 10px;
}
.flow h3 {
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #797979;
    font-weight: bold;
    background: url(../images/store/leftarrows.png) no-repeat left center;
    float: left;
    cursor: pointer;
}
.flow ul {
    float: right;
    border-bottom: 2px solid #e1e1e1;
    padding-right: 20px;
    position: relative;
}
.flow ul li {
    float: left;
    margin-right: 90px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #c8c8c8;
}
.flow ul li em {
    color: #8d8d8d;
    font-weight: bold;
}
.flow .current_li {
    color: #4bae10;
}
.flow ul .line {
    border-top: 2px solid #4bae10;
    bottom: -6px;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
.flow .last {
    margin-right: 0;
}

/*流程样式 */
.instr {
    overflow: hidden;
    margin: 0 10px;
    float: right; 
    position: relative;
}
.instr span {
    position: relative;
    z-index: 1;
    padding-bottom: 25px;
    display: block;
    float: left;
    background: url(../images/store/flowDot.jpg) 50% 30px no-repeat;
    margin-right: 10px;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #b9b9b9;
}
.instr .first {
    margin-left: 0;
}
.instr .last {
    margin-right: 0;
}
.instr span.highlight-tour {
    background: url(../images/store/balloonIcon.jpg) no-repeat 50% 100%;
    color: #e47965;
}
.instr span.highlight {
    background: url(../images/store/flowdeepDot.jpg) no-repeat 50% 28px;
    color: #797979;
}
.instr .line {
    position: absolute;
    display: block;
    height: 2px;
    border-bottom: 2px dotted #e6e6e6;
    bottom: 6px;
    z-index: 0;
    margin-left: -5px;
}
.instr .line div {
    background-color: #c1c1c1;
    height: 2px;
    margin-top: 2px;
}
.breadthDiv {
    width: 720px;
    float: left;
}
.tour_createOrder {
    border: 1px solid #efefef;
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
    position: relative;
}
.chief {
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}
.chief h3 {
    width: 10%;
    font-size: 16px;
    font-weight: bold;
    color: #f1634c;
    border-bottom: 1px solid #f1634c;
    padding: 0 0 5px 5px;
    margin-bottom: -1px;
}
.chief .changeBtn{
    position: absolute;
    right: 0;
    top: 1px;
}
.changeBtn .commonBtnBg{
    display: inline-block;
    min-width: 70px;
    padding: 3px 5px;
    border: 1px solid #2792d6;
    cursor: pointer;
}
.changeBtn .blueBg{
    background-color: #2792d6;
    color: #fff;
}
.changeBtn .cancelBtn{
    background-color: #fff;
    color: #2792d6;
}
.changeBtn .blueBg:hover,.changeBtn .cancelBtn:hover{
    background-color: #36a2e8;
    border: 1px solid #36a2e8;
    color: #FFFFFF;
}

/* 通用button*/
.adaptiveButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.adaptiveButton:hover {
    text-decoration: none;
}
.adaptiveButton .center {
    padding: 0 30px;
    color: #ffffff;
}
.adaptiveButton .center_1 {
    padding: 0 20px;
}
.adaptiveButton .center_2 {
    padding: 0 10px;
}
.mediumOrange_btn span {
    float: left;
    height: 30px;
    line-height: 30px;
}
.mediumOrange_btn .left {
    background: url('../images/store/big_btn.png') 0 -240px no-repeat;
    width: 5px
}
.mediumOrange_btn .center {
    background: url("../images/store/big_btn.png") 0 -275px repeat-x;
}
.mediumOrange_btn .right {
    background: url('../images/store/big_btn.png') 0 -310px no-repeat;
    width: 5px
}
.mediumOrange_btn:hover .left {
    background: url('../images/store/big_btn.png') 0 -345px no-repeat;
}
.mediumOrange_btn:hover .center {
    background: url("../images/store/big_btn.png") 0 -380px repeat-x;
}
.mediumOrange_btn:hover .right {
    background: url('../images/store/big_btn.png') 0 -416px no-repeat;
}
.brightOrange_btn  span{float:left; height:35px; line-height:35px;}
.brightOrange_btn .left{background:url('../images/store/big_btn.png') 0 -680px no-repeat;width:5px}
.brightOrange_btn .center{background:url("../images/store/big_btn.png") 0 -720px repeat-x;}
.brightOrange_btn .right{background:url('../images/store/big_btn.png') 0 -760px no-repeat;width:5px}
.brightOrange_btn:hover .left{background:url('../images/store/big_btn.png') 0 -800px no-repeat;}
.brightOrange_btn:hover .center{background:url("../images/store/big_btn.png") 0 -840px repeat-x;}
.brightOrange_btn:hover .right{background:url('../images/store/big_btn.png') 0 -880px no-repeat;}


/* 通用翻页*/
.pagination, .paging {
    margin: 10px 0;
}
.pagination div, .paging div {
    float: right;
    height: 30px;
    line-height: 30px;
}
.pagination div em, .paging div em {
    color: #e94749;
    font-weight: bold;
}
.pagination ul, .paging ul {
    margin: 0 10px 0 5px;
    float: right;
}
.pagination ul li, .paging ul li {
    float: left;
    margin-left: 10px;
}
.pagination ul li a, .paging ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #ccd5de;
    color: #e94749;
}
.pagination ul li a:hover, .pagination .present, .paging .present {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #e94749;
    border: 1px solid #e94749;
}
.pagination ul li span, .paging ul li span {
    color: #e94749;
}
.pagination .disabled {
    color: #ccd5de;
}
.pagination .disabled:hover {
    color: #ccd5de;
    background: none;
    border: 1px solid #ccd5de;
    cursor: default;
}
.paging ul li a:hover {
    background: #f6f6f6;
    text-decoration: none;
    color: #e94749;
}
.paging .present:hover {
    background: #e94749;
    color: #fff;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{
    border: 1px solid #76cbe8;
}



/*  礼品卡 S  */
.main-body{
    width: 980px;
    margin: 15px auto;
    min-height: 400px;
}
.giftCardContent,
.payContent{
    border: 1px solid #efefef;
    background-color: #ffffff;
}
.giftCardModel{
    padding: 25px 40px;
    border-bottom: 1px dashed #dcdcdc;
}
.giftCardModel.last{
    border-bottom: none;
}
.giftCardModel:hover{
    background-color: #f7fbff;
}
.giftCardModel .cardLeftImg{
    float: left;
    width: 245px;
    margin-right: 60px;
}
.giftCardModel .cardRightDetail{
    float: left;
    width: 590px;
    line-height: 22px;
}
.cardRightDetail .cardTitle{
    font-size: 16px;
    font-weight: bold;
    color: #464545;
}
.marginTopBottom10{
    margin: 10px 0;
}
.marginLeft20{
    margin-left: 20px;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop15{
    margin-top: 15px;
}
.fonts16{
    font-size: 16px;
}
.fonts18{
    font-size: 18px;
}
.fonts30{
    font-size: 30px;
}
.fontWeight{
    font-weight: bold;
}
.orangeFonts{
    color: #f9640a;
}
.cardPrice label{
    margin-right: 40px;
}
.payContent .leftSmallTitle{
    display: inline-block;
    min-width: 95px;
    text-align: right;
    margin-right: 7px;
}
.productPayDetail{
    padding: 20px;
    border-bottom: 1px dashed #c5daef;
}
.totalPrice{
    padding: 20px;
}
.leftTotal{
    float: left;
    width: 800px;
}
.rightPriceBtn{
    float: right;
    width: 110px;
}
/*  礼品卡 E  */