@charset "utf-8";
/* CSS Document */

.flow{ padding:10px 10px 0 10px;}
.flow h3{ padding:10px 0 10px 10px; font-size:14px; color:#797979; font-weight:bold; background:url(../../images/store/leftarrows.png) no-repeat left center; float:left;}
.flow ul{ float:right; border-bottom:2px solid #e1e1e1; padding-right:20px; position:relative;}
.flow ul li{ float:left; margin-right:90px; padding:10px 0; font-size:14px; font-weight:bold; color:#c8c8c8;}
.flow .current_li{ color:#4bae10;}
.flow ul .line { border-top: 2px solid #4bae10; bottom: -6px; height: 4px; left: 0; position: absolute; width: 100%;}
.departure{ height:auto; padding:10px 10px 0 10px; border: 1px solid #e1e1e1; margin:10px 0; color:#636363; background:#fff;}
.chief{ border-bottom:1px solid #e1e1e1; padding-top:10px;}
.chief h3{ width:10%; font-size:14px; font-weight:bold; color:#f1634c; border-bottom:1px solid #f1634c; padding:0 0 10px 5px; margin-bottom:-1px;}
.chiefTit{ float:left;}

/*layer Gray*/
.layerGrayBlock {
    border:3px solid #e2e2e2;
    background:#fff;
}
.layerGrayContainer {
    border:1px solid #a8a8a8;
    padding:5px 12px;
    color:#636363;
    position:relative;
}
.k-tooltip-dir-n .layerGrayArrow,
.shadow_box .k-callout-n{
    /*TOP arrow*/
    position:absolute;
    top:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 0;
    width:9px;
    height:5px;
}
.k-tooltip-dir-s .layerGrayArrow,
.shadow_box .k-callout-s{
    /*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 -6px;
    width:9px;
    height:5px;
}
.shadow_box .k-callout-n{/*TOP arrow*/
    margin-top:1px;
}
.shadow_box .k-callout-s{/*BOTTOM arrow*/
    margin-bottom:1px;
}
.shadow_box .k-loading-image{
    height: 40px;
    width: 40px;
    left:50%;
    margin-left:-20px;
    background: url(../images/store/mini_loading.gif) no-repeat 50% 50%;
}
.shadow_box .k-loading-mask{
    background:#fff;
    border:1px solid #a8a8a8;
}
/*  旅游订单详情弹窗 */
.payContentWindow{
    font-size: 14px;
}
.payContentWindow .windowTitle{
    width: 485px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.payContentWindow .payMoney{
    padding-bottom: 15px;
    margin: 15px 0;
    border-bottom: 1px dotted #e1e1e1;
}
.payContentWindow .noPayCont{
    margin: 20px 0;
}
.noPayCont .moneyColor{
    font-weight: bold;
    font-size: 20px;
    color: #ff6500;
}
.payContentWindow .paySure{
    margin-left: 40px;
}
.payContentWindow .paySure input[type="text"]{
    width: 160px;
    height: 25px;
    padding: 0 3px;
}
.hintContent{
    background: #fff1e8;
    padding: 10px;
    border: 1px solid #ff6500;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
}
.hintContent .hintWord{
    float: left;
    color: #f85136;
    margin-right: 15px;
}
.hintContent .hintList{
    float: left;
}
.cancelBookWindow .shrinkLineHeight td{
    padding: 5px;
}
.cancelBookWindow .textField{
    width: 380px;
    max-width: 640px;
    height: 25px;
    line-height: 20px;
    overflow: auto;
    padding: 5px;
    vertical-align: middle;
}
.shrinkLineHeight .submitCancel{ 
    margin-left:20px; 
    color:#636363; 
    text-decoration:underline; 
    vertical-align:middle;
}
.shrinkLineHeight .submitCancel:hover{
    color: #ff6500;
}
.productInfo .noContent{
    background: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 2px;
    min-width: 50px;
    display: inline-block;
    margin-right: 10px;
}
.cancelInfoCont{
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E1E1;
    font-size: 14px;
    line-height: 25px;
}
.cancelInfoCont .font888{
    float: left;
    color: #888888;
}
.cancelInfoCont .font333{
    float: left;
    color: #333333;
}
.changeBg{ 
    background: #f7fbff;
    border: none;
    margin-bottom: 15px;
    padding: 0;
}
.changeBg .hintList{
    color: #333333;
}
.refundContent{
    padding-bottom: 0;
    border: 0;
}
.refundMoney{
    font-size: 14px;
    padding-bottom: 10px;
    font-family: "Arial";
}
.refundMoney .refundFont{
    color: #888888;
    vertical-align: middle;
}
.refundMoney .symbol{
    font-size: 22px;
    color: #ef4423;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: -5px;
}
.numberMoney{
    font-size: 28px;
    color: #ef4423;
    vertical-align: middle;
    font-weight: 600;
}
.currentSta{
    border:1px solid #d9e7f3;
    background:#f2f8fd;
}
.currentSta:hover{
    border: 1px solid #52a0e5;
}
.payed{
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
}

.route .bgGray td{
    background: #f1f1f1;
}

.route .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    width: 45px;
    text-overflow: ellipsis;
    display: inline-block;
}
.route .bgLightOrange:hover td{
    background: #fff6f0;
}

.accountInfoBlock .payWay{
    position: relative;
    z-index: 0;
}
.payWay .selectPayBtn{
    position: absolute;
    top: -67px;
    left: 0;
    z-index: -1;    
    display: none;
}
.payWay .selectPayBtn a{
    display: block;
    line-height: 30px;
    min-width: 78px;
    text-align: center;
    border: 1px solid #f1634c;
    border-bottom: 0;
    background: #FFFFFF;
}
.payWay .payClick .center,.payWay .payClick .center_1{
    min-width: 70px;
    padding: 0;
    text-align: center;
}

.departure .detail{
    color: #cf6b00;
    margin-left: 4px;
}

.shrinkLineHeight .detail{
    color: #cf6b00;
    margin-left: 4px;
}

.departure .status{
    color: #ef4423;
    font-size: 14px;
}

.departure .price{
    color: #333333;
    font-size: 16px;
    /*font-weight: bold;*/
}

.departure .cost{
    color: #666666;
    font-size: 12px;
}

.departure .button span{
    background-color: #3ea9ee;
    color: white;
    width: 37px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin:0px;
    padding: 0px;
    display: inline-block;
}

.adjustCharge,div.table-adjustCharge{
    line-height: 25px; 
    background-color: #f3f9ff;
    border: 1px solid #d6e5f1;
    margin-bottom: 10px;
    padding: 10px;
}

.adjustCharge .cause,.table-adjustCharge .cause{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

.adjustCharge .explain,.table-adjustCharge .explain{
    color: #333333;
    font-size: 14px;
}

.passengerDetail-table{
    width: 100%;
    height: 80px;
    
}

.passengerDetail-table table td{
    height: 40px;
    color: #636363;
    font-size: 12px;
}

.passengerDetail-table .top{
    border-bottom: 1px solid #e4e4e4;
}

#travelerInfo .chief {
    position: relative;
}

#travelerInfo .batchConfirm{
    width: 70px;
    height: 22px;
    border: 1px solid #2792d6;
    color: #2792d6;
    text-align: center;
    line-height: 22px;
    float: right;
    position: absolute;
    left: 884px;
    bottom: 5px;
}

#exitPassenger .batchConfirm{
    width: 70px;
    height: 22px;
    border: 1px solid #2792d6;
    color: #2792d6;
    text-align: center;
    line-height: 22px;
    float: right;
    position: absolute;
    left: 884px;
    bottom: 5px;
}

/* E */


















