@charset "utf-8";
/* CSS Document */


.message{ border:1px solid #e1e1e1; margin-top:20px; background:#fff;}
.message_title{ border-bottom:1px solid #e1e1e1;}
.message_title h3{ width:10%; border-bottom:1px solid #f1634c; border-bottom:-1px; padding:0 0 10px 5px; font-size:14px; font-weight:bold; color:#f1634c;}
.mes_content,.notice_content{ padding:0 10px;}
.mes_list,.notice_list{ width:100%; margin:10px 0;}
.mes_list th,.notice_list th{ padding:13px 0; background:#f8f8f8; border-bottom:1px solid #e4e4e4; color:#404040;}
.mes_list td,.notice_list td{ padding:13px 0; border-bottom:1px dashed #e4e4e4; line-height:20px;}
.mes_list td,.notice_list td{ color:#636363;}
.mes_list td a{ color:#cf6b00;}
.mes_list td:first-child,.notice_list td:first-child,.notice_list th:first-child{ padding-left:8px;}
.mes_list td em{ width:8px; height:8px; display:inline-block; background:url(../images/message/mes_round_img.png) no-repeat left center;}
.noWeight{ font-weight:500;}
.notice_list a{ color:#cf6b00; margin:0 20px;}

.notice_list tbody th {background-color:#fff;border-bottom:1px dashed #e4e4e4;vertical-align:top; }
.flexible{ background:#f8f8f8;}
.flexible p{ width:90%;}
.tab_change li em{ padding:0 30px;}
.notice_list .expended td, .notice_list .expended th {background-color: #F8F8F8;}



.noticeLitst .currentnotice{position:relative; border:1px solid #8FC3EE; background-color:#F7FBFF; margin:-1px -11px -1px -11px; padding:0 10px;}
.noticeLitst{ margin:10px 0; color:#404040;}
.noticeLitst .titleDiv,.noticeLitst .noticeTitle{ padding:17px 0 17px 20px; }
.noticeLitst .titleDiv{ border-bottom:1px dotted #ddd;}
.noticeLitst .currentTitle{ border-bottom:1px dotted #CDE0EF;}

.noticeLitst .noticeTitle{ background:#f8f8f8; font-weight: bold;}
.noticeLitst .noticeType,.noticeLitst .nocTitle,.noticeLitst .noticeDate{ display:inline-block;}
.noticeLitst .noticeType{ width:130px;color:#888;}
.noticeLitst .nocTitle i{font-weight:bold;font-size:14px;color:#333;}
.noticeLitst .noticeDate{ width:120px;color:#c1c1c1;margin-left:10px;}
.noticeLitst .notice_see_detail{ margin-left:15px; color:#2792D6;padding:5px 8px;font-weight:normal;}
.noticeLitst .notice_see_detail:hover{
    background-color:#EBF6FF;
    text-decoration:none;
}
.noticeLitst  .fico{
    border:1px solid #d9e7f3;
    background-color:#f7fbff;
    padding:3px 5px;
    margin-left:10px;
}
.noticeTitleContainer{
    display:inline-block;
    vertical-align:top;
    color:#888;
}
.nocTitleWrapper{
    display:block;
}
.currentnotice .notice_see_detail{
    position:absolute;
    background-color:#fff;
    bottom:-1px;
    border:1px solid #8fc3ee;
    left:50%;
    width:70px;
    padding-left:20px;
    margin-left:-45px;
}
.nocDetailShortWrapper{
    margin-top:15px;
    display:block;
}
.currentnotice .nocDetailShort{
    display:none;
}
.currentnotice .nocDetailShortWrapper{
    margin:0;
}
.currentnotice .notice_see_detail:hover{
    color:#fff;
    background-color:#2792d6;
    border-color:#2792d6;
}
.noticeLitst .noticeImg,.noticeLitst .downLoad{ margin:20px 0;}

.noticeLitst .uploadContent{ padding:0 130px 20px 155px;}
.noticeLitst .itemWord{ line-height:20px;}
.noticeLitst .downLoad a{ width:240px; padding:8px; border:1px solid #bab9b9; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; color:#636363; background:url(../images/store/lif.png) repeat-x 0 100%; display:inline-block; position:relative; margin:0 10px 10px 0;}
.noticeLitst .downLoad a:hover{ text-decoration:none; color:#636363; background:#fafafa;}
.downLoad .fliePic,.downLoad .downLoadPic{ display:inline-block; vertical-align:middle;}
.downLoad .fliePic{ background:url(../images/store/downLoad.png) no-repeat 0 0; width:26px; height:30px;}
.downLoad .word{ background-position:0 0;}
.downLoad .excel{ background-position:0 -35px;}
.downLoad .ppt{ background-position:0 -70px;}
.downLoad .other{ background-position:0 -105px;}
.downLoad .downLoadPic{ background:url(../images/store/downLoad.png) no-repeat 0 -139px; width:26px; height:26px; position:absolute; top:25%; right:5%;}
.downLoad .flieInfo{ display:inline-block; vertical-align:middle; margin-left:8px;}
.downLoad .flieInfo div{ line-height:20px;}


.notice_filter ul{
    margin-bottom:5px;
}

.notice_filter li{
    float:left;
    margin-right:10px;
    line-height:30px;
}
.notice_filter{
    padding:20px 10px 5px 15px;
}
.notice_filter label span{
}
.notice_filter input{
    height:23px;
    line-height:23px \9;
    border:1px solid #aaa;
}

.noticeLitst .icon1{
    background: url(../images/store/smallPic.png) 0px -34px no-repeat;
}

.noticeLitst .icon2{
    background: url(../images/store/smallPic.png) -15px -34px no-repeat;
}

.noticeLitst .icon1,
.noticeLitst .icon2{
    display:inline-block;
    height:13px;
    width:13px;
    margin-right:5px;
    vertical-align:middle;
}

