@charset "utf-8";
/* CSS Document */

.flow{ padding:10px 10px 0 10px;}
.flow h3{ padding:10px 0 10px 10px; font-size:14px; color:#797979; font-weight:bold; background:url(../../images/store/leftarrows.png) no-repeat left center; float:left;}
.flow ul{ float:right; border-bottom:2px solid #e1e1e1; padding-right:20px; position:relative;}
.flow ul li{ float:left; margin-right:90px; padding:10px 0; font-size:14px; font-weight:bold; color:#c8c8c8;}
.flow .current_li{ color:#4bae10;}
.flow ul .line { border-top: 2px solid #4bae10; bottom: -6px; height: 4px; left: 0; position: absolute; width: 100%;}
.departure{ height:auto; padding:10px 10px 0 10px; border: 1px solid #e1e1e1; margin:10px 0; color:#636363; background:#fff;}
.chief{ border-bottom:1px solid #e1e1e1; padding-top:10px;}
.chief h3{ width:10%; font-size:14px; font-weight:bold; color:#f1634c; border-bottom:1px solid #f1634c; padding:0 0 10px 5px; margin-bottom:-1px;}
.chiefTit{ float:left;}

/*layer Gray*/
.layerGrayBlock {
    border:3px solid #e2e2e2;
    background:#fff;
}
.layerGrayContainer {
    border:1px solid #a8a8a8;
    padding:5px 12px;
    color:#636363;
    position:relative;
}
.k-tooltip-dir-n .layerGrayArrow,
.shadow_box .k-callout-n{
    /*TOP arrow*/
    position:absolute;
    top:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 0;
    width:9px;
    height:5px;
}
.k-tooltip-dir-s .layerGrayArrow,
.shadow_box .k-callout-s{
    /*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 -6px;
    width:9px;
    height:5px;
}
.shadow_box .k-callout-n{/*TOP arrow*/
    margin-top:1px;
}
.shadow_box .k-callout-s{/*BOTTOM arrow*/
    margin-bottom:1px;
}
.shadow_box .k-loading-image{
    height: 40px;
    width: 40px;
    left:50%;
    margin-left:-20px;
    background: url(../images/store/mini_loading.gif) no-repeat 50% 50%;
}
.shadow_box .k-loading-mask{
    background:#fff;
    border:1px solid #a8a8a8;
}
/*  旅游订单详情弹窗 */
.payContentWindow{
    font-size: 14px;
}
.payContentWindow .windowTitle{
    width: 485px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.payContentWindow .payMoney{
    padding-bottom: 15px;
    margin: 15px 0;
    border-bottom: 1px dotted #e1e1e1;
}
.payContentWindow .noPayCont{
    margin: 20px 0;
}
.noPayCont .moneyColor{
    font-weight: bold;
    font-size: 20px;
    color: #ff6500;
}
.payContentWindow .paySure{
    margin-left: 40px;
}
.payContentWindow .paySure input[type="text"]{
    width: 160px;
    height: 25px;
    padding: 0 3px;
}
.hintContent{
    background: #fff1e8;
    padding: 10px;
    border: 1px solid #ff6500;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
}
.hintContent .hintWord{
    float: left;
    color: #f85136;
    margin-right: 15px;
}
.hintContent .hintList{
    float: left;
}
.cancelBookWindow .shrinkLineHeight td{
    padding: 5px;
}
.cancelBookWindow .textField{
    width: 380px;
    max-width: 640px;
    height: 25px;
    line-height: 20px;
    overflow: auto;
    padding: 5px;
    vertical-align: middle;
}
.shrinkLineHeight .submitCancel{ 
    margin-left:20px; 
    color:#636363; 
    text-decoration:underline; 
    vertical-align:middle;
}
.shrinkLineHeight .submitCancel:hover{
    color: #ff6500;
}
.productInfo .noContent{
    background: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 2px;
    min-width: 50px;
    display: inline-block;
    margin-right: 10px;
}
.cancelInfoCont{
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E1E1;
    font-size: 14px;
    line-height: 25px;
}
.cancelInfoCont .font888{
    float: left;
    color: #888888;
}
.cancelInfoCont .font333{
    float: left;
    color: #333333;
}
.changeBg{ 
    background: #f7fbff;
    border: none;
    margin-bottom: 15px;
    padding: 0;
}
.changeBg .hintList{
    color: #333333;
}
.refundContent{
    padding-bottom: 0;
    border: 0;
}
.refundMoney{
    font-size: 14px;
    padding-bottom: 10px;
    font-family: "Arial";
}
.refundMoney .refundFont{
    color: #888888;
    vertical-align: middle;
}
.refundMoney .symbol{
    font-size: 22px;
    color: #ef4423;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: -5px;
}
.numberMoney{
    font-size: 28px;
    color: #ef4423;
    vertical-align: middle;
    font-weight: 600;
}
.currentSta{
    border:1px solid #d9e7f3;
    background:#f2f8fd;
}
.currentSta:hover{
    border: 1px solid #52a0e5;
}
.payed{
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
}

.route .bgGray td{
    background: #f1f1f1;
}

.route .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    width: 45px;
    text-overflow: ellipsis;
    display: inline-block;
}
.route .bgLightOrange:hover td{
    background: #fff6f0;
}

.accountInfoBlock .payWay{
    position: relative;
    z-index: 0;
}
.payWay .selectPayBtn{
    position: absolute;
    top: -67px;
    left: 0;
    z-index: -1;    
    display: none;
}
.payWay .selectPayBtn a{
    display: block;
    line-height: 30px;
    min-width: 78px;
    text-align: center;
    border: 1px solid #f1634c;
    border-bottom: 0;
    background: #FFFFFF;
}
.payWay .payClick .center,.payWay .payClick .center_1{
    min-width: 70px;
    padding: 0;
    text-align: center;
}

.departure .detail{
    color: #cf6b00;
    margin-left: 4px;
}

.shrinkLineHeight .detail{
    color: #cf6b00;
    margin-left: 4px;
}

.departure .status{
    color: #ef4423;
    font-size: 14px;
}

.departure .price{
    color: #333333;
    font-size: 16px;
    /*font-weight: bold;*/
}

.departure .cost{
    color: #666666;
    font-size: 12px;
}

.departure .button span{
    background-color: #3ea9ee;
    color: white;
    width: 37px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin:0px;
    padding: 0px;
    display: inline-block;
}

.adjustCharge,div.table-adjustCharge{
    line-height: 25px; 
    background-color: #f3f9ff;
    border: 1px solid #d6e5f1;
    margin-bottom: 10px;
    padding: 10px;
}

.adjustCharge .cause,.table-adjustCharge .cause{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

.adjustCharge .explain,.table-adjustCharge .explain{
    color: #333333;
    font-size: 14px;
}

.passengerDetail-table{
    width: 100%;
    height: 80px;
    
}

.passengerDetail-table table td{
    height: 40px;
    color: #636363;
    font-size: 12px;
}

.passengerDetail-table .top{
    border-bottom: 1px solid #e4e4e4;
}

#travelerInfo .chief {
    position: relative;
}

#travelerInfo .batchConfirm{
    width: 70px;
    height: 22px;
    border: 1px solid #2792d6;
    color: #2792d6;
    text-align: center;
    line-height: 22px;
    float: right;
    position: absolute;
    left: 884px;
    bottom: 5px;
}

#exitPassenger .batchConfirm{
    width: 70px;
    height: 22px;
    border: 1px solid #2792d6;
    color: #2792d6;
    text-align: center;
    line-height: 22px;
    float: right;
    position: absolute;
    left: 884px;
    bottom: 5px;
}

/* E */


/* 订单列表开始*/
.main-body{
    width: 980px;
    margin: 10px auto;
    min-height: 400px;
} 
.tab_change li em{
    float:left;
    min-width:65px;
    text-align:center;
}
input[type=text],input[type=password] {
    border:1px solid #ABADB3;
    height:23px;
    width:134px;
    padding:0 2px;
    line-height:23px;
}
.us-content .city_ac{
    border:0;
    line-height:normal !important;
}
.us-content input.dpShort{
    width:70px;
}
.us-bind{
    padding:10px;
}
.us-bind a{
   padding:3px 0; 
}
.us-nav{
    float:left;
    width:178px;
}
.us-nav .text1{
    color:#e94749;
}
.us-nav i{
    margin-right:5px;
    vertical-align:text-bottom;
    display:inline-block;
    background:url(../images/store/ucnavs.png) no-repeat;  
}
.us-nav dt i{
    width:16px;
}
.us-nav .ic-j{
    padding-left:15px;
}
.us-nav .ic-j i{
    vertical-align:middle;
}
.us-content{
    float:left;
    width:788px;
    margin-left:10px;
}
.us-body{
    border:1px solid #E1E1E1;
    background-color:#fff;
}
.us-title{
    font-size:14px;
    font-weight:bold;
    color:#505050;
    border-bottom:1px solid #E1E1E1;
    padding:10px 5px;
    margin-bottom:10px;
}
.us-nav a{
    color:#4F4F4F;
    font-size:12px;
}
.us-nav dd a{
    display:block;
    padding:10px 30px;
}
.us-nav .current{
    color:#fff;
    background-color:#f1634c;
}
.us-nav .ic-j.current{
    color:#505050;
    background-color:#fff;
}
.us-nav{
    background-color:#F8F8F8;
    color:#505050;
    border:1px solid #E1E1E1;
}
.us-nav dt{
    background-color:#eaeaea;
    padding:10px;
    font-size:14px;
    font-weight:bold;
    border-top:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
}
.us-nav h3{
    font-weight:bold;
   font-size:16px; 
   background-color:#eaeaea;
    color: #505050;
   padding:10px;
   border-bottom:2px solid #F1634C;
}
.us-query{
    padding:20px 10px;
}
.us-query .brightRed_btn{
    margin-top:15px;
    margin-left: 25px;
}
.us-query-table{
    float:left;
}
.us-query-table s{
    display:inline-block;
    width:18px;
    text-align:center;
}
.us-query-table th{
    white-space: nowrap;
    color:#636363;
    text-align:right;
    padding:5px 0;
}
.us-query-table td{
    padding:5px 0;
    padding-right:20px;
}
.us-query-table .statusList label{
    padding:0 3px 3px;
    width:80px;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#636363;
}
.fixed-table td {
    padding:5px 0;    
}
.us-query-report{
    float:none;
}
.us-query-report em{
    color:#acacac;
    font-family:"宋体";
    font-size:12px;
}
.ureport{ 
    padding-bottom:15px;
    border-bottom:1px #e4e4e4 dotted;
    float:left; 
}
.us-report{
    float:left;
    border-top:1px dotted #e4e4e4;
    margin-right:26px; 
    padding-top:15px;
    width:632px
}
.us-result{
    padding:10px;
    padding-bottom:0;
}
.us-result_tit{
    height:40px;
    line-height:40px;
    background:#e4e4e4;
    color:#636363;
    padding:0 7px;
}
.us-result_tit em{
    margin-right:20px;
    font-style:normal;
}
.us-result_tit span{
    float:right;
}
.us-result_tit span a{
    color:#cf6b00;
}
.us-result table{
    width:100%;
}
.us-result th{
    line-height:27px;
    background-color:#F8F8F8;
    border-bottom:1px solid #E4E4E4;
    padding:5px 5px;
    color:#404040;
}

.us-result table tbody tr:hover,.us-result table tbody tr:active,.usResult table tbody tr:hover,.usResult table tbody tr:active,.currentList{
    background:#fff6f0;
    cursor:pointer;
}

.us-result td{
    line-height:20px;
    color:#636363;
    padding:15px 3px;
    border-bottom:1px dashed #E4E4E4;
}
.us-body .text1{
    color:#cf6b00;
}
.us-body .text2{
    color:#f60;
}
.us-body .text3 {
    color:#2187c1;
}
.us-body .text4 {
    color:#46a8d7;
}
.us-body .text0{
    white-space:nowrap;
    display:block;
    overflow:hidden;
    text-overflow: ellipsis
}
.us-result td div.oper{
    color:#999;
}

.us-result s{
    font-size:14px;
    font-family:arial;
}
.us-noresult{
    padding:50px 0 80px 250px;
    height:100%;
    overflow:hidden;
}
.us-noresult_img{
    background:url(../images/store/no_result.png) no-repeat center center;
    width:84px;
    height:84px;
    float:left;
}
.us-noresult_con{
    float:left;
    font-size:14px;
    color:#616161;
    line-height:84px;
    margin-left:15px;
}
.us-actions .adaptiveButton .center{
    padding:0 15px;
    font-size:14px;
}
.us-actions .adaptiveButton{
    margin-left:20px;
}
.us-actions{
    margin-top: -10px;
    top: -5px;
    position: relative;
    padding: 10px 0;
    line-height:35px;
    border-top:1px solid #eee;
}
.us-actions .text1{margin-right:15px;}
.us-actions .item{margin-right:20px;}

i.ucnav_03{ background-position: 0 0; width: 12px; height: 12px; } 
i.ucnav_07{ background-position: 0 -62px; width: 17px; height: 17px; } 
i.ucnav_10{ background-position: 0 -129px; width: 17px; height: 15px; } 
i.ucnav_12{ background-position: 0 -194px; width: 16px; height: 15px; } 
i.ucnav_15{ background-position: 0 -259px; width: 16px; height: 13px; } 
i.ucnav_17{ background-position: 0 -322px; width: 16px; height: 14px; } 
i.ucnav_19{ background-position: 0 -386px; width: 14px; height: 15px; } 
i.ucnav_22{ background-position: 0 -451px; width: 15px; height: 16px; } 
i.ucnav_26{ background-position: 0 -517px; width: 14px; height: 14px; } 
i.ucnav_29{ background-position: 0 -581px; width: 34px; height: 33px; } 
i.ucnav_32{ background-position: 0 -664px; width: 34px; height: 33px; } 
i.ucnav_36{ background:url(../images/store/ucnavs_36.png) no-repeat; width: 34px; height: 34px; } 
i.ucnav_37{ background:url(../images/store/ucnavs_37.png) no-repeat; width: 34px; height: 34px; } 
i.ucnav_33{ background-position: 0 -800px; width: 19px !important; height: 15px; }
i.ucnav_34{ background-position: 0 -840px; width: 18px !important; height: 16px !important; }
i.ucnav_35{ background-position: 0 -860px; width: 34px ; height: 33px ; }
i.ico_tuifeipiaoguiding{ background-position: 0 -720px; width: 34px; height: 33px; }
i.ico_shengcangguidign{ background-position: 0 -760px; width: 34px; height: 33px; }

.ac-oper .active{
    background-position:0 0px;
}
.ac-oper i{
    display:inline-block;
    margin-left:5px;
    width:10px;
    height:7px;
    background:url(../images/store/up_down.png) no-repeat 0 -6px;
}
.us-result .hyper-text{
    border:1px solid #ccc;
}


.tabListDetail{ width:100%; margin-bottom:25px;}
.tabListDetail th{ padding:13px 5px 13px 10px; color:#404040; background:#f8f8f8; border-bottom:1px solid #e4e4e4;}
.tabListDetail td{ padding:13px 5px 13px 10px; border-bottom:1px dashed #e4e4e4;}
.tabListDetail .orangeFontsf60{ color: #ff6600; font-weight: bold;}
.btnStyle .cancelBtn{
    margin-left: 30px;
    text-decoration: underline;
}

.tabListDetail td div {
  line-height: 20px;
}
.tabListDetail .haveAdjustment .adjustment {
  background: #f1634c;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #FFFFFF;
  padding: 1px 2px;
  margin-right: 2px;
}
.haveAdjustment .operator {
  color: #999999;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}
.f60{
    color:#f60!important;
}
.payOrderBtn,.payOrderBtn:link,.payOrderBtn:visited{
    width:58px;
    height:24px;
    line-height:24px;
    display:inline-block;
    border:1px solid #8eceec;
    text-align:center;
    color:#0c8ec9;
    border-radius:1px;
    text-decoration:none;
}
.payOrderBtn:hover{
    background:#0c8ec9;
    border:1px solid #0c8ec9;
    color:#fff;
    text-decoration:none;
}
.marginL{
    margin-left:5px;
}
.orderName{
    width:190px;
    height:20px;
    line-height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
    vertical-align: middle;
}

