@charset "utf-8";
/* CSS Document */

.order{ margin:10px 0; border:1px solid #dcc791; background:#fafadb; padding:20px 10px 20px 25px; color:#636363;}
.present{ width:37%; float:left; border-right:1px dashed #dcc791;}
.succeed{ margin-bottom:10px; height:40px; line-height:40px;}
.succeed h3{ padding:0 15px 0 50px; background:url(../images/store/succeed.png) no-repeat left center; font-size:14px; font-weight:bold; float:left;}
.succeed p{ float:left;}
.ordernum,.money{ padding:5px 0;}
.ordernum em,.money em{ width:70px; display:inline-block;}
.ordernum span{ color:#cf6b00; font-size:14px; margin-right:20px;}
.money b{ color:#ff6500; font-size:16px;}
.prompt{ widows:58%; float:left; line-height:20px; margin-top:2%; padding:0 0 0 20px;}
.prompt h3{ font-size:12px; font-weight:bold; margin-bottom:5px;}
.prompt b{ color:#ff6500;}
.prompt p{ width:570px;}
.pay{ border:1px solid #e1e1e1; color:#636363;}
.gopay,.recharge{ margin:10px 15px 20px 10px;}
.gopay td,.recharge td{ line-height:45px; padding-left:5px;}
.gopay td:first-child,.recharge td:first-child{ text-align:right;}
.gopay em,.recharge em{ color:#9d9d9d;}
.gopay input,.recharge input{ width:130px; height:22px;}
.gopay a,.recharge a{ font-size:14px;}
.gopay b,.recharge b{ font-size:16px;}

.offline,.on_line{ padding:20px 20px 25px;}
.transfer{ line-height:28px;}
.transfer h3{ font-size:13px; font-weight:bold;}
.transfer p span{ color:#ff6500; font-weight:bold;}
.transfer p b{ color:#888888;}
.hornTip{ background:url(../images/store/horn.jpg) no-repeat left center; padding-left:18px;}
.bank{ margin-top:10px; color:#444444;}
.bank td{ height:30px; padding-bottom:5px; vertical-align:bottom; border-bottom:1px dashed #e1e1e1;}
.bank a{ color:#57b2ff; vertical-align:bottom; display:inline-block; padding-left:35px; padding-top:8px;}
.bank a:hover{ text-decoration:none; color:#ff6500;}
.traffic{ background:url(../images/store/bank.jpg) no-repeat 0 0;}
.industry{ background:url(../images/store/bank.jpg) no-repeat 0 -28px;}
.build{ background:url(../images/store/bank.jpg) no-repeat 0 -56px;}
.farming{ background:url(../images/store/bank.jpg) no-repeat 0 -82px;}

.terrace b,.tip div b{ width:80px; display:inline-block; text-align:right;}
.terrace label{ height:25px; padding:5px 80px 5px 10px; border:1px solid #dddddd; vertical-align:middle; margin-right:45px; display:inline-block; line-height:25px;}
.terrace label input{ height:25px; border:0; margin-right:5px;}
.terrace i{ width:59px; height:19px; display:inline-block; background:url(../images/store/payTerrace.jpg) no-repeat 0 0;}
.terrace em{ width:64px; height:23px; display:inline-block; background:url(../images/store/payTerrace.jpg) no-repeat 0 -24px;}
.terrace span{ width:67px; height:25px; display:inline-block; background:url(../images/store/payTerrace.jpg) no-repeat 0 -52px;}
.tip{ margin:25px 0;}
.tip p{ margin-left:127px; line-height:20px;}
.tip_p{ margin-top:10px; margin-bottom:10px;}
.e-bank{ margin-left:80px;}
.e-bank label{ height:23px; width:170px; padding:7px 0px 7px 10px; border:1px solid #dddddd; vertical-align:middle; margin:0 25px 20px 0; display:inline-block; line-height:23px;}
.e-bank input{ height:23px; border:0; margin-right:5px;}
.e-bank label:hover{ border:1px solid #f1634c;}
.e-bank a{ font-size:14px;}
.agriculture{ width:103px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 0;}
.commerce{ width:100px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -71px;}
.construct{ width:102px; height:22px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -272px;}
.citic{ width:93px; height:22px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -196px;}
.postal{ width:107px; height:16px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -25px;}
.china{ width:100px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -96px;}
.business{ width:85px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -148px;}
.shenzhen{ width:103px; height:17px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -223px;}
.tsation{ width:78px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -46px;}
.spdb{ width:72px; height:20px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -123px;}
.brighten{ width:106px; height:19px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -173px;}
.shanghai{ width:75px; height:21px; display:inline-block; background:url(../images/store/E-bank.jpg) no-repeat 0 -247px;}
.look{ margin:20px 0;}
.look a{ margin-right:10px; font-size:14px;}
.distance{ margin:5px 0;}















