/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}


/* Smartphones (landscape) */
@media only screen and (min-width : 320px) {

}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

}

/* iPads (landscpae and portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) /* and (orientation: portrait) */ {

}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    
}


/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}


/* iPhone 4 (landscape and portrait) */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {


}

/* iPhone 4 (landscape) */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation: landscape),only screen and (min-device-pixel-ratio : 1.5) and (orientation: landscape) {


}

/* iPhone 4 (landscape and portrait) */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation:portrait) ,only screen and (min-device-pixel-ratio : 1.5) and (orientation:portrait) {

}


@media screen and (max-width : 640px) {

}

@media screen and (max-width : 800px) {

}


@media screen and (max-width : 1024px) {

}


/* 宽屏 */
@media only screen and (min-width : 1224px) {

}

/* 超宽屏 */
@media only screen and (min-width : 1824px) {

}

body{
    background:url(../images/store/r2.png) repeat-x;
}
.main-wrapper{
    font-size:12px;
    background:url(../images/store/l2.jpg) no-repeat 50% 0;
}
.main-header{
    position:relative;
    width:980px;
    margin:0 auto;
    height:110px;
}
.main-header .phone{
    position:absolute;
    top:65px;
    right:0;
    display:block;
    text-indent:102%;
    width:198px;
    height:40px;
    overflow:hidden;
    white-space:nowrap;
    background:url(../images/store/c1.png) no-repeat 0 50%;
}
.main-links{
    position:absolute; 
    right:0;
    top:10px;
}
.main-links li{
    position:relative;
    float:left;
    background:url(../images/store/i4.png) 0 50% no-repeat;
    padding:0 10px;
}
.main-links .first{
    background:none;
}
.main-links a{
    color:#6d6d6d;
}
.main-nav{
    height:40px;
    line-height:40px;
    position:absolute;
    top:65px;
    left:200px;
}
.main-nav li{
    width:109px;
    float:left;
    background:url(../images/store/i7.png) 0 50% no-repeat;
}
.main-nav .first{
    background:none;
}
.main-nav a{
    width:110px;
    height:40px;
    display:block;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    text-align:center;
    position:relative;
    z-index:1;
}
.main-nav a:hover{
    text-decoration:none;
    background-color:#bf2f17;
}
.main-nav .active a{
    background-color:#bf2f17;
    position:relative;
    z-index:1;
}
.main-body{
    width:980px;
    margin:10px auto;
    min-height:400px;
}
.main-footer{
    color:#969696;
    background-color:#EAEAEA;
    height:93px;
    border-top:1px solid #CACACA;
}
.main-footer center{
    margin-top:20px;
}
.main-footer a{
    color:inherit;
}
.main-footer .bar{
    margin:0 5px;
}
.logo h1{
    display:none;
}
.logo{
    position:absolute;
    width:175px;
    height:105px;
    display:block;
    background:url(../images/store/logo.jpg) no-repeat;
}
.arrow-down{
    position:absolute;
    width:20px;
    height:14px;
    background:url(../images/store/i3.png) 50% 50% no-repeat;
}
.icon-message{
    position:absolute;
    width:20px;
    height:14px;
    background:url(../images/store/i1.png) 50% 50% no-repeat;
    left:7px;
}
.message-count{
    position:absolute;
    width:20px;
    height:16px;
    line-height:16px;
    text-align:center;
    color:#fff;
    display:block;
    top:-4px;
    right:9px;
    background:url(../images/store/i2.png) 50% 50% no-repeat;
}
.link-user{
    padding-right:20px;
}
.link-message{
    padding:0 20px;
}

.row { *zoom: 1; }
.row:before, .row:after { display: table; line-height: 0; content: ""; }
.row:after { clear: both; }


.pull-right {float: right;}
.pull-left {float:left;}



.adaptiveButton{display:inline-block;margin:0 2px;vertical-align:middle; cursor:pointer;}
.adaptiveButton:hover{ text-decoration:none;}
.adaptiveButton .center{padding:0 20px; color:#ffffff;}
.brightRed_btn  span{float:left; height:35px; line-height:35px;}
.brightRed_btn .left{background:url('../images/store/big_btn.png') 0 0 no-repeat;width:5px}
.brightRed_btn .center{background:url("../images/store/big_btn.png") 0 -40px repeat-x;}
.brightRed_btn .right{background:url('../images/store/big_btn.png') 0 -80px no-repeat;width:5px}
.brightRed_btn:hover .left{background:url('../images/store/big_btn.png') 0 -120px no-repeat;width:5px}
.brightRed_btn:hover .center{background:url("../images/store/big_btn.png") 0 -160px repeat-x;}
.brightRed_btn:hover .right{background:url('../images/store/big_btn.png') 0 -200px no-repeat;width:5px}
.mediumOrange_btn  span{float:left; height:30px; line-height:30px;}
.mediumOrange_btn .left{background:url('../images/store/big_btn.png') 0 -240px no-repeat;width:5px}
.mediumOrange_btn .center{background:url("../images/store/big_btn.png") 0 -275px repeat-x;}
.mediumOrange_btn .right{background:url('../images/store/big_btn.png') 0 -310px no-repeat;width:5px}
.mediumOrange_btn:hover .left{background:url('../images/store/big_btn.png') 0 -345px no-repeat;width:5px}
.mediumOrange_btn:hover .center{background:url("../images/store/big_btn.png") 0 -380px repeat-x;}
.mediumOrange_btn:hover .right{background:url('../images/store/big_btn.png') 0 -416px no-repeat;width:5px}




.headline{ width:100%; height:40px; line-height:40px; border-bottom:1px solid #d5b6a3;}
.headline h3{ width:25%; height:38px; font-size:16px; font-weight:bold; color:#f1634c; border-bottom:2px solid #f1634c; padding-left:10px; float:left;}
.headline ul{ float:right; color:#797979;}
.headline ul li{ float:left; padding:0 13px;}
.pitch-on,.headline ul li:hover{ font-weight:bold; background:url(../images/sprite/headline.png) no-repeat center bottom; cursor:pointer;}
.bannerAndTicket{ width:980px; height:330px; position:relative;}
.ticket{ position:absolute; top:18px; left:0;}
.ticket ul{ width:110px; height:290px; float:left; border-bottom:2px solid #d1d1d1; margin-left:5px; background:url(../images/store/passenger.jpg) repeat-y;}
.ticket ul li{ line-height:40px; border-bottom:1px solid #e6e0d3; font-size:14px;}
.ticket ul .ticket_li{ margin-top:20px; color:#fff; background:url(../images/sprite/ticket_bg.png) no-repeat -2px center; border-bottom:0;}
.ticket ul li:hover{ background:url(../images/sprite/ticket_bg.png) no-repeat -2px center; color:#fff;}
.ticket ul li em,.ticket ul li i,.ticket ul li span{ margin-right:5px; width:18px; display:inline-block; margin-left:10px;}
.ticket ul li em{ background:url(../images/sprite/plane.png) no-repeat 0 center;}
.ticket ul li i{ background:url(../images/sprite/plane.png) no-repeat -39px center;}
.ticket ul li i:hover{ background:url(../images/sprite/plane.png) no-repeat -56px center;}
.ticket ul li span{ background:url(../images/sprite/plane.png) no-repeat -74px center;}
.ticket ul li span:hover{ background:url(../images/sprite/plane.png) no-repeat -92px center;}
.search_btn{ margin:10px 0 0 53px;}
.range{ width:320px; height:290px; background:#fbfeff; float:left; border-right:1px solid #d9d8d0; border-bottom:2px solid #d1d1d1; border-left:1px solid #d9d8d0; padding-left:15px;}
.cut{ margin-top:20px;}
.cut b,.cut label{ margin-right:15px;}
.cut label input{ margin-right:5px; border:0;}
.range_tab{ width:90%; height:auto; margin-top:15px;}
.range_tab td{ height:43px;}
.range_tab td input{ width:195px; height:30px; padding-left:3px;}
.range_tab i{ width:25px; height:10px; border-top:1px solid #cccccc; border-right:1px solid #cccccc; display:inline-block;}
.range_tab em{ padding:3px; height:13px; line-height:13px; display:inline-block; border:1px solid #cccccc; float:right; margin-right:-10px;}
.range_tab span{ width:25px; height:10px; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; display:inline-block;}
.specialAndInquiries{ width:980px; margin-top:20px;}
.preference{ width:660px; height:auto; margin-right:15px; float:left;}
.showImg{ width:100%; margin-top:15px;}
.showBigImg{ width:225px; height:350px; float:left; background:url(../images/store/showImg1.jpg) no-repeat; position:relative;}
.showBigImg em{ width:25px; height:35px; display:inline-block; background:url(../images/sprite/gift.png) no-repeat; position:absolute; top:-2px; left:5px;}
.showBigImg div{ width:100%; padding:7px 0; text-align:center; line-height:22px; position:absolute; left:0; bottom:0; background:#86796f;}
.showBigImg div p{ color:#fff;}
.showBigImg div span,.showright dl dd span,.weather_ul li ul li em,.odds_show dl dd span{ color:#ff6500;}
.showright{ width:430px;}
.showright dl{ width:120px; height:165px; margin-bottom:18px; margin-left:22px; float:left; position:relative;}
.showright dl dt{ float:left; width:120px; height:120px; margin-bottom:5px;}
.showright dl dd,.odds_show dl dd{ text-align:center; line-height:20px;}
.showright dl em{ width:25px; height:35px; display:inline-block; background:url(../images/sprite/gift.png) no-repeat; position:absolute; top:-2px; left:88px;}
.advert{ margin-top:20px;}
.airline,.weather{ width:100%; margin-top:20px;}
.airline_ul,.weather_ul{ width:100%; height:auto;}
.airline_ul li{ float:left; width:28%; background:#f2f2f2; padding:15px 10px; margin:15px 20px 0 0;}
.airline_ul li div label{ float:right;}
.airline_ul li div label i{ color:#ff6500;}
.airline_ul ul li{ float:left; margin-right:15px; padding:0; width:auto; color:#505050; margin-top:20px;}
.weather_ul li{ float:left; width:12%; padding:10px 5px; margin:15px 5px 0 0;}
.weather_ul li:first-child,.weather_ul li:last-child{ background:#f2f2f2;}
.weather_ul li ul li:first-child,.weather_ul li ul li:last-child{ background:none;}
.weather_ul li ul{ width:100%;}
.weather_ul li ul li{ float:left; line-height:25px; background:none; text-align:center; padding:0; margin:0; width:100%;}
.enquiry{ width:300px; height:auto; float:right;}
.dimension{ width:90%; padding:15px; background:#fef9ef; border:1px solid #e1e1e1;}
.dimension dl{ width:100%; border-bottom:1px dashed #e2dac9; padding-bottom:15px;}
.dimension dl dt{ float:left; width:86px; height:86px; margin-right:15px;}
.dimension dl dd h3{ font-size:14px; font-weight:bold; margin-bottom:7px;}
.dimension dl dd p{ line-height:20px;}
.commitment{ width:100%; margin-top:15px;}
.commitment li{ width:33%; float:left;}
.commitment li img{ width:61px; height:53px; float:left; margin:0 0 5px 10px;}
.commitment li span{ width:100%; text-align:center; float:left; color:#cd9c3a;}
.inland{ width:100%; border:1px solid #e1e1e1; border-top:0;}
.inland h3{ height:40px; line-height:40px; background:#f8f8f8; border-bottom:1px solid #e1e1e1; padding-left:20px; font-size:14px; font-weight:bold; color:#f1634c;}
.inland dl{ padding:15px 0; width:50%; float:left;}
.inland dl dt{ float:left; margin-bottom:7px; width:100%;}
.inland dl dt img{ vertical-align:absmiddle; margin-left:25%;}
.inland dl dd{ text-align:center; width:100%;}

.two_col {padding:15px 0px;}
.two_col li {width:50%;display:inline-block;float:left;text-align:center;padding:10px 0;}
.applyfor{ margin-top:10px;}

.free{ width:100%; height:15px; padding-left:20px; background:url(../images/store/smallPicture.png) no-repeat 0 0; margin:20px 0;}
.tavern{ width:980px; margin-bottom:20px; background:url(../images/store/l1.jpg) no-repeat;}
.hotel{ width:395px; padding:15px; border:1px solid #e1e1e1; border-right:0;}
.hotel_title{ width:100%; height:40px; line-height:40px; border-bottom:1px solid #d5b6a3;}
.hotel_title h3{ width:30%; height:38px; border-bottom:2px solid #f1634c; float:left; padding-left:10px; font-size:14px; font-weight:bold; color:#f1634c;}
.hotel_title div{ float:right;}
.hotel_title div em{ width:20px; display:inline-block; vertical-align:middle; height:15px; background:url(../images/store/smallPicture.png) no-repeat 0 -18px; margin-left:3px;}
.hotel_tab{ width:100%; margin-top:10px;}
.hotel_tab td{ padding:0 8px; height:45px; line-height:45px;}
.hotel_tab td input{ width:210px; height:22px; padding-left:3px;}
.hotel_tab td:first-child{ text-align:right;}
.odds_show{ width:100%; margin-top:20px;}
.odds_show dl{ width:150px; margin-right:55px; float:left; position:relative;}
.odds_show dl dt{ float:left; width:150px; height:150px; margin-bottom:5px;}
.odds_show dl em{ width:25px; height:35px; display:inline-block; background:url(../images/sprite/gift.png) no-repeat; position:absolute; top:-2px; left:120px;}













.gray-bordered {border:1px solid #e1e1e1;}
.title h3 {padding:0 15px;color:#f1634c;font-size:16px;font-weight:bold;}
.title strong {padding:0 25px 0 10px;line-height:40px;display:inline-block;border-bottom:2px solid #f1634c;position:relative;top:1px;}
.one_way,.round_trip {padding:10px 20px;position:relative;}
.col {float:left;}
.col strong {display:block;margin:50%;font-weight:bold;font-size:14px;}
.one_way .col label,.round_trip .col label {display:block;padding:5px;line-height:30px;}
.one_way .col input ,.round_trip .col input {width:150px; border:1px solid #bcbdc2;height:28px;font-size:14px;margin-left:10px;}
.trip_type {padding:10px 40px;}
.trip_type label {padding-left:10px;}
.tel {background: url("../images/store/i6.png") no-repeat scroll left top transparent; display: inline-block; height: 16px; text-indent: 20px; }



.btn_area {position:absolute;right:20px;top:33%;}
.xchange {position:absolute;top:30px;left:240px;width:25px;}
.xchange b,.xchange span,.xchange i {display:block;}
.xchange b,.xchange i {margin:3px 0;height:8px;border-right:1px solid #cccccc;right:0px;}
.xchange b {border-top: 1px solid #CCCCCC;}
.xchange i {border-bottom: 1px solid #CCCCCC;}
.xchange span {cursor:pointer;height:16px;padding:2px 0px;border:1px solid #cccccc;position:relative;left:10px;text-align:center;}

