/**
 *
 * hotel
 **/
.create_order {margin-top:10px;}
.side_info figure {border-top:1px solid #f1634c;padding:10px;}
.side_info figcaption {text-align:center;padding:7px 0 0;font-weight:bold;}
.side_info table {margin:0 auto 10px ;}
.side_info td {padding:5px 3px;}
.title strong {border-bottom:1px solid #F1634C;background-color:#ffffff;}

#h_order_info {}
.checkin_info th,.checkin_info td {padding:10px 5px;}
.checkin_info th {text-align:right;}
.checkin_info th em {color:#f1634c;}
.checkin_info .datepicker {}

#h_order_info .row {margin-bottom:10px;}


