/**
 *
 * hotel
 **/
.create_order {margin-top:10px;}
.side_info figure {border-top:1px solid #f1634c;padding:10px;}
.side_info figcaption {text-align:center;padding:7px 0 0;font-weight:bold;}
.side_info table {margin:0 auto 10px ;}
.side_info td {padding:5px 3px;}
.title {background-color:#ffffff;}
.title strong {border-bottom:1px solid #F1634C;}

#h_order_info {position: relative ;}
.checkin_info th,.checkin_info td {padding:10px 5px;}
.checkin_info th {text-align:right;}
.checkin_info th em {color:#f1634c;padding:0 3px;}
.checkin_info .datepicker {}

#h_order_info .row {margin-bottom:10px;}
.row table {color:#636363;}
.row section {padding:10px;}
.hotel_rule th {text-align:right;font-weight:bold;} 
.hotel_rule th,.hotel_rule td {padding:5px;}

.contacts td,.contacts th {padding:5px;}
.contacts th {text-align:right;}
.contacts em {color:#f1634c;padding:0 3px;}
.contacts input {height:23px;}

.summary {padding:10px;}
.summary strong {font-size:20px;padding:10px;}
.booking {padding:20px 0px;}

#frequentFlyerContainer {position:absolute;right:30px;top:100px;}

.change_date {padding:10px;margin:0 auto;}
.change_date li {padding:5px 0 ;}

.hotel_search .condition {padding:10px;border-bottom:none;}
.hotel_search .condition label {padding:10px;}

