/* 采购商/用户中心 by shaotian.hu */
.tab_change li em{
    float:left;
    width:65px;
    text-align:center;
}
.us-content input[type="text"]{
    border:1px solid #ABADB3;
    height:23px;
    width:134px;
    padding:0 2px;
    line-height:23px \9;
}
.us-bind{
    padding:10px;
}
.us-bind a{
   padding:3px 0; 
}
.us-nav{
    float:left;
    width:180px;
}
.us-nav .text1{
    color:#e94749;
}
.us-nav i{
    margin-right:5px;
    vertical-align:text-bottom;
    display:inline-block;
    background:url(../images/store/ucnavs.png) no-repeat;  
}
.us-nav dt i{
    width:16px;
}
.us-nav .ic-j{
    padding-left:15px;
}
.us-nav .ic-j i{
    vertical-align:middle;
}
.us-content{
    float:left;
    width:788px;
    margin-left:10px;
}
.us-body{
    border:1px solid #E1E1E1;
}
.us-title{
    font-size:14px;
    font-weight:bold;
    color:#505050;
    border-bottom:1px solid #E1E1E1;
    padding:10px 5px;
    margin-bottom:10px;
}
.us-nav a{
    color:#505050;
}
.us-nav dd a{
    display:block;
    padding:10px 30px;
}
.us-nav .current{
    color:#fff;
    background-color:#F1634C;
}
.us-nav{
    background-color:#F8F8F8;
    color:#505050;
    border:1px solid #E1E1E1;
}
.us-nav dt{
    background-color:#EAEAEA;
    padding:10px;
    font-size:14px;
    font-weight:bold;
}
.us-nav h3{
    font-weight:bold;
   font-size:16px; 
   background-color:#EAEAEA;
   padding:10px;
   border-bottom:2px solid #F1634C;
}
.us-query{
    padding:20px 10px;
}
.us-query .brightRed_btn{
    margin-top:15px;
}
.us-query-table{
    float:left;
}
.us-query-table th{
    color:#636363;
    text-align:right;
    padding:5px 0;
}
.us-query-table td{
    padding:5px 0;
    padding-right:20px;
}
.us-result{
    padding:10px;
    padding-bottom:0;
}
.us-result table{
    width:100%;
    /*border-bottom:1px solid #fff;*/
}
.us-result th{
    line-height:20px;
    background-color:#F8F8F8;
    border-bottom:1px solid #E4E4E4;
    padding:5px 5px;
    color:#404040;
}
.us-result td{
    line-height:20px;
    color:#636363;
    padding:15px 3px;
    border-bottom:1px dashed #E4E4E4;
}
.us-result .text1{
    color:#cf6b00;
}
.us-result s{
    font-size:14px;
    font-family:arial;
}

i.ucnav_03{ background-position: 0 0; width: 12px; height: 12px; } 
i.ucnav_07{ background-position: 0 -62px; width: 17px; height: 17px; } 
i.ucnav_10{ background-position: 0 -129px; width: 17px; height: 15px; } 
i.ucnav_12{ background-position: 0 -194px; width: 16px; height: 15px; } 
i.ucnav_15{ background-position: 0 -259px; width: 16px; height: 13px; } 
i.ucnav_17{ background-position: 0 -322px; width: 16px; height: 14px; } 
i.ucnav_19{ background-position: 0 -386px; width: 14px; height: 15px; } 
i.ucnav_22{ background-position: 0 -451px; width: 15px; height: 16px; } 
i.ucnav_26{ background-position: 0 -517px; width: 14px; height: 14px; } 
i.ucnav_29{ background-position: 0 -581px; width: 34px; height: 33px; } 
i.ucnav_32{ background-position: 0 -664px; width: 34px; height: 33px; } 

.ac-oper .active{
    background-position:0 0px;
}
.ac-oper i{
    display:inline-block;
    margin-left:5px;
    width:10px;
    height:7px;
    background:url(../images/store/up_down.png) no-repeat 0 -6px;
}
.us-result .hyper-text{
    border:1px solid #ccc;
}
/* EOF */

.detail_content{ padding:0 10px; color:#636363;}
.purseRightHead{ color:#636363; border:1px solid #e1e1e1; padding:15px 10px; margin-bottom:10px;}
.welcome{ padding-bottom:15px; margin-bottom:10px; border-bottom:1px dashed #e4e4e4;}
.recharge{ margin-bottom:0;}
.recharge strong{ font-size:16px; margin-right:5px;}
.recharge strong b{ color:#ff6500;}
.recharge em{ margin:0 20px 0 40px;}
.date{ padding:25px 10px;}
.date em{ padding-right:5px;}
.search_a{ padding:5px 8px; border:1px solid #bbbbbb; background:url(../images/store/gradually.jpg) repeat-x; margin:0 30px 0 10px;}
.find a{ margin: 0 10px;}
.current_find{ font-weight:bold; color:#f1634c;}
.tabListDetail{ width:100%; margin-bottom:25px;}
.tabListDetail th{ padding:13px 5px 13px 10px; color:#404040; background:#f8f8f8; border-bottom:1px solid #e4e4e4;}
.tabListDetail td{ padding:13px 5px 13px 10px; border-bottom:1px dashed #e4e4e4;}
.tabListDetail a{ color:#cf6b00;}

.tab_window{ width:100%; border-bottom:1px solid #e1e1e1;}
.tab_window li{ float:left; padding:10px 0; font-weight:bold; color:#636363;}
.currentWindow{ background:#fff; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-top:1px solid #e1e1e1; border-bottom:1px solid #fff; margin:0 0 -1px -1px;}
.currentWindow a{ color:#f1634c;}
.tab_window li em{ padding:0 15px; font-weight:bold; margin-left:-1px;}
.tab_window a:hover,.tab_window a:visited,.tab_window a:active{ text-decoration:none;}
.pay{ border:0; margin:0 auto;}
.callOff{ color:#636363; text-decoration:underline; margin-left:10px;  vertical-align:middle;}
.paymentCode{ color:#636363; margin:0 auto 20px auto;}
.paymentCode td{ line-height:40px;}
.paymentCode td:first-child{ text-align:right;}
.minHeight{ min-height:965px;}





















