@charset "utf-8";
/* CSS Document */

/* 重置页面头部*/
body{ background:url(../images/store/landing_bg.jpg) repeat-x;}
.main-header{ height:55px;}
.main-nav{ top:8px; line-height:35px; font-size:14px; font-weight:bold;}
.main-nav a{ height:35px;}
.main-header .phone{ height:35px; top:10px;}
.landing_logo{ background:url(../images/login/landing_logo.png) no-repeat; width:105px; height:36px; display:inline-block; margin-top:5px;}
.main-nav{ left:300px;}
.main-wrapper{ background:none;}
.font_weight{ font-weight:bold; margin-left:30px;}
/* 重置页面头部*/

.chief{ border-bottom:1px solid #e1e1e1; background:#f8f8f8; padding-top:10px;}
.chief h3{ width:10%; font-size:14px; font-weight:bold; color:#f1634c; border-bottom:2px solid #f1634c; padding:0 0 10px 10px; margin-bottom:-1px;}
.regist{ border:1px solid #e1e1e1; color:#636363;}
.message{ width:75%; margin:20px auto;}
.message h3{ font-size:14px; font-weight:bold; padding-bottom:7px; border-bottom:1px dashed #e1e1e1;}
.mes_tab{ margin-top:15px;}
.mes_tab td{ line-height:30px; padding:5px 0;}
.mes_tab input{ width:270px; height:25px; border:1px solid #abadb3; line-height:25px; padding-left:3px;}
.mes_tab td:first-child{ text-align:right; padding-right:15px;}
.mes_tab i{ color:#ff0000;}
.mes_tab em{ color:#9d9d9d; margin-left:10px;}
.mes_tab label{ margin-right:30px;}
.mes_tab label input{ width:auto; border:0; vertical-align:middle;}
.mes_tab select{ width:132px; margin-right:5px; height:25px; line-height:25px;}
.hint input{ border:1px solid #cf0708;}
.hint small{ position:relative; border:1px solid #d49d0f; background:#fafadb; padding:7px; margin-left:10px; font-size:12px;}
.hint small span{ position:absolute; width:5px; height:7px; display:inline-block; background: url(../images/sprite/hint.png) no-repeat; top:40%; left:-5%;}
.mes_tab textarea{ width:530px; height:80px; padding:3px;}

.retrive_password {padding:20px;}
.mail_title {font-size:24px;}
.mail_title h1 {font-weight:bold;}
.mail_title h1 strong {color:#f1634c;font-weight:bold;}
.mail_body p {color:#646464;padding:10px 0px;}
.tel {background:none;text-indent:0;}
.tel b {color:#f1634c;}
.more {font-size:14px;}
.mail_body .text {margin:20px 0;}
.mail_body .text1 {padding:20px 0 0 0;}
.mail_body .text3 {border-top:1px dotted #aaaaaa;padding:20px 0 0 0;}

.mail_body .more {color:#646464;}

.find_password {width:550px;margin:40px auto;color:#636363;}
.find_password li {padding:10px 0px;}
.find_password label div {float:left;width:120px;text-align:right;padding:0 10px 0 0;}
.login_mail {color:#cf6b00;}
































