/*  公共样式   比如：body 字体，等等  */
body {
	font-size: 12px;
	color: #333;
}



/*  搜索列表页  By:shuaigeng.zhao;  */

.cruiseSearchTop {
	margin-top: 35px;
}

.cruiseIndexBannerBG {
	background: url(../images/cruise/searchListTopBg.jpg) center no-repeat #05307b ;
	width: 100%;
	height: 240px;
	position: absolute;
	top: 0;
	z-index: -1;
}

.searchWrapper {
    width: 980px;
    margin: 0 auto;
}

.searchBar {
	background-color: #5eb6f1;
	border-radius: 2px;
	padding: 4px 0px;
	margin-top: 32px;
}

.searchBar .whiteBlock {
	background-color: #fff;
	width: 208px;
	float: left;
	margin-right: 5px;
	padding: 1px;
	border-radius: 2px;
}

.searchBar .whiteBlock:first-child {
	margin-left: 5px;
}

.searchBar .searchBtn {
	font-size: 16px;
	color: #fff;
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	cursor: pointer;
}

.whiteBlock .blockTitle {
	color: #074e97;
	font-size: 14px;
	background-color: #e0f2ff;
	padding: 7px;
	height: 32px;
	line-height: 32px;
}

.whiteBlock input[type='text'] {
	width: 120px;
	padding-left: 2px;
	height: 32px;
	line-height: 32px;
	border: none;
	color: #333;
	font-size: 14px;
}

.searchWrapper .hotCity{
    margin: 15px 0 0 10px;
    color: #bababa;
}
.hotCity .hotCityTitle{
    font-weight: bold;
}
.hotCity .cityLink a{
    color: #bababa;
    margin-right: 13px;
    text-decoration: underline;
}
.hotCity .cityLink a:hover{
    color: #fff;
}

.filterList {
	color: #636363;
}

.filterItem {
	padding: 8px 12px;
}

.filterList .filterTitle{
	float: left;
	overflow: hidden;
	display: block;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 65px;
	text-align: right;
}

.filterList .filterCheck {
	float: left;
}

.filterCheck span {
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
}

.filterCheck span.selectedSpan, .filterCheck span:hover {
	background: #52a0e5;
	min-width: 55px;
	color: #fff;
}

.filter_priceRange {
	float: left;
}

.filter_priceRange input[type='text'] {
	width: 70px;
	padding-left: 2px;
	height: 22px;
	line-height: 22px;
}