@charset "utf-8";
/* CSS Document */

/*  订单详情页  By:shuaigeng.zhao */

.back-text {
	cursor: pointer;
}

.instr {
	position: relative;
	overflow: hidden;
	margin: 0 10px;
}

.instr span {
	position: relative;
	z-index: 1;
	padding-bottom: 25px;
	display: block;
	float: left;
	background: url(../images/store/flowDot.jpg) 50% 29px no-repeat;
	margin-right: 10px;
	min-width: 100px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #b9b9b9;
}

.instr .highlight {
	background: url(../images/store/flowdeepDot.jpg) no-repeat 50% 25px;
	color: #797979;
	background-position: 50% 29px;
}

.instr .highlight-fl {
	background-image: url(../images/store/travelFlowIcon.jpg);
	background-position: 50% 100%;
	color: #e47965;
}

.instr .line {
	position: absolute;
	display: block;
	height: 2px;
	border-bottom: 2px dotted #e6e6e6;
	bottom: 6px;
	z-index: 0;
	margin-left: -5px;
}

.instr .line div {
	background-color: #c1c1c1;
	height: 2px;
	margin-top: 2px;
}

.newOrder {
	border: 0;
	position: relative;
}

.order {
	color: #636363;
	border: 1px solid #e4e4e4;
	background: #fff;
}

.orderStatus {
	padding-bottom: 10px;
	border: 1px solid #e1e1e1;
	border-bottom: 0;
}

.order .newEndorseOrder {
	border: 0;
	background: none;
	margin: 0;
}

.order .newEndorseOrder .orderNO, 
.order .newEndorseOrder .orderNO strong {
	font-size: 20px;
}

.endorseOrder{ border:1px solid #e1e1e1; border-bottom:0; margin-top:10px; color:#404040; width:100%; margin-bottom:-10px; position:relative; background:#fff;}
.endorseOrder th{ font-weight:500; text-align:left; padding:15px 5px 10px;}
.endorseOrder th:first-child{ padding-left:10px;}
.endorseOrder td:first-child{ padding-left:15px;}
.endorseOrder td{ padding:0px 5px 5px;}

.newEndorseOrder .lightGray888 {color: #888;}

.newEndorseOrder .lightGray4040 {color: #404040;}

.endorsing {
	font-size: 18px;
	color: #f1634c;
	font-weight: normal;
}

.newEndorseOrder .minWidthLabel label {
	display: inline-block;
	min-width: 220px;
	margin-right: 10px;
}

.newOrderTrace{ background: #f7fbff; border: 1px solid #d9e7f3; margin-top: 0; position: relative;}
.newOrderTrace .orderArrowUp{ background: url(../images/store/iconSprite.png) no-repeat -52px -14px; width: 15px; height: 8px; display: inline-block; position: absolute; top: -8px; right: 7%;}
.trace {
	width: 8%;
	font-weight: bold;
	float: left;
	padding: 10px 0 0 10px;
}
.traceList{ float: left; width: 89.5%;}
.traceList li{ float: left; margin-left: 30px; padding: 10px 5px 10px 0; position: relative; border-bottom: 1px dashed #d8e9f9; vertical-align: top;}
.traceList .orderIcon{ position: absolute; top: 18px; left: -23px; background: url(../images/store/iconSprite.png) no-repeat -72px -14px; width: 7px; height: 7px;}
.traceList li label{
    display: inline-block;
    width: 578px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    line-height: 22px;
    vertical-align: top;
    float: left;
}

.traceList li label.orderTraceContent span{
    margin-right: 20px;
}

.traceList li label.orderTraceContentAdd{
    height: 42px;
}


.traceList .opUser {
    float: right;
    color: #888;
    width: 260px;
}
.traceList .orderLine{ display: inline-block; width: 1px; height: 103%; border-left: 1px solid #bed2e4; position: absolute; top: 0; left:-20px;}
.traceList .orderNoLine{ border: 0; width: 100%;}
.traceList .orderOrangeFont{ color: #f1634c; font-size: 14px;}
.flexiBleContent{ display: none;}
.orderFlexibleType {
    width: 90px;
    height: 28px;
    margin: 0 auto;
    border: 1px solid #dbe8f3;
    top: -1px;
    z-index: 2;
    line-height: 28px;
    cursor: pointer;
    background: url(../images/store/downArrowGray.png) no-repeat 75px center #fbfbfb;
    margin-bottom: -11px;
    text-align: center;
    padding-right: 10px;
    
}

.orderFlexibleTypeAdd{
    position: relative;
    left: -52px;
}

.orderFlexibleType.down {
    background: url(../images/store/upArrowGray.png) no-repeat 75px center;
}
.newOrder{
    border: 0;
    position: relative;
}
.twoDimensionOrder{
    position: absolute;
    top: 0;
    right: 0;
}
.twoDimensionOrder .twoDimensionOrderBig{
    width: 120px;
    height: 120px;
    display: none;
    padding:7px;
    border: 1px solid #e1e1e1;
    background: #fff;
}
.twoDimensionOrder .twoDimensionOrderBig_M{
    width: 148px;
    height: 167px;
    display: none;
    cursor: pointer;
}
.twoDimensionOrder .twoDimensionOrderSmall{
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url("../images/store/twoDimensionOrderSmall.png") no-repeat;
    cursor: pointer;
}

.departure{ height:auto; padding:10px 10px 0 10px; border: 1px solid #e1e1e1; margin:10px 0; color:#636363; background:#fff;}
.chief{ border-bottom:1px solid #e1e1e1; padding-top:10px;}
.chief h3{ 
	width: 10%;
	font-size: 16px;
	font-weight: bold;
	color: #f1634c;
	border-bottom: 1px solid #f1634c;
	padding: 0 0 5px 5px;
	margin-bottom: -1px;
}

.departure .operBtn {
	float: right;
	position: relative;
	bottom: 8px;
}

.departure .operBtn span {
	display: inline-block;
	width: 70px;
	height: 22px;
	border: 1px solid #2792d6;
	color: #2792d6;
	text-align: center;
	line-height: 22px;
	margin-right: 5px;
}

.departure .operBtn span:hover {	
	background-color: #2794d6;
	color: white;
	cursor: pointer;
}

.departureAdd {
	position: relative;
}

.route {
	width: 100%;
	margin-top: 10px;
}

.noMarginTop {
	margin-top: 0;
}

.route th {
	background: #f8f8f8;
	padding: 13px 0;
	color: #404040;
	border-bottom: 1px solid #e4e4e4;
}

.route td {
	border-bottom: 1px dotted #e4e4e4;
	padding: 15px 3px;
}

.route th:first-child, 
.route td:first-child, 
.departure .traveller tr td:first-child {
	padding-left: 10px;
}

.route .boldFont16 {
	font-size: 14px;
	color: #404040;
}

.route .peopleType {
	background: #73c889;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-right: 8px;
	vertical-align: middle;
	display: inline-block;
	padding: 4px 6px;
	margin-left: -7px;
}

.route .status {
	color: #ef4423;
	font-size: 14px;
}

.adjustCharge, div.table-adjustCharge {
	line-height: 25px;
	background-color: #f3f9ff;
	border: 1px solid #d6e5f1;
	margin-bottom: 10px;
	padding: 10px;
}

.adjustCharge .cause, .table-adjustCharge .cause {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

.adjustCharge .explain, .table-adjustCharge .explain {
	color: #333333;
	font-size: 14px;
}

.route .status .cost {
	color: #666;
	font-size: 12px;
	margin-top: 5px;
}

.productInfo {
	margin: 10px 0 20px 0;
}

.productInfo td {
	padding: 12px 5px 0 8px;
}

.productInfo .productTitle {
	width: 640px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	font-weight: bold;
}

.productSmallInfo label {
	color: #888888;
	display: inline-block;
	margin-right: 20px;
}

.productSmallInfo .font404040 {
	color: #404040;
}

.orangePrice {
	font-size: 16px;
	color: #ef4423;
}

.greenPrice {
	font-size: 16px;
	color: #009900;
}

.expressInfo .address-detail {
	width: 400px;
	display: inline-block;
	line-height: 18px;
}

.departure .express-type {
	font-size: 16px;
	padding: 12px 0 12px 6px;
	font-weight: bold;
	color: #404040;
}

.accountInfoBlock {
    width:100%;
    margin-top:-10px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC142d59,endColorstr=#CC142d59);
    background: rgba(20,45,89,0.8);
    padding: 2px 0;
}
.inner_accountInfoBlock {
    width:960px;
    padding:15px 10px;
    margin:0 auto;
    text-align: right;
    font-family: sans-serif;
}
.inner_accountInfoBlock b {
    padding:0 5px;
}
.accountInfoBlock .accountCon {
    font-size: 14px;
    vertical-align: middle;
    line-height: 50px;
}
.accountInfoBlock .totlePrice {
    font-size: 26px;
    color: #ff7b24;
    vertical-align:sub;
    margin-right: 10px;
    font-family: "Microsoft YaHei";
}

.icon-arrow-double-up {
	display: inline-block;
	width: 7px;
	height: 8px;
	background: url(../images/store/icon-arrow-double.png) no-repeat 0 0;
	vertical-align: middle;
	position: relative;
	left: 5px;
}

.icon-arrow-double-up.down {
	background: url(../images/store/icon-arrow-double.png) no-repeat 0 -10px;
}

.two-oper-btn-container {
	position: relative;
	display: inline-block;
}

.two-oper-btn-container .two-oper-btn {
	position: absolute;
	bottom: 39px;
	width: 84px;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: none;
}

.two-oper-btn-container .two-oper-btn div {
	height: 28px;
	line-height: 28px;
	color: #666;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
}

.two-oper-btn-container .two-oper-btn div:last-child {
	border-bottom: none;
}

.two-oper-btn-container .two-oper-btn div:hover {
	cursor: pointer;
	background-color: #f6f6f6;
}

.large-warn-icon {
	background: url(../images/store/success-warn-icons.png) no-repeat -40px -20px;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: bottom;
}

.stree-tip-text {
	font-weight: bold;
	font-size: 14px;
	color: #333;
}

.confirm-unsubscribe-win {
	text-align: center;
	font-size: 14px;
	color: #636363;
}

.confirm-unsubscribe-win .stree-tip-text {
	position: relative;
	bottom: 12px;
}

.unsub-detail-list li {
	height: 26px;
	line-height: 26px;
}

.unsub-detail-list li em {
	font-weight: bold;
	color: #ff6633;
	padding: 0 5px;
}

.win-oper-btn-container {
	margin: 10px;
	text-align: center;
	font-size: 14px;
}

.win-oper-btn-container .cancel-oper-link {
	padding: 0 3px;
	text-decoration: underline;
	margin-left: 15px;
}

.win-oper-btn-container .cancel-oper-link:hover {
	cursor: pointer;
	color: #666;
}

.complate-unsubscribe-win {
	font-size: 14px;
}

.unimpot-tip-text {
	color: #636363;
}

.complate-unsubscribe-win p {
	margin: 10px 0;
}

.hintContent {
	background: #fff1e8;
	padding: 10px;
	border: 1px solid #ff6500;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 30px;
}

.hintContent .hintWord {
	float: left;
	color: #f85136;
	margin-right: 15px;
}

.hintContent .hintList {
	float: left;
}

.noBottomBorder td {
	border-bottom: none;
}

.textField {
	width: 640px;
	height: 55px;
}

.remarkTitle {
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
}

.modifyPassengerInfo {
	max-height: 500px;
	overflow: auto;
	font-size: 14px;
}

.tour_infoList:hover {
	background: #f7fcff;
}

.tour_infoList {
	border-bottom: 1px solid #e4e4e4;
	padding: 12px 0;
}

.tour_infoList.noBottomBorder {
	border-bottom: none;
}

.tour_infoListDiv {
	float: left;
}

.tour_infoListDiv p {
	font-weight: bold;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
}

.tour_infoListDiv .peopleType {
	background: #73c889;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
	color: #fff;
	padding: 2px 3px;
	text-align: center;
}

.tour_guestInfo {
	float: left;
}

.tour_guestInfo th {
	text-align: right;
	padding: 6px 5px 6px 0;
}

.tour_guestInfo td {
	padding: 6px 0 6px 5px;
}

.tour_guestInfo input[type=text] {
	height: 23px;
	line-height: 23px;
	border: 1px solid #bbb;
	padding-left: 5px;
	width: 187px;
	vertical-align: middle;
}

.modify-address-win {
	font-size: 14px;
}

.modify-address-win .getType {
	margin: 15px 0 25px 0;
	color: #333333;
}

.modify-address-win .getType label {
	margin-right: 15px;
}

.modifyAddressTab td {
	border-bottom: none;
}

.modifyAddressTab input[type='text'] {
	height: 26px;
}

.modifyAddressTab textarea {
	color: #666;
}

.pay-tip-win {
	font-size: 14px;
}

.pay-tip-win .unimpot-tip-text {
	margin: 15px 0;
}

.pay-tip-win .stree-tip-text {
	margin-top: 10px;
	margin-bottom: 30px;
}

.finishPay_block {
	float: left;
	text-align: center;
	width: 210px;
	border-right: 1px solid #d3d3d3;
}

.rePay_block {
	float: left;
	text-align: center;
	width: 210px;
}