@charset "utf-8";
/* CSS Document */


.sorttab { position:relative;cursor:pointer;}
.sorttab i,.sorttab_line2 i {  width:9px; display:inline-block; position:relative; right:0; top:0; background:url(../images/store/sort.png) no-repeat 0 0;}
.sorttab_line2 i {top:-20px;left:27px;}
.ascend i {background-position: -14px 0;}
.descend i {background-position: -28px 0;}


.flight_search {color:#636363;}
.flight_search .condition li {float:left;padding:15px 0px;}

.separate10 {margin-bottom:10px;}

.flight_search {color:#636363;background-color:#f8f8f8;border:1px solid #e1e1e1;}
.flight_search .condition li {position:relative;float:left;padding:15px 0px;}

.flight_search .condition .trip_type {padding-top:25px;}
.flight_search .trip_type strong {color:#646464;font-weight:bold;}
.flight_search .time_city td {padding:5px 0;}
.flight_search .time_city input {width:180px;height:23px;line-height:23px;}
.flight_search .time_city em {color:#ef482d;padding:0 5px;}
.flight_search .trip_type em {color:#ef482d;padding:0 5px;}
.flight_search .muted em {color:#999999;}
.flight_search .search_history {margin-top:10px;}

.flight_search .internation {padding:20px;border-top:1px dashed #e4e4e4;}
.flight_search .extra {padding:20px 10px;position:relative;}
.flight_search .muti_trip .hitext {font-size:20px;}
.flight_search .muti_trip td {padding:5px 5px;}


.flight_number{ border:1px solid #e1e1e1; position:relative; color:#646464;}
.multi-row{ padding:15px 10px; height:auto; line-height:30px; color:#404040;}
.caption{ padding:0 10px; height:45px; line-height:45px; color:#404040;}
.multi-row div{ width:100%; clear:both;}
.caption h3,.caption p span,.multi-row h3,.multi-row p span{ font-size:14px; font-weight:bold; float:left;}
.caption p,.multi-row p{ float:right;}
.caption p em,.multi-row p em{ color:#ff6500; font-weight:bold; font-size:14px;}
.caption p i,.multi-row p i{ margin:0 10px 0 20px; color:#e94749;}
.caption p strong,.multi-row p strong{ padding:5px 10px; border:1px solid #ccd5de; color:#e94749;}
.number{ border:1px solid #e1e1e1; border-left:0; border-right:0; background:#f8f8f8; padding:0px 10px; color:#404040;}
.number table span,.information span{ position:relative;}
.number strong{ width:9px; height:5px; display:inline-block; background:url(../images/store/up_down.png) no-repeat right top;}
.information{  border-bottom:1px dashed #e4e4e4;}
.information table{ width:100%;}
.information table td{padding:20px 0;}
.information table td:first-child{ padding-left:10px;}
.information div{ line-height:20px;}
.information table i{ color:#e94749;}
.information table big{ color:#ff6500; font-size:12px;}
.information table strong{ color:#ff6500; font-size:13px; font-weight:bold;}
.information table code{ width:16px; height:16px; margin:3px 5px 0 0; display:inline-block; background:url(../images/store/aviation.jpg) no-repeat left center;}
.more-cabin,.more-cabin:hover{ position:relative; color:#636363; text-decoration:none; padding:4px 10px 0 10px; display:inline-block; vertical-align:middle;}
.more-cabin i{ width:9px; height:8px; display:inline-block;background:url(../images/store/up_down.png) no-repeat right -5px; vertical-align:middle; margin-left:2px;}
.information span strong,.route td small{ width:14px; height:14px; display:inline-block; background:url(../images/store/smallPicture.png) no-repeat 0 -58px;}
.information cite{ height:16px; display:inline-block; background:url(../images/store/smiling.png) no-repeat right center; padding-right:18px; vertical-align:middle;}
.information tr:hover,.international table:hover{ background:#fff6f0;}
.information.last{ border-bottom:0;}

.dashed{ border:1px dashed #e4e4e4; border-left:0; border-right:0;}
.dashed_top{ border-top:1px dashed #e4e4e4;}
.bor_bom td { border-bottom:1px solid #e4e4e4 !important;}
.location{ width:448px; position:absolute; top:373px; left:595px;}
.location_1{ width:448px; position:absolute; top:317px; left:790px;}
.floating{ height:auto; background:#fafadb; border:1px solid #dcc791; position:relative; color:#636363;}
.floating i{ width:11px; display:inline-block; position:absolute; background:url(../images/store/upward.png) no-repeat center center; top:-9px; left:50%;}
.floating_title{ width:100%; border-bottom:1px solid #dcc791;}
.floating_title td{ font-weight:bold; padding:10px 0;}
.floating_title td:first-child{ padding-left:7px;}
.floating p{ line-height:22px;}
.aviation{ padding:12px 0px; margin:0 7px; border-bottom:1px dashed #dcc791;}
.aviation td{ height:20px;}
.half_dashed{ padding-bottom:15px; border-bottom:1px dashed #e4e4e4;}
.td_padding{ padding-top:15px;}

.time{ border:1px solid #e1e1e1; margin:0px auto; border-bottom:0; color:#646464;}
.date{ width:100%; height:auto; border-bottom:2px solid #f1634c; margin:0;}
.date li{ float:left; border-right:1px solid #d1d1d1; line-height:20px; background:#f8f8f8;}
.date li a{ width:129px; padding:10px 0px; display:inline-block; text-align:center;}
.date li a:hover{ text-decoration:none;}
.date li em{ color:#ff6500; font-weight:bold; font-size:13px;}
.date li i{ width:11px; height:19px; display:inline-block; background:url(../images/store/arrows.png) no-repeat 0 0; margin:10px 0 0;}
.date li span{ width:11px; height:19px; display:inline-block; background:url(../images/store/arrows.png) no-repeat -16px center;}
.date li b{ font-weight:500; margin-left:3px;}
.date .current{ border-top:2px solid #f1634c; border-left:1px solid #f1634c; border-right:1px solid #f1634c; border-bottom:2px solid #fff; margin:-1px 0 -3px -1px; background:#fff;}
.company{ line-height:20px; padding:10px;}
.company input{ border:0; vertical-align:middle; margin-right:5px;}
.company label{ margin-right:10px;}
.company b{ width:75px; display:inline-block;}
.company span{ margin-left:20px; font-weight:bold;}
.light_pink{ background:#f8f8f8;}
.light_pink td {border-bottom:1px dashed #e4e4e4;}
.first_up {background-color:#ffffff;}
.first_up td {border-bottom:1px solid #e4e4e4;}
.bor_top{ border-top:1px solid #e4e4e4;}

.selected{ width:960px; color:#666666; padding:10px; border:1px solid #e4e4e4; margin-bottom:10px; background:#f8f8f8;}
.selected h3{ width:100%; font-weight:bold; font-size:13px; padding-bottom:10px; border-bottom:1px dashed #e4e4e4;}
.selected_tab{ margin-top:10px;}
.selected_tab td{ line-height:23px;}
.selected_tab td b{ font-weight:bold; color:#404040;}
.selected_tab td em{ font-size:13px; color:#ff6500; font-weight:bold;}
.obtain{ text-decoration:underline;}

.fruitless{ padding:70px 0; border:1px solid #e1e1e1;}
.write{ width:280px; height:auto; margin:0 auto;}
.villain{ width:76px; height:86px; display:inline-block; float:left; background:url(../images/store/villain.png) no-repeat left center; margin-bottom:50px;}
.hint{ float:left; margin-left:20px;}
.hint p{ line-height:27px; font-size:14px;}
.hint div{ vertical-align:middle; color:#f0482d; font-size:22px; font-weight:bold; line-height::20px; padding-left:25px; background:url(../images/store/telephone.png) no-repeat left center; margin-top:10px;}
.write_btn{ float:left; margin:20px 0 0 20px;}
.write_btn a{ font-size:14px;}

.flow{ padding:10px 10px 0 10px;}
.flow h3{ padding:10px 0 10px 10px; font-size:14px; color:#797979; font-weight:bold; background:url(../images/store/leftarrows.png) no-repeat left center; float:left;}
.flow ul{ float:right; border-bottom:2px solid #e1e1e1; padding-right:20px; position:relative;}
.flow ul li{ float:left; margin-right:90px; padding:10px 0; font-size:14px; font-weight:bold; color:#c8c8c8;}
.flow .current_li{ color:#4bae10;}
.line { border-top: 2px solid #4bae10; bottom: -6px; height: 4px; left: 0; position: absolute; width: 100%;}
.departure{ height:auto; padding:10px; border:1px solid #e1e1e1; margin:10px 0; color:#636363;}
.chief{ border-bottom:1px solid #e1e1e1;}
.chief h3{ width:10%; font-size:14px; font-weight:bold; color:#f1634c; border-bottom:1px solid #f1634c; padding:0 0 10px 5px; margin-bottom:-1px;}
.route{ width:100%; margin-top:10px;}
.route th,.fare th{ background:#f8f8f8; border-bottom:1px solid #e4e4e4; padding:13px 0; color:#404040;}
.route th:first-child,.route td:first-child,.departure .traveller tr td:first-child{ padding-left:10px;}
.route td,.fare td{ padding:15px 0; line-height:22px;}
.route a{ text-decoration:none;}
.route input{ border:0; vertical-align:middle; margin-right:3px;}
.departure .traveller td{ padding:10px 0;}
.aviation_icon{ display:inline-block; padding-left:20px; background:url(../images/store/aviation.jpg) no-repeat left top;}
.quote{ padding:0 0px 10px 0px; border:1px solid #e1e1e1; color:#636363;}
.quote .message_ul{ width:100%; background:#f8f8f8; border-bottom:1px solid #e1e1e1;}
.message_ul li{ float:left; padding:10px 15px; font-size:14px; font-weight:bold; color:#636363;}
.message_li{ background:#fff; border-top:2px solid #f1634c; margin-top:-1px; border-right:1px solid #e1e1e1; border-bottom:1px solid #fff; margin-bottom:-1px;}
.message_li a{ color:#f1634c;}
.message_ul li em{ padding-right:15px; font-weight:bold; margin-left:15px; border-right:1px solid #d0d0d0;}
.message_ul a:hover{ text-decoration:none;}
.fare{ margin:0 10px; margin-top:10px; width:98%;}
.fare td em{ color:#ff6500;}
.fare td b{ color:#ff6500; font-size:13px;}
.fare td:first-child,.fare th:first-child{ padding-left:5px;}
.fare input{ border:0; vertical-align:middle;}
.rule{ padding:15px 0px; color:#636363; margin:0 10px;}
.rule h3{ font-size:14px; font-weight:bold; margin-bottom:7px;}
.rule p{ line-height:22px;}
.rule b{ font-weight:bold;}
.rule span{ font-weight:bold; color:#e94749;}
.remark{ width:600px; height:100px; margin:15px 0 10px 10px;}
.accounts{ margin:20px 0; float:right; color:#000000;}
.accounts a{ font-size:14px;}
.accounts em{ color:#ff6500; margin:0 5px;}
.accounts i{ font-size:16px;}
.accounts b{ font-size:18px; color:#ff6500; margin-right:20px;}
.save{ padding:20px 10px 10px 0;}
.save em{ color:#ff6500;}
.save label{ margin-left:20px;}
.save label input{ border:0; vertical-align:middle; margin-right:5px;}

.constant{ margin:15px 10px 12px 0px;}
.user{ width:auto; float:left;}
.user p{ padding:13px; background:#fafadb; border:1px solid #dcc791;}
.user p span{ color:#ff6500; font-weight:bold;}
.delete{ width:9px; height:9px; display:inline-block; background:url(../images/store/sign.png) no-repeat left center;}
.add{ width:10px; height:10px; display:inline-block; background:url(../images/store/sign.png) no-repeat -14px 0;}
.case input{ height:22px; line-height:22px; vertical-align:middle; border:1px solid #abadb3;}
.case select{ height:24px; vertical-align:middle; color:#636363;}
.del{ padding:12px 0 12px 10px;}
.fillout{ padding:10px; margin:0 10px 10px 0px;}
.fillout h3{ font-size:14px; font-weight:bold; margin-bottom:5px;}
.fillout p{ line-height:22px;}
.distance{ padding:0 2px;}

.retreat{ position:absolute; top:745px; left:432px;}
.floating .retreat_i{ width:11px; display:inline-block; position:absolute; background:url(../images/store/upward.png) no-repeat center center; top:-9px; left:93%;}

.win,.fail{ width:380px; text-align:center; padding:0 10px 20px; color:#636363;}
.win h3,.fail h3{ height:36px; line-height:36px; font-size:14px; font-weight:bold; margin-bottom:15px;}
.win h3 i{ padding-left:50px; background:url(../images/store/succeed.png) no-repeat 38% 50%; display:inline-block;}
.win p{ line-height:25px;}
.win p em{ font-size:16px; font-weight:bold; color:#ff6500;}
.win_btn{ margin-top:20px;}
.win_btn a,.win p span,fail_btn a{ font-size:14px;}
.cancel{ text-decoration:underline; margin-left:30px; vertical-align:middle;}
.fail h3 i{ padding-left:50px; background:url(../images/store/wrong.png) no-repeat 38% 50%; display:inline-block;}
.pack_up,.pack_up:hover{ position:relative; color:#636363; text-decoration:none; padding:4px 10px 0 18px; display:inline-block; vertical-align:middle;}
.pack_up i{ width:9px; height:7px; display:inline-block;background:url(../images/store/up_down.png) no-repeat right 0px; vertical-align:middle; margin-left:2px;}
.first_up td{ padding:20px 0;}



