/* 右侧导航浮层样式 */

.rightSliderContainer{
    position: fixed;
    right:0;
    top: 50%;
    margin-top: -100px;
    _position: absolute;
    _top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
    z-index: 10;
}
.rightSliderContainer .newsNum{
    background:url("../images/store/newsNumBG.png") no-repeat;
    height:20px;
    width:20px;
    position: absolute;
    text-align: center;
    line-height: 20px;
    color:#ffffff;
    left:-13px;
    top:13px;
}
.rightSlider li{
    background:url("../images/store/rightSlider.png") no-repeat;
    height:45px;
    width:45px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
}

.rightSlider .rs_tel{
    background-position: 0 0;
}
.rightSlider .rs_qq{
    background-position: 0 -46px;
}
.rightSlider .rs_news{
    background-position: 0 -92px;
}
.rightSlider .rs_notice{
    background-position: 0 -138px;
}
.rightSlider .rs_feedback{
    background-position: 0 -184px;
}
.rightSlider .rs_tel:hover{
    background-position: -46px 0;
}
.rightSlider .rs_qq:hover{
    background-position: -46px -46px;
}
.rightSlider .rs_news:hover{
    background-position: -46px -92px;
}
.rightSlider .rs_notice:hover{
    background-position: -46px -138px;
}
.rightSlider .rs_feedback:hover{
    background-position: -46px -184px;
}

.rs_infoContainer{
    border:1px solid #B2B2B2;
    box-shadow: 5px 5px 10px #555555;
    position: absolute;
    top: 0;
    right: 45px;
    width:420px;
    background:#ffffff;
    display: none;
    padding-bottom: 20px;
}
.rs_infoContainer h3{
    font-size: 18px;
    color:#FF5500;
    margin:20px 0 10px 20px;
}
.rs_infoContainer td{
    padding:10px 5px 10px 0;
    font-size: 14px;
    color: #333333;
}
.rs_infoContainer td:first-child{
    padding-left: 20px;
}
.tbl_rs_tel span,.tbl_rs_qq span{
    width:75px;
    display: inline-block;
}
.tbl_rs_tel em,.tbl_rs_qq em{
    width:100px;
    display: inline-block;
}
.tbl_rs_news .rs_orderNum{
    color:#BB6213;
}
.tbl_rs_news .rs_orderNum:hover{
    text-decoration: underline;
}
.tbl_rs_news .newsDate{
    color:#999999;
}
.tbl_rs_news .del{
    background: url("../images/store/search_close.png") no-repeat;
    width: 9px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.tbl_rs_news .newsContent{
    width:190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rs_infoContainer .icon1{
    background: url(../images/store/smallPic.png) 0px -34px no-repeat;
}

.rs_infoContainer .icon2{
    background: url(../images/store/smallPic.png) -15px -34px no-repeat;
}

.rs_infoContainer .icon3{
    background: url(../images/store/smallPic.png) -77px -38px no-repeat;
}

.rs_infoContainer .icon1,
.rs_infoContainer .icon2,
.rs_infoContainer .icon3{
    display:inline-block;
    height:13px;
    width:13px;
    margin-right:5px;
    vertical-align:middle;
}
.tbl_rs_qq{
    margin-left: -10px;
}
.tbl_rs_qq li:hover{
    background:#f2f2f2;
    cursor: pointer;
}
.tbl_rs_qq li{
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    width:180px;
    margin-left: 20px;
    float:left;
    font-size: 14px;
}
.tbl_rs_news tr:hover td{
    background:#f2f2f2;
    cursor:pointer;
}
.tbl_rs_news tr:hover .del{
    background-position: 0 -11px;
}
.moreContainer{
    text-align: right;
    padding-right: 10px;
}
.moreContainer a{
    color:#398fc6;
    font-size: 14px;
    text-decoration: none;
}
.moreContainer a:hover{
    color:#FF5500;
}

/*  footer 样式  */

.main-footer{
    color:#969696;
    background-color:#D8D8D8;
}

.footerContainer{
    width:980px;
    margin:0 auto;
    padding:20px 0;
}

.bottomQuickNav{
    position: relative;
    padding-left: 50px;
    padding-top: 5px;
    float:left;
    margin-right: 75px;
}
.bottomQuickNav.last{
    margin-right: 0;
}
.bottomQuickNav i.ico{
    background:url("../images/store/bottomIcons.png") no-repeat;
    position: absolute;
    width:50px;
    left: 0;
    top: 0;
}
.xssl i.ico{
    background-position: 0 0;
    height: 35px;
}
.zffs i.ico{
    background-position: 0 -98px;
    height: 23px;
}
.sjfw i.ico{
    background-position: 0 -125px;
    height: 35px;
}
.gywm i.ico{
    background-position: 0 -35px;
    height: 35px;
}
.kfrx i.ico{
    background-position: 0 -70px;
    height: 30px;
}
.bottomQuickNav h3,.bottomQuickNav h4{
    font-size: 16px;
    color: #4A5872;
}
.bottomQuickNav h4{
    font-weight: normal;
}
.bottomQuickNav h2{
    font-size: 21px;
    font-family: "Arial", "Helvetic", "sans-serif";
    color: #495971;
}
.bottomQuickNav li{
    font-size: 12px;
    color: #626B7D;
    margin-top: 10px;
}
.bottomQuickNav li a{
    color: #626B7D
}

