/**
 *
 * hotel
 **/
body{color:#666}
.clearfix{clear:both}
table{width:100%}
.create_order {margin-top:10px;}
.side_info figure {border-top:1px solid #f1634c;padding:10px;}
.side_info figcaption {text-align:center;padding:7px 0 0;font-weight:bold;}
.side_info table {margin:0 auto 10px ;}
.side_info td {padding:5px 3px;}
.title {background-color:#ffffff;}
.title strong {border-bottom:1px solid #F1634C;}

#h_order_info {position: relative ;}
.checkin_info th,.checkin_info td {padding:10px 5px;}
.checkin_info th {text-align:right;}
.checkin_info th em {color:#f1634c;padding:0 3px;}
.checkin_info .datepicker {}

#h_order_info .row {margin-bottom:10px;}
.row table {color:#636363;}
.row section {padding:10px;}
.hotel_rule th {text-align:right;font-weight:bold;} 
.hotel_rule th,.hotel_rule td {padding:5px;}

.contacts td,.contacts th {padding:5px;}
.contacts th {text-align:right;}
.contacts em {color:#f1634c;padding:0 3px;}
.contacts input {height:23px;}

.summary {padding:10px;}
.summary strong {font-size:20px;padding:10px;}
.booking {padding:20px 0px;}

#frequentFlyerContainer {position:absolute;right:30px;top:100px;}

.change_date {padding:10px;margin:0 auto;}
.change_date li {padding:5px 0 ;}

.hotel_search .condition {padding:10px}
.hotel_search .condition label {padding:10px;}
.hotel_search .condition label input {height:22px;}
.hotel_search .condition label span{padding-right:10px}
.hotel_search .filter{padding:15px 0;z-index:1;border-top:none;}
.hotel_search .filter ul{float:left}
.hotel_search .filter ul h3{font-weight:bold;padding:5px 10px}
.hotel_search .filter li{padding:8px 15px 8px 10px}
.hotel_search .filter li.col{border-right:1px dashed #ccc;height:180px}
#btn_toggleFilterPanel{
    width:60px;padding-left:20px;height:20px;margin:0 auto;border:1px solid #e1e1e1;border-top:none;
    position:relative;top:-1px;z-index:2;line-height:21px;cursor:pointer;
    background:url('../images/store/upward_gray.gif') no-repeat 55px center #fff;
}
#btn_toggleFilterPanel.down{background-image:url('../images/store/downward_gray.gif')}

.hotelBasicInfo{padding:15px;position:relative}
.hotelDesc{float:left;margin-left:10px}
.hotelDesc li,.hotelDescNFloat li{padding-bottom:18px}
.hotelImage{float:left;position:relative;padding-bottom:15px}
.hotelName{color:#E94749;font:bold 16px '宋体'}
.hotelAddress{color:#636363;}
.hotelPrice{position:absolute;color:#FF6500;font:bold 24px Arial;right:20px;top:60px}

.hotel_result{margin-top:40px}
.hotel_result .filterCondition{padding:0 10px}
.hotel_result .filterCondition div.item{width:100px;margin:5px;float:left;border:1px solid #ccc;height:20px;line-height:20px;padding:2px 5px}
.hotel_result .filterCondition div.item:hover{background:#FF6500;color:#fff}
.hotel_result .filterCondition div.item:hover .close{color:#fff}
.hotel_result .filterCondition .close{font-size:13px;font-weight:bold;font-family:arial;color:#FF6500;float:right;line-height:18px;text-decoration:none}
.hotel_result .filterCondition .clearAllFilterCondition{line-height:30px;float:right}

.hotel_resultInfo{background:#F7F7F7;height:38px;line-height:38px;padding:0 15px}
.hotel_resultNo{color:#ff6500;font:bold 18px arial;padding-right:5px;vertical-align:baseline;}
.hotel_result_sortButtonContainer span{margin-left:20px}
.pageNoCAT{color:#E94749;height:24px;line-height:24px;font-size:14px}/*page No Current And Total*/
.hotelRoomPrice{color:#FF6500;font:bold 16px/1.5 Arial;border-bottom:1px dashed #FF6500}
.hotelRoomPrice.sold{color:#636363;border-bottom:none}

.roomTypeListContainer thead td{background:#F7F7F7;padding-left:5px;color:#3F3F3F}
.roomTypeListContainer tbody td{border-bottom:1px dashed #E4E4E4;padding-left:5px}
.roomTypeListContainer tr.last td{border:none}
.roomTypeGroupDetailFirstField{padding-left:20px !important;height:45px}
.roomTypeGroupFirstField{height:30px;padding-left:15px !important;}
.roomTypeListBottomButtonContainer{background:#F7F7F7;height:33px;line-height:33px;text-align:right;padding-right:20px}
.roomTypeDetailContainer{padding:0 10px;border-bottom:1px solid #e4e4e4}

/*排序按钮样式*/
.sorttab { position:relative;cursor:pointer;margin-right:10px}
.sorttab i{width:9px;height:12px; display:inline-block; position:absolute;top:50%;margin-top:-6px; background:url(../images/store/sort.png) no-repeat 0 0;margin-left:2px}
.ascend,.descend{color:#E94749}
.ascend i {background-position: -14px 0}
.descend i {background-position: -28px 0}
/*排序按钮样式*/

/*通用*/
.price{color:#FF6500}
.weekend{color:#E94749}
.ico_info{background:url(../images/store/smallPicture.png) no-repeat 0 -58px;width:20px;height:14px;display:inline-block;vertical-align:bottom;margin-left:3px}
.ico_gift{background:url(../images/store/gift.png) no-repeat left center;width:15px;height:16px;display:inline-block;vertical-align:bottom;margin-left:3px}
.ico_down{background:url("../images/store/up_down.png") no-repeat  0 -6px;width:9px;height:6px;display:inline-block;margin-left:3px}
.ico_up{background:url("../images/store/up_down.png") no-repeat;width:9px;height:6px;display:inline-block;margin-left:3px}
.ico_floatGift{width:25px; height:35px; display:inline-block; background:url(../images/sprite/gift.png) no-repeat; position:absolute; top:-4px; right:10px;}
.starLevel{background:url('../images/store/starLevel.gif') no-repeat;width:89px;height:17px;display:inline-block;vertical-align:bottom}
.starLevel.l5{background-position:0 0}
.starLevel.l4{background-position:0 -16px}
.starLevel.l3{background-position:0 -32px}
.starLevel.l2{background-position:0 -48px}
.starLevel.l1{background-position:0 -64px}
/*通用*/

/*详情页*/
.hotelBigImage{width:400px;height:300px;padding:4px;border:1px solid #D1D1D1;float:left}
.hotelDescNFloat{margin-left:430px}
.hotelServicesContainer{margin-top:27px}
.hotelService{background:url('../images/store/ico_hotelServices.gif');width:32px;height:32px;display:inline-block;margin-right:12px}
.hotelService.wifi{background-position:0 0}
.hotelService.park{background-position:-32px 0}
.hotelService.conference{background-position:-64px 0}
.hotelService.gym{background-position:-96px 0}
.hotelService.resturant{background-position:-128px 0}
.hotelImageGalleryContainer{margin-top:24px}
.btn_hotelImageGallery_left{background:url('../images/store/btn_hotelImageGallery_left.gif') no-repeat;float:left;width:21px;height:65px;cursor:pointer}
.btn_hotelImageGallery_right{background:url('../images/store/btn_hotelImageGallery_right.gif') no-repeat;float:right;width:21px;height:65px;cursor:pointer}
.hotelGalleryImagesContainer{margin-left:26px}
.hotelGalleryImagesContainer li{float:left;width:80px;height:60px;padding:1px;margin:0 7px;border:1px solid #e4e4e4}
.equipmentAndService,.note{padding:25px;}
.equipmentAndService div,.note div{margin-bottom:16px}
.equipmentAndService span,.note span{padding-right:15px}
.salePriceTblContainer{background:#FAFADB;border:1px solid #DCC791;padding:0 10px}
.hotelSalePriceTbl{width:600px}
.hotelSalePriceTbl td{padding:5px}
.hotelSalePriceTbl th{border-bottom:1px dashed #DCC791;padding:8px 5px}
.hotelSalePriceTbl div{padding:5px}
/*详情页*/
