

.mainContent {
	/*background: #fff;*/
    /*border: 1px solid #e6e6e6;*/
    /*box-shadow: 0px 0px 5px 0px #cccccc;*/
    /*min-height: 520px;*/
	width: 980px;
	margin: 20px auto 10px;
    padding: 10px 0;
    font-size: 12px;
    position: relative;
	top: 100px;
}

.adjustWidthMainContent {
	width: auto;
	margin: 20px auto 10px;
    padding: 10px 0;
    font-size: 12px;
    position: relative;
	top: 100px;
}

.bg-header-repeat {
	/*background: url(../images/supplier/bg-head.png) repeat-x;*/
	background-color: #212d69;
	height: 140px;
}

.bg-header-top {
	width: 100%;
	height: 50px;
	background-color: #f9f9f9;
	float: left;
}

.new-container {
	top: -140px;
	margin-top: 0 !important;
}

.header-top-center {
	float: left;
	height: 50px;
	width: 980px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -490px;
}

.main-header {
	background: url(../images/supplier/head.png) no-repeat;
	width: 100%;
	max-width: 1600px;
	height: 139px;
	margin: 0 auto;
}

.head-content {
	width: 1200px;
	margin: 0 auto;
}

.head-left {
	background-color: #f9f9f9;
	float: left;
	height: 50px;
	/*width: 210px;*/
	width: 190px;	/*添加邮轮*/
	position: relative;
}

.head-right {
	background-color: #f9f9f9;
	float: left;
	/*height: 50px;*/
	/*width: 320px;*/
}

.logout {
	padding: 6px 10px;
	position: relative;
	bottom: 5px;
}

.logout:hover {
	color: #14b8d4;
	text-decoration: underline;
}

.user-setting {
	text-align: center;
	color: #606060;
	font-size: 14px;
	padding: 6px 10px;
	position: relative;
	bottom: 5px;
	float: none!important;
}
.user-setting-active,
.user-setting:hover {
	background-color: #14b8d4;
	color: #fff;
	cursor: pointer;
}

.supplier-logo {
	background: url(../images/supplier/common-icons.png) no-repeat;
	width: 160px;
	height: 40px;
	background-position: 0 0;
	position: absolute;
}

.first-navi {
	float: left;
	position: relative;
}

.first-navi-li {
	float: left;
	font-size: 16px;
	font-weight: normal;
	width: 90px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	background: #f9f9f9;
	cursor: pointer;
}

.first-navi-li a {
	color: #333;
	padding: 10px;
	position: relative;
}

.first-navi-li a:hover {
	color: #333;
}

.second-navi-li a {
	font-size: 16px;
	color: #c5d6e5!important;
	position: relative;
	top: 3px;
	padding: 15px 10px;
}

.second-navi-active a {
	color: #00a3ff!important;
}

.third-navi-li a {
	color: #7f97ac;
	font-size: 14px;
}

.third-navi-li a:hover {
	color: #fff;
}

.third-navi-active a {
	color: #fff;
}

.first-navi-active {
	background: url(../images/supplier/menu-li-bg.jpg) no-repeat;
}

.first-navi-active a{
	color: #fff;
}

.first-navi-active a:hover{
	color: #fff;
}

.second-navi {
	position: absolute;
	width: 980px;
	height: 43px;
	line-height: 43px;
	top: 50px;
	left: -204px;
}

.second-navi-li {
	float: left;
	margin: 0 8px;
	color: #c5d6e5;
	text-align: center;
	font-size: 14px;
}

.third-navi {
	float: left;
}
.third-navi-li:first-child {
	margin-left: 0;
}
.third-navi-li {
	float: left;
	margin-left: 35px;
	color: #98b1c3;
	font-size: 12px;
	text-align: center;
}

.navi-operation {
	float: right;
}

.navi-operation span{
	color: #fff;
	background-color: #0abade;
	display: inline-block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	min-width: 102px;
	padding: 0 5px;
}

.navi-operation span:hover{
	background-color: #0bc8ef;
	cursor: pointer;
}

.navi-split-line {
	position: relative;
	top: 98px;
	width: 100%;
	border-top: 1px solid #3a4974;
}

.navi-slide-hover {
	background-color: #00a3ff;
	height: 0px;
	min-width: 74px;
	margin: 0 auto;
}

.extend-navi {
	width: 500px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 58px;
	right: -53px;
}

.extend-navi-li {
	float: left;
	margin-left: 35px;
	color: #98b1c3;
	font-size: 12px;
}

.extend-navi-li-active,
.extend-navi-li:hover {
	color: #fff;
}

.extend-navi-li:first-child {
	margin-left: 0;
}

.feature {
	position: absolute;
	right: 0;
}

.feature li {
	float: left;
	margin-left: 6px;
	margin-right: 6px;
}

.split-line {
	background: url(../images/supplier/common-icons.png) no-repeat;
	width: 10px;
	height: 35px;
	background-position: -169px -47px;
	margin-top: 10px; 
}
.person-info {
	font-size: 14px;
	margin-top: 20px;
}
.person-info span {
	display: inline-block;
	float: left;
}

.person-icon {
	background: url(../images/supplier/common-icons.png) no-repeat;
	width: 20px;
	height: 20px;
	background-position: -55px -49px;
}

.person-name {
	margin-left: 6px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 140px;
}

.notice-icon-active {
	background: url(../images/supplier/common-icons.png) no-repeat;
	width: 34px;
	height: 31px;
	background-position: -103px -42px;
	margin-top: 13px;
	cursor: pointer;
}

.setting-icon {
	background: url(../images/supplier/common-icons.png) no-repeat;
	width: 22px;
	height: 22px;
	background-position: -137px -51px;
	margin-top: 20px;
}

.setting-icon-active {
	background: url(../images/supplier/common-icons.png) no-repeat;
	width: 22px;
	height: 22px;
	background-position: 0 -80px;
	margin-top: 20px;
	cursor: pointer;
}

.setting-content {
	width: 120px;
	height: 185px;
	background-color: #fff;
	position: relative;
	top: 30px;
	left: -80px;
	font-size: 14px;
	font-weight: normal;
}

.setting-content li {
	height: 30px;
	border-bottom: 1px solid #e9e9e9;
	text-align: center;
	width: 120px;
	margin: 0;
	line-height: 30px;
}

.setting-content li:hover {
	background-color: #f9f9f9; 
}

.setting-content a:hover {
	color: #333;
}

.third-navi-li a,
.third-navi-li span {
	display: inline-block;
	float: left;
}

.small-info-tip {
	background-color: #fc524e;
	line-height: 18px;
	margin-left: 5px;
	position: relative;
	top: 12px;
	width: 24px;
	height: 17px;
	border-radius: 2px;
	color: #fff;
}


/*========================   reset footer style  start     =========================*/

#extFooter {
	background: #e7e7e7 !important;
	color: #888 !important;
    font-size: 12px;
}

#extFooter a {
	color: #888888;
}

/*========================   reset footer style  end     =========================*/



/*=====================  reset  plugins style  start       ========================*/


/* reset datepicker style start */

#ui-datepicker-div{
    box-shadow:0px 2px 10px #777;
}
#ui-datepicker-div .ui-datepicker-calendar{
    width:100%;
    margin:0 !important;
}

/* 日历样式 */
    /*by zzz 删除白色背景色 不知是否有问题*/
/*.datepicker {
    height:22px;
    background-image: url(../images/store/i8.png);
    background-repeat: no-repeat;
    background-position: 97% center;
}*/
.datepicker.dpShort{background:none}
.ui-datepicker {background:#ef633d none;font-size:12px;padding:5px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.ui-datepicker-daywrapper{
    font-weight:normal;
    display:inline-block;
    *position:relative;
    *top:-4px;
    margin-left: -60px;
    width: 60px;
    text-align: left;
}
.ui-datepicker .ui-datepicker-buttonpane{
    margin:0;
}
.ui-datepicker-calendar thead{
    color:#999;
    background-color:#f1f1f1;
}
#ui-datepicker-div{
    box-shadow:0px 2px 10px #777;
    z-index: 20000 !important;
}
#ui-datepicker-div .ui-datepicker-calendar{
    width:100%;
    margin:0 !important;
}
.ui-datepicker-calendar td{
    border:none;
}
.ui-datepicker-calendar td span{
    text-align:center;
    display:block;
    line-height:28px;
    height:28px;
    width:28px;
    margin:0 auto;
    padding:0;
}
.ui-datepicker-calendar td a{
    margin:0 auto;
    display:block;
    text-align:center;
    line-height:28px;
    height:28px;
    width:28px;
    padding:0;
}
.ui-datepicker-calendar-wrap{
    border-right:1px solid #d2d2d2;
    height:200px;
    background:url(../images/store/month.jpg) no-repeat 50% 0;
}

.ui-datepicker-calendar-wrap-m0{
    background-position:50% 0px;
}
.ui-datepicker-calendar-wrap-m1{
    background-position:50% -200px;
}
.ui-datepicker-calendar-wrap-m2{
    background-position:50% -400px;
}
.ui-datepicker-calendar-wrap-m3{
    background-position:50% -600px;
}
.ui-datepicker-calendar-wrap-m4{
    background-position:50% -800px;
}
.ui-datepicker-calendar-wrap-m5{
    background-position:50% -1000px;
}
.ui-datepicker-calendar-wrap-m6{
    background-position:50% -1200px;
}
.ui-datepicker-calendar-wrap-m7{
    background-position:50% -1400px;
}
.ui-datepicker-calendar-wrap-m8{
    background-position:50% -1600px;
}
.ui-datepicker-calendar-wrap-m9{
    background-position:50% -1800px;
}
.ui-datepicker-calendar-wrap-m10{
    background-position:50% -2000px;
}
.ui-datepicker-calendar-wrap-m11{
    background-position:50% -2200px;
}

/* 日历头 */
.ui-widget-header {
    background: #ef633d;
    border:none;
    border-radius:0;
}

.ui-datepicker td {
    padding:0px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width:40%;
}
/* 前后按钮 */
.ui-datepicker-week-end{
    color:#ff6500;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    cursor:pointer;
    background:none;
    border:0;
    padding:0;
    opacity:1 !important;
    outline: 0;
    margin-top: -10px;
}
.ui-widget-header .ui-icon{
    margin:0 auto;
    display:block;
    height:11px;
    width:6px;
    background: url(../images/store/s1.png) no-repeat;
}
.ui-state-disabled.ui-datepicker-prev .ui-icon{
    background-position:0 0 !important;
}
.ui-state-disabled.ui-datepicker-next .ui-icon{
    background-position:-6px 0px !important;
}
.ui-datepicker-prev-hover .ui-icon{
    background-position:0 -11px;
    margin-left:-7px !important;
    margin-top:-7px !important;
}
.ui-datepicker-next .ui-icon{
    background-position:-6px 0;
}
.ui-datepicker-next-hover .ui-icon{
    background-position:-6px -11px;
    margin-left:-9px !important;
    margin-top:-7px !important;
}
.ui-datepicker-calendar-wrap {
    background-color:#fff;
    margin:0;
}
.ui-datepicker-calendar-wrap td {
    color:#5c5c5c;
    padding: 0px !important ;
}
.ui-datepicker-calendar-wrap .ui-datepicker-calendar,.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto;
    text-align:center;
    border-collapse: collapse ;
    width:220px;
}
.ui-datepicker-title{
    color:#fff;
}
.ui-datepicker-multi .ui-datepicker-group-first .ui-datepicker-calendar {
    margin-right:10px !important;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-calendar {
    margin-left:10px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border:none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    background-color:#f66e19;
    color:#ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    color: #212121;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    color:#ffffff;
}
.ui-datepicker-calendar .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: none;
    font-weight: normal;
}
.ui-datepicker-calendar .ui-state-hover{
    height:26px;
    line-height:26px;
    width:26px;
    border:1px solid #ccc;
}
.ui-datepicker-calendar .ui-state-highlight{
    border:0;
}
.ui-datepicker-buttonpane{
    display:none;
}

.fastival {
    height:26px;
    width:26px;
    text-indent:-1000em;
    display:block;
    border:none;
    cursor:pointer;
    background-image:url(../images/store/s2.png) !important;
    background-repeat:no-repeat;
}
.ui-state-hover .fastival{
    margin-top:-1px;
    margin-left:-1px;
    border:none;
}
.today { background-position : 50% 0px !important; }
.yuandan { background-position : 50% -30px !important;}
.chuxi { background-position : 50% -60px !important;}
.chunjie { background-position : 50% -90px !important;}
.yuanxiao { background-position : 50% -120px !important;}
.qingming { background-position : 50% -150px !important;}
.wuyi { background-position : 50% -180px !important;}
.duanwu { background-position : 50% -210px !important;}
.zhongqiu { background-position : 50% -240px !important;}
.guoqing { background-position : 50% -270px !important;}

.ui-state-highlight .today{
    background-color:#ff6500;
}

.ui-datepicker-time-wrap {
    position:relative;
    padding: 5px 0;
}

.ui-datepicker-time-i {
    width:120px;
    margin: 0px auto;
}

.ui-datepicker-time-i input[type=text] {
    text-align:center;
}

.ui-datepicker-time {
    border:1px solid #aaaaaa;
    background:#fff;
    position:absolute;
    width:220px;
}

.ui-datepicker-time-wrap td {text-align:center;}
.ui-datepicker-time-wrap td a {text-align:center;}
.ui-datepicker-time-wrap td a:hover {
    background-color:#f66e19;
    color:#ffffff;
}

.k-autocomplete {
	width: 105px;
	padding-right: 5px;
}

.tcy_title {
	background-color: #1987c6;
	color: #fff;
}

.k-item.k-state-default {
	font-weight: normal;
	font-family: Arial;
}

.tcy_list .tcy_list_sep,
.tcy_list .item:hover,
.ui-datepicker-week-end {
	color: #1a86c6;
	background: none;
}

.tcy_tabstrip .k-state-active {
	border-color: #1a86c6;
}

.ui-datepicker,
.ui-widget-header,
.ui-state-highlight .today{
	background: #1a86c6 none;
}

.ui-state-highlight .today {
	border: 1px solid #1a86c6;
}

.ui-datepicker-calendar .ui-state-hover{
    height:26px;
    line-height:26px;
    width:26px;
    border:1px solid #1a86c6;
}

.ui-datepicker-week-end .ui-state-default {
	color: #1987c6;
}

.ui-widget-header .ui-icon {
	background: url(../images/supplier/calendar-turn.png) no-repeat!important;
}

.ui-datepicker-prev .ui-icon {
	background-position: 0 0!important;
}

.ui-datepicker-prev .ui-icon:hover {
	background-position: -16px 0!important;
}

.ui-datepicker-next .ui-icon {
	background-position: -8px 0!important;
}

.ui-datepicker-next .ui-icon:hover {
	background-position: -24px 0!important;
}

/*=====================  reset  plugins style  end       ========================*/



/* 通用button*/
.adaptiveButton{display:inline-block;vertical-align:middle; cursor:pointer;}
.adaptiveButton:hover{ text-decoration:none;}
.adaptiveButton .center{padding: 0 30px;font-size: 14px!important;}
.adaptiveButton .center_1{padding:0 20px;}
.adaptiveButton .center_2{padding:0 10px;}

.brightRed_btn  span{float:left; height:35px; line-height:35px;}
.brightRed_btn .left{background:url('../images/supplier/commonBtn.png') 0 0 no-repeat;width:5px}
.brightRed_btn .center{background:url("../images/supplier/commonBtn.png") 0 -40px repeat-x;}
.brightRed_btn .right{background:url('../images/supplier/commonBtn.png') 0 -80px no-repeat;width:5px}
.brightRed_btn:hover .left{background:url('../images/supplier/commonBtn.png') 0 -120px no-repeat;}
.brightRed_btn:hover .center{background:url("../images/supplier/commonBtn.png") 0 -160px repeat-x;}
.brightRed_btn:hover .right{background:url('../images/supplier/commonBtn.png') 0 -200px no-repeat;}

.grayOper_btn  span{float:left; height:35px; line-height:35px;}
.grayOper_btn .left{background:url('../images/supplier/commonBtn.png') 0 -720px no-repeat;width:5px}
.grayOper_btn .center{background:url("../images/supplier/commonBtn.png") 0 -760px repeat-x;color: #333;}
.grayOper_btn .right{background:url('../images/supplier/commonBtn.png') 0 -800px no-repeat;width:5px}
.grayOper_btn:hover .left{background:url('../images/supplier/commonBtn.png') 0 -840px no-repeat;}
.grayOper_btn:hover .center{background:url("../images/supplier/commonBtn.png") 0 -880px repeat-x;}
.grayOper_btn:hover .right{background:url('../images/supplier/commonBtn.png') 0 -920px no-repeat;}


.brightRed_btn.medium  span{float:left; height:31px; line-height:31px;}
.brightRed_btn.medium .left{background:url('../images/store/medium_btn.png') 0 -82px no-repeat;width:3px}
.brightRed_btn.medium .center{background:url("../images/store/medium_btn.png") 0 0 repeat-x;}
.brightRed_btn.medium .right{background:url('../images/store/medium_btn.png') 0 -41px no-repeat;width:3px}
.brightRed_btn.medium  span{float:left; height:30px; line-height:30px;}
.brightRed_btn.medium .left{background:url('../images/store/medium_btn.png') 0 -80px no-repeat;width:3px}
.brightRed_btn.medium .center{background:url("../images/store/medium_btn.png") 0 0 repeat-x;}
.brightRed_btn.medium .right{background:url('../images/store/medium_btn.png') 0 -40px no-repeat;width:3px}
.brightRed_btn.medium:hover .left{background:url('../images/store/medium_btn.png') 0 -200px no-repeat;}
.brightRed_btn.medium:hover .center{background:url("../images/store/medium_btn.png") 0 -120px repeat-x;}
.brightRed_btn.medium:hover .right{background:url('../images/store/medium_btn.png') 0 -160px no-repeat;}

.subtabCancel{ margin-left:20px; color:#636363; text-decoration:underline; vertical-align:middle;}

/* 修改供应商头部 结构和样式   By:shuaigeng.zhao ; */
.top-pass-block {
	position: absolute;
	top: -61px;
	left: 0;
	height: 40px;
	line-height: 40px;
	width: 100%;
}

.nav-oper-btn {
	float: right;
}

.narrow-navi-word2 {
	width: 80px;
}

/*  公共弹窗样式   操作成功，失败，正在查询 等    By:shuaigeng.zhao;  */

.common-tip-container {
	color: #666;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.large-success-icon {
	background: url(../images/store/success-warn-icons.png) no-repeat 2px -20px;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: bottom;
}

.tip-msg-content {
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.large-warn-icon {
	background: url(../images/store/success-warn-icons.png) no-repeat -40px -20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}

.operating-icon {
	background: url(../images/supplier/loading.gif) no-repeat 0 0;
	display: inline-block;
	width: 46px;
	height: 46px;
	margin-right: 10px;
	vertical-align: bottom;
}

.k-window {
	border-color: rgba(0, 0, 0, 0.298039);
	box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.298039);
	background-color: #ffffff;
	color: #676767;
}

/*  出错页面样式   */
.error-page {
	padding: 110px 215px;
	margin: 4px 0 0 0;
	height: 100%;
	overflow: hidden;
	border: 1px solid #bbb;
}

.error-page_img {
	background: url(../images/error_pic.png) no-repeat center center;
	float: left;
	width: 211px;
	height: 174px;
}

.error-page_con {
	float: left;
	margin-left: 55px;
	padding-top: 65px;
	font-size: 16px;
}

.backToTop {
    display: none;
    width: 28px;
    height: 80px;
    background:url(../images/back_top.png) no-repeat;
    color: transparent;
    text-align: center;
    position: fixed;
    _position: absolute;
    margin-left:490px;
    left:50%;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
}

.backToTop:hover {
    color: transparent;
    background-position:-33px 0px;
}