@charset "utf-8";

/*  旅游模块的页面与国内机票、国际机票、财务管理模块 风格不同，所以将 supplier_common中公共样式
移至此处，仅供旅游模块使用,其他模块恢复至旧版状态    By: shuaigeng.zhao;   */
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}
.k-i-arrow-s,.k-link:not(.k-state-disabled):hover > .k-i-arrow-s, .k-state-hover .k-i-arrow-s, .k-button:hover .k-i-arrow-s,
.k-textbox:hover .k-i-arrow-s, .k-button:active .k-i-arrow-s{
    background-position:0 -30px !important;
}
.k-popup .k-list .k-item{
    line-height: 30px !important;
}
.k-widget .k-input{
    height: 30px !important;
    line-height: 30px !important;
}
.popup-window{
    padding: 15px 20px 20px !important;
}
.grid-table-pagination .links a,.grid-table-pagination .links a:hover{
    border: 0;
    background: none;
}
.grid-table-pagination .noIcon{
    display: none;
}
.grid-table-pagination .links a:hover{
    text-decoration: underline;
    color: #05579d;
}
.grid-table-pagination .links .current,.grid-table-pagination .links .current:hover{
    background-color: #05579d;
    border: 0 !important;
    color: #FFFFFF;
}
.grid-table-pagination .links .ellipsis{
    cursor: default;
}
.grid-table-pagination .links .current:hover,.grid-table-pagination .links .ellipsis:hover{
    text-decoration: none;
}
.grid-table-pagination .prev:hover,.grid-table-pagination a:hover{
    text-decoration: none;
    border: 0;
    background-color: #FFFFFF;
}
.grid-table-pagination a{
    border: 0;
}

.k-window-titlebar{font-size: 14px;}
body {
    font-size: 14px;
}
input,textarea {
    padding: 5px;
    font-size: 14px;
}

/* 上传按钮  kendoUpload  样式重新定义
（只适合供应商和运营商旅游上传图片）  By: shuaigeng.zhao;   start  */
li .k-button.k-upload-button {
    width: 188px;
    height: 123px;
    position: absolute;
    left: -140px;
    top: -70px;
    opacity: 0;
    background: none!important;
}

/*  kendoUpload image end  */

.mainContent {
    background: #fff;
    width: 958px;
    margin: 20px auto 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px 0px #cccccc;
    padding: 10px;
    /*min-height: 520px;*/
    position: relative;
    top: 100px;
    font-size: 14px;
}

/*  修改供应商旅游通用表格样式  */
div.k-grid-header, thead.k-grid-header .k-header{
    border-bottom: 0;
}
.k-grid-header .k-header{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #eeeeee;
    background-color: #eeeeee;
}
.k-block, .k-widget, .k-input, .k-textbox, .k-content, .k-header, .k-editable-area, .k-separator,
.k-colorpicker .k-i-arrow-s, .k-textbox > input, .k-autocomplete, .k-dropdown-wrap, .k-toolbar,
.k-group-footer td, .k-grid-footer, .k-footer-template td, .k-state-default, .k-state-default .k-select,
.k-state-disabled, .k-grid-header-wrap, .k-grid-header, .k-grid td, .k-grid td.k-state-selected,
.k-grid-footer-wrap, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-refresh, .k-grouping-header,
.k-grouping-header .k-group-indicator, .k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link,
.k-panelbar .k-panel, .k-panelbar .k-content, .k-calendar th, .k-slider-track, .k-splitbar,
.k-dropzone-active, .k-upload-files, .k-tiles, .k-toolbar, .k-tooltip, .k-progress{
    border-color: #fff;
}
.k-grid tbody tr:hover td{
    background-color: #F8F8F8;
}


/* jenny.wang */

.ke-toolbar{
    padding:7px 5px;
}
.ke-statusbar{
    background: transparent;
    border-top: 0;
    padding-bottom: 5px;
}
.ke-statusbar-center-icon{
    background: none;
}
.ke-edit{
    height: 90px !important;
}
.ke-container{
    max-width: 900px;
    resize: none;
}

/* 产品管理 S */

.new-path {
    background: url("../images/supplier/new-path.png") no-repeat;
    background-position: 0 -4px;
    display: inline-block;
    width: 115px;
    height: 40px;
}

.new-path:hover {
    cursor: pointer;
    background-position: 0 -53px;
}

.searchTab{
    margin: 10px 0;
}
.searchTab th{
    font-weight: 500;
    text-align: right;
    padding: 0 3px 10px 0;
}
.searchTab td{
    padding: 0 3px 10px 0;
}
.searchTab td input[type="text"]{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
}

.commonTab{
    margin: 10px 0;
    color: #333333;
    width: 100%;
    font-size: 14px;
}
.commonTab tbody td:first-child,.commonTab thead th:first-child{
    padding-left: 10px;
}
.commonTab thead th{
    background: #eeeeee;
    padding: 10px 3px;
    color: #555555;
    text-align: left;
}
.commonTab tbody td{
    padding: 10px 3px;
    border-bottom: 1px solid #eaeaea;
}
.commonTab tbody tr:hover{
    background: #f8f8f8;
}
.commonTab .useCars,
.commonTab .grayUseCars{
    vertical-align: middle;
    display: inline-block;
    width: 46px;
    height: 21px;
    margin-right: 2px;
}
.commonTab .useCars{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -133px;
}
.commonTab .grayUseCars {
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -160px;
}
.commonTab .airportPickUp,.commonTab .grayAirportPickUp{
    vertical-align: middle;
    display: inline-block;
    width: 66px;
    height: 21px;
}
.commonTab .airportPickUp{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px -133px;
}
.commonTab .grayAirportPickUp{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px -160px;
}
.commonTab .lineLink{
    display: inline-block;
    width: 175px;
    max-height: 45px;
}
.commonTab .lineLink a{
    color: #333333;
}
.commonTab tbody a:hover{
    color: #0393d3;
    text-decoration: underline;
}
.commonTab .lineName{
    display: inline-block;
    width:230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.commonTab .lineName{
    color: #838282;
}
.commonTab tbody a{
    color: #0393d3;
    margin-right: 5px;
}
.commonTab .redFonts{
    color: #fc3333;
}
.commonTab .greenFonts{
    color: #01a84b;
}
.commonTab .grayFonts{
    color: #aaaaaa;
}
.commonTab .orangeFonts{
    color: #e55302;
}
.commonTab .lineLink .linkGrayFonts,
.commonTab tbody .grayFontsLink{
    color: #aaaaaa;
    cursor: default;
}
.commonTab .lineLink .linkGrayFonts:hover,
.commonTab tbody .grayFontsLink:hover{
    color: #aaaaaa;
    text-decoration: none;
}
.commonTab .limitWidth{
    width: 95%;
    line-height: 18px;
}
.causeContent{
    line-height: 23px;
    font-size: 14px;
}
.pullRightStyle{
    float: right;
    margin-top: 20px;
}
.editorText{
    width:900px;
    height:90px;
    display: block;
    padding:5px ;
}
.mainBodyHead .numberContent{
    font-size: 12px;
    margin-left: 10px;
}
.editorModel{
    width: 900px;
    margin: 20px auto;
}
.editorModel .editorModelTitle{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.editorModel .editorCommonModel{
    margin: 20px 0;
    position: relative;
}
.editorModel .editorModelTitle input[type="text"]{
    min-width: 170px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 14px;
}
.editorModelTitle .titleHint{
    color: #aaaaaa;
    margin-left: 10px;
}
.addContentItem{
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border: 1px solid #067bf1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}
.addContentItem .addIcon{
    vertical-align: middle;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 3px;
    background: url("../images/supplier/smallSpirit.png") no-repeat -12px -80px;
}
.addContentItem:hover{
    background: #0074d2;
    color: #FFFFFF;
}
.addContentItem:hover .addIcon{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -80px;
}
.editorCommonModel .deleteBtn{
    position: absolute;
    top: 5%;
    right: 1%;
    color: #999999;
}
.editorCommonModel .deleteBtn:hover{
    color: #0074d2;
    text-decoration: underline;
}
.editorModel .hiddenEditor{
    display: none;
}
.travelStatus {
    background: url(../images/supplier/smallSpirit.png) no-repeat;
    width: 25px;
    height: 23px;
    float: left;
    margin-right: 5px;
}
.path-on-sale {
    background-position: -152px -26px;
}
.path-off-line {
    background-position: -122px -26px;
}
.commonTab .travel-path-text {
    color: #333;
    float: left;
}
.commonTab .lineLink:hover{
    text-decoration: underline !important;
}

.seeContent{
    color: #cc6600;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #fff4ec;
}
.seeContent .title{
    color: #cc6600;
    font-weight: 500;
    font-size: 14px;
}
.seeContent p{
    line-height: 20px;
}
.centerStyleBtn {
    font-size: 14px;
    text-align: center;
}
.centerStyleBtn .cancel{
    font-size: 14px;
    color: #636363;
    text-decoration: underline;
    margin-left: 20px;
}
.centerStyleBtn .cancel:hover{
    text-decoration: underline;
}
.lineNumberWindow{
    font-size: 14px;
    margin-bottom: 10px;
}

.auditWindowContent{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

.journalList{
    margin: 10px 0;
    font-size: 14px;
    max-height: 310px;
    overflow-y: auto;
}
.journalList li{
    position: relative;
    padding: 0 5px 20px 15px;
    margin: 0 10px;
}
.journalList .journalTitle{
    color: #333333;
}
.journalList .journalTitle em{
    margin-left: 20px;
}
.journalList .journalP{
    color: #999999;
    line-height: 20px;
    margin-top: 3px;
}
.journalList .journalIcon{
    display: inline-block;
    background: url("../images/supplier/smallSpirit.png") no-repeat -250px 0;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -6px;
    top: 4px;
    z-index: 2;
}
.journalList .journalLeftLine{
    display: inline-block;
    width: 1px;
    border-left: 1px solid #ade0f1;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 4px;
    z-index: 1;
}

/*  弹窗表题添加内容 */
.addTitleContent {
    margin-left: 30px;
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: -27px;
    left: 65px;
    font-weight: 500;
}
.addTitleContent em{
    font-weight: bold;
    color: #ff6600;
    margin: 0 3px;
}
div.addTitleStyle {
    z-index: 1 !important;
    overflow: visible !important;
}

/*  产品管理 E  */
