
/* jenny.wang */
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}
.k-i-arrow-s,.k-link:not(.k-state-disabled):hover > .k-i-arrow-s, .k-state-hover .k-i-arrow-s, .k-button:hover .k-i-arrow-s,
.k-textbox:hover .k-i-arrow-s, .k-button:active .k-i-arrow-s{
    background-position:0 -30px;
}
.k-popup .k-list .k-item{
    line-height: 30px;
}
.k-widget .k-input{
    height: 30px;
    line-height: 30px;
}
#mainContent .mainBody{
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px 0px #cccccc;
    padding: 10px;
    font-size: 14px;
    background: #FFFFFF;    
}
.mainBody .searchTab{
    margin: 10px 0;
}
#mainContent .searchTab th{
    font-weight: 500;
    text-align: right;
    padding: 0 3px 10px 0;
}
#mainContent .searchTab td{
    padding: 0 3px 10px 0;
}
#mainContent .searchTab td input[type="text"]{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
}










































