/*yan.liu*/
/*基本信息*/
.mainBodyHead {
    border-bottom: 1px solid #eaeaea;
    padding:5px 15px 10px 15px;
    height: auto;
    overflow: hidden;
}
.fs16 {
    font-size: 16px;
}
.mainBodyHead .lineNum {
    float: left;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}
.mainBodyHead .mainBodyOper {
    float: right;
}
.mainBodyOper a {
    color: #067bf1;
    text-decoration: none;
}
.mainBodyOper a:hover {
    color: #067bf1;
    text-decoration: underline;
}
.basicInfoTable {
    margin: 20px 0;
}
.basicInfoTable th {
    text-align: right;
    font-weight: normal;
    padding: 0 5px 20px 0;
}
.basicInfoTable td {
    padding: 0 5px 20px 0;
}
.basicInfoTable input[type="text"] {
    height: 30px;
    line-height: 30px;
    border: 1px solid #d3d3d3;
}
.level-explain i {
    background: url("../images/explainIcon.png") no-repeat;
    display: inline-block;
    width:18px;
    height: 18px;
    margin:0 5px 0 10px;
    vertical-align: middle;
    cursor: pointer;
}
.placeBox, .addPlaceBox {
    border: 1px solid #aad5f4;
    background: #ebf6fe;
    min-width: 63px;
    height: 30px;
    line-height: 30px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    color: #666;
    margin: 0 3px 0 0;
}
.placeBox:hover, .addPlaceBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    color: #fff;
    cursor: pointer;
}
.placeBox i, .addPlaceBox i {
    position: absolute;
    top:12px;
    right: 10px;
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 0;
    display: inline-block;
    width:7px;
    height: 7px;
}
.placeBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -8px 0;
}
.addPlaceBox {
    border: 1px solid #158dee;
    background: #fff;
    padding: 0 0 0 20px;
    min-width: 63px;
}

.addPlaceBox i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -8px;
    width:12px;
    height: 12px;
    left: 5px;
    top:10px;
}
.addPlaceBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -13px -8px;
}
.textareaMark {
    width:455px;
    height: 89px;
    
}


/* jenny.wang */
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}
.k-i-arrow-s,.k-link:not(.k-state-disabled):hover > .k-i-arrow-s, .k-state-hover .k-i-arrow-s, .k-button:hover .k-i-arrow-s,
.k-textbox:hover .k-i-arrow-s, .k-button:active .k-i-arrow-s{
    background-position:0 -30px;
}
.k-popup .k-list .k-item{
    line-height: 30px;
}
.k-widget .k-input{
    height: 30px;
    line-height: 30px;
}
.popup-window{
    padding: 15px 20px 20px !important;
}
.grid-table-pagination .links a,.grid-table-pagination .links a:hover{
    border: 0;
    background: none;
}
.grid-table-pagination .noIcon{
    display: none;
}
.grid-table-pagination .links a:hover{
    text-decoration: underline;
    color: #05579d;
}
.grid-table-pagination .links .current,.grid-table-pagination .links .current:hover{
    background-color: #05579d;
    border: 0 !important;
    color: #FFFFFF;
}
.grid-table-pagination .links .ellipsis{
    cursor: default;
}
.grid-table-pagination .links .current:hover,.grid-table-pagination .links .ellipsis:hover{
    text-decoration: none;
}
.grid-table-pagination .prev:hover,.grid-table-pagination a:hover{
    text-decoration: none;
    border: 0;
    background-color: #FFFFFF;
}
.grid-table-pagination a{
    border: 0;
}



#mainContent .mainBody{
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px 0px #cccccc;
    padding: 10px;
    font-size: 14px;
    background: #FFFFFF;    
}
.mainBody .searchTab{
    margin: 10px 0;
}
#mainContent .searchTab th{
    font-weight: 500;
    text-align: right;
    padding: 0 3px 10px 0;
}
#mainContent .searchTab td{
    padding: 0 3px 10px 0;
}
#mainContent .searchTab td input[type="text"]{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
}

.commonTab{
    margin: 10px 0;
    color: #333333;
    width: 100%;
    font-size: 14px;
}
.commonTab tbody td:first-child,.commonTab thead th:first-child{
    padding-left: 10px;
}
.commonTab thead th{
    background: #eeeeee;
    padding: 10px 3px;
    color: #555555;
    text-align: left;
}
.commonTab tbody td{
    padding: 10px 3px;
    border-bottom: 1px solid #eaeaea;
}
.commonTab tbody tr:hover{
    background: #f8f8f8;
}
.commonTab .exitTravel,.commonTab .inlandTravel,.commonTab .rimTravel{
    vertical-align: middle;
    display: inline-block;
    width: 46px;
    height: 21px;
    margin-right: 2px;
}
.commonTab .exitTravel{
    background: url("../../static/images/supplier/smallSpirit.png") no-repeat 0 0;
}
.commonTab .inlandTravel{
    background: url("../../static/images/supplier/smallSpirit.png") no-repeat 0 -26px;
}
.commonTab .rimTravel{
    background: url("../../static/images/supplier/smallSpirit.png") no-repeat 0 -52px;
}
.commonTab .freeWalker,.commonTab .groupTravel,.commonTab .localTravel,.commonTab .semiSelfService{
    vertical-align: middle;
    display: inline-block;
    width: 66px;
    height: 21px;
}
.commonTab .groupTravel{
    background: url("../../static/images/supplier/smallSpirit.png") no-repeat -51px -26px;
}
.commonTab .freeWalker{
    background: url("../../static/images/supplier/smallSpirit.png") no-repeat -51px 0;
}
.commonTab .localTravel{
    background: url("../../static/images/supplier/smallSpirit.png") no-repeat -51px -52px;
}
.commonTab .semiSelfService{
    background: url("../../static/images/supplier/smallSpirit.png") no-repeat -51px -78px;
}
.commonTab .lineLink a{
    color: #333333;    
}
.commonTab .lineLink a:hover,.commonTab tbody a:hover{
    color: #0393d3;
    text-decoration: underline;
}
.commonTab .lineName,.commonTab .lineLink a{
    display: inline-block;
    width:280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.commonTab .lineName{
    color: #838282;
}
.commonTab tbody a{
    color: #0393d3;
    margin-right: 5px;
}
.commonTab .redFonts{
    color: #fc3333;
}
.commonTab .greenFonts{
    color: #01a84b;
}
.commonTab .grayFonts{
    color: #aaaaaa;
}
.commonTab .lineLink .linkGrayFonts{
    color: #aaaaaa;
    cursor: default;
}
.commonTab .lineLink .linkGrayFonts:hover{
    color: #aaaaaa;
    text-decoration: none;
}
.commonTab .limitWidth{
    width: 95%;
    line-height: 18px;
}
.causeContent{
    line-height: 23px;
    font-size: 14px;
}
.pullRightStyle{
    float: right;
    margin-top: 20px;
}

























