@charset "utf-8";

/*  旅游模块的页面与国内机票、国际机票、财务管理模块 风格不同，所以将 supplier_common中公共样式
移至此处，仅供旅游模块使用,其他模块恢复至旧版状态    By: shuaigeng.zhao;   */
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer{
    font-family: microsoft yahei,Arial,Helvetica,sans-serif;
}
.k-i-arrow-s,.k-link:not(.k-state-disabled):hover > .k-i-arrow-s, .k-state-hover .k-i-arrow-s, .k-button:hover .k-i-arrow-s,
.k-textbox:hover .k-i-arrow-s, .k-button:active .k-i-arrow-s{
    background-position:0 -30px !important;
}
.k-popup .k-list .k-item{
    line-height: 30px !important;
}
.k-widget .k-input{
    height: 30px !important;
    line-height: 30px !important;
}
.popup-window{
    padding: 15px 20px 20px !important;
}
.grid-table-pagination .links a,.grid-table-pagination .links a:hover{
    border: 0;
    background: none;
}
.grid-table-pagination .noIcon{
    display: none;
}
.grid-table-pagination .links a:hover{
    text-decoration: underline;
    color: #05579d;
}
.grid-table-pagination .links .current,.grid-table-pagination .links .current:hover{
    background-color: #05579d;
    border: 0 !important;
    color: #FFFFFF;
}
.grid-table-pagination .links .ellipsis{
    cursor: default;
}
.grid-table-pagination .links .current:hover,.grid-table-pagination .links .ellipsis:hover{
    text-decoration: none;
}
.grid-table-pagination .prev:hover,.grid-table-pagination a:hover{
    text-decoration: none;
    border: 0;
    background-color: #FFFFFF;
}
.grid-table-pagination a{
    border: 0;
}

.k-window-titlebar{font-size: 14px;}
body {
    font-size: 14px;
}
input,textarea {
    padding: 5px;
    font-size: 14px;
}

/* 上传按钮  kendoUpload  样式重新定义
（只适合供应商和运营商旅游上传图片）  By: shuaigeng.zhao;   start  */
li .k-button.k-upload-button {
    width: 188px;
    height: 123px;
    position: absolute;
    left: -140px;
    top: -70px;
    opacity: 0;
    background: none!important;
}

/*  kendoUpload image end  */

.mainContent {
    background: #fff;
    width: 958px;
    margin: 20px auto 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px 0px #cccccc;
    padding: 10px;
    min-height: 520px;
    position: relative;
    top: 100px;
    font-size: 14px;
}

/*  修改供应商旅游通用表格样式  */
div.k-grid-header, thead.k-grid-header .k-header{
    border-bottom: 0;
}
.k-grid-header .k-header{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #eeeeee;
    background-color: #eeeeee;
}
.k-block, .k-widget, .k-input, .k-textbox, .k-group, .k-content, .k-header, .k-editable-area, .k-separator,
.k-colorpicker .k-i-arrow-s, .k-textbox > input, .k-autocomplete, .k-dropdown-wrap, .k-toolbar,
.k-group-footer td, .k-grid-footer, .k-footer-template td, .k-state-default, .k-state-default .k-select,
.k-state-disabled, .k-grid-header-wrap, .k-grid-header, .k-grid td, .k-grid td.k-state-selected,
.k-grid-footer-wrap, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-refresh, .k-grouping-header,
.k-grouping-header .k-group-indicator, .k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link,
.k-panelbar .k-panel, .k-panelbar .k-content, .k-calendar th, .k-slider-track, .k-splitbar,
.k-dropzone-active, .k-upload-files, .k-tiles, .k-toolbar, .k-tooltip, .k-progress{
    border-color: #fff;
}
.k-grid tbody tr:hover td{
    background-color: #F8F8F8;
}


/* jenny.wang */

.ke-toolbar{
    padding:7px 5px;
}
.ke-statusbar{
    background: transparent;
    border-top: 0;
    padding-bottom: 5px;
}
.ke-statusbar-center-icon{
    background: none;
}
.ke-edit{
    height: 90px !important;
}
.ke-container{
    max-width: 900px;
    resize: none;
}

/* 产品管理 S */

.new-product {
    background: url("../images/supplier/new-path.png") no-repeat;
    background-position: 0 -190px;
    display: inline-block;
    width: 115px;
    height: 40px;
}

.new-product:hover {
    cursor: pointer;
    background-position: 0 -236px;
}

.searchTab{
    margin: 10px 0;
}
.searchTab th{
    font-weight: 500;
    text-align: right;
    padding: 0 3px 10px 0;
}
.searchTab td{
    padding: 0 3px 10px 0;
}
.searchTab td input[type="text"]{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
}

.commonTab{
    margin: 10px 0;
    color: #333333;
    width: 100%;
    font-size: 14px;
}
.commonTab tbody td:first-child,.commonTab thead th:first-child{
    padding-left: 10px;
}
.commonTab thead th{
    background: #eeeeee;
    padding: 10px 3px;
    color: #555555;
    text-align: left;
}
.commonTab tbody td{
    padding: 10px 3px;
    border-bottom: 1px solid #eaeaea;
}
.commonTab tbody tr:hover{
    background: #f8f8f8;
}
.commonTab .useCars,
.commonTab .grayUseCars{
    vertical-align: middle;
    display: inline-block;
    width: 46px;
    height: 21px;
    margin-right: 2px;
}
.commonTab .useCars{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -133px;
}
.commonTab .grayUseCars {
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -160px;
}
.commonTab .airportPickUp,.commonTab .grayAirportPickUp{
    vertical-align: middle;
    display: inline-block;
    width: 66px;
    height: 21px;
}
.commonTab .airportPickUp{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px -133px;
}
.commonTab .grayAirportPickUp{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px -160px;
}
.commonTab .lineLink{
    display: inline-block;
    width: 175px;
    max-height: 45px;
}
.commonTab .lineLink a{
    color: #333333;
}
.commonTab tbody a:hover{
    color: #0393d3;
    text-decoration: underline;
}
.commonTab .lineName{
    display: inline-block;
    width:230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.commonTab .lineName{
    color: #838282;
}
.commonTab tbody a{
    color: #0393d3;
    margin-right: 5px;
}
.commonTab .redFonts{
    color: #fc3333;
}
.commonTab .greenFonts{
    color: #01a84b;
}
.commonTab .grayFonts{
    color: #aaaaaa;
}
.commonTab .lineLink .linkGrayFonts,
.commonTab tbody .grayFontsLink{
    color: #aaaaaa;
    cursor: default;
}
.commonTab .lineLink .linkGrayFonts:hover,
.commonTab tbody .grayFontsLink:hover{
    color: #aaaaaa;
    text-decoration: none;
}
.commonTab .limitWidth{
    width: 95%;
    line-height: 18px;
}
.causeContent{
    line-height: 23px;
    font-size: 14px;
}
.pullRightStyle{
    float: right;
    margin-top: 20px;
}
.editorText{
    width:900px;
    height:90px;
    display: block;
    padding:5px ;
}
.mainBodyHead .numberContent{
    font-size: 12px;
    margin-left: 10px;
}
.editorModel{
    width: 900px;
    margin: 20px auto;
}
.editorModel .editorModelTitle{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.editorModel .editorCommonModel{
    margin: 20px 0;
    position: relative;
}
.editorModel .editorModelTitle input[type="text"]{
    min-width: 170px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 14px;
}
.editorModelTitle .titleHint{
    color: #aaaaaa;
    margin-left: 10px;
}
.addContentItem{
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border: 1px solid #067bf1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}
.addContentItem .addIcon{
    vertical-align: middle;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 3px;
    background: url("../images/supplier/smallSpirit.png") no-repeat -12px -80px;
}
.addContentItem:hover{
    background: #0074d2;
    color: #FFFFFF;
}
.addContentItem:hover .addIcon{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -80px;
}
.editorCommonModel .deleteBtn{
    position: absolute;
    top: 5%;
    right: 1%;
    color: #999999;
}
.editorCommonModel .deleteBtn:hover{
    color: #0074d2;
    text-decoration: underline;
}
.editorModel .hiddenEditor{
    display: none;
}
.travelStatus {
    background: url(../images/supplier/smallSpirit.png) no-repeat;
    width: 25px;
    height: 23px;
    float: left;
    margin-right: 5px;
}
.path-on-sale {
    background-position: -152px -26px;
}
.path-off-line {
    background-position: -122px -26px;
}
.commonTab .travel-path-text {
    color: #333;
    float: left;
}
.commonTab .lineLink:hover{
    text-decoration: underline !important;
}

.seeContent{
    color: #cc6600;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #fff4ec;
}
.seeContent .title{
    color: #cc6600;
    font-weight: 500;
    font-size: 14px;
}
.seeContent p{
    line-height: 20px;
}
.centerStyleBtn {
    font-size: 14px;
    text-align: center;
}
.centerStyleBtn .cancel{
    font-size: 14px;
    color: #636363;
    text-decoration: underline;
    margin-left: 20px;
}
.centerStyleBtn .cancel:hover{
    text-decoration: underline;
}
.lineNumberWindow{
    font-size: 14px;
    margin-bottom: 10px;
}

.auditWindowContent{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

.journalList{
    margin: 10px 0;
    font-size: 14px;
    max-height: 310px;
    overflow-y: auto;
}
.journalList li{
    position: relative;
    /*border-left: 1px solid #ade0f1;*/
    padding: 0 5px 20px 15px;
    margin: 0 10px;
}
.journalList .journalTitle{
    color: #333333;
}
.journalList .journalTitle em{
    margin-left: 20px;
}
.journalList .journalP{
    color: #999999;
    line-height: 20px;
    margin-top: 3px;
}
.journalList .journalIcon{
    display: inline-block;
    background: url("../images/supplier/smallSpirit.png") no-repeat -250px 0;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -6px;
    top: 4px;
    z-index: 2;
}
.journalList .journalLeftLine{
    display: inline-block;
    width: 1px;
    border-left: 1px solid #ade0f1;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 4px;
    z-index: 1;
}
.commonTab .greenBgFonts,
.commonTab .greenBorderFonts{
    font-size: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
}
.commonTab .greenBgFonts{
    min-width: 45px;
    background-color: #47c9af;
    color: #fff;
    height: 22px;
    line-height: 22px;
}
.commonTab .greenBorderFonts{
    min-width: 65px;
    color: #14b8d4;
    border: 1px dashed #14b8d4;
    height: 20px;
    line-height: 20px;
}
.commonTab .greenBorderFonts.disable{
    border: 1px dashed #b2b2b2;
    color: #9a9a9a;
}
.commonTab .greenBgFonts.disable{
    background-color: #cdcdcd;
}

/*  弹窗表题添加内容 */
.addTitleContent {
    margin-left: 30px;
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: -27px;
    left: 65px;
    font-weight: 500;
}
.addTitleContent em{
    font-weight: bold;
    color: #ff6600;
    margin: 0 3px;
}
div.addTitleStyle {
    z-index: 1 !important;
    overflow: visible !important;
}

/*  产品管理 E  */


/*  新增产品 S  */
.mainBodyHead {
    border-bottom: 1px solid #eaeaea;
    padding:5px 15px 10px 15px;
    overflow: hidden;
    margin: 0 -10px;
}
.fs16 {
    font-size: 16px;
}
.proNameCheckbox{
    position:absolute;
    top:60px;
}
.mainBodyHead .lineNum {
    float: left;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}
.lineNum a{
    margin-left: 10px;
    color: #067bf1;
}
.lineNum a:hover{
    text-decoration: underline;
}
.mainBodyHead .mainBodyOper {
    float: right;
}
.mainBodyOper a {
    color: #067bf1;
    text-decoration: none;
}
.mainBodyOper a:hover {
    color: #067bf1;
    text-decoration: underline;
}
.basicInfoTable {
    width: 100%;
}
.basicInfoTable th {
    text-align: right;
    font-weight: normal;
    padding: 0 5px 20px 0;
}
.basicInfoTable td {
    padding: 0 5px 20px 0;
}
.basicInfoTable input[type="text"] {
    height: 20px;
    line-height: 20px;
    border: 1px solid #d3d3d3;
}
.level-explain:hover {
    cursor: pointer;
    color: #0074d2;
    /*text-decoration: underline;*/
}
.level-explain i {
    background: url("../images/explainIcon.png") no-repeat;
    display: inline-block;
    width:18px;
    height: 18px;
    margin:0 5px 0 10px;
    vertical-align: middle;
    cursor: pointer;
}
.placeBox, .addPlaceBox {
    border: 1px solid #aad5f4;
    background: #ebf6fe;
    min-width: 63px;
    height: 30px;
    line-height: 30px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    color: #666;
    margin: 0 3px 0 0;
}
.placeBox:hover, .addPlaceBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    color: #fff;
    cursor: pointer;
}
.placeBox i, .addPlaceBox i {
    position: absolute;
    top:12px;
    right: 10px;
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 0;
    display: inline-block;
    width:7px;
    height: 7px;
}
.placeBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -8px 0;
}
.addPlaceBox {
    border: 1px solid #158dee;
    background: #fff;
    padding: 0 0 0 20px;
    min-width: 63px;
}
.addPlaceBox i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -8px;
    width:12px;
    height: 12px;
    left: 5px;
    top:10px;
}
.addPlaceBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -13px -8px;
}
.textareaMark {
    width:680px;
    height: 90px;
}
.uploadImgBlock {
    height: auto;
    overflow: hidden;
    width: 830px;
}
.uploadImgBlock li {
    width:190px;
    margin: 0 10px 20px 0;
    float: left;
}
.uploadImgBlock li img {
    margin: 0 0 8px 0;
}
.uploadImgBlock li span{
    color: #999;
}
.uploadImgBlock li span:hover {
    color: #0074d2;
    text-decoration: underline;
    cursor: pointer;
}
.uploadImgBlock li p span {
    margin: 0 20px 0 0;
}
.uploadImgBlock li p span .last {
    margin-right: 0px;
    float: right;
}
.uploadImgBlock li p span:last-child {
    margin-right: 0px;
    float: right;
    color: #0074d2;
}
.uploadImgBlock li.uploadingBox {
    border: 1px solid #d3d3d3;
    width:166px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
}
.uploadingBox .uploadBar {
    background: #ededed;
    width:165px;
    height: 16px;
    position: relative;
}
.uploadingBox .uploadinged {
    background: #0074d2;
    width:60px;
    height: 16px;
    position: absolute;
    top:0px;
    left: 0px;
}
.uploadImgBlock li.addImgBox {
    border: 1px solid #0074d2;
    width:166px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
    color: #0074d2;
    font-size: 16px;
}
.uploadImgBlock li.addImgBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}
.addImgBox i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -24px;
    display: inline-block;
    width:19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
}
.addImgBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -20px -24px;
}
/*layer Blue*/

.layerContainer {
    color:#636363;
}
.lineWeight {
    box-shadow:none;
    border: 1px solid #62b1f1;
}
.k-tooltip-dir-n .layerBlueArrow{/*TOP arrow*/
    position:absolute;
    top:-5px;
    left:10%;
    background:url(../images/supplier/layerBlueArrow.png) no-repeat 0 0;
    width:7px;
    height:5px;
}
.k-tooltip-dir-s .layerGrayArrow{/*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../images/store/layerGrayArrow.png) no-repeat 0 -6px;
    width:9px;
    height:5px;
}
/*选择城市*/
.selectCountry{
    font-size: 14px;
    margin: 10px 0;
}
.selectCountry li{
    float: left;
    margin: 5px 5px 0 0;
    padding: 5px 9px;
    min-width: 90px;
    position: relative;
    cursor: pointer;
}
.selectCountry .current{
    background: #59a1e5;
    border:1px solid #59a1e5;
    color: #FFFFFF;
}
.selectCountry .current:hover{
    background: #d2e6f9;
    color: #636363;
}
.selectCountry .current .closeIcon{
    position: absolute;
    top: 9px;
    right: 5%;
    background: url("../images/distributor/smallIcon.png") no-repeat -57px -32px;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    cursor: pointer;
}
.selectCountry .current:hover .closeIcon{
    background: url("../images/distributor/smallIcon.png") no-repeat -57px -41px;
}
.variousCities{
    border:1px solid #abadb3;
    padding: 10px;
    overflow-x: hidden;
    height: 200px;
}
.variousCities li{
    float: left;
    margin: 0 10px 17px 0;
    padding: 5px 9px;
    width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}
.variousCities li:hover{
    background: #fff3f0;
    color: #f1634c;
}
.variousCities .current{
    border: 1px solid #bbbbbb;
}
.variousCities .current:hover{
    background: #FFFFFF;
    border: 1px solid #ef633d;
    color: #f1634c;
}
.cityBtn{
    margin-top: 20px;
}
.cityBtn .selectBtn{
    float: left;
}
.cityBtn .selectBtn button{
    background: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    color: #636363;
    border: 1px solid #abadb3;
    cursor: pointer;
    margin-right: 15px;
}
.cityBtn .selectBtn button:hover{
    background: #f1634c;
    border: 1px solid #f1634c;
    color: #FFFFFF;
}
.selectBtn .redFonts{
    color: #ee0000;
    font-weight: bold;
    margin: 0 5px;
}
.cityBtn .rightOperationA{
    float: right;
    font-size: 14px;
}
.cancelA{
    color: #636363;
    text-decoration: underline;
    margin-left: 15px;
}

/* 文本框提示&报错  */
.input-tip-border {
    border: 1px solid #90d5f1!important;
}
.error-tip-border {
    border: 1px solid #fe8f86!important;
}
.title-input-tip {
    border: 1px solid #c7c7c7;
    padding: 5px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 280px;
    top: 53px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    color: #888;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #cccccc;
}
.title-error-tip {
    border: 1px solid #fe8f86;
    padding: 5px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 80px;
    top: 53px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    color: #fe8f86;
    text-align: center;
}
.tip-arrow {
    display: inline-block;
    background: url(../images/supplier/layerGrayArrow.png);
    width: 18px;
    height: 20px;
    position: absolute;
}
.error-arrow {
    display: inline-block;
    background: url(../images/supplier/layerOrangeArrow.png);
    width: 7px;
    height: 7px;
    position: absolute;
}
.title-input-tip .tip-arrow {
    top: -10px;
    left: 30px;
}
.title-error-tip .error-arrow {
    top: -5px;
    left: 30px;
}
.tip-arrow-top {
    background-position: 0 0;
}
.error-arrow-top {
    background-position: 0 0;
}
.tip-arrow-left {
    background-position: 0 -11px;
}
.error-arrow-left {
    background-position: 0 -6px;
}
.path-name-input-tip {
    border: 1px solid #c7c7c7;
    box-shadow: 0px 0px 5px 0px #cccccc;
    padding: 5px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 320px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    color: #888;
    text-align: center;
    left: 485px;
    top: 26px;
}
.path-name-input-tip .tip-arrow {
    top: 1px;
    left: -10px;
}
.path-name-error-tip {
    border: 1px solid #fe8f86;
    padding: 5px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 80px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    color: #fe8f86;
    text-align: center;
    left: 485px;
    top: 26px;
}
.datepicker {
    height:22px;
    background-image: url(../images/store/i8.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    /*by zzz 删除白色背景色 不知是否有问题*/
}
.path-name-error-tip .error-arrow {
    top: 10px;
    left: -5px;
}

.mainContent.changeMainContent{
    margin-bottom: 0;
    background: none;
    border: none;
    box-shadow: none;
}
.changeMainContent .basicInfoTable,
.changeMainContent .mainBodyHead{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px 0px #cccccc;
}
.changeMainContent .mainBodyHead{
    padding: 10px 0;
    margin: 0;
    width: 956px;
    z-index: 100;
    margin-bottom: 10px;
}
.changeMainContent .lineNum{ margin-left: 10px;}
.changeMainContent .mainBodyOper{ margin-right: 10px;}
.basicInfoTable .firstTr td,
.basicInfoTable .firstTr th{
    padding-top: 25px;
}
.basicInfoTable .redFonts{
    color: #ff0000;
}
.basicInfoTable .themeLabel{
    width: 710px;
}
.themeLabel span{
    display: inline-block;
    width: 85px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 10px 10px 0;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.themeLabel span:hover{
    border: 1px solid #2092ef;
}
.themeLabel .current{
    background-color: #2092ef;
    color: #fff;
    border: 1px solid #2092ef;
}
.basicInfoTable .verticalTop{
    vertical-align: top;
    padding-top: 5px;
}
/*  新增产品 E  */

/* 详情信息 */
.productInfo{
    font-size:16px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px 0px #cccccc;
    background:#fff;
}
.productInfo-con{
    padding:30px 20px 8px 15px;
    border-bottom:1px solid #eaeaea;
}
.con-header{
    font-size:16px;
    color:#333;
    margin-bottom:18px;
    font-family:"微软雅黑";
    font-weight: bold;
}
.productInfo table th{
    width:96px;
    text-align:right;
    font-weight:normal;
    font-size:16px;
    color:#333;
    padding-right:8px;
    padding-bottom:18px;
}
.productInfo table td {
    padding-bottom:18px;
}
.productInfo table td input{
    height:32px;
    line-height:32px;
    font-size:14px;
    padding:0 10px;
}
.textareath{
    font-size:14px;
    line-height:32px;
    vertical-align:top;
}
.productInfo table td textarea{
    width:790px;
    height:103px;
    padding:10px;
}
.productInfo .con5 table table tr th{
    background:#eee;
    color:#333;
    font-weight:bold;
    height:42px;
    text-align:center;
    padding:0;
}
.productInfo .con5 table table{
    border:1px solid #eaeaea;
}
.productInfo .con5 table table tbody td{
    height:48px;
    text-align:center;
    padding:0;
}
.th-vertical{
    vertical-align:top;
}
.delbtn{
    display:inline-block;
    width:17px;
    height:17px;
    cursor:pointer;
    background:url(../images/supplier/productInfo-delbtn.png) no-repeat;
}
.delbtn:hover{
    background:url(../images/supplier/productInfo-delbtn-hover.png) no-repeat;
}
.addGatherInfo{
    height:30px;
    line-height:30px;
    border:1px dashed #1ba1e2;
    text-align:center;
    font-size:14px;
    color:#1ba1e2;
    cursor:pointer;
}
.addGatherInfo:hover{
    background:#e5f5fd;
}
.addGatherInfo em{
    width:13px;
    height:13px;
    display:inline-block;
    margin-right:6px;
    background:url(../images/supplier/addGatherInfoIcon.png) no-repeat;
}
/* 详情信息end */


/* 销售管理 */
.lineNum span{
    font-size:14px;
    margin-left:16px;
}
.saleInfo{
    font-size:16px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px 0px #cccccc;
    background:#fff;
}
.setGroupHead{
    height:60px;
    border-bottom:1px solid #eaeaea;
    padding:12px 18px 0 30px;
    box-sizing:border-box;
}
.input-date{
    float:left;
    margin-top:6px;
}
.input-date input{
    width:110px;
    height:26px;
    box-sizing:border-box;
}
.rectangeBtn{
    width:90px;
    height:35px;
    line-height:35px;
    background:#fe5050;
    color:#fff;
    font-size:14px;
    text-align:center;
    border-radius:3px;
    float:right;
    padding:0;
}
.rectangeBtn:hover{
    background:#ff6464;
}
.setGroupBar{
    height:56px;
    padding:12px 0 0 30px;
    box-sizing:border-box;
}
.addspan{
    width:70px;
    height:30px;
    display:inline-block;
    background:#0074d2;
    color:#fff;
    cursor:pointer;
   /*  background:#fff;
   border:1px solid #0074d2;
   color:#0074d2; */
    line-height:30px;
    text-align:center;
}
.addspan i{
    width:12px;
    height:12px;
    display:inline-block;
    margin-right:6px;
    background:url(../images/supplier/sale-add.png) no-repeat;
    /* background:url(../images/supplier/sale-add-hover.png) no-repeat; */
}
.addspan:hover{
    background:#fff;
    border:1px solid #0074d2;
    color:#0074d2;
    /* background:#0074d2;
    color:#fff; */
}
.addspan:hover i{
    background:url(../images/supplier/sale-add-hover.png) no-repeat;
    /* background:url(../images/supplier/sale-add.png) no-repeat; */
}
.groupStageTabBox{
    padding:0 9px;
}
.groupStageTab thead{
    background:#eeeeee;
    font-size: 14px;
}
.groupStageTab thead tr{
    height:40px;
}
.groupStageTab tbody tr{
    border-bottom:1px solid #eaeaea;
}
.groupStageTab tbody tr td{
    font-size: 14px;
    text-align:center;
    padding:0;
}
.groupStageTab tbody tr td input{
    margin-left:5px;
    margin-right:8px;
}
.groupStageTab tbody tr td span{
    cursor:pointer;
}
.deepergray{
    background:#e1e1e1;
}
.red{
    color:#fc3333;
}
.blue{
    color:#0393d3;
}
.underline{
    text-decoration:underline;
}
.adultbg{
    background:#e7f6ff;
}
.kidsbg{
    background: #e6ffec;
}
.babybg{
    background: #fff6ee;
}
.oldpeoplebg{
    background: #e6f6f7;
}
.groupStageTab thead tr.personTypeBox{
    height:20px;
    background:#fff;
}
.groupStageTab thead tr.personTypeBox th{
    padding:0;
}
.adultBox,.kidsBox,.babyBox,.oldpeopleBox{
    height:20px;
    line-height:20px;
    text-align:center;
    font-size:12px;
    color:#fff;
}
.adultBox{
    background: #50aee4;
}
.kidsBox{
    background: #69bf7f;
}
.babyBox{
    background: #f9aa76;
}
.oldpeopleBox{
    background: #6dc4c7;
}
.borderL{
    border-left:1px solid #eaeaea;
}
.borderR{
    border-right:1px solid #eaeaea;
}
.grid-table-pagination{
    padding:12px;
}
.grid-table-pagination a{
    width:25px;
    height:25px;
    line-height:25px;
}
/* 弹窗样式 */
.deleteInfo{
    height:30px;
}
 .pullCenterStyle{
    margin-top:20px;
    height:40px;
    text-align:center;
}
.changeMargin{
    margin-left:35px;
} 
.batchAddBlock{
    display: inline-block;
    margin-left:12px;
    cursor:pointer;
}
.batchAddBlock i{
    width:18px;
    height:11px;
    display:inline-block;
    background:url(../images/supplier/batchaddbtn.png) no-repeat;
}
.changeMarginT{
    margin-top:14px;
}
.addtopPaddingB{
    padding-bottom:14px;
    border-bottom:1px dashed #dadada;
}
.addDatePriceHeader{
    height:40px;
    background:#eeeeee;
    text-align:center;
}
.addPriceInput{
    width:62px;
    height:15px;
}
.addPricetr{
    height:50px;
    text-align:center;
    border-bottom:1px solid #dadada;
}
.addPricetr input{
    text-align:center;
}
.unorderRule{
    height:32px;
    padding:15px 0;
    border-bottom:1px dashed #dadada;
}
.unorderRule select{
    width:130px;
    height:30px;
    padding: 5px;
}
.stock{
    margin-bottom:14px;
    padding:16px 0;
    border-bottom:1px dashed #dadada;
}
.stock span{
    height:20px;
}
.stockNum input{
    width:74px;
    height:18px;
}
#stockCheckbox{
    margin-left:15px;
}
.weekBar {
  padding: 8px 0 0 0;
}
.weekBar span {
  margin-right: 8px;
  border: 1px solid #d3d3d3;
  padding: 1px 4px;
  color: #666;
  text-align: center;
}
.weekBar span.currentWeek {
  background: #0074d2;
  border: 1px solid #0074d2;
  color: #fff;
}
.weekBar span:hover {
  border: 1px solid #0074d2;
  cursor: pointer;
}
.groupWindowTable td, .groupWindowTable th {
  padding: 4px 0;
}

/* 销售管理end */

.k-pager-wrap {
    font-size: 14px!important;
}

.k-grid-content tbody tr.noHoverStyle:hover td.adultBox{
    background: #50aee4!important;
}
.k-grid-content tbody tr.noHoverStyle:hover td.kidsBox{
    background: #69bf7f!important;
}
.k-grid-content tbody tr.noHoverStyle:hover td.babyBox{
    background: #f9aa76!important;
}
.k-grid-content tbody tr.noHoverStyle:hover td.oldpeopleBox{
    background: #6dc4c7!important;
}
