@charset "utf-8";
.mainContent{
	border:0;
	padding:0;
	background:none;
	box-shadow:none;
}
.productNum-table{
	height:63px;
	font-size:16px;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 0px 5px 0px #cccccc;
	background:#fff;
	margin-bottom:10px;	
 	width: 958px;
  	z-index: 100;
}
.productInfo{
	font-size:16px;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 0px 5px 0px #cccccc;
	background:#fff;
}
.productInfo-con{
	padding:30px 20px 8px 15px;
	border-bottom:1px solid #eaeaea;
}
.con-header{
	font-size:16px;
	color:#333;
	margin-bottom:18px;
	font-family:"微软雅黑";
	font-weight: bold;
}
.productInfo table th{
	width:96px;
	text-align:right;
	font-weight:normal;
	font-size:16px;
	color:#333;
	padding-right:8px;
	padding-bottom:18px;
}
.productInfo table td {
	padding-bottom:18px;
}
.productInfo table td input{
	height:32px;
	line-height:32px;
	font-size:14px;
	padding:0 10px;
}
.textareath{
	font-size:14px;
	line-height:32px;
	vertical-align:top;
}
.productInfo table td textarea{
	width:790px;
	height:103px;
	padding:10px;
}
.productInfo .con5 table table tr th{
	background:#eee;
	color:#333;
	font-weight:bold;
	height:42px;
	text-align:center;
	padding:0;
}
.productInfo .con5 table table{
	border:1px solid #eaeaea;
}
.productInfo .con5 table table tbody td{
	height:48px;
	text-align:center;
	padding:0;
}
.th-vertical{
	vertical-align:top;
}
.delbtn{
	display:inline-block;
	width:17px;
	height:17px;
	cursor:pointer;
	background:url(../images/supplier/productInfo-delbtn.png) no-repeat;
}
.delbtn:hover{
	background:url(../images/supplier/productInfo-delbtn-hover.png) no-repeat;
}
.addGatherInfo{
	height:30px;
	line-height:30px;
	border:1px dashed #1ba1e2;
	text-align:center;
	font-size:14px;
	color:#1ba1e2;
	cursor:pointer;
}
.addGatherInfo:hover{
	background:#e5f5fd;
}
.addGatherInfo em{
	width:13px;
	height:13px;
	display:inline-block;
	margin-right:6px;
	background:url(../images/supplier/addGatherInfoIcon.png) no-repeat;
}

