@charset "utf-8";
/* CSS Document */

.fixedMenu .currentTerm{ padding:0px 10px; background:#fff; color:#333; border-bottom:3px solid #ff7702;}
.setContent{ background:#fff; padding:20px 0;}
.setContent .mtab label{ margin-right:5px;}
#rolemenu .current .mtab a{ color:#0066cc; font-weight:bold;}
#rolemenu .mtab a{ color:#2c2c2c;}
.grayTitleTab{ margin:15px 25px;}
.grayTitleTab thead th{ background:#ebeff1;color:#333333; padding:5px; font-weight:500; border:1px solid #cfcfcf; height:20px; text-align:left;}
.grayTitleTab tbody td{ color:#454545; padding:5px; border:1px solid #cfcfcf; height:20px; line-height:20px; text-align:left;}
.grayTitleTab .linkA a{ color:#0066cc; margin-right:5px;}
.grayTitleTab .linkA a:hover{ text-decoration:underline;}
.setBtn{ position:absolute; right:3%; top:-50px;}
.grayTitleTab .gray{ color:#999999;}
.redFont{ color:#ff3300; vertical-align:middle;}

/* 发送记录 */
.fixedMenu h3{ font-size:14px;}
.information_div{ background:#fff; padding:10px; margin-bottom:10px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2;}
.information_div .information_tab{ width: 100%;}
.information_tab td{ padding: 5px; vertical-align: middle;}
.information_tab th{ text-align: right; font-weight: normal;}
.information_tab td input[type="text"]{ padding-left:3px; height:20px; line-height:20px;}
.information_tab td select{ height:22px; line-height:22px;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid thead th{ text-align:left; padding-left:5px; height:25px; color: #2c2c2c; font-weight: normal;}
.tgrid tbody td{ padding: 8px 5px; text-align: left; vertical-align: middle; white-space: normal;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid  .line_left{ border-left: 1px solid #e4e4e4;}
.tgrid  .line_right{ border-right: 1px solid #e4e4e4;}
.tgrid  .textAlignCenter{
    text-align: center;
}

div.modificationStyle{
    padding:0;
    height:auto;
    overflow:hidden;
}

.modificationStyle .grayBgPiece{
    background-color: #f6f6f6;
    padding: 10px 15px;
    font-size: 12px;
    color: #666666;
}
.grayBgPiece .orangeFonts{
    color: #ff5b02;
}
.tgrid  .fonts666{
    color: #666;
}
.tgrid td div{
    line-height: 18px;
}
.tgrid .thirdEllipsis{
    width: 525px;
    max-height: 60px;
}
.tgrid .thirdEllipsisStyle{
    width: 360px;
    max-height: 60px;
}
.tgrid div .orangeFonts{
    color: #ff5b02;
}
.tgrid a.redFonts{
    color: #ff3333;
}
.tgrid a.greenFonts{
    color: #009933;
}
.tgrid a.blackFonts{
    color: #333;
}
.tgrid a{
    line-height: 22px;
}


/*短信发送*/
.store-messagesBlock {
    background: #fff;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #ccd0d2;
    padding: 20px;
    margin-bottom: 10px;
}
.store-messagesBlock label em {
    vertical-align: middle;
    color: #ff0000;
    margin-right: 3px;
}
.store-messagesBlock label span {
    vertical-align: middle;
}
.store-messagesBlock label input[type=text] {
    border: 1px solid #d3d3d3;
    height: 30px;
    padding: 0 3px;
    vertical-align: middle;
}
.store-messagesBlock .labelTitle {
    width:93px;
    display: inline-block;
    text-align: right;
}
.store-messagesBlock .fc-tips {
    color: #666;
    margin-left: 10px;
}
.messagesDivBlock {
    background: #f4f4f4;
    width:675px;
    margin: 15px 0 20px 99px;
    padding: 10px;
}
.messagesDivBlock th {
    font-weight: normal;
    text-align: right;
    padding: 5px 0;
}
.messagesDivBlock td {
    padding: 5px;
}
.messagesDivBlock input[type=text] {
    vertical-align: middle;
    height: 23px;
    padding: 0 3px;
}
.messagesDivBlock .officeTypeTd label {
    margin-right: 10px;
}
.messagesDivBlock .previewMsg {
    color: #06c;
    border: 1px solid #06c;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px 10px;
    cursor: pointer;
}
.store-messagesBlock label textarea {
    border: 1px solid #d3d3d3;
    padding: 3px;
    vertical-align: middle;
}
.store-messagesBlock .textareaTips {
    margin: 5px 0 0 95px;
    width:693px;
}
.store-messagesBlock .textareaTips .totalNumber {
    float: right;
}
.store-messagesBlock .textareaTips em {
    color: #ff6600;
    margin-left: 5px;
}
.operButtonRow {
    margin: 30px auto;
    text-align: center;
}
.operButtonRow button {
    font-size: 14px;
    font-weight: bold;
}
.large_button.disable { 
    color:#505050; 
}
/*.supplier-popWindowBox {
    border: 2px solid #04ac00;
}
.supplier-popWindowBox .tipsBlock {
    color: #04ac00;
    font-size: 14px;
    font-weight: bold;
}*/
.pass {
    border: 2px solid #04ac00;
    color: #04ac00;
    background: url(../images/pass.png) no-repeat 25px 50%;
}
.pass p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}



html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, header, footer {
  font-family: "宋体","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  outline-style: none;
  padding: 0;
  font-size: 12px;
}


/* 标签页面   by: shuaigeng.zhao; */
.tagMainContent {
    margin-top: 50px;
}

.tagListBlock {
    width: 980px;
    background-color: #fff;
    min-height: 500px;
}

.tagList {
    padding: 20px;
}

.tagList li {
    height: 30px;
    width: 180px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    position: relative;
    margin-bottom: 10px;
}

.addTag {
    border: 1px dashed #09bd3b;
    color: #09bd3b;
}

.addTag i {
    background: url(../images/operator/tag-icons.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 4px;
}

.addTag:hover {
    background-color: #e8fcec;
    cursor: pointer;
}

.tagItem {
    border: 1px solid #a6e0f7;
    background-color: #f5fcff;
}

.tagItem:hover {
    background-color: #48a8de;
    color: #fff;
    cursor: pointer;
}

.tagItem i.delTag {
    background: url(../images/operator/tag-icons.png) no-repeat -36px 0;
    width: 15px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 6px;
    top: 6px;
    visibility: hidden;
}

.tagItem i.delTag:hover {
    background: url(../images/operator/tag-icons.png) no-repeat -18px 0;
    cursor: pointer;
}

.displayTagItem {
    visibility: visible;
}

.newTag {
    height: 30px;
    width: 180px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    position: relative;
    margin-bottom: 10px;
    background-color: #2374a4;
}

.newTag input {
    width: 120px;
    padding-left: 10px;
    position: absolute;
    left: 0;
    height: 26px;
    line-height: 26px;
    background-color: #2374a4;
    color: #fff;
    border: none;
    font-size: 14px;
    top: 2px;
}

.sureAddTag {
    background: url(../images/operator/tag-icons.png) no-repeat -72px 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 6px;
}

.sureAddTag:hover {
    background: url(../images/operator/tag-icons.png) no-repeat -54px 0;
    cursor: pointer;
}

.cancelAddTag {
    background: url(../images/operator/tag-icons.png) no-repeat -18px -19px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 6px; 
}

.cancelAddTag:hover {
    background: url(../images/operator/tag-icons.png) no-repeat 0 -19px;
    cursor: pointer;
}
.fixedMenu h3{
    font-size: 14px;
}
.fixedMenu .fixedMenuTitle{
    display: inline-block;
    margin-right: 20px;
}
.shipBasicInfo .shipBasicInfoBtn{
    text-align: center;
    padding-top: 20px;
}
.shipBasicInfoBtn button{
    font-size: 14px;
    font-weight: bold;
}
.shipBasicInfoBtn .disable{
    color: #505050;
    margin-left: 5px;
}

.businesstype-tagList li{
	width: 120px;
	color: #0096db;
	font-size: 12px;
}



.business-tittle{
	width: 920px;
	margin: 0 auto;
	color: #505050;
	font-size: 14px;
	border-bottom: 1px solid #e1e2e2;
	padding: 10px 0px;
}

.model-tittle{
	width: 920px;
	margin: 0 auto;
	color: #505050;
	font-size: 14px;
	border-bottom: 1px solid #e1e2e2;
}

.model-type-line-cal{
	float: right;
	display: inline-block;
	color: #666666;
	font-size: 12px;
}

.model-type-line-cal i{
	font-size: 12px;
	color: #ff5b02;
	margin: 0 4px;
}

.addModel{
	border: 1px dashed #09bd3b;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 120px;
	text-align: center;
	background-color: #ffffff;
	cursor: pointer;
	margin-left: 10px;
}

.addModel i {
  background: url("../images/operator/tag-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 16px;
  margin-bottom: 4px;
  margin-right: 5px;
  vertical-align: middle;
  width: 16px;
}

.model-type-table td{
	height: 66px;
	text-indent: 16px;
}

.model-type-table .model-content{
	width: 515px;
	height: 52px;
	
}

.model-type-table td .model-content{
	text-indent: 0px;
}

.model-type-table th{
	text-indent: 16px;
}

.confirm-flag-img{
	background: url("../images/confirmFlag.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  	display: inline-block;
  	width: 17px;
 	height: 13px;
 	cursor: pointer;
}

.businesstype-tagList .newTag input{
	width: 110px;
}

#ac-addModel-template .modelNameCls .modelName-left,#ac-addModel-template .businessTypeCls .modelName-left,
#ac-editModel-template .modelNameCls .modelName-left,#ac-editModel-template .businessTypeCls .modelName-left{
	display: inline-block;
	font-size: 12px;
	color: #333333;
	margin-right: 10px;
	font-weight: bold;
	margin-bottom: 10px;
	vertical-align: sub;
}


.modelName-left-align{
	margin-left: 12px;
}

.modelName-left.adjustAlign {
  margin-bottom: 0!important;
  vertical-align: middle!important;
}


#ac-addModel-template .modelNameCls input,
#ac-editModel-template .modelNameCls input{
	width: 208px;
}

#ac-addModel-template .modelNameCls span,
#ac-editModel-template .modelNameCls span{
	color: #999999;
	font-size: 12px;
}

#ac-addModel-template .businessTypeCls select,
#ac-editModel-template .businessTypeCls select{
	width: 120px;
	height: 20px;
}

#ac-addModel-template .businessTypeCls,
#ac-editModel-template .businessTypeCls{
	height: 25px;
}

.model-language-style{
	vertical-align: sub;
	margin: 0px 20px;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}

.contentLeftFont {
  color: #333333;
  font-size: 12px;
  font-weight: bold;
}

.contentCenter {
  float: left;
  height: 100%;
  width: 325px;
}

#modelContent {
  height: 390px;
  margin: 6px auto auto;
  width: 610px;
}

#ac-addModel-template .modelContentCls,
#ac-editModel-template .modelContentCls{
  height: 214px;
  width: 100%;
}

.contentLeft {
  float: left;
  height: 100%;
  width: 71px;
}



.contentCenter textarea{
  border: 1px solid #ccc;
  height: 230px;
  width: 340px;
}

.contentRight {
  float: left;
  height: 100%;
  width: 210px;
}

.contentRight div {
  margin-bottom: 10px;
  margin-left: 35px;
}

.contentRight span {
  color: #0066cc;
  cursor: pointer;
  font-size: 12px;
}

.funBtnCls {
  height: 45px;
  margin: 20px auto;
  text-align: center;
  width: 448px;
}

.saveBtnPos {
  position: relative;
  right: 66px;
}

.saveBtn {
  background: url("../images/button/button_2_1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  height: 31px;
  line-height: 31px;
  text-align: center;
  width: 82px;
}

.cancelBtnPos {
  color: #636363;
  font-size: 14px;
  position: relative;
  right: 25px;
  text-decoration: underline;
}

.biaoqian_button {
  float: right;
  height: 35px;
  line-height: 35px;
  margin-top: 20px;
  text-align: center;
}

.tianjiaqueding_btn {
  background: url("../images/button/button_1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  margin-right: 5px;
  width: 101px;
}

.tianjiaquxiao_btn {
  background: url("../images/button/button_1_1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #606060;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  width: 101px;
}

input[type="radio"] {
  vertical-align: sub;
}

.deleteModelNote{
	background: url("../images/deleteModelNote.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

#ac-deleteModel-template span{
	font-size: 14px;
	color: #2c2c2c;
}

.deleteModelButton{
	margin-right: 20px;
}


/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}

.main-footer center {
    margin-top: 20px;
}

.launch{
  float: right;
  height: 100%;
  font-size: 12px;
  color: #454545;
  margin-right: 10px;
}

.basic-info span{
  margin-left: 30px;
}

.PIDmanage-frame{
  background-color: #fff;
  padding: 20px 25px;
  border-bottom: 1px dotted #aaa;
}

.basic-info .star{
  color: red;
}

.server-info .detail{
  margin-left: 30px;
}

.server-info .detail2{
  margin-left: 60px;
}

.del-current-server{
  color: #0066cc;
}

.del-current-server:hover{
  text-decoration: underline;
}

.port-number-frame,.auto-build-control-frame{
  margin: 20px 0px;
}

.flow-control{
  margin-left: 30px;
}

.reset-btn{
  width: 48px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  background-color: #41aade;
  border-radius: 3px;
}

.reset-btn:hover{
  cursor: pointer;
}

.addserver-address-template{
  text-align:right;
  position:relative;
  right:15px;
  top:20px;

}

.copyright {
    padding-bottom: 20px;
}

.main-footer a {
    color: inherit;
}

.main-footer .bar {
    margin: 0 5px;
}
/*新增用户账号 start*/
.fixedMenu .openTips {
    float: right;
}
.fixedMenu .openTips input {
    vertical-align: middle;
}
.newUserAccout {
    padding-left:0;
    padding-right: 0;
    padding-top: 0;
}
.informationDivItem {
    border-bottom: 1px solid #e0e0e0;
    padding: 0 20px 20px 20px;
}
.informationDivItem input[type=text] {
    padding: 0 0 0 3px;
}
.informationDivItem h3 {
    color: #333;
    font-size: 14px;
    padding: 20px 0;
}
.informationDivItem h3 span{
    font-size: 12px;
    font-weight: normal;
    margin-left: 20px;
}
.operSwitchSpan label {
    width:80px;
    display: inline-block;
}
.informationDivItem table {
    width:100%;
}
.informationDivItem th {
    font-weight: normal;
    text-align: right;
    padding: 5px 5px 5px 0;
}
.informationDivItem td {
    padding: 5px 5px 5px 0;
}
.informationDivItem th em {
    margin-right: 3px;
    color: #ff0000;
}
.informationDivItem textarea {
    width:772px;
    height: 88px;
    padding: 0 0 0 3px;
}
.residueFlow {
    color: #ff6600;
    font-size: 14px;
    margin: 0 10px 0 15px;
}
.residueFlow em {
    font-size: 16px;
    font-family: "Arial";
    font-weight: bold;
}
.addToBtn, .handReset, .continueAddToBtn {
    border: 1px solid #41aade;
    color: #41aade;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 4px 10px;
}
.addToBtn:hover, .handReset:hover, .continueAddToBtn:hover {
    background: #41aade;
    color: #fff;
    cursor: pointer;
}
.cancelFonts, .repealAddTo {
    color: #41aade;
    margin-left: 5px;
}
.cancelFonts:hover, .repealAddTo {
    text-decoration: underline;
    cursor: pointer;
}
.handResetDiv {
    padding: 8px 0 0 358px;
}
.innerItemDiv {
    padding:10px 0 0 0;
    border-top:1px dotted #666;
    margin: 30px 30px 0 15px;
}
.innerItemDiv p {
    padding: 10px 0;
}
.innerItemDiv textarea {
    width:852px;
    margin: 0 0 20px 0;
    padding: 0 0 0 3px;
}
.noBottomBorder {
    border-bottom: none;
}
.noTopWidth {
    border-top-width: 0;
}
/*新增用户账号 end*/

/*  分组管理 start  */
.xScroll {
    overflow-x: scroll;
}
.addGroupingTab td input{
    padding: 0 3px;
}
.addGroupingTab td{
    padding: 10px 3px;
}
.addGroupingTab .marginRight25{
    margin-right: 25px;
}
.addGroupingTab .color333{
    color: #333;
}
.addGroupingTab .paddingBottom td{
    padding-bottom: 2px;
}
.addGroupingTab .textareaText{
    width: 450px;
    height: 90px;
    padding: 5px;
    color: #666;
}
.textAlignRightBtn{
    text-align: right;
    margin-top: 15px;
}
.textAlignRightBtn button{
    font-size: 14px;
    font-weight: bold;
}
.groupNameNumberTab{
    border: 1px solid #e0e0e0;
    margin-top: 10px;
}
.groupNameNumberTab thead th,
.groupNameNumberTab tbody td{
    padding: 7px 3px 7px 10px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.groupNameNumberTab thead th{
    background-color: #eaeaea;
    text-align: left;
}
.textAlignRightBtn.topLine{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}
.delHintContent{
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.delHintContent .delHintIcon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/deleteModelNote.png") no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.commonTabWindow{
    margin-bottom: 10px;
}
.commonTabWindow th,
.commonTabWindow td{
    padding: 7px 3px;
}
.commonTabWindow th{
    text-align: right;
    font-weight: normal;
    color: #333333;
}
.commonTabWindow .commonTextarea{
    width: 460px;
    height: 70px;
    padding: 5px;
    color: #666;
}
.commonTabWindow td input[type="text"],
.instructContent input[type="text"]{
    color: #666;
    padding:0 3px;
}
.instructContent{
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-width: 1px 0;
}
.instructContent .titleFonts{
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}
.instructContent .setInstruct{
    padding: 0 30px 0 40px;
}
.setInstruct .clearBtn{
    color: #0066cc;
}
.setInstruct .clearBtn:hover{
    text-decoration: underline;    
}
.setInstruct #rolemenu{
    margin: 0 -40px 0 -30px;
    padding-left: 30px;
}
.setInstruct .setContent{
    padding-top: 20px;
    padding-bottom: 0;
}
.commonTabWindow.weightTh th{
    font-weight: bold;
}
/*  分组管理 end  */

/*  实时监控 start */
.userAccount{
    margin: 15px 0 15px 30px;
}
.userAccount .marginRight15{
    margin-right: 15px;
}
.userAccount input[type="text"]{
    padding-left: 3px;
}
.grayTitleTab.changeTitleTab{
    margin: 10px 0 0 25px;
    width: 95%;
}
.setContent.changeSetContent{
    padding: 20px 0 10px;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #dfe3e5;
}
.changeSetContent .textareaContent{
    width: 870px;
    height: 330px;
    padding: 5px;
    margin: 10px 25px;
}
/*  实时监控 end */

.patch-loading{
  width:739px;
  margin:0px auto;
  height: 20px;
  line-height: 20px;
}

.patch-loading a{
  font-size: 12px;
  color: #0066cc;
}

.patch-loading .hint{
  display: inline-block;
  background: url("../images/operator/messageSendIcon.png") no-repeat scroll -4px -4px rgba(0, 0, 0, 0);
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-left: 10px;
}

.loading-file{
  width: 338px;
  height: 32px;
  border: 1px solid #d3d3d3;
  margin: 8px 0px 13px 99px;
  line-height: 32px;
  color: #666666;
  font-size: 12px;
}

.fileIcon{
  background: url("../images/operator/messageSendIcon.png") no-repeat scroll -12px -138px rgba(0, 0, 0, 0);
  width: 27px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}

.fileName{
  width: 168px;
  height: 26px;
  line-height: 26px;
  float: left;
  display: inline-block;
  margin-top: 3px;
  border-right: 1px solid #999999;
}

.phone-number{
  width: 128px;
  height: 26px;
  line-height: 26px;
  float: left;
  margin-top: 3px;
  text-indent: 6px;
}

.phone-number span{
  font-size: 12px;
  color: #ff6600;
}

.phone-cancel{
  background: url("../images/operator/operatorIcon.png") no-repeat scroll 0px -58px rgba(0, 0, 0, 0);
  width: 12px;
  height: 12px;
  display: inline-block;
}

.opteration-layerGrayBlock {
  background: none repeat scroll 0 0 #fff;
  border: 3px solid #e2e2e2;
  position: relative;
}

.opteration-layerGrayBlock .opteration-splitLine {
  border-right: 1px solid #ccc;
  height: 100%;
  left: 137px;
  position: absolute;
  width: 1px;
  z-index: 1;
}

.opteration-abroadtooltipsCont {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #a8a8a8;
  color: #636363;
  padding: 1px;
  position: relative;
}

.opteration-abroadtooltipsCont i {
  background-image: url("../images/store/iconSprite.png");
  background-position: 0 -63px;
  cursor: pointer;
  height: 9px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 9px;
}

.abroadtoolclickArrow {
  background: url("../images/store/layerGrayArrow.png") no-repeat scroll 0 -14px rgba(0, 0, 0, 0);
  height: 5px;
  left: -5px;
  position: absolute;
  top: 35px;
  width: 9px;
}

.opteration-viewRulesContent {
  height: 100%;
  overflow: hidden;

}

.hint-content{
  width: 138px;
  margin-left: 6px;
  margin-bottom: 12px; 
  margin-top: 12px;
  float: left;
}

.mobile-list{
  background: url("../images/operator/mobileList.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  width: 190px;
  height: 150px;
  display: inline-block;
  float: left;
  margin-bottom: 12px; 
  margin-top: 12px;
}


.sep-r {
  background: url("../images/spacer.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
  padding-left: 10px;
  padding-right: 20px;
}

.loading-file-second{
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin: 0px;
   margin-left: 12px; 
}

.patch-loading-phonenum{
  height: 40px;
  line-height: 40px;
}

.patch-loading-phonenum .title{
  float: left;
}

.excel-loading{
  width: 168px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #0066cc;
  border-radius: 2px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
  float: left;
  font-size: 12px;
  color: #0066cc;
  cursor: pointer;
  position: relative;
  top: 6px;
}

/*   营销短信工具 start  */
.fixedMenu .modelClassify{
    display: inline-block;
    padding-right: 10px;
    background: url(../images/spacer.png) 100% 0 no-repeat;
}
.fixedMenu .modelClassify.last{
    background: none;
}
.seeDetailsTab th{
    text-align: right;
    padding: 3px;
    font-weight: normal;
}
.seeDetailsTab td{
    padding: 3px;
    line-height: 18px;
}
.seeDetailsTab .paddingTop th,
.seeDetailsTab .paddingTop td{
    padding-top: 10px;
}
.seeDetailsTab .bottomLine th,
.seeDetailsTab .bottomLine td{
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 10px;
}
.hintFontsContent{
    font-weight: normal;
    font-size: 14px;    
    color: #555;
    margin-bottom: 10px;
}
.hintFontsContent .passHintsIcon{
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: url("../images/deleteModelNote.png") no-repeat;
    vertical-align: middle;
}
.hintNumberOfWords{
    margin-bottom: 35px;
    position: relative;
}
.hintNumberOfWords p{
    line-height: 20px;
}
.hintNumberOfWords textarea{
    line-height: 20px;
    padding: 5px;
    width: 470px;
    color: #555;
}
.hintNumberOfWords .numberOfWords{
    position: absolute;
    right: 10px;
    bottom: -18px;
}
/*   营销短信工具 end  */
