@charset "utf-8";
/* CSS Document */

.fixedMenu .currentTerm{ padding:0px 10px; background:#fff; color:#333; border-bottom:3px solid #ff7702;}
.setContent{ background:#fff; padding:20px 0;}
.setContent .mtab label{ margin-right:5px;}
#rolemenu .current .mtab a{ color:#0066cc; font-weight:bold;}
#rolemenu .mtab a{ color:#2c2c2c;}









































