@charset "utf-8";
/* CSS Document */

.tianjiabumenye{ width:435px; height:145px; margin:20% auto; background:url(../images/caozuotishi_bg.png) repeat-x left top;}
.tianjiacaozuo{ width:435px; height:40px;}
.tjxy_biaoti{ width:615px; height:40px;}
.tianjiacaozuo h3,.tianjiabumentishi h3,.tjxy_biaoti h3{ width:110px; line-height:40px; float:left; margin-left:15px;}
.tianjiacaozuo a,.tianjiabumentishi a,.tjxy_biaoti a{ width:10px; height:9px; float:right; display:block; margin-right:15px; background:url(../images/guanbi.png) no-repeat; margin-top:15px;}
.quedingma{ width:380px; height:30px; line-height:30px; font-size:14px; color:#333; margin-left:15px; padding-left:30px; margin-top:10px; background:url(../images/tishi_bg.png) no-repeat -1px center; margin-bottom:20px;}
.buttontishi{ width:215px; height:35px; line-height:35px; text-align:center; margin-left:200px;}
.queding_btn{ width:101px; height:35px; color:#FFF; display:block; float:left; margin-right:5px;}
.quxiao_btn{ width:101px; height:35px; color:#606060; display:block; float:left;}



.tianjiabumenneirong{ width:565px; height:420px; margin:100px auto; background:url(../images/tianjiabumen_bgimg.jpg) repeat-x left top; border:1px solid #d3d3d3;}
.tianjiabumentishi{ width:565px; height:40px;}
.bumenmingcheng{ width:488px; height:32px; margin-left:15px; margin-top:15px;}
.bumenmingcheng span{ width:65px; text-align:left; height:32px; display:block; float:left; line-height:32px;}
.bumenmingcheng input{ width:415px; height:30px; border:1px solid #d4d4d4; display:block; float:left;}
.shangjibumenneirong{ width:565px; height:255px; margin-top:10px; margin-left:15px;}
.shangjibumen{ width:65px; text-align:left; height:255px; vertical-align:top; float:left;}
.shangjibumen_right{ width:415px; height:255px; float:left; border:1px solid #d4d4d4; overflow-y:scroll;}
.shangjibumen_right_1{ height:270px;}

.shangjibumen_ul{ width:170px; height:240px; margin-left:10px; margin-top:10px;}
.k-minus{ background:url(../images/zankai_bg.png) no-repeat 0px center;}
.k-plus{ background:url(../images/zedie_bg.png) no-repeat 0px center;}
.shangjibumen_ul_li{ height:22px; background:url(../images/zankai_bg.png) no-repeat 0px center; padding-left:13px; line-height:22px;}
.erjicaidan{ height:215px; line-height:22px; margin-left:5px;}
.guolu_1{ height:163px; margin-top:2px;}
.guolu_1_span,.guoneijibiao_1_span{ height:22px; line-height:22px; padding-left:13px; background:url(../images/zankai_bg.png) no-repeat 0px center; margin-top:2px;}
.beijingtebo,.jiudianchaiwu{ height:22px; line-height:22px; padding-left:13px; background:url(../images/zedie_bg.png) no-repeat 0px center; margin-top:2px;}
.fenbumen{ height:145px; margin-left:15px;}
.guoneijibiao_1{ height:70px;}
.tuipiaobumen{ height:50px;}
.tuipiao_1{ height:22px; line-height:22px; padding-left:13px; background:url(../images/zedie_bg.png) no-repeat 0px center; margin-top:2px; margin-left:13px;}
.tianjia_button{ width:220px; height:35px; line-height:35px; text-align:center; margin-left:330px; margin-top:20px;}
.tianjiaxieyi_button{ width:615px; height:35px; line-height:35px; text-align:center; margin-left:365px; margin-top:20px;}
.tianjiaqueding_btn{ width:101px; height:35px; color:#FFF; display:block; float:left; margin-right:5px; font-size:14px; font-weight:bold; background:url(../images/button/button_1.png) 0 0;}
a.tianjiaqueding_btn:hover { background-position:0 -45px;}
a.tianjiaqueding_btn:active { background-position:0 -90px;}
.tianjiaquxiao_btn{ width:101px; height:35px; color:#606060; display:block; float:left; font-size:14px; font-weight:bold; background:url(../images/button/button_1_1.png) 0 0;}
a.tianjiaquxiao_btn:hover { background-position:0 -45px;}
a.tianjiaquxiao_btn:active { background-position:0 -90px;}

.tianjiayuangongneirong{ width:560px; height:486px; margin:50px auto 0px auto;  background:url(../images/tianjiayuangong_bg.jpg) repeat-x left top;}
.yuangongmiddle{ width:540px; height:365px; margin-left:10px;}
.leftdiv{ width:265px; height:365px; border-right:1px dashed #cac9c9; margin-left:5px; margin-top:10px; float:left; padding-top:5px;}
.gundongtiao{ height:280px; }
.lefttable{ width:265px; height:125px;}
.lefttable td{ line-height:30px;}
.yuangongxingming_1{ width:60px;}
.xingming_input,riqi{ width:168px;}
.xingming_input input,.riqi input{ width:168px; border:1px solid #cac9c9; height:25px; color:#9f9f9f;}
.zhengchang{ width:170px; padding-left:5px; height:25px; color:#9f9f9f; line-height:25px;}
.suosubumen{ width:250px; height:225px;}
.suosubumen p{ width:230px; height:30px; line-height:30px; margin-top:5px;}
.suosubumen_content{ width:245px; height:205px; overflow-y:scroll; border:1px solid #cac9c9;}
.juesexuanze{ width:245px; height:205px; border:1px solid #cac9c9;}
.rightdiv{ width:250px; height:365px; margin-left:15px; margin-top:10px; float:left; padding-top:5px;}
.yonghuming{ width:63px;}
.yonghuming_input{ width:165px;}
.yonghuming_input input{ width:165px; height:25px; border:1px solid #cac9c9;}
.righttable{ width:250px; height:125px;}


.bjdqbm{ width:470px; height:190px; background:#fff; margin:15% auto; color:#333; border:1px solid #a5a5a3;}
.bjdqbm_top{ height:40px; line-height:40px;}
.bjdqbm_top span{ width:140px; float:left; display:block; font-weight:bold; margin-left:15px; font-size:15px;}
.bjdqbm_top a{ width:12px; font-size:18px; font-weight:bold; color:#a9a9a9; text-decoration:none; display:block; float:right; margin-right:10px;}
.bumencontent{ height:80px; margin-top:5px;}
.bumencontent p,.bmdiv{ width:440px; height:30px; line-height:30px; margin-left:15px; float:left; margin-bottom:10px;}
.bumencontent p span,.bmdiv span,.plddyg_p span{ width:10px; display:block; float:left; color:#ff3101;}
.bumencontent p label,.bmlabel_1,.plddyg_p label{ width:70px; float:left; font-size:12px; font-weight:bold;}
.bumencontent p input{ width:330px; height:20px; border:1px solid #d3d3d3; display:block; float:left; margin-top:4px;}
.bmlabel{ width:60px; float:left; display:block;}
.buttonbianji{ width:215px; height:35px; line-height:35px; text-align:center; margin-left:220px;}

.plddyg{ width:440px; height:260px; margin-left:15px; float:left;}
.plddyg_p{line-height:20px; margin-top:10px; margin-left:15px; margin-bottom:35px;}
.pldd{ width:470px; height:350px; background:#fff; margin:15% auto; color:#333; border:1px solid #a5a5a3;}
.ddbm{ width:410px; height:190px; margin-left:15px; border:1px solid #d5d5d5; overflow-y:scroll;}


.bctc{ width:555px; height:355px; background:#fff; margin:10% auto;}
.bctc_content{ width:500px; height:275px; background:#7f7f7f; margin-left:30px;}
.bctc_topbtn{ width:500px; height:30px; line-height:30px; margin:15px 28px;}
.bctc_topbtn a{ width:71px; height:25px; line-height:25px; color:#333; text-align:center; float:left; margin-left:3px; background:url(../images/button/button_3_3.png) no-repeat 0 0; margin-top:6px;}
a.bctc_topbtn_a:hover {background-position:0 -40px;}
a.bctc_topbtn_a:active {background-position:0 -82px;}
.qzmbjyy p{ height:35px; line-height:35px; font-size:14px; margin-left:20px;}
.qzmbjyy{ width:470px; height:200px; background:#fff; margin-left:15px; padding-top:15px;}
.qzmbjyy textarea{ width:415px; height:80px; overflow-y:scroll; margin:10px 0px 15px 20px; padding:3px; color:#9f9f9f; font-size:12px;}
.btn{ width:215px; height:35px; line-height:35px; text-align:center; float:right; margin-right:20px;}


.fwgd{ width:800px; height:660px; margin:5% auto; background:#fff;}
.fwgd_top{ width:200px; margin:0px 20px 15px 25px; padding-top:20px;}
.fwgd_top span{ width:50px; height:20px; border:1px solid #9fcddd; background:#ecf7fb;}
.fwgd_content{ width:750px; height:570px; background:#7f7f7f; margin-left:30px;}
.middle_content{ width:710px; height:500px; background:#fff; margin-left:20px;}
.jgsm{ width:670px; height:70px; margin-left:30px; padding-top:20px;}
.jgsm b{ width:60px; vertical-align:top;}
.jgsm textarea{ width:580px; height:65px; padding:3px; margin-left:5px; font-size:12px; color:#9f9f9f;}
.fwgd_tab{ width:650px; height:310px; border:1px solid #dad9d9; margin:15px 0px 20px 30px; text-align:center; border-collapse:collapse;}
.fwgd_tab input{ border:0;}
.fwgd_tab td{ width:150px; border:1px solid #dad9d9;}
.fwgd_tab tr.first{ height:30px; background:#f9f9f9; font-weight:bold;}
.bhfw{ height:270px;}
.bhfw_topdiv{ width:140px; height:115px; border-bottom:1px solid #d4d4d4; margin-left:12px; margin-top:15px;}
.bhfw_topdiv p{ width:140px; height:25px; line-height:25px; float:left;}
.bhfw_topdiv p input{ height:25px; float:left; margin-right:3px;}
.bhfw_topdiv p span{ float:left;}
.bhfw_topdiv p label{ width:48px; height:20px; border:1px solid #d7d7d7; float:left;}
.bhfw_topdiv p em{ width:20px; text-align:center; float:left;}
.bhfw_bottomdiv{ width:140px; height:145px; margin-left:12px; margin-top:15px;}
.bhfw_bottomdiv p{ width:140px; line-height:25px; float:left;}
.bhfw_bottomdiv p input{ height:25px; float:left; margin-right:3px;}
.bhfw_bottomdiv p span{ width:60px; float:left; text-align:left;}
.bhfw_bottomdiv p label{ width:38px; height:20px; border:1px solid #d7d7d7; float:left;}
.bhfw_bottomdiv p em{ width:17px; text-align:center; float:left;}
.rztime{ width:140px; height:90px; margin-left:12px; margin-top:15px;}
.rztime p{ width:140px; line-height:25px; float:left;}
.rztime input,.rztime em{ width:15px; vertical-align:top; float:left; margin-top:3px;}
.rztime span,.rztime label{ width:60px; float:left;}
.rztian{ width:140px; height:160px; margin-left:12px; margin-top:15px;}
.rztian input{ width:15px; float:left; margin-top:3px;}
.rztian p{ width:125px; float:left; line-height:25px;}
.rz_select{ width:145px; height:30px; line-height:30px; margin-left:12px; margin-bottom:10px;}
.rz_select span{ width:55px; float:left;}
.rz_select select{ width:88px; float:left; font-size:12px; height:20px; margin-top:5px;}
.rzq{ width:145px; height:30px; margin-left:12px;}
.rzq span{ width:55px; text-align:left; float:left;}
.rzq label{ width:25px; height:20px; float:left; border:1px solid #d3d3d3;}
.rzq em{ width:22px; text-align:center; float:left;}
.rzq i{ font-style:normal; width:13px; text-align:center; float:left;}
.tj_btn{ width:145px; height:100px; line-height:30px; margin-left:12px; margin-top:5px;}
.tj_btn select{ width:88px; height:22px; float:left; font-size:12px; margin-right:5px; margin-top:1px;}
.tj_btn a{ width:50px; height:25px; line-height:25px; color:#333; float:left; background:url(../images/tjxg_bgkuai.png) no-repeat left center;}
.textarea{ width:125px; margin-left:8px; height:180px; color:#9f9f9f; margin-bottom:50px; overflow-y:scroll; padding:3px;}












