@charset "utf-8";
/* 机+酒 CSS Document */

.fixedMenu{ width: auto;}
.fixedMenu h3{ font-size:14px;}
.information_div{ background:#fff; padding:15px 10px; margin-bottom:10px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2;}

.information_tab td{ line-height:33px;}
.information_tab td input[type="text"]{ padding-left:3px; height:20px; line-height:20px;}
.information_tab td select{ height:22px; line-height:22px;}
.information_tab td input[type="radio"],.information_tab td input[type="checkbox"]{
    margin-right: 3px;
}
.information_tab th{
    text-align: right;
    font-weight: normal;
    padding-right: 3px;
}

.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_center{ border-left:1px solid #e0e0e0; text-align: center;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:25px;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid .orangeFont{ color:#ff6600; font-weight:500;}

.tgrid .blueFlightIcon,.tgrid .redHotelIcon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.tgrid .blueFlightIcon{
    background: url("../images/operator/operatorIcon.png") no-repeat 0 0;
}
.tgrid .redHotelIcon{
    background: url("../images/operator/operatorIcon.png") no-repeat -25px 0;
}
.information_tab .statusLabel label{
    margin-right: 15px;
}

/*新增线路 基本信息*/

.packageSummary {
    background: #f7f7f7;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 1px solid #ccd0d2;
    padding: 10px 20px;
    position: relative;
}
.packageSummary input[type=text]{
    padding-left: 3px;
}
.packageSummary .fs14 {
    font-size: 14px;
}
.packageSummary .fc999 {
    color: #999;
}
.packageSummary th {
    text-align: right;
    font-size: 14px;
    font-weight: normal;
}
.packageSummary th, .packageSummary td {
    padding: 8px 0 8px 8px;
}
.package-basicInfoTable th {
    text-align: right;
    font-weight: normal;
    padding: 0 0 18px 8px;
}
.package-basicInfoTable th em {
    color: #ff0000;
    margin-right: 3px;
}
.package-basicInfoTable td {
    padding: 0 0 18px 8px;
}
.package-basicInfoTable input[type=text], .package-basicInfoTable textarea {
    border: 1px solid #ccc;
    height: 22px;
    line-height: 22px;
    padding-left: 3px;
}
.package-basicInfoTable .proTypeTd span {
    margin: 0 30px 0 5px;
}
.package-basicInfoTable .tripDays b {
    margin: 0 5px;
    font-weight: normal;
}
.package-basicInfoTable .uploadImgNo {
    text-align: center;
    padding-top: 5px;
}
.package-basicInfoTable .uploadImgNo span {
    color: #0066cc;
}
.package-basicInfoTable .verInput {
    background: #ff6600;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    bottom: -25px;
    left: 0px;
    display: inline-block;
    width:93%;
}
.prompt {
    position: relative;
    width: 420px;
    color: #999999;
    padding:5px 5px;
    background: #ffffeb;
    border: 1px solid #efefef;
    margin-left: 10px;
}
.prompt i {
    position: absolute;
    top: 29%;
    left: -4px;
    display: block;
    width: 6px;
    height: 9px;
    background: url(../images/left_jiantou.png) no-repeat;
}
/*操作日志*/
div.panel {
    padding:20px;
    box-shadow:0 8px 5px -5px #999999;
    background:#ffffff;
    margin:0 auto 10px;
    position:relative
}
.panelContent {
    padding:15px 0
}
.operation_records thead td {
    color:#009aa8;
    background:#fff
}
.packagePanelTit {
    float: none;
}

/*  描述信息  */

.ke-toolbar{
    padding:7px 5px;
}
.ke-statusbar{
    background: transparent;
    border-top: 0;
    padding-bottom: 5px;
}
.ke-statusbar-center-icon{
    background: none;
}
.ke-edit{
    height: 90px !important;
}
.ke-container{
    max-width: 900px;
    resize: none;
}

.commonMainContent{
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 3px 2px -1px #cccccc;
    -moz-box-shadow: 0px 3px 2px -1px #cccccc;
    -webkit-box-shadow: 0px 3px 2px -1px #cccccc;
    font-size: 12px;
    min-height: 520px;
    margin-bottom: 10px;
}
.editorText{
    width:900px;
    height:90px;
    display: block;
    padding:5px;
    color: #666666;
}
.editorModel{
    width: 900px;
    margin: 20px auto;
}
.editorModel .editorModelTitle{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333333;
}
.editorModel .editorCommonModel{
    margin: 20px 0;
    position: relative;
}
.editorModel .editorModelTitle input[type="text"]{
    min-width: 170px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 14px;
}
.editorModelTitle .titleHint{
    color: #aaaaaa;
    margin-left: 10px;
}

.editorCommonModel .examineP{
    line-height: 18px;
    color: #666666;
}
.addContentItem{
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border: 1px solid #067bf1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}
.addContentItem .addIcon{
    vertical-align: middle;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 3px;
    background: url("../images/supplier/smallSpirit.png") no-repeat -12px -80px;
}
.addContentItem:hover{
    background: #0074d2;
    color: #FFFFFF;
}
.addContentItem:hover .addIcon{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -80px;
}
.editorCommonModel .deleteBtn{
    position: absolute;
    top: 5%;
    right: 1%;
    color: #0066cc;
}
.editorCommonModel .deleteBtn:hover{
    text-decoration: underline;
}
.editorModel .hiddenEditor{
    display: none;
}
div.panel{
    border: 1px solid #e6e6e6;
    box-shadow: 0px 3px 2px -1px #cccccc;
    -moz-box-shadow: 0px 3px 2px -1px #cccccc;
    -webkit-box-shadow: 0px 3px 2px -1px #cccccc;
}
.panel .panelTitle{
    float: none;
    border: 0;
}
.panel .operation_records{
    width: 100%;
}
.panel .operation_records th,.panel .operation_records td{
    text-align: left;
}
.infoSummary th{
    color: #333333;
}
.infoSummary td{
    color: #676767;
}
/*目的地介绍*/
.editInfoItem {
    position: relative;
}
.packagePro {
    background:#fff;
    padding:15px 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 3px 2px -1px #cccccc;
    -moz-box-shadow: 0px 3px 2px -1px #cccccc;
    -webkit-box-shadow: 0px 3px 2px -1px #cccccc;
    margin-bottom: 10px;
}
/*.addBournInfo {
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    border-left:1px solid #dfe3e5;
    border-right:1px solid #dfe3e5;
    background: #fbfbfb;
    padding:15px 10px;
    position: relative;
}*/
.delBournInfo {
    position: absolute;
    top:10px;
    right: 20px;
}
.delBournInfo .delSpan {
    color: #0074d2;
    font-size: 16px;
    padding: 5px 15px;
}
.delBournInfo .delSpan i {
    background: url("../images/delIconJjj.png") no-repeat;
    width: 10px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
}
.delBournInfo .delSpan:hover {
    background: #e4f4ff;
    padding: 5px 15px;
    cursor: pointer;
}

.delSpanHover {
    background: #e4f4ff;
    padding: 5px 15px;
    cursor: pointer;
}

.blockTopBorder {
    border-top: 1px dashed #ccc;
    padding-top: 20px;
}

.routeName{
    background-color: #ffffff;
    padding: 25px 20px;
}

.flight_info{
    height: 190px;
}

.flight_info2{
    height: 90px;
}

.hotel_info{
    width: 100%;
    height: 212px;
    border: 1px solid #dfe3e5;
}

.flight_info table th{
    font-size: 12px;
    color: #666666;
    text-align: left;
}

.flight_info table td{
    font-size: 12px;
    color: #666666;
}

.flight_info table{
    line-height: 20px;
}

.remark textarea{
    width: 735px;
    height: 82px;
    vertical-align: top;
}

.remark{
    margin-top: 32px;
    font-size: 12px;
    color: #676767;
}

.remark .note1{
    color: #676767;
    font-size: 12;
    font-weight: bold;
}

.remark .note2{
    color: #666666;
    font-size: 12px;
    text-indent: 62px;
    margin-left: 4px;
}

.setBack{
    background-color: #ffffff;
}

/*时间价格页面  By: shuaigeng.zhao;*/

/* 修改大日历样式 */
.remainNum {
    bottom: auto;
    top: 3px;
    right: 2px;
}

.remainNum span {
    font-weight: bold;
}

.remainNum.closeFlagIcon {
    background: url(../images/operator/cal-modify-new-icon.png) no-repeat 0 -22px;
    display: inline-block;
    width: 27px;
    height: 20px;
}

.remainNum.soldFlagIcon {
    background: url(../images/operator/cal-modify-new-icon.png) no-repeat 0 -44px;
    display: inline-block;
    width: 27px;
    height: 20px;
}

.salePrice {
    bottom: auto;
    top: 25px;
    right: 2px;
}

.bottomCont {
    position: absolute;
    top: 48px;
}

.iconFlag {
    float: right;
    margin-left: 6px;
}

.iconFlag i {
    margin-right: -1px;
}

.iconFlag .placeholderIcon {
    display: inline-block;
    width: 27px;
    height: 20px;
}

.iconFlag .ticketIcon {
    display: inline-block;
    background: url(../images/operator/green-ticket-icon.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
}

.iconFlag .childTypeIcon {
    background: url(../images/operator/cal-modify-new-icon.png) no-repeat 0 0;
    width: 27px;
    height: 20px;
    display: inline-block;
}

.flightIcon {
    background: url(../images/operator/operatorIcon.png) no-repeat -50px 0;
    width: 38px;
    height: 20px;
    display: inline-block;
}

.flightIcon.forward {
    background-position: -92px 0;
}

.flightIcon.backward {
    background-position: -134px 0;
}

.hotelIcon {
    background: url(../images/operator/cal-modify-new-icon.png) no-repeat 0 -66px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.closeStatusIcon {
    display: inline-block;
    width: 27px;
    height: 20px;
    background: url(../images/operator/jijiajiu_sold.png) no-repeat 0 0;
}

.soldStatusIcon {
    display: inline-block;
    width: 27px;
    height: 20px;
    background: url(../images/operator/jijiajiu_sold.png) no-repeat 0 -22px;
}

.calendar_date.todayIcon {
    display: inline-block;
    width: 27px;
    height: 20px;
    background: url(../images/operator/jijiajiu_sold.png) no-repeat 0 -44px;
}

.operationFlag {
    background: #209edd;
    width: 92px;
    height: 25px;
}

.operationFlag li {
    float: left;
    width: 22px;    
    color: #fff;
    border-left: 1px solid #63bbe4;
    text-align: center;
}

.operationFlag li:hover {
    background-color: #ff8b00;
}

.operationFlag .blueText {
    background-color: #209edd;
    color: #fff;
    width: 45px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.operationFlag .blueText:hover {
    background-color: #209edd;
}

.operationFlag .orangeText {
    background-color: #ff8a00;
    color: #fff;
    width: 45px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.iconEye {
    background: url(../images/operator/operatorIcon.png) no-repeat -175px 0;
    width: 20px;
    height: 12px;
    margin-top: 6px;
    display: inline-block;
}

/* 圆角长矩形按钮样式 */
.blueCircleRectLeft {
    background: url(../images/operator/operatorIcon.png) no-repeat 0 -22px;
    width: 14px;
    height: 30px;
    display: inline-block;
}

.blueCircleRectRight {
    background: url(../images/operator/operatorIcon.png) no-repeat -18px -22px;
    width: 14px;
    height: 30px;
    display: inline-block;
    position: relative;
    left: -8px;
}

.blueCircleRectMiddle {
    background-color: #40b1e2;
    height: 30px;
    display: inline-block;
    position: relative;
    top: -10px;
    left: -4px;
}

.blueCircleRectMiddle .middleNum,
.orangeCircleRectMiddle .middleNum {
    background: url(../images/operator/operatorIcon.png) no-repeat -36px -25px;
    width: 26px;
    height: 26px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: -11px;
    text-align: center;
    line-height: 26px;
}

.blueCircleRectMiddle .middleNum label,
.orangeCircleRectMiddle .middleNum label {
    font-size: 16px;
    font-weight: bold;
    color: #ff8b00;
}

.blueCircleRectMiddle .middleCont,
.orangeCircleRectMiddle .middleCont {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    line-height: 30px;
    padding-left: 20px;
}

.orangeCircleRectLeft {
    background: url(../images/operator/operatorIcon.png) no-repeat -65px -22px;
    width: 14px;
    height: 30px;
    display: inline-block;
}

.orangeCircleRectRight {
    background: url(../images/operator/operatorIcon.png) no-repeat -83px -22px;
    width: 14px;
    height: 30px;
    display: inline-block;
    position: relative;
    left: -8px;
}

.orangeCircleRectMiddle {
    background-color: #ff8b00;
    height: 30px;
    display: inline-block;
    position: relative;
    top: -10px;
    left: -4px;
}

/* 圆角长矩形按钮样式 结束 */
.operatPanel {
    float: right;
    position: relative;
    top: -20px;
    right: 32px;
}

.operatPanel li {
    float: left;
}
.operatPanel .operSeparator {
    background: url(../images/operator/operatorIcon.png) no-repeat -130px -20px;
    width: 10px;
    height: 20px;
    margin: 5px 10px;
}

.addTicketPolicy,
.addHotelResource,
.modifyPrice {
    cursor: pointer;
}

/* 查看弹窗 */
.win-tab-title {
    margin: 15px 0;
}

.other-info-tab {
    margin-top: 10px;
}

.other-info-tab th {
    vertical-align: top;
}

.other-info-tab tr {
    height: 30px;
    line-height: 30px;
}

/* 时间价格编辑- '改'操作弹窗 */
.win-tab-title select {
    width: 100px;
    margin-left: 10px;
    height: 22px;
    color: #676767;
}

i.del-icon {
    background: url(../images/operator/operatorIcon.png) no-repeat 0px -60px;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 2px;
    float: right;
    cursor: pointer;
}

.hotel-policy,
.other-info-block {
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}

i.red-star {
    display: inline-block;
    color: red;
    margin: 3px 5px 0 0;
}

.other-info-block input[type='text'] {
    width: 64px;
    margin: 0 5px;
    padding: 0 2px;
}

.btn-oper {
    margin-top: 15px;
    float: right;
    margin-bottom: 30px;
}

.btn-oper a{
    font-size: 14px;
    font-weight: bold;
}

.btn-oper a.button_unimportant {
    color: #676767;
}

.date-block {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
}

ul.week-day {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 23px;
}

ul.week-day li{
    float: left;
    margin-right: 5px;
    padding: 4px 8px;
    background-color: #eee;
    cursor: pointer;
}

.currentWeekday {
    background-color: #ff8b00!important;
    color: #fff;
}

.trip-info-block {
    margin-bottom: 15px;
}

.traffic-live-date {
    margin-bottom: 15px;
}

.traffic-live-date input[type='text'] {
    width: 60px;
    padding-left: 3px;
    margin: 0 5px;
}

.notraffic-live-date {
    margin-bottom: 10px;
}

.date-item-block {
    margin-top: 15px;
    height: 110px;
}

.date-item-block b {
    font-size: 14px;
}

.date-item-block em {
    color: #ff8b00;
}

.date-item-block ul {
    margin-left: 70px;
    margin-top: -15px;
}

.date-item-block li {
    width: 160px;
    height: 30px;
    background-color: #ebf8fb;
    padding: 5px;
    line-height: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #9fcedd;
}

.search-condition-block table{
    width: 100%;
}

.search-condition-block table tr {
    height: 35px;
    line-height: 35px;
}

.search-condition-block table tr th {
    text-align: left;
}

.search-condition-block table select {
    width: 132px;
    height: 22px;
}

.tripTypeTd {
    width: 210px;
}

.tripTypeTd label {
    margin-right: 15px;
}

.policyTypeTd label{
    margin-right: 10px;
}

.policyTypeTd label input{
    margin-right: 3px;
}

/* 批量添加机票政策 弹窗 tab效果 */
.tabsContainer{background:#F9F9F9;position:relative;width:860px;margin:0 40px;height:30px;overflow:hidden;bottom:-1px}
.cityTabsContainer {border-bottom:1px solid #0FAADD;height:30px;position:absolute;width:100%;bottom:0}
.cityTabsContainer li{float:left;margin-right:6px;cursor:pointer}
.mtab{width:90px;text-align:center;bottom:-1px;height:30px;color:#0066CF;font-weight:bold}
.mtab.gray{color:#000;font-weight:normal}
.setCustomer .mtab{width:auto;padding:0 10px;line-height:30px}

.splitLine {
    border-bottom:1px solid #0FAADD
}

.allPolicyList, .checkedPolicyList {
    margin-top: 15px;
}

.add-ticket-window .tgrid tbody td {
    white-space: normal;
}

.add-ticket-window .excludeDelButton{
    background: url("../images/excludeDelButton.gif");
    width:10px;
    height: 9px;
    display: inline-block;
    cursor: pointer;
}

.extendTitleDate {
    position: absolute;
    top: -25px;
    left: 130px;
}

.extendTitleInfo {
    position: absolute;
    top: -25px;
    left: 140px;
}

.extendTripInfo span,
.extendTitleInfo span,
.extendTicketInfo span {
    margin-right: 20px;
}

.extendTripInfo {
    position: absolute;
    top: -25px;
    left: 220px;
}

.extendTicketInfo {
    position: absolute;
    top: -25px;
    left: 200px;
}

.orderTab .ellipsisLink,.orderTab .ellipsisName{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.orderTab .ellipsisLink{
    width: 120px;
}
.orderTab .ellipsisName{
    width: 85px;
}


/* 产品详情内容页 statr */
.packageSummary .positionBtn{
    position: absolute;
    right: 20px;
    top: 25%;
}
.productDetails{
    margin: 10px 0;
    min-height: inherit;
}
.productDetails .addBtn{
    margin: 25px 0;
    text-align: center;
}
.addBtn .addBtnStyle{
    display: inline-block;
    color: #019b22;
    margin-right: 10px;
    min-width: 170px;
    padding: 7px 10px;
    border: 1px dashed #02c52b;
}
.addBtn .addBtnStyle:hover{
    background-color: #e9fced;
}
.addBtnStyle .addIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url("../images/distributor/smallIcon.png") no-repeat -232px 0;
    margin-right: 5px;
}
.productDetails .productDetailsContent{
    border-top: 1px solid #cccccc;
    margin: 30px 0;
    padding: 0 10px;
}
.productDetailsContent .detailsTitle{
    margin: 0 10px 20px;
    padding-top: 20px;
}
.detailsTitle .titleFonts{
    font-size: 16px;
    font-weight: bold;
}
.detailsTitle a{
    color: #0066cc;
}
.detailsTitle a:hover{
    text-decoration: underline;    
}
.detailsInfoTab {
    width: 100%;
    border: 1px solid #d0d0d0;
    margin: 20px 0;
    color: #555555;
}
.detailsInfoTab th{
    padding: 12px 7px;
    background-color: #f4f4f4;
    text-align: center;
    font-weight: normal;
    border: 1px solid #d0d0d0;
}
.detailsInfoTab td{
    padding: 12px 7px;
    border: 1px solid #d0d0d0;
}
.detailsInfoTab .commonJourney{
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.detailsInfoTab .blueBg{
    background-color: #3aaceb;
}
.detailsInfoTab .greenBg{
    background-color: #6fca42;
}
.detailsInfoTab .purpleBg{
    background-color: #565bbe;
}
.commonJourney .commonJourneyIcon{
    display: inline-block;
    width: 24px;
    height: 11px;
    vertical-align: middle;
    margin-bottom: 7px;
    background: url("../images/distributor/smallIcon.png") no-repeat;
}
.commonJourney .outwardVoyageIcon{
    background-position: -153px 0;
}
.commonJourney .backTrackingIcon{
    background-position: -186px 0;
}
.commonJourney .hotelIcon{
    width: 10px;
    height: 15px;
    background-position: -217px 0;
}
.detailsInfoTab b{
    font-weight: bold;
}
.operation_records, 
.operation_records td{
    padding: 8px 5px;
}
/* 产品详情内容页 end */

/*  申请出票 start */
.fixedMenu .orangeBg{
    font-size: 12px;
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
    line-height: 1;
    background-color: #ff5b02;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.orderTab .hollowArrow{
    font-size: 14px;
    color: #333;
}
.ticketApplyForTab{
    position: relative;
}
.ticketApplyForTab tbody td{
    padding: 5px;
}
.ticketApplyForTab td div{
    margin: 3px 0;
}
.ticketApplyForTab .small .center{ 
    min-width: 35px;
    text-align: center;
}
.ticketApplyForTab .alignTop{
    vertical-align: top;
    padding-top: 10px;
}
.ticketApplyForTab tbody tr:hover{
    background: none;
}
.ticketApplyForTab tbody input[type="text"]{
    height: 22px;
    line-height: 22px;
    padding-left: 3px;    
}
.ticketApplyForTab .changePNR,
.ticketApplyForTab .passengersTicket{
    border: none;    
}
.ticketApplyForTab .positionBtn{
    position: absolute;
    top: 10px;
    right: 2%;
}
.ticketApplyForTab .positionBtn.changeRightValue{
    right: 1%;
}
.ticketApplyForTab .positionBtn a{
    color: #0066cc;
}
.ticketApplyForTab .positionBtn .whiteFonts{
    color: #fff;
}
.positionBtn .saveOrCancelPnr,
.positionBtn .saveOrCancelPassengersTicket{
    display: none;
}
.orderTabList{
    margin: 10px 0;
}
.orderTabList .topGrayBg{
    background-color: #f6f6f6;
    padding: 10px;
    position: relative;
}
.orderTabList .topGrayBg a{
    color: #0066cc;
}
.topGrayBg .leftContent{
    float: left;
    color: #333;
}
.topGrayBg .rightContent{
    float: right;
}
.topGrayBg .dashed{
    position: absolute;
    top: 15px;
    left: 10%;
    width: 71%;
    height: 1px;
    border-bottom: 1px dashed #b0b0b0;
}
.orderTabList.noTopValue{
    margin: 0;
}
.applyForStatus{
    float: right;
    margin-bottom: 10px;
}
.applyForStatus .statusBtn a{
    display: inline-block;
    min-width: 45px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #42a7dc;
    border-left: 0;
    margin-left: -4px;
}
.applyForStatus .statusBtn a:first-child{
    border-left: 1px solid #42a7dc;
}
.applyForStatus .statusBtn .current{
    background-color: #42a7dc;
    color: #fff;
}
/*  申请出票 end */

/*产品维护 产品详情 弹窗 start*/
.flightHotelInfoWindowCon {
    
}
.mainContentAllPart {
    /*height: 400px;*/
    overflow-y: scroll;
    padding: 25px 15px;
}
.mainContentPart {
}
.mainContentPart .mainContentPartTab em {
    color: #f00;
    vertical-align: sub;
    margin-right: 2px;
    font-weight: normal;
}
.mainContentPart .mainContentPartTab {
    color: #2c2c2c;
}
.mainContentPart .mainContentPartTab th {
    text-align: right;
    font-weight: normal;
    padding: 4px 3px 4px 0;
}
.mainContentPart .mainContentPartTab td {
    padding: 4px 3px 4px 0;
}
.mainContentPartTab input[type=text] {
    border: 1px solid #d3d3d3;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    width:107px;
}
.window_line {
    height: 0;
    overflow: hidden;
    border-bottom: 1px dotted #bbb;
    margin: 5px 0;
}
.mainContentPart .tdSelectSpan {
      display: inline-block;
      vertical-align: top;
}
.mainContentPart .tdSelectSpan .hiddenSelect {
    display: none;
}

.mainContentPartTab input[readonly=readonly] {
    border: none;
    background: none;
}
.mainContentPart .partTwoUl {
    padding: 0 5px;
}
.partTwoUl .calendaSpan {
    margin: 0 30px 0 15px;
}
.partTwoUl .weekSpan {
    margin: 0 25px 0 0;
}
.partTwoUl .weekSpan label {
    margin: 0 20px 0 0;
}
.partTwoUl .buttonSpan {
    
}
.partTwoUl .ticketPrice {
    padding: 8px 0 15px 65px;
}
.partTwoUl .ticketPrice input[type=text]{
    margin: 0 10px 0 5px;
}
.partTwoUl .textareaPara {
    padding: 8px 0 8px 66px;
}
.partTwoUl textarea {
    width:770px;
    height: 45px;
    padding: 0 3px;
}
.partTwoUl textarea[readonly=readonly] {
    border: none;
    background: none;
}
.mainContentPart .table02 input[type=text] {
    width:322px;
}
.mainContentPart .table02 {
    color: #333;
}
.flightHotelInfoWindowCon .operBtn {
    border-top: 1px solid #b0b0b0;
    padding: 10px 0;
    text-align: center;
}
.mainContentPartTab .commonJourney{
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.mainContentPartTab .blueBg {
    background-color: #3aaceb;
}
.mainContentPartTab .greenBg {
    background-color: #6fca42;
}
.mainContentPartTab .rangeDiv {
    width:46px;
    height: 38px;
    padding: 7px 0 0 0;
}

.fc01993e {
    color: #01993e;
}
.fcf60 {
    color: #f60;
}

/*酒店信息*/
.mainContentPart .hotelInfoTab th {
    font-weight: bold;
    
}
.mainContentPart .hotelInfoTab .totelNight {
    color:#f00;
    margin: 0 5px;
}
.mainContentPart .hotelInfoTab .hotelFacility label {
    margin-right: 15px;
}
.mainContentPart .uploadImgUl {
    margin: 10px 0 10px 0;
}
.mainContentPart .uploadImgUl li {
    float: left;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    height: 110px;
}
.mainContentPart .uploadImgUl img {
    width:140px;
    height: 92px;
}
.mainContentPart .uploadImgUl li p {
    text-align: right;
    color: #0074d2;
    position: absolute;
    bottom:0px;
    right: 0px;
    display: none;
}
.mainContentPart .addHotelImg {
    border: 1px solid #0074d2;
    width: 118px;
    height: 20px;
    text-align: center;
    padding: 35px 10px;
    color: #0074d2;
}
.mainContentPart .addHotelImg i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -24px;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
}
.mainContentPart .addHotelImg:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -20px -24px;
}
.mainContentPart .addHotelImg:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}
.mainContentPart .uploadImgUl li:hover p {
    display: block;
    cursor: pointer;
}
.mainContentPart .uploadImgUl .textareaPara {
    padding: 8px 0 8px 66px;
}
.mainContentPart .hotelInfoTab textarea {
    width:770px;
    height: 45px;
    padding: 0 3px;
}
.hotelPartTwoUl b em {
    color: #f00;
    vertical-align: sub;
    margin-right: 2px;
    font-weight: normal;
}
.hotelPartTwoUl b {
    color: #424242;
    text-align: right;
    width:66px;
    display: inline-block;
}
.hotelPartTwoUl li {
    padding:0 0 8px 0;
}
.hotelPartTwoUl .roomTypeSpan {
    margin: 0 0 0 1px;
}
.hotelPartTwoUl .calendaSpan {
    margin-left: 1px;
    margin-right: 39px;
}
.hotelPartTwoUl .weekSpan label {
    margin: 0 18px 0 0;
}
.hotelPartTwoUl .roomPrice {
    padding: 8px 0 15px 29px;
}
.hotelPartTwoUl .roomPrice input[type=text]{
    margin: 0 0 0 3px;
}
.fc4ca3d4 {
    color: #4ca3d4;
}

/*提示弹窗*/
.WindowtipsContainer {
    text-align: center;
    padding: 15px 25px 25px 25px;
}
.WindowtipsContainer .tipMsg {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}
.tipMsg .failIcon {
    background: url("../images/operator/groupManage.png") no-repeat scroll -31px 0px rgba(0, 0, 0, 0);
    display: inline-block;
    width: 47px;
    height: 47px;
    position: relative;
    top: 13px;
    margin-right: 10px;
    vertical-align: bottom;
}
.WindowtipsContainer .tipMsgP {
    font-size: 14px;
    color: #2c2c2c;
    margin-bottom: 20px;
}

/*产品维护 产品详情 弹窗 end*/

.cash-calc{
    display: inline-block;
    float: left;
}

.cash-calc .font1{
    font-size: 12px;
    color: #4b4a4a;
    font-weight: bolder;
}

.cash-calc .font2{
    font-size: 16px;
    color: #ff6600;
    font-weight: bolder;
}

.page-number{
    width: 48px;
    height: 22px;
    border: 1px solid #d0d0d0;
}

.list-count em {
  color: #ff6b00;
  text-transform: none;
}

.copy-info-banner{
    height: 35px;
    background-color: #f6f6f6;
    line-height: 35px;
    
}

.copy-info-banner a{
    color: #0066cc;
    font-size: 12px;
    margin-left: 10px;
}

.copy-info-banner .font1{
    color: #2c2c2c;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 10px;
}

.copy-info-banner .font2{
    color: #2c2c2c;
    font-size: 12px;
    margin-left: 10px;
}

.create-application-order-btn{
    text-align: center;
    margin-top: 20px;
}

/* 运营商机加酒 产品维护 双日历样式   By:shuaigeng.zhao ; */

.double-calendar-container .k-calendar .k-header {
    display: none;
}

.double-calendar-container .k-calendar .k-content .k-link {
    overflow: visible;
    line-height: normal;
    padding: 0px;
}

.double-calendar-container .k-calendar td {
    padding: 0px;
    text-align: center;
    font-size: 12px;
    border: none;
}

.date-cont-container {
    width: 47px;
    height: 45px;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    position: relative;
    padding: 3px 5px;
}

.left-calendar-block {
    float: left;
    width: 405px;
    background-color: #fff;
    border: 1px solid #1986c5;
}

.right-calendar-block {
    float: left;
    width: 405px;
    background-color: #fff;
    border: 1px solid #1986c5;
    border-left: 0;
}

.double-calendar-container .k-calendar td .date-text {
    color: #434343;
    font-weight: bold;
}

.double-calendar-container .k-calendar td.k-weekend .date-text {
    color: #1986c5;
    font-weight: bold;
}

.double-calendar-container .k-calendar .date-text {
    position: absolute;
}

.double-calendar-container .k-calendar .price-cont {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.double-calendar-container .k-calendar .price-cont .adult-price {
    color: #ff4200;
    font-family: Arial;
}

.double-calendar-container .k-calendar .price-cont .child-price {
    color: #008736;
    font-family: Arial;
}

.double-calendar-container .k-calendar .price-cont .room-price {
    color: #ff4200;
    font-family: Arial;
}

.double-calendar-container .k-calendar .price-cont .ticket-price {
    color: #008736;
    font-family: Arial;
}

.double-calendar-container .k-calendar .k-content thead th {
    height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #e5f3fb;
    border-bottom: none;
}

.double-calendar-container .k-calendar .k-content thead th:first-child,
.double-calendar-container .k-calendar .k-content thead th:last-child {
    color: #1986c5;
}

.double-calendar-container .k-calendar .k-content tbody tr:first-child .date-cont-container {
    border-top: none;
}

.double-calendar-container .k-calendar .k-content .k-state-selected {
    background-color: #fff;
}

.double-calendar-container .k-calendar .k-content .k-other-month {
    cursor: default;
}

.double-calendar-container .k-calendar .k-content .k-other-month .date-cont-container:hover {
    background-color: #fff;
}

.change-calendar-icon {
    background: url(../images/operator/calendar-turn-icon.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.change-calendar-icon.prev {
    background-position: -48px 0;
}

.change-calendar-icon.next {
    background-position: -72px 0;
}

.change-calendar-icon.prev.disabled {
    background-position: -1px 0;
    cursor: default;
}

.change-calendar-icon.next.disabled {
    background-position: -24px 0;
    cursor: default;
}

.calendar-change-top-block {
    padding: 0 5px;
    height: 40px;
    line-height: 40px;
}

.calendar-change-top-block .left-calendar-title,
.calendar-change-top-block .right-calendar-title {
    width: 360px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.calendar-change-top-block .right-calendar-title {
    padding-left: 30px;
}

.date-cont-container:hover {
    background-color: #dcfbe4;
}

.modify-price-layer {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #cacaca;
}

.modify-price-layer p {
    text-align: center;
    margin-bottom: 10px;
}

.modify-price-layer p:last-child {
    margin-bottom: 0;
}

.modify-price-layer .adult-price-title {
    color: #ff6000;
    font-weight: bold;
    padding-right: 5px;
}

.modify-price-layer .child-price-title {
    color: #3dc661;
    font-weight: bold;
    padding-right: 5px;
}

.modify-price-layer input[type='text'] {
    text-indent: 5px;
}

.modify-price-layer .hotel-price-title {
    color: #424242;
    font-weight: bold;
    padding-right: 5px;
}

/* 双日历结束  */


/*产品维护 基本信息 start*/
.packageSummary .basicInfoTable textarea {
    border: 1px solid #d3d3d3;
    padding: 3px;
}
.packageSummary .tipSpan {
    display: inline-block;
    vertical-align: top;
}
.packageSummary .spaceLabel {
    margin: 0 30px 0 20px;
}
.prompt .leftArrow {
    position: absolute;
    top: 29%;
    left: -6px;
    display: block;
    width: 6px;
    height: 11px;
    background: url(../images/left_arrow_modify.png) no-repeat;
}
/*上传照片*/
.uploadImgBlock {
    height: auto;
    overflow: hidden;
}
.uploadImgBlock li {
    width:190px;
    margin: 0 10px 20px 0;
    float: left;
}
.uploadImgBlock li img {
    margin: 0 0 8px 0;
}
.uploadImgBlock li span{
    color: #999;
}
.uploadImgBlock li span:hover {
    color: #0074d2;
    text-decoration: underline;
    cursor: pointer;
}
.uploadImgBlock li p span {
    margin: 0 20px 0 0;
}
.uploadImgBlock li p span .last {
    margin: 0 0 0 63px;
}
.uploadImgBlock li p span:last-child {
    color: #0074d2;
    float: right;
    margin-right: 0px;
}
.uploadImgBlock li.uploadingBox {
    border: 1px solid #d3d3d3;
    width:166px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
}
.uploadingBox .uploadBar {
    background: #ededed;
    width:165px;
    height: 16px;
    position: relative;
}
.uploadingBox .uploadinged {
    background: #0074d2;
    width:60px;
    height: 16px;
    position: absolute;
    top:0px;
    left: 0px;
}
li .k-button.k-upload-button {
    width: 188px;
    height: 123px;
    position: absolute;
    left: -140px;
    top: -70px;
    opacity: 0;
    background: none!important;
}
.uploadImgBlock li.addImgBox {
    border: 1px solid #0074d2;
    width:166px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
    color: #0074d2;
    font-size: 16px;
}
.uploadImgBlock li.addImgBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}
.addImgBox i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -24px;
    display: inline-block;
    width:19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
}
.addImgBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -20px -24px;
}


/*产品维护 基本信息 end*/

/*  产品维护  时间价格  开始   By:shuaigeng.zhao ;  */

.left-calendar-part {
    float: left;
    border-right: 1px solid #ababab;
}

.left-calendar-part #calendarContainer {
    width: 670px;
    margin: 0;
    padding: 60px 0px 30px;
    box-shadow: none;
}

.left-calendar-part #calendarHead {
    left: 30px;
}

.right-content-part {
    float: left;
    width: 307px;
}

.calendar-operation-bar {
    margin: 10px 0;
    padding-left: 130px;
}

.cal-year-title,
.cal-month-title {
    float: left;
    text-align: center;
    font-size: 16px;
    color: #555;
}

.cal-year-title {
    border-right: 1px dashed #afafaf;
    padding-right: 35px;
}

.cal-month-title {
    padding-left: 35px;
}

.cal-year-text,
.cal-month-text {
    display: inline-block;
    width: 100px;
}

.cal-year-text .num,
.cal-month-text .num {
    font-family: Arial;
    padding: 0 3px;
}

.cal-year-text .num.current,
.cal-month-text .num.current {
    font-size: 26px;
    color: #3399cc;
    vertical-align: middle;
}

.change-calendar-bigIcon-left {
    background: url(../images/operator/big-turn-calendar-icon.png) no-repeat 0 0;
    width: 29px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.change-calendar-bigIcon-left:hover {
    background-position: 0 -74px;
    cursor: pointer;
}

.change-calendar-bigIcon-right {
    background: url(../images/operator/big-turn-calendar-icon.png) no-repeat 0 -37px;
    width: 29px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.change-calendar-bigIcon-right:hover {
    background-position: 0 -111px;
    cursor: pointer;
}

.calendar-operation-bar .batch-oper-btn {
    float: right;
    margin-right: 10px;
}

/* 右侧内容部分 */

.cont-part-module {
    color: #464646;
}

.cont-part-module .module-cont-block {
    padding: 7px 0px 7px 12px;
}

.cont-part-module .main-title {
    height: 28px;
    line-height: 28px;
    background-color: #eaeaea;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
}

.pick-date {
    min-height: 50px;
}

.pick-date .date-part {
    float: left;
}

.pick-date .btn-part {
    float: right;
    margin-right: 2px;
}

.date-part .week-day {
    left: 0;
}

.date-part .week-day li {
    padding: 4px 7px;
}

.module-cont-block .fc-price em {
    font-weight: bold;
    padding-right: 5px;
}

.module-cont-block .fc-price.adult {
    display: inline-block;
    width: 95px;
}

.weightFont {
    font-weight: bold;
    padding-right: 5px;
}

.hotel-otherInfo-text {
    float: right;
    display: inline-block;
    width: 230px;
    line-height: 18px;
    margin-right: 6px;
}

.price-remain-table tr {
    height: 28px;
    line-height: 28px;
}

.price-remain-table th {
    text-align: right;
    padding-right: 10px;
}

.cont-part-module .redStar {
    color: #ff0000;
    position: relative;
    top: 2px;
}

.price-remain-table .menu-type label input[type='radio'] {
    margin-right: 3px;
}

.lightColorFont {
    color: #666666;
}

.order-confirm-table th {
    text-align: right;
    padding-right: 10px;
}

.order-confirm-table tr {
    height: 28px;
    line-height: 28px;
}

.order-confirm-table label {
    padding-right: 10px;
}

.order-confirm-table label input[type='radio'] {
    margin-right: 3px;
}

.order-confirm-table input[type='text'] {
    margin: 0 5px;
}

.date-part .date-text {
    color: #ff3300;
    font-weight: bold;
    font-size: 16px;
    padding-right: 12px;
    line-height: 25px;
}

.date-part .weekday-text {
    font-weight: bold;
    padding-right: 12px;
    position: relative;
    bottom: 2px;
}

/*  产品维护  时间价格  结束  */

/*产品维护 线路维护 start*/
.resource-offline, .resource-online {
    position: relative;
    display: inline-block;
}
.resource-offline ul, .resource-online ul {
    background: #fff;
    position: absolute;
    top:29px;
    left:5px;
    width:66px;
    border: 1px solid #42a7dc;
    -webkit-border-bottom-left-radius:2px;
    -moz-border-bottom-left-radius:2px;
    border-bottom-left-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    -moz-border-bottom-right-radius:2px;
    border-bottom-right-radius:2px;
}
.resource-online ul {
    border:1px solid #30a366;
}
.resource-offline li, .resource-online li {
    border-bottom: 1px solid #42a7dc;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #42a7dc;
}
.resource-online li {
    border-bottom: 1px solid #30a366;
    color: #30a366;
}
.resource-offline li:hover {
    background: #42a7dc;
    color: #fcfeff;
}
.resource-online li:hover {
    background: #30a366;
    color: #fcfeff;
}
.resource-offline li:hover a, .resource-online li:hover a {
    color: #fcfeff;
}
.resource-offline li a {
    color: #42a7dc;
    text-decoration: none;
}
.resource-offline li a:hover, .resource-online li a:hover {
    color: #fcfeff;
    text-decoration: none;
}
.resource-online li a {
    color: #30a366;
    text-decoration: none;
}
.resource-offline li:last-child, .resource-online li:last-child {
    border-bottom: none;
}
/*产品维护 线路维护 end*/

.tdTextNormal {
    white-space: normal!important;
    word-wrap: break-word!important;
}

.select-date{
    height: 26px;
    line-height: 26px;
}

.cont-part-module .pick-date-none{
  padding: 5px 0 5px 12px;
  min-height: auto;
}
/* 产品维护 周边游 产品详情 start*/
.scenicIcon {
    background: url(../images/operator/scenicIcon.png) no-repeat 0 0;
    width: 20px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 7px;
}
.detailsInfoTab .lakeBlueBg{
    background-color: #32ada0;
}
/* 添加酒店弹窗 */
.windowInfoContent {
    padding:15px 15px 0 15px;
}
.hotelNameSearchBar {
    margin: 0 0 10px 0;
}
.hotelNameSearchBar input[type=text]{
    padding: 0 3px;
}
.hotelNameSearchBar label {
    margin: 0 10px 0 5px;
}

/* 产品维护 周边游 产品详情 end*/


/*  资源管理 start  */
.inquireContent{
    margin-bottom: 13px;
}
.inquireContent input[type="text"]{
    padding-left: 3px;
}
.inquireContent b{
    font-size: 14px;
    font-weight: bold;
    color: #454545;
}
.grayTitleTab{
    width: 100%;
}
.grayTitleTab thead th{
    background-color: #f5f5f5;
    padding: 5px 10px;
    font-weight: normal;
    text-align: left;
    border: 1px solid #e0e0e0;
}
.grayTitleTab tbody td{
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    height: 20px;
}
.grayTitleTab tbody td a{
    color: #0066cc;
 }
.grayTitleTab tbody td a:hover{
    text-decoration: underline;
}
.grayTitleTab tbody tr:hover{
    background-color: #ffffdb;
}
.operation_records tbody td{
    height: 15px;
}
.resourceAdministrationWindow{
    margin-bottom: 20px;
}
.resourceAdministrationWindow tbody th{
    text-align: right;
    padding: 5px 5px 5px 0;
}
.resourceAdministrationWindow tbody td{
    padding: 5px 5px 5px 0;
}
.resourceAdministrationWindow .redFonts{
    color: #ff0000;
    vertical-align: middle;
}
.resourceAdministrationWindow tbody input[type="text"]{
    padding-left: 3px;
}
.resourceAdministrationWindow .marginLeft20{
    margin-left: 20px;
}
.resourceAdministrationWindow .marginRight20 label{
    margin-right: 20px;
}
.resourceAdministrationWindow .marginLeft20 b{
    font-weight: bold;
    margin-right: 5px;
}
.resourceAdministrationWindow .blueTitleHintFonts{
    color: #3399cc;
}
.textAlignRightBtn{
    text-align: right;
}
.textAlignRightBtn button{
    font-size: 16px;
    font-weight: bold;
}
.textAlignRightBtn .disable{
    color: #636363;
}
.resourceAdministrationWindow .uploadingImgContent{
    margin: 10px 0 15px;
}
.resourceAdministrationWindow .uploadingImgContent li{
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
    position: relative;
}
.resourceAdministrationWindow .uploadingImgContent li.last{
    margin-right: 0;
}
.uploadingImgContent li image{
    width: 112px;
    height: 84px;
}
.uploadingImgContent li .delBtn{
    display: none;
    color: #0074d2;
    position: absolute;
    bottom: -10px;
    right: 10px;
}
.uploadingImgContent li .delBtn:hover{
    text-decoration: underline;
}
.uploadingImgContent li:hover .delBtn{
    display: block;
}
.uploadingImgContent li .addImgBtn{
    display: inline-block;
    width: 112px;
    height: 84px;
    line-height: 84px;
    border: 1px solid #0074d2;
    text-align: center;
    color: #0074d2;
}
.uploadingImgContent .addImgBtn .addImgIcon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../images/operator/common-add-icons.png") no-repeat -24px 0;
    vertical-align: middle;
    margin-right: 3px;
}
.uploadingImgContent .addImgBtn:hover{
    color: #fff;
    background-color: #0074d2;
} 
.uploadingImgContent .addImgBtn:hover .addImgIcon{
    background-position: 0 0;
} 
.resourceAdministrationWindow .showTextarea{
    width: 590px;
    height: 70px;
    padding: 5px;
    margin: 10px 0;
}
/*  资源管理 end  */
.search-btn-icon {
    display: inline-block;
    background: url(../images/operator/edit-del-search-icon.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}