@charset "utf-8";
/* 机+酒 CSS Document */

.fixedMenu h3{ font-size:14px;}
.information_div{ background:#fff; padding:15px 10px; margin-bottom:10px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2;}

.information_tab td{ line-height:33px;}
.information_tab td input[type="text"]{ padding-left:3px; height:20px; line-height:20px;}
.information_tab td select{ height:22px; line-height:22px;}
.information_tab td input[type="radio"],.information_tab td input[type="checkbox"]{
    margin-right: 3px;
}

.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:25px;}
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid .orangeFont{ color:#ff6600; font-weight:500;}

.tgrid .blueFlightIcon,.tgrid .redHotelIcon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.tgrid .blueFlightIcon{
    background: url("../images/operator/operatorIcon.png") no-repeat 0 0;
}
.tgrid .redHotelIcon{
    background: url("../images/operator/operatorIcon.png") no-repeat -25px 0;
}
.information_tab .statusLabel label{
    margin-right: 15px;
}
/*新增线路 基本信息*/
.fixedMenu a:hover, .fixedMenu .currentState {
    background:#ffffff;
    border-bottom:3px solid #FF7702;
    color:#333333;
    line-height: 28px;
    padding: 3px 9px 0 9px;
}
.packageSummary {
    background: #f7f7f7;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 1px solid #ccd0d2;
    padding: 10px 20px;
}
.packageSummary input[type=text]{
    padding-left: 3px;
}
.packageSummary .fs14 {
    font-size: 14px;
}
.packageSummary .fc999 {
    color: #999;
}
.packageSummary th {
    text-align: right;
    font-size: 14px;
    font-weight: normal;
}
.packageSummary th, .packageSummary td {
    padding: 8px 0 8px 8px;
}
.package-basicInfoTable th {
    text-align: right;
    font-weight: normal;
    padding: 0 0 18px 8px;
}
.package-basicInfoTable th em {
    color: #ff0000;
    margin-right: 3px;
}
.package-basicInfoTable td {
    padding: 0 0 18px 8px;
}
.package-basicInfoTable input, .package-basicInfoTable textarea {
    border: 1px solid #ccc;
    height: 22px;
    line-height: 22px;
    padding-left: 3px;
}
.package-basicInfoTable .proTypeTd span {
    margin: 0 30px 0 5px;
}
.package-basicInfoTable .tripDays b {
    margin: 0 5px;
    font-weight: normal;
}
.package-basicInfoTable .uploadImgNo {
    text-align: center;
    padding-top: 5px;
}
.package-basicInfoTable .uploadImgNo span {
    color: #0066cc;
}
.package-basicInfoTable .verInput {
    background: #ff6600;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    bottom: -25px;
    left: 0px;
    display: inline-block;
    width:93%;
}
.prompt {
    position: relative;
    width: 420px;
    color: #999999;
    padding:5px 5px;
    background: #ffffeb;
    border: 1px solid #efefef;
    margin-left: 10px;
}
.prompt i {
    position: absolute;
    top: 29%;
    left: -4px;
    display: block;
    width: 6px;
    height: 9px;
    background: url(../images/left_jiantou.png) no-repeat;
}
/*操作日志*/
div.panel {
    padding:20px;
    box-shadow:0 8px 5px -5px #999999;
    background:#ffffff;
    margin:0 auto 10px;
    position:relative
}
.panelContent {
    padding:15px 0
}
.operation_records thead td {
    color:#009aa8;
    background:#fff
}
.packagePanelTit {
    float: none;
}