/* some helper class */
s,u{
    text-decoration:none;
}
b{
    font-weight:normal;
}
.hidden{
  display:none;
}
.btn{
    cursor:pointer;
    border:none;
    background:none;
    background-repeat:no-repeat;
    font-family:inherit;
}
.btn:focus{
    outline:none;
}
.icon{
    display:inline-block;
    background-repeat:no-repeat;
}
.hide-text{
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}
.col{
    float:left;
}
.clearfix:before,
.clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/*EOF*/



/********************* fontello.css*/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?56943258');
  src: url('../font/fontello.eot?56943258#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?56943258') format('woff'),
       url('../font/fontello.ttf?56943258') format('truetype'),
       url('../font/fontello.svg?56943258#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56943258#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* fontello-animation.css
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


 /* fontello-ie7.css */
[class^="icon-"], [class*=" icon-"] {
  *font-family: 'fontello';
  *font-style: normal;
  *font-weight: normal;
 
  /* fix buttons height */
  *line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 

.icon-arrow-double-up:before { content: '\e822'; } /* '' */
.icon-info-circled-1:before { content: '\e821'; } /* '' */
.icon-spin2:before { content: '\e827'; } /* '' */
.icon-spin3:before { content: '\e826'; } /* '' */
.icon-spin4:before { content: '\e825'; } /* '' */
.icon-spin6:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-help-circled:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e812'; } /* '' */
.icon-zoom-in:before { content: '\e810'; } /* '' */
.icon-zoom-out:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-arrow-double-down:before { content: '\e823'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-angle-double-left:before { content: '\e80c'; } /* '' */
.icon-angle-double-right:before { content: '\e80d'; } /* '' */
.icon-angle-double-up:before { content: '\e80e'; } /* '' */
.icon-angle-double-down:before { content: '\e80f'; } /* '' */
.icon-ok-1:before { content: '\e816'; } /* '' */
.icon-ok-circle:before { content: '\e818'; } /* '' */
.icon-cancel-1:before { content: '\e817'; } /* '' */
.icon-cancel-circle:before { content: '\e819'; } /* '' */
.icon-ok-2:before { content: '\e81a'; } /* '' */
.icon-cancel-2:before { content: '\e81b'; } /* '' */
.icon-ok-3:before { content: '\e81c'; } /* '' */
.icon-ok-circled-1:before { content: '\e81e'; } /* '' */
.icon-cancel-3:before { content: '\e81d'; } /* '' */
.icon-cancel-circled-1:before { content: '\e81f'; } /* '' */
.icon-help-circled-1:before { content: '\e820'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */


.icon-arrow-double-up:before { content: '\e822'; } /* '' */
.icon-info-circled-1:before { content: '\e821'; } /* '' */
.icon-spin2:before { content: '\e827'; } /* '' */
.icon-spin3:before { content: '\e826'; } /* '' */
.icon-spin4:before { content: '\e825'; } /* '' */
.icon-spin6:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-help-circled:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e812'; } /* '' */
.icon-zoom-in:before { content: '\e810'; } /* '' */
.icon-zoom-out:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-arrow-double-down:before { content: '\e823'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-angle-double-left:before { content: '\e80c'; } /* '' */
.icon-angle-double-right:before { content: '\e80d'; } /* '' */
.icon-angle-double-up:before { content: '\e80e'; } /* '' */
.icon-angle-double-down:before { content: '\e80f'; } /* '' */
.icon-ok-1:before { content: '\e816'; } /* '' */
.icon-ok-circle:before { content: '\e818'; } /* '' */
.icon-cancel-1:before { content: '\e817'; } /* '' */
.icon-cancel-circle:before { content: '\e819'; } /* '' */
.icon-ok-2:before { content: '\e81a'; } /* '' */
.icon-cancel-2:before { content: '\e81b'; } /* '' */
.icon-ok-3:before { content: '\e81c'; } /* '' */
.icon-ok-circled-1:before { content: '\e81e'; } /* '' */
.icon-cancel-3:before { content: '\e81d'; } /* '' */
.icon-cancel-circled-1:before { content: '\e81f'; } /* '' */
.icon-help-circled-1:before { content: '\e820'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */


.icon-arrow-double-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe822;&nbsp;'); }
.icon-info-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe821;&nbsp;'); }
.icon-spin2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe827;&nbsp;'); }
.icon-spin3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe826;&nbsp;'); }
.icon-spin4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe825;&nbsp;'); }
.icon-spin6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe824;&nbsp;'); }
.icon-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.icon-star-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.icon-ok { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }
.icon-ok-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe815;&nbsp;'); }
.icon-cancel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.icon-cancel-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe814;&nbsp;'); }
.icon-help-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe813;&nbsp;'); }
.icon-info-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe812;&nbsp;'); }
.icon-zoom-in { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe810;&nbsp;'); }
.icon-zoom-out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe811;&nbsp;'); }
.icon-down-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
.icon-up-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
.icon-left-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }
.icon-right-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;'); }
.icon-arrow-double-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe823;&nbsp;'); }
.icon-left-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;'); }
.icon-right-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;'); }
.icon-up-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;'); }
.icon-angle-double-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;&nbsp;'); }
.icon-angle-double-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;&nbsp;'); }
.icon-angle-double-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;&nbsp;'); }
.icon-angle-double-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;&nbsp;'); }
.icon-ok-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe816;&nbsp;'); }
.icon-ok-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe818;&nbsp;'); }
.icon-cancel-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe817;&nbsp;'); }
.icon-cancel-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe819;&nbsp;'); }
.icon-ok-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81a;&nbsp;'); }
.icon-cancel-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81b;&nbsp;'); }
.icon-ok-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81c;&nbsp;'); }
.icon-ok-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81e;&nbsp;'); }
.icon-cancel-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81d;&nbsp;'); }
.icon-cancel-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81f;&nbsp;'); }
.icon-help-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe820;&nbsp;'); }
.icon-down-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;'); }
/********************* end fonticon */
