@charset "utf-8";
/* CSS Document */

.information_div{ background:#fff; padding:15px 10px; margin-bottom:10px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2;}
.information_tab td{ line-height:33px;}
.information_tab td input{ padding-left:3px; height:20px; line-height:20px;}
.information_tab td select{ height:22px; line-height:22px;}
.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff;}
.tgrid th{ text-align:left; padding-left:5px; height:30px;} 
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid tbody td em{ color:#339900; font-weight:bold;}
.tgrid tbody td i{ color:#ff6600; font-weight:bold;}
.tgrid tbody td span{ color:#ff0000;}
.america{ color:#333333; padding:15px 10px; background:#fff; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2; margin-bottom:10px;}
.america b,.mass b{ font-size:14px; margin-right:50px;}
.america em,.mass em{ margin-left:50px; font-weight:bold;}
.mass{ color:#333333; padding:15px 25px; border-bottom:1px solid #e0e0e0;}
.tgrid .grey_words{ width:93%; display:inline-block; color:#333333; background:url(../images/sprite/right_arrow.png) no-repeat right center;}
.tgrid .disabled td,.tgrid .disabled .grey_words{ color:#999999;}
.tgrid .disabled .grey_words:hover{ text-decoration:none;}
.apply{ background:#fff; border:1px solid #dfe3e5;}
.write{ padding:20px 25px 10px;}
.tourist{ border:1px solid #e0e0e0; color:#333333; padding:15px 15px 0px; margin-top:8px;}
.tourist_mes{ padding-bottom:15px;}
.tourist_mes b{ font-size:14px; margin-right:25px;}
.tourist_mes a,.del a{ color:#0066cc;}
.tourist_mes a:hover,.del a:hover{ text-decoration:underline;}
.several{ border-bottom:1px dashed #c1c1c1; padding-bottom:25px; margin-bottom:25px;}
.del em{ background:url(../images/sprite/tourist.png) no-repeat left center; margin-right:10px; padding-left:20px;}
.several_list{ margin-top:15px; }
.several_list td{ line-height:30px;}
.several_list td input{ width:95px; border:1px solid #d7d7d7; padding-left:3px; line-height:20px; height:20px;}
.several_list td select{ line-height:22px; height:22px; margin-right:3px;}
.several_list td em{ color:#ff0000; vertical-align:middle; font-weight:bold;}
.several.several_last{ border-bottom:0; padding-bottom:10px; margin-bottom:10px;}
.unfold{ margin-bottom:15px;}
.unfold a em{ width:7px; height:4px; display:inline-block; background:url(../images/sprite/upAnddown_arrow.png) no-repeat 0 0; vertical-align:middle; margin-left:13px;}
.pay_h3{ font-size:14px; margin-bottom:5px;}
.pay{ margin-bottom:30px;}
.pay td{ line-height:30px;}
.pay input{ width:70px; padding-left:3px;}
.pay textarea{ width:825px; height:125px; margin-top:10px;}
.write_message{ border:1px solid #e0e0e0; padding:15px; margin:5px 25px;}
.write_message h3{ font-size:14px; margin-bottom:10px;}
.write_message table em{ color:#ff0000; font-weight:bold;}
.write_message table td{ line-height:30px;}
.write_message table td input{ width:115px; line-height:20px; height:20px; padding-left:3px;}
.write_message table td select{ line-height:22px; height:22px;}
.submit_btn{ margin:20px 0 40px 25px;}









