@charset "utf-8";
/* CSS Document */


/* 旅游首页维护 S */
.sideNavbox {
    width: 18%;
}
.leftandright .rightCommonStyle {
    width:80%;
}
.testbox ul li.current a.MenuItem {
    background:#fff url(../images/jiantou_right.png) no-repeat 95% center;
    color: #000;
    font-weight:bold;
    float: left;
    position: relative;
    z-index: 2;
    width:152px;
    text-decoration:none;
}
/* 旅游首页维护 E */

/* 轮播图及推荐主题维护 S */
.tm_sideItem {
    background-color: #fff;
    padding:10px 10px 0 5px;
}
.tm_sideItem h4 {
    font-size: 14px;
    border-bottom: 1px solid #d3d3d3;
    padding:10px 0;
    margin-bottom: 10px;
    color: #333;
}
.tm_uploadImgBlock li {
    width:237px;
    margin: 0 28px 20px 0;
}
.tm_uploadImgBlock li:last-child {
    margin-right: 0;
}
.tm_uploadImgBlock li.uploadingBox {
    width:213px;
}
.tm_uploadImgBlock li.addImgBox {
    width:213px;
}
.tm_uploadImgBlock .uploadBar {
    width: 212px;
}
.tm_uploadImgBlock li p span.last {
    margin-left: 70px;
}
.tm_uploadImgBlock li p span:last-child {
    color: #0074d2;
    margin-right: 0;
    margin-left: 0;
    float: right;
}
.columnItemBlock {
    background-color: #f7f7f7;
    padding:0 0 10px 0;
}
.columnItemBlock h5 {
    font-size: 14px;
    height: 37px;
    line-height: 40px;
    border-bottom: 3px solid #ffa86e;
    padding-left:20px;
    padding-right: 8px;
    background-color: #e2e4e5;
    color: #333;
}
.columnItemBlock h5 b {

}
.columnItemBlock h5 span {
    font-weight: normal;
    display: inline-block;
    float: right;
}
.columnItemBlock h5 span a {
    margin-right: 12px;
    color: #0066cc;
    text-decoration: none;
}
.columnItemBlock h5 span a:hover {
    text-decoration: underline;
}
.columnItemBlockTit {
    margin: 20px 0 20px 35px;
    display: none;
}
.columnItemBlockTit label {
    font-weight: bold;
    margin-right: 3px;
    color: #333;
    font-size: 14px;
    vertical-align: middle;
}
.columnItemBlockTit input {
    padding:2px 3px 2px 5px;
}
.markItem {
    padding:0 20px;
    margin: 0 10px;
    position: relative;
}
.markItem h6 {
    font-size: 14px;
    color: #333;
    padding: 12px 0;
}
.markItemTable {
    width:100%;
    border-top:1px solid #d7d7d7;
    border-left:1px solid #d7d7d7;
}
.markItemTable th {
    background-color: #f0f0f0!important;
    font-weight: normal;
    font-size: 14px;
}
.markItemTable th, .markItemTable td, .addProductTr {
    padding:10px 20px 10px 20px;
    border-right:1px solid #d7d7d7;
    border-bottom:1px solid #d7d7d7;
    background-color: #f7f7f7;
}
.markItemTable tr :first-child {
    font-size: 14px;
}
.markItemTable th :last-child, .markItemTable tr :last-child {
    display: none;
}
.editMarkItem .markItemTable th:last-child, .editMarkItem .markItemTable tr :last-child {
    display:table-cell;
}
.editMarkItem .markItemTable tr :last-child {
    padding-left:11px;
}
.editMarkItem .markItemTable th:last-child {
    padding-left:20px!important;
}
.editMarkItem .addProductTr {
    display: block;
}
.addProductTr {
    border-left:1px solid #d7d7d7;
    display: none;
}
.addProductTr .add_product {
    float: right;
    padding-right: 4px;
}
.markItemTable .del_product, .addProductTr .add_product {
    color: #0074d2;
    font-size: 12px!important;
}
.markItemTable .del_product:hover, .addProductTr .add_product:hover {
    text-decoration: underline;
}
.addMarkItem, .addProductTagBox {
    border: 1px solid #0074d2;
    color: #0074d2;
    font-size: 16px;
    text-align: center;
    height: 38px;
    line-height: 40px;
    margin: 15px 0;
}
.addMarkItem:hover, .addProductTagBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}
.addMarkItem i, .addProductTagBox i {
    background: url("../images/supplier/sale-add-hover.png") no-repeat;
    width:12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}
.addMarkItem:hover i {
    background: url("../images/supplier/sale-add.png") no-repeat;
}
.addTagAndOper {
    display: none;
}
.addProductTagBox {
    border: 1px solid #a5d5fd;
    background-color: #f3fcff;
    margin: 15px 10px;
    /*display: none;*/
}
.addProductTagBox:hover {
    background-color: #daeffe;
    border: 1px solid #a5d5fd;
    color: #0074d2;
}
.editMarkItem {
    border:1px solid #a5d5fd;
    background: #f3fcff;
    padding:10px 10px;
    margin: 0 10px 10px 10px;
}
.editMarkItem h6 {
    display: none;
}
.addProFontsTip {
    color: #999;
    padding:10px 0 0 0;
    display: none;
}
.addProFontsTip em {
    color: red;
    margin-right: 2px;
    padding-top: 6px;
    display: inline-block;
    vertical-align: middle;
}
.editMarkItem .addProFontsTip {
    display: block;
}
.productTagUl {
    margin-bottom: 10px;
    display: none;
}
.productTagUl li {
    padding: 0 0 10px 0;
}
.productTagUl label {
    display: inline-block;
    width:88px;
    font-weight: bold;
    font-size: 12px;
}
.productTagUl input[type=text] {
    width:140px;
    padding:0 0 0 3px;
}
.editMarkItem .productTagUl, .editMarkItem .delProductTag {
    display: block;
}
.delProductTag {
    display: none;
    position: absolute;
    top:10px;
    right: 10px;
    color: #ff6633;
    font-size: 14px;
}
.delProductTag:hover {
    cursor: pointer;
    text-decoration: underline;
}
.delProductTag i {
    background: url("../images/supplier/del_proTag.png") no-repeat;
    width:16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.addProductTagTemplate {
    display: none;
}
.addProductTagTemplate .addProductTr {
    border-top:1px solid #d7d7d7;
}
.productTabOper {
    padding:10px 0;
    text-align: right;
    border-top:1px solid #d3d3d3;
    margin: 25px 10px 0 10px;
}
.productTabOper .button_2_1:hover {
    color: #fff;
}
.productTabOper .button_2_2:hover {
    color: #4f4f4f;
}

/* 弹窗 S*/
.WindowtipsContainer {
    text-align: center;
    padding: 5px 25px;
}
.WindowtipsContainer .tipMsg {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}
.tipMsg .failIcon {
    background: url("../images/operator/groupManage.png") no-repeat scroll -31px 0px rgba(0, 0, 0, 0);
    display: inline-block;
    width: 47px;
    height: 47px;
    position: relative;
    top: 13px;
    margin-right: 10px;
    vertical-align: bottom;
}
.WindowtipsContainer .tipMsgP {
    font-size: 14px;
    color: #2c2c2c;
    margin-bottom: 20px;
}
.WindowtipsContainer .addImgDiv i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -24px;
    display: inline-block;
    width:19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
}
.uploadbtnBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -20px -24px;
}
.uploadbtnBox {
    position: relative;
    border: 1px solid #0074d2;
    width:331px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    padding: 50px 11px;
    color: #0074d2;
    font-size: 16px;
    display: inline-block;
}
.uploadbtnBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}

.uploadbtnBox .k-widget.k-upload {
    position: inherit;
    position: absolute;
    top: 0;
    display: inherit;
}
.uploadbtnBox .k-upload-button {
    cursor: pointer;
    width:355px;
    height: 182px;
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: Alpha(opacity=0);
    padding: 0;
}
.uploadbtnBox .k-upload-button input {
    width: 100%;
    height: 100%;
    right: inherit;
    left: 0;
    font-size: 0!important;
    cursor: pointer!important;
}
.imgFontsTips {
    text-align: left;
    padding:10px 0 0 18px;
}
.imgFontsTips em {
    color: red;
    margin-right: 2px;
    padding-top: 6px;
    display: inline-block;
    vertical-align: middle;
}
.WindowtipsContainer .formInfoUl {
    margin-bottom: 15px;
}
.WindowtipsContainer .formInfoUl li {
    text-align: left;
    padding: 12px 0 0 18px;
}
.WindowtipsContainer .formInfoUl label {
    display: inline-block;
    width:60px;
}
.WindowtipsContainer .formInfoUl input[type=text] {
    width:294px;
    padding:0 0 0 3px;
}
.WindowtipsContainer .formInfoUl .timeLi input[type=text] {
    width:100px;
    margin-right: 20px;
}
.productSearchBar {
    color: #333;
}
.productSearchBar input[type=text]{
    padding:0 0 0 3px;
    width:120px;
    margin-right: 20px;
}
.openWindowTable {
    width:100%;
    border-top:1px solid #d7d7d7;
    border-left:1px solid #d7d7d7;
    margin: 10px 0 0 0;
}
.openWindowTable th {
    background-color: #f5f5f5;
}
.openWindowTable th, .openWindowTable td {
    border-bottom:1px solid #d7d7d7;
    border-right:1px solid #d7d7d7;
    padding:6px 5px;
    font-size: 12px!important;
    text-align: left!important;
    font-weight: normal;
}
.columeTitleP {
    margin-bottom: 10px;
}
.columeTitleP label {
    font-weight: bold;
    color: #333;
}
.columeTitleP input {
    width:200px;
    padding:0 0 0 3px;
}
.WindowtipsContainer .button_2_1:hover {
    color: #fff;
}
.WindowtipsContainer .button_2_2:hover {
    color: #4f4f4f;
}
/* 弹窗 E*/

/* 轮播图及推荐主题维护 E */


/* 左导航栏维护 S */
.titleStyle{
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #d3d3d3;
}
.titleStyle .leftTitle{
    float: left;
    font-size: 14px;
    color: #333333;
}
.titleStyle .titleRight{
    font-size: 14px;
    float: right;
    color: #0066cc;
    cursor: pointer;
}
.titleStyle .titleRight:hover{
    text-decoration: underline;
}
.titleRight .editIcon{
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url("../images/operator/tag-icons.png") no-repeat -38px -19px;
    vertical-align: middle;
    margin-right: 3px;
}
.titleH3{
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin: 20px 0 10px;
}
.placeList,.placeWeightList{
    padding: 20px 10px 0 15px;
    background-color: #f7f7f7;
    min-height: 30px;
}
.areaDetailed{
    margin-bottom: 7px;
}
.areaDetailed .areaName{
    float: left;
    width: 55px;
}
.areaDetailed .cityList{
    float: left;
    width: 698px;
}
.areaDetailed .cityList span{
    display: inline-block;
    margin:0 30px 15px 0;
}
.placeWeightList{
    margin: 10px 0 20px;
}
.placeWeightList b{
    display: inline-block;
    margin: 0 30px 15px 0;
}
.marginBottom30{
    margin-bottom: 30px;
}
.editModule{
    margin-top: 20px;
    display: none;
}
.editModule .editPlace{
    margin-bottom: 15px;
}
.editPlace .editLeft{
    display: inline-block;
    float: left;
    width: 90px;
    line-height: 22px;
}
.editPlace .editRight{
    float: left;
    width: 675px;
    line-height: 22px;
}
input[type="text"]{
    padding-left: 3px;
}
.hintFonts{
    margin-bottom: 10px;
}
.redFonts{
    color: #fb2121;
}
.hintFonts .color999{
    color: #999999;
}
.cancellableList li{
    display: inline-block;
    min-width: 120px;
    border: 1px solid #a5e0ff;
    background-color: #f4fbff;
    padding: 3px 10px;
    margin: 0 10px 10px 0;
    float: left;
}
.cancellableList .cancellableFonts{
    font-size: 14px;
    color: #333333;
    float: left;
}
.cancellableList .cancellableIcon{
    display: inline-block;
    float: right;
    width: 15px;
    height: 16px;
    background: url("../images/operator/tag-icons.png") no-repeat -58px -19px;
    vertical-align: middle;
    margin-top: 3px;
    cursor: pointer;
}
.cancellableList li:hover .cancellableIcon{
    background: url("../images/operator/tag-icons.png") no-repeat -77px -19px;
}
.grayBgModule{
    border: 1px solid #e2e3e5;
    background-color: #f2f2f2;
    padding: 9px 0;
    text-align: center;
}
.grayBgModule .areaBg{
    display: inline-block;
    width: 665px;
}
.grayBgModule .operationFonts{
    display: inline-block;
    width: 90px;
}
.editPlaceSmallModule{
    margin: 15px 0 20px;
    background-color: #f3fcff;
    border: 1px solid #a5d5fd;
}
.editLeftSmallModule{
    padding: 15px 0 10px 15px;
    float: left;
    width: 665px;
    border-right: 1px solid #a5d5fd;
}
.marginRight30{    
    margin-right: 30px;
}
.addPlaceName{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #a5d5fd;
}
.defaultPlace span,
.selectPlace label{
    display: inline-block;
    margin: 0 5px 15px 0;
    min-width: 75px;
}
.editRightSmallModule{
    float: right;
    width: 90px;
    text-align: center;
    vertical-align: middle;
}
.editRightSmallModule a{
    display: inline-block;
    margin-top: 15px;
}
.highlightStyle{
    color: #ff6633;
}
.highlightBtn,.batchRemoveBtn,.deleteAreaBtn{
    display: none;
}
.operationHintContent{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #333333;
}
.operationHintContent .deleteIcon{
    display: inline-block;
    width: 47px;
    height: 47px;
    background: url("../images/operator/groupManage.png") no-repeat -31px 0;
    vertical-align: middle;
    margin-right: 10px;
}


/* 左导航栏维护 E */

/* 搜索栏维护 S */
.sideNavbox {
    width: 18%;
}
/* 搜索栏维护 E */