@charset "utf-8";
/* CSS Document */


/* 旅游首页维护 S */
.sideNavbox {
    width: 18%;
}
.leftandright .rightCommonStyle {
    width:80%;
}
.testbox ul li.current a.MenuItem {
    background:#fff url(../images/jiantou_right.png) no-repeat 95% center;
    color: #000;
    font-weight:bold;
    float: left;
    position: relative;
    z-index: 2;
    width:152px;
    text-decoration:none;
}
/* 旅游首页维护 E */

/* 轮播图及推荐主题维护 S */
.tm_sideItem {
    background-color: #fff;
    padding:10px 10px 0 5px;
}
.tm_sideItem h4 {
    font-size: 14px;
    border-bottom: 1px solid #d3d3d3;
    padding:10px 0;
    margin-bottom: 10px;
    color: #333;
}
.tm_uploadImgBlock li {
    width:237px;
    margin: 0 28px 20px 0;
}
.tm_uploadImgBlock li:last-child {
    margin-right: 0;
}
.tm_uploadImgBlock li.uploadingBox {
    width:213px;
}
.tm_uploadImgBlock li.addImgBox {
    width:213px;
}
.tm_uploadImgBlock .uploadBar {
    width: 212px;
}
.tm_uploadImgBlock li p span.last {
    margin-left: 70px;
}
.tm_uploadImgBlock li p span:last-child {
    color: #0074d2;
    margin-right: 0;
    margin-left: 0;
    float: right;
}
.columnItemBlock {
    background-color: #f7f7f7;
    padding:0 0 10px 0;
}
.columnItemBlock h5 {
    font-size: 14px;
    height: 37px;
    line-height: 40px;
    border-bottom: 3px solid #ffa86e;
    padding-left:20px;
    padding-right: 8px;
    background-color: #e2e4e5;
    color: #333;
}
.columnItemBlock h5 b {

}
.columnItemBlock h5 span {
    font-weight: normal;
    display: inline-block;
    float: right;
}
.columnItemBlock h5 span a {
    margin-right: 12px;
    color: #0066cc;
    text-decoration: none;
}
.columnItemBlock h5 span a:hover {
    text-decoration: underline;
}
.columnItemBlockTit {
    margin: 20px 0 20px 35px;
    display: none;
}
.columnItemBlockTit label {
    font-weight: bold;
    margin-right: 3px;
    color: #333;
    font-size: 14px;
    vertical-align: middle;
}
.columnItemBlockTit input {
    padding:2px 3px 2px 5px;
}
.markItem {
    margin-bottom: 10px;
    padding:0 20px;
}
.markItem h6 {
    font-size: 14px;
    color: #333;
    padding: 12px 0;
}
.markItemTable {
    width:100%;
    border-top:1px solid #d7d7d7;
    border-left:1px solid #d7d7d7;
}
.markItemTable th {
    background-color: #f0f0f0;
    font-weight: normal;
    font-size: 14px;
}
.markItemTable th, .markItemTable td {
    padding:10px 20px 10px 20px;
    border-right:1px solid #d7d7d7;
    border-bottom:1px solid #d7d7d7;
}
.markItemTable tr :first-child {
    font-size: 14px;
}
.markItemTable th :last-child, .markItemTable tr :last-child {
    display: none;


}
.markItemTable .del_product {
    color: #0074d2;
    font-size: 12px!important;
}
.markItemTable .del_product:hover {
    text-decoration: underline;
}
.addMarkItem {
    border: 1px solid #0074d2;
    color: #0074d2;
    font-size: 16px;
    text-align: center;
    height: 38px;
    line-height: 40px;
    margin: 15px 0;
}
.addMarkItem:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}
.addMarkItem i {
    background: url("../images/supplier/sale-add-hover.png") no-repeat;
    width:12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}
.addMarkItem:hover i {
    background: url("../images/supplier/sale-add.png") no-repeat;
}
/* 轮播图及推荐主题维护 E */


/* 左导航栏维护 S */
.sideNavbox {
    width: 18%;
}
/* 左导航栏维护 E */

/* 搜索栏维护 S */
.sideNavbox {
    width: 18%;
}
/* 搜索栏维护 E */