@charset "utf-8";
/* CSS Document */


/* 旅游首页维护 S */
.sideNavbox {
    width: 18%;
}
.leftandright .rightCommonStyle {
    width:80%;
    background:#fff;
    padding:0 5px 0 1.38%;
    border-left:1px solid #cccccc;
}
.testbox ul li.current a.MenuItem {
    background:#fff url(../images/jiantou_right.png) no-repeat 95% center;
    color: #000;
    font-weight:bold;
    float: left;
    position: relative;
    z-index: 2;
    width:150px;
    text-decoration:none;
}
/* 旅游首页维护 E */

/* 轮播图及推荐主题维护 S */
.sideNavbox {
    width: 18%;
}
/* 轮播图及推荐主题维护 E */


/* 左导航栏维护 S */
.sideNavbox {
    width: 18%;
}
/* 左导航栏维护 E */

/* 搜索栏维护 S */
.sideNavbox {
    width: 18%;
}
/* 搜索栏维护 E */