@charset "utf-8";
/* CSS Document */

a {
    color: #0088cc;
    text-decoration: none;
}
a:hover, a:focus {
    color: #005580;
    /*text-decoration: underline;*/ /* 如有需要请详细定位，否则会影响到全局的a标签显示  */
}

/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}

.main-footer center {
    margin-top: 20px;
}

.copyright {
    padding-bottom: 20px;
}

.main-footer a {
    color: inherit;
}

.main-footer .bar {
    margin: 0 5px;
}

body{ background-color: #f9f9f9}

.fixedMenu h3{ font-size:14px;}
.information_div{ background:#fff; padding:15px 10px; margin-bottom:10px; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2;}

.information_tab td{ line-height:33px;}
.information_tab td input{ padding-left:3px; height:20px; line-height:20px;}
.information_tab td select{ height:22px; line-height:22px;}

.tgrid .line_left{ border-left:1px solid #e0e0e0;}
.tgrid .line_right{ border-right:1px solid #e0e0e0;}
.hui_bg,.hui_bg tr{ background:#f0f0f0;}
.tgrid tbody tr:hover{ background:#ffffdb;}
.tgrid{ background:#fff; border-collapse:collapse;}
.tgrid th{ text-align:left; padding-left:5px; height:30px;} 
.tgrid tbody a{ color:#0066cc; margin-right:3px;}
.tgrid tbody a:hover{ color:#0066cc;text-decoration:underline; cursor:pointer;}
.tgrid tbody td{ text-align:left; height:30px; padding:3px 3px 3px 5px;}
.tgrid thead th{ font-weight:500;}
.tgrid tbody td em{ color:#339900; font-weight:bold;}
.tgrid tbody td i{ color:#ff6600; font-weight:bold;}
.tgrid tbody td span{ color:#ff0000;}
.america{ color:#333333; padding:15px 10px; background:#fff; border-left:1px solid #dfe3e5; border-right:1px solid #dfe3e5; border-bottom:2px solid #ccd0d2; margin-bottom:10px;}
.america b,.mass b{ font-size:14px; margin-right:40px;}
.america b{ margin-left:30px;}
.mass em{ margin-left:50px; font-weight:bold;}
.america em{ font-weight:bold;margin-left:40px;}
.mass{ color:#333333; padding:15px 25px; border-bottom:1px solid #e0e0e0;}
.tgrid tbody a{ margin-right:10px;}
.tgrid .grey_words{ width:87%; display:inline-block; color:#333333; background:url(../images/right_arrow.png) no-repeat right center;}
.tgrid .disabled td,.tgrid .disabled .grey_words{ color:#999999;}
.tgrid .disabled .grey_words:hover{ text-decoration:none;}
.enroll{ background:#fff; border:1px solid #dfe3e5;}
.write{ padding:20px 25px 0;}
.tourist{ border:1px solid #e0e0e0; color:#333333; padding:15px 15px 0px; margin-top:8px;}
.tourist_mes{ padding-bottom:15px;}
.tourist_mes b{ font-size:14px; margin-right:25px;}
.tourist_mes a,.del a{ color:#0066cc;}
.tourist_mes a:hover,.del a:hover{ text-decoration:underline;}
.newly{ border-bottom:1px dashed #c1c1c1; padding-bottom:25px; margin-bottom:25px;}
.del{ margin-bottom:15px;}
.del em{ background:url(../images/tourist.png) no-repeat left center; margin-right:10px; padding-left:20px;}
.newly_list td{ line-height:30px;}
.newly_list td input{ width:95px; border:1px solid #d7d7d7; padding-left:3px; line-height:20px; height:20px;}
.newly_list td select{ line-height:22px; height:22px; margin-right:3px;}
.newly_list td em{ color:#ff0000; vertical-align:middle; font-weight:bold;}
.newly.newly_last{ border-bottom:0; padding-bottom:10px; margin-bottom:10px;}
.unfold,.pack_up{ margin-bottom:15px;}
.unfold a em{ width:7px; height:4px; display:inline-block; background:url(../images/upAnddown_arrow.png) no-repeat 0 0; vertical-align:middle; margin-left:13px;}
.pack_up a em{ width:7px; height:4px; display:inline-block; background:url(../images/upAnddown_arrow.png) no-repeat 0 -9px; vertical-align:middle; margin-left:13px;}
.pay_h3{ font-size:14px; margin-bottom:5px;}
.pay{ margin-bottom:30px;}
.pay td{ line-height:30px;}
.pay input{ width:70px; padding-left:3px;}
.pay textarea{ width:825px; height:125px; margin-top:10px;}
.write_message{ border:1px solid #e0e0e0; padding:15px; margin:10px 25px;}
.write_message h3{ font-size:14px; margin-bottom:10px;}
.write_message table em{ color:#ff0000; font-weight:bold;}
.write_message table td{ line-height:30px;}
.write_message table td input{ width:115px; line-height:20px; height:20px; padding-left:3px;}
.write_message table td select{ line-height:22px; height:22px;}
.submit_btn{ margin:20px 0 40px 25px;}
.file_content{ width:540px; height:auto;}
.select_btn{ font-size:14px; font-weight:bold; float:right; margin-top:25px; margin-right:20px;}
.select_btn a{ margin-left:5px;}
.tourist_info td{ line-height:30px;}
.tourist_info td em{ font-weight:bold;}
.tourist_info td textarea{ width:420px; height:120px; margin-top:10px;}
.pay_file,.apply_file{ width:440px; height:auto;}
.pay_div{ width:440px; padding:0 0 15px 0; border-bottom:1px dashed #c1c1c1;}
.pay_info{ width:370px;}
.pay_info td b{ color:#ff6600;}
.tgrid.pay_info tbody tr:hover{ background:none; cursor:default;}
.detail,.state,.cancel{ margin-top:15px;}
.detail h3,.state h3,.cancel h3,.cause h3,.cancel_reason h3{ color:#454545; font-size:12px; margin-bottom:7px;}
.detail table,.cancel{ border-collapse:collapse;}
.detail table input{ width:75px; height:20px; line-height:20px; border:1px solid #d9d9d9; padding-left:3px;}
.detail table th,.cancel table th{ background:#f5f5f5; border:1px solid #d5d5d5; padding-left:7px; text-align:left; font-weight:500; line-height:30px;}
.detail table td,.cancel table td{ border:1px solid #d5d5d5; padding-left:5px; line-height:30px;}
.state select{ width:90px; height:22px; line-height:22px;}
.cause,.cancel_reason{ width:418px; margin-top:20px; padding-top:10px; border-top:1px dashed #c1c1c1;}
.cause h3 em,.cancel_reason h3 em{ vertical-align:middle; color:#ff0000;}
.cause textarea{ width:415px; height:110px; border:1px solid #d6d6d6; overflow-y:scroll;}
.cancel_reason textarea{ width:400px; height:80px; border:1px solid #d6d6d6; padding:8px; resize:none; color:#666666; line-height:20px; overflow-y:scroll;}
.fixedMenu .current_state{ background:#fff; border-bottom:3px solid #ff7702; color:#000000;}
.preserve{ padding:15px 15px 15px 30px; border:1px solid #dfe3e5; border-bottom:0; background:#fff; color:#454545;}
.preserve b{ font-size:14px; margin-right:50px;}
.preserve a{ float:right;}
.map_depot{ background:#fff; padding:0 15px 0 30px; border:1px solid #dfe3e5; border-bottom:0;}
.map_depot h3{ font-size:14px; margin-top:20px; color:#333333;}
.product_show{ margin-top:15px;}
.product_show li{ float:left; margin:0 12px 15px 0;}
.picture{ padding:5px; background:#ebebeb;}
.picture a{display:block;}
.picture img{ width:163px; height:105px; margin-bottom:7px;}
.picture input{ width:155px; padding-left:3px; height:20px; line-height:20px; border:1px solid #d6d6d6; background:#fff; display:block; color:#555555;}
.picture .caption{ width:162px; height:24px; line-height:24px; display:block; overflow:hidden;}
.product_show .bg:hover{ background:#ebebeb;}
.picture:hover{ background:#fcfcb5;}
.function{ text-align:right; margin-top:10px;}
.function a{ margin-left:10px; color:#0066cc;}
.function a:hover{ text-decoration:underline;}
.gray_clour{ color:#666666;}

.tl-header{
    padding:15px 15px 13px 15px;
    border-bottom:1px solid #ccc;
    position:relative;
}
.tl-header h3{
    display:inline;
    color:#333;
    font-size:14px;
}

.tl-save{
    position:absolute;
    right:20px;
    top:15px;
}

.tl-count{
    margin-left:80px;
}
.tl-count b{
    vertical-align:middle;
    color:#f70;
    font-size:16px;
    margin:0 5px;
}

.tl-body{
    position:relative;
}

.tl-proc{
    left:0;
    position:absolute;
    height:100%;
    width:280px;
    overflow-y:scroll;
}
.tl-proc b{
    left:50%;
    margin-left:-1px;
    top:0px;
    position:absolute;
    display:block;
    height:60px;
    width:2px;
    background-color:#ddd;
}
.tl-proc tr{
    height:60px;
    color:#666;
}
.tl-proc td{
    vertical-align:middle;
}
.tl-proc .tl-icon{
    text-align:center;
    width:90px;
    position:relative;
}
.tl-proc .tl-text{
    padding-right:30px;
}
.tl-proc .empty{
    color:#aaa; 
}
.tl-proc i{
    position:relative;
    *top:8px;
    z-index:1;
    display:inline-block;
    vertical-align:middle;
    font:bold 14px arial;
    color:#ff6608;
    width:38px;
    height:38px;
    line-height:38px;
    text-align:center;
    background:url(../images/tlc.png) 0 -39px  no-repeat;
}
.tl-proc .active i{
    color:#fff;
    background-position: 0 0;
    height:39px;
}
.tl-proc .active span{
    color: #333333;
    font-weight: bold;
}
.tl-proc .active td{
    background-color:#F5F5F5;
}
.tl-proc .active .tl-text{
    background:#f5f5f5 url(../images/store/nav-bg.png) 150px 50% no-repeat;
}
.tl-proc tr:hover td{
    background-color:#F5F5F5;
}
.tl-proc tr{
   cursor:pointer; 
}

.tl-page{
    margin-left:280px;
    width:650px;
    padding:20px 20px 30px 20px;
    border-left:1px solid #ccc;
}
.tl-page .cv-table th{
    font-weight:normal;
}
.tl-page .cv-table{
    margin-bottom:15px;
    width:100%;
}
.tl-page .on-saving{
    display:none;
    padding-left:25px;
    color:#f00;
    background:url(../css/Default/loading.gif) no-repeat 2px 50%;
}
.tl-page h4{
    text-align:center;
    font-size:16px;
    color:#999;
}

.tl-pics{
    margin-top:10px;
}
.k-ie8 .tl-pics{
    float:left;
} 

.tl-pics img{
    width:160px;
    height:100px;
}


.tl-proc tr:nth-child(1) b{
    top:50%;
}

.tl-proc tr:last-child b{
    height:30px;
}

.tl-pic{
    border-bottom:30px solid #fff;
    display:block;
    float:left;
    width:160px;
    padding:5px;
    position:relative;;
    background-color:#EBEBEB;
    margin-right:8px;
}
.tl-pic:hover{
    background-color:#FCFCB6;
}
.tl-pic input{
    text-align:center;
    background:none;
    border:0;
    width:154px !important;    
    padding:0 2px;
}
.tl-pic.on-edit input{
    text-align:left;
    background-color:#fff;
    border:1px solid #ccc;
    height:18px;
}
.tl-pic:hover .tl-pic-ac,.tl-pic.on-edit .tl-pic-ac{
    display:block;
}
.tl-pic .ac-save{
    display:none;
}
.tl-pic.on-edit .ac-save{
    display:inline;
}
.tl-pic.on-edit .ac-edit{
    display:none;
}

.tl-pic-name{
    display:block;
    margin-top:5px;
}

.tl-pic-ac{
    position:absolute;
    right:2px;
    bottom:-33px;
    display:none;
    padding:10px 0;
    width:100%;
    text-align:right;
}
.tl-pic-ac a{
    margin-left:10px;
}


.preview_circuit{ border-right:1px solid #dfe3e5; border-left:1px solid #dfe3e5; border-bottom:2px solid #dfe3e5; background:#fff; color:#333333;}
.preview_title{ font-size:14px; font-weight:bold; padding:10px 30px; border-bottom:1px solid #e0e0e0;}
.circuit{ padding:20px 15px 30px;}
.circuit_list{ border-collapse:collapse; width:100%;}
.circuit_list td,.circuit_list th{ border:1px solid #e0e0e0; padding:10px;}
.circuit_list th{ background:#019bd8; color:#fff; text-align:center;}
.day{ background:#eefaff; color:#019bd8; text-align:center;}
.day h2{ font-size:16px; border-bottom:1px dashed #019bd8; padding-bottom:2px; font-weight:bold; color:#019bd8;}
.circuit_list td h3{ color:#333333; font-size:14px; margin-bottom:7px;}
.circuit_list td p{ line-height:20px;}
.circuit_list td div{ line-height:27px;}
.circuit_list td h3 i{ width:17px; height:16px; display:inline-block; background:url(../images/store/plane_car.png) no-repeat 0 0; vertical-align:middle; margin:0 3px;}
.circuit_list td h3 em{ width:13px; height:16px; display:inline-block; background:url(../images/store/plane_car.png) no-repeat 0 -21px; vertical-align:middle; margin:0 7px;}
.circuitHint{ border-bottom:1px solid #e0e0e0; text-align:center; padding:15px 0 20px 0;}
.circuitHint h2{ font-size:14px; color:#333333; margin-bottom:7px;}
.circuitHint h3{ font-size:14px; color:#ff3300;}
.announcements{ padding:0 15px; margin-bottom:60px;}
.announcements h3{ color:#333333; font-size:14px; margin-bottom:10px;}
.announcements_list{ border-collapse:collapse;}
.announcements_list td{ border:1px solid #e0e0e0; padding:10px 15px;}
.announcements_list td:first-child{ text-align:center;}
.announcements_list td ul li{ line-height:25px;}



.k-ff .tl-proc b{
    position:relative;
    float:left;
} 
.k-ff .tl-proc i{
    top:10px;
}


/*override swfuploader*/
.progressWrapper {
    float:left;
	width: 160px;
    padding:5px;
	overflow: hidden;
	background-color: #EBEBEB;
    margin-right:10px;
    padding-bottom:30px;
    border-bottom:30px solid #fff;
}

.progressContainer {
    position:relative;
    height:80px;
	margin: 0px;
	padding: 10px;
	border: 0;
	background-color: #fff;
	overflow: visible;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 0px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 0px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 0px #DDF0DD;
	background-color: #fff;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 12px;
	font-weight: normal;
	color: inherit;
	width: 140px;
    position:absolute;
    top:107px;
	height: auto;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgressWrapper{
    margin-top:25px;
    background-color:#EBEBEB;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 17px;
	background-color: #019AA8;
	margin-top: 0;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
    position:absolute;
    bottom:15px;
    width:auto;
    font-weight:bold;
    right:20px;
	margin-top: 0px;
	font-size: 12px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: right;
	white-space: nowrap;
    color:#0099A7;
}

a.progressCancel {
	font-size: 0;
	display: none;
	height: 14px;
	width: 14px;
	/* background-image: url(../Images/swfup/cancelbutton.gif); */
	background-repeat: no-repeat;
	background-position: -14px 0px;
    background:none;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}



.swfupload {
	vertical-align: top;
}


/*选择日历*/
.k-calendar .k-content .k-link{padding:0}
.k-other-month{background:#FAFAFA;color:#CBCBCB}
.k-state-selected{background:#fff}

b.important{line-height:22px;padding-right:10px;}
.subPanel{padding:10px 20px;margin-bottom:20px}
.subPanel li{padding:5px 0}
.subPanelTitle{font-weight:bold;font-size:14px}

#calendarTitle{color:#FF6500;font-size:14px;font-weight:bold;width:780px;margin:0 auto 10px}
#calendarContainer{background:#D8F0FF;padding:60px 20px 30px;box-shadow:3px 3px 3px #1F6491;width:780px;margin:0 auto;position:relative}
#calendarHead{position:absolute;top:30px;left:120px}
#calendarHead th{width:93px;text-align:center}
#calendar{width:650px;border:1px solid #9AC8E7;margin-left:12px}
#calendar .k-header{display:none}
#calendar thead{display:none}
#calendar td{height:70px;width:90px;border:1px solid #ccc}
#calendar td.hover{background:url('../images/operator/calAddBgBtn.gif') center center no-repeat;}
.calendar_date{position:absolute;top:3px;left:3px}
.canlendar_jqjr{position:absolute;top:6px;left:20px;line-height:1.25;width:40px;word-break:break-all;text-align:left;color:#878787}
#calendarOperationPanel{width:83px;height:440px;border:1px solid #AFD2E9;background:#EBF7FF;float:left;position:relative}
#calendarMonthUp,#calendarMonthUp.disabled{background:url('../images/calendarButton.gif') no-repeat 0 -50px;width:50px;height:41px;position:absolute;top:10px;left:16px;cursor:pointer}
#calendarMonthDown,#calendarMonthDown.disabled{background:url('../images/calendarButton.gif') no-repeat 0 -150px;width:50px;height:41px;position:absolute;bottom:10px;left:16px;cursor:pointer}
#calendarMonthUp.disabled{background-position:0 0;cursor:default}
#calendarMonthDown.disabled{background-position:0 -100px;cursor:default}
#calendarDateInfo{position:absolute;top:50%;margin-top:-50px;left:15px;text-align:center}
#calendarDateInfo .monthValue{font-size:26px;color:#3399CB;vertical-align:top}
#calendarMonthTag{font-size:16px;line-height:42px;display:inline-block;height:26px;+line-height:33px}
#calendar th{text-align:center}
#calendar div.sale{background:#FFFF9D}
#calendar b.edge{background:url('../images/calendarEdge.gif') no-repeat;width:10px;height:11px;position:absolute;top:0;right:0}
.remainNum{position:absolute;right:5px;bottom:30px;color:#339900}
.salePrice{position:absolute;right:5px;bottom:10px;color:#FF3300;font-size:16px;font-weight:bold;font-family:arial}
.holiday{width:17px;height:17px;display:inline-block;background:url('../images/holiday.gif') no-repeat}
b.holiday{position:absolute;top:3px;right:1px}

.tripDetailContainer{width:570px;height:280px !important;background:#fff}
.tripDetailContainerLeft{float:left;width:270px;position:relative;height:100%;border-right:1px solid #DAD9D9}
.tripDetailContainerRight{float:left;width:210px;padding:10px 30px;position:relative}
.tripDetailContainerRight li{margin-bottom:8px}
.tripDetailContainerRight li td,.tripDetailContainerRight li th{padding:5px;text-align:left}
.tripDetailItem{height:50px;border-bottom:1px solid #DAD9D9;padding:15px 25px;cursor:pointer}
.tripDetailItem.active{background:#FFFF9D;}
.tripDetailAddButton{color:#0065CB;background:url('../images/plusButton.gif') left center no-repeat;padding-left:20px;margin:10px 0 0 20px;cursor:pointer}
.spliteArrowLeft{background:url('../images/spliteArrowLeft.gif') no-repeat;position:absolute;width:9px;height:17px;right:-1px}
#tripDetailContainerRightConver{width:310px;background:rgba(0,0,0,0.3);display:none;height:100%;position:absolute;z-index:999;left:0;top:0}


.tgrid .orangeFont{ color:#ff6600; font-weight:500;}
.tgrid .disabled_btn{ cursor:default;}
.tgrid .disabled_btn .center{ color:#7e7e7e;}
.information_tab .orderTypeList label{ margin-right:20px;}
.tgrid .ellipsis{ width:110px; display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#393939; font-weight:500;}

/*审核 产品信息*/
.information_div h3 {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    padding: 0 0 15px 10px;
}
.modifyPointBlock {
    height: 100%;
    overflow: hidden;
    padding: 0 0 0 20px;
}
.modifyPointBlock li {
    float: left;
    margin-right: 30px;
    padding-left: 10px;
}
.modifyPointBlock li span {
    color: #666;
}
.proInformationBlock {
    padding: 25px 20px;
}
.infoSummary .c1 {
    color: #ff4200;
}
.infoSummary .c2 {
    color: #0066cc;
}
.infoSummary .c3 {
    color: #666;
}
.infoSummary td {
    padding: 0 0 15px 0;
}
.travelDetailDiv {
    height: 100%;
    overflow: hidden;
    margin: 15px 0 3px 0;
}
.travelDetailDiv span {
    background: #daeef6; 
    text-align: center;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    cursor: pointer;
    display: inline-block;
}
.travelDetailDiv span.currentSpan {
    background: #2cb7f1;
    color: #fff;
}
.lineInfoBlock {
    
}
/*nine items*/
.changeList {
    background: #f4f4f4;
    border-bottom:1px solid #e0e0e0;
    width:945px;
    z-index: 1;
    margin-bottom: 20px;
    -webkit-transform: translateZ(0);
    position:relative;
}
.changeList ul {
    float:left;
}
.changeList li {
    float:left;
    position:relative;
    height:40px;
    line-height:40px;
    font-size:14px;
    color:#454545;
}
.changeList a {
    float: left;
    display:inline-block;
    min-width:93px;
    text-align:center;
    color: #404040;
    font-size: 14px;
    text-decoration: none;
}
.changeList .currentLi, .changeList .currentLi:hover {
   font-weight: bold;
    height:41px;
    z-index:3;
}
.changeList .currentLi i {
    position:absolute;
    bottom:-1px;
    left:0px;
    background:#ff6600;
    height:3px;
    min-width:96px;
}
/*.changeList .currentLi {
    margin-left:-1px;
    margin-right:-1px;
}*/

.basicInfoTable th {
    text-align: right;
    font-weight: normal;
    padding: 0 0 10px 0;
}
.basicInfoTable th em {
    color: #ff0000;
    margin-right: 3px;
}
.basicInfoTable td {
    padding: 0 0 10px 8px;
}
.basicInfoTable input, .basicInfoTable textarea {
    border: 1px solid #ccc;
    width:332px;
    height: 22px;
    line-height: 22px;
    padding-left: 3px;
}
.diamondLevelExplain {
    color: #999;
    cursor: pointer;
}
.diamondLevelExplain i {
    background: url("../images/explainIconOrange.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
.orangeExplainBlcok {
    color: #999;
}
.orangeExplain:hover {
    color: #999;
    cursor: pointer;
}
.orangeExplain {
    background: url("../images/explainIconOrange.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}

/*上传照片*/
.uploadImgBlock {
    height: auto;
    overflow: hidden;
}
.uploadImgBlock li {
    width:190px;
    margin: 0 10px 20px 0;
    float: left;
}
.uploadImgBlock li img {
    margin: 0 0 8px 0;
}
.uploadImgBlock li span{
    color: #999;
}
.uploadImgBlock li span:hover {
    color: #0074d2;
    text-decoration: underline;
    cursor: pointer;
}
.uploadImgBlock li p span {
    margin: 0 20px 0 0;
}
.uploadImgBlock li p span .last {
    margin: 0 0 0 63px;
}
.uploadImgBlock li p span:last-child {
    color: #0074d2;
    float: right;
    margin-right: 0px;
}
.uploadImgBlock li.uploadingBox {
    border: 1px solid #d3d3d3;
    width:166px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
}
.uploadingBox .uploadBar {
    background: #ededed;
    width:165px;
    height: 16px;
    position: relative;
}
.uploadingBox .uploadinged {
    background: #0074d2;
    width:60px;
    height: 16px;
    position: absolute;
    top:0px;
    left: 0px;
}
li .k-button.k-upload-button {
    width: 188px;
    height: 123px;
    position: absolute;
    left: -140px;
    top: -70px;
    opacity: 0;
    background: none!important;
}
.uploadImgBlock li.addImgBox {
    border: 1px solid #0074d2;
    width:166px;
    height: 23px;
    text-align: center;
    padding: 50px 11px;
    color: #0074d2;
    font-size: 16px;
}
.uploadImgBlock li.addImgBox:hover {
    border: 1px solid #0074d2;
    background: #0074d2;
    cursor: pointer;
    color: #fff;
}
.addImgBox i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat 0 -24px;
    display: inline-block;
    width:19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
}
.addImgBox:hover i {
    background: url("../images/supplier/sprite-smallIcon.png") no-repeat -20px -24px;
}

.scenicImageBlock li{
    border: none;
}

/*线路行程*/
.itemsTitleDiv {
    border-bottom: 1px solid #e0e0e0;
    padding:10px 0;
    color: #454545;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
}
.tripBasicInfo {
   
}
.tripDetailContext{
    padding: 40px 0 0 60px;
}
.tripDetailContext li{
    position: relative;
    line-height: 2;
}
.tripDetailContext li.tripDetailContextLi,
.tripDetailContextLi {
    border-left: 2px solid #d8d8d8;
}
.tripDetailContextTxt{
    margin:0 60px;
    padding:20px 0;
}
.tripDetailContextTxt .tripName{
    font-size: 14px;
    color: #454545;
    font-weight: bold;
    margin-bottom: 20px;
}
.tripDetailContext li:first-child .tripDetailContextTxt{
    padding-top: 0;
}
.tripDetailContext li:first-child .tripDays{
    top: -20px;
}
.tripDetailContext li:last-child .tripDetailContextTxt{
    border-bottom: 0;
}
.tripDetailContext li:last-child .tripDays{
    height: 100%;
    background-color: #ffffff;
}
.tripDetailContext .tripDays{
    position: absolute;
    top:0px;
    left: -37px;
    background: url("../images/tripDays.png") no-repeat;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    color: #0893ff;
    font-family: microsoft yahei;
    font-weight: bold;
}
.tripDetailContext .tripDays.highlight{
    background: url("../images/tripDaysH.png") no-repeat;
    color:#ffffff;
}
.itemsContentText {
    padding: 15px 0 0 0;
    word-wrap: break-word;
    word-break: break-all;
}
.itemsContentText p {
    padding-left: 20px;
    line-height: 2;
}
.itemsContentText textarea {
    border: 1px solid #ccc;
    width: 910px;
    height: 110px;
    margin-left: 20px;
    margin-top: 5px;
}
.editablePicName {
    border: 1px solid #d8d8d8;
}

.itemsContentText table {
    float: none!important;
}

/*日志弹窗*/
.ac-journal {
    cursor: pointer;
}
.commonTab{
    margin: 10px 0;
    color: #333333;
    width: 100%;
    border:1px solid #e0e0e0;
}
.commonTab tbody td:first-child,.commonTab thead th:first-child{
    padding-left: 10px;
}
.commonTab thead th{
    background: #e4e4e4;
    border-bottom: 3px solid #ffa86e;
    padding: 10px 3px;
    color: #555555;
    text-align: left;
}
.commonTab tbody td{
    padding: 10px 3px;
    border-bottom: 1px solid #eaeaea;
}
.commonTab tbody tr:hover{
    background: #ffffdb;
}
.commonTab .exitTravel,.commonTab .inlandTravel,.commonTab .rimTravel{
    vertical-align: middle;
    display: inline-block;
    width: 46px;
    height: 21px;
    margin-right: 2px;
}
.commonTab .exitTravel{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 0;
}
.commonTab .inlandTravel{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -26px;
}
.commonTab .rimTravel{
    background: url("../images/supplier/smallSpirit.png") no-repeat 0 -52px;
}
.commonTab .freeWalker,.commonTab .groupTravel,.commonTab .localTravel,.commonTab .semiSelfService{
    vertical-align: middle;
    display: inline-block;
    width: 66px;
    height: 21px;
}
.commonTab .groupTravel{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px -26px;
}
.commonTab .freeWalker{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px 0;
}
.commonTab .localTravel{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px -52px;
}
.commonTab .semiSelfService{
    background: url("../images/supplier/smallSpirit.png") no-repeat -51px -78px;
}
.commonTab .lineLink a{
    color: #333333;
}
.commonTab .lineLink a:hover,.commonTab tbody a:hover{
    color: #0393d3;
    text-decoration: underline;
}
.commonTab .lineName,.commonTab .lineLink a{
    display: inline-block;
    width:280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.commonTab .lineName{
    color: #838282;
}
.commonTab tbody a{
    color: #0393d3;
    margin-right: 5px;
}
.commonTab .redFonts{
    color: #fc3333;
}
.commonTab .greenFonts{
    color: #01a84b;
}
.commonTab .grayFonts{
    color: #aaaaaa;
}
.commonTab .lineLink .linkGrayFonts{
    color: #aaaaaa;
    cursor: default;
}
.commonTab .lineLink .linkGrayFonts:hover{
    color: #aaaaaa;
    text-decoration: none;
}
.commonTab .limitWidth{
    width: 95%;
    line-height: 18px;
}
.causeContent{
    line-height: 23px;
    font-size: 14px;
}
.pullRightStyle{
    float: right;
    margin-top: 20px;
}

/*售卖地 选择城市*/
.salePlaceWindow {

}
.salePlaceWindowH {
    border-bottom: 1px solid #eaeaea;
    /*position: absolute;
    left: -17px;
    top: -40px;
    width: 732px;*/
    padding: 0 0 5px 0;
}
.salePlaceWindowH th, .salePlaceWindowH td {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding:5px ;
}
.salePlaceWindowH th, .salePlaceWindowC th {
    text-align: right;
}
.salePlaceWindowH input, .salePlaceWindowC input {
    margin-right: 3px;
    vertical-align: middle;
}
.salePlaceWindowC th, .salePlaceWindowC td {
    padding:8px 5px;
}
.salePlaceWindowBottom {
    border-top: 1px solid #eaeaea;
    padding: 20px 0 5px 0;

}
.rightOperationA .redFonts{
    color: #ee0000;
    font-weight: bold;
    margin: 0 5px;
}
.cityBtn .rightOperationA{
    float: right;
    font-size: 14px;
}

.sendBackReasonDiv  textarea {
    border:1px solid #ccc;
    width: 407px;
    height: 90px;    
}

/*layer Orange*/
.layerContainer {
    color:#636363;
}
.k-tooltip {
    border: 1px solid #ffba86;
}
.k-tooltip-dir-n .layerOrangeArrow{/*TOP arrow*/
    position:absolute;
    top:-5px;
    left:7%;
    background:url(../images/layerOrangeArrow.png) no-repeat 0 0;
    width:7px;
    height:5px;
}
.k-tooltip-dir-s .layerOrangeArrow{/*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../images/layerOrangeArrow.png) no-repeat 0 -6px;
    width:7px;
    height:5px;
}


/*    线路管理   */
.fixedMenu .menuRedFonts{
    color: #ff0000;
    font-size: 12px;
}
.fixedMenu .currentState{
    background: #FFFFFF;
    border-bottom: 3px solid #ff7702;
    color: #333333;
}
.fixedMenu .lineStatus{
    color: #0066cc;
    cursor: pointer;
}
.lineStatus .lineStatusIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background: url("../images/smallIcon.png") no-repeat 0 -8px;
    vertical-align: middle;
}
.lineStatus:hover .lineStatusIcon{
    background: url("../images/smallIcon.png") no-repeat -19px -8px;
}
.lineStatus em{
    vertical-align: middle;
}
.lineStatus em:hover{
    text-decoration: underline;
}

.offerContent .offerOperation{
    padding: 15px 0;
}
.offerOperation .yearTime{
    float: left;  
    vertical-align: middle;
}
.yearOperation{
    margin-right: 30px;
}
.yearOperation .rightBlueArrow{
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("../images/smallIcon.png") no-repeat 0 -27px;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.yearOperation .leftBlueArrow{
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("../images/smallIcon.png") no-repeat -10px -27px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}
.yearOperation b{
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;   
}
.yearList{
    display: inline-block;
    vertical-align: middle;
}
.yearList li{
    float: left;
    margin-right: 7px;
    padding:5px;
    color: #3399ff;
    cursor: pointer;
}
.yearList li:hover{
    text-decoration: underline;
}
.yearList .currentYear{
    background: #ededed;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
.yearList .currentYear:hover{
    text-decoration: none;
}
.compileOffer td,.compileOffer th{
    padding: 7px 5px 7px 0;
}
.compileOffer th{
    text-align: right;
    font-weight: 500;
}
.compileOffer input[type="text"]{
    padding-left: 3px;
}
.compileOffer .weekList li{
    float: left;
    margin-right: 10px;
    padding: 5px 7px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}
.compileOffer .weekList .currentWeek{
    background: #049eda;
    color: #FFFFFF;
    border: 1px solid #049eda;
}
.compileOfferBtn{
    text-align: center;
    margin-top: 15px;
}
.compileOfferBtn button{
    font-size: 14px;
    font-weight: bold;
}
.offerTab thead th{
    background: #f3f3f3;
}

/* 旅游-线路管理-团订单 */
.table-model {
    padding: 20px 8px 40px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #b6b6b6;
}
.table-title {
    padding: 0 0 10px 0;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.team-info-table thead th, .team-order-table thead th {
    background: #f5f5f5;
    border-bottom: none;
    border-right: 1px solid #d5d5d5;
    border-top:1px solid #d5d5d5;
    height: 20px;
}
.team-info-table .line_left, .team-order-table .line_left { border-left:1px solid #d5d5d5;}
.team-info-table .line_right .team-order-table .line_right { border-right:1px solid #d5d5d5;}

.theSameOrderBlock {
    border-bottom: 2px solid #d5d5d5;
}


.offerTab thead th,.offerTab tbody td{
    padding: 1px 2px;
    text-align: center;
    border: 1px solid #cccccc;
}
.offerTab .fontSize999 td{
    color: #999999;
}
.offerTab .priceStyle li{
    float: left;
    /*width: 72px;*/
    width: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}
.offerTab .priceStyle li:first-child,
.offerTab .roomPriceDiffStyle li:first-child {
    /*margin-left: 10px;*/
    margin-left: 0px;
    line-height: 18px;
}
.offerTab .roomPriceDiffStyle li {
    float: left;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    min-width: 65px;
}
.offerTab .roomPriceDiffStyle li input {
    width: 50px!important;
}
.offerTab .nthNumber{
    display: inline-block;
    /*min-width: 22px;*/
    margin-right: 3px;
}
.offerTab .starNumber{
    display: inline-block;
    min-width:22px;
    padding: 2px;
    text-align: center;
    color: #cc7d29;
    background: #ffe2c4;
    margin-left: 5px;
}
.offerTab .editable{
    width: 70px;
    padding-left: 2px;
    text-align: left;
    display: none;
}
.priceStyle .editable{
    width: 70px;
}
.offerTab .changeWidth{
    width: 60px;
}
.priceStyle .priceRedFonts{
    color: #ff0000;
}


/*批量发送团通知书 弹窗*/
.batchSendBlock {
    padding: 10px;
}
.batchSendBlock h3 {
    font-size: 14px;
    padding:0 0 10px 0;
}
.batchSendBlock p {
    padding:8px 0;
}
.batchSendBlock .operBtn {
    text-align: center;
    margin: 10px 0 5px 0;
}
.batchSendBlock p a {
    color: blue;
    text-decoration: underline;
}
.batchSendBlock .fileType a:hover {
    color: blue;
    text-decoration: underline;
}
.batchSendBlock input[type=text] {
    width: 160px;
    margin-right: 8px;
}

/*  添加线路状态 status   */
.travel-status {
    background: url(../images/travel_status.png) no-repeat;
    width: 47px;
    height: 25px;
    float: left;
}

.path-on-sale {
    background-position: 0 0;
    margin-top: 8px;
    margin-right: 5px;
}

.path-off-line {
    background-position: 0px -37px;
    margin-top: 8px;
    margin-right: 5px;
}

.group-open {
    background-position: -54px 0;
    margin-right: 5px;
}

.group-close {
    background-position: -54px -37px;
    margin-right: 5px;
}

.travel-path-text {
    float: left;
}

.td-path-name {
    line-height: 38px;
}

.td-group-num {
    line-height: 38px;
}

.font-color-gray,.font-color-gray td{
    color: #aaa!important;
}

.xScroll {
    overflow-x: scroll;
}

/* 提高日期控件弹出层级, popWindow datepicker,  运营商-旅游页面   By: shuaigeng.zhao;  */
#ui-datepicker-div {
    z-index: 20000!important;
}

/* 新钻级说明弹窗 */
.diamondLevel-icon {
    background: url(../images/supplier/diamond_pw_icons.png) no-repeat 0 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.hotel-icon {
    background: url(../images/supplier/diamond_pw_icons.png) no-repeat -27px 0;
    height: 18px;
    width: 21px;
    display: block;
    float: left;
    margin-right: 5px;
}

.useCar-icon {
    background: url(../images/supplier/diamond_pw_icons.png) no-repeat -48px 3px;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.team-icon {
    background: url(../images/supplier/diamond_pw_icons.png) no-repeat -76px 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.dinner-icon {
    background: url(../images/supplier/diamond_pw_icons.png) no-repeat -100px 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.flightSeat-icon {
    background: url(../images/supplier/diamond_pw_icons.png) no-repeat -123px 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.diamondLevelPopwindow {
    border: 1px solid #eaeaea;
    text-align: left;
}

.diamondLevelPopwindow tbody tr{
    font-size: 12px;
    height: 90px;
    vertical-align: top;
}

.diamondLevelPopwindow tbody tr td:first-child {
    background-color: #ecf9fd;
    padding: 10px 0px;
}

.diamondLevelPopwindow thead tr{
    height: 45px;
    background-color: #ecf9fd;    
}

.diamondLevelPopwindow th,
.diamondLevelPopwindow td {
    border: 1px solid #eaeaea;
    padding: 7px 10px;
}

.remark-gray {
    color: #9a9a9a;
}

.remark-orange {
    color: #ff6600;
}

.small-diamond-level  {
    height: 11px;
    margin: 10px auto;
}

.small-diamond-level li {
    float: left;
    background: url(../images/supplier/diamond_pw_icons.png) no-repeat 0px -24px;
    height: 11px;
    width: 14px;
    height: 11px;
    padding: 10px 0px;
}

.diamond-level-title {
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-left: 30px;
    margin-top: -10px;
}

.trHoverYellowBg {
    background-color: #ffffdb;
}

.team-order-table .theSameOrderBlock {
    border-bottom: 1px solid #d5d5d5;
}

.tdGrayFont td{
    color: #b6b6b6!important;
}

.tdDlFileName {
    padding: 5px 0;
    display: inline-block;
}

table.fixedTb {
    table-layout: fixed;
}

td.alignCenter {
    text-align: center!important;
}

.multiSendNotice {
    margin: 10px 0;
}

.multiSendNotice input[type='checkbox'] {
    margin: 0 5px 0 15px;
}

.multiSendNotice .multiSendBtn {
    margin-left: 15px;
}

.ellipsis_td_div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popwin_batchUpdateTip {
    color: red;
    margin-bottom: 5px;
}

/* 上传按钮 */
.uploadImgWhiteBtn {
    background: url(../images/supplier/addImageWhite.jpg) no-repeat 0 0;
    width: 190px;
    height: 125px;
    cursor: pointer;
}

.uploadImgBlueBtn {
    background: url(../images/supplier/addImageBlue.jpg) no-repeat 0 0;
}

.uploadFlieWhiteImg {
    background: url(../images/supplier/whiteUploadImage.png) no-repeat 0 0;
    width: 70px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 5px 5px;
}

.uploadFlieBlueImg {
    background: url(../images/supplier/blueUploadImage.png) no-repeat 0 0;
}

/*  线路预览  */
.mainContainer{
    width:980px;
    margin:0 auto;
}
.travel_birthland_destination{
    color: #636363;
    background: url("../images/store/ico_location.gif") no-repeat;
    padding-left: 22px;
    margin:10px 0;
    height: 20px;
    line-height: 20px;
}
.travel_birthland_destination .birthland{
    font-size: 16px;
    padding:0 5px;
}
.travel_birthland_destination .icon-right-open-1{
    color:#CACACA;
    padding:0 2px 0 5px;
}
.travel_birthland_destination .destination{
    color: #878787;
}
.tripInfoAndBooking_left{
    float:left;
    width:460px;
}
.tripInfoAndBooking_right{
    margin-left: 480px;
}
.tripInfoAndBooking .tripName p{
    font-size: 20px;
    margin-bottom: 10px;
}
.tripInfoAndBooking_right li
.unimportantTxt87{
    color: #878787;
}
.unimportantTxt63{
    color:#636363;
}
.importantTxt1{
    color:#EE4423;
}
.hotline{
    background: url("../images/store/ico_hotline.gif") no-repeat;
    padding-left: 65px;
    color: #FF6500;
    font-size: 14px;
    font-weight: bold;
}
.recommendedByPM{
    margin-top: 15px;
}
.recommendedByPM li{
    margin-bottom: 10px;
}
.tripDetailInfo{
    margin-top: 10px;
    background:#ffffff;
    border:1px solid #e1e1e1;
    margin-bottom: 10px;
    border-top: 0;
}
.tripDetailContextDay{
    padding-bottom: 20px;
}
.tripDetailContextDay > li{
    position: relative;
    line-height: 2;
    border-left: 2px solid #97C1E9;
}
.tripDetailContextDayText{
    margin:0 60px;
    padding:20px 0;
    border-bottom: 1px dashed #E4E4E4;
}
.tripDetailContextDayText .tripName{
    font-size: 20px;
    color: #3F3F3F;
    font-weight: bold;
}
.tripDetailContextDay > li:first-child .tripDetailContextDayText{
    padding-top: 0;
}
.tripDetailContextDay > li:first-child .tripDays{
    top: 0;
}
.tripDetailContextDay > li:last-child .tripDetailContextDayText{
    border-bottom: 0;
}
.tripDetailContextDay > li:last-child .tripDays{
    height: 100%;
    background-color: #ffffff;
}
.tripDetailContextDay .tripDays{
    position: absolute;
    top:20px;
    left: -25px;
    background: url("../images/store/tripDays.gif") no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #3F3F3F;
}
.tripDetailContextDay .tripDays.highlight{
    background: url("../images/store/tripDaysH.gif") no-repeat;
    color:#ffffff;
}
.tripName {
    border-bottom: none!important;
    padding: 0px 10px!important;
    margin-top: 10px;
}

.tripName span {
    padding: 0 5px;
}

.starLevelOrange2 {
    background: url(../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
    height: 10px;
    width: 28px;
    display: inline-block;
    margin-left: 15px;
}
.starLevelOrange3 {
    background: url(../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
    height: 10px;
    width: 42px;
    display: inline-block;
    margin-left: 15px;
}

.starLevelOrange4 {
    background: url(../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
    height: 10px;
    width: 56px;
    display: inline-block;
    margin-left: 15px;
}
.starLevelOrange5 {
    background: url(../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
    height: 10px;
    width: 70px;
    display: inline-block;
    margin-left: 15px;
}
.starLevelOrange6 {
    background: url(../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
    height: 10px;
    width: 84px;
    display: inline-block;
    margin-left: 15px;
}

.largeBtnOrange {
    background-color: #fc6d26;
    color: #fff;
    font-size: 18px;
    text-align: center;
    width: 140px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.viewPoint .grayArrowRight {
    display: inline-block;
    width: 5px;
    height: 9px;
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat 0 -53px;
    margin-left: 10px;
    margin-right: 5px;
}

.viewPointList {
    border-bottom: 1px dashed #D2D2D2;
    padding: 10px;
}

.tripInfoAndBooking_right .viewPointList li {
    border-bottom: none;
    padding: 0;
}
.icon-star:before { content: '\e807'; } /* '' */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.viewPoint {
    height: 105px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}
.viewPoint li{
    width: auto;
    border-left: 0;
}
.viewPoint div {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px!important;
}

.viewPoint span {
    color: #7c7c7c;
    border: 1px solid #e4e4e4;
    padding: 5px;
}

.expandMoreLink,
.foldMoreLink {
    color: #0066cc;
    cursor: pointer;
}

.recommendedByPM {
    height: 275px;
    overflow: hidden;
    position: relative;
}

.tripInfoAndBooking_left {
    background-color: #fff;
}

.tripInfoAndBooking_right {
    border: 1px solid #efefef;
    padding: 0 10px;
    margin-left: 470px;
    position: absolute;
    width: 488px;
    z-index: 2;
    background-color: #fff;
}

/* 日历部分样式  */
.tabSwitchMonth {
    background-color: #fff;
}

.tabSwitchMonth li {
    background-color: #e3e3e3;
    margin-right: 2px;
    height: 25px;
    width: 74px;
    float: left;
    font-size: 14px;
    color: #868686;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.tabSwitchMonth li:hover {
    cursor: pointer;
}

.tabCurrentMonth {
    background-color: #99c9f2!important;
    color: #fff!important;
    padding-bottom: 2px;
}

/*four items*/
.changeLineList {
    background: #f8f8f8;
    border-bottom:1px solid #e1e1e1;
    border-top:1px solid #e1e1e1;
    width:978px;
    z-index: 1;
    margin-bottom: 20px;
    -webkit-transform: translateZ(0);
    position:relative;
}
.info-itemTitle {
    background: #f8f8f8;
    border-bottom:1px solid #e1e1e1;
    border-top:1px solid #e1e1e1;
    width:958px;
    margin-bottom: 20px;
    color: #404040;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding-left: 20px;
}
.changeLineList ul {
    float:left;
}
.changeLineList li {
    float:left;
    position:relative;
    height:40px;
    line-height:40px;
    font-size:14px;
    font-weight:bold;
    color:#404040;
}
.changeLineList a {
    float: left;
    display:inline-block;
    min-width:120px;
    text-align:center;
    color: #404040;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.changeLineList .currentLi, .changeLineList .currentLi:hover {
    background:#fff;
    border-right:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
    color:#f1634c;
    height:41px;
    z-index:3;
}
.changeLineList .currentLi i {
    position:absolute;
    top:-1px;
    left:0px;
    background:#f1634c;
    height:2px;
    min-width:120px;
}
.changeLineList .liLine {
    background:url(../images/store/div_line.png) no-repeat 0 0;
    width:1px;
    height:14px;
    margin:13px 0 0 0;
    z-index:2;
}
.changeLineList .currentLi {
    margin-left:-1px;
    margin-right:-1px;
}
.tripDetail{
    padding-left: 45px;
}
.tdoi_title{
    font-size: 16px;
    color: #F1634B;
    padding-left: 10px;
    background: #F7F7F7;
    height:35px;
    line-height: 35px;
    border:1px solid #F1F1F1;
    border-left: 0;
    border-right:0;
    font-weight: bold;
    margin-bottom: 30px;
}
.tdoi_subTitle {
    font-weight: bold;
    font-size: 16px;
}
.tripDetailOtherInfo li{
    line-height: 30px;
}
.tripDetailOtherInfo ul{
    padding:0 40px 30px 92px;
    word-wrap: break-word;
    word-break: break-all;
}
.tdoi_priceExplain_contain{
    background: url("../images/store/tdoi_ico1.gif") no-repeat 20px 0;
}
.tdoi_priceExplain_notcontain{
    background: url("../images/store/tdoi_ico2.gif") no-repeat 20px 0;
}
.tdoi_priceExplain_needKnow {
    background: url(../images/store/tdoi_icon_needKnow.jpg) no-repeat 20px 0;
}
.tdoi_bookingNote{
    background: url("../images/store/tdoi_ico3.gif") no-repeat 20px 0;
}
.tdoi_visaInfo {
    background: url("../images/store/tdoi_ico4.gif") no-repeat 20px 0;
}
.tdoi_otherInfo {
    background: url(../images/store/tdoi_icon_other.jpg) no-repeat 20px 0;
}
.tdoi_visaInfo,.tdoi_bookingNote,.tdoi_priceExplain_contain,.tdoi_priceExplain_notcontain,
.tdoi_otherInfo, .tdoi_priceExplain_needKnow{
    min-height: 100px;
}
.tripInfoAndBooking_right li{
    border-bottom:1px dashed #D2D2D2;
    padding:20px 10px;
}
.tripInfoAndBooking_right li:first-child{
    padding-top: 0;
}
.tripInfoAndBooking_right li div{
    margin-bottom: 20px;
}
.tripInfoAndBooking_right li div:last-child{
    margin-bottom: 0;
}
.recommendedByPM li{
    border-bottom: 0;
    padding:0;
    padding-left: 10px;
}
.departureInfo{
    width: 170px;
    height: 22px;
    vertical-align: middle;
    border:1px solid #bbbbbb;
    background: url("../images/store/orangeBgDownArrow.png") 94% 50% no-repeat;
    cursor: pointer;
}
.tripBookingContainer{
    position: relative;
    background:#F7FBFF;
    border-color: #D2E2F3 !important;
}
.departureInfoContainer{
    background:#ffffff;
    border:1px solid #e1e1e1;
}
.departureInfoContainer li{
    border-bottom: 1px solid #e1e1e1;
    padding:5px 10px;
    cursor: pointer;
}

.departureMoney{
    color: #EF4323;
}
.btn_booking,.btn_booking_clickable{
    background: #FC6C26;
    color:#ffffff;
    font-weight: bold;
    font-size: 18px;
    width:136px;
    height: 36px;
    border:2px solid #fc6c26;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: none;
    line-height: 36px;
}
.fixedBar .btn_booking{
    display: block;
}
.btn_booking.expand{
    color: #FB6B26;
    border-bottom: 0;
    background: #ffffff;
    z-index: 2;
}
.bookingContainer1{
    border:2px solid #fc6c26;
    background: #ffffff;
    position: absolute;
    top: 36px;
    right: 0;
    display: none;
    width: 300px;
}
.bookingContainer1 th{
    text-align: right;
    padding-right: 15px;
}
.btn_booking_clickable{
    display: block;
    margin:10px 0 10px 27px;
}
.bookingContainer2{
    background: #ffffff;
    border:1px solid #CACACA;
    padding:10px 20px;
}
.bookingContainer2 td{
    padding-bottom: 10px;
}

.headStaticLogo {
    margin-top: 15px;
}

#headLogo {
    cursor: pointer;
}

.wechat-text {
    color: #333;
}

.app-link-text {
    color: #333;
    font-size: 14px;
}

.app-link-text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ff7633;
}
/* 日历  */

.grayFont {
    color: #e3e3e3;
}

.sellOutLi em {
    color: #aeaeae!important;
}

.calendarTables {
    min-height: 281px;
}

.calendarTitle {
    height: 28px;
    width: 464px;
    background-color: #99caf2;
    color: #fff;
    text-align: center;
}

.calendarTitle span {
    padding: 0 25px;
    line-height: 28px;
}

.calTable {
    width: 463px;
}

.calTable td {
    text-align: center;
}

.calTable tr {
    height: 56px;
}

.calTable td {
    border: 1px solid #e3e3e3;
    color: #aeaeae;
    width: 65px;
    height: 55px;
    position: relative;
}

.calTable .multiTour {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat 0 -32px;
    position: absolute;
    left: 0;
    top: 0;
}

.calTable .disa-multiTour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -21px -32px;
}

.calTable .tourFlag {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.calTable .sureTour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat 0 0;
    display: inline-block;
    width: 46px;
    height: 14px;
}

.calTable .disa-sureTour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat 0 -16px;
    display: inline-block;
    width: 46px;
    height: 14px;
}

.calTable .tour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -48px 0;
    display: inline-block;
    width: 25px;
    height: 14px;
}

.calTable .disa-tour {
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -48px -16px;
    display: inline-block;
    width: 25px;
    height: 14px;
}

.leftNormal, .leftMore {
    font-size: 12px;
    color: #348332;
    position: absolute;
    top: 5px;
    right: 5px;
}

.leftNone {
    font-size: 12px;
    color: #aeaeae;
    position: absolute;
    top: 5px;
    right: 5px;
}

.price {
    font-size: 12px;
    color: #ff6500;
    position: absolute;
    top: 21px;
    left: 0;
}

.disa-price {
    color: #aeaeae;
}

.price b {
    font-weight: bold;
    padding: 0 1px;
}

.dateDay {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #333;
}

.disa-dateDay {
    color: #aeaeae;
}

.hasBorderTd:hover {
    background-color: #fffef4;
    /*border: 1px solid #fe9149;*/
    cursor: pointer;
}

.trBorderBottom {
    border-bottom: 1px dashed #aeaeae;
}

.priceTotal {
    font-size: 14px;
    text-align: right;
    padding-top: 10px;
}

.priceTotal span{
    padding-left: 15px!important;
}

.orderBtnOrange {
    padding-left: 20px;
}

.multiTem {
    width: 333px;
    position: relative;
    left: 1px;
}

.multiTem table{
    width: 100%;
}

.multiTem .departureInfo {
    width: 278px;
    height: 24px;
    padding-left: 10px;
    background: url("../images/store/orangeBgDownArrow.png") 97% 50% no-repeat;
}

.multiTem .orderBtnOrange {
    padding-left: 130px;
}

.multiTem .tdTopAlign {
    vertical-align: top;
}

.multiTem .tdRightAlign {
    text-align: right;
    padding-right: 0;
}

.multiTem .orangePriceText span {
    font-size: 14px;
}

ul.mtSelectItems {
    width: 290px;
    position: absolute;
    z-index: 10004;
    background-color: #fff;
}

ul.mtSelectItems li {
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    padding-left: 10px;
    cursor: pointer;
}

.mtSelectItems span {
    color: #909090;
    padding-right: 10px;
}

.mtSelectedItem span {
    padding-right: 10px;
}

.mtSelectItems .mtPrice em,
.mtSelectedItem .mtPrice em{
    color: #ff6500;
}

.mtSelectItems .mtLeftNum em,
.mtSelectedItem .mtLeftNum em {
    color: #348332;
}

.mtSelectedItem {
    position: absolute;
    top: 44px;
    left: 70px;
}

div.k-window-titleless {
    padding-top: 8px!important;
}

.ac-floatlayer {
    z-index: 20001;
}

.priceCalendarPw {
    padding: 8px 15px 20px 15px;
    position: relative;
}

#priceCalendarPw {
    width: 464px;
    float: left;
    height: 365px;
}

.pwOrderContent {
    width: 220px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

i.grayArrowLeft {
    display: inline-block;
    width: 6px;
    height: 9px;
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -7px -53px;
}

.notSelectDateBlock {
    text-align: center;
    margin-top: 170px;
}

.notSelectDateBlock span {
    font-size: 14px;
    color: #7b7b7b;
}

.normalTourBlock {
    margin-top: 20px;
    margin-left: 35px;
}

.normalTourBlock table {
    width: 100%;
}

.normalTourBlock table tr{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.boldDate {
    font-size: 20px;
}

.splitLineTr {
    height: 20px!important;
}

.multiTourBlock {
    margin-top: 20px;
    margin-left: 15px;
}

.multiTourBlock table {
    width: 100%;
}

.multiTourBlock table tr{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.multiTourBlock .mtSelectItems {
    width: 252px;
    margin-left: 0;
    font-size: 12px;
    margin-top: -4px;
    position: absolute;
    z-index: 10003;
    background-color: #fff;
}

.multiTourBlock .mtSelectItems li {
    padding: 0;
}

.multiTourBlock .mtSelectItems li span{
    padding: 0;
}

.multiTourBlock .departureInfo {
    width: 250px;
    background: url("../images/store/orangeBgDownArrow.png") 97% 50% no-repeat;
}

.multiTourBlock .mtSelectedItem {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
}

.multiTourBlock .mtSelectedItem span {
    padding-right: 0px;
}

.multiTourBlock .btn_booking_clickable {
    font-size: 18px;
}

.priceCalendarPw i.close {
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url(../images/store/travl/calendar-price-icons.png) no-repeat -16px -53px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

#scrollImg {
    height: 320px;
    z-index: 5;
    position: relative;
}

#scrollImg img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-left: 0px;
    /*display: none;
    opacity: 0;*/
}

.slider_nav {
    z-index: 10;
    position: absolute;
}

.slider_nav a {
    float: left;
    text-indent: -1000em;
    margin: 0 6px;
    border: none;
    background: url(../images/login/store/rotate.png) no-repeat 0 0;
    display: block;
    width: 11px;
    height: 12px;
    overflow: hidden;
}

.slider_nav .activeSlide {
    background-position:-11px 0;
}

.hasBorderTd {
    width: 63px;
    height: 53px;
}

.hasBorderTd:hover {
    border: 1px solid #ff904b;
}

.hasBorderTdActive {
    border: 1px solid #ff904b;
    background-color: #fff;
}

.bookingContainer2 {
    border: 1px solid #ff904b;
    position: relative;
    left: 1px;
}

.bookingContainer2 .importantTxt1 {
    font-size: 14px;
}

.orderBtnOrange .btn_booking_clickable{
    width: 98px;
    height: 31px;
    font-size: 12px;
    font-weight: normal;
    line-height: 31px;
    border: none;
    float: right;
}

.numberFont14 {
    font-size: 14px;
}

.numberFont16 {
    font-size: 16px!important;
}

.hideBorderBot {
    width: 63px;
    height: 5px;
    position: absolute;
    top: -2px;
    left: 0px;
    background: #fff;
}

.tripTopTitle {
    margin-top: 20px;
}

span.tourDate em {
    padding-right: 10px;
}

.spExplain {
    text-decoration:underline;
    margin-left:15px;
    font-size: 14px;
    color: #7c7c7c;
}

.btn_booking {
    font-size: 18px;
    font-weight: normal;
}

#priceCalendar {
    margin-top: 12px;
}

.tripDetailContextDayText {
    margin-left: 45px;
}

.tripDetailContextDayText .tripName {
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 10px 0 !important;
}

.tripDetailContextDayText strong {
    font-weight: bold;
    font-family: sans-serif;
    color: #333;
}

.tripDetailContextDayText ul.viewPoint {
    overflow: auto;
    height: 30px;
    padding-top: 2px;
    display: inline-block;
    position: relative;
    top: 8px;
    left: 5px;
    margin: 0;
}

.tripDetailContextDayText .viewPoint li {
    float: left;
    border-left: none;
}

.tripDetailContextDayText .viewPointImg {
    width: 867px;
    margin-top: 5px;
}

.tripDetailContextDayText .viewPointImg li {
    float: left;
    border-left: none;
    margin-right: 8px;
    margin-bottom: 8px;
}

.tdRightAlign {
    text-align: right;
    padding-right: 10px;
}

.tdSpanPriceRight {
    float: right;
}
