@charset "utf-8";

.tgrid tbody td div.visa-name {
    color: #666666;
    font-size: 12px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 230px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}

.information_div {
    background: #fff;
    padding: 15px 10px 15px 15px;
    margin-bottom: 10px;
    border-left: 1px solid #dfe3e5;
    border-right: 1px solid #dfe3e5;
    border-bottom: 2px solid #ccd0d2;
}
.inforFilter_tab td {
    line-height:33px;
}
.inforFilter_tab td input {
    padding:0 3px;
    height:20px;
    line-height:20px;
    width:137px;
    vertical-align: middle;
}
.inforFilter_tab .k-i-arrow-s {
    vertical-align: top;
}

.resultTable td:first-child {
    text-align: center;

}
.resultTable td .blueFonts {
    color: #06c;
}

.contentsBlock {
    margin-bottom: 10px;
    border: 1px solid #e2e5e7;
    border-bottom: 2px solid #bfc2c4;
    background-color: #fff;
}
.statusBlock {
    background-color: #fffaf6;
    border-left:9px solid #ff6608;
    padding:18px 10px 18px 15px;
}
.statusBlock h3 {
    font-size: 14px;
}
.statusBlock h3 span {
    font-size: 16px;
    color: #ff4200;
}
.panel {
    padding: 10px 20px 20px 20px;
    box-shadow: 0 8px 5px -5px #999999;
    background: #fff;
    margin: 0 auto 10px;
    position: relative;
}
.panel h4 {
    font-size: 14px;
}
.orderInfoSide {
    float: left;
    display: inline-block;
}
.orderInfoSide li {
    padding:8px 0 0 0;
    color: #454545;
}
.orderInfoSide li span {
    margin:0 0 0 15px;
    color: #666;
}
.orderInfoSide li .blueFonts {
    margin:0 0 0 10px;
    color: #0066cc;
}
.flowChart {
    float: right;
    display: inline-block;
    margin: 0 20px 0 0;

}
.flowChart li {
    float: left;
    display: inline-block;
    text-align: center;
    position: relative;
    color: #666;
}
.flowChart li .dot, .flowChart li .orange_dot {
    background:url("../images/dot_empty.png") no-repeat;
    display: inline-block;
    width:10px;
    height: 10px;
    position: absolute;
    top:-6px;
    left:42%;
}
.flowChart li .orange_dot {
    background:url("../images/dot_orange.png") no-repeat;
}
.flowChart li .line {
    height: 2px;
    background-color: #e9e9e9;
    top:-2px;
    left:35px;
    width:50px;
    display: inline-block;
    position: absolute;
}
.flowChart li span {
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    width: 60px;
}
.flowChart .currentFlow .dot {
    background:url("../images/dot_orange.png") no-repeat;
}
.flowChart .currentFlow span {
    color: #ff6608;
}
.flowChart .currentFlow .line {
    background-color: #ff6608;
}
.operButton {
    position: absolute;
    right:23px;
    top:20px;
}
.operButton a {
    color: #0066cc;
    text-decoration: none;
    margin-left: 8px;
}
.operButton a:hover {
    color: #0066cc;
    text-decoration: underline;
}
.informationTable {
    width:100%;
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    margin: 20px auto;
}
.informationTable input[readonly="readonly"] {
    border:none;
    text-align: center;
}
.informationTable input {
    color: #666;
    width:90%;
    padding:3px;
}
.informationTable td, .informationTable th {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding:5px 3px;
    font-weight: normal;
    text-align: center;
}
.informationTable td {
    color: #666;
}
.informationTable th {
    background-color: #f5f5f5;
}
.markFonts {
    margin: 10px 0;
}
.markFonts p {
    line-height: 20px;
    color: #666;
    font-weight: bold;
}
/* materail checked S */
.material_operButton {
    position: absolute;
    right: 18px;
    top:12px;
}
.visitorStyleUl {
}
.visitorStyleUl li {
    display: inline-block;
    float: left;
    width:155px;
    text-align: center;
    border:1px solid #ddd;
    border-left:none;
    color: #666;
    height: 38px;
    line-height: 38px;
    position: relative;
}
.visitorStyleUl li:hover {
    color: #41aee1;
    border-color: #41aee1;
    cursor: pointer;
}
.visitorStyleUl li.currentLi {
    color: #fefefe;
    border-color: #41aee1;
    background-color: #41aee1;
}
.visitorStyleUl li:first-child, .visitorStyleUl li:last-child {
    padding-left:1px;
    padding-right: 1px;
}
.visitorStyleUl li .lineLeft {
    border-left:1px solid #ddd;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
}
.visitorStyleUl li:hover .lineLeft {
    border-left:1px solid #41aee1;
}
.materialInfo {
    margin: 20px 0 0 0;
}
.material_infoDiv .tgrid th, .material_infoDiv .tgrid td {
    color: #333;
    padding:3px 8px 3px 25px;
}
.material_infoDiv .tgrid th {
    padding:0 0 0 25px;
}
.material_infoDiv td input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 8px;
}
.material_infoDiv td input[type="text"] {
    vertical-align: middle;
    padding:3px;
}
.material_infoDiv .ellipsisFonts {
    width:260px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}
.operation a {
    vertical-align: middle;
    width: 27px;
    height: 27px;
}
.operation .right {
    background: url(../images/store/operation.png) no-repeat 0 0;
    width: 18px;
    height: 13px;
    margin-right: 25px;
}
.operation .right:hover, .operation .right_checked {
    background: url(../images/operation.png) no-repeat -20px 0;
}
.operation .wrong {
    background: url(../images/store/operation.png) no-repeat 0 -17px;
    width:13px;
    height: 14px;
}
.operation .wrong:hover, .operation .wrong_checked {
    background: url(../images/store/operation.png) no-repeat -20px -17px;
}
.operation .right, .operation .wrong {
    vertical-align: middle;
    display: inline-block;
}
/* 弹窗 */
.popWindowDiv {
    padding:10px;
}
.materialTitle {
    margin: 0 auto 15px auto;
    text-align: center;
    font-size: 14px;
    color: #2c2c2c;
}
.information_add {
    margin: 0 auto;
    text-align: center;
}
.information_add textarea {
    border:1px solid #d4d4d4;
    height: 78px;
    width:384px;
    padding:3px;
    text-align: left;
}

.giveNotice {
    font-weight: normal;
    font-size: 12px;
    color: #0066cc;
    margin: 0 0 0 15px;
}
.giveNotice input {
    margin-right: 5px;
}
/* materail checked E */


/* 新建材料 */
.redFont{
    color:#f00;
}
.noweight{
    font-weight:normal;
}
.newinfo_tab{
    margin-left:15px;
    margin-top:10px;
}
.newinfo_tab th{
    height:32px;
    background:#e4e4e4;
    border-right:1px solid #f6f6f6;
}
.newinfo_tab td .certificate input{
    width:inherit;
    vertical-align:middle;
}
.newinfo_tab td{
    padding-left:16px;
}
.newinfo_tab td{
    height:36px;
    border: 1px solid #e0e0e0;
}
.add_table td{
    border:none;
    padding:0;
}
.add_table td input,.add_table td textarea{
      padding: 0 3px;
  height: 20px;
  line-height: 20px;
  width: 137px;
  vertical-align: middle;
}
.add_table td textarea{
    width:380px;
    height:65px;
}
.add_table th{
    border:none;
    padding:0;
    background:none;
    font-weight:normal;
    text-align:right;
    padding-right:8px;
}
.certificate_view{
    line-height:22px;
    padding-bottom:10px;
}
.certificate_name{
    line-height:36px;
}
.add{
    padding-bottom:10px;
}
.savebtn{
    margin-top:20px;
}
.opera{
    text-align:center;
    vertical-align:top;
    line-height:36px;
}
.opera a{
    color:#06c;
    margin-right:5px;
}
.opera a:hover{
    text-decoration:underline;
}
.viewbtn{
    width:35px;
    text-align:left;
    display:inline-block;
    background: url(../images/arrowdown.png) no-repeat right center;
}
.viewbtn_down{
    background: url(../images/arrowup.png) no-repeat right center;
}
.sale-rule-remind {
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
}
.sale-rule-remind-button {
  text-align: center;
  margin-bottom:20px;
}
.sale-rule-remind-button a {
  margin-right: 10px;
    color: #0088cc;
  text-decoration: none;
}
.addcertificate{
    text-align:right;
    padding:12px 10px;
}
.addcertificate a{
    color:#0088cc;
}
.addcertificate a:hover{
    text-decoration:underline;
}
.upload{
    display:inline-block;
    position:relative;
}
.newinfo_tab .upload input{
    width:68px;
    height:25px;
    overflow:hidden;
}
.upload:hover .adaptiveButton.small .left {
  background-position: 0 -81px;
}
.upload:hover .adaptiveButton.small .center {
  background-position: 0 -108px;
}
.upload:hover .adaptiveButton.small .right {
  background-position: 0 -135px;
}
.upload .k-upload-button{
    width:68px;
    height:25px;
    background:none;
    cursor:pointer;
}
.upload .k-dropzone{
    width:68px;
    height:25px;
}
.upload .k-upload{
    width:68px;
    height:25px;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    cursor:pointer;
}
.upload .k-upload-button input{
    font-size:0!important;

}
.newinfo_tab .upload input {
    width: 68px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    background: transparent;
    opacity: 0;
    top: 2px;
    left: 1px;
}
.reviewuploadedFile {
    width: 245px;
    height: 30px;
    background: #f7fbff;
    border: 1px solid #d9e7f3;
    padding-left: 5px;
    line-height: 30px;
    cursor: pointer;
}
.uploadedFileIconsmall2{
    background: url(../images/store/uploadedFileIconsmall2.png) no-repeat;
    width: 17px;
    height: 15px;
    display: inline-block;
    margin-right: 2px;
    margin-top: -3px;
    vertical-align: middle;
}
.deleteuploaded {
    width: 15px;
    height: 15px;
    background: url(../images/store/deletebtn.png) no-repeat;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer;
}
.reviewuploadedFile span {
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    width: 155px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
}
