@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
span{ margin:0; padding:0;}
img,input{ border:0px;}
a{ text-decoration:none; color:#606060;}
ul li{ list-style-type:none;}
body{ width:100%; height:auto; font-family:Arial, Helvetica, sans-serif,微软雅黑; font-size:12px; color:#454545; background-color:#eaeef0;}

.kong_div{ width:975px; height:225px; border:1px solid #666; margin-top:10px;}
.kong_tab{ width:975px; height:200px; margin-top:10px;}
.kong_tab td{ padding-left:15px; line-height:25px;}
.kong_tab input{ border:1px solid #999; width:100px; height:20px; line-height:20px; font-size:12px; padding-left:5px;}
.kong_tab select{ font-size:12px; width:110px;}
.hong{ width:60px;}
.faburen_input{ width:150px;}
.wangfan{ width:190px;}
.wangfan_span{ width:60px; display:block; float:left;}
.wangfan_input{ width:90px; float:left; display:block;}
.wangfan_span_1{ width:12px; float:left; display:block;}
.gongyingshang{ width:170px;}
.gongyingshang span{ width:42px; display:block; float:left;}
.gongyingshang select{ width:100px; float:left;}
.bendi{ width:73px;}
.piaozheng{ width:360px; height:33px; line-height:33px;}
.piaozheng div{ width:45px; float:left;}
.piaozheng input{ width:15px; height:33px; line-height:33px; float:left; border:0px;}
.piaozheng span{ height:33px; line-height:33px; display:block;}
.zccx_btn{ width:101px; height:27px; text-align:center; background:url(../images/chaxun_a_bg.png) no-repeat; display:block; margin-right:10px;}
a.zccx_btn:visited{ background:url(../images/chaxun_a_bg.png) no-repeat;}
a.zccx_btn:hover{ background:url(../images/chaxun_a_bg_1.png) no-repeat;}