/*  真旅行后台管理  产品管理样式  */
@charset "utf-8";

/* 产品列表 S */
.whiteBg{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}
.whiteBg .searchList{
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}
.searchList li{
    float: left;
}
.searchList .searchTab{
    color: #666666;
}
.searchList .searchTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.searchList .searchTab td{
    padding: 5px 3px;
}
.searchList .searchTab input[type="text"],
.searchList .searchTab input[type="tel"]{
    width: 180px;
}
.searchTab .lightBlueBtn{
    background-color: #45c8dc;
    display: inline-block;
    min-width: 80px;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
}
.searchTab .lightBlueBtn:hover{
    background-color: #2ebad0;
    color: #fff;
}
.searchTab .searchIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../tourGuidePlatform/images/commonIcon.png") no-repeat -15px -19px;
    margin-right: 10px;
    vertical-align: middle;
}

.searchList .searchTab .fitToTr td, .searchList .searchTab .fitToTr th {
    padding-top:0px;
}
.productTab th,
.productTab td {
    color: #666;
}
.commonTab {
    width:100%;
}
.commonTab td,
.commonTab th{
    border: 1px solid #eaeaea;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: normal;
}
.commonTab thead{
    background-color: #f5f5f5;
}
.commonTab tbody tr:hover{
    background-color: #eefaff;
}
.commonTab tbody a{
    margin-right: 5px;
}
.commonTab .greenFontsLink{
    color: #3db99a;
}
.commonTab .greenFontsLink:hover{
    color: #3db99a;
    text-decoration: underline;
}
.commonTab .grayFontsLink{
    color: #666666;
}
.commonTab .grayFontsLink:hover{
    color: #666666;
    text-decoration: underline;
}
.commonTab .fcf78c68 {
    color: #f78c68;
}
.commonTab .fcaaa {
    color: #aaa;
}
.commonTab .fs14 {
    font-size: 14px;
}
/* 产品列表 E */

.set-price-container {
    border: 1px solid #9bc9e7;
    background-color: #fff;
    font-size: 14px;
    padding-left: 10px;
    min-width: 320px;
}

.set-price-container .sub-title {
    height: 28px;
    line-height: 28px;
    background-color: #eaeaea;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 3px -10px;
    padding-left: 10px;
}

.set-price-container table th {
    font-weight: bold;
}

.set-price-container table th,
.set-price-container table td {
    height: 30px;
    line-height: 30px;
    color: #666;
}

.set-price-container .pro-type-title {
    color: #666;
    font-weight: bold;
}

.set-price-container .pro-type-radio span {
    font-size: 14px;
}

.set-price-container .stock-table td {
    height: 40px;
    padding-left: 10px;
}

.set-price-container .stock-table td:first-child {
    text-align: right;
    padding-left: 0;
}

.set-price-container .stock-table input[type='text'] {
    height: 30px;
    line-height: 30px;
}

.set-price-container .stock-table .checkboxInfo {
    margin: 0;
}

.set-price-container .stock-table .gray-font {
    color: #999999;
}

.set-price-container .order-condition {
    margin: 10px 0 10px 30px;
}

.set-price-container .order-condition input[type='text'] {
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.set-price-container .oper-btn {
    margin: 10px 0;
    text-align: center;
}

.set-price-container .oper-btn .save {
    background-color: #f8864e;
    margin-right: 10px;
}

.set-price-container .oper-btn .cancel {
    background-color: #bbb;
}

.set-price-container input[readonly='readonly'],
.set-price-container input[readonly='readonly']:focus,
.set-price-container input[readonly='readonly']:hover {
    border: none!important;
}

.set-price-container .show-date {
    color: #666;
    font-size: 18px;
    padding: 18px 0;
    text-align: center;
}

.set-price-container .date-range {
    padding-top: 10px;
}

.set-price-container .date-range .input-date-range {
    margin: 5px 0;
}

.set-price-container .date-range .checkboxInfo {
    margin-right: 0;
}

/*  价格日历   end  */

/* 价格双日历--日历样式 start */

.double-price-calendar {
    margin: 10px 0;
}

.double-price-calendar .left-calendar {
    float: left;
}

.double-price-calendar .right-calendar {
    float: left;
}

.double-price-calendar .datepicker-inline {
    padding: 0;
    background-color: #fff;
    width: auto;
}

.double-price-calendar .datepicker-inline thead tr:first-child {
    display: none;
}

.double-price-calendar .datepicker-inline thead .dow:first-child {
    border-left: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline thead .dow:last-child {
    border-right: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline thead .dow {
    color: #666;
    background-color: #e5f3fb;
    font-size: 14px;
    height: 40px;
    border-top: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0!important;
}

.double-price-calendar .datepicker-inline td:hover {
    background-color: #fff!important;
}

.double-price-calendar .datepicker-inline tr:last-child td {
    border-bottom: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td:first-child {
    border-left: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td:last-child {
    border-right: 1px solid #1986c5;
}

.double-price-calendar .right-calendar .datepicker-inline td:first-child {
    border-left: none;
}

.double-price-calendar .right-calendar .datepicker-inline thead .dow:first-child {
    border-left: none;
}

.double-price-calendar .datepicker-inline td .tdCont {
    width: 64px;
    height: 49px;
    position: relative;
    border: 1px solid #fff; 
}

.double-price-calendar .datepicker-inline td .tdCont.active,
.double-price-calendar .datepicker-inline td .tdCont:hover {
    background-color: #f7f8ff;
    border-color: #6867ad;
}

.double-price-calendar .datepicker-inline td .tdCont.disabled:hover {
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}

.double-price-calendar .datepicker-inline td .tdCont .date {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #434343;
}

.double-price-calendar .datepicker-inline td .tdCont .price {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-family: Arial;
    text-align: right;
    line-height: 14px;
}

.double-price-calendar .datepicker-inline td .tdCont .adultPrice,
.double-price-calendar .datepicker-inline td .tdCont .hotelPrice {
    color: #ff4200;
    height: 14px;
}

.double-price-calendar .datepicker-inline td .tdCont .childPrice {
    color: #008736;
    height: 14px;
}

.double-price-calendar .calendar-title {
    margin: 10px 0;
    padding: 0 5px;
}

.double-price-calendar .calendar-title .cal-month {
    width: 395px;
    color: #666;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

.double-price-calendar .calendar-title .right-calendar-title {
    margin-left: 50px;
}

.double-price-calendar .calendar-title .prev {
    background: url(../../tourGuidePlatform/images/datepicker-change-icon.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.double-price-calendar .calendar-title .next {
    background: url(../../tourGuidePlatform/images/datepicker-change-icon.png) no-repeat -26px 0;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* 价格双日历--日历样式 end */


/*  领队审核资料 start  */
.leftMenu{
    float: left;
    margin: 0 10px;
    width: 20%;
}
.leftMenu .menuChange{
    background-color: #fff;
    border: 1px solid #e3ecf0;
    width: 100%;
}
.leftMenu .menuChange li{
    text-align: center;
    position: relative;
}
.menuChange li a{
    color: #666;
    display: block;
    padding: 12px 10px;
}
.menuChange li a:hover{
    color: #59aad7;
    text-decoration: none;
}
.menuChange li.current a{
    color: #fff;
    background-color: #59aad7;
}
.menuChange li.firstLi{
    border-bottom: 1px solid #e3ecf0;
}
.menuChange li.firstLi a{
    color: #59aad7;
}
.menuChange li.firstLi a:hover{
    color: #59aad7;
}
.menuChange li.firstLi.current a{
    background-color: #fff;
    color: #59aad7;
}
.commonIcon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.firstLi .returnIcon{
    width: 20px;
    height: 14px;
    background: url("../../tourGuidePlatform/images/commonIcon.png") no-repeat 0 0;
}
.menuChange li.current .rightArrow{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 11px;
    height: 18px;
    background: url("../../tourGuidePlatform/images/commonIcon.png") no-repeat 0 -20px;
    position: absolute;
    right: 5px;
    top: 30%;
}
.rightModelContent{
    float: left;
    background-color: #fff;
    border: 1px solid #e3ecf0;
    color: #666666;
    width: 77.5%;
}
.rightModelContent .titleFonts{
    font-size: 18px;
    color: #434343;
    padding: 13px 40px 0;
    margin: 0;
}
.lightGrayLine{
    margin: 15px;
    height: 1px;
    border-bottom: 3px solid #f1f1f1;
}
.padding20{
    padding: 20px;
}
.padding20 .lightGrayLine{
    margin: 15px 0;
}
.returnFonts{
    color: #59aad7;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 15px 0;
}
.returnFonts:hover{
    color: #59aad7;
    text-decoration: none;
}
.returnFonts .returnIcon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 21px;
    height: 21px;
    background: url("../../tourGuidePlatform/images/commonIcon.png") no-repeat -60px -17px;
}
.rightModelContent .titleContent{
    margin: 0 0 15px;
}
.rightModelContent .titleFonts18{
    font-size: 18px;
    color: #434343;
    margin: 0;
    float: left;
}
.rightModelContent .returnTravelerList{
    margin-right: 5%;
    color: #59aad7;
    font-size: 16px;
    float: right;
}
.rightModelContent .returnTravelerList:hover{
    color: #59aad7;
    text-decoration: underline;
}
.certificatedInfo{
    position: relative;
}
.dataTab td{
    padding: 7px 5px;
}
.dataTab .pictureList{
    display: inline-block;
    margin-right: 60px;
}
.pictureList .thisPicture{
    display: inline-block;
    margin-top: 12px;
    position: relative;
}
.pictureList .thisPicture img{
    display: inline-block;
    width: auto;
    height: 155px;
    padding: 10px;
    background-color: #f0f0f0;
}
.thisPicture .magnifyingGlassIcon{
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("../../tourGuidePlatform/images/magnifyingGlassIcon.png") no-repeat;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.thisPicture .magnifyingGlassImg{
    padding: 30px;
    background: rgba(0,0,0,0.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffff,endColorstr=#7Fffffff);
    border: 1px solid #b6b6b6;
    text-align: right;
    position: absolute;
    left: 0;
    top: -90%;
    z-index: 2;
}
.thisPicture .magnifyingGlassImg img{
    height: auto;
    max-height: 700px;
    background: none;
}
.magnifyingGlassImg .close{
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("../../tourGuidePlatform/images/commonIcon.png") no-repeat 0 -184px;
    vertical-align: middle;
    margin: -25px -25px;
}
.magnifyingGlassImg .close:hover{
    background-position: -37px -184px;
}
.hide{
    display: none;
}
.seeDetails {
    font-size: 16px;
    color: #3db99a;
    cursor: pointer;
    margin: 20px 0 20px 480px;
}
.icon-arrow-down,
.icon-arrow-up{
    display: inline-block;
    width: 16px;
    height: 7px;
    vertical-align: middle;
    margin-left: 5px;
    background: url("../../tourGuidePlatform/images/commonIcon.png") no-repeat;
}
.icon-arrow-down{
    background-position: -57px -133px;
}
.icon-arrow-up{
    background-position: -80px -133px;
}
.seeDetailsContent{
    display: none;
    background-color: #f5f5f5;
    padding: 20px;
    position: relative;
}
.seeDetailsContent tbody th{
    font-weight: normal;
    padding: 5px;
}
.seeDetailsContent tbody td{
    padding: 5px;
}
.seeDetailsContent .verticalTop{
    vertical-align: top;
}
.seeDetailsContent .detailPicture{
    width: 119px;
    height: 119px;
    position: absolute;
    left: 55%;
    top: 20px;
}
.certificatedInfo .dataBtn{
    margin: 20px 0 20px -150px;
    text-align: center;
}
#noPassWindow .textareaStyle{
    width: 450px;
    height: 130px;
    padding: 5px 10px;
    resize: none;
}
.btnSize{
    font-size:16px;
    min-width:85px;
    height:40px;
    line-height:40px;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btnSize.auditBtn{
    color:#24b48f;
    background-color:#dcf8f1;
}
.btnSize.noSuccessBtn{
    color:#f65253;
    background-color:#fff3f3;
}
.btnSize.noAuditBtn{
    color:#00bedc;
    background-color:#e4fbff;
}
.certificatedInfo .positionStatus{
    display: inline-block;
    border: 1px solid #d4ecf7;
    padding: 10px;
    position: absolute;
    right: 20%;
    top: 1%;
}
.positionStatus tbody th{
    font-weight: normal;
    text-align: right;
    padding: 5px;
}
.positionStatus tbody td{
    padding: 5px;
}
/*  领队审核资料 end  */


/*  会员详情 S */
.titleBtn{
    float: right;    
}
.titleBtn .commonButton,
.titleBtn .grayStatusFonts{
    font-size: 14px;
    width: 80px;
    min-width: 80px;
    height: 30px;
    line-height: 30px;
}
.titleBtn .grayStatusFonts{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: #bbb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.titleContent.borderBottom{
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}
.titleContent.borderBottom:first-child{
    margin-top: 0;
}
.borderBottom .titleFonts18{
    line-height: 30px;
}
.seeDetailsContent.changeTabStyle{
    background: none;
    display: block;
    padding-top: 0;
}
.totalGrade{
    margin: 10px 0;
}
.totalGrade label{
    margin-right: 50px;
}
.totalGrade .totalFonts{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #d4ecf7;
}
.seeAuctionCalendar{
    display: inline-block;
    margin-left: 30px;    
}
/*  会员详情 E */

/*  旅行社会员详情 S */
.TabTopTotalFonts{
    margin: 10px 0;
    color: #666;
}
.TabTopTotalFonts label{
    margin-right: 50px;
}
.color999{
    color: #999;
}
.secondLevelTitle{
    font-size: 16px;
    margin: 10px 0;
}
.briefIntroduction{
    font-family: "microsoft yahei";
    font-size: 16px;
    white-space: pre-wrap;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    color: #666;
    line-height: 25px;
    text-indent: 30px;
}
.commonTab .unfoldTr,
.receiveUnfoldModel,
.makeUnfoldModel{
    display: none;
}
.seeTrMore,
.seeReceiveMore,
.seeMakeMore{
    font-size: 16px;
    color: #3db99a;
    cursor: pointer;
    text-align: right;
    margin: 15px 0;
}
.evaluateModel{
    margin: 10px 0;
    padding: 20px 20px 20px 10px;
    border: 1px solid #dadada;
    line-height: 23px;
}
.evaluateModel tbody th{
    font-weight: normal;
    text-align: center;
    padding: 7px 30px 7px 0;
    vertical-align: top;
}
.evaluateModel tbody td{
    padding: 7px 0 7px 5px;
    vertical-align: top;
}
.evaluateModel .textAlignLeft{
    text-align: left;
    padding-left: 12px;
}
.evaluateModel .evaluateImg{
    display: block;
    margin-bottom: 10px;
}
.evaluateImg img{
    width: 160px;
    height: 128px;
}
.lightBlueLabel{
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px 5px 0;
    height: 28px;
    line-height: 28px;
    min-width: 65px;
    text-align: center;
    background-color: #e5f6fe;
    color: #3287d6;
}
.verticalTop{
    vertical-align: top;
}

/* 星级样式 S*/
.commonStarLevelIcon{
    display: inline-block;
    width: 121px;
    height: 20px;
    vertical-align: middle;
    line-height: 1;
    background: url("../../tourGuidePlatform/images/starLevelIcon.png") no-repeat;
}
.starLevelIcon{
    background-position: 0 -25px;
}
.starLevelIcon span{
    margin-top: 0;
    background-position: 0 0;
}
.commonStarLevelIcon.starLevel-1 span{
    width: 21px;
}
.commonStarLevelIcon.starLevel-2 span{
    width: 46px;
}
.commonStarLevelIcon.starLevel-3 span{
    width: 71px;
}
.commonStarLevelIcon.starLevel-4 span{
    width: 96px;
}
.commonStarLevelIcon.starLevel-5 span{
    width: 121px;
}
.commonStarLevelIcon.starLevel-0-5 span{
    width: 11px;
}
.commonStarLevelIcon.starLevel-1-5 span{
    width: 36px;
}
.commonStarLevelIcon.starLevel-2-5 span{
    width: 61px;
}
.commonStarLevelIcon.starLevel-3-5 span{
    width: 86px;
}
.commonStarLevelIcon.starLevel-4-5 span{
    width: 111px;
}
/* 星级样式 E*/

.main-container{
    position: relative;
}
.main-container .fixBarShadow{
    display: inline;
}
.leftMenu.positionLeft{
    float: inherit;
    position: absolute;
    top: 0;
}
.rightMargin{
    margin-left: 22%;
}
.menuChange.fixedBar{
    width: 20%;
}
.marginLeft15{
    margin-left: 15px;
}
.marginBottom15{
    margin-bottom: 15px;
}
.dataTab pre{
    font-family: "microsoft yahei";
    background-color: inherit;
    color: #666;
    font-size: 16px;
    border: none;
    padding: 0;
    line-height: 25px;
    white-space: pre-wrap;
}
.logDetailWin{
    font-size: 14px;
    color: #666;
}
.logDetailWin tbody th{
    text-align: left;
    font-weight: normal;
    padding: 5px 0;
}
.logDetailWin tbody td{
    padding: 5px;
}
.logTitle{
    font-size: 14px;
    margin: 10px 0;
}
.logContent{
    position: relative;
}
.logContent .commonTab{
    font-size: 14px;
}
.logTab{
    max-height: 250px;
    overflow-y: auto;
}
.logStatus{
    position: absolute;
    top: -1%;
    right: 3%;
}
.statusWindow{
    font-size: 16px;
    color: #666;
}
.contentTitle{
    margin: 15px 0;
}
.hangUpText{
    width: 345px;
    height: 80px;
    padding: 5px;
    resize: none;
}
/*  旅行社会员详情 E */