/*  真旅行后台管理  产品管理样式  */
@charset "utf-8";

/* 产品列表 S */
.whiteBg{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}
.whiteBg .searchList{
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}
.searchList li{
    float: left;
}
.searchList .searchTab{
    color: #666666;
}
.searchList .searchTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.searchList .searchTab td{
    padding: 5px 3px;
}
.searchList .searchTab input[type="text"],
.searchList .searchTab input[type="tel"]{
    width: 180px;
}
.searchTab .lightBlueBtn{
    background-color: #45c8dc;
    display: inline-block;
    min-width: 80px;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
}
.searchTab .lightBlueBtn:hover{
    background-color: #2ebad0;
    color: #fff;
}
.searchTab .searchIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../tourGuidePlatform/images/commonIcon.png") no-repeat -15px -19px;
    margin-right: 10px;
    vertical-align: middle;
}

.searchList .searchTab .fitToTr td, .searchList .searchTab .fitToTr th {
    padding-top:0px;
}
.productTab th,
.productTab td {
    color: #666;
}
.commonTab {
    width:100%;
}
.commonTab td,
.commonTab th{
    border: 1px solid #eaeaea;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: normal;
}
.commonTab thead{
    background-color: #f5f5f5;
}
.commonTab tbody tr:hover{
    background-color: #eefaff;
}
.commonTab tbody a{
    margin-right: 5px;
}
.commonTab .greenFontsLink{
    color: #3db99a;
}
.commonTab .greenFontsLink:hover{
    color: #3db99a;
    text-decoration: underline;
}
.commonTab .grayFontsLink{
    color: #666666;
}
.commonTab .grayFontsLink:hover{
    color: #666666;
    text-decoration: underline;
}
.commonTab .fcf78c68 {
    color: #f78c68;
}
.commonTab .fcaaa {
    color: #aaa;
}
.commonTab .fs14 {
    font-size: 14px;
}
/* 产品列表 E */

.set-price-container {
    border: 1px solid #9bc9e7;
    background-color: #fff;
    font-size: 14px;
    padding-left: 10px;
    min-width: 320px;
}

.set-price-container .sub-title {
    height: 28px;
    line-height: 28px;
    background-color: #eaeaea;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 3px -10px;
    padding-left: 10px;
}

.set-price-container table th {
    font-weight: bold;
}

.set-price-container table th,
.set-price-container table td {
    height: 30px;
    line-height: 30px;
    color: #666;
}

.set-price-container .pro-type-title {
    color: #666;
    font-weight: bold;
}

.set-price-container .pro-type-radio span {
    font-size: 14px;
}

.set-price-container .stock-table td {
    height: 40px;
    padding-left: 10px;
}

.set-price-container .stock-table td:first-child {
    text-align: right;
    padding-left: 0;
}

.set-price-container .stock-table input[type='text'] {
    height: 30px;
    line-height: 30px;
}

.set-price-container .stock-table .checkboxInfo {
    margin: 0;
}

.set-price-container .stock-table .gray-font {
    color: #999999;
}

.set-price-container .order-condition {
    margin: 10px 0 10px 30px;
}

.set-price-container .order-condition input[type='text'] {
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.set-price-container .oper-btn {
    margin: 10px 0;
    text-align: center;
}

.set-price-container .oper-btn .save {
    background-color: #f8864e;
    margin-right: 10px;
}

.set-price-container .oper-btn .cancel {
    background-color: #bbb;
}

.set-price-container input[readonly='readonly'],
.set-price-container input[readonly='readonly']:focus,
.set-price-container input[readonly='readonly']:hover {
    border: none!important;
}

.set-price-container .show-date {
    color: #666;
    font-size: 18px;
    padding: 18px 0;
    text-align: center;
}

.set-price-container .date-range {
    padding-top: 10px;
}

.set-price-container .date-range .input-date-range {
    margin: 5px 0;
}

.set-price-container .date-range .checkboxInfo {
    margin-right: 0;
}

/*  价格日历   end  */

/* 价格双日历--日历样式 start */

.double-price-calendar {
    margin: 10px 0;
}

.double-price-calendar .left-calendar {
    float: left;
}

.double-price-calendar .right-calendar {
    float: left;
}

.double-price-calendar .datepicker-inline {
    padding: 0;
    background-color: #fff;
    width: auto;
}

.double-price-calendar .datepicker-inline thead tr:first-child {
    display: none;
}

.double-price-calendar .datepicker-inline thead .dow:first-child {
    border-left: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline thead .dow:last-child {
    border-right: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline thead .dow {
    color: #666;
    background-color: #e5f3fb;
    font-size: 14px;
    height: 40px;
    border-top: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0!important;
}

.double-price-calendar .datepicker-inline td:hover {
    background-color: #fff!important;
}

.double-price-calendar .datepicker-inline tr:last-child td {
    border-bottom: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td:first-child {
    border-left: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td:last-child {
    border-right: 1px solid #1986c5;
}

.double-price-calendar .right-calendar .datepicker-inline td:first-child {
    border-left: none;
}

.double-price-calendar .right-calendar .datepicker-inline thead .dow:first-child {
    border-left: none;
}

.double-price-calendar .datepicker-inline td .tdCont {
    width: 64px;
    height: 49px;
    position: relative;
    border: 1px solid #fff; 
}

.double-price-calendar .datepicker-inline td .tdCont.active,
.double-price-calendar .datepicker-inline td .tdCont:hover {
    background-color: #f7f8ff;
    border-color: #6867ad;
}

.double-price-calendar .datepicker-inline td .tdCont.disabled:hover {
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}

.double-price-calendar .datepicker-inline td .tdCont .date {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #434343;
}

.double-price-calendar .datepicker-inline td .tdCont .price {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-family: Arial;
    text-align: right;
    line-height: 14px;
}

.double-price-calendar .datepicker-inline td .tdCont .adultPrice,
.double-price-calendar .datepicker-inline td .tdCont .hotelPrice {
    color: #ff4200;
    height: 14px;
}

.double-price-calendar .datepicker-inline td .tdCont .childPrice {
    color: #008736;
    height: 14px;
}

.double-price-calendar .calendar-title {
    margin: 10px 0;
    padding: 0 5px;
}

.double-price-calendar .calendar-title .cal-month {
    width: 395px;
    color: #666;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

.double-price-calendar .calendar-title .right-calendar-title {
    margin-left: 50px;
}

.double-price-calendar .calendar-title .prev {
    background: url(../../tourGuidePlatform/images/datepicker-change-icon.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.double-price-calendar .calendar-title .next {
    background: url(../../tourGuidePlatform/images/datepicker-change-icon.png) no-repeat -26px 0;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* 价格双日历--日历样式 end */
