@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?21966113');
  src: url('../font/fontello.eot?21966113#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?21966113') format('woff'),
       url('../font/fontello.ttf?21966113') format('truetype'),
       url('../font/fontello.svg?21966113#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21966113#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrow-double-up:before { content: '\e822'; } /* '' */
.icon-attention:before { content: '\e82f'; } /* '' */
.icon-spin2:before { content: '\e827'; } /* '' */
.icon-spin3:before { content: '\e826'; } /* '' */
.icon-spin4:before { content: '\e825'; } /* '' */
.icon-spin6:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-help-circled:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e812'; } /* '' */
.icon-zoom-in:before { content: '\e810'; } /* '' */
.icon-zoom-out:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-angle-double-left:before { content: '\e80c'; } /* '' */
.icon-angle-double-right:before { content: '\e80d'; } /* '' */
.icon-arrow-double-down:before { content: '\e823'; } /* '' */
.icon-angle-double-down:before { content: '\e80f'; } /* '' */
.icon-check:before { content: '\e832'; } /* '' */
.icon-cancel-4:before { content: '\e833'; } /* '' */
.icon-help-circled-3:before { content: '\e830'; } /* '' */
.icon-info-circled-3:before { content: '\e831'; } /* '' */
.icon-ok-1:before { content: '\e816'; } /* '' */
.icon-ok-circle:before { content: '\e818'; } /* '' */
.icon-cancel-1:before { content: '\e817'; } /* '' */
.icon-cancel-circle:before { content: '\e819'; } /* '' */
.icon-ok-2:before { content: '\e81a'; } /* '' */
.icon-cancel-2:before { content: '\e81b'; } /* '' */
.icon-ok-3:before { content: '\e81c'; } /* '' */
.icon-ok-circled-1:before { content: '\e81e'; } /* '' */
.icon-cancel-3:before { content: '\e81d'; } /* '' */
.icon-cancel-circled-1:before { content: '\e81f'; } /* '' */
.icon-help-circled-1:before { content: '\e820'; } /* '' */
.icon-info-circled-1:before { content: '\e821'; } /* '' */
.icon-help-circled-2:before { content: '\e829'; } /* '' */
.icon-info-circled-2:before { content: '\e82a'; } /* '' */
.icon-phone-circled:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e834'; } /* '' */
.icon-ok-circle-1:before { content: '\e82b'; } /* '' */
.icon-cancel-circle-1:before { content: '\e82c'; } /* '' */
.icon-plus-circle:before { content: '\e82d'; } /* '' */
.icon-minus-circle:before { content: '\e82e'; } /* '' */
.icon-angle-double-up:before { content: '\e80e'; } /* '' */