#passengerInfo{
	width: 982px;
	height: 802px;
	background-color: #ffffff;
	margin: 50px auto 0px;
	border-bottom: 3px solid #cccfd1;
}

#passengerInfo-cell{
	width: 946px;
	height: 100%;
	margin: 0 auto;
}

#passengerInfo-cell .passengerName{
	width: 200px;
	height: 50px;
	float: left;
	margin-top: 20px;
}

#passengerInfo-cell .passengerName span{
	color: #333333;
	font-size: 14px;
	font-weight: bolder;
}

#passengerInfo-cell .passengerName em{
	color: #999999;
	font-size: 12px;
}

#passengerInfo-cell .addDeckBtn{
	width: 90px;
	height: 25px;
	background-color: #43a2d7;
	float: right;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	color: #ffffff;
	margin-top: 20px;
}

#passengerInfo-cell .storey table{
	width: 100%;
	height: 50px;
	border: 1px solid #b5dcfe; 
	background-color: #f0fdff;
	line-height: 50px;
	margin-bottom: 10px;
}

#passengerInfo-cell .storey .storeyImg{
	background: url(../../images/passengerLiner/storey.png) no-repeat left center;
	width: 32px;
	height: 22px;
}

#passengerInfo-cell .storey .storey1{
	color: #26aaf6;
	font-size: 14px;
	font-weight: bold;
}

#passengerInfo-cell .storey .storey2{
	color: #666666;
	font-size: 12px;
}

#passengerInfo-cell .storey .storey3{
	color: #0066cc;
	font-size: 12px;
	cursor: pointer;
}

.content{
	width: 100%;
	height: 2718px;
	overflow: hidden;
	/*padding-top: 1px;*/
}

#deckTable{
	width: 942px;
	height: 2678px;
	margin: 20px;
}

#deckTable table td{
	border: 1px solid #cccccc;
	text-indent: 20px;
	font-size: 12px;
	color: #333333;
}

#deckTable .deckTable-row3 div{
	position: relative;
	top: -20px;
}

#deckTable .deckTable-row4 div{
	position: relative;
	top: -1200px;
}

#deckTable .deckTable-row1{
	height: 48px;
}

#deckTable .deckTable-row2{
	height: 48px;
}

#deckTable .deckTable-row3{
	height: 98px;
}

#deckTable .deckTable-row4{
	height: 2466px;
}

#deckTable .deckTable-rowbg{
	background-color: #f3f3f3;
	color: #666666;
	font-size: 12px;
}

#deckTable .deckImg{
	background: url(../../images/passengerLiner/deck.png) no-repeat 20% center;
	width: 315px;
	height: 2371px;
}

.deckTable-backgroundColor{
	background-color: #ffffff;
}

.banner-fontStyle{
	font-size: 14px;
	color: #676767;
	font-weight: bold;
	line-height: 34px;
	text-indent: 14px;
}








