@charset "utf-8";

html,body{
	width:100%;
	height:100%;
	margin:0;
}
ul,li,h4,p{
	margin:0;
	padding:0;
	list-style: none;
}
.promotionpage{
	width:100%;
}
.apploadbtn{
	margin-bottom:0.95rem;
	position: relative;
}
.apploadbtn img{
	width:100%;
}
.apploadbtn a{
	width:7.5rem;
	height:2.375rem;
	display:inline-block;
	border-radius:0.125rem;
	margin-bottom:0.75rem;
	background:#333;
	position:absolute;
	top:10.55rem;
	left:1.375rem;
	text-decoration:none;
	color:#fff;
	font-size:0.75rem;
	line-height:2.375rem;
}
.apploadbtn .androidappbtn{
	top:13.65rem;
	background:#2fc447;
}
.apploadbtn a span{
	width:0.975rem;
	height:1.175rem;
	float:left;
	margin:0.6rem 0.5rem 0 1.125rem;
	background:url(../images/mobile/iphoneicon.png) no-repeat;
	background-size:100% 100%;
}
.apploadbtn .androidappbtn span{
	background:url(../images/mobile/androidicon.png) no-repeat;
	background-size:100% 100%;
}
.promContent{
	width:100%;
	padding:0 1.7rem 0 1.7rem;
	box-sizing:border-box;
}
.promContent ul li{
	margin-bottom:1rem;
}
.prom-icon{
	float:left;
	width:2.5rem;
	height:2.5rem;
	margin-right:0.95rem;
	background:url(../images/mobile/bookicon.png) no-repeat;
	background-size:100% 100%;
}
.prom-detail{
	width:11rem;
	float:left;
}
.prom-detail h4{
	font-size:0.9rem;
	margin-bottom:0.25rem;
}
.prom-detail p{
	color: #707070;
	line-height:0.68rem;
	font-size:0.5rem;
}
.bookicon{
	margin-top:-0.25rem;
	background:url(../images/mobile/ordertraceicon.png) no-repeat;
	background-size:contain;
}
.elecpurseicon{
	margin-top: -0.25rem;
	background:url(../images/mobile/elecpurse.png) no-repeat;
	background-size:contain;      
}
.footer{
	height:2.65rem;
	color:#999;
	background:#e8f0f7;
	text-align:center;
}
.prom-tell{
	font-size:0.5rem;
	position: relative;
	top: 0.25rem;
}
.prom-tell a{
	font-size:0.65rem;
	color:#8b8b8b;
	font-style: normal;
	text-decoration:none;
}
.prom-copyright{
	font-family:"Arial";
	font-size:0.45rem;
}
.prom-copyright em{
	color:#666666;
	font-style:normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}