@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
img {
	width: 100%;
}

body {
	margin: 0;
}

table{border-collapse:collapse;border-spacing:0;}

/*  酒店专题页--首次下单返现  */

.wrapper {
	background: -webkit-linear-gradient(top, #fff, #f5a04e);  /* chrome, safari  */
	background: -moz-linear-gradient(top, #fff, #f5a04e);  /*  firefox  */
	background: -o-linear-gradient(top, #fff, #f5a04e);  /* opera */
	background: -ms-linear-gradient(top, #fff, #f5a04e);  /* IE 10 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fff, endColorstr=#f5a04e);/*IE<9>*/
	-ms-filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fff, endColorstr=#f5a04e);/*IE8+*/

	width: 100%;
	padding-bottom: 1rem;
}

.top-banner {
	width: 100%;
	padding: 0.9rem 0;
}

.banner-image {
	background: url(../images/mobile/hotel-banner.png) no-repeat;
	width: 13.7rem;
	height: 5.25rem;
	background-size: 100%;
	margin: 0 auto;
}

.hotel-activity-container {
	padding: 0.325rem 1rem 0.825rem 1rem;
	background-color: #fff;
	width: 12.625rem;
	margin: 0 auto;
	border-radius: 0.25rem;
}

.hotel-activity-container .title {
	font-size: 0.6rem;
	height: 1.25rem;
	line-height: 1.3rem;
	border-radius: 1.25rem;
	text-align: center;
	background-color: #f17121;
	color: #fff;
	width: 3.65rem;
	font-weight: bold;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.hotel-activity-container .cont {
	font-size: 0.6rem;
	color: #f17121;
	line-height: 0.75rem;
}

.hotel-activity-container .cont p {
	margin-bottom: 0.75rem;
}

.hotel-activity-container .note {
	font-size: 0.55rem;
	color: #555;
	text-align: right;
	margin-bottom: 0;
}

/*  机票销售奖励 */

.flight-wrapper {
	background: -webkit-linear-gradient(top, #cdf8ff, #80e0f8);  /* chrome, safari  */
	background: -moz-linear-gradient(top, #cdf8ff, #80e0f8);  /*  firefox  */
	background: -o-linear-gradient(top, #cdf8ff, #80e0f8);  /* opera */
	background: -ms-linear-gradient(top, #cdf8ff, #80e0f8);  /* IE 10 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cdf8ff, endColorstr=#80e0f8);/*IE<9>*/
	-ms-filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#cdf8ff, endColorstr=#80e0f8);/*IE8+*/

	width: 100%;
	padding-bottom: 1rem;
}

.flight-top-banner {
	width: 100%;
	padding: 1.375rem 0 0.675rem;
}

.flight-top-banner .banner-image {
	background: url(../images/mobile/flight-banner.png) no-repeat;
	width: 14.625rem;
	height: 3rem;
	background-size: 100%;
	margin: 0 auto;
}

.flight-activity-container {
	padding: 1.125rem 1rem;
	background-color: #fff;
	width: 12.625rem;
	margin: 0 auto;
	border-radius: 0.25rem;
}

.flight-activity-container .cont {
	font-size: 0.6rem;
	color: #1798ce;
	text-indent: 1.2rem;
	line-height: 0.75rem;
}

.flight-activity-container .note {
	font-size: 0.55rem;
	color: #555;
	text-align: right;
	margin-bottom: 0;
}

.reward-table {
	width: 100%;
	margin-top: 0.65rem;
}

.reward-table caption {
	color: #ec8f2d;
	font-size: 0.75rem;
	font-weight: bold;
	padding-bottom: 0.4rem;
}

.reward-table thead th {
	font-size: 0.6rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 0.35rem 0;
	border: 1px solid #f1ae81;
}

.reward-table thead th:first-child {
	background-color: #ec8f2d;
}

.reward-table thead th:last-child {
	background-color: #ecbd2d;
}

.reward-table tbody td {
	color: #f1ae81;
	font-size: 0.6rem;
	text-align: center;
	padding: 0.35rem 0;
	border: 1px solid #f1ae81;
}



/*  双11电子礼品卡 S */
.wrapperContent{
    margin: 0 auto;
}
.bannerImg,
.giftImg,
.img02,
.img03,
.img04,
.img05,
.img06,
.img07,
.img08,
.img09{
    display: block;
    border: 0;
    width: 16rem;
    margin: 0 auto;
}

.firstModule{
    background-color: #a60028;
}
.firstModule .bannerImg{
    height: 9.875rem;
}
.secondModule{
    background-color: #dd3737;
}
.secondModule .giftImg{
    height: 10.625rem;
}
.thirdModule{
    background-color: #fbd85b;
}
.thirdModule .img02{
    height: 12.9rem;
}
.thirdModule .img03{
    height: 18.375rem;
}
.thirdModule .img04{
    height: 18.925rem;
}
.thirdModule .img05{
    height: 13.5rem;
}
.thirdModule .img06{
    height: 11.575rem;
}
.thirdModule .img07{
    height: 13.9rem;
}
.thirdModule .img08{
    height: 11.85rem;
}
.thirdModule .img09{
    height: 11.525rem;
}
.bottomBg{
    height: 45px;
    background-color: #dd3737;
}


/*  双11电子礼品卡 E */