@charset "utf-8";
/* CSS Document */

footer.tiny-footer{ color:#969696;  background-color:#EAEAEA; border-top:1px solid #CACACA;}
.tiny-footer center{ margin-top:20px; }
.tiny-footer a{  color:inherit; }
.tiny-footer .bar{ margin:0 5px;}
.tiny-footer .copyright{ padding-bottom: 20px;}

.pull-left{ float:left;}
.pull-right{ float:right;}
.mainBodyContent{ width:980px; margin:0 auto;}
.bannerBg{ width:100%; height:470px; background:url(../../images/store/travelBgStrip.jpg) repeat-x left top;}
.bannerBg .travelBanner{ background:url(../../images/store/travelBanner.jpg) no-repeat center top; height:470px; margin:0 auto;}
.commonModel{ margin:30px 0;}
.hotTitle{ position:relative; background:url(../../images/store/hotBg.png) no-repeat; width:980px; height:41px;}
.hotTitle h3{ font-size:26px; color:#4c67a1; font-weight:bold; position:absolute; top:-7px; left:0;}
.commonModelContent{ padding:5px 10px; margin:30px 0;}
.cityParticulars{ float:left; width:450px; margin-right:40px; color:#858585;}
.cityParticulars h3{ font-size:22px; margin-bottom:20px;}
.cityParticulars p{ font-size:16px; line-height:25px;}
.cityBigPic{ width:470px; height:270px; position:relative; float:left; border-bottom:2px solid #c7c7c7;}
.cityBigPic img{ width:470px; height:272px;}
.cityBigPic .bgColor{ position:absolute; left:0; bottom:0; width:100%; height:20%; background:#262234; filter:alpha(opacity=80); opacity:0.8;}
.cityBigPic .fontContent{ font-size:18px; color:#fff; position:absolute; left:5%; bottom:6%;}
.cityBigPic:hover .fadeIn,.hotCitySmallPic li:hover .fadeIn,.visaImg:hover .fadeIn{ width:100%; height:100%; position:absolute; top:0; left:0; background:#000; filter:alpha(opacity=20); opacity:0.2;}
.hotCitySmallPic{ margin-top:30px;}
.hotCitySmallPic li{ float:left; position:relative; width:225px; height:160px; margin-left:20px; border-bottom:2px solid #c7c7c7;}
.hotCitySmallPic li:first-child,.visaPic li:first-child{ margin-left:0;}
.hotCitySmallPic .bgColor{ position:absolute; left:0; bottom:0; width:100%; height:30%; background:#000; filter:alpha(opacity=60); opacity:0.6;}
.hotCitySmallPic .fontContent{ font-size:14px; color:#fff; position:absolute; left:5%; bottom:3%;}
.hotCitySmallPic .oneLine{ bottom:9%;}
.visaTitle{ border-bottom:2px solid #43a18f;}
.visaTitle h3{ font-size:26px; color:#43a18f; float:left; margin-bottom:7px;}
.visaIcon{ float:right; background:url(../../images/store/visaIcon.png) no-repeat; width:95px; height:37px; margin-top:7px;}
.visaPic li{ float:left; margin-left:20px; background:#fff; width:225px; height:195px; border-bottom:2px solid #c7c7c7;}
.visaPic .visaFont{ font-size:14px; line-height:20px; margin:5px 10px; color:#5a5a5a;}
.visaPic li img,.visaImg{ width:225px; height:142px;}
.visaImg{ position:relative;}
.visaFlow{ margin:20px 0;}
.problem{ border-bottom:1px solid #cdcdcd; margin-top:30px;}
.problem h3{ margin-bottom:7px; font-size:18px; color:#7c7c7c;}
.questionAnswer li{ border-top:1px dashed #c8c7c7; padding:5px 10px; line-height:25px; color:#858585; font-size:15px;}
.questionAnswer li:first-child{ border:0;}
.questionCont,.answerCont{ margin:15px 0;}
.questionCont .questionIcon,.answerCont .answerIcon{ display:inline-block; vertical-align:top; width:30px; height:28px; margin-right:20px; float:left;}
.questionCont .questionIcon{ background:url(../../images/store/smallPic.png) no-repeat 0 -148px;}
.answerCont .answerIcon{ background:url(../../images/store/smallPic.png) no-repeat -34px -148px;}
.questionCont .questionFont,.answerCont .answerFont{ float:left; width:94%;}
.lastModel,.lastCommonModel{ margin-bottom:0;}


/* 香港宣传页 */
.modulePicContent{ background: url(../../images/store/publicityBg.jpg)  repeat-x;}
.firsModulePic{ background:url(../../images/store/Hongkong_01.jpg) 50% 0 no-repeat;  height: 738px;}
.secondModulePic{ background:url(../../images/store/Hongkong_02.jpg) 50% 0 no-repeat; height: 687px;}
.thirdModulePic{ background:url(../../images/store/Hongkong_03.jpg) 50% 0 no-repeat; height: 658px;}
.sillStripPic{ background:url(../../images/store/sillStrip.jpg) repeat-x left top; height: 10px;}

/*香港澳门宣传页*/
.HKAndMacauContent{ background:url(../../images/store/HKAndMacauBodyBg_02.jpg) 50% 50% repeat-x;}
.firstHKAndMacauPic{ background:url(../../images/store/HKAndMacau_03.jpg) 50% 0 no-repeat; height: 496px;}
.secondHKAndMacauPic{ background:url(../../images/store/HKAndMacau_05.jpg) 50% 0 no-repeat; height: 680px;}
.thirdHKAndMacauPic{ background:url(../../images/store/HKAndMacau_06.jpg) 50% 0 no-repeat; height: 740px;}

/*九寨沟宣传页*/
.JiuzhaigouPicContent{ background: url(../../images/store/JiuzhaigouBg_03.jpg) 50% 50% repeat-x;}
.firsJiuzhaigouPic{ background:url(../../images/store/Jiuzhaigou_03.jpg) 50% 0 no-repeat; height: 495px;}
.secondJiuzhaigouPic{ background:url(../../images/store/Jiuzhaigou_05.jpg) 50% 0 no-repeat; height: 596px;}
.thirdJiuzhaigouPic{ background:url(../../images/store/Jiuzhaigou_06.jpg) 50% 0 no-repeat; height: 393px;}

/*厦门*/
/*.banner_xiamen {
    background: url(../../images/store/pub_xiamen_titBg.jpg) repeat-x;
    height: 496px;
    position: relative;
}
.banner_xiamen_left {
    max-width:970px;
    width:60%;
    background: url(../../images/store/pub_xiamen_01.jpg) right center no-repeat;
    height: 496px;
    float:left;
}
.banner_xiamen_fonts {
    background: url(../../special/images/pub_xiamen_bigFonts.png) no-repeat;
    width:495px;
    height:336px;
    position: absolute;
    top:40px;
    left: 50%;
}
.mainContent_xiamen {
    background: #dae8e8;
    padding-bottom: 10px;
}
.inContent_xiamen {
    width:1022px;
    margin: 0 auto;
    position: relative;
}
.xiamen_block01 {
    background: url(../../images/store/pub_xiamen_reason.png) 50% 0 no-repeat;
    width:980px;
    height: 97px;
    position: absolute;
    top:-97px;
    left: 4px;
}
.xiamen_block02 {
    background: url(../../special/images/pub_xiamen_02.png) 50% 0 no-repeat;
    height: 468px;
}
.xiamen_block03 {
    background: url(../../special/images/pub_xiamen_03.png) 50% 0 no-repeat;
    height: 631px;
}
.xiamen_block04 {
    background: url(../../special/images/pub_xiamen_04.png) 50% 0 no-repeat;
    height: 479px;
}*/

/*厦门201409*/
.banner_xiamen {
    background: #f1eee6;
    height: 490px;
    position: relative;
}
.banner_xiamen_top {
    background: url(../images/pub_xiamen_top09.jpg) left center no-repeat;
    height: 490px;
}
/*.banner_xiamen_left {
    background: url(../images/pub_xiamen_topL.png) right center no-repeat;
    height: 490px;
    width:835px;
    float: left;
}*/
.banner_xiamen_fonts {
    background: url(../images/pub_xiamen_bigFonts09.png) no-repeat;
    width:520px;
    height:289px;
    position: absolute;
    top:40px;
    left: 50%;
}
.mainContent_xiamen {
    background: #f4ebe4;
    padding-bottom: 10px;
}
.inContent_xiamen {
    width:1022px;
    margin: 0 auto;
    position: relative;
}
.xiamen_block01 {
    background: url(../images/pub_xiamen_reason09.png) 50% 0 no-repeat;
    width:980px;
    height: 91px;
    position: absolute;
    top:-91px;
    left: 4px;
}
.xiamen_block02 {
    background: url(../images/pub_xiamen_09_02.jpg) 50% 0 no-repeat;
    height: 481px;
}
.xiamen_block03 {
    background: url(../images/pub_xiamen_09_03.jpg) 50% 0 no-repeat;
    height: 708px;
}
.xiamen_block04 {
    background: url(../images/pub_xiamen_09_04.jpg) 50% 0 no-repeat;
    height: 550px;
}

/*桂林*/
.banner_guilin {
    background: url(../../images/store/pub_guilin_01.jpg) 50% 50% no-repeat;
    height:1251px;
}
.mainContent_guilin {
    background: #ebebeb;
}
.inContent_guilin {
    width:1075px;
    margin:0 auto;
}
.guilin_block01 {
    background: url(../../images/store/pub_guilin_02.jpg) 50% 0 no-repeat;
    height:559px;
}
.guilin_block02 {
    background: url(../../images/store/pub_guilin_03.jpg) 50% 0  no-repeat;
    height:546px;
}
.guilin_block03 {
    background: url(../../images/store/pub_guilin_04.jpg) 50% 0 no-repeat;
    height: 558px;
}
.guilin_block04_box {
    background: #525b7a;
}
.guilin_block04 {
    background: url(../../images/store/pub_guilin_05.jpg) 50% 0 no-repeat;
    height: 193px;
    width:1075px;
    margin: 0 auto;
}

/*台湾*/
.banner_taiwan {
    height:0;
}
.mainContent_taiwan {
    background: #2f9092;
}
.inContent_taiwan {
}
.taiwan_block01 {
    background: url(../../images/store/pub_taiwan_02.jpg) 50% 0  no-repeat;
    height:860px;
}
.taiwan_block02 {
    background: url(../../images/store/pub_taiwan_04.jpg) 50% 0  no-repeat;
    height:544px;
}
.taiwan_block03 {
    background: url(../../images/store/pub_taiwan_06.jpg) 50% 0 no-repeat;
    height: 830px;
}

/*大连*/
.banner_dalian {
    background:#c5dded url(../../images/store/dalian_02.jpg) 50% 0  no-repeat;
    height:499px;
}
.mainContent_dalian {
    background: #c5dded;
}
.inContent_dalian {
    width:1026px;
    margin:0 auto;
    padding-bottom:20px;
}
.dalian_block01 {
    height:0;
}
.dalian_block02 {
    background: url(../../images/store/dalian_04.jpg) 0 0  no-repeat;
    height:773px;
}
.dalian_block03 {
    background: url(../../images/store/dalian_06.jpg) 0 0 no-repeat;
    height: 878px;
}

/* 海南航空 */
.banner_hainan{
    background:#d8ecf5 url(../../images/store/hainanAirLines_03.jpg) 50% 0  no-repeat;
    height:640px;
}
.mainContent_hainan {
    background: #e5e6e7;
}
.inContent_hainan {
    width:1150px;
    margin:0 auto;
}
.hainan_block01 {
    background: url(../../images/store/hainanAirLines_06.jpg) 50% 0  no-repeat;
    height:962px;
}
.hainan_block02 {
    background: url(../../images/store/hainanAirLines_08.jpg) 50% 0  no-repeat;
    height:723px;
}
.hainan_block03 {
    background: url(../../images/store/hainanAirLines_09.jpg) 50% 0 no-repeat;
    height: 573px;
}


/*南航纽约*/
.niuyue_block01 {
    background:url(../../images/store/niuyue_02.jpg) 50% 0  no-repeat;
    height:490px;
}
.niuyue_block02 {
    background: url(../../images/store/niuyue_05.jpg) 0 0  no-repeat;
    height:780px;
    width:980px;
    margin:0 auto;
}


/*多伦多*/
.duolunduo_block01 {
    background:url(../../images/store/duolunduo_02.jpg) 50% 0  no-repeat;
    height:499px;
}
.duolunduo_block02 {
    background: url(../../images/store/duolunduo_04.jpg) 0 0  no-repeat;
    height:641px;
    width:1065px;
    margin:0 auto;
}
.duolunduo_block03 {
    background: url(../../images/store/duolunduo_07.jpg) 0 0 no-repeat;
    height: 784px;
    width:1065px;
    margin:0 auto;
}

/*发布会*/
.conf_block1{
    /* background-color:#0952c3; */
    background:url(../../images/store/conf_02.jpg) 50% 0  no-repeat;
}
.conf_block1 span{
    display:block;
    width:1000px;
    height:630px;
    margin:0 auto;
    position:relative;
}
#player{
    width:490px;
    height:370px;
    position:absolute;
    right:0;
    top:225px;
}
.conf_block2{
    display:block;
    height:700px;
    /*#0b1f8b */
    background:url(../../images/store/conf_03.jpg) 50% 0  no-repeat;
}
.conf_block3{
    display:block;
    height:263px;
    /*#33b7c7 */
    background:url(../../images/store/conf_04.jpg) 50% 0  no-repeat;
}

.tipsh{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 444px;
    left: 410px;
    /*background-color: #00fcff;
    border-radius: 100%;
    opacity: 0.15;
    */
}
.tip img{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.tipbody{
    background:url(../../images/store/conf_tip2.png) no-repeat;
    width:424px;
    height:175px;
    display:none;
    position:relative;
    left:-363px;
    top:-170px;
}
.tipbody .arrow{
    height:17px;
    width:24px;
    background:url(../../images/store/conf_tip1.png) no-repeat;
    display:block;
    position:absolute;
}
.tipsh .arrow{
    bottom:6px;
    left:360px;
}
.tip:hover .tipbody{
    display:block;
}
.ztipcontent{
    width:800px;
    height:80%;
    font-family:'microsoft yahei';
    background-color:rgba(0,0,0,.4);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#7f000000, endColorstr=#7f000000)\9;
    background-color:transparent\9;
    display:none;
}
.ztipdetail{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    background-color:#f9f9f9;
    padding:40px 20px;
    overflow-y:scroll;
}
.ztipcontent .close{
    width:37px;
    height:37px;
    background:url(../../images/store/close37.png) no-repeat;
    position:absolute;
    right:30px;
    top:15px;
    z-index:1;
}
.ztipcontent h1{
   font-size:26px; 
   color:#333;
   text-align:center;
   margin-bottom:10px;
}
.ztipcontent h2{
    font-size:18px;
    color:#666;
   text-align:center;
   margin-bottom:30px;
}
.ztipcontent p{
    line-height:24px;
    font-size:14px;
    color:#333;
    margin:0 0 20px 0;
}
.ztipcontent img{
    display:block;
    margin:0 auto;
}
.imgtext{
    display:block;
    text-align:center;
    color:#666;
    margin-top:10px;
}
.tip s,.tip u{
    text-decoration:none;
}
.tipTitle{
    display:block;
    color:#fff;
    font-size:20px;
    padding:15px 0 0 45px;
}
.tipContent{
    display:block;
    color:#fff;
    font-size:13px;
    padding:10px 20px;
}
.tipMore{
    position:absolute;
    right:25px;
    bottom:35px;
    color:#fff;
    font-size:14px;
}
.tipMore:hover{
    cursor:pointer;
    color:#f6ff00;
}
.tipContent:hover{
}

/*北京-三亚*/
.beijingsanya_topBg {
    background:url(../../images/store/beijingsanya_img_bgt.jpg) 0 0 repeat-x;
    height:608px;
}
.beijingsanya_block01 {
    background:url(../../images/store/beijingsanya_img01.jpg) 50% 0 no-repeat;
    height:608px;
}
.beijingsanya_center {
    background: #f4e3c7;
}
.beijingsanya_block02 {
    background: url(../../images/store/beijingsanya_img02.jpg) 0 0 no-repeat;
    height:645px;
    width:980px;
    margin:0 auto;
}
.beijingsanya_block03 {
    background: url(../../images/store/beijingsanya_img03.jpg) 0 0 no-repeat;
    height:763px;
    width:980px;
    margin:0 auto;
}
.beijingsanya_center02 {
    background: #86dae4;
}
.beijingsanya_block04 {
    background: url(../../images/store/beijingsanya_img04.jpg) 0 0 no-repeat;
    height:1186px;
    width:980px;
    margin:0 auto;
}

/*北京香港演唱会*/
.beijingxianggangych_topBg {
    background:url(../../images/store/beijingxianggangych_img_bgt.jpg) 0 0 repeat-x;
    height:741px;
}
.beijingxianggangych_block01 {
    background:url(../../images/store/beijingxianggangych_img01.jpg) 50% 0 no-repeat;
    height:741px;
}
.beijingxianggangych_center {
    background: #c8aa86;
}
.beijingxianggangych_block02 {
    background: url(../../images/store/beijingxianggangych_img02.jpg) 0 0 no-repeat;
    height:844px;
    width:980px;
    margin:0 auto;
}
.beijingxianggangych_block03 {
    background: url(../../images/store/beijingxianggangych_img03.jpg) 0 0 no-repeat;
    height:1115px;
    width:980px;
    margin:0 auto;
}
.beijingxianggangych_block04 {
    background: url(../../images/store/beijingxianggangych_img04.jpg) 0 0 no-repeat;
    height:1162px;
    width:980px;
    margin:0 auto;
}
/*询价单 by zzz*/
.xunjiadan_mainContainer{
    width: 980px;
    margin:0 auto;
    position: relative;
}
.bgImg img{
    display: block;
}
.bigImg_close{
    background: url("../../images/store/useManual/close2.png") no-repeat;
    width: 41px;
    height: 42px;
    position: absolute;
    display: none;
    cursor: pointer;
}
.pic_small_Cover{
    background: #000000;
    opacity: 0;
    filter:alpha(opacity=0);
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.pic1_small{
    top: 59px;
    right: 15px;
    width: 395px;
    height: 232px;
}
.pic2_small{
    top: 355px;
    right: 15px;
    width: 395px;
    height: 242px;
}
.pic3_small{
    top: 616px;
    right: 15px;
    width: 395px;
    height: 242px;
}
.pic4_small{
    top: 925px;
    right: 15px;
    width: 395px;
    height: 175px;
}
.pic5_small{
    top: 1164px;
    right: 15px;
    width: 395px;
    height: 199px;
}
.pic6_small{
    top: 1375px;
    right: 15px;
    width: 395px;
    height: 185px;
}
.pic7_small{
    top: 1638px;
    right: 15px;
    width: 395px;
    height: 252px;
}
.zoomText{
    color: #ffffff;
    font-size: 16px;
    width: 145px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    display: none;
}
.icon-search{
    font-size: 26px;
    margin-right: 5px;
}
.bigImg{
    position: absolute;
    top: 0;
    right: 15px;
    width: 0;
    height: 0;
    box-shadow: 0 0 20px #000000;
}
.xunjiadan_navigationContainer{
    width: 980px;
    margin:0 auto;
}
.navi1{
    background-position: 0 0 !important;
    width: 324px;
    height: 74px;
    display: inline-block;
    
}
.navi2{
    background-position: -324px 0 !important;
    width: 324px;
    height: 74px;
    display: inline-block;
}
.navi3{
    background-position: -648px 0 !important;
    width: 329px;
    height: 74px;
    display: inline-block;
}
.xjd_dtn{
    background: url("../../images/store/useManual/xunjiadan_navigation_dt.png");
}
.xjd_itn{
    background: url("../../images/store/useManual/xunjiadan_navigation_it.png");
}
.xjd_itnf{

    background: url("../../images/store/useManual/xunjiadan_navigation_itf.png");
}

/* 香港宣传页7月 */
.modulePicContent{ background: url(../../images/store/publicityBg.jpg)  repeat-x;}
.firsModulePic_07{ background:url(../../images/store/Hongkong07_01.jpg) 50% 0 no-repeat;  height: 738px;}
.secondModulePic_07{ background:url(../../images/store/Hongkong07_02.jpg) 50% 0 no-repeat; height: 621px;}
.thirdModulePic_07{ background:url(../../images/store/Hongkong07_03.jpg) 50% 0 no-repeat; height: 724px;}
.sillStripPic{ background:url(../../images/store/sillStrip.jpg) repeat-x left top; height: 10px;}

/*无锡采摘*/
.wuxin_top{
    background:url(../../images/store/wuxi_img01_bg.jpg) 0 0 repeat-x;
    height:551px;
}
.wuxi_block01 {
    background:url(../../images/store/wuxi_img01.jpg) 50% 0 no-repeat;
    height:551px;
}
.wuxi_block02 {
    background:url(../../images/store/wuxi_img02.jpg) #fff0db 50% 0 no-repeat;
    height:1004px;
}
.wuxi_block03 {
    background:url(../../images/store/wuxi_img03.jpg) #fff0db 50% 0 no-repeat;
    height:822px;
}

/*北京上海*/
.beijingshanghaiBanner {
    background:#0085e6 url(../../images/store/beijingshanghai_03.jpg) 50% 0  no-repeat;
    height:417px;
}
.mainContent_beijingshhai {
    background: #cefdff;
}
.inContent_beijingshhai {
    width: 1020px;
    margin:0 auto;
    padding-bottom:20px;
}
.beijingshhai_block01 {
    background: url(../../images/store/beijingshanghai_05.jpg) 50% 0  no-repeat;
    height:791px;
}
.beijingshhai_block02 {
    background: url(../../images/store/beijingshanghai_06.jpg) 50% 0 no-repeat;
    height: 952px;
}

/*国际预付酒店*/
.guojiyufujiudian_block01 {
    background:url(../images/guojiyufujiudian_img01.jpg) 50% 0 no-repeat;
    height:612px;
}
.guojiyufujiudian_block02 {
    background:url(../images/guojiyufujiudian_img02.jpg) 50% 0 no-repeat;
    height:563px;
}
.guojiyufujiudian_block03 {
    background:url(../images/guojiyufujiudian_img03.jpg) 50% 0 no-repeat;
    height:530px;
}

/*暑期同行销售奖励政策*/
.shujiatonghangBanner {
    background:#054cbc url(../images/shujiatonghang_03.png) 50% 0  no-repeat;
    height:437px;
}
.mainContent_shujiatonghang {
    background: #d2e9ff;
}
.inContent_shujia {
    width: 1330px;
    margin:0 auto;
    padding-bottom:20px;
}
.shujia_block01 {
    background: url(../images/shujiatonghang_05.png) 50% 0  no-repeat;
    height:473px;
}
.shujia_block02 {
    background: url(../images/shujiatonghang_06.png) 50% 0 no-repeat;
    height: 400px;
}

/*香港迪士尼*/
.banner_HKdishini {
    background: #0d0b24;
    height: 525px;
    position: relative;
}
.banner_HKdishini_right {
    max-width:1570px;
    width:100%;
    background: url(../images/HKdishiniBanner.jpg) right center no-repeat;
    height: 525px;
    float: right;
}
.banner_HKdishini_fonts {
    background: url(../images/HKdishiniFonts.png) no-repeat;
    width:620px;
    height:170px;
    position: absolute;
    top:40px;
    left: 27%;
}
.mainContent_HKdishiniFirst {
    background: #efd1c2;
}
.inContent_HKdishiniFirst {
    width:980px;
    margin: 0 auto;
    position: relative;
}
.HKdishiniFirst_block01 {
    background: url(../images/HKdishini_01.png) 50% 0 no-repeat;
    width:980px;
    height: 174px;
    margin-top:-10px;
}


.mainContent_HKdishiniSecond {
    background: #c98856;
    margin-top: -12px;
}
.inContent_HKdishiniSecond,.inContent_HKdishiniThird,.inContent_HKdishiniFourth,.inContent_HKdishiniFifth {
    width:1040px;
    margin: 0 auto;
}
.HKdishiniSecond_block01 {
    background: url(../images/HKdishini_03.jpg) 50% 0 no-repeat;
    width:1040px;
    height: 884px;
}

.mainContent_HKdishiniThird {
    background: #bb733d;
}
.HKdishiniThird_block01 {
    background: url(../images/HKdishini_05.jpg) 50% 0 no-repeat;
    width:1040px;
    height: 705px;
}

.mainContent_HKdishiniFourth {
    background: #c98856;
}
.HKdishiniFourth_block01 {
    background: url(../images/HKdishini_06.jpg) 50% 0 no-repeat;
    width:1040px;
    height: 958px;
}
.mainContent_HKdishiniFifth {
    background: #357b4f;
}
.HKdishiniFifth_block01 {
    background: url(../images/HKdishini_07.jpg) 50% 0 no-repeat;
    width:1040px;
    height: 933px;
}

/*署假自由行*/
.mainContent_shujiaziyouxing {
    background: url("../images/ziyouxing_bg.jpg") repeat-x;
    height: 4038px;
}
.shujiaziyouxing_block01 {
    background: url(../images/ziyouxing_01.jpg) 50% 0  no-repeat;
    height:1132px;
}
.shujiaziyouxing_block02 {
    background: url(../images/ziyouxing_02.jpg) 50% 0  no-repeat;
    height:1601px;
}
.shujiaziyouxing_block03 {
    background: url(../images/ziyouxing_03.jpg) 50% 0 no-repeat;
    height: 1305px;
}

/*维多利亚-韩国*/
.mainContent_weiduoliyaHanGuo {
    background: url("../images/weiduoliyaHanGuo_bg.jpg") repeat-x;
    height: 3124px;
}
.weiduoliyaHanGuo_block01 {
    background: url(../images/weiduoliyaHanGuo_01.jpg) 50% 0  no-repeat;
    height:861px;
}
.weiduoliyaHanGuo_block02 {
    background: url(../images/weiduoliyaHanGuo_02.jpg) 50% 0  no-repeat;
    height:968px;
}
.weiduoliyaHanGuo_block03 {
    background: url(../images/weiduoliyaHanGuo_03.jpg) 50% 0 no-repeat;
    height: 1295px;
}

/* 香港-台北 */
.banner_xianggangtaibei{
    background:#a8c5eb url(../images/xianggangtaibei_03.jpg) 50% 0  no-repeat;
    height:470px;
}
.mainContent_xianggangtaibei {
    background: #d0dff1;
}
.xianggangtaibei_block01 {
    background: url(../images/xianggangtaibei_05.jpg) 50% 0  no-repeat;
    height:822px;
}
.xianggangtaibei_block02 {
    background: url(../images/xianggangtaibei_06.jpg) 50% 0  no-repeat;
    height:810px;
}

/*苏州太湖高尔夫酒店*/
.suzhoutaihu_top{
    background:url(../images/suzhoutaihugaoerfu01.jpg) 50% 50% no-repeat;
    height:826px;
}
.suzhoutaihu_block01 {
    background:url(../images/suzhoutaihugaoerfu02.jpg) 50% 0 no-repeat;
    height:987px;
}
.suzhoutaihu_block02 {
    background:url(../images/suzhoutaihugaoerfu03.jpg) 50% 0 no-repeat;
    height:702px;
}

/* 山东航空内页 */
.shandongneiyeBanner {
    background:#e9e9ea url(../images/shandongneiye_03.jpg) 50% 0  no-repeat;
    height:472px;
}
.mainContent_shandongneiye {
    background: #ffffff;
}
.inContent_shandongneiye {
    width: 1020px;
    margin:0 auto;
}
.shandongneiye_block01 {
    background: url(../images/shandongneiye_05.jpg) 50% 0  no-repeat;
    height:401px;
}
.shandongneiye_block02 {
    background: url(../images/shandongneiye_06.jpg) 50% 0 no-repeat;
    height: 434px;
}
/* 酒店销售奖励政策8-10 */
.jiudianxiaoshoujiangli_block01 {
    background: url(../images/jiudianxiaoshoujiangli01.jpg) 50% 0  no-repeat;
    height:413px;
}
.jiudianxiaoshoujiangli_block02 {
    background: url(../images/jiudianxiaoshoujiangli02.jpg) 50% 0 no-repeat;
    height: 432px;
}
.jiudianxiaoshoujiangli_block03 {
    background: url(../images/jiudianxiaoshoujiangli03.jpg) 50% 0 no-repeat;
    height: 556px;
}

/*  庆中秋迎国庆华东区奖励计划内页  */
.mainContent_zhongqiuguoqing {
    background: url("../images/zhongqiuguoqing_03.jpg") repeat-x;
    height: 1174px;
}
.zhongqiuguoqing_block01 {
    background: url(../images/zhongqiuguoqing_01.jpg) 50% 0  no-repeat;
    height:491px;
}
.zhongqiuguoqing_block02 {
    background: url(../images/zhongqiuguoqing_02.jpg) 50% 0  no-repeat;
    height:683px;
}


/*天地行9月华南地区机票销售双重奖励内页*/
.huanandiquxiaoshujiangli_top{
    background:url(../images/huanandiquxiaoshujiangli_01.jpg) 50% 50% no-repeat;
    height:525px;
}
.huanandiquxiaoshujiangli_block01 {
    background:url(../images/huanandiquxiaoshujiangli_02.jpg) 50% 0 no-repeat;
    height:488px;
}

/*  吴江不夜城酒店专题页  */
.mainContent_wujiangbuyecheng {
    background: url("../images/wujiangbuyecheng_04.jpg") repeat-x;
    height: 1663px;
}
.wujiangbuyecheng_block01 {
    background: url(../images/wujiangbuyecheng_01.jpg) 50% 0  no-repeat;
    height:603px;
}
.wujiangbuyecheng_block02 {
    background: url(../images/wujiangbuyecheng_02.jpg) 50% 0  no-repeat;
    height:696px;
}
.wujiangbuyecheng_block03 {
    background: url(../images/wujiangbuyecheng_03.jpg) 50% 0  no-repeat;
    height:364px;
}

/*  吴江不夜城酒店专题页12  */
.wujiangbuyecheng_block01 {
    background: #cfdfef url(../images/wujiangbuyecheng12_01.jpg) 50% 0  no-repeat;
    height:640px;
}
.wujiangbuyecheng_block02 {
    background: #fff3c3 url(../images/wujiangbuyecheng12_02.jpg) 50% 0  no-repeat;
    height:814px;
}
.wujiangbuyecheng_block03 {
    background: #fff3c3 url(../images/wujiangbuyecheng12_03.jpg) 50% 0  no-repeat;
    height:755px;
}
.wujiangbuyecheng_block04 {
    background: #fff3c3 url(../images/wujiangbuyecheng12_04.jpg) 50% 0  no-repeat;
    height:795px;
}
.wujiangbuyecheng_block05 {
    background: #eeda94 url(../images/wujiangbuyecheng12_05.jpg) 50% 0  no-repeat;
    height:432px;
}

/* 香港宣传页9月 */
.modulePicContent{ background: #052149 url(../../images/store/publicityBg.jpg)  repeat-x;}
.firsModulePic_09{ background:url(../../images/store/Hongkong09_01.jpg) 50% 0 no-repeat;  height: 699px;}
.secondModulePic_09{ background:url(../../images/store/Hongkong09_02.jpg) 50% 0 no-repeat; height: 912px;}
.thirdModulePic_09{ background:url(../../images/store/Hongkong09_03.jpg) 50% 0 no-repeat; height: 1510px;}


/*   精彩十一乐游无边界  */
.mainContent_jingcaishiyi {
    background: url("../images/jingcaishiyi_bg.jpg") repeat-x;
    height: 3067px;
}
.jingcaishiyi_block01 {
    background: url(../images/jingcaishiyi_01.jpg) 50% 0  no-repeat;
    height:960px;
}
.jingcaishiyi_block02 {
    background: url(../images/jingcaishiyi_02.jpg) 50% 0  no-repeat;
    height:1127px;
}
.jingcaishiyi_block03 {
    background: url(../images/jingcaishiyi_03.jpg) 50% 0 no-repeat;
    height: 980px;
}

/*   华东区奖励计划10月  */
.mainContent_jianglijihua {
    background: url("../images/jianglijihua_bg.jpg") repeat-x;
    height: 1171px;
}
.jianglijihua_block01 {
    background: url(../images/jianglijihua_01.jpg) 50% 0  no-repeat;
    height:485px;
}
.jianglijihua_block02 {
    background: url(../images/jianglijihua_02.jpg) 50% 0  no-repeat;
    height:686px;
}

/* 厦门 2014-11 专题页 */
.xiamen_11Banner {
    background:#f0f0e4 url(../images/xiamen11_01.jpg) 50% 0  no-repeat;
    height:763px;
}
.mainContent_xiamen_11 {
    background: #f2f3e3;
}
.inContent_xiamen_11 {
    min-width: 1020px;
    margin:0 auto;
}
.xiamen_11_block01 {
    background: url(../images/xiamen11_02.jpg) 50% 0  no-repeat;
    height:843px;
}
.xiamen_11_block02 {
    background: url(../images/xiamen11_03.jpg) 50% 0 no-repeat;
    height: 911px;
}


/*  上海-三亚专题 */
.mainContent_shanghaisanya {
    background: url("../images/shanghaisanya_bg.jpg") repeat-x;
    height: 2685px;
}
.shanghaisanya_block01 {
    background: url(../images/shanghaisanya_01.jpg) 50% 0  no-repeat;
    height:680px;
}
.shanghaisanya_block02 {
    background: url(../images/shanghaisanya_02.jpg) 50% 0  no-repeat;
    height:799px;
}
.shanghaisanya_block03 {
    background: url(../images/shanghaisanya_03.jpg) 50% 0  no-repeat;
    height:688px;
}
.shanghaisanya_block04 {
    background: url(../images/shanghaisanya_04.jpg) 50% 0  no-repeat;
    height:538px;
}

/* 香港宣传页11月 */
.modulePicContentXiangGang11{ background-color: #191c4e;}
.firsModulePicXiangGang_11{ 
    background:url(../images/xianggang11_01.jpg) 50% 0 no-repeat;  
    height: 604px;
}
.secondModulePicXiangGang_11{ 
    background:url(../images/xianggang11_02.jpg) 50% 0 no-repeat; 
    height: 679px;
}
.thirdModulePicXiangGang_11{ 
    background:url(../images/xianggang11_03.jpg) 50% 0 no-repeat; 
    height: 646px;
}
.fourthModulePicXiangGang_11{ 
    background:url(../images/xianggang11_04.jpg) 50% 0 no-repeat; 
    height: 670px;
}

/*  新加坡11月  */
.content_top{
    background:url(../images/xinjiapoTopBg.jpg) 0 0 repeat-x;
    height:722px;
}
.xinjiapo_block01 {
    background:url(../images/xinjiapo_01.jpg) 50% 0 no-repeat;
    height:722px;
}
.mainContentModel{
    background-color: #f5e9d2;
}
.xinjiapo_block02 {
    background:url(../images/xinjiapo_02.jpg) 50% 0 no-repeat;
    height:978px;
}
.xinjiapo_block03 {
    background:url(../images/xinjiapo_03.jpg) 50% 0 no-repeat;
    height:908px;
}

/*  新加坡12月  */
.content_top{
    background:url(../images/xinjiapoTopBg12.jpg) 0 0 repeat-x;
    height:752px;
}
.xinjiapo_block01 {
    background: url(../images/xinjiapo12_01.jpg) 50% 0 no-repeat;
    height:752px;
}
.mainContentModel{
    background-color: #e1e8ff;
}
.xinjiapo_block02 {
    background:url(../images/xinjiapo12_02.jpg) 50% 0 no-repeat;
    height:1014px;
}
.xinjiapo_block03 {
    background:url(../images/xinjiapo12_03.jpg) 50% 0 no-repeat;
    height:996px;
}

/*  恐龙园套餐1至3月  */
.banner_konglongyuan{
    background:#62c6e7 url(../images/konglongyuanBanner.jpg) 50% 0  no-repeat;
    height:605px;
}
.mainContent_konglongyuan {
    background: #b0dfe7;
}
.inContent_konglongyuan {
    width:990px;
    margin:0 auto;
}
.konglongyuan_block01 {
    background: url(../images/konglongyuan_01.jpg) 50% 0  no-repeat;
    height:835px;
}
.konglongyuan_block02 {
    background: url(../images/konglongyuan_02.jpg) 50% 0  no-repeat;
    height:912px;
}
.konglongyuan_block03 {
    background: url(../images/konglongyuan_03.jpg) 50% 0 no-repeat;
    height: 906px;
}
.konglongyuan_block04 {
    background: url(../images/konglongyuan_04.jpg) 50% 0 no-repeat;
    height: 897px;
}
.konglongyuan_block05 {
    background: url(../images/konglongyuan_05.jpg) 50% 0 no-repeat;
    height: 679px;
}


/*  12月上海-青岛专题页  */
.banner_shanghaiqingdao12{
    background:#7595c4 url(../images/shanghaiqingdaoBanner.jpg) 50% 0  no-repeat;
    height:606px;
}
.mainContent_shanghaiqingdao12 {
    background: #bad4ff;
}
.inContent_shanghaiqingdao12 {
    width:1650px;
    margin:0 auto;
}
.shanghaiqingdao12_block01 {
    background: url(../images/shanghaiqingdao_01.jpg) 50% 0  no-repeat;
    height:816px;
}
.shanghaiqingdao12_block02 {
    background: url(../images/shanghaiqingdao_02.jpg) 50% 0  no-repeat;
    height:868px;
}
.shanghaiqingdao12_block03 {
    background: url(../images/shanghaiqingdao_03.jpg) 50% 0 no-repeat;
    height: 763px;
}

/*  扬州扬鹏大酒店专题页12至3月  */
.banner_yangzhoujiudian{
    background:#f5e9d2 url(../images/yangzhoujiudianBanner.jpg) 50% 0  no-repeat;
    height:660px;
}
.mainContent_yangzhoujiudian {
    background: #f5e9d2;
}
.yangzhoujiudian_block01 {
    background: url(../images/yangzhoujiudian01.jpg) 50% 0  no-repeat;
    height:896px;
}
.yangzhoujiudian_block02 {
    background: url(../images/yangzhoujiudian02.jpg) 50% 0  no-repeat;
    height:923px;
}
.yangzhoujiudian_block03 {
    background: url(../images/yangzhoujiudian03.jpg) 50% 0 no-repeat;
    height: 857px;
}


/*  踏青专题页  */
.taQingBanner {
    background:  #9cd4f1 url(../images/taQingBanner.jpg) 50% 0 no-repeat;
    height:689px;
}
.taQingModelBg{
    background-color: #feffd9;
}
.taQingModel{
    width: 1490px;
    margin: 0 auto;
}
.taQingModel img{
    width: 1490px;
    border: 0;
}

/* 政府采购流程 */
.banner_zhengfuliucheng {
    background: #01428a url("../images/zhengfuBanner.jpg") no-repeat 50% 0;
    height: 466px;
}
.inContent_zhengfuliucheng {
    background: #98defe;
}
.zhengfuliucheng_block01 {
    background: url("../images/zhengFuLiuCheng01.jpg") 50% 0  no-repeat;
    height:663px;
}
.zhengfuliucheng_block02 {
    background: url("../images/zhengFuLiuCheng02.jpg") 50% 0  no-repeat;
    height:605px;
}
.zhengfuliucheng_block03 {
    background: url("../images/zhengFuLiuCheng03.jpg") 50% 0  no-repeat;
    height:654px;
}


/* 天地行微信酒店预订功能开通专题页 */
.banner_weixinjiudian {
    background: #efad7d url("../images/weixinjiudian.jpg") no-repeat 50% 0;
    height: 486px;
}
.inContent_weixinjiudian {
    background: #d2d2d2;
}
.weixinjiudian_block01 {
    background: url("../images/weixinjiudian01.jpg") 50% 0  no-repeat;
    height:563px;
}
.weixinjiudian_block02 {
    background: url("../images/weixinjiudian02.jpg") 50% 0  no-repeat;
    height:650px;
}
.weixinjiudian_block03 {
    background: url("../images/weixinjiudian03.jpg") 50% 0  no-repeat;
    height:633px;
}
.weixinjiudian_block04 {
    background: url("../images/weixinjiudian04.jpg") 50% 0  no-repeat;
    height:557px;
}


/* 五一专题页 */
.banner_wuyizhuantiye {
    background: #ffc926 url("../images/wuyizhuantiyeBanner.jpg") no-repeat 50% 0;
    height: 602px;
}
.inContent_wuyizhuantiye {
    background: #fee491;
}
.inContent_wuyizhuantiye .wuyizhuantiyeModel{
    width: 1078px;
    margin: 0 auto;
}