@charset "utf-8";
body {
	height: 100%;
	background: #f5e7b3 url(../images/mobile/bg.png);
  	background-size: 0.75rem 0.2rem;
}
html,body,img,span{
	margin:0;
	padding:0;
}
.musicbtn{
	width:2rem;
	height:2rem;
	display:inline-block;
	position:fixed;
	right:4%;
	top:5%;
	background-image:url(../images/mobile/music_play.png);
	background-repeat:no-repeat;
	background-size:cover;
	z-index:12;
}
.swiper-container{
	width:100%;
	height:100%;
}
.swiper-slide{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
.ani {
	position: absolute;
}
.slide1box{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/mobile/bg.png) no-repeat;
  	background-size: 0.75rem 0.2rem;
  	z-index:10;
}
.slide1-container{
	width:9.05rem;
	height:10.35rem;
	position:absolute;
	background:transparent;
	top:36.58%;
	left:50%;
	margin-left:-4.5rem;
}
.character{
	width:7.7rem;
	height:8.75rem;
	position:absolute;
	top:16.145%;
	left:0;
	opacity:1;
}
.hair{
	width:1.1rem;
	height:2.1rem;
	position:absolute;
	top:0;
	left:43.094%;
	opacity:1;
	-webkit-animation: hairrotate 1.2s linear 0.5s infinite alternate;
	   -moz-animation: hairrotate 1.2s linear 0.5s infinite alternate;
	    -ms-animation: hairrotate 1.2s linear 0.5s infinite alternate;
	     -o-animation: hairrotate 1.2s linear 0.5s infinite alternate;
	 -khtml-animation: hairrotate 1.2s linear 0.5s infinite alternate;
	        animation: hairrotate 1.2s linear 0.5s infinite alternate;
	-webkit-transform-origin:0 bottom;
	   -moz-transform-origin:0 bottom;
		-ms-transform-origin:0 bottom;
		 -o-transform-origin:0 bottom;
	 -khtml-transform-origin:0 bottom;
	        transform-origin:0 bottom;
}
@-webkit-keyframes hairrotate {
from{-webkit-transform:rotateZ(-60deg);}
	to{-webkit-transform:rotateZ(30deg);}
}
@-khtml-keyframes hairrotate {
from{-khtml-transform:rotateZ(-60deg);}
	to{-khtml-transform:rotateZ(30deg);}
}
@-ms-keyframes hairrotate {
from{-ms-transform:rotateZ(-60deg);}
	to{-ms-transform:rotateZ(30deg);}
}
@-o-keyframes hairrotate {
from{-o-transform:rotateZ(-60deg);}
	to{-o-transform:rotateZ(30deg);}
}
@-moz-keyframes hairrotate {
from{-moz-transform:rotateZ(-60deg);}
	to{-moz-transform:rotateZ(30deg);}
}
@keyframes hairrotate {
from{transform:rotateZ(-60deg);}
	to{transform:rotateZ(30deg);}
}

.loading{
	width:2.6rem;
	height:0.25rem;
	position:absolute;
	overflow:hidden;
	bottom:0;
	left:78.3%;
	-webkit-animation: loadingdotshow 5s linear 1s infinite ;
	   -moz-animation: loadingdotshow 5s linear 1s infinite ;
	    -ms-animation: loadingdotshow 5s linear 1s infinite ;
	     -o-animation: loadingdotshow 5s linear 1s infinite ;
	 -khtml-animation: loadingdotshow 5s linear 1s infinite ;
	        animation: loadingdotshow 5s linear 1s infinite ;
}
@-webkit-keyframes loadingdotshow {
	0%{width:0rem; }
	1%{width:0.3rem;}
	16%{width:0.3rem;}
	17%{width:0.6rem;}
	32%{width:0.6rem;}
	33%{width:1rem;}
	48%{width:1rem;}
	49%{width:1.3rem;}
	64%{width:1.3rem;}
	65%{width:1.6rem;}
	80%{width:1.6rem;}
	81%{width:2.4rem;}
	100%{width:2.4rem;}
}
@-o-keyframes loadingdotshow {
	0%{ }
	to {  }
}
@-moz-keyframes loadingdotshow {
	0%{ }
	to {  }
}
@keyframes loadingdotshow {
	0%{width:0rem; }
	1%{width:0.3rem;}
	16%{width:0.3rem;}
	17%{width:0.6rem;}
	32%{width:0.6rem;}
	33%{width:1rem;}
	48%{width:1rem;}
	49%{width:1.3rem;}
	64%{width:1.3rem;}
	65%{width:1.6rem;}
	80%{width:1.6rem;}
	81%{width:2.4rem;}
	100%{width:2.4rem;}
}

.dotloading{
	width:0.25rem;
	height:0.25rem;
	float:left;			
	background:#2aa6a4;
	border-radius: 100%;
	margin-right:0.15rem;
}
/*page2*/
.slide2-container1{
	width:15.75rem;
	height:14.35rem;
	position:absolute;
	top:0;
	/* left: 50%;
	  	margin-left: -7.825rem; */
	 left:6.933%; 
}
.light{
	width:18.75rem;
	height:33.35rem;
	position:absolute;
	top:0;
	left:-9.84%;
	opacity:1;
	z-index:-2;
}
.charactor2_1{
	width:7.55rem;
	height:7.25rem;
	position:absolute;
	bottom:0;
	left:0;
}
.dialog2_1{
	width:9.6rem;
	height:10.7rem;
	position:absolute;
	top:9.06%;
	right:0;
	z-index:-1;
}
.hairyellow{
	width:1.25rem;
	height:2.1rem;
	position:absolute;
	top:0;
	left:0;
}
.hairyellowbox{
	width:1.25rem;
	height:2.1rem;
	position:absolute;
	top:37.98%;
	left:23.174%;
	z-index:2;
	-webkit-animation: hairrotate 2s linear 0.3s infinite alternate;
	   -moz-animation: hairrotate 2s linear 0.3s infinite alternate;
	    -ms-animation: hairrotate 2s linear 0.3s infinite alternate;
	     -o-animation: hairrotate 2s linear 0.3s infinite alternate;
	 -khtml-animation: hairrotate 2s linear 0.3s infinite alternate;
	        animation: hairrotate 2s linear 0.3s infinite alternate;
	-webkit-transform-origin:0 bottom;
	   -moz-transform-origin:0 bottom;
		-ms-transform-origin:0 bottom;
		 -o-transform-origin:0 bottom;
	 -khtml-transform-origin:0 bottom;
			transform-origin:0 bottom;
}
.slide2-containter2{
	width:100%;
	position:absolute;
	top:48.35%;
	/*left: 8%;*/
	left:0;
	text-align: center;
}
.tip2_1{
	width:13.825rem;
	height:2.325rem;
	position:absolute;
	top:0;
	/*left:8.27%;*/
	left:50%;
	margin-left:-6.9125rem;
}
.tip2_2{
	width:13.925rem;
	height:2.325rem;
	position:absolute;
	top:0;
	/*left:8.27%;*/
	left:50%;
	margin-left:-6.962rem;
}
.tip2_3{
	width:14.425rem;
	height:2.35rem;
	position:absolute;
	top:0;
	/*left:8.27%;*/
	left:50%;
	margin-left:-7.212rem;
}
@-webkit-keyframes translateher {
 0%{left:100%;}
 20%{left:50%;}
 80%{left:50%;}
 90%{left:60%;}
100%{left:-100%;}
}
@-khtml-keyframes translateher {
	0%{left:100%;}
 20%{left:50%;}
 80%{left:50%;}
 90%{left:60%;}
100%{left:-100%;}
}
@-ms-keyframes translateher {
	0%{left:100%;}
 20%{left:50%;}
 80%{left:50%;}
 90%{left:60%;}
100%{left:-100%;}
}
@-o-keyframes translateher {
 0%{left:100%;}
 20%{left:50%;}
 80%{left:50%;}
 90%{left:60%;}
100%{left:-100%;}
}
@-moz-keyframes translateher {
	 0%{left:100%;}
 20%{left:50%;}
 80%{left:50%;}
 90%{left:60%;}
100%{left:-100%;}
}
@keyframes translateher {
	0%{left:100%;}
 20%{left:50%;}
 80%{left:50%;}
 90%{left:60%;}
100%{left:-100%;}
}
.tip2_4{
	width:16.1rem;
	height:3.875rem;
	position:absolute;
	top:0;
	/*left:8.27%;*/
	left:50%;
	margin-left:-8.05rem;
}
@-webkit-keyframes translateher4 {
 0%{left:100%;}
 100%{left:50%;}
}
@-khtml-keyframes translateher4 {
 0%{left:100%;}
 100%{left:50%;}
}
@-ms-keyframes translateher4 {
 0%{left:100%;}
 100%{left:50%;}
}
@-o-keyframes translateher4 {
  0%{left:100%;}
 100%{left:50%;}
}
@-moz-keyframes translateher4 {
 0%{left:100%;}
 100%{left:50%;}
}
@keyframes translateher4 {
 0%{left:100%;}
 100%{left:50%;}
}
.slide2-containter3{
	width:17.975rem;
	height:9.9rem;
	position:absolute;
	right:0;
	bottom:4.8%;
}
.character2_2{
	width:8.25rem;
	height:7.75rem;
	position:absolute;
	right:0;
	bottom:0;
}
.character2_2box{
	width:8.25rem;
	height:7.75rem;
	position:absolute;
	right:-13.91%;
	bottom:0;
	-webkit-animation: character2_2move 3s linear 1s;
	   -moz-animation: character2_2move 3s linear 1s;
	    -ms-animation: character2_2move 3s linear 1s;
	     -o-animation: character2_2move 3s linear 1s;
	 -khtml-animation: character2_2move 3s linear 1s;
	        animation: character2_2move 3s linear 1s;
	-webkit-transform-origin:bottom 0;
	   -moz-transform-origin:bottom 0;
		-ms-transform-origin:bottom 0;
		 -o-transform-origin:bottom 0;
	 -khtml-transform-origin:bottom 0;
	        transform-origin:bottom 0;
}
@-webkit-keyframes character2_2move {
0%{right:-40%;}
30%{right:-16%;}
60%{right:-40%;}
100%{right:-13.91%;}
}
@-khtml-keyframes character2_2move {
0%{right:-60%;}
50%{right:-16%;}
55%{right:-60%;}
100%{right:-13.91%;}
}
@-ms-keyframes character2_2move {
0%{right:-60%;}
50%{right:-16%;}
55%{right:-60%;}
100%{right:-13.91%;}
}
@-o-keyframes character2_2move {
0%{right:-60%;}
50%{right:-16%;}
55%{right:-60%;}
100%{right:-13.91%;}
}
@-moz-keyframes character2_2move {
0%{right:-60%;}
50%{right:-16%;}
55%{right:-60%;}
100%{right:-13.91%;}
}
@keyframes character2_2move {
0%{right:-60%;}
50%{right:-16%;}
55%{right:-60%;}
100%{right:-13.91%;}
}

.hairyellow1{
	width: 1.1rem;
	height: 1.848rem;
	position: absolute;
	z-index: 2;
	left: 43%;
	top: -15%;
}
.though-small{
	width:2.25rem;
	height:1.6rem;
	position:absolute;
	left: 70.236%;
		top:12.12%;
		z-index:-1;
}
.though-bigbox{
	width:12.45rem;
	height:6.4rem;
	position:absolute;
	left:0;
	top: 0;
}
.though-big{
	width:12.45rem;
	height:6.4rem;
	position:absolute;
	left:0;
	top: 0;
}
.anger{
	width:1.225rem;
	height:1.1rem;
	position:absolute;
	left:41.9%;
	top: 13.12%;
}
.arrow-containter{
	width:100%;
	height:1.05rem;
	position:absolute;
	bottom:2.62%;
	left:0;
}

@-webkit-keyframes arrowmove {
	 0%{top:-0.5rem;}
	100%{top:0.5rem;}
}
@-khtml-keyframes arrowmove {
	0%{top:-0.5rem;}
	100%{top:0.5rem;}
}
@-o-keyframes arrowmove {
	0%{top:-0.5rem;}
	100%{top:0.5rem;}
}
@-moz-keyframes arrowmove {
0%{top:-0.5rem;}
	100%{top:0.5rem;}
}
@keyframes arrowmove {
	0%{top:-0.5rem;}
	100%{top:0.5rem;}
}
.arrow{
	width:1.3rem;
	height:1.05rem;
	position:absolute;
	left:50%;
	-webkit-animation: arrowmove 1s linear 2s infinite alternate;
	   -moz-animation: arrowmove 1s linear 2s infinite alternate;
	    -ms-animation: arrowmove 1s linear 2s infinite alternate;
	     -o-animation: arrowmove 1s linear 2s infinite alternate;
	 -khtml-animation: arrowmove 1s linear 2s infinite alternate;
	        animation: arrowmove 1s linear 2s infinite alternate;
}
.slide3-containter1{
	width:16.3rem;
	height:14rem;
	position: absolute;
	/*left: 7.33%;*/
	left: 50%;
	margin-left: -8.15rem;
	top:7.5%;
}
.character3_1{
	width:6.65rem;
	height:7.725rem;
	position: absolute;
	top:30.2%;
	right:6.15%;
	  z-index: 2;
}
.character3_1bg{
	width:11.25rem;
	height:11.25rem;
	background:#ffd553;
	border-radius:100%;
	position:absolute;
	z-index:-2;
	bottom:0;
	right:1.54%;
}
.heartbox1{
	width:3.45rem;
	height:2.35rem;
	position:absolute;
	top:45.18%;
	right:52.6%;
	-webkit-transform: scale(1,1)
	-khtml-transform: scale(1,1)
	-o-transform: scale(1,1)
	-moz-transform: scale(1,1)
			transform: scale(1,1)
	-webkit-animation: heartscale 0.4s linear 3s infinite alternate;
	   -moz-animation: heartscale 0.4s linear 3s infinite alternate;
	    -ms-animation: heartscale 0.4s linear 3s infinite alternate;
	     -o-animation: heartscale 0.4s linear 3s infinite alternate;
	 -khtml-animation: heartscale 0.4s linear 3s infinite alternate;
	        animation: heartscale 0.4s linear 3s infinite alternate;
}
.heart1{
	width:3.45rem;
	height:2.35rem;
	position:absolute;
	top:0;
	right:0;
}
.heart2{
	width:1.525rem;
	height:1.925rem;
	position:absolute;
	top:0;
	right:0;
}
.heartbox2{
	width:1.525rem;
	height:1.925rem;
	position:absolute;
	top:57.14%;
	right:0;
	-webkit-transform: scale(1,1)
	-khtml-transform: scale(1,1)
	-o-transform: scale(1,1)
	-moz-transform: scale(1,1)
			transform: scale(1,1)
	-webkit-animation: heartscale 0.4s linear 3s infinite alternate;
	   -moz-animation: heartscale 0.4s linear 3s infinite alternate;
	    -ms-animation: heartscale 0.4s linear 3s infinite alternate;
	     -o-animation: heartscale 0.4s linear 3s infinite alternate;
	 -khtml-animation: heartscale 0.4s linear 3s infinite alternate;
	        animation: heartscale 0.4s linear 3s infinite alternate;
}

@-webkit-keyframes heartscale {
	from {-webkit-transform: scale(1,1);  }
	to {-webkit-transform: scale(1.5,1.5);  }
}
@-khtml-keyframes heartscale {
	from {-khtml-transform: scale(1,1);  }
	to {-khtml-transform: scale(1.5,1.5);  }
}
@-o-keyframes heartscale {
	from {-o-transform: scale(1,1);  }
	to {-o-transform: scale(1.5,1.5);  }
}
@-moz-keyframes heartscale {
	from {-moz-transform: scale(1,1);  }
	to {-moz-transform: scale(1.5,1.5);  }
}
@keyframes heartscale {
	from {transform: scale(1,1);  }
	to {transform: scale(1.5,1.5);  }
}
.hairyellow-moving3_1box{
	width: 1.1rem;
	height: 1.848rem;
	position: absolute;
	top: 22%;
	right: 19%;
	z-index: 2;
}
.hairyellow-moving3_1{	
	width: 1.1rem;
	height: 1.848rem;
	position: absolute;
	top: 0;
	right:0;
}
.hat{
	width:2.35rem;
	height:2.35rem;
	position: absolute;
	right:1.6%;
	top:23.75%;

}
.dialog3_1{
	width:11.9rem;
	height:6.475rem;
	position: absolute;
	top:0;
	left:0;
	z-index:1;
}
.dialog3_3{
	width:10.55rem;
	height:3.175rem;
	position: absolute;
	top:5.71%;
	left:4.3%;
	z-index:1;
}
@-webkit-keyframes slide3-containter2move {
	0%{bottom:6.22%;}
	100%{bottom:4%;}
}
@-khtml-keyframes slide3-containter2move {
	0%{bottom:6.22%;}
	100%{bottom:4%;}
}
@-o-keyframes slide3-containter2move {
	0%{bottom:6.22%;}
	100%{bottom:4%;}
}
@-moz-keyframes slide3-containter2move {
	0%{bottom:6.22%;}
	100%{bottom:4%;}
}
@keyframes slide3-containter2move {
	0%{bottom:6.22%;}
	100%{bottom:4%;}
}
.slide3-containter2{
	width:16.5rem;
	height:14.2rem;
	position: absolute;
	/*left:3.07%;*/
	left: 6%;
	bottom:6.22%;
	z-index:2;
	  -webkit-animation:slide3-containter2move 1s ease 2s infinite alternate;
	   -moz-animation:slide3-containter2move 1s ease 2s infinite alternate;
	    -ms-animation:slide3-containter2move 1s ease 2s infinite alternate;
	     -o-animation:slide3-containter2move 1s ease 2s infinite alternate;
	 -khtml-animation:slide3-containter2move 1s ease 2s infinite alternate;
	        animation:slide3-containter2move 1s ease 2s infinite alternate;  
}
/*.floatcharactor*/
.character3_2{
	width:12.8rem;
	height:14.2rem;
	position:absolute;
	left:0;
	top:0;
}
 .flower{
	width:1.7rem;
	height:1.7rem ;
	position:absolute;
	left:0;
	top:0;
} 
.flowerbox{
	width:1.7rem;
	height:1.7rem ;
	 position:absolute;
	left:21.21%;
	top:17.6%;
	-webkit-animation: flowerrotate 4s linear 0s infinite;
	   -moz-animation: flowerrotate 4s linear 0s infinite;
	    -ms-animation: flowerrotate 4s linear 0s infinite;
	     -o-animation: flowerrotate 4s linear 0s infinite;
	        animation: flowerrotate 4s linear 0s infinite;
}
@-webkit-keyframes flowerrotate {
	from{-webkit-transform:rotateZ(0deg);}
	to{-webkit-transform:rotateZ(360deg)}
}
@-o-keyframes flowerrotate {
	from{-o-transform:rotateZ(0deg)}
	to{-o-transform:rotateZ(360deg)}
}
@-moz-keyframes flowerrotate {
	from{-moz-transform:rotateZ(0deg)}
	to{-moz-transform:rotateZ(360deg)}
}
@keyframes flowerrotate {
	from{transform:rotateZ(0deg)}
	to{transform:rotateZ(360deg)}
}
.dialog3_2{
	width: 6.225rem;
	height: 5.875rem;
	position: absolute;
	right:2.72% ;
	top:17.6%;
}
.crown{
	width: 1.55rem;
	height:1.55rem ;
	position: absolute;
	right: 0;
	top:12.67%;
}
.slide4-containter1{
	width:16.1rem;
	height:2.975rem;
	position:absolute;
	/*left:6.67%;*/
	left: 50%;
	margin-left: -8.05rem;
	top:10.8%;
}		
.dialog4_1{
	width:16.1rem;
	height:2.975rem;
	position:absolute;
	left:0;
	top:0;
}

.slide4-containter3{
	width:16.7rem;
	height:2.575rem;
	position:absolute;
	/* left:4.53%; */
	left: 50%;
  	margin-left: -8.35rem;
	top:12.37%;
}
.dialog4_2{
	width:16.7rem;
	height:2.575rem;
	position:absolute;
	left:0;
	top:0;
}
.slide4-containter2{ 
	width:12.425rem;
	height:15.95rem;
	position:absolute;
	/*left:21.6%;*/
	left:50%;
	margin-left:-6.212rem;
	top:30.584%;
}
.globe{
	width:12.425rem;
	height:15.95rem;
	position:absolute;
	left:0;
	top:0;
	z-index:-2;
}
.line{
	width:8.95rem;
	height:6.55rem;
	position:absolute;
	left:22%;
	top:17%;
	z-index:-1;
}
.spain{
	width:2.65rem;
	height:3.3rem;
	position:absolute;
	left:35.71%;
	top:6.21%;
}
.portugal{
	width:2.65rem;
	height:3.3rem;
	position:absolute;
	left:24.206%;
	top:16.615%;
}
.vietnam{
	width:2.65rem;
	height:3.3rem;
	position:absolute;
	left:66.67%;
	top:12.42%;
}
.chiengmai{
	width:2.65rem;
	height:3.3rem;
	position:absolute;
	left:57.54%;
	top:21.43%;
}
.slide4-containter4{
	width:13.15rem;
	height:12.7rem;
	position:absolute;
	/*left:21.33%;*/
	left: 50%;
	margin-left: -6.575rem;
	top:32.98%;
}
.clock{
	width:13.15rem;
	height:12.7rem;
	position:absolute;
	left:0;
	top:0;
	z-index:-2;
}
.clock_hand{
	width:9.2rem;
	height:9.2rem;
	position:absolute;
	top:14.8%;
	left:13.31%;
}
@-webkit-keyframes clocktwitle {
	from{-webkit-transform:rotateZ(0deg);}
	to{-webkit-transform:rotateZ(360deg)}
}
@-o-keyframes clocktwitle {
	from{-o-transform:rotateZ(0deg)}
	to{-o-transform:rotateZ(360deg)}
}
@-moz-keyframes clocktwitle {
	from{-moz-transform:rotateZ(0deg)}
	to{-moz-transform:rotateZ(360deg)}
}
@keyframes clocktwitle {
	from{transform:rotateZ(0deg)}
	to{transform:rotateZ(360deg)}
}
.clockshadow{
	width:4rem;
	height:5rem;
	position:absolute;
	left:48.1%;
	top:11.417%;
	z-index:-1;
	/* -webkit-animation: clocktwitle 1s linear 0s infinite;
	   -moz-animation: clocktwitle 1s linear 0s infinite;
	    -ms-animation: clocktwitle 1s linear 0s infinite;
	     -o-animation: clocktwitle 1s linear 0s infinite;
	        animation: clocktwitle 1s linear 0s infinite; */
}

.slide4-containter5{
	width:8.9rem;
	height:8.9rem;
	position:absolute;
	/*left:4%;*/
	left:20%;
	margin-left: -4.45rem;
	top:60%;
}
.character4_1{
	width:6.825rem;
	height:7.275rem;
	position:absolute;
	left:0;
	bottom: 0;
}
.handbox{
	width:2.85rem;
	height:5.15rem;
	position:absolute;
	right:0;
	top: 3.93%;
/* -webkit-animation: handrotate 2s linear 6s;
   -moz-animation: handrotate 2s linear 6s;
    -ms-animation: handrotate 2s linear 6s;
     -o-animation: handrotate 2s linear 6s;
        animation: handrotate 2s linear 6s;
        -webkit-transform-origin:0 bottom;
   -moz-transform-origin:0 bottom;
	-ms-transform-origin:0 bottom;
	 -o-transform-origin:0 bottom;
 -khtml-transform-origin:0 bottom;
		transform-origin:0 bottom;  */
}
@-webkit-keyframes handrotate {
	from{-webkit-transform:rotateZ(0deg);}
	to{-webkit-transform:rotateZ(-15deg)}
}
@-o-keyframes handrotate {
	from{-o-transform:rotateZ(0deg)}
	to{-o-transform:rotateZ(-15deg)}
}
@-moz-keyframes handrotate {
	from{-moz-transform:rotateZ(0deg)}
	to{-moz-transform:rotateZ(-15deg)}
}
@keyframes handrotate {
	from{transform:rotateZ(0deg)}
	to{transform:rotateZ(-15deg)}
}
.hand{
	width:2.85rem;
	height:5.15rem;
	display:block;
	position:absolute;
	right:0;
	top:0;
	-webkit-animation: handrotate 1s linear 2s infinite alternate;
	   -moz-animation: handrotate 1s linear 2s infinite alternate;
	    -ms-animation: handrotate 1s linear 2s infinite alternate;
	     -o-animation: handrotate 1s linear 2s infinite alternate;
	        animation: handrotate 1s linear 2s infinite alternate;
	-webkit-transform-origin:0 bottom;
	   -moz-transform-origin:0 bottom;
		-ms-transform-origin:0 bottom;
		 -o-transform-origin:0 bottom;
			transform-origin:0 bottom; 
}
.hairyellow4_1{
	width:1.05rem;
	height:2.1rem;
	position:absolute;
	left:42.7%;
	top:0;
}


/* slide 5 */

.slide-5 .block-1 {
	position: absolute;
	/*left: 12%;*/
	width: 17.5rem;
	height: 11.875rem;
	top: 14%;
	left:2%;
	/* left:50%;
	margin-left: -8.75rem; */
}

.slide-5 .img-1 {
	width: 10.775rem;
	height: 11.75rem;
	z-index: 3;
}

.slide-5 .img-3 {
	width: 7.675rem;
	height: 7rem;
	right:0;
	z-index: 2;
	top:13.9%;
}

.slide-5 .block-2 {
	position: absolute;
	right: 4%;
	width:15.9rem;
	height:11rem;
	bottom: 12.3%;
}

.slide-5 .img-2 {
	width: 7.3rem;
	height: 8.75rem;
	right:14.465%;
	bottom:0;
	z-index: 3;
}

.slide-5 .img-4 {
	width: 7.7rem;
	height: 7rem;
	top:0;
	left:0;
	z-index: 2;
}

.slide-5 .img-5 {
	width: 3.525rem;
	height: 3.175rem;
	bottom:1%;
	right:52.515%;
	z-index: 1;
}

.slide-5 .img-6 {
	width: 3.6rem;
	height: 6.15rem;
	bottom:1%;
	right:0;
	z-index: 1;
}

/*   slide 6 */

/*   slide 6 */

.slide-6 .block-1 {
	position: absolute;
	width: 14.525rem;
	height: 13.75rem;
	top: 18%;
	left: 50%;
	margin-left: -7.2625rem;
	/*left: 23%;*/
}

.slide-6 .img-1 {
	width: 14.525rem;
	height: 7.875rem;
}

.slide-6 .img-2 {
	z-index: 2;
	width: 5.875rem;
	height: 3.925rem;
	left: 27%;
	top: 53%;
}

.slide-6 .img-3 {
	z-index: 2;
	width: 5.875rem;
	height: 3.4rem;
	left: 27%;
	top: 53%;
}

.slide-6 .img-4 {
	width: 11.575rem;
	height: 8rem;
	left: 7%;
	top: -0.5rem;
}

@-webkit-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@-moz-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@-ms-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@-o-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}

.slide-6 .img-5.youling.active {
	width: 1.325rem;
	height: 1.875rem;
	opacity: 0;
	-webkit-animation: youling1 1.5s ease 1.5s 1 normal;
	   -moz-animation: youling1 1.5s ease 1.5s 1 normal;
	    -ms-animation: youling1 1.5s ease 1.5s 1 normal;
	     -o-animation: youling1 1.5s ease 1.5s 1 normal;
	        animation: youling1 1.5s ease 1.5s 1 normal;
}

@-webkit-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@-moz-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@-ms-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@-o-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}

.slide-6 .img-6.youling.active {
	width: 0.95rem;
	height: 0.725rem;
	opacity: 0;
	-webkit-animation: youling2 1.5s ease 1.6s 1 normal;
	   -moz-animation: youling2 1.5s ease 1.6s 1 normal;
	    -ms-animation: youling2 1.5s ease 1.6s 1 normal;
	     -o-animation: youling2 1.5s ease 1.6s 1 normal;
	        animation: youling2 1.5s ease 1.6s 1 normal;
}

@-webkit-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@-moz-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@-ms-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@-o-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}

.slide-6 .img-7.youling.active {
	width: 1.3rem;
	height: 1.325rem;
	opacity: 0;
	-webkit-animation: youling3 1.5s ease 1.7s 1 normal;
	   -moz-animation: youling3 1.5s ease 1.7s 1 normal;
	    -ms-animation: youling3 1.5s ease 1.7s 1 normal;
	     -o-animation: youling3 1.5s ease 1.7s 1 normal;
	        animation: youling3 1.5s ease 1.7s 1 normal;
}

@-webkit-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@-moz-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@-ms-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@-o-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}

.slide-6 .img-8.youling.active {
	width: 0.775rem;
	height: 0.525rem;
	opacity: 0;
	-webkit-animation: youling4 1.5s ease 1.8s 1 normal;
	   -moz-animation: youling4 1.5s ease 1.8s 1 normal;
	    -ms-animation: youling4 1.5s ease 1.8s 1 normal;
	     -o-animation: youling4 1.5s ease 1.8s 1 normal;
	        animation: youling4 1.5s ease 1.8s 1 normal;
}

.slide-6 .block-2 {
	width: 15.9rem;
	height: 4.5rem;
	position: absolute;
	/*left: 19%;*/
	left: 50%;
	margin-left: -7.95rem;
	top: 55%;
}

.slide-6 .block-2 img {
	width: 4.525rem;
	height: 4.5rem;
}

.slide-6 .block-2 .img-10 {
	left: 35%;
}

.slide-6 .block-2 .img-11 {
	left: 70%;
}

.slide-6 .block-3 {
	position: absolute;
	width: 14.65rem;
	height: 2.55rem;
	/*left: 20%;*/
	left: 50%;
	bottom: 15%;
	margin-left: -7.325rem;
}

.slide-6 .block-3 .img-12 {
	width: 14.65rem;
	height: 2.55rem;
}
.hairyellow6_1box{
	width:1.25rem;
	height:2.1rem;
	position:absolute;
	top:-11%;
	left:48%;
	z-index:2;
	-webkit-animation: hairrotate 2s linear 0.3s infinite alternate;
	   -moz-animation: hairrotate 2s linear 0.3s infinite alternate;
	    -ms-animation: hairrotate 2s linear 0.3s infinite alternate;
	     -o-animation: hairrotate 2s linear 0.3s infinite alternate;
	 -khtml-animation: hairrotate 2s linear 0.3s infinite alternate;
	        animation: hairrotate 2s linear 0.3s infinite alternate;
	-webkit-transform-origin:0 bottom;
	   -moz-transform-origin:0 bottom;
		-ms-transform-origin:0 bottom;
		 -o-transform-origin:0 bottom;
	 -khtml-transform-origin:0 bottom;
			transform-origin:0 bottom;
}
/*  slide 7  */

.slide-7 .block-1 {
	position: absolute;
	width:15.675rem;
	height: 26.125rem;
	/*left: 18%;*/
	left: 50%;
	top: 10%;
	margin-left: -7.8375rem;
}

.slide-7 .img-1 {
	width: 5.925rem;
	height: 7.25rem;
	z-index: 2;
	bottom: 1%;
	left: -1%;
}

.slide-7 .img-2 {
	width: 15.675rem;
	height: 25.525rem;
}

.slide-7 .img-3 {
	width: 3.175rem;
	height: 3.525rem;
	right: 10%;
	top: 0;
}

.slide-7 .img-4 {
	width: 10.9rem;
	height: 1.475rem;
	left: 10%;
	top: 15%;
}

.slide-7 .img-5 {
	width: 7.125rem;
	height: 2.45rem;
	left: 10%;
	top: 25%;
}

.slide-7 .img-6 {
	width: 10.05rem;
	height: 2.4rem;
	left: 10%;
	top: 40%;
}

.slide-7 .img-7 {
	width: 11.475rem;
	height: 2.625rem;
	left: 10%;
	top: 54%;
}

.slide-7 .img-8 {
	width: 1.25rem;
	height: 1.85rem;
	z-index: 2;
	bottom: 24%;
	left: 36%;
}

.slide-7 .img-9 {
	width: 2.35rem;
	height: 2.825rem;
	z-index: 2;
	bottom: 24%;
	left: 40%;
}
.hairyellow7_1box{
	width:1.1rem;
	height:1.848rem;
	position:absolute;
	bottom:26%;
	left:16%;
	z-index:2;
	-webkit-animation: hairrotate 2s linear 0.3s infinite alternate;
	   -moz-animation: hairrotate 2s linear 0.3s infinite alternate;
	    -ms-animation: hairrotate 2s linear 0.3s infinite alternate;
	     -o-animation: hairrotate 2s linear 0.3s infinite alternate;
	 -khtml-animation: hairrotate 2s linear 0.3s infinite alternate;
	        animation: hairrotate 2s linear 0.3s infinite alternate;
	-webkit-transform-origin:0 bottom;
	   -moz-transform-origin:0 bottom;
		-ms-transform-origin:0 bottom;
		 -o-transform-origin:0 bottom;
	 -khtml-transform-origin:0 bottom;
			transform-origin:0 bottom;
}
.hairyellow7_1{
	width:1.1rem;
	height:1.848rem;
	position:absolute;
	bottom:0;
	left:0;
}

/*pages8*/
.copy-right{
	width:100%;
	text-align:center;
	font-size:0.5rem;
	color:#58b6b3;
	position:absolute;
	left:0;
	bottom:1%;
}
.slide8-containter1{
	width:17rem;
	height:12.675rem;
	position: absolute;
	top:40.48%;
	left:6%;
	/*left: 50%;
	margin-left: -11.5rem;*/
	/*left: 33%;*/
	/*margin-left:-7.5rem;*/
}
.monster8_1{
	width:7.65rem;
	height:7.225rem;
	position:absolute;
	top:30.1%;
	left:0;
}
.hairyellow-moving8box{
	width:1.05rem;
	height:2.1rem;
	position:absolute;
	top:18%;
	left:22.29%;
	-webkit-animation: hairrotate 2s linear 0.3s infinite alternate;
	   -moz-animation: hairrotate 2s linear 0.3s infinite alternate;
	    -ms-animation: hairrotate 2s linear 0.3s infinite alternate;
	     -o-animation: hairrotate 2s linear 0.3s infinite alternate;
	 -khtml-animation: hairrotate 2s linear 0.3s infinite alternate;
	        animation: hairrotate 2s linear 0.3s infinite alternate;
	-webkit-transform-origin:0 bottom;
	   -moz-transform-origin:0 bottom;
		-ms-transform-origin:0 bottom;
		 -o-transform-origin:0 bottom;
	 -khtml-transform-origin:0 bottom;
			transform-origin:0 bottom;
}
.hairyellow-moving8{
	width:1.05rem;
	height:2.1rem;
}

@-webkit-keyframes eyemove {
	 0%{top:40%;}
	100%{top:42%;}
}
@-khtml-keyframes eyemove {
	 0%{top:40%;}
	100%{top:42%;}
}
@-o-keyframes eyemove {
	 0%{top:40%;}
	100%{top:42%;}
}
@-moz-keyframes eyemove {
 0%{top:40%;}
	100%{top:42%;}
}
@keyframes eyemove {
	 0%{top:40%;}
	100%{top:42%;}
}
.eye1box{
	width:0.525rem;
	height:0.525rem;
	position:absolute;
	top: 41%;
	left: 14%;	
	-webkit-animation: eyemove 2s linear 2s infinite alternate;
	   -moz-animation: eyemove 2s linear 2s infinite alternate;
	    -ms-animation: eyemove 2s linear 2s infinite alternate;
	     -o-animation: eyemove 2s linear 2s infinite alternate;
	 -khtml-animation: eyemove 2s linear 2s infinite alternate;
	        animation: eyemove 2s linear 2s infinite alternate;
}
 .eye1{
	width:0.525rem;
	height:0.525rem;	
} 
.eye2box{
	width:0.525rem;
	height:0.525rem;
	position:absolute;
	top:44.16%;
	left:28.5%;
	-webkit-animation: eyemove 2s linear 3s infinite alternate;
	   -moz-animation: eyemove 2s linear 3s infinite alternate;
	    -ms-animation: eyemove 2s linear 3s infinite alternate;
	     -o-animation: eyemove 2s linear 3s infinite alternate;
	 -khtml-animation: eyemove 2s linear 3s infinite alternate;
	        animation: eyemove 2s linear 3s infinite alternate;
}
.eye2{
	width:0.525rem;
	height:0.525rem;
	position:absolute;
	top:44.16%;
	left:28.23%;
}
.gift{
	width:13.6rem;
	height:10rem;
	position:absolute;
	right:-2%;
	top:0;
	z-index:-2;
}
.dialog8_1{
	width:10.625rem;
	height:5.6rem;
	position:absolute;
	bottom:0;
	right:-2%;
}

@-webkit-keyframes twitle {
	0%{opacity:1;}
	50%{opacity:1;}
	52%{opacity:0;}
	100%{opacity:0;}
}
@-khtml-keyframes twitle {
	0%{opacity:1;}
	50%{opacity:1;}
	52%{opacity:0;}
	100%{opacity:0;}
}
}
@-o-keyframes twitle {
	0%{opacity:1;}
	50%{opacity:1;}
	52%{opacity:0;}
	100%{opacity:0;}
}
@-moz-keyframes twitle {
	0%{opacity:1;}
	50%{opacity:1;}
	52%{opacity:0;}
	100%{opacity:0;}
}
@keyframes twitle {
	0%{opacity:1;}
	50%{opacity:1;}
	52%{opacity:0;}
	100%{opacity:0;}
}
.slide8-containter2{
	/* width:18.75rem;
	height:33.35rem; */
	width:20.075rem;
	height:15.9rem;
	position:absolute;
	left:52%;
	margin-left:-10rem;
	z-index:-4;
}
.light-dark-box,.light-dark-box{
	/* width:18.75rem;
	height:33.35rem; */
	width:20.075rem;
	height:15.9rem;
	position:absolute;
	top:0;
	left:0;
	-webkit-animation: twitle 0.5s linear 1s infinite alternate;
	   -moz-animation: twitle 0.5s linear 1s infinite alternate;
	    -ms-animation: twitle 0.5s linear 1s infinite alternate;
	     -o-animation: twitle 0.5s linear 1s infinite alternate;
	 -khtml-animation: twitle 0.5s linear 1s infinite alternate;
	        animation: twitle 0.5s linear 1s infinite alternate;
}
.light-dark-box{
	-webkit-animation: twitle 0.5s linear 1.5s infinite alternate;
	   -moz-animation: twitle 0.5s linear 1.5s infinite alternate;
	    -ms-animation: twitle 0.5s linear 1.5s infinite alternate;
	     -o-animation: twitle 0.5s linear 1.5s infinite alternate;
	 -khtml-animation: twitle 0.5s linear 1.5s infinite alternate;
	        animation: twitle 0.5s linear 1.5s infinite alternate;
}
.light-dark,.light-bright{
	/* width:18.75rem;
	height:33.35rem; */
	width:20.075rem;
	height:15.9rem;
	position:absolute;
	top:0;
	left:0;
	/* z-index:-4; */
}
.slide8-containter3{
	width:100%;
	height:10.5rem;
	position:absolute;
	top:6.9%;
	left:56%;
	margin-left:-48%;
}
.rmb{
	width:6rem;
	height:8.1rem;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-3rem;
}
.flower-big{
	width:6.85rem;
	height:8.275rem;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-3.425rem;
}
.dinner{
	width:11.925rem;
	height:10.5rem;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-5.96rem;
}
.slide8-containter4{
	width:10rem;
	height:3rem;
	position:absolute;
	bottom:7.65%;
	left:50%;
	margin-left:-5rem;
	-webkit-transform: scale(1,1)
	-khtml-transform: scale(1,1)
	-o-transform: scale(1,1)
	-moz-transform: scale(1,1)
			transform: scale(1,1)
	-webkit-animation: btnscale 0.3s linear 3s infinite alternate;
	   -moz-animation: btnscale 0.3s linear 3s infinite alternate;
	    -ms-animation: btnscale 0.3s linear 3s infinite alternate;
	     -o-animation: btnscale 0.3s linear 3s infinite alternate;
	 -khtml-animation: btnscale 0.3s linear 3s infinite alternate;
	        animation: btnscale 0.3s linear 3s infinite alternate;
}
@-webkit-keyframes btnscale {
	from {-webkit-transform: scale(1,1);  }
	to {-webkit-transform: scale(1.1,1.1);  }
}
@-khtml-keyframes btnscale {
	from {-khtml-transform: scale(1,1);  }
	to {-khtml-transform: scale(1.1,1.1);  }
}
@-o-keyframes btnscale {
	from {-o-transform: scale(1,1);  }
	to {-o-transform: scale(1.1,1.1);  }
}
@-moz-keyframes btnscale {
	from {-moz-transform: scale(1,1);  }
	to {-moz-transform: scale(1.1,1.1);  }
}
@keyframes btnscale {
	from {transform: scale(1,1);  }
	to {transform: scale(1.1,1.1);  }
}
.slide8-containter4 a,.slide8-containter4 a:focus{
	display:inline-block;
	border:none;
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
    -webkit-user-modify:read-write-plaintext-only; 
}
.button{
	width:10rem;
	height:3rem;
	position:absolute;
	bottom:0;
	left:0;
	border:none;
}