@charset "utf-8";
html,body{
			width:100%;
			height:100%;
			margin:0;
			padding:0;
		}
		img,span{
			margin:0;
			padding:0;
		}
		.swiper-container{
			width:100%;
			height:100%;
		}
		.swiper-slide{
			width:100%;
			height:100%;
			background:#f5e7b3 url(../images/mobile/bg.png);
			background-size:15px 4px;
			overflow:hidden;
			position:relative;
		}
		.transition{
			-webkit-transition: all 0.5s ease 0s;
			   -moz-transition: all 0.5s ease 0s;
			    -ms-transition: all 0.5s ease 0s;
			     -o-transition: all 0.5s ease 0s;
			        transition: all 0.5s ease 0s;
		}
		.transition-dot1{
			-webkit-transition: all 0.2s ease 0.6s;
			   -moz-transition: all 0.2s ease 0.6s;
			    -ms-transition: all 0.2s ease 0.6s;
			     -o-transition: all 0.2s ease 0.6s;
			        transition: all 0.2s ease 0.6s;
		}.transition-dot2{
			-webkit-transition: all 0.2s ease 1s;
			   -moz-transition: all 0.2s ease 1s;
			    -ms-transition: all 0.2s ease 1s;
			     -o-transition: all 0.2s ease 1s;
			        transition: all 0.2s ease 1s;
		}.transition-dot3{
			-webkit-transition: all 0.2s ease 1.4s;
			   -moz-transition: all 0.2s ease 1.4s;
			    -ms-transition: all 0.2s ease 1.4s;
			     -o-transition: all 0.2s ease 1.4s;
			        transition: all 0.2s ease 1.4s;
		}.transition-dot4{
			-webkit-transition: all 0.2s ease 1.8s;
			   -moz-transition: all 0.2s ease 1.8s;
			    -ms-transition: all 0.2s ease 1.8s;
			     -o-transition: all 0.2s ease 1.8s;
			        transition: all 0.2s ease 1.8s;
		}.transition-dot5{
			-webkit-transition: all 0.2s ease 2.2s;
			   -moz-transition: all 0.2s ease 2.2s;
			    -ms-transition: all 0.2s ease 2.2s;
			     -o-transition: all 0.2s ease 2.2s;
			        transition: all 0.2s ease 2.2s;
		}.transition-dot6{
			-webkit-transition: all 0.2s ease 2.6s;
			   -moz-transition: all 0.2s ease 2.6s;
			    -ms-transition: all 0.2s ease 2.6s;
			     -o-transition: all 0.2s ease 2.6s;
			        transition: all 0.2s ease 2.6s;
		}
		.slide1 img{
			width:154px;
			height:175px;
			position:absolute;
			top:41.5%;
			left:30.6%;
			opacity:1;
		}
		.slide1 img.hair{
			width:22px;
			height:42px;
			position:absolute;
			top:36.58%;
			left:49.6%;
			opacity:1;
			-webkit-animation: twitle 1.2s linear 0s infinite alternate;
			   -moz-animation: twitle 1.2s linear 0s infinite alternate;
			    -ms-animation: twitle 1.2s linear 0s infinite alternate;
			     -o-animation: twitle 1.2s linear 0s infinite alternate;
			     -khtml-animation: twitle 1.2s linear 0s infinite alternate;
			        animation: twitle 1.2s linear 0s infinite alternate;
			transform-origin:0 bottom;
		}
		.slide1 img.out{
			top:-24rem;
			opacity:0;
		}
		.slide1 .hair.out{
			top:-24rem;
			opacity:0;
		}
	@-webkit-keyframes twitle {
		from{-webkit-transform:rotateZ(-60deg);}
			to{-webkit-transform:rotateZ(30deg);}
	}
	@-khtml-keyframes twitle {
		from{-khtml-transform:rotateZ(-60deg);}
			to{-khtml-transform:rotateZ(30deg);}
	}
	@-ms-keyframes twitle {
		from{-ms-transform:rotateZ(-60deg);}
			to{-ms-transform:rotateZ(30deg);}
	}
	@-o-keyframes twitle {
	from{-o-transform:rotateZ(-60deg);}
			to{-o-transform:rotateZ(30deg);}
	}
	@-moz-keyframes twitle {
		from{-moz-transform:rotateZ(-60deg);}
			to{-moz-transform:rotateZ(30deg);}
	}
	@keyframes twitle {
		from{transform:rotateZ(-60deg);}
			to{transform:rotateZ(30deg);}
	}

	
		.dotloading{
			width:0.25rem;
			height:0.25rem;
			position:absolute;
			top:67%;
			left:66%;
			display:inline-block;
			background:#2aa6a4;
			border-radius: 100%;
		}
		.dot2{
			left:69.5%;
		}
		.dot3{
			left:71.5%;
		}
		.dot4{
			left:73.5%;
		}
		.dot5{
			left:75.5%;
		}
		.dot6{
			left:77.5%;
		}
		.dot1.out,.dot2.out,.dot3.out,.dot4.out,.dot5.out,.dot6.out{
			opacity:0;
		}


		/*page2*/
		.light{
			width:375px;
			height:667px;
			position:absolute;
			top:0;
			left:0;
			opacity:1;
			z-index:-2;
		}
		.charactor1{
			width:151px;
			height:145px;
			position:absolute;
			top:21.28%;
			left:6.93%;
		}
		
		.dialog1{
			width:191px;
			height:210px;
			position:absolute;
			top:2.17%;
			left:40%;
			z-index:-1;
		}
		.hairyellow{
			width:25px;
			height:42px;
			position:absolute;
			top:16.49%;
			left:25.33%;
			z-index:2;
			-webkit-animation: twitle 2s linear 3s infinite alternate;
			   -moz-animation: twitle 2s linear 3s infinite alternate;
			    -ms-animation: twitle 2s linear 3s infinite alternate;
			     -o-animation: twitle 2s linear 3s infinite alternate;
			     -khtml-animation: twitle 2s linear 3s infinite alternate;
			        animation: twitle 2s linear 3s infinite alternate;
			-webkit-transform-origin:0 bottom;
			   -moz-transform-origin:0 bottom;
				-ms-transform-origin:0 bottom;
				 -o-transform-origin:0 bottom;
			 -khtml-transform-origin:0 bottom;
			        transform-origin:0 bottom;
		}
		.character2{
			width:165px;
			height:155px;
			position:absolute;
			bottom:4.8%;
			left:70.34%;
		}
		.hairyellow1{
			width:20px;
			height:45px;
			position:absolute;
			z-index:2;
			left:85.33%;
			bottom:26.536%;
			-webkit-transform:rotateZ(-20deg);
			   -moz-transform:rotateZ(-20deg);
			    -ms-transform:rotateZ(-20deg);
			     -o-transform:rotateZ(-20deg);
			        transform:rotateZ(-20deg);
		}
		.though-small{
			width:45px;
			height:32px;
			position:absolute;
			left: 70%;
  			bottom: 24.88%;
  			z-index:-1;
		}
		.though-big{
			width:249px;
			height:128px;
			position:absolute;
			left: 4%;
			bottom:15.14%;
		}
		.arrow{
			width:26px;
			height:21px;
			position:absolute;
			left:50%;
			margin-left:-13px;
			bottom:2.62%;
			-webkit-animation: arrowmove 2s linear 3s infinite alternate;
			   -moz-animation: arrowmove 2s linear 3s infinite alternate;
			    -ms-animation: arrowmove 2s linear 3s infinite alternate;
			     -o-animation: arrowmove 2s linear 3s infinite alternate;
			 -khtml-animation: arrowmove 2s linear 3s infinite alternate;
			        animation: arrowmove 2s linear 3s infinite alternate;
		};

		@-webkit-keyframes arrowmove {
			from {-webkit-transform: translateY(-10px);  }
			to {-webkit-transform: translateY(10px);  }
		}
		@-o-keyframes arrowmove {
			from {-o-transform: translateY(-10px);  }
			to {-o-transform: translateY(10px);  }
		}
		@-moz-keyframes arrowmove {
			from {-moz-transform: translateY(-10px);  }
			to {-moz-transform: translateY(10px);  }
		}
		@keyframes arrowmove {
			from {transform: translateY(-10px);  }
			to {transform: translateY(10px);  }
		}