@charset "utf-8";

body {
	height: 100%;
	background: #f5e7b3 url(../images/mobile/bg.png);
  	background-size: 0.75rem 0.2rem;
  	margin: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.ani {
	position: absolute;
}

/* slide 5 */

.slide-5 .block-1 {
	position: absolute;
	left: 12%;
	width: 17.5rem;
	height: 11.875rem;
	top: 14%;
}

.slide-5 .img-1 {
	width: 10.775rem;
	height: 11.75rem;
	z-index: 3;
}

.slide-5 .img-3 {
	width: 7.675rem;
	height: 7rem;
	left: 57%;
	z-index: 2;
	top: 1rem;
}

.slide-5 .block-2 {
	position: absolute;
	left: 4%;
	width: 16rem;
	height: 11.375rem;
	bottom: 8%;
}

.slide-5 .img-2 {
	width: 7.3rem;
	height: 8.925rem;
	left: 60%;
	z-index: 3;
}

.slide-5 .img-4 {
	width: 7.675rem;
	height: 7rem;
	top: -1.7rem;
	left: 20%;
	z-index: 2;
}

.slide-5 .img-5 {
	width: 3.525rem;
	height: 3.175rem;
	top: 5.7rem;
	left: 42%;
	z-index: 1;
}

.slide-5 .img-6 {
	width: 3.6rem;
	height: 6.15rem;
	top: 2.7rem;
	left: 103%;
	z-index: 1;
}

/*   slide 6 */

.slide-6 .block-1 {
	position: absolute;
	width: 14.75rem;
	height: 13.75rem;
	top: 18%;
	left: 23%;
}

.slide-6 .img-1 {
	width: 14.525rem;
	height: 7.875rem;
}

.slide-6 .img-2 {
	z-index: 2;
	width: 5.875rem;
	height: 3.925rem;
	left: 27%;
	top: 53%;
}

.slide-6 .img-3 {
	z-index: 2;
	width: 5.875rem;
	height: 3.4rem;
	left: 27%;
	top: 53%;
}

.slide-6 .img-4 {
	width: 11.575rem;
	height: 8rem;
	left: 7%;
	top: -0.5rem;
}

@-webkit-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@-moz-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@-ms-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@-o-keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}
@keyframes youling1 {
	0% { left: 18%; top: 53%; opacity: 1; }
	100% { left: -5%; top: 40%; opacity: 0; }
}

.slide-6 .img-5.youling.active {
	width: 1.325rem;
	height: 1.875rem;
	opacity: 0;
	-webkit-animation: youling1 1.5s ease 1.5s 1 normal;
	   -moz-animation: youling1 1.5s ease 1.5s 1 normal;
	    -ms-animation: youling1 1.5s ease 1.5s 1 normal;
	     -o-animation: youling1 1.5s ease 1.5s 1 normal;
	        animation: youling1 1.5s ease 1.5s 1 normal;
}

@-webkit-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@-moz-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@-ms-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@-o-keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}
@keyframes youling2 {
	0% { left: 24%; top: 67%; opacity: 1; }
	100% { left: 2%; top: 58%; opacity: 0; }
}

.slide-6 .img-6.youling.active {
	width: 0.95rem;
	height: 0.725rem;
	opacity: 0;
	-webkit-animation: youling2 1.5s ease 1.6s 1 normal;
	   -moz-animation: youling2 1.5s ease 1.6s 1 normal;
	    -ms-animation: youling2 1.5s ease 1.6s 1 normal;
	     -o-animation: youling2 1.5s ease 1.6s 1 normal;
	        animation: youling2 1.5s ease 1.6s 1 normal;
}

@-webkit-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@-moz-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@-ms-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@-o-keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}
@keyframes youling3 {
	0% { left: 68%; top: 50%; opacity: 1; }
	100% { left: 78%; top: 40%; opacity: 0; }
}

.slide-6 .img-7.youling.active {
	width: 1.3rem;
	height: 1.325rem;
	opacity: 0;
	-webkit-animation: youling3 1.5s ease 1.7s 1 normal;
	   -moz-animation: youling3 1.5s ease 1.7s 1 normal;
	    -ms-animation: youling3 1.5s ease 1.7s 1 normal;
	     -o-animation: youling3 1.5s ease 1.7s 1 normal;
	        animation: youling3 1.5s ease 1.7s 1 normal;
}

@-webkit-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@-moz-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@-ms-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@-o-keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}
@keyframes youling4 {
	0% { left: 68%; top: 63%; opacity: 1; }
	100% { left: 78%; top: 53%; opacity: 0; }
}

.slide-6 .img-8.youling.active {
	width: 0.775rem;
	height: 0.525rem;
	opacity: 0;
	-webkit-animation: youling4 1.5s ease 1.8s 1 normal;
	   -moz-animation: youling4 1.5s ease 1.8s 1 normal;
	    -ms-animation: youling4 1.5s ease 1.8s 1 normal;
	     -o-animation: youling4 1.5s ease 1.8s 1 normal;
	        animation: youling4 1.5s ease 1.8s 1 normal;
}

.slide-6 .block-2 {
	width: 16rem;
	height: 4.5rem;
	position: absolute;
	left: 19%;
	top: 55%;
}

.slide-6 .block-2 img {
	width: 4.525rem;
	height: 4.5rem;
}

.slide-6 .block-2 .img-10 {
	left: 35%;
}

.slide-6 .block-2 .img-11 {
	left: 70%;
}

.slide-6 .block-3 {
	position: absolute;
	width: 14.65rem;
	height: 2.55rem;
	left: 20%;
	bottom: 15%;
}

.slide-6 .block-3 .img-12 {
	width: 14.65rem;
	height: 2.55rem;
}

/*  slide 7  */

.slide-7 .block-1 {
	position: absolute;
	width: 16.575rem;
	height: 26.125rem;
	left: 18%;
	top: 10%;
}

.slide-7 .img-1 {
	width: 5.925rem;
	height: 7.25rem;
	z-index: 2;
	bottom: 1%;
	left: -1%;
}

.slide-7 .img-2 {
	width: 15.675rem;
	height: 25.525rem;
}

.slide-7 .img-3 {
	width: 3.175rem;
	height: 3.525rem;
	right: 10%;
	top: 0;
}

.slide-7 .img-4 {
	width: 10.9rem;
	height: 1.475rem;
	left: 10%;
	top: 15%;
}

.slide-7 .img-5 {
	width: 7.125rem;
	height: 2.45rem;
	left: 10%;
	top: 25%;
}

.slide-7 .img-6 {
	width: 10.05rem;
	height: 2.4rem;
	left: 10%;
	top: 40%;
}

.slide-7 .img-7 {
	width: 11.475rem;
	height: 2.625rem;
	left: 10%;
	top: 54%;
}

.slide-7 .img-8 {
	width: 1.25rem;
	height: 1.85rem;
	z-index: 2;
	bottom: 24%;
	left: 36%;
}

.slide-7 .img-9 {
	width: 2.35rem;
	height: 2.825rem;
	z-index: 2;
	bottom: 24%;
	left: 40%;
}