@charset "utf-8";
/* CSS Document */


html,body,div,p,span,table,dl,dt,dd,img,a,ul,li,input,option,select{ margin:0; padding:0;}
body{ font-family:Arial, Helvetica, sans-serif,宋体; font-size:12px; background:url(../img/body_bg.gif) repeat-x top center;}
img,input{ border:0;}
a:link{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:underline;}
a:action{ text-decoration:none;}

.bodydiv{ width:1280px; height:100%; margin:0 auto;}
.top{ width:1280px; height:80px; position:relative;}
.logo{ width:160px; height:60px; float:left; margin-left:145px; margin-top:13px;}
.menu{ width:660px; height:25px; margin-top:45px; margin-left:20px; float:left; font-size:14px;}
.menu li{ width:60px; height:25px; margin-left:8px; text-align:center; line-height:25px; color:#FFF; list-style-type:none; float:left;}
.menu li a,.menu-2 li a{ color:#FFF;}
.menu-li-1{ width:30px !important;}
.menu-li{ width:45px !important;}
#tip{background:url(../img/xx3_bg.png) no-repeat center center; position:absolute; top:40px; left:930px; width:15px; height:15px; color:#FFFFFF; text-align:center; font-size:11px;}
.top-right{ width:90px; height:25px; margin-top:45px; margin-left:10px; float:left; display:block;}
.top-right a{ width:30px; height:20px; float:left; display:block;}
.menu-2{ width:985px; height:35px; margin-top:10px;}
.menu-2 li{ width:76px; height:37px; float:left; text-align:center; line-height:37px; margin-right:10px; display:block; color:#FFF; list-style-type:none;}
.menu-2-li-1{ background:url(../img/ty_bg.gif) no-repeat top center; margin-top:-4px; padding-top:6px;}
.middle{ width:1280px; height:530px; background:#F1F1F1; float:left; margin-top:40px;}
.xiangqing{ width:985px; height:38px; background:url(../img/jiantou.gif) no-repeat top center; margin-left:145px; margin-top:15px;}
.xiangqing ul{ width:420px; height:38px; line-height:38px; text-align:center; margin-left:45px;}
.xiangqing ul li{ width:85px; height:38px; float:left; list-style-type:none; cursor:pointer;}
.xiangqing-li{ width:83px !important;}
.pnrtx{ width:985px; height:70px;}
.pnrtx-left{ width:700px; height:70px; float:left; margin-left:145px; margin-top:15px;}
.pnr-1{ width:700px; height:30px; line-height:30px;}
.pnr-1 input{ width:110px; height:18px; line-height:18px; background:#E7E7E7; padding-left:3px; text-align:left; color:#585858; border:1px solid #DCDCDC;}
.pnr-1-div{ width:170px; height:20px; float:left; color:#464646; margin-right:8px;}
.pnr-1-div1{ width:150px !important; float:left;}
.radio{ width:700px; height:30px; float:left;}
.radio div{ width:110px; height:20px; line-height:20px; float:left; margin-right:10px; margin-top:10px;}
.radio div input{ margin-bottom:-3px;}
.radio-div{ width:55px !important;}
.radio-div-1{ width:120px !important;}
.botton-right{ width:265px; height:70px; margin-left:20px; margin-top:15px; float:left;}
.checkbox{ width:75px; height:70px; line-height:70px; text-align:center; float:left;}
.checkbox input{ margin-bottom:-3px; margin-right:5px;}
.rixi{ width:82px; height:70px; text-align:center; float:left;}
.rixi input{ width:78px; height:18px; margin-top:10px; line-height:18px; background:#E7E7E7; padding-left:3px; text-align:left; color:#585858; border:1px solid #DCDCDC;}
.zhi{ width:20px; height:70px; line-height:70px; text-align:left; float:left; margin-left:5px;}
.botton-cz{ width:79px; height:25px; text-align:center; float:left; margin-top:23px;}
.botton-cz input{ width:79px; height:25px; background:url(../img/botton.gif) no-repeat; color:#FFFFFF;}
.dingdan{ width:982px; height:290px; margin-top:20px; margin-left:145px; background:url(../img/middle_bg.jpg) no-repeat; float:left;}
.dd-top{ width:920px; height:30px; line-height:30px; margin-left:40px; margin-top:5px;}
.dd-p-1{ width:40px; height:30px; line-height:30px; font-weight:bold; font-size:14px; text-align:center; float:left;}
.dd-p-2{ width:80px; height:30px; float:right;}
.k-header{width:930px; height:25px; float:left; margin-left:25px; margin-top:10px; border:0px; overflow:hidden;}
.k-grid-content{ width:930px; height:170px; float:left; margin-left:25px; border-top:1px solid #E0E0E0;border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0; background:#F9F9F9;}
.k-grid-content td{ border-bottom:1px solid #E0E0E0; overflow:hidden;}
.k-grid-content td:first-child{ padding-left:5px;}
.k-grid-content tr:first-child{background:#FDFAD6;}
.table-td-1{ width:100px;}
.table-td-2{ width:70px;}
.k-pager-wrap,.k-grid-pager,.k-widget{ width:305px; height:41px;}
.k-pager-numbers-k-reset{ width:305px; height:41px; float:left; margin-left:660px;}
.k-pager-numbers-k-reset li{ width:30px; height:41px; line-height:41px; text-align:center; list-style-type:none; float:left; cursor:pointer;}
.k-pager-numbers-k-reset-li{ background:url(../img/shuozhi_bg.gif) repeat-x top center;}
.foot{ width:1280px; height:60px; text-align:center; float:left;}
.foot p{ width:1280px; height:18px; line-height:18px; margin-top:8px; color:#FFFFFF;}
.foot p a{ color:#FFFFFF; margin-right:5px; margin-left:5px;}
.foot-p{ margin-top:2px !important;}
