@charset "utf-8";

html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}
body {
    background: #fff;
}
* {
	outline: none;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {
	list-style-type:none;
}
header, section, footer, article, aside, details, figcaption, figure, hgroup,nav {
	display: block;
}
textarea{
    resize:none;
}

input[type='text'],
input[type='password'] {
}

a {
	outline:none;
	text-decoration:none;
	/*for FF*/
}

.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display:block;
	min-height:1%;
}
*html .fixed {
	height:1%;
}

.clearfix{ *zoom: 1;}
.clearfix:after{ 
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td,table th {
    empty-cells:show;
}

::selection {
    color: #fff;
    background-color: #f47900;
}

::-moz-selection {
    color: #fff;
    background-color: #f47900;
}

/* width: 750px */
html {
    font-size: 62.5%;  /*  10px = 0.625em  = 62.5%  基准换算值 */
}
/* 头部 */
.mainHeader {
    background:#fff;
    width:100%;
}
.headerCon {
    width:640px;
    /*width:64rem;*/
    margin:0 auto;
    height:126px;
    /*height:12.6rem;*/
    text-align: center;
    position:relative;
}
.subNavSpan {
    position: absolute;
    width: 100px;
    height: 60px;
    top: 35px;
    right: 10px;
    cursor: pointer;
    text-align: right;
    padding: 10px;
}
.subNavSpan i {
    background: url("../image/nav-moreIcon.png") no-repeat;
    width:5.3rem;
    height:4.3rem;
    display:inline-block;
}
.subNavDiv {
    width:210px;
    height:320px;
    padding:20px;
    background:#fff;
    -webkit-box-shadow: 1px 0 10px #ccc;
    -moz-box-shadow: 1px 0 10px #ccc;
    box-shadow:1px 0 10px #ccc;
    position:absolute;
    top:126px;
    right:1px;
}
.subNavDiv li {
    padding:0 0 30px 0;
}
.subNavDiv li a {
    color:#ea7400;
    font-size: 36px;
    font-size: 3.6rem;
    text-decoration: none;
}
.subNavDiv li a:hover {
    color:#ea7400;
    text-decoration: none;
}
.subNavDiv .tenet, .subNavDiv .milestone, .subNavDiv .news, .subNavDiv .aboutUs {
    background:url("../image/subNavIcon.png") no-repeat 0 0;
    width:35px;
    height:28px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.subNavDiv .milestone {
    background-position: 0 -33px;
    width:26px;
    height:33px;
}
.subNavDiv .news {
    background-position: 0 -71px;
    width:31px;
    height:31px;
}
.subNavDiv .aboutUs {
    background-position: 0 -107px;
    width:33px;
    height: 36px;
}
.headerCon .logo {
    background: url("../image/logo.png") no-repeat;
    width: 15.3rem;
    height: 8rem;
    display: inline-block;
    margin:2.3rem 0 0 0;
}
/* 主体内容部分 */

/* 底部 */
.foot {
    background: #fff;
    width:100%;
}
.mainFoot {
    width:640px;
    /*width:64rem;*/
    margin:0 auto;
    text-align: center;
    /*color:#fffb91;*/
    color:#000;
    height: 8.8rem;
    line-height: 8.8rem;
    font-size: 14px;
    font-size: 1.4rem;
}
