@charset "utf-8";

html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}
body {
    background: #fff;
    font-family:Helvetica;
}
* {
	outline: none;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {
	list-style-type:none;
}
header, section, footer, article, aside, details, figcaption, figure, hgroup,nav {
	display: block;
}
textarea{
    resize:none;
}

input[type='text'],
input[type='password'] {
}

a {
	outline:none;
	text-decoration:none;
	/*for FF*/
}

.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display:block;
	min-height:1%;
}
*html .fixed {
	height:1%;
}

.clearfix{ *zoom: 1;}
.clearfix:after{ 
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td,table th {
    empty-cells:show;
}

::selection {
    color: #fff;
    background-color: #f47900;
}

::-moz-selection {
    color: #fff;
    background-color: #f47900;
}

/* width: 750px */
@media screen and (width: 375px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (width: 320px) {
    html {
        font-size: 53.3%;
    }
}

@media screen and (width: 360px) {
    html {
        font-size: 60%;
    }
}

@media screen and (width: 393px) {
    html {
        font-size: 65.5%;
    }
}

@media screen and (width: 414px) {
    html {
        font-size: 69%;
    }
}

/* 头部 */
.mainHeader {
    background:#fff;
    width:100%;
    box-shadow:-2px 2px 7px -1px #ccc;
    -webkit-box-shadow: -2px 2px 7px -1px #ccc;
    -moz-box-shadow: -2px 2px 7px -1px #ccc;
}
.headerCon {
    margin:0 auto;
    height:6.3rem;
    text-align: center;
    position:relative;
}
.subNavSpan {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: right;
    padding: 2rem 1.5rem 2rem 3rem;
}
.subNavSpan i {
    background: url("../image/nav-moreIcon.png") no-repeat;
    width:2.65rem;
    height:2.15rem;
    display:inline-block;
    background-size: contain;
}
.subNavDiv {
    width:12rem;
    padding:0.5rem;
    background:#fff;
    box-shadow:-2px 2px 7px -1px #ccc;
    -webkit-box-shadow: -2px 2px 7px -1px #ccc;
    -moz-box-shadow: -2px 2px 7px -1px #ccc;
    position:absolute;
    top: 6.3rem;
    right:0.05rem;
    z-index: 2;
}
.subNavDiv li {
    padding: 0.8rem 0;
}
.subNavDiv li a {
    color:#ea7400;
    font-size: 1.8rem;
    text-decoration: none;
}
.subNavDiv li a:hover {
    color:#ea7400;
    text-decoration: none;
}
.subNavDiv .tenet{
    width:1.75rem;
    height:1.4rem;
    background: url("../image/selectMenuIcon01.png") no-repeat;
}
.subNavDiv .milestone {
    width:1.3rem;
    height:1.65rem;
    background: url("../image/selectMenuIcon02.png") no-repeat;
}
.subNavDiv .news {
    width:1.55rem;
    height:1.55rem;
    background: url("../image/selectMenuIcon03.png") no-repeat;
}
.subNavDiv .aboutUs {
    width:1.65rem;
    height: 1.8rem;
    background: url("../image/selectMenuIcon04.png") no-repeat;
}
.subNavDiv .tenet, .subNavDiv .milestone, .subNavDiv .news, .subNavDiv .aboutUs {
    display:inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: -0.5rem;
    background-size: contain;
}
.headerCon .logo {
    background: url("../image/logo.png") no-repeat;
    width: 7.65rem;
    height: 4rem;
    display: inline-block;
    margin-top: 1.2rem;
    background-size: contain;
}
.headerCon .logo img {
    width: 7.65rem;
    height: 4rem;
}

/* 主体内容部分 */

/* 底部 */
.foot{
    font-size: 1.1rem;
}
.foot .mainFoot {
    width: 100%;
    text-align: center;
    color:#636363;
    padding: 0.8rem 0;
    line-height: 1.5rem;
    background-color: #fff;
}
.changeFoot .mainFoot{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}