@charset "utf-8";

.mileageBanner {
  height: 100px;
  text-align: center;
  font-size: 4.8rem;
  color: #e2700f;
  line-height: 100px;
}

.mileage-background{
	background-color: #fffcf6;
	width: 100%;
}

.mainBody {
  margin: 20px auto;
  position: relative;
  width: 750px;
}

.mileageList {
  margin: 25px 42px 25px;
}

.mileageList .current {
  color: #f47900;
}

.mileageList li {
  color: #737373;
  font-size: 1.6rem;
  padding: 0 0 50px 50px;
  position: relative;
}

.mileageList .commonIcon {
  background: url("../image/mileageIcon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 4rem;
  left: 0;
  position: absolute;
  top: -5px;
  vertical-align: middle;
  width: 4rem;
  z-index: 2;
}

.commonIcon.houseIcon {
  background-position: -45px -135px;
}

.mileageList .current {
  color: #f47900;
}

.commonIcon.current.houseIcon {
  background-position: 0 -135px;
}

.mileageList .leftLine {
  border-left: 3px solid #f47900;
  height: 100%;
  left: 18px;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 1;
}

.commonIcon.mobileIcon {
  background-position: -45px 0;
}	

.commonIcon.trophyIcon {
  background-position: -45px -45px;
}

.commonIcon.informIcon {
  background-position: -45px -90px;
}

.commonIcon.planeIcon {
  background-position: -45px -180px;
}

.commonIcon.walletIcon {
  background-position: -45px -225px;
}

.commonIcon.onLineIcon {
  background-position: -45px -270px;
}

.commonIcon.diamondIcon {
  background-position: -45px -315px;
}

.commonIcon.heartIcon {
  background-position: -45px -360px;
}

.commonIcon.textIcon {
  background-position: -45px -405px;
}

.commonIcon.eyeIcon {
  background-position: -45px -450px;
}