
html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	font-family:"microsoft yahei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-text-size-adjust:none;
}
body{
    font-size:0.8em;
    background-color: #f0efef;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {
	list-style-type:none;
}
h1,h2,h3,h4,h5,h6 {
	color:#666;
}
h1 {font-size:2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
h5 {font-size:1em;}
h6 {font-size:.875em;}
body,input,select,button,textarea {
	font-size:12px;
}

textarea{
    resize:none;
}

input[type=text],input[type=password]{
	cursor:text;
}
i,em,cite {
	font-style:normal;
}

a {
	outline:none;
	text-decoration:none;
	/*for FF*/
}
a {
	star:expression(this.onFocus=this.blur());
	/* for Ie*/
}
.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display:block;
	min-height:1%;
}
*html .fixed {
	height:1%;
}
.clear {
	display:block !important;
	float:none !important;
	clear:both;
	overflow:hidden;
	width:auto !important;
	height:0 !important;
	margin:0 auto !important;
	padding:0 !important;
	font-size:0;
	line-height:0;
}

.fl,.fr {
	display:inline;
	float:left;
}
.fr {
	float:right;
}

.clearfix{ *zoom: 1;}
.clearfix:after{ content:".";
     height:0;
    visibility:hidden;
    display:block;
    clear:both;
}

label input{
    vertical-align:middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td,table th {
    empty-cells:show;
}

button{
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
    text-transform: none;
    line-height: normal;
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

.commonBigBlueBtn, .disabled_btn {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #0695e1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.commonBigBlueBtn:hover{
    background-color: #0685c9;
}
.blueFontsBtn{
    color: #0695e1;
    margin-left: 10px;
}
.blueFontsBtn:hover{
    color: #0695e1;
    text-decoration: underline;
}
.commonBigOrangeBtn{
    font-size: 16px;
    border: 0;
    background-color: #ff6600;
    display: inline-block;
    min-width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.commonBigOrangeBtn:hover{
    background-color: #fd7e2a;
}
.commonBtnFonts{
    font-size: 16px;
    color: #333333;
    margin-left: 20px;    
}
.commonBtnFonts:hover{
    color: #ff6600;
}

.disabled_btn {
    background-color: #dbdbdb;
    cursor: default;
    display: inline-block;
}

.pull-left{ float: left;}
.pull-right{ float: right;}

/*  页面头 */
.main-header .stairMenuContent{
    background:#fefefe;
    height:63px;
}
.wrap{ 
    width: 1100px; 
    margin: 0 auto;
    position: relative;
}
.wrap .logo{
    float:left;
    display:block;
    width:175px;
    height:19px;
    background:url(../../../images/openPlatform/openPlatformIcon.png) no-repeat -121px -50px;
    margin: 35px 50px 0 0;
}
.wrap .stairMenu{
    float: left;
    margin-top: 32px;
}
.wrap .stairMenu li{
    float: left;
    min-width: 100px;
    text-align: center;
    padding: 0 15px 20px 15px;
}
.stairMenu li a{
    display: block;
    color: #666666;
    font-size: 16px;
}
.stairMenu li a:hover{
    color: #0695e1;
}
.stairMenu li.currentStairMenu a{
    color: #0695e1;
}
.stairMenu li .arrowIcon{
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}
.stairMenu li .arrowIcon{
    background-position: -378px 0;
}
.stairMenu li.currentStairMenu .topArrowIcon,
.stairMenu li.currentStairMenu:hover .topArrowIcon{
    background-position: -314px 0;
}
.stairMenu li.currentStairMenu .bottomArrowIcon,
.stairMenu li:hover .arrowIcon{
    background-position: -333px 0;
}
.first-level-nav {
    cursor: pointer;
}
.first-level-nav:hover a {
    color: #0695e1;
}
.main-header .headSecondLevel{
    background-color: #1e3e50;
    position: absolute;
    width: 100%;
    height: 45px;
    top: 64px;
}
.second-level-nav {
    background-color: #1e3e50;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 64px;
}
.second-level-nav .secondLevelList{
    width: 1100px;
    margin: 0 auto;
}

.second-level-nav .secondLevelList a {
    color: #fff!important;
}
.second-level-nav .secondLevelList li {
    padding: 7px 0;
}
.secondLevelList li{
    float: left;
    font-size: 16px;
    margin-right: 30px;
    min-width: 90px;
    text-align: center;
}
.secondLevelList li:first-child{
    margin-left: 270px;
}
.secondLevelList li a{
    display: block;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.secondLevelList li a:hover{
    background-color: #0695e1;
}
.secondLevelList li.currentSecondLevelMenu a{
    background-color: #0695e1;
}
.wrap .headRightOperate{
    float: right;
    margin: 27px 10px 0 5px;
    font-size: 14px;
}
.headRightOperate .userContent{
    margin-right: 15px;
    color: #666666;
}
.headRightOperate .userContent .userIcon{
    display: inline-block;
    width: 31px;
    height: 31px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat 0 0;
    vertical-align: middle;
    margin-right: 5px;
}
.headRightOperate .userContent:hover,
.headRightOperate .exitFonts:hover{
    color: #ff6600;
    text-decoration: none;
}
.headRightOperate .exitFonts{
    color: #999999;
}

/*  页面body  */
.main-body  {
    min-height: 500px;
    margin: 15px auto;
    width: 1100px;
    margin-top: 55px;
}

/*  页面 footer start */
.main-footer{
    background-color:#202e3a;
    text-align: center;
    color: #9a9999;
    padding: 25px 0;
    margin-bottom: 3px;
    line-height: 30px;
    box-shadow: 3px 3px 10px 5px #919191;
    -webkit-box-shadow: 3px 3px 10px 5px #919191;
}
.main-footer .differentLink a{
    color: #9a9999;
}
.main-footer .differentLink a:hover{
    text-decoration: underline;
}
/*  页面 footer end */

/*  升级通知  and  返回顶部 start   */
.returnTop,
.informIcon{
    width: 47px;
    height: 47px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    font-size: 0;
    cursor: pointer;
    position: fixed;
    left: 50%;
    margin-left: 553px;
}
.returnTop{
    background-position: -53px -79px;
    bottom: 20%;
    display: none;
}
.returnTop:hover{
    background-position: -159px -79px;
}
.informIcon{
    background-position: 0 -79px;
    bottom: 237px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .informIcon{
        background-position: 0 -79px;
        bottom: 245px;
    }
}
@-moz-document url-prefix(){
    .informIcon{
        background-position: 0 -79px;
        bottom: 233px;
    }
}
.informIcon:hover{
    background-position: -106px -79px;
}
/*  升级通知  and  返回顶部 end  */

.leftStaticNav {
    margin-bottom: 0!important;
}

.leftStaticNav li:last-child {
    border-bottom: none;
}


/* 通用翻页*/
.pagination { margin:10px 0;}
.pagination div { float:right; height:30px; line-height:30px;}
.pagination div span { margin: 0 15px 0 0;}
.pagination ul { margin:0 10px 0 0; float:right;}
.pagination ul li { float:left;}
.pagination ul li a { display:inline-block; padding:6px 12px; border:1px solid #ccd5de; color:#666;border-right: none;font-family: "microsoft yahei";}
.pagination .ellipsisLi {
    margin: 0 10px;
}
.pagination ul li:last-child {border-right:1px solid #ccd5de;}
.pagination ul li:first-child { margin-right: 3px;border-right:1px solid #ccd5de;}

.pagination ul li a:hover { text-decoration:none; cursor:pointer; background:#eee;}

.pagination .present { color:#fff; text-decoration:none; cursor:pointer; background:#0695e1; border:1px solid #0695e1;border-right: none;}
.pagination .present:hover { background:#0695e1; border:1px solid #0695e1;border-right: none;}

.pagination ul li span { color:#666;vertical-align: sub;}

.pagination .disabled { color:#ccd5de;}
.pagination .disabled:hover { color:#ccd5de; background:none; border:1px solid #ccd5de; cursor:default;}
.pagination input[type=text] {
    padding: 5px;
    width:25px;
    border:1px solid #ccd5de;
    margin: 0 5px;
}