@charset "utf-8";
/* CSS Document */

/* 后台-国内机票 start */
.leftMenu{
    width:220px;
    float:left;
}
.menuChange,.noMenuChange{
    position: relative;
    background:#fff;
    margin-left: 5px;  
    margin-bottom: 50px;
}
.menuChange li,.noMenuChange li{
    float:left;
    color:#a7c7e5;
    cursor:pointer;
    padding-bottom: 3px;
}
.firstLevel{
    background-color: #fff;
}
.firstLevel em{
    position: relative;
    width:200px;
    color: #fff;
    display:inline-block;
    padding:10px 0 10px 20px;
    font-size:16px;
    font-weight:normal;
    background-color: #1e3e50;
    border-bottom: 1px solid #fff;
}
.firstLevel em:hover{
    color: #fff;
}
.firstLevel em:hover .bigTitleListHover{
    display: inline-block;
}
.firstLevel .bitTitle{
    display: inline-block;
    min-width: 120px;
}
.firstLevel .bigTitleListHover{
    position: absolute;
    right: 8px;
    top: 8px;
    display: none;
}
.firstLevel .bigCompileIcon,
.firstLevel .bigTitleDelIcon,
.bigSaveAndDel .bigSaveIcon,
.bigSaveAndDel .bigDelIcon,
.secondLevel .smallTitleDelIcon,
.smallSaveAndDel .smallSaveIcon,
.smallSaveAndDel .smallDelIcon,
.smallAddContent .smallAddIcon,
.addBigTitleContent .bigAddIcon{
    display: inline-block;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    vertical-align: middle;
    margin-left: 3px;
    cursor: pointer;
}
.firstLevel .bigCompileIcon{
    background-position: 0 -131px;
    width: 18px;
    height: 18px;
}
.firstLevel .bigCompileIcon:hover{
    background-position: -49px -131px;
}
.firstLevel .bigTitleDelIcon{
    background-position: -24px -131px;
    width: 19px;
    height: 19px;
}
.firstLevel .bigTitleDelIcon:hover{
    background-position: -73px -131px;
}

.firstLevel .bigTitleEdit,
.secondLevel .smallTitleEdit{
    position: relative;
    background-color: #0695e1;
    display: inline-block;
    width: 200px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.firstLevel .bigTitleEdit{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.bigTitleEdit .bigInputEdit,
.smallTitleEdit .smallInputEdit{
    display: inline-block;
    background: none;
    border: 0;
    padding-left: 10px;
    width: 140px;
    color: #fff;
}
.bigTitleEdit .bigInputEdit{
    font-size: 16px;
}
.bigTitleEdit .bigSaveAndDel,
.smallTitleEdit .smallSaveAndDel{
    position: absolute;
    right: 5px;
    top: -1px;
}
.bigSaveAndDel .bigSaveIcon,
.smallSaveAndDel .smallSaveIcon{
    width: 19px;
    height: 19px;
    background-position: -161px -131px;
}
.bigSaveAndDel .bigSaveIcon:hover,
.smallSaveAndDel .smallSaveIcon:hover{
    background-position: -208px -131px;
}
.bigSaveAndDel .bigDelIcon,
.smallSaveAndDel .smallDelIcon{
    width: 19px;
    height: 19px;
    background-position: -184px -131px;
}
.bigSaveAndDel .bigDelIcon:hover,
.smallSaveAndDel .smallDelIcon:hover{
    background-position: -232px -131px;
}
.secondLevel .smallTitleDelIcon{
    position: absolute;
    right: -12px;
    top: 11px;
    width: 19px;
    height: 19px;
    background-position: -137px -131px;
    display: none;
}
.secondLevel .smallTitleEdit{
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    margin-left: -15px;    
}
.smallTitleEdit .smallInputEdit{
    font-size: 14px;
}
.secondLevel .smallAddContent{
    color: #0695e1;
    font-size: 16px;
    display: block;
    cursor: pointer;
}
.secondLevel .smallAddContent:hover{
    color: #ff4800;
}
.smallAddContent .smallAddIcon{
    background-position: -117px -131px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.secondLevel .smallAddContent:hover .smallAddIcon{
    background-position: -97px -131px;
}
.secondLevel .addSecondLevelList{
    display: none;
}
.secondLevel{ 
    position: relative;
    margin-bottom: 40px;
}
.secondLevel .addSecondLevelLastLi{
    position: absolute;
    left: 0;
    bottom: -40px;
    border-bottom: 0;
}
.menuChange .addBigTitleContent,
.commonStyle .addTabTr{
    font-size: 16px;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #25a896;
    background-color: #d9f5f1;
    border: 1px dashed #92ddd2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
}
.menuChange .addBigTitleContent{
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 220px;
}
.commonStyle .addTabTr{
    margin-top: 10px;
    width: 100%;
    display: none;
}
.menuChange .addBigTitleContent:hover,
.commonStyle .addTabTr:hover{
    background-color: #bef4ed;
}
.addBigTitleContent .bigAddIcon,
.addTabTr .addLightBlueIcon{
    background-position: -258px -131px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.menuChange .secondLevel,
.menuChange .currentMenu{
    background:#fff ;
}
.secondLevel li{
    position: relative;
    padding:10px 0;
    margin: 0 20px;
    font-size:14px;
    font-weight:normal;
    width:180px;
    color: #666666;
    border-bottom: 1px solid #ececec;
}
.secondLevel li:hover{ color:#ff4800;}
.secondLevel li:hover .smallTitleDelIcon{
    display: block;    
}
.secondLevel .currentStatus,
.secondLevel .currentStatus:hover{
    color:#ff4800;
    background:#fff;
    border-left: 5px solid #ff6600;
    margin-left: -5px;
    margin-right: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    box-shadow: 3px 3px 7px 0px #f2ebe6;
    -webkit-box-shadow: 3px 3px 7px 0px #f2ebe6;
}
.secondLevel .currentStatus:hover .smallTitleDelIcon {
    display: block!important;
    right: 8px;
}
.firstLevel .sideTopArrowIcon {
    background: url(../../../images/openPlatform/openPlatformIcon.png) no-repeat -348px 0;
    width: 10px;
    height: 7px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
.firstLevel .sideBottomArrowIcon {
    background-position: -364px 0px;
}


.rightCont {
    width: 835px;
    float: right;
}
.rightTitleCont{
    font-size: 16px;
    color: #333;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #c8c9c9;
}
.rightTitleCont .fontsBoldTitle{
    display: inline-block;
    min-width: 85px;
    vertical-align: middle;
}
.rightTitleCont .titleInput{
    display: inline-block;
    width: 340px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    font-size: 16px;
    border: 0;
}
.rightTitleCont .hasInputBorder,
.commonStyle .hasInputBorder input[type="text"]{
    border: 1px solid #dcdcdc;
}
.rightTitleCont .hasInputBorder:focus,
.commonStyle .hasInputBorder input[type="text"]:focus{
    border: 1px solid #40aee8;
    box-shadow: 0px 0px 5px 1px #c9ecfe;
}
.rightTitleCont .changeBtn{
    float: right;
    margin-right: 20px;
}
.editBtn .editIcon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -49px -131px;
    width: 19px;
    height: 19px;
}

.hoverContent{
    background-color: #fff;
    padding: 15px;
}
.hoverContent .commonStyle{
    margin: 40px 5px 20px 10px;
    font-size: 14px;
}
.hoverContent .commonStyle.first{
    margin-top: 0;
}
.commonStyle .titleFonts16{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.commonStyle .titleSubText {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    padding-left: 20px;
}
.redStar {
    color: #ff0000;
    padding: 0 2px;
    vertical-align: middle;
}
.commonStyle .commonP{
    line-height: 23px;
    color: #666666;
}
.commonStyle .htmlContent{
    font-size: 14px;
    background-color: #efeeee;
    color: #666666;
    padding: 15px;
    width: 760px;
    height: 400px;
    line-height: 20px;
    overflow: auto;
    border: 0;
}
*::selection,textarea::selection{
    background-color: #ff6600;
    color: #fff;
}
*::-moz-selection,textarea::-moz-selection{
    background-color: #ff6600;
    color: #fff;
}
.commonStyle .blueHeadTab{
    width: 100%;
}
.commonStyle .blueHeadTab th,
.commonStyle .blueHeadTab td{
    padding: 7px 5px 7px 10px;
}
.commonStyle .blueHeadTab th:first-child,
.commonStyle .blueHeadTab td:first-child{
    padding-left: 15px;
}
.commonStyle .blueHeadTab td:first-child{
    color: #333333;
}
.commonStyle .blueHeadTab th{
    background-color: #daeff7;
    font-weight: normal;
    text-align: left;
}
.commonStyle .blueHeadTab td{
    border-bottom: 1px dashed #cccccc;
    color: #666;
}
.commonStyle .blueHeadTab .oneLineEllipsis{
    display: inline-block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.commonStyle .textareaContent{
    font-size: 14px;
    color: #666666;
    width: 760px;
    height: 150px;
    padding: 10px;
    line-height: 22px;
    border: 0;
}
.commonStyle .textareaContent.hasTextareaBor{
    border: 1px solid #dcdcdc;
}
.commonStyle .textareaContent.hasTextareaBor:focus,
.commonStyle .addFocusBorder:focus{
    border: 1px solid #40aee8;
    box-shadow: 0px 0px 5px 1px #c9ecfe;
}
.commonStyle .formatTransform{
    position: relative;
}
.formatTransform .commonModel{
    width: 790px;
}
.formatTransform .XMLContnet{
    
}
.commonModel .commonModelTitle{
    font-size: 16px;
    display: inline-block;
    width: 790px;
    height: 30px;
    line-height: 30px;
    color: #333333;
    text-align: center;
    padding: 2px 0;
}
.XMLContnet .XMLTitle{
    background-color: #c5ece7;
}
.commonModel .transformTextarea{
    display: inline-block;
    width: 768px;
    height: 420px;
    line-height: 20px;
    border: 1px solid #dcdcdc;
    color: #666;
    padding: 10px;
}
.formatTransform .JSONContnet{
    float: right;
}
.JSONContnet .JSONTitle{
    background-color: #ffc8b0;
}
.transformHint{
    position: absolute;
    top: 40%;
    left: 47%;
    display: none;
}
.commonIcon{
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    cursor: pointer;
}
.transformHint .orangeIcon{
    width: 47px;
    height: 47px;
    background-position: 0 -159px;
}
.transformHint .orangeIcon:hover{
    background-position: -109px -159px;
}
.transformHint .blueIcon{
    width: 47px;
    height: 47px;
    background-position: -54px -159px;
    margin: 12px 0;
}
.transformHint .blueIcon:hover{
    background-position: -163px -159px;
}
.transformHint .transformHintFonts{
    color: #999999;
    margin-left: -5px;
}
.blueHeadTab td input[type="text"]{
    border: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 3px;
    font-size: 14px;
}
.blueHeadTab .width70{
    width: 70px;
    color: #333;
}
.blueHeadTab .width210{
    width: 210px;
    color: #666;
}
.blueHeadTab .width390{
    width: 390px;
    color: #666;
}
.blueHeadTab .addDelIconTd{
    position: relative;
}
.blueHeadTab .trDelIcon{
    position: absolute;
    right: -2px;
    top: 13px;
    width: 22px;
    height: 22px;
    background-position: -307px -131px;
    display: none;
}
.blueHeadTab tr:hover .trDelIcon{
    background-position: -280px -131px;
}
.changeOperation,
.addTrContent{
    display: none;
}

.delHintContent{
    width: 350px;
    margin: 20px auto;
}
.deleteHintFonts{
    font-size: 16px;
    color: #333;
}
.deleteHintFonts p{
    line-height: 25px;
}
.delHintContent .hintBtn{
    margin-top: 30px;
    text-align: center;
}
.displayNone {
    display: none;
}
/* 后台-国内机票 end */


/*  文档下载 start  */
.noMenuChange{
    margin-top: 15px;
}
.noMenuChange .firstLevel em{
    background: #0695e1;
}
.secondLevel li.last{
    border-bottom: 0;
}
.commonTitle{
    margin: 10px 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #d8d7d7;
}
.commonTitle .titleFonts{
    font-size: 18px;
    color: #333333;
}
.rightCont .commonTitle.noBottomLine{
    border-bottom: 0;
}
.commonTitle.noBottomLine .titleFonts{
    margin-top: 10px;
}
.commonStyle .haveBottomLine{
    border-bottom: 1px solid #f0efef;
    padding-bottom: 10px;
}
.commonStyle .secondLevelTitle{
    margin: 20px;
}
.secondLevelTitle .explainFonts{
    font-weight: bold;
    font-size: 16px;
    color: #0695e1;
}
.explainFonts .explainIcon{
    width: 18px;
    height: 23px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -310px -16px;
    margin-right: 10px;
}
.lightBlueTab{
    width: 100%;
    margin: 20px 0;
    border: 1px solid #c0e4f2;
}
.lightBlueTab thead th{
    padding: 10px;
    text-align: center;
    color: #333333;
    background-color: #daeff7;
    border-bottom: 1px solid #a6e1f7;
}
.lightBlueTab tbody td{
    padding: 10px;
    color: #797d7f;
    border-left: 1px solid #c0e4f2;
    text-align: center;
    vertical-align: top;
}
.lightBlueTab tbody td div{
    line-height: 25px;
}
.lightBlueTab tbody td:first-child{
    text-align: left;
    padding-left: 20px;
}
.lightBlueTab tbody td a{
    color: #0695e1;
    margin-right: 10px;
}
.lightBlueTab tbody td a:hover{
    text-decoration: underline;
}
.lightBlueTab tbody td a:hover.orangeHoverLink{
    color: #ff6600;
}
.lightBlueTab tbody td a:hover.greenHoverLink{
    color: #5ab757;
}
.lightBlueTab tbody .lightBlueFonts{
    color: #9eddff;
}
.lightBlueTab .documentIcon{
    width: 16px;
    height: 21px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -333px -16px;
    margin-right: 10px;
}
.addWhiteIcon{
    width: 15px;
    height: 15px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -333px -133px;
}
.lightBlueTab .startUsingIcon{
    width: 16px;
    height: 15px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -350px -131px;
    cursor: default;
}
.lightBlueTab .blockUpIcon{
    width: 16px;
    height: 15px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -370px -131px;
    cursor: default;
}
.windowContent{
    text-align: center;
}
.windowContent .orangeTitleFonts{
    color: #ff6600;
    font-size: 14px;
    margin: 10px 0 15px;
}
.windowAPITab{
    margin: 15px 0;
    font-size: 14px;
    color: #666;
}
.windowAPITab th{
    text-align: right;
    color: #333;
    padding: 10px 3px;
}
.windowAPITab td{
    text-align: left;
    padding: 5px 3px 10px;
}
.windowAPITab td input[type="text"]{
    padding: 0 3px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #cccccc;
    vertical-align: middle;
}
.windowAPITab .uploadingBtn{
    display: inline-block;
    margin-left: -5px;
    padding: 0 7px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    border-left: 0;
    vertical-align: middle;
}
.uploadingBtn .uploadingFileIcon{
    width: 17px;
    height: 19px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -328px -48px;
    margin-right: 0;
}
.uploadingBtn .uploadingFileIcon:hover{
    background-position: -350px -48px;
}
.cancelBtn{
    font-size: 16px;
    color: #0695e1;
    margin-left: 20px;
}
.cancelBtn:hover{
    color: #ff6600;
}
.windowContent .blueBelHintFonts{
    font-size: 16px;
    color: #333;
    margin: 40px 0;
}
/*  文档下载 end  */






/* 常见问题管理 */
.editCategoryIcon{
    display: inline-block;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    background-position: -49px -131px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.bigTitleClickFrame{
    position: relative;
    left: 40px;
    cursor: pointer;
}

.editCategoryList .left{
    float: left;
    font-size:14px;
   
    
    font-weight:normal;
   
    color: #666666;
    
}

.editCategoryList .right{
    
    float: right;
    font-size:14px;
    font-weight:normal;
    
    color: #666666;

}

.editCategoryList{
    width: 168px;
}

.editCategoryList:hover .left,.editCategoryList:hover .right
{ 
    color:#ff4800;
}

.edit-windows-list .left{
    float: left;
    color: #333333;
}

.edit-windows-list .right{
    float: right;
    color: #333333;
    margin-right: 30px;
}

.smallTitleDelIcon2{
    display: inline-block;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    background-position: -137px -131px;
    vertical-align: middle;
    margin-left: 3px;
    cursor: pointer; 
    width: 19px;
    height: 19px;
}

.editCategory-name{
    width: 136px;
    height: 40px;
    color: #666666;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid #dcdcdc;
    text-indent: 4px;
}

.editCategory-number{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    border: 1px solid #dcdcdc;
}

.editCategory-frame{
    width: 250px;
    margin-bottom:0px;
}

.editCategoryList2{
    width: 250px;
}

.editCategory-frame li{
    border-bottom: none;
}

.create-category{
    
    width: 178px;
    background-color: #d9f5f1;
    border: 1px dashed #92ddd2;
    border-radius: 4px;
    color: #25a896;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.create-category-sign{
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: -258px -131px;
    width: 15px;
    height: 15px;
    display: inline-block;
     margin-left: 3px;
    vertical-align: middle;
    margin-right: 10px;
}

.operation-btn{
    width: 224px;
    height: 40px;
    margin-bottom: 10px;
}

.complete-btn{
    width: 112px;
    height: 40px;
    line-height: 40px;
    float: left;
    background-color: #0695e1;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn{
    width: 110px;
    height: 40px;
    line-height: 40px;
    float: right;
    color: #0695e1;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.question-title{
    float: right;
    width: 835px;
    margin-bottom: 10px;
}

.create-question-btn{
    display: inline-block;
    float: right;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background-color: #0695e1;
    border-radius: 2px;
    width: 150px;
    cursor: pointer;    
}

.create-question-btn .icon{
    background: url("../../../images/openPlatform/addQuestionIcon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.question-title .title-font1{
    font-size: 18px;
    color: #333333;
    position: relative;
    top: 10px;
}

.question-title .title-font2{
    font-size: 14px;
    color: #666666;
    position: relative;
    top: 10px;
}

.question-title .title-font3{
    font-size: 14px;
    color: #0695e1;
    position: relative;
    top: 10px;
}

.question-rightCont{
    width: 835px;
    float: right;
    background-color: #fefefe;
    border: 1px solid #e6e5e5;
    position: relative;
}

.question-frame1{
    float: left;
    width: 20px;
    height: 170px;
}

.question-frame2{
    width: 725px;
    margin: 0 20px;
    /*height: 170px;*/
    height: 100%;
    float: left;
}

.question-frame3{
    width: 5px;
    /*height: 170px;*/
    height: 100%;
    float: left;
}

.question-frame4{
    width: 65px;
    height: 100%;
    float: left;
    position: absolute;
    top: 0px;
    right: 0px;
}

.question-content1{
    /*height: 72px;*/
    height: 100%;
    padding: 20px 0px;
}

.question-edit-frame{
    height: 100%;
    padding: 20px 0px;
}

.answer-edit-frame{
    height: 100%;
    padding: 20px 0px;
    border-top: 1px dashed #f0efef;
}

.question-content2{
    height: 100%;
    border-top: 1px dashed #f0efef;
    padding: 20px 0;
}

.letterQ{
    font-size: 16px;
    color: #0695e1;
    float: left;
}

.letterQ-edit{
    font-size: 16px;
    color: #0695e1;
    float: left;
    position: relative;
    top:12px;
}

.letterQ2{
    font-size: 16px;
    color: #0695e1;
    font-size: 28px;
    vertical-align: middle;
}

.letterA{
    display: inline-block;
    float: left;
    color: #ff8d42;
    font-size: 14px;
}

.letterA-edit{
    display: inline-block;
    float: left;
    color: #ff8d42;
    font-size: 14px;
}

.letterA2{
    color: #ff8d42;
    font-size: 14px; 
    font-size: 28px;
    position: relative;
    top: -52px;
    left: 20px;
}

.question{
    font-size: 16px;
    color: #333333;
    float: left;
    display: inline-block;
    width: 690px;
}

.answer{
    font-size: 14px;
    color: #666666;
    width: 690px;
    display: inline-block;
    float: left;
}


.question-frame4 .edit,.question-frame4 .save{
    height: 50%;
    text-align: center;
    border-bottom: 1px solid #f0efef;
    border-left: 1px solid #f0efef;
    cursor: pointer;
    display: table;
    width: 100%;
}

.question-frame4 .cancel{
    height: 50%;
    text-align: center;
    border-bottom: 1px solid #f0efef;
    border-left: 1px solid #f0efef;
    cursor: pointer;
    display: table;
    width: 100%;
}

.edit-frame{
    display: table-cell;
    vertical-align: middle;
}

.delete-frame{
    display: table-cell;
    vertical-align: middle;
}

.save-frame{
    display: table-cell;
    vertical-align: middle;
}

.cancel-frame{
    display: table-cell;
    vertical-align: middle;
}

.question-frame4 .edit:hover,.question-frame4 .save:hover{
    background-color: #f9f9f9;
}

.question-frame4 .cancel:hover{
     background-color: #f9f9f9;
}

.question-frame4 .delete:hover{
    background-color: #f9f9f9;
    color: #ff6600;
}

.question-frame4 .edit:hover .font1,.question-frame4 .save:hover .font1{
    color: #0695e1;
}

.question-frame4 .delete:hover .font1{
    color: #ff6600;
}

.question-frame4 .cancel:hover .font1{
    color: #ff6600;
}

.question-frame4 .edit:hover .pencil{
    background-position: -7px -89px;

}

.question-frame4 .delete{
    width: 100%;
    height: 50%;
    text-align: center;
    border-left: 1px solid #f0efef;
    cursor: pointer;
    display: table;
}

/*.question-frame4 .cancel{
    height: 83px;
    text-align: center;
    border-left: 1px solid #f0efef;
    cursor: pointer;
}*/

.question-frame4 .delete:hover .delete-icon{
    background-position: -32px -89px;
}

.pencil{
    background: url("../../../images/openPlatform/questionManage.png") no-repeat scroll -31px -59px rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.question-frame4 .saveIcon{
    background: url("../../../images/openPlatform/questionManage.png") no-repeat scroll -5px -32px rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.question-frame4 .save:hover .saveIcon{
    background-position: -5px -5px;
}

.question-frame4 .cancelIcon{
    background: url("../../../images/openPlatform/questionManage.png") no-repeat scroll -32px -32px rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    display: inline-block;
    
}

.question-frame4 .cancel:hover .cancelIcon{
    background-position: -32px -5px;
}

.edit .font1,.delete .font1,.save .font1,.cancel .font1{
    font-size: 14px;
    color: #666666;
    display: block;
}

.delete .delete-icon{
    background: url("../../../images/openPlatform/questionManage.png") no-repeat scroll -5px -59px rgba(0, 0, 0, 0);
    width: 19px;
    height: 19px;
    display: inline-block;
}

.question-rightCont-edit{
  background-color: #fefefe;
  border: 1px solid #e6e5e5;
  float: right;
  width: 835px;
  border: 1px solid #42adce;
}

.question-edit{

    border: 1px solid #cecece;
color: #333333;
float: left;
font-size: 16px;
height: 40px;
padding: 12px 0 0 8px;
text-indent: 4px;
width: 682px;



    /*width: 690px;
    height: 40px;
    border: 1px solid #cecece;
    vertical-align: middle;
    font-size: 16px;
    color: #333333;
    text-indent: 4px;
    float: left;
    position: relative;
    top: 10px;


    padding: 8px 0 0 8px;*/



}

.answer-edit{
    width: 680px;
    height: 72px;
    font-size: 14px;
    color: #666666;
    border: 1px solid #cecece;
    float: left;
    line-height: 20px;
    padding: 8px 0px 0px 8px;
}

.blue-border{
    border: 1px solid #40aee8;
}

.window-question{
    width: 625px;
    height: 40px;
    border: 1px solid #bdbdbd;
}

.window-answer{
    width: 625px;
    height: 126px;
    border: 1px solid #bdbdbd;
}

.windowCreateQuesAPITab{
    font-size: 14px;
    color: #666;
    margin: 45px 0px 15px;
}
.windowCreateQuesAPITab th{
    text-align: right;
    color: #333;
    padding: 10px 3px;
}
.windowCreateQuesAPITab td{
    text-align: left;
    padding: 5px 3px 10px;
}
.windowCreateQuesAPITab td input[type="text"]{
    padding: 0 3px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #cccccc;
    vertical-align: middle;
}
.windowCreateQuesAPITab .uploadingBtn{
    display: inline-block;
    margin-left: -5px;
    padding: 0 7px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    border-left: 0;
    vertical-align: middle;
}

/* 常见问题管理 end */

/*用户管理 用户详情 start*/
.rightContMarginTop {
    margin-top: 15px;
}
.currentTitleFonts18 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #f0efef;
    padding:0 0 10px 0;
    font-weight: normal;
}
.userInfoTable th {
    color: #666;
    text-align: right;
    padding:10px 8px 10px 0;
    font-weight: normal;
}
.userInfoTable td {
    color: #333;
    padding:10px 8px 10px 0;
}
.userInfoTable input[type=password] {
    border: 1px solid #dcdcdc;
    width:182px;
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    font-size: 14px;
}
.operBtnDiv {
    padding: 0 0 0 90px;
    margin: 20px 0 0 0;
}
.operBtnDiv .cancelFonts, .operBtnDiv .cancelFonts-disabled {
    color: #0695e1;
    font-size: 16px;
    text-decoration: underline;
}
.operBtnDiv .cancelFonts-disabled {
    color: #dbdbdb;
    cursor: default;
}
.marginLeft30 {
    margin-left: 30px;
}
/*提示弹窗*/
.windowContent .tipsContent {
    color: #636363;
    font-weight: bold;
    font-size: 18px;
    margin: 30px 0;
}
.windowContent .successIcon, .windowContent .failIcon {
    background: url("../../../images/openPlatform/tipsIcon.png") no-repeat 0 0;
    width:36px;
    height: 36px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.windowContent .failIcon {
    background-position: 0 -40px;
}
/*用户管理 用户详情 end*/

.uploadingBtn .k-upload-button {
    width: 32px;
    height: 35px;
    position: relative;
    top: 3px;
    left: -1px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.edit-questionandanswer-frame{
    background-color: #fefefe;
    border: 1px solid #42adce;
    float: right;
    width: 835px;
    position: relative;
}

.edit-questionandanswer-content{
    float: left;
    height: 100%;
    margin: 0 20px;
    width: 725px;
}

.environment-top,.environment-bottom{
    background-color: #fff;
    padding: 0 15px;
}

.test-environment-frame,.formal-environment-frame{
    color: #333333;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f0efef;
}

.test-environment-detail,.formal-environment-detail{
    height: 50px;
    line-height: 50px;
    padding: 16px 0px;

}

.test-environment-detail .secret,.formal-environment-detail .secret{
    width: 220px;
    float: left;
    border-right: 1px solid #f0efef;
    text-align: center;
}

.test-environment-detail .secret .font1,.test-environment-detail .status .font1,
.test-environment-detail .keyTime .font1{
    font-size: 14px;
    color: #666666;
}

.formal-environment-detail .secret .font1,.formal-environment-detail .status .font1,
.formal-environment-detail .keyTime .font1{
    font-size: 14px;
    color: #666666;
}

.test-environment-detail .secret .font2,.test-environment-detail .keyTime .font2{
    font-size: 14px;
    color: #0695e1;
}

.formal-environment-detail .secret .font2,.formal-environment-detail .keyTime .font2{
    font-size: 14px;
    color: #0695e1;
}

.test-environment-detail .status{
    width: 108px;
    float: left;
    border-right: 1px solid #f0efef;
    text-align: center;
}

.formal-environment-detail .status{
    width: 108px;
    float: left;
    border-right: 1px solid #f0efef;
    text-align: center;
}

.test-environment-detail .status .yeah,.formal-environment-detail .status .yeah{
    background: url("../../../images/openPlatform/clientCenter.png") no-repeat -6px -6px;
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.test-environment-detail .keyTime,.formal-environment-detail .keyTime{
    width: 456px;
    float: left;
}

.test-environment-detail .keyTime .left,.formal-environment-detail .keyTime .left{
    float: left;
    width: 175px;
    display: inline-block;
    margin-left: 25px;
}

.test-environment-detail .keyTime .right,.formal-environment-detail .keyTime .right{
    float: right;
    width: 110px;
    display: inline-block;
    border: 1px solid #ff6600;
    border-radius: 4px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #ff6600;
    font-size: 14px;
    cursor: pointer;
}

.test-environment-detail .keyTime .right:hover,.formal-environment-detail .keyTime .right:hover{
    background-color: #ff6600;
    color: #ffffff;
}

.formal-environment-detail .secret .font3,.formal-environment-detail .status .font3{
    font-size: 14px;
    color: #ababab;
}

.formal-environment-detail .secret .refuse{
    color: #ff6600;
    font-size: 14px;
}

.formal-environment-detail .secret .refuse:hover{
    text-decoration: underline;
}

.refuse-hint{
    width: 162px;
    height: 60px;
    border: 1px solid #ffa468;
    background-color: #fef9dd;
    border-radius: 4px; 
    position: relative;
}

.refuse-hint .font1{
    font-size: 12px;
    color: #666666;
    text-align: center;
}

.refuse-hint .arrow{
    background: url("../../../images/openPlatform/topArrow.png") no-repeat 0px 0px;
    width: 18px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 72px;
}

.lightBlueTab tbody td.port-type{
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.lightBlueTab .refuse-font1{
    text-align: center;
    color: #ff0000;
    font-size: 14px;
}

.lightBlueTab .refuse-font2{
    text-align: center;
    color: #666666;
    font-size: 12px;
}

.keyandportTable tbody td {
  vertical-align: middle;
}

.hangHint {
  padding: 70px 0;
  text-align: center;
}

.hangHint div{
    color: #333333;
    font-size: 16px;
}

.confirm-hang-btn{
    text-align: center;
}

.confirm-hang-btn .certain{
    display: inline-block;
    width: 110px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: #ff6600;
    color: #ffffff;
    font-size: 16px;
    margin-right: 20px;
}

.confirm-hang-btn .cancel{
    font-size: 16px;
    color: #ff6600;
}
/* 升级通知 S */
.mainContentBody {
    background: #fff;
    padding:20px 30px 30px 30px;
}
.mainContentBody .commonTitle {
    padding:0 0 20px 0;
    border-bottom: 1px solid #d8d7d7;
}
.mainContentBody .commonTitle .titleFonts {
    margin-top: 10px;
}
.operationBtnDiv {
    margin: 0 0;
    display: inline-block;
    float: left;
}
.operationBtnDiv a {
    margin: 0 0 0 0;
    display: inline-block;
    color: #666;
    font-size: 14px;
    padding:6px 12px;
}
.operationBtnDiv a:hover {
    color: #fff;
    background: #f60;
    border-radius: 4px;
}
.totalPagesDiv {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #666;
    padding: 6px 0 0 0;
}
.totalPagesDiv span {
    color: #0695e1;
    margin: 0 3px;
}
.noticeManageTab {
    margin-top: 10px;
}
.noticeManageTab th {
    font-size: 14px;
}
.noticeManageTab tbody td:first-child {
    text-align: center;
    padding-left: 10px;   
}
.noticeManageTab tbody td {
    vertical-align: middle;
}
.lightBlueTab tbody td.leftAlignTd {
    text-align: left;
}
.lightBlueTab tbody td a.unlockHang {
    color: #5ab757;
}
/* 弹窗 */
.windowNoticeTab{
    font-size: 16px;
    color: #333;
}
.windowNoticeTab th{
    text-align: right;
    color: #333;
    padding: 10px 3px;
    font-weight: normal;
}
.windowNoticeTab td{
    text-align: left;
    padding: 10px 0 10px 10px;
}
.windowNoticeTab td input[type="text"]{
    padding: 0 3px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #cccccc;
    vertical-align: middle;
}


/* 升级通知 E */