
html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	font-family:"microsoft yahei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-text-size-adjust:none;
}
body{
    font-size:0.8em;
    background-color: #f0efef;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {
	list-style-type:none;
}
h1,h2,h3,h4,h5,h6 {
	color:#666;
}
h1 {font-size:2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
h5 {font-size:1em;}
h6 {font-size:.875em;}
body,input,select,button,textarea {
	font-size:12px;
}

textarea{
    resize:none;
}

input[type=text],input[type=password]{
	cursor:text;
}
input:focus{
    border: 1px solid #0695e1;
    box-shadow: 1px 0px 4px 1px #d0ebf9;
}
i,em,cite {
	font-style:normal;
}

a {
	outline:none;
	text-decoration:none;
	/*for FF*/
}
a {
	star:expression(this.onFocus=this.blur());
	/* for Ie*/
}
.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display:block;
	min-height:1%;
}
*html .fixed {
	height:1%;
}
.clear {
	display:block !important;
	float:none !important;
	clear:both;
	overflow:hidden;
	width:auto !important;
	height:0 !important;
	margin:0 auto !important;
	padding:0 !important;
	font-size:0;
	line-height:0;
}

.fl,.fr {
	display:inline;
	float:left;
}
.fr {
	float:right;
}

.clearfix{ *zoom: 1;}
.clearfix:after{ content:".";
     height:0;
    visibility:hidden;
    display:block;
    clear:both;
}

label input{
    vertical-align:middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td,table th {
    empty-cells:show;
}

button{
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
    text-transform: none;
    line-height: normal;
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}
.commonBigBlueBtn{
    display: inline-block;
    font-size: 16px;
    padding: 0 10px;
    min-width: 90px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #0695e1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.commonBigBlueBtn:hover{
    background-color: #0e8ccf;
}
.commonBigBlueBtn.disabled {
    background-color: #dbdbdb;
}
.commonBigBlueBtn.disabled:hover {
    background-color: #ccc;
}
.commonIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    margin-right: 10px;
}
.commonSmallBtn{
    display: inline-block;
    padding: 0 10px;
    min-width: 45px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.commonSmallOrangeBtn{
    background-color: #ff6600;
}
.commonSmallOrangeBtn:hover{
    background-color: #fd7e2a;
}
.commonSmallBlueBtn{
    background-color: #0695e1;
}
.commonSmallBlueBtn:hover{
    background-color: #01a6ff;
}
.commonBigOrangeBtn{
    font-size: 18px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    min-width: 250px;
    text-align: center;
    background-color: #ff6600;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.commonBigOrangeBtn:hover{
    background-color: #fd7e2a;
}



.pull-left{ float: left;}
.pull-right{ float: right;}



/*  页面头 */
.main-header .stairMenuContent{
    background:#fefefe;
    height:63px;
}
.wrap{ 
    width: 1100px; 
    margin: 0 auto;
    position: relative;
}
.wrap .logo{
    float:left;
    display:block;
    width:205px;
    height:40px;
    background:url(../../../images/openPlatform/logo.png) no-repeat;
    margin: 20px 10px 0 0;
}
.wrap .stairMenu{
    float: left;
    margin-top: 32px;
}
.wrap .stairMenu li{
    float: left;
    min-width: 90px;
    padding: 0 5px 20px 5px;
    text-align: center;
    margin: 0 10px;
}
.stairMenu li a{
    display: block;
    color: #666666;
    font-size: 16px;
}
.stairMenu li a:hover{
    color: #0695e1;
}
.stairMenu li.currentStairMenu a{
    color: #0695e1;
}
.stairMenu li .topArrowIcon,
.stairMenu li .bottomArrowIcon{
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
.stairMenu li .topArrowIcon{
    background-position: -314px 0;
}
.stairMenu li .bottomArrowIcon{
    background-position: -333px 0;
}
.main-header .headSecondLevel{
    background-color: #1e3e50;
    position: absolute;
    width: 100%;
    height: 45px;
    top: 64px;
}
.headSecondLevel .secondLevelList{
    width: 1100px;
    margin: 0 auto;
}
.second-level-nav {
    background-color: #1e3e50;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 64px;
}
.second-level-nav .secondLevelList{
    width: 1100px;
    margin: 0 auto;
}

.second-level-nav .secondLevelList a {
    color: #fff!important;
}
.second-level-nav .secondLevelList li {
    padding: 7px 0;
}
.secondLevelList li{
    float: left;
    font-size: 16px;
    margin-right: 30px;
    min-width: 90px;
    text-align: center;
}
.secondLevelList li:first-child{
    margin-left: 255px;
}
.secondLevelList li a{
    display: block;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.secondLevelList li a:hover{
    background-color: #0695e1;
}
.secondLevelList li.currentSecondLevelMenu a{
    background-color: #0695e1;
}
.wrap .headRightOperate{
    float: right;
    margin: 27px 10px 0 5px;
    font-size: 14px;
}
.headRightOperate .userContent{
    margin-right: 15px;
    color: #666666;
}
.headRightOperate .userContent .userIcon{
    display: inline-block;
    width: 31px;
    height: 31px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat 0 0;
    vertical-align: middle;
    margin-right: 5px;
}
.headRightOperate .userContent:hover,
.headRightOperate .exitFonts:hover{
    color: #ff6600;
    text-decoration: none;
}
.headRightOperate .exitFonts{
    color: #999999;
}

/*  页面body  */
.main-body  {
    min-height: 500px;
    margin: 55px auto 15px;
    width: 1100px;
}

/*  页面 footer start */
.main-footer{
    background-color:#202e3a;
    text-align: center;
    color: #9a9999;
    padding: 25px 0;
    margin-bottom: 3px;
    line-height: 30px;
    box-shadow: 3px 3px 10px 5px #919191;
    -webkit-box-shadow: 3px 3px 10px 5px #919191;
}
.main-footer .differentLink a{
    color: #9a9999;
}
.main-footer .differentLink a:hover{
    text-decoration: underline;
}
.main-footer .whiteFonts{
    font-size: 18px;
    color: #fff;
}
.main-footer .partnerList{
    width: 1100px;
    margin: 30px auto;    
}
.main-footer .partnerList li{
    float: left;
    margin-left: 45px;
}
.partnerList li .commonIcon{
    display: inline-block;
    width: 147px;
    height: 57px;
    background: url("../../../images/openPlatform/partnerImg.png") no-repeat;
}
.partnerList li .ChinaPNRIcon{
    background-position: 0 -1px;
}
.partnerList li .ICONFONTIcon{
    background-position: 0 -63px;
}
.partnerList li .ZCOOLIcon{
    background-position: 0 -125px;
}
.partnerList li .UIIcon{
    background-position: 0 -187px;
}
.partnerList li .JDFinanceIcon{
    background-position: 0 -249px;
}
/*  页面 footer end */

/*  升级通知  and  返回顶部 start   */
.returnTop,
.informIcon{
    width: 47px;
    height: 47px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    font-size: 0;
    cursor: pointer;
    position: fixed;
    left: 50%;
    margin-left: 553px;
}
.returnTop{
    background-position: -53px -79px;
    bottom: 20%;
    display: none;
}
.returnTop:hover{
    background-position: -159px -79px;
}
.informIcon{
    background-position: 0 -79px;
    bottom: 237px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .informIcon{
        background-position: 0 -79px;
        bottom: 245px;
    }
}
@-moz-document url-prefix(){
    .informIcon{
        background-position: 0 -79px;
        bottom: 233px;
    }
}
.informIcon:hover{
    background-position: -106px -79px;
}
/*  升级通知  and  返回顶部 end  */


/* 通用翻页样式 start */
.pagination { margin:10px 0;}
.pagination div { float:right; height:30px; line-height:30px;}
.pagination div span { margin: 0 15px 0 0;}
.pagination ul { margin:0 10px 0 0; float:right;}
.pagination ul li { float:left;}
.pagination ul li a { display:inline-block; padding:6px 12px; border:1px solid #ccd5de; color:#666;border-right: none;font-family: "microsoft yahei";}
.pagination .ellipsisLi { margin: 0 10px;}
.pagination ul li:last-child {border-right:1px solid #ccd5de;}
.pagination ul li:first-child { margin-right: 3px;border-right:1px solid #ccd5de;}
.pagination ul li a:hover { text-decoration:none; cursor:pointer; background:#eee;}
.pagination .present { color:#fff; text-decoration:none; cursor:pointer; background:#0695e1; border:1px solid #0695e1;border-right: none;}
.pagination .present:hover { background:#0695e1; border:1px solid #0695e1;border-right: none;}
.pagination ul li span { color:#666;vertical-align: sub;}
.pagination .disabled { color:#ccd5de;}
.pagination .disabled:hover { color:#ccd5de; background:none; border:1px solid #ccd5de; cursor:default;}
.pagination input[type=text] {
    padding: 5px;
    width:25px;
    border:1px solid #ccd5de;
    margin: 0 5px;
}
.pagination .ellipsisBefore{
    border-right: 1px solid #ccd5de;
}
/* 通用翻页样式 end */


/* reset datepicker style start */

#ui-datepicker-div{
    box-shadow:0px 2px 10px #777;
}
#ui-datepicker-div .ui-datepicker-calendar{
    width:100%;
    margin:0 !important;
}

/* 日历样式 */
/*by zzz 删除白色背景色 不知是否有问题*/
/*.datepicker {
    height:22px;
    background-image: url(../images/store/i8.png);
    background-repeat: no-repeat;
    background-position: 97% center;
}*/
.datepicker{ background: url("../../../images/openPlatform/grayDatepickerIcon.png") no-repeat 97% center;}
.datepicker:hover{ background: url("../../../images/openPlatform/blueDatepickerIcon.png") no-repeat 97% center;}
.datepicker.dpShort{background:none}
.ui-datepicker {background:#ef633d none;font-size:12px;padding:5px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.ui-datepicker-daywrapper{
    font-weight:normal;
    display:inline-block;
    *position:relative;
    *top:-4px;
    margin-left: -60px;
    width: 60px;
    text-align: left;
}
.ui-datepicker .ui-datepicker-buttonpane{
    margin:0;
}
.ui-datepicker-calendar thead{
    color:#999;
    background-color:#f1f1f1;
}
#ui-datepicker-div{
    box-shadow:0px 2px 10px #777;
    z-index: 20000 !important;
}
#ui-datepicker-div .ui-datepicker-calendar{
    width:100%;
    margin:0 !important;
}
.ui-datepicker-calendar td{
    border:none;
}
.ui-datepicker-calendar td span{
    text-align:center;
    display:block;
    line-height:28px;
    height:28px;
    width:28px;
    margin:0 auto;
    padding:0;
}
.ui-datepicker-calendar td a{
    margin:0 auto;
    display:block;
    text-align:center;
    line-height:28px;
    height:28px;
    width:28px;
    padding:0;
}
.ui-datepicker-calendar-wrap{
    border-right:1px solid #d2d2d2;
    height:200px;
    background:url(../../../images/store/month.jpg) no-repeat 50% 0;
}

.ui-datepicker-calendar-wrap-m0{
    background-position:50% 0px;
}
.ui-datepicker-calendar-wrap-m1{
    background-position:50% -200px;
}
.ui-datepicker-calendar-wrap-m2{
    background-position:50% -400px;
}
.ui-datepicker-calendar-wrap-m3{
    background-position:50% -600px;
}
.ui-datepicker-calendar-wrap-m4{
    background-position:50% -800px;
}
.ui-datepicker-calendar-wrap-m5{
    background-position:50% -1000px;
}
.ui-datepicker-calendar-wrap-m6{
    background-position:50% -1200px;
}
.ui-datepicker-calendar-wrap-m7{
    background-position:50% -1400px;
}
.ui-datepicker-calendar-wrap-m8{
    background-position:50% -1600px;
}
.ui-datepicker-calendar-wrap-m9{
    background-position:50% -1800px;
}
.ui-datepicker-calendar-wrap-m10{
    background-position:50% -2000px;
}
.ui-datepicker-calendar-wrap-m11{
    background-position:50% -2200px;
}

/* 日历头 */
.ui-widget-header {
    background: #ef633d;
    border:none;
    border-radius:0;
}

.ui-datepicker td {
    padding:0px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width:40%;
}
/* 前后按钮 */
.ui-datepicker-week-end{
    color:#ff6500;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    cursor:pointer;
    background:none;
    border:0;
    padding:0;
    opacity:1 !important;
    outline: 0;
    /*margin-top: -10px;*/
}
.ui-widget-header .ui-icon{
    margin:0 auto;
    display:block;
    height:11px;
    width:6px;
    background: url(../../../images/store/s1.png) no-repeat;
}
.ui-state-disabled.ui-datepicker-prev .ui-icon{
    background-position:0 0 !important;
}
.ui-state-disabled.ui-datepicker-next .ui-icon{
    background-position:-6px 0px !important;
}
.ui-datepicker-prev-hover .ui-icon{
    background-position:0 -11px;
    margin-left:-7px !important;
    margin-top:-7px !important;
}
.ui-datepicker-next .ui-icon{
    background-position:-6px 0;
}
.ui-datepicker-next-hover .ui-icon{
    background-position:-6px -11px;
    margin-left:-9px !important;
    margin-top:-7px !important;
}
.ui-datepicker-calendar-wrap {
    background-color:#fff;
    margin:0;
}
.ui-datepicker-calendar-wrap td {
    color:#5c5c5c;
    padding: 0px !important ;
}
.ui-datepicker-calendar-wrap .ui-datepicker-calendar,.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto;
    text-align:center;
    border-collapse: collapse ;
    width:220px;
}
.ui-datepicker-title{
    color:#fff;
}
.ui-datepicker-multi .ui-datepicker-group-first .ui-datepicker-calendar {
    margin-right:10px !important;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-calendar {
    margin-left:10px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border:none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    background-color:#f66e19;
    color:#ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    color: #212121;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    color:#ffffff;
}
.ui-datepicker-calendar .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: none;
    font-weight: normal;
}
.ui-datepicker-calendar .ui-state-hover{
    height:26px;
    line-height:26px;
    width:26px;
    border:1px solid #ccc;
}
.ui-datepicker-calendar .ui-state-highlight{
    border:0;
}
.ui-datepicker-buttonpane{
    display:none;
}
.fastival {
    height:26px;
    width:26px;
    text-indent:-1000em;
    display:block;
    border:none;
    cursor:pointer;
    background-image:url(../../../images/store/s2.png) !important;
    background-repeat:no-repeat;
}
.ui-state-hover .fastival{
    margin-top:-1px;
    margin-left:-1px;
    border:none;
}
.today { background-position : 50% 0px !important; }
.yuandan { background-position : 50% -30px !important;}
.chuxi { background-position : 50% -60px !important;}
.chunjie { background-position : 50% -90px !important;}
.yuanxiao { background-position : 50% -120px !important;}
.qingming { background-position : 50% -150px !important;}
.wuyi { background-position : 50% -180px !important;}
.duanwu { background-position : 50% -210px !important;}
.zhongqiu { background-position : 50% -240px !important;}
.guoqing { background-position : 50% -270px !important;}

.ui-state-highlight .today{
    background-color:#ff6500;
}

.ui-datepicker-time-wrap {
    position:relative;
    padding: 5px 0;
}

.ui-datepicker-time-i {
    width:120px;
    margin: 0px auto;
}

.ui-datepicker-time-i input[type=text] {
    text-align:center;
}

.ui-datepicker-time {
    border:1px solid #aaaaaa;
    background:#fff;
    position:absolute;
    width:220px;
}

.ui-datepicker-time-wrap td {text-align:center;}
.ui-datepicker-time-wrap td a {text-align:center;}
.ui-datepicker-time-wrap td a:hover {
    background-color:#f66e19;
    color:#ffffff;
}

.k-autocomplete {
    width: 105px;
    padding-right: 5px;
}

.tcy_title {
    background-color: #1987c6;
    color: #fff;
}

.k-item.k-state-default {
    font-weight: normal;
    font-family: Arial;
}

.tcy_list .tcy_list_sep,
.tcy_list .item:hover,
.ui-datepicker-week-end {
    color: #1a86c6;
    background: none;
}

.tcy_tabstrip .k-state-active {
    border-color: #1a86c6;
}

.ui-datepicker,
.ui-widget-header,
.ui-state-highlight .today{
    background: #1a86c6 none;
}

.ui-state-highlight .today {
    border: 1px solid #1a86c6;
}

.ui-datepicker-calendar .ui-state-hover{
    height:26px;
    line-height:26px;
    width:26px;
    border:1px solid #1a86c6;
}

.ui-datepicker-week-end .ui-state-default {
    color: #1987c6;
}

.ui-widget-header .ui-icon {
    background: url(../../../images/supplier/calendar-turn.png) no-repeat!important;
}

.ui-datepicker-prev .ui-icon {
    background-position: 0 0!important;
}

.ui-datepicker-prev .ui-icon:hover {
    background-position: -16px 0!important;
}

.ui-datepicker-next .ui-icon {
    background-position: -8px 0!important;
}

.ui-datepicker-next .ui-icon:hover {
    background-position: -24px 0!important;
}
/*=====================  reset  plugins style  end       ========================*/