@charset "utf-8";
/* CSS Document */

/* 开发文档-国内机票 start */
.leftMenu{
    width:220px;
    float:left;
    margin-top: 15px;
}
.menuChange,.noMenuChange{
    background:#fff;
    margin-left: 5px;
}
.menuChange li,.noMenuChange li{
    float:left;
    color:#a7c7e5;
    cursor:pointer;
}
.firstLevel{
    background-color: #fff;
}
.firstLevel em{
    width:200px;
    color: #fff;
    display:inline-block;
    padding:10px 0 10px 20px;
    font-size:16px;
    font-weight:normal;
    background-color: #fa8e46;
    border-bottom: 1px solid #fff;
}
.firstLevel .bitTitle{
    display: inline-block;
    min-width: 140px;
}
.menuChange .secondLevel,
.menuChange .currentMenu{
    background:#fff ;
}
.secondLevel li{
    padding:10px 0;
    margin: 0 20px;
    font-size:14px;
    font-weight:normal;
    width:180px;
    color: #666666;
    border-bottom: 1px solid #ececec;
}
.menuChange .secondLevel li:hover{ color:#ff4800;}
.secondLevel .currentStatus,
.secondLevel .currentStatus:hover{
    color:#ff4800;
    background:#fff;
    border-left: 5px solid #ff6600;
    margin-left: -5px;
    margin-right: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    box-shadow: 3px 3px 7px 0px #f2ebe6;
    -webkit-box-shadow: 3px 3px 7px 0px #f2ebe6;
}
.firstLevel em:hover {
    color: #fff;
}
.secondLevel li:hover {
    color: #fff;
}
.firstLevel .sideTopArrowIcon {
    background: url(../../../images/openPlatform/openPlatformIcon.png) no-repeat -348px 0;
    width: 10px;
    height: 7px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
.firstLevel .sideBottomArrowIcon {
    background-position: -364px 0px;
}

.formatContent{
    margin-bottom: 15px;
    font-size: 14px;
}
.formatContent .formatBtn{
    text-align: center;
    margin: 7px 0;
}
.formatBtn .xml,
.formatBtn .json{
    font-size: 14px;
    min-width: 70px;
    padding: 5px;
    display: inline-block;
    border: 0;
    margin-right: -4px;
}
.formatBtn button{
    background-color: #fffefe;
    color: #636363;
}
.formatBtn button.current{
    background-color: #0695e1;
    color: #fff;
}

.rightCont {
    width: 835px;
    float: right;
    margin-top: 15px;
}
.commonTitle{
    margin: 10px 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #d8d7d7;
}
.commonTitle .titleFonts{
    font-size: 18px;
    color: #333333;
}
.articleHover{
    width: 835px;
    background-color: #f0efef;
}
.articleHover .articleHoverList{
    float: left;
    width: 685px;
    margin-right: 5px;
}
.articleHoverList li{
    float: left;
}
.articleHoverList li a{
    font-size: 16px;
    color: #fff;
    display: block;
    min-width: 140px;
    min-height: 27px;
    line-height: 27px;
    text-align: center;
    padding: 7px 10px;
    margin-right: 3px;
    background-color: #bcbcbc;
}
.articleHoverList li a:hover{
    background-color: #0e5e88;
}
.articleHoverList .currentArticleHover{
    background-color: #0e5e88;
}
.articleHoverList .anchorCommonIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    margin-right: 15px;
}
.articleHoverList .anchor01{
    width: 25px;
    height: 25px;
    background-position: 0 -48px;
}
.articleHoverList .anchor02{
    width: 19px;
    height: 21px;
    background-position: -32px -48px;
}
.articleHoverList .anchor03{
    width: 22px;
    height: 23px;
    background-position: -58px -48px;
}
.articleHoverList .anchor04{
    width: 26px;
    height: 24px;
    background-position: -88px -48px;
}
.articleHover .articleHoverBtn{    
    float: left;
    font-size: 16px;
    width: 130px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: #666666;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -37px 0;
}
.articleHover .articleHoverBtn:hover{
    background-position: -174px 0;
    color: #fff;
}
.articleHover .articleHoverBtn em{
    margin-right: 15px;
}
.hoverContent{
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
}
.hoverContent .commonStyle{
    margin: 40px 10px 20px;
    font-size: 14px;
}
.hoverContent .commonStyle.first{
    margin-top: 0;
}
.commonStyle .titleFonts16{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.commonStyle .commonP{
    line-height: 23px;
    color: #666666;
}
.commonStyle .htmlContent{
    font-size: 14px;
    background-color: #efeeee;
    color: #666666;
    padding: 15px;
    width: 760px;
    height: 400px;
    line-height: 20px;
    overflow: auto;
    border: 0;
}
*::selection,textarea::selection,p::selection{
    background-color: #ff6600;
    color: #fff;
}
*::-moz-selection,textarea::-moz-selection,p::-moz-selection{
    background-color: #ff6600;
    color: #fff;
}
.commonStyle .blueHeadTab th,
.commonStyle .blueHeadTab td{
    padding: 7px 5px 7px 10px;
}
.commonStyle .blueHeadTab th:first-child,
.commonStyle .blueHeadTab td:first-child{
    padding-left: 15px;
}
.commonStyle .blueHeadTab td:first-child{
    color: #333333;
}
.commonStyle .blueHeadTab th{
    background-color: #daeff7;
    font-weight: normal;
    text-align: left;
}
.commonStyle .blueHeadTab td{
    border-bottom: 1px dashed #cccccc;
    color: #666;
}
.commonStyle .blueHeadTab .oneLineEllipsis{
    display: inline-block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 开发文档-国内机票 end */


/*常见问题 start*/
.marginTop {
    margin-top: 1px;
}
.mainContentR {
    background-color: #fff;
    padding: 15px;
}
.mainContentR h3{ color: #333;}
.questionSearchBar {
    border-bottom: 1px solid #ececec;
    padding:5px 20px 20px 20px;
    margin: 0 -15px 15px -15px;
}
.questionSearchBar input[type="text"]:focus {
    border: 1px solid #40aee8;
    box-shadow: 0px 0px 5px 1px #c9ecfe;
}
.searchBarInput {
    display: inline-block;
    width: 596px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
}
.questionSearchBar .searchIconSpan {
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    padding: 10px 6px 9px 6px;
    vertical-align: middle;
}
.questionSearchBar .searchIconSpan i {
    background: url("../../../images/openPlatform/icon-search.png") no-repeat 0 0;
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0 0 0;
}
.commonBigBlueBtn {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #0695e1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
.commonBigBlueBtn:hover {
    background-color: #0685c9;
}
.questionSearchBar .questionBtn {
    margin-left: 10px;
}

.questionContent {
    
}
.questionContent h3 {
    font-size: 18px;
    color: #333;
    padding: 0 0 15px 0;
    font-weight: normal;
}
.questionContent .questionItem {
    border-top:1px solid #ececec;
    padding: 15px 0;
}
.questionContent .questionItem h4 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    padding: 0 0 10px;
    overflow: hidden;
}
.questionContent .questionItem h4 em {
    color: #0695e1;
    float: left;
}
.questionContent .questionItem h4 span {
    float: left;
    display: inline-block;
    width:95%;
}
.questionContent .questionItem p {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    overflow: hidden;
}
.questionContent .questionItem p em {
    font-size: 16px;
    color: #ff8d42;
    float: left;
}
.questionContent .questionItem p span{
    float: left;
    display: inline-block;
    width:95%;
}
.questionContent .questionItem p pre {
    float: left;
    word-wrap: break-word;
    width:95%;
    font-size: 14px;
    color: #666;
    font-weight: normal;
    font-family: "microsoft yahei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
}
/*弹窗*/
.questionTemplateTab th, .questionTemplateTab td {
    padding:10px 0 10px 5px;
    font-size: 16px;
}
.questionTemplateTab th {
    font-weight: normal;
    text-align: right;
}
.questionTemplateTab input[type="text"] {
    border: 1px solid #999;
    height: 36px;
    line-height: 36px;
    padding: 0 3px;
}
.questionTemplateTab label {
    margin-right: 10px;
}
.questionTemplateTab textarea {
    border: 1px solid #999;
}
.popWindowBtn {
    text-align: center;
    margin: 20px 0;
}
.popWindowBtn .cancelFonts {
    color: #40aee8;
    font-size: 16px;
    vertical-align: middle;
}
.popWindowBtn .cancelFonts:hover {
    text-decoration: underline;
}
.marginLeft {
    margin-left: 20px;
}
/*常见问题 end*/


/*  文档下载 start  */
.noMenuChange .firstLevel em{
    background: #0695e1;
}
.secondLevel li.last{
    border-bottom: 0;
}
.rightCont .commonTitle.noBottomLine{
    border-bottom: 0;
}
.commonStyle .haveBottomLine{
    border-bottom: 1px solid #f0efef;
    padding-bottom: 10px;
}
.commonStyle .secondLevelTitle{
    margin: 20px;
}
.secondLevelTitle .explainFonts{
    font-weight: bold;
    font-size: 16px;
    color: #0695e1;
    line-height: 40px;
}
.explainFonts .explainIcon{
    width: 18px;
    height: 23px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -310px -16px;
}
.lightBlueTab{
    width: 100%;
    margin: 20px 0;
    border: 1px solid #c0e4f2;
}
.lightBlueTab thead th{
    padding: 10px;
    text-align: center;
    color: #333333;
    background-color: #daeff7;
    border-bottom: 1px solid #a6e1f7;
}
.lightBlueTab tbody td{
    padding: 10px;
    color: #797d7f;
    border-left: 1px solid #c0e4f2;
    text-align: center;
    vertical-align: top;
}
.lightBlueTab tbody td div{
    line-height: 25px;
}
.lightBlueTab tbody td:first-child{
    text-align: left;
    padding-left: 20px;
}
.lightBlueTab tbody td a,
.lightBlueTab tbody td a:hover .lightBlueFonts{
    color: #0695e1;
}
.lightBlueTab tbody td a:hover{
    text-decoration: underline;
}
.lightBlueTab tbody .lightBlueFonts{
    color: #9eddff;
}
.lightBlueTab .documentIcon{
    width: 16px;
    height: 21px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -333px -16px;
}
/*  文档下载 end  */

/*  测试工具 start  */
.documentTitle{
    margin: 15px 0;
    padding-top: 10px;
}
.documentTitle .titleFonts{
    color: #333;
    font-size: 18px;
}
.documentContent{
    background-color: #fff;
    border: 1px solid #e6e5e5;
    padding: 30px;
}
.commonTabModel{
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}
.commonTabModel th{
    text-align: right;
    color: #333;
    font-weight: normal;
    padding: 7px 10px 7px 0;
}
.commonTabModel td{
    padding: 7px 3px;
}
.commonTabModel select{
    color: #666;
    font-size: 14px;
}
.commonTabModel input[type="text"]{
    height: 35px;
    line-height: 35px;
    padding-left: 3px;
    border: 1px solid #cdcdcd;
    font-size: 14px;
    color: #666;
}
.k-header{
    font-size: 14px;
}
.commonTextarea .commonHeadStrip{
    padding: 8px 15px;
}
.commonTextarea .commonHeadStrip h3{
    font-size: 16px;
    color: #333;
}
.commonTextarea textarea{
    line-height: 25px;
    padding: 15px 10px;
    border: 1px solid #dcdcdc;
    color: #666666;
}
.commonTextarea .greenBg{
    background-color: #c5ece7;
}
.commonTextarea .blueBg{
    background-color: #dcf0f8;
}
.commonTextarea .lightOrangeBg{
    background-color: #ffe1d4;
}
.commonTextarea.textareaInfo{
    width: 500px;
}
.textareaInfo textarea{
    width: 478px;
    height: 500px;
}
.lightOrangeTextarea{
    margin: 20px 0;
}
.lightOrangeTextarea textarea{
    width: 1018px;
    height: 220px;
}
/*  测试工具 end  */



/*  注册 start  */
.registerStyle{
    margin: -30px -30px 20px;
}
.registerStyle li{
    float: left;
    width: 49.9%;
}
.registerStyle li a{
    display: inline-block;
    font-size: 18px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #f9f8f8;
    color: #9f9f9f;
    border: 1px solid #dcdcdc;
    position: relative;
}
.registerStyle .current a{
    background-color: #ceedff;
    border: 1px solid #86d5ff;
    color: #0695e1;
}
.registerStyle .commonIcon{
    width: 24px;
    height: 24px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    margin-right: 5px;
}
.registerStyle .blueCompanyIcon{
    background-position: 0 -212px;
}
.registerStyle .grayCompanyIcon{
    background-position: -55px -212px;
}
.registerStyle .grayPersonageIcon{
    background-position: -27px -212px;
}
.registerStyle .bluePersonageIcon{
    background-position: -83px -212px;
}

.registerStyle .current .bottomArrowIcon{
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 14px;
    background: url("../../../images/openPlatform/bigDownArrow.png") no-repeat 0 0;
    position: absolute;
    left: 50%;
    bottom: -14px;
}
.registerContent{
    margin-top: 30px;
}
.registerModel{
    position: relative;
    font-size: 14px;
    color: #555555;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f0efef;
}
.registerModel.last{
    border-bottom: 0;
}
.registerModel .titleFonts{
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 5%;
}
.registerModel .registerModelTab{
    margin-left: 220px;
}
.registerModelTab th{
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    padding: 10px 5px;
    color: #333;
}
.registerModelTab td{
    padding: 10px 5px;
}
.registerModelTab td div{
    margin-bottom: 10px;
}
.registerModelTab td .noneMarginBottom{
    margin-bottom: 0;
}
.registerModelTab input[type="text"],
.registerModelTab input[type="password"],
.registerModelTab input[type="email"]{
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    color: #666;
}
.registerModelTab input:focus{
    border: 1px solid #0695e1;
    box-shadow: 1px 0px 4px 1px #d0ebf9;
}
.registerModelTab .blueFonts{
    color: #0695e1;
}
.registerModelTab .verificationCode{
    display: inline-block;
    min-width: 120px;
    padding: 10px;
    text-align: center;
    color: #333333;
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
}
.registerModelTab .verificationCode:hover{
    border: 1px solid #a0a0a0;
}
.registerModelTab .verificationCode.retry{
    color: #9a9a9a;
}
.registerModelTab .successHintStyle{
    color: #333;
    margin-left: 10px;
}
.successHintStyle .successIcon{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -350px -131px;
    margin-right: 5px;
}
.agreementFonts a{
    color: #0695e1;
}
.agreementFonts a:hover{
    text-decoration: underline;
}
.agreementFonts .agreementIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    vertical-align: middle;
    margin-right: 7px;
}
.agreementFonts .selectStatus{
    background-position: -211px -79px;
}
.agreementFonts .selectStatus.noSelectStatus{
    background-position: -211px -98px;
}
.registerModelTab .changeWidth{
    min-width: 330px;
    margin-top: 20px;
}
.registrationProtocolWindow{
    margin: 10px 0 10px 10px;
}
.registrationProtocolWindow textarea{
    width: 650px;
    height: 390px;
    padding: 10px;
    line-height: 22px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    color: #646464;
}
.registrationProtocolWindow .alignCenterBtn{
    text-align: center;
}
.hintContent .orangeFonts{
    color: #cf6b00;
}
.registerModelTab .errorStyle{
    position: relative;
}
.registerModelTab .errorStyle input{
    border: 1px solid #ff6600;
    box-shadow: 1px 0 3px 2px #feede1;
}
.errorStyle .errorHintFonts{
    color: #ff6600;
    position: absolute;
    bottom: -23px;
    left: 0;
}
/*  注册 end  */


.individuals{
    margin: 20px;
}

.individuals .font1{
    font-size: 14px;
    color: #666666;
}

.individuals .font2{
    font-size: 14px;
    color: #333333;
}

.individuals .font3{
    font-size: 14px;
    color: #0695e1;
}

.individuals .input-frame1{
    width: 195px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #dcdcdc;
    text-indent: 10px;
}

.commit-btn{
  background-color: #0695e1;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  text-align: center;
  vertical-align: middle;
  margin-left: 74px;
}

.corporate-detail-input{
    width: 346px;
    height: 40px;
    margin-left: 80px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #dcdcdc;
    text-indent: 10px;
}

.modify-password-table th{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}

.modify-password-table td{
    height: 76px;
}

.modify-password-table td input{
    width: 230px;
    height: 40px;
    line-height: 40px;
}

.commonBigBlueBtn, .disabled_btn {
  background-color: #0695e1;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 10px;
  text-align: center;
}

.cancelBtn {
  color: #0695e1;
  font-size: 16px;
  margin-left: 20px;
}

.modify-password-table{
    margin-left: 16px;
}

.tipsIcon{
    width: 16px;
    height: 16px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -350px -130px;
    display: inline-block;
}

.password-input-style{
    width: 230px;
    text-indent:10px;
    border: 1px solid #dcdcdc;
}

.modify-phoneNum-table{
    margin-left: 16px;
}

.modify-phoneNum-table th{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}

.modify-phoneNum-table td{
    height: 60px;
}

.phoneNum-input-style{
    width: 168px;
    height: 40px;
    text-indent:10px;
    border: 1px solid #dcdcdc;
}

.message-verify-code{
    width: 168px;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    color: #333333;
    font-size: 14px;
}

.resend-verify-code{
    width: 168px;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    color: #9a9a9a;
    font-size: 14px;
    display: none;
}

.none-verifyCode-explain{
    font-size: 12px;
    color: #ff6600;
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
}

.phoneNum-input-frame{
    width: 168px;
    height: 40px;
    text-indent:10px;
    border: 1px solid #dcdcdc;
}

.none-verifyCode-alert{
    border: 1px solid #ff6600;
}


/*  找回密码 start  */
.retrievePasswordFlow{
    float: right;
}
.retrievePasswordFlow li{
    float: left;
    margin-left: 30px;
    padding: 0 5px 15px;
    font-size: 16px;
    color: #9c9c9c;
    min-width: 90px;
    text-align: center;
}
.retrievePasswordFlow li.current{
    color: #0795e1;
    border-bottom: 3px solid #0695e1;
}
.documentContent.addPadding{
    padding: 60px 0;
    margin-top: -15px;
}
.retrievePasswordTab{
    width: 450px;
    margin: 0 auto;
    font-size: 14px;
}
.retrievePasswordTab th{
    font-weight: normal;
    text-align: right;
    padding: 10px 5px 10px 0;
}
.retrievePasswordTab td{
    padding: 10px 5px;
}
.retrievePasswordTab input[type="text"],
.retrievePasswordTab input[type="password"],
.retrievePasswordTab input[type="email"]{
    height: 32px;
    line-height: 32px;
    padding-left: 3px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
}
.retrievePasswordInfo{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}
.retrievePasswordInfo .successHintIcon{
    margin-bottom: 10px;
}
.retrievePasswordInfo .successIcon{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../../../images/openPlatform/succeed.png") no-repeat;
    vertical-align: middle;
}
.retrievePasswordInfo .blueFonts{
    color: #0695e1;
}
.retrievePasswordInfo .blueBtn{
    margin-top: 30px;
}
.retrievePasswordInfo .fonts18{
    font-size: 18px;
}
/*  找回密码 end  */

.keyandportTitle-left{
    display: inline-block;
    float: left;
    color: #333333;
    font-size: 18px;
}

.keyandportTitle-right{
    display: inline-block;
    float: right;
}

.keyandportTitle-right .font1{
    color: #949494;
    font-size: 24px;
}

.keyandportTitle-right .font2{
    color: #a7a7a7;
    font-size: 14px;
    margin-right: 20px;
}

.environment-top{
  background-color: #fff;
  padding: 0 15px;
}

.environment-bottom{
  background-color: #fff;
  padding: 0 15px;
  margin-top: 15px;
}

.test-environment-frame{
  border-bottom: 1px solid #f0efef;
  color: #333333;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}

.formal-environment-frame{
    color: #333333;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}

.test-environment-detail{
  height: 50px;
  line-height: 50px;
  padding: 16px 0;
}

.formal-environment-detail{
    height: 50px;
  line-height: 50px;
  padding: 16px 0;
  border-top: 1px solid #f0efef;
  border-bottom: 1px solid #f0efef;
}

.test-environment-detail .secret{
  border-right: 1px solid #f0efef;
  float: left;
  text-align: left;
  width: 450px;
}

.formal-environment-detail .secret{
    border-right: 1px solid #f0efef;
  float: left;
  text-align: left;
  width: 664px;
}

.test-environment-detail .status{
  float: left;
  text-align: center;
  width: 116px;
}

.test-environment-detail .secret .font1, .test-environment-detail .status .font1, .test-environment-detail .keyTime .font1 {
  color: #666666;
  font-size: 14px;
}

.test-environment-detail .keyTime .font3,.test-environment-detail .status .font3{
    font-size: 14px;
    color: #ababab;
}

.test-environment-detail .status .yeah, .formal-environment-detail .status .yeah {
  background: url("../../../images/openPlatform/clientCenter.png") no-repeat scroll -6px -6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 16px;
}

.test-environment-detail .keyTime, .formal-environment-detail .keyTime {
  float: left;
  width: 213px;
  border-right: 1px solid #f0efef;
}

.test-environment-detail .keyTime .left, .formal-environment-detail .keyTime .left {
  display: inline-block;
  float: left;
  margin-left: 25px;
  width: 175px;
}

.test-environment-detail .secret .font1, .test-environment-detail .status .font1, .test-environment-detail .keyTime .font1 {
  color: #666666;
  font-size: 14px;
}

.test-environment-detail .secret .font2, .test-environment-detail .keyTime .font2 {
  color: #0695e1;
  font-size: 14px;
}

.test-environment-detail .keyTime .right, .formal-environment-detail .keyTime .right {
  border: 1px solid #ff6600;
  border-radius: 4px;
  color: #ff6600;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 110px;
}

.commonBigBlueBtn2 {
  background-color: #0695e1;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  min-width: 92px;
  padding: 0 10px;
  text-align: center;
}

.commonBigBlueBtn2:hover {
    background-color: #0685c9;
}


.formal-environment-detail .secret .font1, .formal-environment-detail .status .font1, .formal-environment-detail .keyTime .font1 {
  color: #666666;
  font-size: 14px;
}

.formal-environment-detail .secret .font2{
    color: #0695e1;
    font-size: 14px;
}

.formal-environment-detail .status{
    float: left;
    text-align: center;
    width: 116px;
}

.formal-environment-detail .status .font1{
  color: #666666;
  font-size: 14px;
}

.formal-environment-detail .status .font3{
  color: #ababab;
  font-size: 14px;
}

.formal-portIP{
    margin-top: 20px;
}

.formal-portIP .button{
    width: 190px;
    height: 40px;
    border-radius: 4px;
    background-color: #0695e1;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    float: right;
}

.formal-portIP .button:hover {
    background-color: #0685c9;
}

.formal-portIP .icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: url("../../../images/openPlatform/formalportIP.png") no-repeat 0px 0px;
}

.formal-portIP span{
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
}

.port-style{
    margin-left: 76px;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.addressIP{
    margin-left: 76px;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.addressIP input[type="text"]{
  border: 1px solid #dcdcdc;
  color: #666;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding-left: 5px;
  width: 166px;
  margin-left: 18px;
}

.addressIP-copy{
    margin-left: 76px;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.addressIP-copy input[type="text"]{
  border: 1px solid #dcdcdc;
  color: #666;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding-left: 5px;
  width: 166px;
  margin-left: 85px;
}

.addIP-icon{
    background: url("../../../images/openPlatform/addIP.png") no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.addIP-icon:hover{
    background: url("../../../images/openPlatform/addIP_hover.png") no-repeat 0px 0px;
}

.removeIP-icon{
    background: url("../../../images/openPlatform/removeIP.png") no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.removeIP-icon:hover{
    background: url("../../../images/openPlatform/removeIP_hover.png") no-repeat 0px 0px;
}


/*  首页样式 start  */
.indexBanner{
    background: url("../../../images/openPlatform/indexBannerBg.jpg") repeat-x;
    margin-top: 46px;
}
.indexBanner .bannerImg{
    height: 377px;
    background: url("../../../images/openPlatform/indexBanner.jpg") no-repeat 50% 0;
}
.indexLeftContent{
    float: left;
    width: 765px;
}
.productClassify{
    margin-bottom: 70px;
}
.productClassify li{
    float: left;
    width: 183px;
    height: 178px;
    text-align: center;
    background-color: #fff;
    margin-left: 8px;
    box-shadow: 1px 3px 10px 0 #ccd0d2;
    position: relative;
}
.productClassify li:first-child{
    margin-left: 0;
}
.productClassify .commonIcon{
    display: inline-block;
    width: 67px;
    height: 67px;
    vertical-align: middle;
    margin: 30px 0;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
}
.productClassify .inlandAirTicketIcon{
    background-position: 0 -243px;
}
.productClassify .internationalAirTicketIcon{
    background-position: -72px -243px;
}
.productClassify .hotelIcon{
    background-position: -144px -243px;
}
.productClassify .awaitIcon{
    background-position: -216px -243px;
}
.productClassify .classifyFonts{
    font-size: 18px;
    color: #e87352;
}
.productClassify .interTicketDisabled .internationalAirTicketIcon {
    background: url(../../../images/openPlatform/api-icon-disabled.png) no-repeat -69px 0;
}
.productClassify .interTicketDisabled .classifyFonts {
    color: #a2a09f;
}
.productClassify .interTicketDisabled a {
    cursor: default;
}
.productClassify .hotelDisabled .hotelIcon {
    background: url(../../../images/openPlatform/api-icon-disabled.png) no-repeat -139px 0;
}
.productClassify .hotelDisabled .classifyFonts {
    color: #a2a09f;
}
.productClassify .hotelDisabled a {
    cursor: default;
}
.productClassify li > a {
    display: block;
    width: 100%;
    height: 100%;
}
.indexCommonModel{
    margin-bottom: 35px;
}
.indexCommonModel .indexCommonTitle{
    padding-bottom: 8px;
    border-bottom: 1px solid #c6dfe6;
}
.indexCommonTitle.widthHalf{
    width: 50%;
}
.indexCommonTitle .titleFonts{
    font-size: 18px;
    color: #333;
    float: left;
    font-weight: normal;
}
.indexCommonTitle .commonIcon{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    vertical-align: middle;
}
.indexCommonTitle .heartIcon{
    background-position: -216px -159px;
}
.indexCommonModel .platformFlow{
    margin: 35px 0 35px 25px;
}
.platformFlow li{
    float: left;
    padding-right: 60px;
    position: relative;
}
.platformFlow .flowFonts{
    min-width: 80px;
    text-align: center;
    margin-bottom: 13px;
    font-size: 16px;
    min-height: 21px;
}
.platformFlow .platformFlowBg{
    font-size: 36px;
    font-family: "Arial";
    color: #fff;
    display: inline-block;
    width: 76px;
    height: 76px;
    line-height: 76px;
    text-align: center;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -288px -243px;
}
.platformFlow .rightLine{
    border-top: 5px solid #1c99d9;
    width: 65px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 62%;
}
.platformFlow li.last{
    padding-right: 0;
}
.platformFlow .last .flowFonts{
    font-size: 0;
    width: 0;
}
.platformFlow .last .platformFlowBg{
    font-size: 0;
    background: none;
    width: 0;
    display: none;
}
.platformFlow .last .rightLine{
    border-top: none;
    width: 0;
    display: none;
}
.platformFlow .addOur{
    display: inline-block;
    font-size: 16px;
    color: #1c99d9;
    min-width: 125px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    border: 1px dashed #1c99d9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.platformFlow .addOur:hover{
    background-color: #1c99d9;
    color: #fff;
}
.platformFlow .addOur:hover .rightArrow{
    background-position: -373px -48px;
}
.addOur .rightArrow{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -353px -16px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: -5px;
}
.indexRightContent{
    float: right;
    width: 330px;
}
.indexCommonTitle .noticeIcon{
    background-position: -256px -159px;
}
.indexCommonTitle .moreInfo{
    float: right;
    font-family: "microsoft yahei";
    margin-top: 10px;
    font-size: 14px;
}
.indexCommonTitle .moreInfo:hover .moreFonts,
.indexCommonTitle .moreInfo:hover .moreIcon{
    color: #f15a01;
}
.moreInfo .moreFonts{
    color: #666;
    margin-right: 3px;
}
.moreInfo .moreIcon{
    color: #333;
}
.indexCommonModel .linkMore{
    margin: 10px 0;
    color: #666;
    font-size: 14px;
}
.indexCommonModel .linkMore li{
    padding: 6px 5px;
    margin-top: 5px;
}
.indexCommonModel .linkMore li:hover{
    color: #fff;
    background-color: #f15a01;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.indexCommonModel .linkMore li:hover a{
    color: #fff;
}
.linkMore .linkTitle{
    float: left;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}
.linkMore .linkTime{
    float: right;
    min-width: 70px;
}
.indexCommonTitle .upgradeInformIcon{
    background-position: -296px -159px;
}
.loggingWindow{
    padding-bottom: 20px;
}
.loggingWindow .windowLeftContent{
    font-size: 14px;
    float: left;
    width: 370px;
    margin-right: 50px;
    margin-left: 20px;
    position: relative;
}
.windowLeftContent .windowLine{
    border-right: 1px solid #e2dede;
    width: 1px;
    height: 100%;
    position: absolute;
    right: -10px;
    top: 0;
}
.windowLeftContent .loggingTab th{
    color: #999999;
    padding: 40px 0 7px;
    font-weight: normal;
    vertical-align: bottom;
    text-align: left;
    border-bottom: 1px solid #c5c5c5;
}
.windowLeftContent .loggingTab td{
    color: #666666;
    padding: 40px 0 7px;
    border-bottom: 1px solid #c5c5c5;
}
.windowLeftContent .loggingTab .first td,
.windowLeftContent .loggingTab .first td{
    padding-top: 15px;
}
.windowLeftContent .loggingTab input[type="text"],
.windowLeftContent .loggingTab input[type="password"]{
    border: none;
    font-size: 16px;
}
.windowLeftContent .loggingTab input[type="text"]:focus,
.windowLeftContent .loggingTab input[type="password"]:focus{
    border: none;
    box-shadow: none;
}
.windowLeftContent .loggingTab th:first-child,
.windowLeftContent .loggingTab td:first-child{
    padding-top: 15px;
}
.windowLeftContent .loggingTab .reportErrors th{ color: #ff6600;}
.windowLeftContent .loggingTab .reportErrors th,
.windowLeftContent .loggingTab .reportErrors td{
    border-bottom: 1px solid #ff6600;
}
.windowLeftContent .loggingTab .noBorder th,
.windowLeftContent .loggingTab .noBorder td{
    border: none;
}
.loggingTab .errorHintStyle{
    position: relative;
}
.errorHintStyle .errorFonts{
    font-size: 12px;
    color: #f75429;
    position: absolute;
    left: -30px;
    bottom: -33px;
}
.errorFonts .errorIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -380px -16px;
    vertical-align: middle;
    margin-right: 5px;
}
.loggingTab .forgetPassword{
    color: #666;
}
.loggingTab .forgetPassword:hover{
    color: #ff6600;
}
.loggingWindow .windowRightContent{
    float: left;
    width: 225px;
}
.windowRightContent .logInBg{
    display: inline-block;
    width: 221px;
    height: 232px;
    background: url("../../../images/openPlatform/logInBg.png") no-repeat;
    margin-top: -10px;
}
.windowRightContent .logInBtn{
    text-align: center;
    margin-top: 5px;
}
.windowRightContent .logInBtn a{
    font-size: 0;
    display: inline-block;
    width: 100px;
    height: 40px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat 0 -328px;
}
.windowRightContent .logInBtn a:hover{
    background-position: -105px -328px;
}
/*  首页样式 end  */


/*  升级通知 start  */
.rightMainContentList{
    
}
.rightMainContentList .rightNavList{
    font-size: 14px;
    border-bottom: 1px solid #e6e5e5;
    margin: 20px 0;
    color: #333;
}
.rightNavList li{
    float: left;
    min-width: 100px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e6e5e5;
    border-right: 1px solid #e6e5e5;
    text-align: center;
    background-color: #fafafa;
    cursor: pointer;
}
.rightNavList li:first-child{
    border-left: 1px solid #e6e5e5;
}
.rightNavList li.current{
    color: #0695e1;
    border-top: 2px solid #3399cc;
    margin-bottom: -1px;
    background-color: #fff;
}
.rightAllListContent .allInformList{
    margin-bottom: 25px;
}
.allInformList li{
    font-size: 14px;
    color: #666;
    margin-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e5e5;
    background: url("../../../images/openPlatform/listIcon.png") no-repeat 1% 15%;
    cursor: pointer;
}
.allInformList .AllLeftListTitle{
    float: left;
    width: 87%;
}
.allInformList .AllLeftListTitle:hover{
    color: #0695e1;
}
.allInformList .AllRightListData{
    float: right;
    width: 12%;
}
.noticeWindowContent .windowTopTitle{
    text-align: center;
}
.windowTopTitle .titleFonts{
    font-size: 16px;
    color: #333;
    margin: 20px 0 10px;
}
.windowTopTitle .dataFonts{
    font-size: 12px;
    color: #ababab;
}
.noticeWindowContent .userInfo{
    border-top: 1px solid #ededed;
    padding: 15px 30px;
    margin: 20px;
    max-height: 350px;
    overflow-y: auto;
}
.userInfo .titleFonts{
    font-size: 14px;
    color: #333;
}
.userInfo .userNoticeContent{
    font-size: 12px;
    margin: 20px 0;
    line-height: 24px;
    color: #666;
}
.allInformList.noticeList li{
    background: url("../../../images/openPlatform/noticeIcon.png") no-repeat 1.2% 20%;
}
.mainContentR .noticeTitleFonts{
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e5e5;
}

/*  升级通知 end  */

/* 联系我们 S */
.contactUS-map {
    background: url("../../../images/openPlatform/map_contactUs.jpg") no-repeat;
    width:778px;
    height: 291px;
    margin:0 auto;    
}
.contactUsUl {
    padding: 0 0 30px 0;
}
.contactUsUl li {
    font-size: 14px;
    color: #666;
    padding: 25px 0 0 15px;
}
.contactUsUl .addressIcon, .contactUsUl .telIcon, .contactUsUl .faxIcon, .contactUsUl .zipCodeIcon {
    background: url("../../../images/openPlatform/icon-contactUs.png") no-repeat 0 0;
    width:20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.contactUsUl .telIcon {
    background-position: 0 -26px;
    width:18px;
    height: 24px;
}
.contactUsUl .faxIcon {
    background-position: 0 -55px;
    width:16px;
    height:20px;
}
.contactUsUl .zipCodeIcon {
    background-position: 0 -80px;
    width:19px;
    height: 14px;
}
/* 联系我们 E */

/* 盈利模式 S */
.contentFontsDiv {
    
}
.contentFontsDiv .paragraph-section {
    margin: 0 0 20px 0;
}
.contentFontsDiv p {
    line-height: 22px;
    font-size: 14px;
    color: #666;
}
/* 盈利模式 E */

/* 平台简介 S */ 
.contentFontsDiv .marginParagraphBottom {
    margin-bottom: 35px;
}
.paragraph-section h4 {
    font-size: 16px;
    color:#333;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f0efef;
    font-weight: normal;
}
/*.coreCompetenceDiv {
    background: url("../../../images/openPlatform/coreCompetence.jpg") no-repeat;
    width:664px;
    height: 356px;
    margin: 22px auto;
}*/
.coreCompetenceUl {
    margin: 30px 0 22px 45px;
}
.coreCompetenceUl li {
    float:left;
    display:inline-block;
    margin: 0 0 20px 20px;
    box-shadow:1px 1px 10px 2px #ccc;
    border-radius: 3px;
    background: #fff;
    width:300px;
    padding:0 0 15px 0;
}
.coreCompetenceUl li .titleLi-blue, .coreCompetenceUl li .titleLi-green {
    background: #6a9fbe;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    padding:0 0 0 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.coreCompetenceUl li .titleLi-green {
    background: #85c378;
}
.coreCompetenceUl li p {
    color: #000;
    font-size: 16px;
    padding:0 0 0 20px;
    margin-bottom: 5px;
}
/* 平台简介 E */

.applyLink {
    display: inline-block;
    margin: 7px 0;
}

.applyLink a {
    text-decoration: underline;
    color: #0695e1;
}