@charset "utf-8";
/* CSS Document */

/* 开发文档-国内机票 start */
.leftMenu{
    width:220px;
    float:left;
    margin-top: 15px;
}
.menuChange,.noMenuChange{
    background:#fff;
    margin-left: 5px;
}
.menuChange li,.noMenuChange li{
    float:left;
    color:#a7c7e5;
    cursor:pointer;
}
.firstLevel{
    background-color: #fff;
}
.firstLevel em{
    width:200px;
    color: #fff;
    display:inline-block;
    padding:10px 0 10px 20px;
    font-size:16px;
    font-weight:normal;
    background-color: #fa8e46;
    border-bottom: 1px solid #fff;
}
.firstLevel .bitTitle{
    display: inline-block;
    min-width: 140px;
}
.menuChange .secondLevel,
.menuChange .currentMenu{
    background:#fff ;
}
.secondLevel li{
    padding:10px 0;
    margin: 0 20px;
    font-size:14px;
    font-weight:normal;
    width:180px;
    color: #666666;
    border-bottom: 1px solid #ececec;
}
.menuChange .secondLevel li:hover{ color:#ff4800;}
.secondLevel .currentStatus,
.secondLevel .currentStatus:hover{
    color:#ff4800;
    background:#fff;
    border-left: 5px solid #ff6600;
    margin-left: -5px;
    margin-right: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    box-shadow: 3px 3px 7px 0px #f2ebe6;
    -webkit-box-shadow: 3px 3px 7px 0px #f2ebe6;
}
.firstLevel em:hover {
    color: #fff;
}
.secondLevel li:hover {
    color: #fff;
}
.firstLevel .sideTopArrowIcon {
    background: url(../../../images/openPlatform/openPlatformIcon.png) no-repeat -348px 0;
    width: 10px;
    height: 7px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
.firstLevel .sideBottomArrowIcon {
    background-position: -364px 0px;
}

.formatContent{
    margin-bottom: 15px;
    font-size: 14px;
}
.formatContent .formatBtn{
    text-align: center;
    margin: 7px 0;
}
.formatBtn .xml,
.formatBtn .json{
    font-size: 14px;
    min-width: 70px;
    padding: 5px;
    display: inline-block;
    border: 0;
    margin-right: -4px;
}
.formatBtn button{
    background-color: #fffefe;
    color: #636363;
}
.formatBtn button.current{
    background-color: #0695e1;
    color: #fff;
}

.rightCont {
    width: 835px;
    float: right;
    margin-top: 15px;
}
.commonTitle{
    margin: 10px 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #d8d7d7;
}
.commonTitle .titleFonts{
    font-size: 18px;
    color: #333333;
}
.articleHover{
    width: 835px;
    background-color: #f0efef;
}
.articleHover .articleHoverList{
    float: left;
    width: 685px;
    margin-right: 5px;
}
.articleHoverList li{
    float: left;
}
.articleHoverList li a{
    font-size: 16px;
    color: #fff;
    display: block;
    min-width: 140px;
    min-height: 27px;
    line-height: 27px;
    text-align: center;
    padding: 7px 10px;
    margin-right: 3px;
    background-color: #bcbcbc;
}
.articleHoverList li a:hover{
    background-color: #0e5e88;
}
.articleHoverList .currentArticleHover{
    background-color: #0e5e88;
}
.articleHoverList .anchorCommonIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    margin-right: 15px;
}
.articleHoverList .anchor01{
    width: 25px;
    height: 25px;
    background-position: 0 -48px;
}
.articleHoverList .anchor02{
    width: 19px;
    height: 21px;
    background-position: -32px -48px;
}
.articleHoverList .anchor03{
    width: 22px;
    height: 23px;
    background-position: -58px -48px;
}
.articleHoverList .anchor04{
    width: 26px;
    height: 24px;
    background-position: -88px -48px;
}
.articleHover .articleHoverBtn{    
    float: left;
    font-size: 16px;
    width: 130px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: #666666;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -37px 0;
}
.articleHover .articleHoverBtn:hover{
    background-position: -174px 0;
    color: #fff;
}
.articleHover .articleHoverBtn em{
    margin-right: 15px;
}
.hoverContent{
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
}
.hoverContent .commonStyle{
    margin: 40px 10px 20px;
    font-size: 14px;
}
.hoverContent .commonStyle.first{
    margin-top: 0;
}
.commonStyle .titleFonts16{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.commonStyle .commonP{
    line-height: 23px;
    color: #666666;
}
.commonStyle .htmlContent{
    font-size: 14px;
    background-color: #efeeee;
    color: #666666;
    padding: 15px;
    width: 760px;
    height: 400px;
    line-height: 20px;
    overflow: auto;
    border: 0;
}
*::selection,textarea::selection,p::selection{
    background-color: #ff6600;
    color: #fff;
}
*::-moz-selection,textarea::-moz-selection,p::-moz-selection{
    background-color: #ff6600;
    color: #fff;
}
.commonStyle .blueHeadTab th,
.commonStyle .blueHeadTab td{
    padding: 7px 5px 7px 10px;
}
.commonStyle .blueHeadTab th:first-child,
.commonStyle .blueHeadTab td:first-child{
    padding-left: 15px;
}
.commonStyle .blueHeadTab td:first-child{
    color: #333333;
}
.commonStyle .blueHeadTab th{
    background-color: #daeff7;
    font-weight: normal;
    text-align: left;
}
.commonStyle .blueHeadTab td{
    border-bottom: 1px dashed #cccccc;
    color: #666;
}
.commonStyle .blueHeadTab .oneLineEllipsis{
    display: inline-block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 开发文档-国内机票 end */


/*常见问题 start*/
.marginTop {
    margin-top: 1px;
}
.mainContentR {
    background-color: #fff;
    padding: 15px;
}
.questionSearchBar {
    border-bottom: 1px solid #ececec;
    padding:5px 20px 20px 20px;
    margin: 0 -15px 15px -15px;
}
.questionSearchBar input[type="text"]:focus {
    border: 1px solid #40aee8;
    box-shadow: 0px 0px 5px 1px #c9ecfe;
}
.searchBarInput {
    display: inline-block;
    width: 596px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
}
.questionSearchBar .searchIconSpan {
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    padding: 10px 6px 9px 6px;
    vertical-align: middle;
}
.questionSearchBar .searchIconSpan i {
    background: url("../../../images/openPlatform/icon-search.png") no-repeat 0 0;
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0 0 0;
}
.commonBigBlueBtn {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #0695e1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
.commonBigBlueBtn:hover {
    background-color: #0685c9;
}
.questionSearchBar .questionBtn {
    margin-left: 10px;
}

.questionContent {
    
}
.questionContent h3 {
    font-size: 18px;
    color: #333;
    padding: 0 0 15px 0;
    font-weight: normal;
}
.questionContent .questionItem {
    border-top:1px solid #ececec;
    padding: 15px 0;
}
.questionContent .questionItem h4 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    padding: 0 0 10px;
    overflow: hidden;
}
.questionContent .questionItem h4 em {
    color: #0695e1;
    float: left;
}
.questionContent .questionItem h4 span {
    float: left;
    display: inline-block;
    width:95%;
}
.questionContent .questionItem p {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    overflow: hidden;
}
.questionContent .questionItem p em {
    font-size: 16px;
    color: #ff8d42;
    float: left;
}
.questionContent .questionItem p span{
    float: left;
    display: inline-block;
    width:95%;
}
/*弹窗*/
.questionTemplateTab th, .questionTemplateTab td {
    padding:10px 0 10px 5px;
    font-size: 16px;
}
.questionTemplateTab th {
    font-weight: normal;
    text-align: right;
}
.questionTemplateTab input[type="text"] {
    border: 1px solid #ececec;
    height: 36px;
    line-height: 36px;
    padding: 0 3px;
}
.questionTemplateTab label {
    margin-right: 10px;
}
.questionTemplateTab textarea {
    border: 1px solid #ececec;
}
.popWindowBtn {
    text-align: center;
    margin: 20px 0;
}
.popWindowBtn .cancelFonts {
    color: #40aee8;
    font-size: 16px;
    vertical-align: middle;
}
.popWindowBtn .cancelFonts:hover {
    text-decoration: underline;
}
.marginLeft {
    margin-left: 20px;
}
/*常见问题 end*/


/*  文档下载 start  */
.noMenuChange .firstLevel em{
    background: #0695e1;
}
.secondLevel li.last{
    border-bottom: 0;
}
.rightCont .commonTitle.noBottomLine{
    border-bottom: 0;
}
.commonStyle .haveBottomLine{
    border-bottom: 1px solid #f0efef;
    padding-bottom: 10px;
}
.commonStyle .secondLevelTitle{
    margin: 20px;
}
.secondLevelTitle .explainFonts{
    font-weight: bold;
    font-size: 16px;
    color: #0695e1;
    line-height: 40px;
}
.explainFonts .explainIcon{
    width: 18px;
    height: 23px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -310px -16px;
}
.lightBlueTab{
    width: 100%;
    margin: 20px 0;
    border: 1px solid #c0e4f2;
}
.lightBlueTab thead th{
    padding: 10px;
    text-align: center;
    color: #333333;
    background-color: #daeff7;
    border-bottom: 1px solid #a6e1f7;
}
.lightBlueTab tbody td{
    padding: 10px;
    color: #797d7f;
    border-left: 1px solid #c0e4f2;
    text-align: center;
    vertical-align: top;
}
.lightBlueTab tbody td div{
    line-height: 25px;
}
.lightBlueTab tbody td:first-child{
    text-align: left;
    padding-left: 20px;
}
.lightBlueTab tbody td a,
.lightBlueTab tbody td a:hover .lightBlueFonts{
    color: #0695e1;
}
.lightBlueTab tbody td a:hover{
    text-decoration: underline;
}
.lightBlueTab tbody .lightBlueFonts{
    color: #9eddff;
}
.lightBlueTab .documentIcon{
    width: 16px;
    height: 21px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -333px -16px;
}
/*  文档下载 end  */

/*  测试工具 start  */
.documentTitle{
    margin: 15px 0;
    padding-top: 10px;
}
.documentTitle .titleFonts{
    color: #333;
    font-size: 18px;
}
.documentContent{
    background-color: #fff;
    border: 1px solid #e6e5e5;
    padding: 30px;
}
.commonTabModel{
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}
.commonTabModel th{
    text-align: right;
    color: #333;
    font-weight: normal;
    padding: 7px 10px 7px 0;
}
.commonTabModel td{
    padding: 7px 3px;
}
.commonTabModel select{
    color: #666;
    font-size: 14px;
}
.commonTabModel input[type="text"]{
    height: 35px;
    line-height: 35px;
    padding-left: 3px;
    border: 1px solid #cdcdcd;
    font-size: 14px;
    color: #666;
}
.k-header{
    font-size: 14px;
}
.commonTextarea .commonHeadStrip{
    padding: 8px 15px;
}
.commonTextarea .commonHeadStrip h3{
    font-size: 16px;
    color: #333;
}
.commonTextarea textarea{
    line-height: 25px;
    padding: 15px 10px;
    border: 1px solid #dcdcdc;
    color: #666666;
}
.commonTextarea .greenBg{
    background-color: #c5ece7;
}
.commonTextarea .blueBg{
    background-color: #dcf0f8;
}
.commonTextarea .lightOrangeBg{
    background-color: #ffe1d4;
}
.commonTextarea.textareaInfo{
    width: 500px;
}
.textareaInfo textarea{
    width: 478px;
    height: 500px;
}
.lightOrangeTextarea{
    margin: 20px 0;
}
.lightOrangeTextarea textarea{
    width: 1018px;
    height: 220px;
}
/*  测试工具 end  */



/*  注册 start  */
.registerStyle{
    margin: -30px -30px 20px;
}
.registerStyle li{
    float: left;
    width: 49.9%;
}
.registerStyle li a{
    display: inline-block;
    font-size: 18px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #f9f8f8;
    color: #9f9f9f;
    border: 1px solid #dcdcdc;
    position: relative;
}
.registerStyle .current a{
    background-color: #ceedff;
    border: 1px solid #86d5ff;
    color: #0695e1;
}
.registerStyle .commonIcon{
    width: 24px;
    height: 24px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    margin-right: 5px;
}
.registerStyle .blueCompanyIcon{
    background-position: 0 -212px;
}
.registerStyle .grayCompanyIcon{
    background-position: -55px -212px;
}
.registerStyle .grayPersonageIcon{
    background-position: -27px -212px;
}
.registerStyle .bluePersonageIcon{
    background-position: -83px -212px;
}

.registerStyle .current .bottomArrowIcon{
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 14px;
    background: url("../../../images/openPlatform/bigDownArrow.png") no-repeat 0 0;
    position: absolute;
    left: 50%;
    bottom: -14px;
}
.registerContent{
    margin-top: 30px;
}
.registerModel{
    position: relative;
    font-size: 14px;
    color: #555555;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f0efef;
}
.registerModel.last{
    border-bottom: 0;
}
.registerModel .titleFonts{
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 5%;
}
.registerModel .registerModelTab{
    margin-left: 220px;
}
.registerModelTab th{
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    padding: 10px 5px;
    color: #333;
}
.registerModelTab td{
    padding: 10px 5px;
}
.registerModelTab td div{
    margin-bottom: 10px;
}
.registerModelTab td .noneMarginBottom{
    margin-bottom: 0;
}
.registerModelTab input[type="text"],
.registerModelTab input[type="password"],
.registerModelTab input[type="email"]{
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    color: #666;
}
.registerModelTab input:focus{
    border: 1px solid #0695e1;
    box-shadow: 1px 0px 4px 1px #d0ebf9;
}
.registerModelTab .blueFonts{
    color: #0695e1;
}
.registerModelTab .verificationCode{
    display: inline-block;
    min-width: 120px;
    padding: 10px;
    text-align: center;
    color: #333333;
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
}
.registerModelTab .verificationCode:hover{
    border: 1px solid #a0a0a0;
}
.registerModelTab .verificationCode.retry{
    color: #9a9a9a;
}
.registerModelTab .successHintStyle{
    color: #333;
    margin-left: 10px;
}
.successHintStyle .successIcon{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -350px -131px;
    margin-right: 5px;
}
.agreementFonts a{
    color: #0695e1;
}
.agreementFonts a:hover{
    text-decoration: underline;
}
.agreementFonts .agreementIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    vertical-align: middle;
    margin-right: 7px;
}
.agreementFonts .selectStatus{
    background-position: -211px -79px;
}
.agreementFonts .selectStatus.noSelectStatus{
    background-position: -211px -98px;
}
.registerModelTab .changeWidth{
    min-width: 330px;
    margin-top: 20px;
}
.registrationProtocolWindow{
    margin: 10px 0 10px 10px;
}
.registrationProtocolWindow textarea{
    width: 650px;
    height: 390px;
    padding: 10px;
    line-height: 22px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    color: #646464;
}
.registrationProtocolWindow .alignCenterBtn{
    text-align: center;
}
.hintContent .orangeFonts{
    color: #cf6b00;
}
.registerModelTab .errorStyle{
    position: relative;
}
.registerModelTab .errorStyle input{
    border: 1px solid #ff6600;
    box-shadow: 1px 0 3px 2px #feede1;
}
.errorStyle .errorHintFonts{
    color: #ff6600;
    position: absolute;
    bottom: -23px;
    left: 0;
}
/*  注册 end  */


.individuals{
    margin: 20px;
}

.individuals .font1{
    font-size: 14px;
    color: #666666;
}

.individuals .font2{
    font-size: 14px;
    color: #333333;
}

.individuals .font3{
    font-size: 14px;
    color: #0695e1;
}

.individuals .input-frame1{
    width: 195px;
    height: 40px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #dcdcdc;
    text-indent: 10px;
}

.commit-btn{
  background-color: #0695e1;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  text-align: center;
  vertical-align: middle;
  margin-left: 74px;
}

.corporate-detail-input{
    width: 346px;
    height: 40px;
    margin-left: 80px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #dcdcdc;
    text-indent: 10px;
}

.modify-password-table th{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}

.modify-password-table td{
    height: 76px;
}

.modify-password-table td input{
    width: 230px;
    height: 40px;
}

.commonBigBlueBtn, .disabled_btn {
  background-color: #0695e1;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 10px;
  text-align: center;
}

.cancelBtn {
  color: #0695e1;
  font-size: 16px;
  margin-left: 20px;
}

.modify-password-table{
    margin-left: 16px;
}

.tipsIcon{
    width: 16px;
    height: 16px;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -350px -130px;
    display: inline-block;
}

.password-input-style{
    width: 230px;
    text-indent:10px;
    border: 1px solid #dcdcdc;
}

.modify-phoneNum-table{
    margin-left: 16px;
}

.modify-phoneNum-table th{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}

.modify-phoneNum-table td{
    height: 60px;
}

.phoneNum-input-style{
    width: 168px;
    height: 40px;
    text-indent:10px;
    border: 1px solid #dcdcdc;
}

.message-verify-code{
    width: 168px;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    color: #333333;
    font-size: 14px;
}

.resend-verify-code{
    width: 168px;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    color: #9a9a9a;
    font-size: 14px;
    display: none;
}

.none-verifyCode-explain{
    font-size: 12px;
    color: #ff6600;
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
}

.phoneNum-input-frame{
    width: 168px;
    height: 40px;
    text-indent:10px;
    border: 1px solid #dcdcdc;
}

.none-verifyCode-alert{
    border: 1px solid #ff6600;
}


/*  找回密码 start  */
.retrievePasswordFlow{
    float: right;
}
.retrievePasswordFlow li{
    float: left;
    margin-left: 30px;
    padding: 0 5px 15px;
    font-size: 16px;
    color: #9c9c9c;
    min-width: 90px;
    text-align: center;
}
.retrievePasswordFlow li.current{
    color: #0795e1;
    border-bottom: 3px solid #0695e1;
}
.documentContent.addPadding{
    padding: 60px 0;
    margin-top: -15px;
}
.retrievePasswordTab{
    width: 450px;
    margin: 0 auto;
    font-size: 14px;
}
.retrievePasswordTab th{
    font-weight: normal;
    text-align: right;
    padding: 10px 5px 10px 0;
}
.retrievePasswordTab td{
    padding: 10px 5px;
}
.retrievePasswordTab input[type="text"],
.retrievePasswordTab input[type="password"],
.retrievePasswordTab input[type="email"]{
    height: 32px;
    line-height: 32px;
    padding-left: 3px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
}
.retrievePasswordInfo{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}
.retrievePasswordInfo .successHintIcon{
    margin-bottom: 10px;
}
.retrievePasswordInfo .successIcon{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../../../images/openPlatform/succeed.png") no-repeat;
    vertical-align: middle;
}
.retrievePasswordInfo .blueFonts{
    color: #0695e1;
}
.retrievePasswordInfo .blueBtn{
    margin-top: 30px;
}
.retrievePasswordInfo .fonts18{
    font-size: 18px;
}
/*  找回密码 end  */

/*   用户管理-接入IP审核 start   */
.searchTab{
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}
.searchTab th{
    text-align: right;
    font-weight: normal;
    padding: 5px;
}
.searchTab td{
    padding: 5px;
}
.searchTab input[type="text"]{
    font-size: 14px;
    padding-left: 3px;
    border: 1px solid #dcdcdc;
    height: 35px;
    line-height: 35px;
}
.tabTitleContent{
    font-size: 14px;
    margin: 15px 0 10px;
    padding-top: 10px;
    border-top: 1px solid #f0efef;
}
.tabTitleContent .blueFonts{
    color: #0695e1;
}
.tabTitleContent .orangeFonts{
    color: #ff6600;
}
.tabTitleContent .rightTabTitleFonts{
    float: right;
}
.blueHeadTab{
    width: 100%;
    margin: 10px 0;
    border: 1px solid #c7ebf9;
}
.blueHeadTab th,
.blueHeadTab td{
    text-align: center;
    padding: 10px 5px;
}
.blueHeadTab th{
    background-color: #daeff7;
    border-bottom: 1px solid #a9e2f7;
    font-size: 14px;
    color: #2c2c2c;
}
.blueHeadTab td{
    border: 1px solid #c7ebf9;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
}
.blueHeadTab .orangeFonts{
    color: #ff6600;
}
.blueHeadTab td a{
    color: #0695e1;
}
.blueHeadTab td a:hover{
    text-decoration: underline;
}
.blueHeadTab .commonIcon{
    display: inline-block;
    width: 16px;
    height: 15px;
    vertical-align: middle;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
}
.blueHeadTab .statusPassIcon{
    background-position: -350px -131px;
}
.blueHeadTab .statusForbiddenIcon{
    background-position: -370px -131px;
}
.ui-datepicker-daywrapper{ display: none;}
/*   用户管理-接入IP审核 end   */

.keyandportTitle-left{
    display: inline-block;
    float: left;
    color: #333333;
    font-size: 18px;
}

.keyandportTitle-right{
    display: inline-block;
    float: right;
}

.keyandportTitle-right .font1{
    color: #949494;
    font-size: 24px;
}

.keyandportTitle-right .font2{
    color: #a7a7a7;
    font-size: 14px;
    margin-right: 20px;
}

.environment-top{
  background-color: #fff;
  padding: 0 15px;
}

.environment-bottom{
  background-color: #fff;
  padding: 0 15px;
  margin-top: 15px;
}

.test-environment-frame{
  border-bottom: 1px solid #f0efef;
  color: #333333;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}

.formal-environment-frame{
    color: #333333;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}

.test-environment-detail{
  height: 50px;
  line-height: 50px;
  padding: 16px 0;
}

.formal-environment-detail{
    height: 50px;
  line-height: 50px;
  padding: 16px 0;
  border-top: 1px solid #f0efef;
  border-bottom: 1px solid #f0efef;
}

.test-environment-detail .secret{
  border-right: 1px solid #f0efef;
  float: left;
  text-align: left;
  width: 450px;
}

.formal-environment-detail .secret{
    border-right: 1px solid #f0efef;
  float: left;
  text-align: left;
  width: 664px;
}

.test-environment-detail .status{
  float: left;
  text-align: center;
  width: 116px;
}

.test-environment-detail .secret .font1, .test-environment-detail .status .font1, .test-environment-detail .keyTime .font1 {
  color: #666666;
  font-size: 14px;
}

.test-environment-detail .keyTime .font3,.test-environment-detail .status .font3{
    font-size: 14px;
    color: #ababab;
}

.test-environment-detail .status .yeah, .formal-environment-detail .status .yeah {
  background: url("../../../images/openPlatform/clientCenter.png") no-repeat scroll -6px -6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 16px;
}

.test-environment-detail .keyTime, .formal-environment-detail .keyTime {
  float: left;
  width: 213px;
  border-right: 1px solid #f0efef;
}

.test-environment-detail .keyTime .left, .formal-environment-detail .keyTime .left {
  display: inline-block;
  float: left;
  margin-left: 25px;
  width: 175px;
}

.test-environment-detail .secret .font1, .test-environment-detail .status .font1, .test-environment-detail .keyTime .font1 {
  color: #666666;
  font-size: 14px;
}

.test-environment-detail .secret .font2, .test-environment-detail .keyTime .font2 {
  color: #0695e1;
  font-size: 14px;
}

.test-environment-detail .keyTime .right, .formal-environment-detail .keyTime .right {
  border: 1px solid #ff6600;
  border-radius: 4px;
  color: #ff6600;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 110px;
}

.commonBigBlueBtn2 {
  background-color: #0695e1;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  min-width: 92px;
  padding: 0 10px;
  text-align: center;
}

.commonBigBlueBtn2:hover {
    background-color: #0685c9;
}


.formal-environment-detail .secret .font1, .formal-environment-detail .status .font1, .formal-environment-detail .keyTime .font1 {
  color: #666666;
  font-size: 14px;
}

.formal-environment-detail .secret .font2{
    color: #0695e1;
    font-size: 14px;
}

.formal-environment-detail .status{
    float: left;
    text-align: center;
    width: 116px;
}

.formal-environment-detail .status .font1{
  color: #666666;
  font-size: 14px;
}

.formal-environment-detail .status .font3{
  color: #ababab;
  font-size: 14px;
}

.formal-portIP{
    margin-top: 20px;
}

.formal-portIP .button{
    width: 190px;
    height: 40px;
    border-radius: 4px;
    background-color: #dbdbdb;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    float: right;
}

.formal-portIP .icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: url("../../../images/openPlatform/formalportIP.png") no-repeat 0px 0px;
}

.formal-portIP span{
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
}

.port-style{
    margin-left: 76px;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.addressIP{
    margin-left: 76px;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.addressIP input[type="text"]{
  border: 1px solid #dcdcdc;
  color: #666;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding-left: 5px;
  width: 166px;
  margin-left: 18px;
}

.addressIP-copy{
    margin-left: 76px;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.addressIP-copy input[type="text"]{
  border: 1px solid #dcdcdc;
  color: #666;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding-left: 5px;
  width: 166px;
  margin-left: 85px;
}

.addIP-icon{
    background: url("../../../images/openPlatform/addIP.png") no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.addIP-icon:hover{
    background: url("../../../images/openPlatform/addIP_hover.png") no-repeat 0px 0px;
}

.removeIP-icon{
    background: url("../../../images/openPlatform/removeIP.png") no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.removeIP-icon:hover{
    background: url("../../../images/openPlatform/removeIP_hover.png") no-repeat 0px 0px;
}