@charset "utf-8";
/* CSS Document */

/* 开发文档-国内机票 start */
.leftMenu{
    width:220px;
    float:left;
}
.menuChange{
    background:#fff;
    margin-left: 5px;
}
.menuChange li{
    float:left;
    color:#a7c7e5;
    cursor:pointer;
}
.firstLevel{
    background-color: #fff;
}
.firstLevel em{
    width:200px;
    color: #fff;
    display:inline-block;
    padding:10px 0 10px 20px;
    font-size:16px;
    font-weight:normal;
    background-color: #fa8e46;
    border-bottom: 1px solid #fff;
}
.firstLevel .bitTitle{
    display: inline-block;
    min-width: 140px;
}
.menuChange .secondLevel,
.menuChange .currentMenu{
    background:#fff ;
}
.secondLevel li{
    padding:10px 0;
    margin: 0 20px;
    font-size:14px;
    font-weight:normal;
    width:180px;
    color: #666666;
    border-bottom: 1px solid #ececec;
}
.menuChange .secondLevel li:hover{ color:#ff4800;}
.secondLevel .currentStatus,
.secondLevel .currentStatus:hover{
    color:#ff4800;
    background:#fff;
    border-left: 5px solid #ff6600;
    margin-left: -5px;
    margin-right: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    box-shadow: 3px 3px 7px 0px #f2ebe6;
    -webkit-box-shadow: 3px 3px 7px 0px #f2ebe6;
}
.firstLevel em:hover {
    color: #fff;
}
.secondLevel li:hover {
    color: #fff;
}
.firstLevel .sideTopArrowIcon {
    background: url(../../../images/openPlatform/openPlatformIcon.png) no-repeat -348px 0;
    width: 10px;
    height: 7px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
.firstLevel .sideBottomArrowIcon {
    background-position: -364px 0px;
}

.formatContent{
    margin-bottom: 15px;
    font-size: 14px;
}
.formatContent .formatBtn{
    text-align: center;
    margin: 7px 0;
}
.formatBtn .xml,
.formatBtn .json{
    font-size: 14px;
    min-width: 70px;
    padding: 5px;
    display: inline-block;
    border: 0;
    margin-right: -4px;
}
.formatBtn .xml{
    background-color: #fffefe;
    color: #636363;
}
.formatBtn .json{
    background-color: #0695e1;
    color: #fff;
}

.rightCont {
    width: 835px;
    float: right;
    margin-top: 15px;
}
.commonTitle{
    margin: 10px 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #d8d7d7;
}
.commonTitle .titleFonts{
    font-size: 18px;
    color: #333333;
}
.articleHover{
    width: 835px;
    background-color: #f0efef;
}
.articleHover .articleHoverList{
    float: left;
    width: 685px;
    margin-right: 5px;
}
.articleHoverList li{
    float: left;
}
.articleHoverList li a{
    font-size: 16px;
    color: #fff;
    display: block;
    min-width: 140px;
    min-height: 27px;
    line-height: 27px;
    text-align: center;
    padding: 7px 10px;
    margin-right: 3px;
    background-color: #bcbcbc;
}
.articleHoverList li a:hover{
    background-color: #0e5e88;
}
.articleHoverList .currentArticleHover{
    background-color: #0e5e88;
}
.articleHoverList .anchorCommonIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat;
    margin-right: 15px;
}
.articleHoverList .anchor01{
    width: 25px;
    height: 25px;
    background-position: 0 -48px;
}
.articleHoverList .anchor02{
    width: 19px;
    height: 21px;
    background-position: -32px -48px;
}
.articleHoverList .anchor03{
    width: 22px;
    height: 23px;
    background-position: -58px -48px;
}
.articleHoverList .anchor04{
    width: 26px;
    height: 24px;
    background-position: -88px -48px;
}
.articleHover .articleHoverBtn{    
    float: left;
    font-size: 16px;
    width: 130px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: #666666;
    background: url("../../../images/openPlatform/openPlatformIcon.png") no-repeat -37px 0;
}
.articleHover .articleHoverBtn:hover{
    background-position: -174px 0;
    color: #fff;
}
.articleHover .articleHoverBtn em{
    margin-right: 15px;
}
.hoverContent{
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
}
.hoverContent .commonStyle{
    margin: 40px 10px 20px;
    font-size: 14px;
}
.hoverContent .commonStyle.first{
    margin-top: 0;
}
.commonStyle .titleFonts16{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.commonStyle .commonP{
    line-height: 23px;
    color: #666666;
}
.commonStyle .htmlContent{
    font-size: 14px;
    background-color: #efeeee;
    color: #666666;
    padding: 15px;
    width: 760px;
    height: 400px;
    line-height: 20px;
    overflow: auto;
    border: 0;
}
textarea::selection,p::selection{
    background-color: #ff6600;
    color: #fff;
}
textarea::-moz-selection,p::-moz-selection{
    background-color: #ff6600;
    color: #fff;
}
.commonStyle .blueHeadTab th,
.commonStyle .blueHeadTab td{
    padding: 7px 5px 7px 10px;
}
.commonStyle .blueHeadTab th:first-child,
.commonStyle .blueHeadTab td:first-child{
    padding-left: 15px;
}
.commonStyle .blueHeadTab td:first-child{
    color: #333333;
}
.commonStyle .blueHeadTab th{
    background-color: #daeff7;
    font-weight: normal;
    text-align: left;
}
.commonStyle .blueHeadTab td{
    border-bottom: 1px dashed #cccccc;
    color: #666;
}
.commonStyle .blueHeadTab .oneLineEllipsis{
    display: inline-block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 开发文档-国内机票 end */
