.scene{
    background-repeat:no-repeat;
    background-position:50% 50%;
}
.s0{
    height: 730px;
    background:#171930 url(../../images/store/jijiajiu-xin.jpg) 50% 0 no-repeat;
    position: relative;
}
/*.s0 {*/
    /*background: url("../../images/store/lvyou-xin.jpg") center no-repeat #3b66d7;*/
    /*width: 100%;*/
    /*height: 570px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*z-index: -1;*/
/*}*/
.s1{
    background-color:#27264e;
    background-image:url(../../images/store/jijiajiu/s1.jpg);
}
.s2{
    background-color:#28599e;
    background-image:url(../../images/store/jijiajiu/s2.jpg);
}
.s3{
    background-color:#68c3c4;
    position:relative;
}
.s3_0{
    height:100%;
    width:100%;
    background: url(../../images/store/jijiajiu/s3.jpg) no-repeat 50% 20%;;
}
.s3_1{
    position:absolute;
    bottom:0;
    height:165px;
    width:100%;
    background-color:#4b9e9f;
    background-image:url(../../images/store/jijiajiu/s3_1.jpg);
    background-repeat:no-repeat;
    background-position:50% 50%;
}
.main-body{
    padding:0;
    position: relative;
}
.roll{
    cursor:pointer;
    left:50%;
    color: #888 !important;
    z-index:99;
    width:100px;
    margin-left:-50px;
    text-align:center;
    font-size:16px;
}
.s0 .roll{
    position:absolute;
    bottom: 66px;
}
.s3 .roll{
    position:absolute;
    bottom: 180px;
}
.s3 .roll{
    color:#fff !important;
}
.s3 .roll i{
    bottom:20px;
}
.vsroll{}
.vsroll{
    bottom: 88px;
    position:fixed;
    display:none;
}
.roll i{
    position:absolute;
    display:block;
    background-position: 50% 0;
    background-repeat:no-repeat;
    height: 48px;
    width:100%;
    bottom:-40px;
}
.roll .state1{
    background-image:url(../../images/store/jijiajiu/arrow.png);
}
.roll .state2{
    background-image:url(../../images/store/jijiajiu/arrowh.png);
}
.roll .state3{
    background-image:url(../../images/store/jijiajiu/arrow2.png);
}
.roll .state4{
    background-image:url(../../images/store/jijiajiu/arrowh2.png);
}