.tourBG{
    position:relative;
    height:470px;
    background:url(../../images/store/travl/travl_02.jpg) 50% 0 no-repeat;
}
.tr-homequery{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:230px auto;
    width:820px;
    height: 60px;
    padding:10px 5px 20px 5px;
    background-color:rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    border-radius:5px;
    color:#fff;
}
.tr-datepicker .datepicker{
    border:none;
    background-color:transparent;
    line-height: 40px \9;
    height: 40px;
    padding: 0 10px;
    width:150px;
    font:inherit;
}
.tr-datepicker-bg{
    background-color:#fff;
    display: block;
    height: 40px;
    line-height: 40px \9;
    color:#333;
    font-size:14px;
}
.tr-arrival{
    vertical-align:bottom;
    display:inline-block;
}
.tr-arrival .k-input{
    text-indent:30px;
}
.tr-arrival-bg{
    background:#fff url('../../images/store/travl/travl_01.png') 5px 10px no-repeat;
    display: block;
    height: 40px;
    line-height: 40px;
    color:#333;
    font-size:14px;
}
.tr-arrival s,.tr-datepicker s{
    display:block;
    margin-bottom:4px;
}
.tr-datepicker{
    display:inline-block;
}
.tr-departure-text{
    font-size:16px;
    margin:0 10px;
}
.btn-s1{
    width:140px;
    height:40px;
    font-size:18px;
}
.tr-search-button{
    vertical-align:bottom;
    display:inline-block;
}
.tr-arrival-bg span {
    border:none !important;
    height:40px !important;
    line-height:40px !important;
    background-color:transparent !important;
    vertical-align:top;
}

.tr-arrival-bg .k-icon {
    height:20px !important;
    margin-top:10px;
}
.tr-datepicker-bg u{
    color:#bebebe;
    margin: 0 10px;
}
.tr-home-main{
    margin:0 auto;
    width: 960px;
}
.tr-home-list footer{
    text-align:right;
    clear:both;
    padding:10px 0 20px 0;
}

.travl_op1{ width:460px; height:340px; }
.travl_op2,.travl_op3,.travl_op4,.travl_op5{ width:230px; height:160px; }

.travl_op1 span{ background-image:url(../../images/store/travl/travl_09.jpg); }
.travl_op2 span{ background-image:url(../../images/store/travl/travl_11.jpg); }
.travl_op3 span{ background-image:url(../../images/store/travl/travl_18.jpg); }
.travl_op4 span{ background-image:url(../../images/store/travl/travl_14.jpg); }
.travl_op5 span{ background-image:url(../../images/store/travl/travl_16.jpg); }

.rigtPic a{
    display:inline-block !important;
    float:left;
}
.rigtPic div{
    overflow:hidden;
    clear:both;
}

.rigtPic div:nth-child(1){
    margin-bottom:20px;
}
.rigtPic a:nth-child(1){
    margin-right:20px;
    margin-bottom:0 !important;
}
.tr-home-title{
    font-size:22px;
    color:#333;
    padding-left: 32px;
    background:url(../../images/store/travl/travl_05.jpg) no-repeat;
    border-bottom:#c9c9c9 2px solid;
    margin-bottom:12px;
    padding-bottom:10px;
}
.commonModule{
    border:0;
    background:none;
    padding:0;
    margin: 20px auto 10px auto;
}
.commonModule .showPic li:first-child{
    margin-right:20px;
}
.tr-name{
    font-size:14px;
    width:360px;
    float:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:bottom;
}
.tr-home-list .col1{
    width:480px;
}
.tr-home-list .col2{
    width:480px;
}
.tr-home-list li{
    float:left;
    line-height: 44px;
    color:#333;
    border-bottom:1px #d2d2d2 dashed;
}
.tr-home-list .col2 .tr-name{
    width:380px;
}
.tr-price{
    font-size:14px;
}
.tr-price i{
    font-family:arial;
    color:#ef4423;
}
.tr-price strong{
    font-family:arial;
    font-weight:bold;
    color:#ef4423;
    font-size:20px;
}
.tr-price u{
    margin: 0 0 0 3px;
}
.tr-home-list li a{
    color:inherit;
    text-decoration:none !important;
}
.tr-home-list-more{
    color:#3183cb;
    font-size:14px;
}
.arrial-row{
    padding-left:36px;
    background:url(../../images/store/travl/travl_01.png) no-repeat;
    font-size:14px;
    color:#333 !important;
    line-height:40px;
    height:40px;
}

.arrial-icon0{
    background-position: 5px 10px;
}
.arrial-icon1{
    background-position: 5px -25px;
}
.arrial-icon2{
    background-position: 5px -60px;
}
#arrival-list{
    border:0;
    padding:0;
}
#arrival-list li{
    border:0 !important;
    background:none !important;
    text-decoration:none !important;
    padding:0 !important;
    margin:0 !important;
}
.changeCommonModule .travelThemePic li:first-child,.changeCommonModule .destinationPic li:first-child{
    margin: 0;
}

/*  旅游新首页banner 搜索样式 */
.searchWrapper {
    font-family: "微软雅黑";
    position: absolute;
    top: -68px;
    left: -80px;
    bottom: 0;
    right: 0;
    width: 860px;
    margin: 230px auto;
}
.searchWrapper input {
    font-size: 14px;
    color: #666;
}
.newSearchTab {
    width: 467px;
    margin: 0 -1px 0 0;
    padding: 0;
    overflow: hidden;
}
.newSearchTab li {
    float: left;
    cursor: pointer;
    color: #63afed;
    width: 73px;
    font-size: 14px;
    text-align: center;
    height: 26px;
    line-height: 26px;
}
.newSearchTab li:hover {
    text-decoration: underline;
}
.newSearchTab li:before {
    content: "|";
    color: #ddd;
    float: left;
}
.newSearchTab li.first:before, .newSearchTab li.selected:before {
    content: "";
}
.newSearchTab .selected {
    color: #fff;
    background-color: #5eb5f1;
    border-width: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
}
.newSearch .newSearchContent {
    position: relative;
    height: 60px;
}
.newSearch .searchForm {
    clear: both;
    position: relative;
    padding: 9px 0 0 10px;
}
.searchForm .transparencyBg{
    display: inline-block;
    width: 860px;
    height: 60px;
    background-color: #FFFFFF;
    filter:alpha(opacity=30);
    opacity:0.3;
    border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    -webkit-border-radius: 0 3px 3px 3px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.newSearch .searchForm em {
    color: #cbeaff;
}
.newSearchDate {
    background: #e5f3fd;
    border: 1px solid #77c2f6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    line-height: 20px;
    display: inline-block;
}
.newSearch .searchForm .btn {
    width: 84px;
    height: 30px;
    color: #fff;
    background-color: #5eb5f1;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    border: 0;
    margin-left: 15px;
}
.newSearch .searchForm .btn:hover{
    background: #4a89ea;
}
.inputWhiteBgRow {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    padding: 1px;
    display: inline-block;
    width:465px;
    float: left;
    margin-right: 2px;
}
.inputNoBgRow {
    height: 30px;
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.inputWhiteBgRow .startOff-bg {
    background: url("../../images/store/travl/startOffBg.png") no-repeat;
    width:126px;
    height: 28px;
    display: inline-block;
    padding: 1px;
    position: relative;
}
.inputWhiteBgRow .startFont {
    position: absolute;
    right: 24px;
    top:7px;
    color: #919191;
    font-size: 12px;
}
.inputWhiteBgRow .startOff, .inputWhiteBgRow .scenicPlace {
    border: none;
    background-color: transparent;
    height: 28px;
    line-height: 28px;
}
.inputWhiteBgRow .startOff {
    font-size: 18px;
    color: #074e97;
}
.searchForm02 {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.noWhiteBg .startOff-bg{
    height: 42px;
    width: 128px;
    background: url("../../images/store/iconSprite.png") no-repeat 0 -230px;
    margin-right: 8px;
}
.noWhiteBg .inputWhiteBgRow{
    height: 40px;
    background: none;
}
.noWhiteBg .startOff{
    height: 42px;
    line-height: 42px;
}
.noWhiteBg .scenicPlace {
    background: #FFFFFF;
    padding-left: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 41px;
    line-height: 41px;
}
.noWhiteBg .startFont{
    right: 26px;
    top: 15px;
}
.noWhiteBg .newSearchDate{
    line-height: 40px;
    height: 40px;
    border: 0;
    background: #FFFFFF;
    padding-left: 5px;
}
.newSearch .searchForm em{
    color: #FFFFFF;
}
.newSearch .searchForm .btn{
    background: #4580db;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.transparencyChange .selected{
    background: none;
}
.transparencyChange .selected .listBg{
    background: #FFFFFF;
    filter:alpha(opacity=30);
    opacity:0.3;
    color: #FFFFFF;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 73px;
    height: 33px;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}
.transparencyChange li{
    line-height: 35px;
    height: 32px;
    color: #ababab;
}
.transparencyChange li:before{
    content: "" !important;
}
.transparencyChange .addLine{
    color: #6b6b6b;
    width: auto;
}
.transparencyChange .addLine:hover{
    text-decoration: none;
    cursor: default;
}
.noWhiteBg .inputWhiteBgRow .startOff{
    color: #333333;
}


.searchWrapper .hotCity{
    margin: 15px 0 0 10px;
    color: #bababa;
}
.hotCity .hotCityTitle{
    font-weight: bold;
}
.hotCity .cityLink a{
    color: #bababa;
    margin-right: 13px;
    text-decoration: underline;
}
.hotCity .cityLink a:hover{
    color: #fff;
    font-weight: bold;
}

/*  旅游首页Body  */
.changeCommonModule .tr-home-title{
    margin-bottom: 0;
    background-image: none;
    padding-left: 15px;
}
.changeCommonModule .orangeTitle{
    color: #fe4f1e;
    border-bottom: 2px solid #fe4f1e;
}
.changeCommonModule .blueTitle{
    color: #0271c7;
    border-bottom: 2px solid #0271c7;
}
.changeCommonModule .purpleTitle{
    color: #334abe;
    border-bottom: 2px solid #334abe;
}
.changeCommonModule .greenTitle{
    color: #219502;
    border-bottom: 2px solid #219502;
}
.greenTitle .inlandIcon,.purpleTitle .exitIcon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.greenTitle .inlandIcon{
    background: url("../../images/store/iconSprite.png") no-repeat -80px -53px;
    width: 34px;
    height: 28px;
}
.purpleTitle .exitIcon{
    background: url("../../images/store/iconSprite.png") no-repeat -37px -49px;
    width: 34px;
    height: 33px;
}
.changeCommonModule .showPic{
    padding: 20px 15px;
    background: #FFFFFF;
    border: 1px solid #e3e3e3;
    border-top: 0;
}
.changeCommonModule .showPic li:first-child{
    margin-right: 14px;
}
.changeCommonModule .rigtPic a:first-child {
    margin-right: 13px;
}
.changeCommonModule .travelThemePic li:first-child,.changeCommonModule .destinationPic li:first-child{
    margin: 0;
}
.changeCommonModule .travelThemePic a{
    width: 180px;
    height: 260px;
    float: left;
    margin-left: 12px;
}
.changeCommonModule .destinationPic a{
    width: 157px;
    float: left;
    margin-left: 1px;
}
.changeCommonModule .destinationPic span{
    height: 200px;
}
.destinationPic .imgPlaceInfo{
    display: inline-block;
    width: 157px;
    padding: 15px 0;
    text-align: center;
    color: #505050;
    font-size: 16px;
}
.destinationPic .deepGray{
    background: #dbdbdb;
}
.destinationPic .lightGray{
    background: #ececec;
}
.changeCommonModule .travelThemePic a:first-child{
    margin-left: 0;
}
.travelThemePic .travelTheme01 span{
    background: url("../../images/store/travl/travelTheme_01.jpg") no-repeat;
}
.travelThemePic .travelTheme02 span{
    background: url("../../images/store/travl/travelTheme_02.jpg") no-repeat;
}
.travelThemePic .travelTheme03 span{
    background: url("../../images/store/travl/travelTheme_03.jpg") no-repeat;
}
.travelThemePic .travelTheme04 span{
    background: url("../../images/store/travl/travelTheme_04.jpg") no-repeat;
}
.travelThemePic .travelTheme05 span{
    background: url("../../images/store/travl/travelTheme_05.jpg") no-repeat;
}

.destinationPic .leaveTheCountry01 span{
    background: url("../../images/store/travl/leaveTheCountry_01.jpg") no-repeat;
}
.destinationPic .leaveTheCountry02 span{
    background: url("../../images/store/travl/leaveTheCountry_02.jpg") no-repeat;
}
.destinationPic .leaveTheCountry03 span{
    background: url("../../images/store/travl/leaveTheCountry_03.jpg") no-repeat;
}
.destinationPic .leaveTheCountry04 span{
    background: url("../../images/store/travl/leaveTheCountry_04.jpg") no-repeat;
}
.destinationPic .leaveTheCountry05 span{
    background: url("../../images/store/travl/leaveTheCountry_05.jpg") no-repeat;
}
.destinationPic .leaveTheCountry06 span{
    background: url("../../images/store/travl/leaveTheCountry_06.jpg") no-repeat;
}
.destinationPic .a img{
    display: inline-block;
    width: 157px;
    height: 200px;
}

.destinationPic .inlandDestination01 span{
    background: url("../../images/store/travl/inlandDestination_01.jpg") no-repeat;
}
.destinationPic .inlandDestination02 span{
    background: url("../../images/store/travl/inlandDestination_02.jpg") no-repeat;
}
.destinationPic .inlandDestination03 span{
    background: url("../../images/store/travl/inlandDestination_03.jpg") no-repeat;
}
.destinationPic .inlandDestination04 span{
    background: url("../../images/store/travl/inlandDestination_04.jpg") no-repeat;
}
.destinationPic .inlandDestination05 span{
    background: url("../../images/store/travl/inlandDestination_05.jpg") no-repeat;
}
.destinationPic .inlandDestination06 span{
    background: url("../../images/store/travl/inlandDestination_06.jpg") no-repeat;
}

.hotLinePic .todayHot{
    position: absolute;
    left: 0;
    top: 0;
    background: #eb4937;
    padding: 5px 10px;
    color: #FFFFFF;
    font-size: 16px;
}
.todayHot .hotIcon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../../images/store/iconSprite.png") no-repeat -14px -64px;
    vertical-align: middle;
    margin-right: 3px;
}

.destinationPic img {
    height: 200px;
}

.destinationPicli div a{
    height:250px;
}
.destinationPicli div a img,.destinationPicli div a span{
    height:100%;
}
.destinationPicli div a em.imgPlaceInfo{
    position:absolute;
    bottom:0;
    background:rgba(0,0,0,0.65);
    color:#fff;
}
.destinationPic .destinationPicli span{
    height:100%;
    background-size:cover;
}

/*  旅游新首页-签证 start  */
.travelThemePic .travelVisaTheme01 span{
    background: url("../../images/store/travl/travelVisaTheme_01.jpg") no-repeat;
}
.travelThemePic .travelVisaTheme02 span{
    background: url("../../images/store/travl/travelVisaTheme_02.jpg") no-repeat;
}
.travelThemePic .travelVisaTheme03 span{
    background: url("../../images/store/travl/travelVisaTheme_03.jpg") no-repeat;
}
.travelThemePic .travelVisaTheme04 span{
    background: url("../../images/store/travl/travelVisaTheme_04.jpg") no-repeat;
}
.travelThemePic .travelVisaTheme05 span{
    background: url("../../images/store/travl/travelVisaTheme_05.jpg") no-repeat;
}
.changeCommonModule .blueGreenTitle{
    color: #0097a6;
    border-bottom: 2px solid #0097a6;
}
.changeCommonModule .hotVisaContent li,
.changeCommonModule .hotVisaContent li:first-child{
    margin: 0;
}
.showPic .hotVisaInfo{
    margin: 0 10px 10px 0;
    border: 1px solid #fff;
    padding: 10px;
}
.showPic .hotVisaInfo:hover{
    background-color: #f3fcff;
    border: 1px solid #bbe6f6;
}
.hotVisaInfo dt{
    float: left;
}
.hotVisaInfo dd{
    float: left;
    margin-left: 10px;
}
.hotVisaInfo dt img{
    display: inline-block;
    width: 80px;
    height: 55px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.hotVisaInfo dd .visaTitleFonts{
    font-size: 14px;
    color: #5e5e5e;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 3px;
}
.hotVisaInfo dd .orangeFonts{
    color: #ef4423;
    font-size: 14px;
    margin-top: 7px;
}
.hotVisaInfo dd .orangeFonts b{
    font-size: 18px;
    margin-left: -4px;
}



/*  旅游新首页-签证 end  */
