.calendar .k-other-month .remainNum,.calendar .k-other-month .salePrice{
    display: none;
}
.calendar .k-other-month div.sale{
    background: transparent;
    cursor: default;
}
.calendar .k-other-month div.sale:hover {
    position: relative !important;
    width:auto;
    border:0;
    margin:0;
}
.k-other-month .sale .calendar_date{
    color: #ADADAD;
}
.calendar .k-state-focused{
    background: transparent;
}
.calendar td a {
    cursor: default;
}

.k-state-hover{
    background-color: transparent;
}
.calendar td a .sale{cursor: pointer}
.k-calendar .k-content .k-link {
    padding: 0;
    line-height: 19px;;
}
.k-state-selected.k-state-focused{
    background: #ffffff;
}
.k-state-hover{
    background-color: transparent;
}
td.k-other-month{cursor: default}
#calendarTitle{color:#FF6500;font-size:14px;font-weight:bold;width:780px;margin:0 auto 10px}
#calendarContainer{background:#D8F0FF;padding:60px 20px 30px;box-shadow:3px 3px 3px #1F6491;width:780px;margin:0 auto;position:relative}
#calendarHead{position:absolute;top:30px;left:120px}
#calendarHead th{width:93px;text-align:center}
#calendar{width:458px;border:1px solid #9AC8E7;}
#calendar .k-header{display:none}
#calendar thead th{background: #99C9F1;color:#ffffff;}
#calendar td{height:38px;width:65px;border:1px solid #ccc;padding:0;vertical-align: top;}
.calendar_date{position:absolute;top:3px;left:3px;color: #ADADAD}
#calendarOperationPanel{width:83px;height:440px;border:1px solid #AFD2E9;background:#EBF7FF;float:left;position:relative}
#calendarDateInfo{position:absolute;top:50%;margin-top:-50px;left:15px;text-align:center}
#calendarDateInfo .monthValue{font-size:26px;color:#3399CB;vertical-align:top}
#calendarMonthTag{font-size:16px;line-height:42px;display:inline-block;height:26px;+line-height:33px}
#calendar th{text-align:center}
#calendar td a{cursor: default}
#calendar td a .sale{cursor: pointer}
#calendar div.sale{background:#E8F4FF}
#calendar b.edge{background:url('../../images/calendarEdge.gif') no-repeat;width:10px;height:11px;position:absolute;top:0;right:0}
#calendar .remainNum{color:#338331;float: left; padding-left: 22px;}
#calendar .salePrice{color:#FF6500;float: left;display: block;text-align: center}
.calendarOperation{background: #99c9f1;height: 35px;line-height: 35px;position: relative}
.calendarMonthLeft{background: url("../../images/store/calendar_arrow.png") 0 0 no-repeat;width: 6px;height: 11px;position:absolute;top:12px;left:10px;cursor: pointer}
.calendarMonthRight{background: url("../../images/store/calendar_arrow.png") 0 -12px no-repeat;width: 6px;height: 11px;position:absolute;top:12px;right:10px;cursor: pointer}
.calendarMonthLeft:hover{background-position: 0 -24px;}
.calendarMonthRight:hover{background-position: 0 -36px;}
.calendarDate{text-align: center;font-size: 14px;color: #ffffff;font-weight: bold}
.sale .calendar_date{color: #333333;}
.sale:hover{
    position: absolute !important;
    width:64px;
    border:1px solid #ff6500;
    margin:-1px 0  0 -1px;
}
#calendar .k-other-month .remainNum,#calendar .k-other-month .salePrice{
    display: none;
}
#calendar .k-other-month div.sale{
    background: transparent;
    cursor: default;
}
#calendar .k-other-month div.sale:hover {
    position: relative !important;
    width:auto;
    border:0;
    margin:0;
}
#calendar .k-state-focused{
    background: transparent;
}
.lineWeight {
    box-shadow:none;
}
.message_ct{z-index:1}
