div.k-window-content{
    padding: 15px;
}

/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}

.main-footer center {
    margin-top: 20px;
}

.copyright {
    padding-bottom: 20px;
}

.main-footer a {
    color: inherit;
}

.main-footer .bar {
    margin: 0 5px;
}

/*旅游列表页*/
.tour_main-body {
    width: 980px;
    margin: 10px auto;
    min-height: 400px;
    font-family: "sans-serif", "Arial", "Helvetic";
    color: #636363;
}
.tour_searchBar {
    margin-bottom: 10px;
}
.tour_searchBar .sign {
    background: url(../../images/store/icon_ellipse.png) no-repeat;
    width: 15px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: sub;
}
.tour_searchBar .font16 {
    font-size: 16px;
    margin-right: 10px;
}
.tour_searchBar .font14 {
    font-size: 14px;
    margin-left: 30px;
}
.tour_searchBar label {
    margin: 0 10px;
}
.tour_searchBar input {
    border: 1px solid #c7c7c7;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
    color: #636363;
}
.tour_blue_btn {
    background: #52a0e5;
    padding: 0 30px;
    line-height: 30px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    vertical-align: baseline;
}
.tour_blue_btn:hover {
    background: #67b3f6;
}
.select_seekBlock {
    width: 978px;
    border: 1px solid #efefef;
    background: #fff;
    height: auto;
    overflow: hidden;
}
.seekCondition_block {
    padding: 10px 20px 0 20px;
}
.seekCondition_block span {
    float: left;
    line-height: 20px;
    margin-right: 10px;
}
.select_seekBlock .seekCondition {
    display: inline;
    line-height: 20px;
}
.seekCondition li {
    float: left;
    margin: 0 0 0 10px;
    text-align: center;
    cursor: pointer;
    min-width: 55px;
}
.seekCondition .li_selected, .seekCondition li:hover {
    background: #52a0e5;
    min-width: 55px;
    color: #fff;
}
.seekCondition_days {
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4
}
.select_seekBlock .filterCondition {
    padding: 5px 20px;
    background: #fff;
}
.select_seekBlock .filterCondition div.item {
    margin: 5px;
    float: left;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    padding: 2px 25px 2px 10px;
    position: relative
}
.select_seekBlock .filterCondition div.item:hover {
    background: #FF6500;
    color: #fff;
    border: 1px solid #FF6500;
    cursor: pointer;
}

.select_seekBlock .filterCondition div.item:hover .close {
    color: #fff
}

.select_seekBlock .filterCondition .close {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #FF6500;
    float: right;
    line-height: 18px;
    text-decoration: none;
    position: absolute;
    right: 6px;
    top: 1px
}

.filterCondition span {
    float: left;
    line-height: 36px;
    margin-right: 16px;
}

.tour_main_list {
    border: 1px solid #efefef;
    margin-top:10px;
}

.tour_resultInfo {
    background: #F8F8F8;
    padding: 10px 15px;
}

.tour_resultNo {
    color: #ff6500;
    font: bold 18px arial;
    padding: 0 5px;
    vertical-align: baseline;
}

.tour_result_sortButtonContainer span {
    margin-left: 10px
}

.pageNoCAT {
    color: #E94749;
    height: 24px;
    line-height: 24px;
    font-size: 14px
}

/*page No Current And Total*/
.tourRoomPrice {
    color: #FF6500;
    font: bold 20px/1.5 Arial;
}

.tourRoomPrice.sold {
    color: #636363;
    border-bottom: none
}

.tourRoomPrice .changeFont {
    font-size: 14px;
    font-weight: 500;
}

.roomTypeDetailContainer .floatLayer {
    padding-bottom: 1px;
    border-bottom: 1px dashed #ff6500;
    cursor: pointer;
}

.tour_resultList {
    background: #fff;
    font-size: 14px;
}

.tour_resultDiv {
    height: auto;
    overflow: hidden;
    padding: 20px 0 10px 0;
}

.tour_resultDiv:hover {
    background: #f7fbff;
    cursor: pointer;
}

.tour_resultDiv_left {
    float: left;
    padding-left: 20px;
}

.tour_resultDiv_right {
    float: right;
    padding-right: 20px;
    vertical-align: middle;
    width:250px;
}

.tour_resultDiv .fontTitle {
    color: #888;
    width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*.tour_resultDiv .fontBigTitle {
    color: #3183cb;
    font-size: 16px;
    font-weight: bold;
    margin-right: 3px;
}

.tour_resultDiv:hover .fontBigTitle {
    text-decoration: underline;
}*/

.tour_resultDiv .tour_price {
    color: #ef4423;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

.tour_resultDiv p {
    padding-bottom: 10px;
}

.tour_price_block {
    margin-right: 20px;
}

.tour_resultDiv .tour_price em {
    font-size: 14px;
    font-family: "微软雅黑";
}

.tour_unfoldCon {
    padding: 5px 0 10px 20px;
    z-index: 1;
    clear: both;
}

.viewGroup, .fewerGroup {
    margin-left: 10px;
}

.viewGroup em, .fewerGroup em {
    background: url(../../images/store/tour_arrowIcon.png) no-repeat 0 0;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.fewerGroup em {
    background-position: 0 -6px;
}

.dotted_topbor {
    border-top: 1px dotted #e4e4e4;
}
.solid_topbor {
    border-top: 1px solid #e1e1e1;
}
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}
/*日历 样式*/
.k-calendar .k-content .k-link {
    padding: 0;
    line-height: 19px;
    font-size: 12px;
}
.k-state-selected.k-state-focused {
    background: #ffffff;
}
.calendarContainer {
    font-size: 12px;;
}
#calendarHead {
    position:absolute;
    top:30px;
    left:120px
}
.calendarHead th {
    width:93px;
    text-align:center;
    font-size: 12px;
}
.calendar {
    width:358px;
    border:1px solid #9AC8E7;
}
.calendar .k-header {
    display:none
}
.calendar thead th {
    background: #99C9F1;
    color:#ffffff;
    font-size: 12px;
}
.calendar td {
    height:38px;
    width:65px;
    border:1px solid #eaeaea;
    padding:0
}

.calendar td:hover {
    background:#f4fcff;
}
.calendar_date {
    position:absolute;
    top:3px;
    left:3px;
    color: #aeaeae;
    font-size: 12px;
}

.calendar th {
    text-align:center
}
.calendar div.sale {
    background:#E8F4FF
}
.calendar b.edge {
    background:url('../images/calendarEdge.gif') no-repeat;
    width:10px;
    height:11px;
    position:absolute;
    top:0;
    right:0
}
.calendar .remainNum {
    color:#338331;
    float: left;
    padding-left: 22px;
    font-size: 12px;
}
.calendar .salePrice {
    color:#FF6500;
    float: left;
    display: block;
    text-align: center;
}
.calendarOperation {
    background: #99c9f1;height: 35px;
    line-height: 35px;
    position: relative;
}
.calendarMonthLeft {
    background: url("../../images/store/calendar_arrow.png") 0 0 no-repeat;
    width: 6px;
    height: 11px;
    position:absolute;
    top:12px;
    left:10px;
    cursor: pointer;
}
.calendarMonthRight {
    background: url("../../images/store/calendar_arrow.png") 0 -12px no-repeat;
    width: 6px;
    height: 11px;
    position:absolute;
    top:12px;
    right:10px;
    cursor: pointer;
}
.calendarMonthLeft:hover {
    background-position: 0 -24px;
}
.calendarMonthRight:hover {
    background-position: 0 -36px;
}
.calendarDate {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.tour_guestInfo .delAddContent{
    color: #2792d6;
    cursor: pointer;
    margin-left: 5px;
}
.tour_guestInfo.readonly th {
    color: #888;
}



















/*旅游创建订单*/

/* 订单流程 */
.flow {
    padding: 10px 10px 0 10px;
}

.flow h3 {
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #797979;
    font-weight: bold;
    background: url(../../images/store/leftarrows.png) no-repeat left center;
    float: left;
}

.flow ul {
    float: right;
    border-bottom: 2px solid #e1e1e1;
    padding-right: 20px;
    position: relative;
}

.flow ul li {
    float: left;
    margin-right: 90px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #c8c8c8;
}

.flow ul li em {
    color: #8d8d8d;
    font-weight: bold;
}

.flow .current_li {
    color: #4bae10;
}

.flow ul .line {
    border-top: 2px solid #4bae10;
    bottom: -6px;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.flow .last {
    margin-right: 0;
}

/*流程样式 */
.instr {
    overflow: hidden;
    margin: 0 10px;
}

.instr span {
    position: relative;
    z-index: 1;
    padding-bottom: 25px;
    display: block;
    float: left;
    background: url(../../images/store/flowDot.jpg) 50% 30px no-repeat;
    margin-right: 10px;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #b9b9b9;
}
.instr .first {
    margin-left: 0;
}
.instr .last {
    margin-right: 0;
}

.instr span.highlight-tour {
    background: url(../../images/store/balloonIcon.jpg) no-repeat 50% 100%;
    color: #e47965;
}

.instr span.highlight {
    background: url(../../images/store/flowdeepDot.jpg) no-repeat 50% 25px;
    color: #797979;
}

.instr {
    position: relative;
}

.instr .line {
    position: absolute;
    display: block;
    height: 2px;
    border-bottom: 2px dotted #e6e6e6;
    bottom: 6px;
    z-index: 0;
    margin-left: -5px;
}

.instr .line div {
    background-color: #c1c1c1;
    height: 2px;
    margin-top: 2px;
}

.breadthDiv {
    width: 720px;
}

.tour_createOrder {
    border: 1px solid #efefef;
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
    position: relative;
}

.chief {
    border-bottom: 1px solid #e1e1e1;
}
.chief h3 {
    width: 10%;
    font-size: 16px;
    font-weight: bold;
    color: #f1634c;
    border-bottom: 1px solid #f1634c;
    padding: 0 0 5px 5px;
    margin-bottom: -1px;
}
.tour_orderTitle {
    padding: 15px 0;
    border-bottom: 1px dotted #e4e4e4;
    margin-bottom: 15px;
    
}
.tour_orderTitle h2 {
    color: #404040;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 698px;
}
.tour_orderTitle .font_tit {
    color: #888;
}
.tour_orderTitle .font_smallGap {
    margin-left: 10px;
}
.tour_orderTitle .font_gap {
    margin-left: 30px;
}
.pro_infoTable td {
    vertical-align: top;
    padding-bottom: 10px;
}
.pro_infoTable .blueTag {
    background: #7bcbf1;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    min-width: 54px;
    padding:3px 0;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}
.pro_infoTable p {
    padding-bottom: 8px;
}
 .pro_infoTable .price, .tour_guestInfo .price {
     color: #ef4423;
     font-size: 13px;
     margin-right: 3px;
 }
.pro_infoTable .price em, .tour_guestInfo .price em {
    font-family: "微软雅黑";
    font-size: 12px;
}
.tour_guestInfo {
    font-size: 14px;
    color: #404040;
    margin: 10px auto;
    width:700px;
}

.tour_guestInfoAdd {
    margin: 0px;
}

.tour_guestInfo th {
    text-align: right;
    padding:6px 5px 6px 0;
}
.tour_guestInfo th em {
    color: #f1634c;
    font-size: 12px;
    margin-right: 3px;
    vertical-align: middle;
}
.tour_guestInfo td {
    padding:6px 0 6px 5px;
}
.tour_guestInfo input[type=text] {
    height: 23px;
    line-height: 23px;
    border: 1px solid #bbb;
    padding-left: 5px;
    width:187px;
    vertical-align: middle;
}
.tour_guestInfo input[name=select_pro] {
    border:none;
}

.tour_guestInfo input[type=checkbox] {
    margin-right: 3px;
    vertical-align: text-bottom;
}
.tour_guestInfo .add_btn {
    color: #2792d6;
    cursor: pointer;
}
.tour_guestInfo input , .tour_guestInfo select {
    color: #404040; 
    font-size: 14px;
}

.tour_infoList {
    position: relative;
}

.tour_infoListAdd{
    margin: 0px;
}

.tour_infoListDiv {
    position: absolute;
    top:10px;
    left: 5px;
}
.tour_infoListDiv p {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}
.tour_infoListDiv .peopleType {
    background: #73c889;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    color: #fff;
    padding: 2px 3px;
    text-align: center;
}
.del_guest-block {
    margin-top: 10px;
    cursor: pointer;
}
.tour_infoList .del_guestBlock {
    margin-top: 10px;
    display: block;
}
.tour_infoList .del_guestBlock span {
    display: none;
}
.tour_infoList:hover {
    background: #f7fcff;
}
.tour_infoList:hover .del_guestBlock span {
    display: inline;
    cursor: pointer;
}
/*.del_guestBlock .del_guest {
    background: #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    color: #767676;
    padding: 2px 3px;
    text-align: center;
}
.del_guestBlock .del_guest:hover {
    background: #e9e9e9;
    color: #616161;
    cursor: pointer;
}*/
.del_guest-block .del_guest {
    color: #2792d6; !important
}

.add_guestBlock {
    border: 1px dashed #c9c9c9;
    background: #f8f8f8;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #1ba1e2;
    font-size: 14px;
}
.add_guestBlock i ,.add_guestBlock .guestBlockIcon{
    background: url(../../images/store/tour_addIcon.png) no-repeat;
    width:13px;
    height: 13px;
    display: inline-block;
    margin-right: 3px;
}
.add_guestBlock:hover {
    border: 1px dashed #23a8e8;
    background: #23a8e8;
    cursor: pointer;
    color: #FFFFFF;
}
.add_guestBlock:hover .guestBlockIcon{
    background: url("../../images/store/smallPic.png") no-repeat -69px -148px;
}
.tour_totalPrice {
    color: #ef4423;
    font-size: 26px;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
}
.tour_totalPrice em {
    font-family: "微软雅黑";
    font-size: 20px;
}


.tour_rightFillIn {
    color: #333333;
    margin-left: 728px;
    width:252px;
}
.fillInBlock {
    
}
.aside_orderTopBg {
    background: url(../../images/store/tour_asideTop.png) no-repeat;
    width: 252px;
    height: 16px;
}
.aside_orderCon {
    background: url(../../images/store/tour_asideConBg.png) repeat-y;
    
}
.orderTotal {
    border-bottom: 1px dotted #e4e4e4;
    height: auto;
    overflow: hidden;
    margin: 0 15px;
    padding: 10px 0;
}
.orderTotal .total_zj {
    color: #888;
    font-size: 14px;
    float: left;
}
.orderTotal .totalPrice {
    color: #ef4423;
    font-size: 20px;
    float: right;
}
.orderTotal .totalPrice em {
    font-family: "微软雅黑";
    font-size: 16px;
}
.orderTotalInfo {
    padding: 10px 0;
    margin:0 15px;
}
.orderTotalInfo h5 {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}
.orderTotalInfo p {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
}

.orderTotalInfo .price {
    color: #ef4423;
    font-size: 16px;
}
.orderTotalInfo .price em {
    font-family: "微软雅黑";
    font-size: 14px;
}
.aside_orderBotBg {
    background: url(../../images/store/tour_asideBottom.png) no-repeat 50% bottom;
    width: 252px;
    height: 10px;
}



.departureInfoContainer li:hover{
    color: #ec5e16;
    text-decoration: underline;
}

.departureInfo {
    width: 170px;
    height: 22px;
    vertical-align: middle;
    border: 1px solid #bbbbbb;
    background: url("../../images/store/input_arrowDown.gif") 94% 50% no-repeat;
    cursor: pointer;
}



/* tab切换 */
.tour_tab_change {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.tour_tab_change li {
    float: left;
    padding: 8px 15px;
    color: #636363;
}
.currentState {
    background: #fff;
    border: 1px solid #e1e1e1;
    margin: -1px 0 -1px -1px;
    border-bottom: 1px solid #fff;
}

.currentState a {
    font-weight: bold;
    
}
.tour_tab_change li em a{
    color: #636363;
}

.tour_tab_change a:hover, .tour_tab_change a:visited, .tour_tab_change a:active {
    text-decoration: none;
}
.expense_include, .expense_Noinclude {
    padding: 10px 5px 0 5px;
    width:95%;
}


/*排序按钮样式*/
.sorttab {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #c1c1c1;
    padding: 3px 40px 3px 10px;
}

.sorttab i {
    width: 9px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 28%;
    background: url(../../images/store/travl/sort.png) no-repeat 0 0;
    right: 3px
}

.ascend, .descend {
    color: #404040
}

.ascend i {
    background-position: -14px 0
}

.descend i {
    background-position: -28px 0
}

/*排序按钮样式*/

/* 通用翻页*/
.pagination, .paging {
    margin: 10px 0;
}

.pagination div, .paging div {
    float: right;
    height: 30px;
    line-height: 30px;
}

.pagination div em, .paging div em {
    color: #e94749;
    font-weight: bold;
}

.pagination ul, .paging ul {
    margin: 0 10px 0 5px;
    float: right;
}

.pagination ul li, .paging ul li {
    float: left;
    margin-left: 10px;
}

.pagination ul li a, .paging ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #ccd5de;
    color: #e94749;
}

.pagination ul li a:hover, .pagination .present, .paging .present {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #e94749;
    border: 1px solid #e94749;
}

.pagination ul li span, .paging ul li span {
    color: #e94749;
}

.pagination .disabled {
    color: #ccd5de;
}

.pagination .disabled:hover {
    color: #ccd5de;
    background: none;
    border: 1px solid #ccd5de;
    cursor: default;
}

.paging ul li a:hover {
    background: #f6f6f6;
    text-decoration: none;
    color: #e94749;
}

.paging .present:hover {
    background: #e94749;
    color: #fff;
}

/* 通用button*/
.adaptiveButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.adaptiveButton:hover {
    text-decoration: none;
}

.adaptiveButton .center {
    padding: 0 30px;
    color: #ffffff;
}

.adaptiveButton .center_1 {
    padding: 0 20px;
}

.adaptiveButton .center_2 {
    padding: 0 10px;
}

.mediumOrange_btn span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.mediumOrange_btn .left {
    background: url('../../images/store/big_btn.png') 0 -240px no-repeat;
    width: 5px
}

.mediumOrange_btn .center {
    background: url("../../images/store/big_btn.png") 0 -275px repeat-x;
}

.mediumOrange_btn .right {
    background: url('../../images/store/big_btn.png') 0 -310px no-repeat;
    width: 5px
}

.mediumOrange_btn:hover .left {
    background: url('../../images/store/big_btn.png') 0 -345px no-repeat;
}

.mediumOrange_btn:hover .center {
    background: url("../../images/store/big_btn.png") 0 -380px repeat-x;
}

.mediumOrange_btn:hover .right {
    background: url('../../images/store/big_btn.png') 0 -416px no-repeat;
}


.brightOrange_btn  span{float:left; height:35px; line-height:35px;}
.brightOrange_btn .left{background:url('../../images/store/big_btn.png') 0 -680px no-repeat;width:5px}
.brightOrange_btn .center{background:url("../../images/store/big_btn.png") 0 -720px repeat-x;}
.brightOrange_btn .right{background:url('../../images/store/big_btn.png') 0 -760px no-repeat;width:5px}
.brightOrange_btn:hover .left{background:url('../../images/store/big_btn.png') 0 -800px no-repeat;}
.brightOrange_btn:hover .center{background:url("../../images/store/big_btn.png") 0 -840px repeat-x;}
.brightOrange_btn:hover .right{background:url('../../images/store/big_btn.png') 0 -880px no-repeat;}




.tour_guestInfo .addIdentityCard{
    display: none;
}
.tour_guestInfo .papersStyle{
    position: relative;
}
.papersStyle .add_btn{
    position: absolute;
    top: 5px;
    right: -75px;
}
input[type="text"]:focus,textarea:focus{
    /*border: 1px solid #76cbe8;*/
}
.tour_infoList:hover .delStyleContent{
    display: inline-block;
}
.tour_infoList .delStyleContent{
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 5px 10px;
    border: 1px dashed #bae2fa;
    cursor: pointer;
    display: none;
}
.tour_infoList .delStyleContent:hover{
    border: 1px dashed #23a8e8;
    background: #23a8e8;
    color: #FFFFFF;
}
.tour_infoList .delStyleContent:hover .delIcon{
    background: url("../../images/store/smallPic.png") no-repeat -32px -251px;
}
.delStyleContent .delIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../images/store/smallPic.png") no-repeat -50px -251px;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}
.tour_guestInfo .redErrorBorder{
    border: 1px solid #d10707 !important;
}
.errorStyleHint{
    position: relative;
}
.errorStyleHint .errorHint{
    position: absolute;
    top: 0;
    left: 205px;
}
.errorStyleHint .message_ct{
    min-width: 65px;
}
.tour_createOrder .orderRemark{
    width: 680px;
    height: 75px;
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: #333;
    border: 1px solid #bdbdbd;
    resize: none;
}
.submitOrder{
    margin: 0 80px;
}



.submitOrder .inventoryTitle{
    font-size: 14px;
    font-weight: bold;
}

.submitOrder .inventoryTitleAdd{
    margin-left: -78px;
}

.submitOrder .redFonts{
    color: #ef4423;
}
.submitOrder .returnHint{
    margin: 7px 0;
    font-size: 14px;
}

.submitOrder .returnHintAdd{
    margin-left: -80px;
}

.submitOrder .submitOrderBtn{
    margin-top: 20px;
}
.submitOrder .submitOrderBtn a{
    margin-right: 10px;
    font-size: 14px;
}

.submitOrder .submitOrderBtnAdd a:hover{
    color: #636363;
}

.submitOrder .submitOrderBtnAdd2{
    margin-left: 60px;
}

.submitOrder .submitOrderBtnAdd3{
    margin-left: 164px;
}

.submitOrder .submitOrderBtnAdd4{
    margin-left: 115px;
}

.submitOrderBtn .sponsorForA{
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #FFFFFF;
    display: inline-block;
    color: #636363;
    text-align: center;
    padding: 0 5px;
    min-width: 90px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}
.submitOrderBtn .sponsorForA:hover{
    background: #f7f7f7;
    text-decoration: none;
    color: #636363;
}
.tour_createOrder .saveFrequentTraveller{
    position: absolute;
    left: 25%;
    top: 17px;
}
.tour_createOrder .saveFrequentTraveller input{
    vertical-align: middle;
    margin-right: 3px;
}
.tour_createOrder .frequentTravellerList{
    position: absolute;
    right: 20px;
    top: -8px;
}
/*创建订单的常旅客*/
.constant #ffc_title{ background:none #EF633D;}
.k-ie7 .constant #ffc_title,.k-ie7 #travellerListTitle { width:158px;}
.k-ie7 .travellerLocation{ width:168px;}
#ffc_input_new{border:0;text-indent:0;width:148px;padding:0 15px 0 5px;outline:none;background:url("../../images/order_r8_c5.png") no-repeat center right 8px #fff;height:25px;line-height:25px;}
#travellerListTitle{background:url(../../images/store/orangeBgDownArrow.png) no-repeat 90% 50% #ececec;color:#666666;padding:0 5px;height:30px;line-height:30px; border-top:1px solid #e1e1e1;}
#travellerListTitle.expanded{background-image:url(../../images/store/orangeBgUpArrow.png)}
#travellerListTitle label {display:block;cursor:pointer; width:158px;}
.travellerListCont{ position:absolute; z-index:20; background:#fff;margin-left:-1px;border:1px solid #abadb3; border-top:0;}
#travellerList{ width:168px; overflow-y:auto; overflow-x:hidden;height:310px;}
#travellerList li{ border-top:1px solid #e1e1e1; display:block; padding:0px 5px 0px 10px;height:30px;line-height:30px;}
#travellerList li label{ display:block;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.travellerLocation{ position:relative; z-index:10;border:1px solid #abadb3;margin-top: 15px;}
.travellerLocation .selectTraveler{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: -87px;
}

.travellerLocation .selectTravelerAdd{
    font-weight: normal;
}


.pack_up,.pack_up:hover{ position:relative; color:#636363; text-decoration:none; padding:4px 10px 0 18px; display:inline-block; vertical-align:middle;}
.pack_up i,.more-cabin.expanded i{ width:9px; height:7px; display:inline-block;background:url(../../images/store/up_down.png) no-repeat right 0px; vertical-align:middle; margin-left:2px;}
.first_up td{ padding:20px 0;}











/*产品列表页 新*/
.searchWrapper {
    margin: 10px 0;
    font-family: "微软雅黑";
}
.searchWrapper input {
    font-size: 14px;
    color: #666;
}
.newSearchTab {
    width: 467px;
    margin: 0 -1px 0 0;
    padding: 0;
    overflow: hidden;
}
.newSearchTab li {
    float: left;
    cursor: pointer;
    color: #63afed;
    width: 73px;
    font-size: 14px;
    text-align: center;
    height: 26px;
    line-height: 26px;
}
.newSearchTab li:hover {
    text-decoration: underline;
}
.newSearchTab li:before {
    content: "|";
    color: #ddd;
    float: left;
}
.newSearchTab li.first:before, .newSearchTab li.selected:before {
    content: "";
}
.newSearchTab .selected {
    color: #fff;
    background-color: #5eb5f1;
    border-width: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 1px;
    margin-right: -3px;
    position: relative;
}
.newSearch .newSearchContent {
    position: relative;
}
.newSearch .searchForm {
    clear: both;
    background-color: #5eb5f1;
    width: 790px;
    height: 30px;
    line-height: 30px;
    padding: 5px 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-right-radius: 3px;
    -moz-border-top-right-radius:3px;
    -webkit-border-top-right-radius:3px;
}
.newSearch .searchForm em {
    color: #cbeaff;
}
.newSearchDate {
    background: #e5f3fd;
    border: 1px solid #77c2f6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    line-height: 20px;
    display: inline-block;
}
.datepicker.newSearchDate {
    height: 28px;
    line-height: 28px;
}
.newSearch .searchForm .btn {
    width: 84px;
    height: 30px;
    color: #fff;
    background-color: #5eb5f1;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    border: 0;
    margin-left: 15px;
}
.inputWhiteBgRow {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    padding: 1px;
    display: inline-block;
    width:465px;
    float: left;
    margin-right: 5px;
}
.inputNoBgRow {
    height: 30px;
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.inputWhiteBgRow .startOff-bg {
    background: url("../../images/store/travl/startOffBg.png") no-repeat;
    width:126px;
    height: 28px;
    display: inline-block;
    padding: 1px;
    position: relative;
}
.inputWhiteBgRow .startFont {
    position: absolute;
    right: 24px;
    top:7px;
    color: #919191;
    font-size: 12px;
}
.inputWhiteBgRow .startOff, .inputWhiteBgRow .scenicPlace {
    border: none;
    background-color: transparent;
    height: 28px;
    line-height: 28px;
}
.inputWhiteBgRow .startOff, .inputWhiteBgRow .visaCountry {
    font-size: 18px;
    color: #074e97;
}
.searchForm02 {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}




.travel-filter {
    border: 1px solid #dce6f0;
    background: #fff;
    zoom: 1;
    margin-bottom: 10px;
}
.play_type {
    height: 34px;
    line-height: 34px;
    background-color: #dce4eb;
    border-bottom: 1px solid #d2d7de;
    min-width: 790px;
    font-family: "microsoft yahei";
    font-size: 14px;
}
.play_type li {
     display: inline-block;
     border-right: 1px solid #d5e1ed;
     padding: 0 20px;
     overflow: hidden;
     height: 34px;
     float: left;
}
.play_type li a {
    color: #666;
}
.play_type li a:hover {
     text-decoration: none;
     color: #666;
}
.play_type li:hover {
    background: #edf3f8;
    /*border-bottom: 1px solid #fff;
    margin: 1px 0 0 0;*/
    cursor: pointer;
}
.play_type li.currentState {
    background: #fff;
    border-top: 2px solid #5eb5f1;
    margin: -1px 0 -1px -1px;
    border-bottom: 1px solid #fff;
}
.play_type li.currentState a {
    font-weight: normal;
}
.play_type li.currentState a span {
    font-weight: bold;
}
.play_type li.currentState a:hover {
    text-decoration: none;
}
.travel-filter-nav {
    background: #e7eef5;
}
.ballTourIcon, .halfselfIcon, .localTourIcon {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat 0 0;
    display: inline-block;
    width:15px;
    height: 12px;
    vertical-align: middle;
    margin-right: 3px;
}
.halfselfIcon {
    background-position: -18px 0;
    width:13px;
    height: 11px;
}
.localTourIcon {
    background-position: -35px 0;
    width:12px;
    height: 16px;
}
.travel-filter-list {
    padding: 10px 0 0 0;
    min-height: 30px;
    overflow: hidden;
}
.travel-filter-list li {
    padding: 3px 20px;
    overflow: hidden;
}
.travel-filter-list li .filterTitle {
    width: 65px;
    padding: 3px 0;
}
.travel-filter-list li label {
    float: left;
    overflow: hidden;
    display: block;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 20px 4px 10px;
}
.travel-filter-list .tipsIcon {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat -50px 0;
    display: inline-block;
    width:14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.filterCheck {
    overflow: hidden;
}
.filterCheck span {
    padding: 3px 0;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    min-width: 55px;
    float: left;
    display: inline-block;
}
.filterCheck span.selectedSpan, .filterCheck span:hover {
    background: #52a0e5;
    min-width: 55px;
    color: #fff;
}
.travel-filter-list input[type=text] {
    border:1px solid #c7c7c7;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    width:60px;
}
.travel-filter-list .priceRow {
   margin-bottom: 5px;
}
.travel-filter-list .priceRow em {
    font-family: "微软雅黑";
    color: #949494;
}
.travel-filter-list .sureBtn {
    margin-left: 10px;
    border: 1px solid #b1e0ff;
    background: #f0fcff;
    padding: 4px 13px;
    display: inline-block;
    cursor: pointer;
}
.travel-filter-list li.selectedRow {
    border-top:1px solid #dce6f0;
    padding: 15px 20px;
}
.filterSelect div.item {
    margin-right: 5px;
    float: left;
    border: 1px solid #ccc;
    height: 23px;
    line-height: 23px;
    padding: 0 30px 0 10px;
    position: relative
}
.filterSelect div.item:hover {
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
    cursor: pointer;
}

.filterSelect div.item:hover .close {
    color: #fff
}

.filterSelect .close {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #52a0e5;
    float: right;
    line-height: 18px;
    text-decoration: none;
    position: absolute;
    right: 6px;
    top: 1px
}
.clearAll {
    color: #818181;
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.clearAll:hover {
    color: #52a0e5;
}
.tour_main_listNew {
    margin-top:10px;
}
.tour_resultInfoNew {
    background: #edf3f8;
    padding: 5px 15px;
    border:1px solid #d9e5f0;
    font-size: 14px;
}
.tour_resultInfoNew .tour_resultNo {
    color: #ff6500;
    font: bold 18px arial;
    padding: 0 5px;
}
.tour_resultInfoNew .rankType {
    font-size: 12px;
}
.tour_resultInfoNew .rankType span {
    border: 1px solid #c1c1c1;
    background: #f8f8f8;
    padding: 4px 15px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.tour_resultInfoNew .rankType span:hover {
    border: 1px solid #fea468;
}
.tour_resultInfoNew .rankType .currentSpan {
    border: 1px solid #ff8533;
    background: #fff8f4;
}
.tour_resultInfoNew .rankType .upIcon, .tour_resultInfoNew .rankType .downIcon {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat 0 -18px;
    display: inline-block;
    width:9px;
    height: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.tour_resultInfoNew .rankType .downIcon {
    background-position: 0 -25px;
}
.tour_resultInfoNew .pageColor {
    color: #E94749;
    margin-left: 10px;
}
.tour_resultInfoNew .pageUp, .tour_resultInfoNew .pageDown {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat 0 -35px;
    display: inline-block;
    width:25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.tour_resultInfoNew .pageDown {
    background-position: -25px -35px;
}
.tour_resultInfoNew .pageUp:hover {
    background-position: 0 -63px;
}
.tour_resultInfoNew .pageDown:hover {
    background-position: -25px -63px;
}
.tour_resultListNew {
    background: #fff;
    font-size: 14px;
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
}
.tour_resultDiv_left .tourImgBox {
    float: left;
    display: inline-block;
    width: 160px;
    height: 120px;
    overflow: hidden;
    margin-right: 15px;
}
.tour_resultDiv_left .textContent {
    display: inline-block;
    width:500px;
}
.tour_resultDiv_left .fontBigTitle {
    color: #1673c4 ;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.tour_resultDiv_left:hover .fontBigTitle {
    text-decoration: underline;
}
.jewelevel02, .jewelevel03, .jewelevel04, .jewelevel05, .jewelevel06 {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat 0 -96px;
    width:27px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}
.jewelevel03 {
    width:41px;
}
.jewelevel04 {
    width:55px;
}
.jewelevel05 {
    width:69px;
}
.jewelevel06 {
    width:83px;
}
.jewelMargin {
    margin: 0 15px 0 5px;
}
.palyTypeTag-ball, .palyTypeTag-halfself, .palyTypeTag-local {
    background: url("../../images/store/travl/travlTypeIcon.png") no-repeat 0 0;
    width:65px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
}
.palyTypeTag-halfself {
    background-position: 0 -29px;
}
.palyTypeTag-local {
    background-position: 0 -58px;
}
.groupTour {
    background: #50c9b1;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 6px 10px;
}
.placeStart {
    background: #eee;
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    padding: 6px 10px;
}
.tour_resultDiv_left .fontConP {
    width:490px;
    color: #636363;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tour_resultDiv_left .groupDate {
    color: #888;
    margin-top:10px;
}
.viewGroup, .fewerGroup {
    margin-left: 10px;
    color: #5697c4;
    text-decoration: underline;
}
.viewGroup:hover, .fewerGroup:hover {
    color: #008ded;
}
.viewGroup em, .fewerGroup em {
    background: url("../../images/store/travl/travlSmallIcon.png") no-repeat -11px -25px;;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.fewerGroup em {
    background-position: -11px -18px;
}
.viewGroup:hover em {
    background-position: -22px -25px;
}
.fewerGroup:hover em {
    background-position: -22px -18px;
}
.tour_resultDiv_right {
    padding-top: 20px;
}
.tour_resultDiv_right .marketPrice {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 12px;
    color: #949494;
    padding-top: 10px;
}
.tour_resultDiv_right .marketPrice em {
    color:#afafaf;
    font-family: "微软雅黑";
}
.tour_resultDiv_right .marketPrice span {
    color:#333;
    font-family: "arial";
    font-size: 16px;
    margin: 0 3px;
}
.tour_resultDiv_right .ClearingPrice {
    display: inline-block;
    float: right;
    width:135px;
    vertical-align: middle;
}
.tour_price_block {
    margin-bottom: 8px;
    display: inline-block;
}

.contentTopBlock .freeWalker{
    display: inline-block;
    width: 65px;
    height: 24px;
    background: url("../../images/store/freeWalker.png") no-repeat;
    vertical-align: middle;
}
/*钻级说明 弹窗*/
.layerContainer {
    color:#636363;
}
.diamondLevelPopwindow {
    border: 1px solid #eaeaea;
    text-align: left;
}

.diamondLevelPopwindow tbody tr{
    font-size: 12px;
    height: 90px;
    vertical-align: top;
}

.diamondLevelPopwindow tbody tr td:first-child {
    background-color: #ecf9fd;
    padding: 10px 0px;
}

.diamondLevelPopwindow thead tr{
    height: 45px;
    background-color: #ecf9fd;
}

.diamondLevelPopwindow th,
.diamondLevelPopwindow td {
    border: 1px solid #eaeaea;
    padding: 7px 10px;
}
.diamondLevel-icon {
    background: url(../../images/supplier/diamond_pw_icons.png) no-repeat 0 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.hotel-icon {
    background: url(../../images/supplier/diamond_pw_icons.png) no-repeat -27px 0;
    height: 18px;
    width: 21px;
    display: block;
    float: left;
    margin-right: 5px;
}

.useCar-icon {
    background: url(../../images/supplier/diamond_pw_icons.png) no-repeat -48px 3px;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.team-icon {
    background: url(../../images/supplier/diamond_pw_icons.png) no-repeat -76px 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.dinner-icon {
    background: url(../../images/supplier/diamond_pw_icons.png) no-repeat -100px 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.flightSeat-icon {
    background: url(../../images/supplier/diamond_pw_icons.png) no-repeat -123px 0;
    height: 18px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.diamondLevelPopwindow {
    border: 1px solid #eaeaea;
    text-align: left;
}

.diamondLevelPopwindow tbody tr{
    font-size: 12px;
    height: 90px;
    vertical-align: top;
}

.diamondLevelPopwindow tbody tr td:first-child {
    background-color: #ecf9fd;
    padding: 10px 0px;
}

.diamondLevelPopwindow thead tr{
    height: 45px;
    background-color: #ecf9fd;
}

.diamondLevelPopwindow th,
.diamondLevelPopwindow td {
    border: 1px solid #eaeaea;
    padding: 7px 10px;
}

.remark-gray {
    color: #9a9a9a;
}

.remark-orange {
    color: #ff6600;
}

.small-diamond-level  {
    height: 11px;
    margin: 10px auto;
}

.small-diamond-level li {
    float: left;
    background: url(../../images/store/travl/travlSmallIcon.png) no-repeat 0px -96px;
    height: 10px;
    width: 13px;
    padding: 10px 0px;
}

.diamond-level-title {
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-left: 30px;
    margin-top: -10px;
}

.showClose{
    color: #666666;
    background: #ecf6ff;
    padding: 2px 7px;
    border:1px solid #a5d4f2;
    display: inline-block;
    word-wrap: break-word;
    margin-bottom: 5px;
}
.showClose em{
    min-width: 70px;
    display: inline-block;
    float: left;
}
.showClose i{
    display: inline-block;
    float: right;
    background: url("../../images/store/search_close.png") no-repeat 0 0;
    width: 9px;
    height: 9px;
    vertical-align: middle;
    margin: 7px 0 0 7px;
    cursor: pointer;
}
.showClose:hover{
    background: #0074d3;
    border:1px solid #0074d3;
    color: #FFFFFF;
}
.showClose:hover i{
    background: url("../../images/store/search_close.png") no-repeat 0 -22px;
}
.enDash{
    vertical-align: top;
    color: #999999;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 5px;
}

.turnbackArea{
    vertical-align: top;
    width: 230px;
    height: 45px;
    margin-left: 8px;
}

.turnbackCause{
    font-weight: bold;
}

.sexFemale{
    margin-left: 25px;
}


input.chinaName:focus{
    border: 1px solid #7ccde9;
}

.delStyleContentAdd{
    font-size: 14px;
}

.submitOrderAdd{
    margin-bottom: 20px;
}

.adultAndKidarrange{
    margin-left: 15px;
}

.tour_resultDiv_left .textContent .contentTopBlock {
    min-height: 85px;
}

.fontTitleP span.tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tour_createOrder .chief .passenger-detail-title {
  display: inline-block;
}
.tour_createOrder .chief h3.passenger-detail-title{
  width:12.5%;
}

/*  改版产品列表头部 S  */
.travelNewIndexBannerBG{
    background:url("../../images/store/travelNewIndexBanner.jpg") center no-repeat #0d1b69;
    width:100%;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: -1;
}
.travelNewIndexBannerBG.changeHeight{
    height: 198px;
    background:url("../../images/store/changeTravelNewIndexBanner.jpg") center no-repeat #28629d;
}
.travelSearchModule{
    width: 980px;
    margin: 15px auto 5px;
}
.travelSearchModule .leftImg{
    display: inline-block;
    background: url("../../images/store/bannerImgFonts.png") no-repeat;
    width: 195px;
    height: 77px;
    margin: 0 50px 0 20px;
    float: left;
}
.travelSearchModule .redSearchBox{
    float: left;
    width: 700px;
}
.searchBox{
    margin-top: 12px;
    display: inline-block;
    border: 2px solid #c53418;
    background-color: #ffffff;
    position: relative;
}
.searchBox .searchInput{
    font-size: 16px;
    width: 440px;
    height: 35px;
    line-height: 35px;
    border: none;
    padding-left: 20px;
}
.searchBox .searchFonts{
    display: inline-block;
    width: 89px;
    height: 25px;
    margin: 0 10px;
    vertical-align: middle;
    background: url("../../images/store/searchFonts.png") no-repeat 0 0;
}
.searchBox .searchFonts:hover{
    background: url("../../images/store/searchFonts.png") no-repeat 0 -33px;
}
.hotTravel{
    margin-top: 10px;
    color: #ffffff;
}
.hotTravel a{
    font-size: 14px;
    padding: 0 8px;
    color: #ffffff;
}
.hotTravel a:hover{
    color: #ffffff;
    text-decoration: underline;
}
.searchWindow{
    width: 573px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    border-top: none;
    box-shadow: 1px 2px 5px 1px #a5a5a5;
    position: absolute;
    left: -1px;
    top: 39px;
    z-index: 10;
    display: none;
}
.searchWindow .searchList{
    width: 115px;
    height: 100%;
    float: left;
}
.searchList li{
    font-size: 16px;
    margin: 0 10px;
    padding: 13px 10px;
    border-top: 1px solid #d6d6d6;
    cursor: pointer;
}
.searchList li.current{
    color: #e04628;
}
.searchList li:first-child{
    border-top: none;
}
.searchPlaceDetail{
    font-size: 14px;
    float: left;
    width: 443px;
    min-height: 150px;
    padding-left: 15px;
    line-height: 25px;
    background-color: #f7f7f7;
}
.searchPlaceDetail li{
    margin: 10px 0;
}
.searchPlaceDetail .leftFontWeight{
    font-weight: bold;
    float: left;
    width: 70px;
    margin-right: 10px;
}
.searchPlaceDetail .rightPlaces{
    float: left;
    width: 355px;
}
.rightPlaces a{
    display: inline-block;
    color: #666666;
    line-height: 25px;
    margin-right: 10px;
    white-space: nowrap;
}
.rightPlaces a.orangeFonts{
    color: #fb6115;
}
.rightPlaces a:hover{
    color: #fb6115;
    text-decoration: underline;
}
.marginTop20{
    margin-top: 20px;
}
.freeWalkerIcon{
    display: inline-block;
    width: 12px;
    height: 16px;
    background: url("../../images/store/smallIcon.png") no-repeat -48px -307px;
    vertical-align: middle;
    margin-right: 2px;
}
/*  改版产品列表头部 E  */