@charset "utf-8";
/* CSS Document */

footer.tiny-footer{ color:#969696;  background-color:#EAEAEA; border-top:1px solid #CACACA;}
.tiny-footer center{ margin-top:20px; }
.tiny-footer a{  color:inherit; }
.tiny-footer .bar{ margin:0 5px;}
.tiny-footer .copyright{ padding-bottom: 20px;}

.pull-left{ float:left;}
.pull-right{ float:right;}
.mainBodyContent{ width:980px; margin:0 auto;}
.bannerBg{ width:100%; height:470px; background:url(../../images/store/travelBgStrip.jpg) repeat-x left top;}
.bannerBg .travelBanner{ background:url(../../images/store/travelBanner.jpg) no-repeat center top; height:470px; margin:0 auto;}
.commonModel{ margin:30px 0;}
.hotTitle{ position:relative; background:url(../../images/store/hotBg.png) no-repeat; width:980px; height:41px;}
.hotTitle h3{ font-size:26px; color:#4c67a1; font-weight:bold; position:absolute; top:-7px; left:0;}
.commonModelContent{ padding:5px 10px; margin:30px 0;}
.cityParticulars{ float:left; width:450px; margin-right:40px; color:#858585;}
.cityParticulars h3{ font-size:22px; margin-bottom:20px;}
.cityParticulars p{ font-size:16px; line-height:25px;}
.cityBigPic{ width:470px; height:270px; position:relative; float:left; border-bottom:2px solid #c7c7c7;}
.cityBigPic img{ width:470px; height:272px;}
.cityBigPic .bgColor{ position:absolute; left:0; bottom:0; width:100%; height:20%; background:#262234; filter:alpha(opacity=80); opacity:0.8;}
.cityBigPic .fontContent{ font-size:18px; color:#fff; position:absolute; left:5%; bottom:6%;}
.cityBigPic:hover .fadeIn,.hotCitySmallPic li:hover .fadeIn,.visaImg:hover .fadeIn{ width:100%; height:100%; position:absolute; top:0; left:0; background:#000; filter:alpha(opacity=20); opacity:0.2;}
.hotCitySmallPic{ margin-top:30px;}
.hotCitySmallPic li{ float:left; position:relative; width:225px; height:160px; margin-left:20px; border-bottom:2px solid #c7c7c7;}
.hotCitySmallPic li:first-child,.visaPic li:first-child{ margin-left:0;}
.hotCitySmallPic .bgColor{ position:absolute; left:0; bottom:0; width:100%; height:30%; background:#000; filter:alpha(opacity=60); opacity:0.6;}
.hotCitySmallPic .fontContent{ font-size:14px; color:#fff; position:absolute; left:5%; bottom:3%;}
.hotCitySmallPic .oneLine{ bottom:9%;}
.visaTitle{ border-bottom:2px solid #43a18f;}
.visaTitle h3{ font-size:26px; color:#43a18f; float:left; margin-bottom:7px;}
.visaIcon{ float:right; background:url(../../images/store/visaIcon.png) no-repeat; width:95px; height:37px; margin-top:7px;}
.visaPic li{ float:left; margin-left:20px; background:#fff; width:225px; height:195px; border-bottom:2px solid #c7c7c7;}
.visaPic .visaFont{ font-size:14px; line-height:20px; margin:5px 10px; color:#5a5a5a;}
.visaPic li img,.visaImg{ width:225px; height:142px;}
.visaImg{ position:relative;}
.visaFlow{ margin:20px 0;}
.problem{ border-bottom:1px solid #cdcdcd; margin-top:30px;}
.problem h3{ margin-bottom:7px; font-size:18px; color:#7c7c7c;}
.questionAnswer li{ border-top:1px dashed #c8c7c7; padding:5px 10px; line-height:25px; color:#858585; font-size:15px;}
.questionAnswer li:first-child{ border:0;}
.questionCont,.answerCont{ margin:15px 0;}
.questionCont .questionIcon,.answerCont .answerIcon{ display:inline-block; vertical-align:top; width:30px; height:28px; margin-right:20px; float:left;}
.questionCont .questionIcon{ background:url(../../images/store/smallPic.png) no-repeat 0 -148px;}
.answerCont .answerIcon{ background:url(../../images/store/smallPic.png) no-repeat -34px -148px;}
.questionCont .questionFont,.answerCont .answerFont{ float:left; width:94%;}
.lastModel,.lastCommonModel{ margin-bottom:0;}


/* 香港宣传页 */
.modulePicContent{ background: url(../../images/store/publicityBg.jpg)  repeat-x;}
.firsModulePic{ background:url(../../images/store/Hongkong_01.jpg) 50% 0 no-repeat;  height: 738px;}
.secondModulePic{ background:url(../../images/store/Hongkong_02.jpg) 50% 0 no-repeat; height: 687px;}
.thirdModulePic{ background:url(../../images/store/Hongkong_03.jpg) 50% 0 no-repeat; height: 658px;}
.sillStripPic{ background:url(../../images/store/sillStrip.jpg) repeat-x left top; height: 10px;}

/*香港澳门宣传页*/
.HKAndMacauContent{ background:url(../../images/store/HKAndMacauBodyBg_02.jpg) 50% 50% repeat-x;}
.firstHKAndMacauPic{ background:url(../../images/store/HKAndMacau_03.jpg) 50% 0 no-repeat; height: 496px;}
.secondHKAndMacauPic{ background:url(../../images/store/HKAndMacau_05.jpg) 50% 0 no-repeat; height: 680px;}
.thirdHKAndMacauPic{ background:url(../../images/store/HKAndMacau_06.jpg) 50% 0 no-repeat; height: 740px;}

/*九寨沟宣传页*/
.JiuzhaigouPicContent{ background: url(../../images/store/JiuzhaigouBg_03.jpg) 50% 50% repeat-x;}
.firsJiuzhaigouPic{ background:url(../../images/store/Jiuzhaigou_03.jpg) 50% 0 no-repeat; height: 495px;}
.secondJiuzhaigouPic{ background:url(../../images/store/Jiuzhaigou_05.jpg) 50% 0 no-repeat; height: 596px;}
.thirdJiuzhaigouPic{ background:url(../../images/store/Jiuzhaigou_06.jpg) 50% 0 no-repeat; height: 393px;}

/*厦门*/
.banner_xiamen {
    background: url(../../images/store/pub_xiamen_titBg.jpg) repeat-x;
    height: 496px;
    position: relative;
}
.banner_xiamen_left {
    max-width:970px;
    width:60%;
    background: url(../../images/store/pub_xiamen_01.jpg) right center no-repeat;
    height: 496px;
    float:left;
}
.banner_xiamen_fonts {
    background: url(../../images/store/pub_xiamen_bigFonts.png) no-repeat;
    width:459px;
    height:278px;
    position: absolute;
    top:40px;
    left: 50%;
}
.mainContent_xiamen {
    background: #dae8e8;
    padding-bottom: 10px;
}
.inContent_xiamen {
    width:1022px;
    margin: 0 auto;
    position: relative;
}
.xiamen_block01 {
    background: url(../../images/store/pub_xiamen_reason.png) 50% 0 no-repeat;
    width:980px;
    height: 97px;
    position: absolute;
    top:-97px;
    left: 4px;
}
.xiamen_block02 {
    background: url(../../images/store/pub_xiamen_02.jpg) 50% 0 no-repeat;
    height: 468px;
}
.xiamen_block03 {
    background: url(../../images/store/pub_xiamen_03.jpg) 50% 0 no-repeat;
    height: 631px;
}
.xiamen_block04 {
    background: url(../../images/store/pub_xiamen_04.jpg) 50% 0 no-repeat;
    height: 409px;
}
/*桂林*/
.banner_guilin {
    background: url(../../images/store/pub_guilin_01.jpg) 50% 50% no-repeat;
    height:1251px;
}
.mainContent_guilin {
    background: #ebebeb;
}
.inContent_guilin {
    width:1075px;
    margin:0 auto;
}
.guilin_block01 {
    background: url(../../images/store/pub_guilin_02.jpg) 50% 0 no-repeat;
    height:559px;
}
.guilin_block02 {
    background: url(../../images/store/pub_guilin_03.jpg) 50% 0  no-repeat;
    height:546px;
}
.guilin_block03 {
    background: url(../../images/store/pub_guilin_04.jpg) 50% 0 no-repeat;
    height: 558px;
}
.guilin_block04_box {
    background: #525b7a;
}
.guilin_block04 {
    background: url(../../images/store/pub_guilin_05.jpg) 50% 0 no-repeat;
    height: 193px;
    width:1075px;
    margin: 0 auto;
}

/*台湾*/
.banner_taiwan {
    height:0;
}
.mainContent_taiwan {
    background: #2f9092;
}
.inContent_taiwan {
}
.taiwan_block01 {
    background: url(../../images/store/pub_taiwan_02.jpg) 50% 0  no-repeat;
    height:860px;
}
.taiwan_block02 {
    background: url(../../images/store/pub_taiwan_04.jpg) 50% 0  no-repeat;
    height:544px;
}
.taiwan_block03 {
    background: url(../../images/store/pub_taiwan_06.jpg) 50% 0 no-repeat;
    height: 830px;
}

/*大连*/
.banner_dalian {
    background:#c5dded url(../../images/store/dalian_02.jpg) 50% 0  no-repeat;
    height:499px;
}
.mainContent_dalian {
    background: #c5dded;
}
.inContent_dalian {
    width:1026px;
    margin:0 auto;
    padding-bottom:20px;
}
.dalian_block01 {
    height:0;
}
.dalian_block02 {
    background: url(../../images/store/dalian_04.jpg) 0 0  no-repeat;
    height:773px;
}
.dalian_block03 {
    background: url(../../images/store/dalian_06.jpg) 0 0 no-repeat;
    height: 878px;
}



/*南航纽约*/
.niuyue_block01 {
    background:url(../../images/store/niuyue_02.jpg) 50% 0  no-repeat;
    height:490px;
}
.niuyue_block02 {
    background: url(../../images/store/niuyue_05.jpg) 0 0  no-repeat;
    height:780px;
    width:980px;
    margin:0 auto;
}


/*多伦多*/
.duolunduo_block01 {
    background:url(../../images/store/duolunduo_02.jpg) 50% 0  no-repeat;
    height:499px;
}
.duolunduo_block02 {
    background: url(../../images/store/duolunduo_04.jpg) 0 0  no-repeat;
    height:641px;
    width:1065px;
    margin:0 auto;
}
.duolunduo_block03 {
    background: url(../../images/store/duolunduo_07.jpg) 0 0 no-repeat;
    height: 784px;
    width:1065px;
    margin:0 auto;
}

/*发布会*/
.conf_block1{
    /* background-color:#0952c3; */
    background:url(../../images/store/conf_02.jpg) 50% 0  no-repeat;
}
.conf_block1 span{
    display:block;
    width:1000px;
    height:630px;
    margin:0 auto;
    position:relative;
}
#player{
    width:490px;
    height:370px;
    position:absolute;
    right:0;
    top:225px;
}
.conf_block2{
    display:block;
    height:700px;
    /*#0b1f8b */
    background:url(../../images/store/conf_03.jpg) 50% 0  no-repeat;
}
.conf_block3{
    display:block;
    height:263px;
    /*#33b7c7 */
    background:url(../../images/store/conf_04.jpg) 50% 0  no-repeat;
}

.tipsh{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 444px;
    left: 410px;
    /*background-color: #00fcff;
    border-radius: 100%;
    opacity: 0.15;
    */
}
.tip img{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.tipbody{
    background:url(../../images/store/conf_tip2.png) no-repeat;
    width:424px;
    height:175px;
    display:none;
    position:relative;
    left:-363px;
    top:-170px;
}
.tipbody .arrow{
    height:17px;
    width:24px;
    background:url(../../images/store/conf_tip1.png) no-repeat;
    display:block;
    position:absolute;
}
.tipsh .arrow{
    bottom:6px;
    left:360px;
}
.tip:hover .tipbody{
    display:block;
}
.ztipcontent{
    width:800px;
    height:80%;
    font-family:'microsoft yahei';
    background-color:rgba(0,0,0,.4);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#7f000000, endColorstr=#7f000000)\9;
    background-color:transparent\9;
    display:none;
}
.ztipdetail{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    background-color:#f9f9f9;
    padding:40px 20px;
    overflow-y:scroll;
}
.ztipcontent .close{
    width:37px;
    height:37px;
    background:url(../../images/store/close37.png) no-repeat;
    position:absolute;
    right:30px;
    top:15px;
    z-index:1;
}
.ztipcontent h1{
   font-size:26px; 
   color:#333;
   text-align:center;
   margin-bottom:10px;
}
.ztipcontent h2{
    font-size:18px;
    color:#666;
   text-align:center;
   margin-bottom:30px;
}
.ztipcontent p{
    line-height:24px;
    font-size:14px;
    color:#333;
    margin:0 0 20px 0;
}
.ztipcontent img{
    display:block;
    margin:0 auto;
}
.imgtext{
    display:block;
    text-align:center;
    color:#666;
    margin-top:10px;
}
.tip s,.tip u{
    text-decoration:none;
}
.tipTitle{
    display:block;
    color:#fff;
    font-size:20px;
    padding:15px 0 0 45px;
}
.tipContent{
    display:block;
    color:#fff;
    font-size:13px;
    padding:10px 20px;
}
.tipMore{
    position:absolute;
    right:25px;
    bottom:35px;
    color:#fff;
    font-size:14px;
}
.tipMore:hover{
    cursor:pointer;
    color:#f6ff00;
}
.tipContent:hover{
}
