@charset "utf-8";
/* CSS Document */

/* 采购商 旅游部分的所有样式都在 store_v2/store.css 中， 不利于维护
   不改动老的样式，新增样式放在 store_trav.css中   By: shuaigeng.zhao */

.tripName span {
	padding: 0 5px;
}

.starLevelOrange {
	background: url(../../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
	height: 10px;
	width: 52px;
	display: inline-block;
	margin-left: 15px;
}

.largeBtnOrange {
	background-color: #fc6d26;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 140px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	cursor: pointer;
	float: right;
}

.viewPoint .grayArrowRight {
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 -53px;
	margin-left: 10px;
	margin-right: 5px;
}

.viewPointList {
	border-bottom: 1px dashed #D2D2D2;
	padding: 10px;
}

.viewPointList li {
	border-bottom: none;
	padding: 0;
}

.viewPoint {
	height: 110px;
	margin: 10px 0;
	overflow: hidden;
}

.viewPoint div {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px!important;
}

.viewPoint span {
	color: #7c7c7c;
	border: 1px solid #e4e4e4;
	padding: 5px;
}

.expandMoreLink,
.foldMoreLink {
	color: #0066cc;
	cursor: pointer;
}

.recommendedByPM {
	height: 260px;
	overflow: hidden;
}

.tripInfoAndBooking_right {
	border: 1px solid #efefef;
	padding: 0 10px;
	margin-left: 470px;
}

/* 日历部分样式  */
.tabSwitchMonth {
    background-color: #fff;
}

.tabSwitchMonth li {
    background-color: #e3e3e3;
    margin-right: 2px;
    height: 25px;
    width: 85px;
    float: left;
    font-size: 14px;
    color: #868686;
    text-align: center;
    line-height: 25px;
}

.tabSwitchMonth li:hover {
    cursor: pointer;
}

.tabCurrentMonth {
    background-color: #99c9f2!important;
    color: #fff!important;
    padding-bottom: 2px;
}

/* 日历  */

.grayFont {
    color: #e3e3e3;
}

.calendarTitle {
	height: 28px;
	width: 464px;
	background-color: #99caf2;
    color: #fff;
    text-align: center;
}

.calendarTitle span {
	padding: 0 25px;
	line-height: 28px;
}

.calTable {
    width: 464px;
}

.calTable td {
    text-align: center;
}

.calTable td {
    border: 1px solid #e3e3e3;
    color: #aeaeae;
    width: 66px;
    height: 56px;
    position: relative;
}

.calTable .multiTour {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 -32px;
    position: absolute;
    left: 0;
    top: 0;
}

.calTable .disa-multiTour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -21px -32px;
}

.calTable .tourFlag {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.calTable .sureTour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 0;
    display: inline-block;
    width: 46px;
    height: 14px;
}

.calTable .disa-sureTour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 -16px;
    display: inline-block;
    width: 46px;
    height: 14px;
}

.calTable .tour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -48px 0;
    display: inline-block;
    width: 25px;
    height: 14px;
}

.calTable .disa-tour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -48px -16px;
    display: inline-block;
    width: 25px;
    height: 14px;
}

.leftNormal, .leftMore {
    font-size: 12px;
    color: #348332;
    position: absolute;
    top: 5px;
    right: 5px;
}

.leftNone {
    font-size: 12px;
    color: #aeaeae;
    position: absolute;
    top: 5px;
    right: 5px;
}

.price {
    font-size: 12px;
    color: #ff6500;
    position: absolute;
    top: 21px;
    left: 0;
}

.disa-price {
    color: #aeaeae;
}

.price b {
    font-weight: bold;
    padding: 0 1px;
}

.dateDay {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #333;
}

.disa-dateDay {
    color: #aeaeae;
}

.enableTd:hover,
.enableTdMt:hover {
    background-color: #fffef4;
    /*border: 1px solid #fe9149;*/
    cursor: pointer;
}

.trBorderBottom {
    border-bottom: 1px dashed #aeaeae;
}

.priceTotal {
    font-size: 14px;
    text-align: right;
    padding-top: 10px;
}

.orderBtnOrange {
    padding-left: 20px;
}

.multiTem {
    width: 273px;
    position: relative;
}

.multiTem table{
    width: 100%;
}

.multiTem .departureInfo {
    width: 215px;
    height: 24px;
    padding-left: 10px;
}

.multiTem .orderBtnOrange {
    padding-left: 130px;
}

.multiTem span.importantTxt1 {
    padding-left: 40px;
}

ul.mtSelectItems {
    width: 227px;
    margin-left: 40px;
    position: absolute;
    z-index: 10003;
    background-color: #fff;
    /*border: 1px solid #cbcbcb;*/
}

ul.mtSelectItems li {
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    padding-left: 10px;
    cursor: pointer;
}

.mtSelectItems span {
    color: #909090;
    padding-right: 10px;
}

.mtSelectItems .mtPrice em,
.mtSelectedItem .mtPrice em{
    color: #ff6500;
}

.mtSelectItems .mtLeftNum em,
.mtSelectedItem .mtLeftNum em {
    color: #348332;
}

.mtSelectedItem {
    position: absolute;
    top: 40px;
    left: 70px;
}

div.k-window-titleless {
	padding-top: 8px!important;
}

.ac-floatlayer {
	z-index: 20001;
}

.priceCalendarPw {
	padding: 8px 15px 20px 15px;
	position: relative;
}

#priceCalendarPw {
	width: 464px;
	float: left;
	height: 365px;
}

.pwOrderContent {
	width: 220px;
	height: 30px;
	float: left;
	margin-left: 10px;
}

i.grayArrowLeft {
	display: inline-block;
	width: 6px;
	height: 9px;
	background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -7px -53px;
}

.notSelectDateBlock {
	text-align: center;	
	margin-top: 170px;
}

.notSelectDateBlock span {
	font-size: 14px;
	color: #7b7b7b;
}

.normalTourBlock {
	margin-top: 20px;
	margin-left: 35px;
}

.normalTourBlock table {
	width: 100%;
}

.normalTourBlock table tr{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}

.boldDate {
	font-size: 20px;
}

.splitLineTr {
	height: 20px!important;
}

.multiTourBlock {
	margin-top: 20px;
	margin-left: 15px;
}

.multiTourBlock table {
	width: 100%;
}

.multiTourBlock table tr{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}

.multiTourBlock .mtSelectItems {
	width: 177px;
	margin-left: 0;
	font-size: 12px;
	margin-top: -4px;
	position: absolute;
	z-index: 10003;
	background-color: #fff;
}

.multiTourBlock .mtSelectItems li {
	padding: 0;
}

.multiTourBlock .mtSelectItems li span{
	padding: 0;
}

.multiTourBlock .departureInfo {
	width: 175px;
}

.priceCalendarPw i.close {
	width: 13px;
	height: 13px;
	display: inline-block;
	background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -16px -53px;
	position: absolute;
	cursor: pointer;
}