@charset "utf-8";
/* CSS Document */

/* 采购商 旅游部分的所有样式都在 store_v2/store.css 中， 不利于维护
   不改动老的样式，新增样式放在 store_trav.css中   By: shuaigeng.zhao */
.tripName {
    border-bottom: none!important;
    padding: 0px 10px!important;
    margin-top: 10px;
}

.tripName span {
	padding: 0 5px;
}

.starLevelOrange2 {
	background: url(../../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
	height: 10px;
	width: 28px;
	display: inline-block;
	margin-left: 15px;
}
.starLevelOrange3 {
	background: url(../../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
	height: 10px;
	width: 42px;
	display: inline-block;
	margin-left: 15px;
}

.starLevelOrange4 {
	background: url(../../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
	height: 10px;
	width: 56px;
	display: inline-block;
	margin-left: 15px;
}
.starLevelOrange5 {
	background: url(../../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
	height: 10px;
	width: 70px;
	display: inline-block;
	margin-left: 15px;
}
.starLevelOrange6 {
	background: url(../../images/store/travl/travlSmallIcon.png) no-repeat 0 -96px;
	height: 10px;
	width: 84px;
	display: inline-block;
	margin-left: 15px;
}

.largeBtnOrange {
	background-color: #fc6d26;
	color: #fff;
	font-size: 18px;
	text-align: center;
	width: 140px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	cursor: pointer;
	float: right;
}

.viewPoint .grayArrowRight {
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 -53px;
	margin-left: 10px;
	margin-right: 5px;
}

.viewPointList {
	border-bottom: 1px dashed #D2D2D2;
	padding: 10px;
}

.viewPointList li {
	border-bottom: none;
	padding: 0;
}

.viewPoint {
	height: 110px;
	margin: 10px 0;
	overflow: hidden;
    position: relative;
}

.viewPoint div {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px!important;
}

.viewPoint span {
	color: #7c7c7c;
	border: 1px solid #e4e4e4;
	padding: 5px;
}

.expandMoreLink,
.foldMoreLink {
	color: #0066cc;
	cursor: pointer;
}

.recommendedByPM {
	height: 235px;
	overflow: hidden;
    position: relative;
}

.tripInfoAndBooking_left {
    background-color: #fff;
}

.tripInfoAndBooking_right {
	border: 1px solid #efefef;
	padding: 0 10px;
	margin-left: 470px;
    position: absolute;
    width: 488px;
    z-index: 2;
    background-color: #fff;
}

/* 日历部分样式  */
.tabSwitchMonth {
    background-color: #fff;
}

.tabSwitchMonth li {
    background-color: #e3e3e3;
    margin-right: 2px;
    height: 25px;
    width: 75px;
    float: left;
    font-size: 12px;
    color: #868686;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.tabSwitchMonth li:last-child {
    margin-right: 0;
}

.tabSwitchMonth li:hover {
    cursor: pointer;
}

.tabCurrentMonth {
    background-color: #99c9f2!important;
    color: #fff!important;
    padding-bottom: 2px;
}

/* 日历  */

.grayFont {
    color: #e3e3e3;
}

.sellOutLi em {
    color: #aeaeae!important;
}

.calendarTables {
    min-height: 281px;
}

.calendarTitle {
	height: 28px;
	width: 464px;
	background-color: #99caf2;
    color: #fff;
    text-align: center;
}

.calendarTitle span {
	padding: 0 25px;
	line-height: 28px;
}

.calTable {
    width: 463px;
}

.calTable td {
    text-align: center;
}

.calTable tr {
    height: 56px;
}

.calTable td {
    border: 1px solid #e3e3e3;
    color: #aeaeae;
    width: 65px;
    height: 55px;
    position: relative;
}

.calTable .multiTour {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 -32px;
    position: absolute;
    left: 0;
    top: 0;
}

.calTable .disa-multiTour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -21px -32px;
}

.calTable .tourFlag {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.calTable .sureTour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 0;
    display: inline-block;
    width: 46px;
    height: 14px;
}

.calTable .disa-sureTour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat 0 -16px;
    display: inline-block;
    width: 46px;
    height: 14px;
}

.calTable .tour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -48px 0;
    display: inline-block;
    width: 25px;
    height: 14px;
}

.calTable .disa-tour {
    background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -48px -16px;
    display: inline-block;
    width: 25px;
    height: 14px;
}

.leftNormal, .leftMore {
    font-size: 12px;
    color: #348332;
    position: absolute;
    top: 5px;
    right: 5px;
}

.leftNone {
    font-size: 12px;
    color: #aeaeae;
    position: absolute;
    top: 5px;
    right: 5px;
}

.price {
    font-size: 12px;
    color: #ff6500;
    position: absolute;
    top: 21px;
    left: 0;
}

.disa-price {
    color: #aeaeae;
}

.price b {
    font-weight: bold;
    padding: 0 1px;
}

.dateDay {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #333;
}

.disa-dateDay {
    color: #aeaeae;
}

.hasBorderTd:hover {
    background-color: #fffef4;
    /*border: 1px solid #fe9149;*/
    cursor: pointer;
}

.trBorderBottom {
    border-bottom: 1px dashed #aeaeae;
}

.priceTotal {
    font-size: 14px;
    text-align: right;
    padding-top: 10px;
}

.priceTotal span{
    padding-left: 15px!important;
}

.orderBtnOrange {
    padding-left: 20px;
}

.multiTem {
    width: 333px;
    position: relative;
    left: 1px;
}

.multiTem table{
    width: 100%;
}

.multiTem .departureInfo {
    width: 278px;
    height: 24px;
    padding-left: 10px;
    background: url("../../images/store/orangeBgDownArrow.png") 97% 50% no-repeat;
}

.multiTem .orderBtnOrange {
    padding-left: 130px;
}

.multiTem .tdTopAlign {
    vertical-align: top;
}

.multiTem .tdRightAlign {
    text-align: right;
    padding-right: 0;
}

.multiTem .orangePriceText span {
    font-size: 14px;
}

ul.mtSelectItems {
    width: 290px;
    position: absolute;
    z-index: 10004;
    background-color: #fff;
}

ul.mtSelectItems li {
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    padding-left: 10px;
    cursor: pointer;
}

.mtSelectItems span {
    color: #909090;
    padding-right: 10px;
}

.mtSelectedItem span {
    padding-right: 10px;
}

.mtSelectItems .mtPrice em,
.mtSelectedItem .mtPrice em{
    color: #ff6500;
}

.mtSelectItems .mtLeftNum em,
.mtSelectedItem .mtLeftNum em {
    color: #348332;
}

.mtSelectedItem {
    position: absolute;
    top: 44px;
    left: 70px;
}

div.k-window-titleless {
	padding-top: 8px!important;
}

.ac-floatlayer {
	z-index: 20001;
}

.priceCalendarPw {
	padding: 8px 15px 20px 15px;
	position: relative;
}

#priceCalendarPw {
	width: 464px;
	float: left;
	height: 365px;
}

.pwOrderContent {
	width: 220px;
	height: 30px;
	float: left;
	margin-left: 10px;
}

i.grayArrowLeft {
	display: inline-block;
	width: 6px;
	height: 9px;
	background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -7px -53px;
}

.notSelectDateBlock {
	text-align: center;	
	margin-top: 170px;
}

.notSelectDateBlock span {
	font-size: 14px;
	color: #7b7b7b;
}

.normalTourBlock {
	margin-top: 20px;
	margin-left: 35px;
}

.normalTourBlock table {
	width: 100%;
}

.normalTourBlock table tr{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}

.boldDate {
	font-size: 20px;
}

.splitLineTr {
	height: 20px!important;
}

.multiTourBlock {
	margin-top: 20px;
	margin-left: 15px;
}

.multiTourBlock table {
	width: 100%;
}

.multiTourBlock table tr{
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}

.multiTourBlock .mtSelectItems {
	width: 252px;
	margin-left: 0;
	font-size: 12px;
	margin-top: -4px;
	position: absolute;
	z-index: 10003;
	background-color: #fff;
}

.multiTourBlock .mtSelectItems li {
	padding: 0;
}

.multiTourBlock .mtSelectItems li span{
	padding: 0;
}

.multiTourBlock .departureInfo {
	width: 250px;
    background: url("../../images/store/orangeBgDownArrow.png") 97% 50% no-repeat;
}

.multiTourBlock .mtSelectedItem {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
}

.multiTourBlock .mtSelectedItem span {
    padding-right: 0px;
}

.multiTourBlock .btn_booking_clickable {
    font-size: 18px;
}

.priceCalendarPw i.close {
	width: 13px;
	height: 13px;
	display: inline-block;
	background: url(../../images/store/travl/calendar-price-icons.png) no-repeat -16px -53px;
	position: absolute;
	cursor: pointer;
    right: 0;
    top: 0;
}

#scrollImg {
    height: 320px;
    z-index: 5;
    position: relative;
}

#scrollImg img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-left: 0px;
    /*display: none;
    opacity: 0;*/
}

.slider_nav {
	z-index: 10;
	position: absolute;
}

.slider_nav a {
    float: left;
    text-indent: -1000em;
    margin: 0 6px;
    border: none;
    background: url(../../images/login/store/rotate.png) no-repeat 0 0;
    display: block;
    width: 11px;
    height: 12px;
    overflow: hidden;
}

.slider_nav .activeSlide {
	background-position:-11px 0;
}

.hasBorderTd {
    width: 63px;
    height: 53px;
}

.hasBorderTd:hover {
    border: 1px solid #ff904b;
}

.hasBorderTdActive {
    border: 1px solid #ff904b;
    background-color: #fff;
}

.bookingContainer2 {
    border: 1px solid #ff904b;
    position: relative;
    left: 1px;
}

.bookingContainer2 .importantTxt1 {
    font-size: 14px;
}

.orderBtnOrange .btn_booking_clickable{
    width: 98px;
    height: 31px;
    font-size: 12px;
    font-weight: normal;
    line-height: 31px;
    border: none;
    float: right;
}

.numberFont14 {
    font-size: 14px;
}

.numberFont16 {
    font-size: 16px!important;
}

.hideBorderBot {
    width: 63px;
    height: 5px;
    position: absolute;
    top: -2px;
    left: 0px;
    background: #fff;
}

.tripTopTitle {
    margin-top: 20px;
}

span.tourDate em {
    padding-right: 10px;
}

.spExplain {
    text-decoration:underline;
    margin-left:15px;
    font-size: 14px;
    color: #7c7c7c;
}

.btn_booking {
    font-size: 18px;
    font-weight: normal;
}

#priceCalendar {
    margin-top: 12px;
}

.tripDetailContextTxt {
    margin-left: 45px;
}

.tripDetailContextTxt .tripName {
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 10px 0 !important;
}

.tripDetailContextTxt strong {
    font-weight: bold;
    font-family: sans-serif;
    color: #333;
}

.tripDetailContextTxt ul.viewPoint {
    overflow: auto;
    height: 30px;
    padding-top: 2px;
    display: inline-block;
    position: relative;
    top: 8px;
    left: 5px;
    margin: 0;
}

.tripDetailContextTxt .viewPoint li {
    float: left;
    border-left: none;
    margin-top: 3px;
}

.tripDetailContextTxt .viewPointImg {
    width: 867px;
    margin-top: 5px;
}

.tripDetailContextTxt .viewPointImg li {
    float: left;
    border-left: none;
    margin-right: 8px;
    margin-bottom: 8px;
}

.tdRightAlign {
    text-align: right;
    padding-right: 10px;
}

.tdSpanPriceRight {
    float: right;
}

.download-route-btn {
    display: inline-block;
    width: 110px;
    height: 32px;
    background: url(../../images/store/cruise/download-route-btn.png) no-repeat 0 0;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top: 8px;
}
.download-route-btn:hover {
    background-position: 0 -34px;
}
.download-visa-btn{
    display: inline-block;
    width: 120px;
    height: 32px;
    line-height:32px;
    padding-left:14px;
    background:#fff;
    border:1px solid #afe2bf;
    color:#333;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top:0;
    font-weight:normal;
    font-size:14px;
    border-radius:2px;
}
.download-visa-btn:hover{
    background:#e2f7e8;
    text-decoration:none;
    color:#333;
}
.downloadIcon{
    background: url(../../images/store/cruise/download.png) no-repeat 0 0;
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}
.btn_qrcode {
  width: 233px;
  background-color: #53d0ef;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right:140px;
  font-weight: normal;
  text-align: center;
  /* display: none; */
  top:0;
  height: 40px;
}
.btn_qrcode i {
  display: inline-block;
  background: url(../../images/store/cruise/smallWhiteArrow.png) no-repeat 0 0;
  width: 9px;
  height: 5px;
  position: absolute;
  top: 18px;
  right: 18px;
}
.btn_qrcode:hover i {
  background-position: 0 -7px;
}
.scan-qrcode-block {
  padding: 5px;
  background-color: #e2e2e2;
  position: absolute;
  left: 0;
  top: 41px;
  display: none;
}
.btn_qrcode:hover .scan-qrcode-block {
  display: block;
}
.qrcode-container {
  border: 1px solid #a8a8a8;
  width: 220px;
  background-color: #fff;
  padding: 8px 0 15px;
}
.qrcode-container .weixin {
  float: left;
  width: 220px;
  text-align: center;
}
.qrcode-container .appStore {
  float: left;
  width: 150px;
  text-align: center;
}
.qrcode-container .topTitle {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  text-align: center;
}