/*footer*/
footer.main-footer {
    color: #969696;
    background-color: #EAEAEA;
    border-top: 1px solid #CACACA;
}

.main-footer center {
    margin-top: 20px;
}

.copyright {
    padding-bottom: 20px;
}

.main-footer a {
    color: inherit;
}

.main-footer .bar {
    margin: 0 5px;
}

/*旅游列表页*/
.tour_main-body {
    width: 980px;
    margin: 10px auto;
    min-height: 400px;
    font-family: "sans-serif", "Arial", "Helvetic";
    color: #636363;
}
.tour_searchBar {
    margin-bottom: 10px;
}
.tour_searchBar .sign {
    background: url(../../images/store/icon_ellipse.png) no-repeat;
    width: 15px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: sub;
}
.tour_searchBar .font16 {
    font-size: 16px;
    margin-right: 10px;
}
.tour_searchBar .font14 {
    font-size: 14px;
    margin-left: 30px;
}
.tour_searchBar label {
    margin: 0 10px;
}
.tour_searchBar input {
    border: 1px solid #c7c7c7;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
    color: #636363;
}
.tour_blue_btn {
    background: #52a0e5;
    padding: 0 30px;
    line-height: 30px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    vertical-align: baseline;
}
.tour_blue_btn:hover {
    background: #67b3f6;
}
.select_seekBlock {
    width: 978px;
    border: 1px solid #efefef;
    background: #fff;
    height: auto;
    overflow: hidden;
}
.seekCondition_block {
    padding: 10px 20px 0 20px;
}
.seekCondition_block span {
    float: left;
    line-height: 20px;
    margin-right: 10px;
}
.select_seekBlock .seekCondition {
    display: inline;
    line-height: 20px;
}
.seekCondition li {
    float: left;
    margin: 0 0 0 10px;
    text-align: center;
    cursor: pointer;
    min-width: 55px;
}
.seekCondition .li_selected, .seekCondition li:hover {
    background: #52a0e5;
    min-width: 55px;
    color: #fff;
}
.seekCondition_days {
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4
}
.select_seekBlock .filterCondition {
    padding: 5px 20px;
    background: #fff;
}
.select_seekBlock .filterCondition div.item {
    margin: 5px;
    float: left;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    padding: 2px 25px 2px 10px;
    position: relative
}
.select_seekBlock .filterCondition div.item:hover {
    background: #FF6500;
    color: #fff;
    border: 1px solid #FF6500;
    cursor: pointer;
}

.select_seekBlock .filterCondition div.item:hover .close {
    color: #fff
}

.select_seekBlock .filterCondition .close {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #FF6500;
    float: right;
    line-height: 18px;
    text-decoration: none;
    position: absolute;
    right: 6px;
    top: 1px
}

.filterCondition span {
    float: left;
    line-height: 36px;
    margin-right: 16px;
}

.tour_main_list {
    border: 1px solid #efefef;
    margin-top:10px;
}

.tour_resultInfo {
    background: #F8F8F8;
    padding: 10px 15px;
}

.tour_resultNo {
    color: #ff6500;
    font: bold 18px arial;
    padding: 0 5px;
    vertical-align: baseline;
}

.tour_result_sortButtonContainer span {
    margin-left: 10px
}

.pageNoCAT {
    color: #E94749;
    height: 24px;
    line-height: 24px;
    font-size: 14px
}

/*page No Current And Total*/
.tourRoomPrice {
    color: #FF6500;
    font: bold 20px/1.5 Arial;
}

.tourRoomPrice.sold {
    color: #636363;
    border-bottom: none
}

.tourRoomPrice .changeFont {
    font-size: 14px;
    font-weight: 500;
}

.roomTypeDetailContainer .floatLayer {
    padding-bottom: 1px;
    border-bottom: 1px dashed #ff6500;
    cursor: pointer;
}

.tour_resultList {
    background: #fff;
    font-size: 14px;
}

.tour_resultDiv {
    height: auto;
    overflow: hidden;
    padding: 20px 0 10px 0;
}

.tour_resultDiv:hover {
    background: #f7fbff;
    cursor: pointer;
}

.tour_resultDiv_left {
    float: left;
    padding-left: 20px;
}

.tour_resultDiv_right {
    float: right;
    padding-right: 20px;
    vertical-align: middle;
}

.tour_resultDiv .fontTitle {
    color: #888;
}

.tour_resultDiv .fontBigTitle {
    color: #3183cb;
    font-size: 16px;
    font-weight: bold;
    margin-right: 3px;
}

.tour_resultDiv:hover .fontBigTitle {
    text-decoration: underline;
}

.tour_resultDiv .tour_price {
    color: #ef4423;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

.tour_resultDiv p {
    padding-bottom: 10px;
}

.tour_price_block {
    margin-right: 20px;
}

.tour_resultDiv .tour_price em {
    font-size: 14px;
    font-family: "微软雅黑";
}

.tour_unfoldCon {
    padding: 5px 0 10px 20px;
    z-index: 1;
    clear: both;
}

.viewGroup, .fewerGroup {
    margin-left: 10px;
}

.viewGroup em, .fewerGroup em {
    background: url(../../images/store/tour_arrowIcon.png) no-repeat 0 0;
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.fewerGroup em {
    background-position: 0 -6px;
}

.dotted_topbor {
    border-top: 1px dotted #e4e4e4;
}
.solid_topbor {
    border-top: 1px solid #e1e1e1;
}
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/*旅游创建订单*/

/* 订单流程 */
.flow {
    padding: 10px 10px 0 10px;
}

.flow h3 {
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #797979;
    font-weight: bold;
    background: url(../../images/store/leftarrows.png) no-repeat left center;
    float: left;
}

.flow ul {
    float: right;
    border-bottom: 2px solid #e1e1e1;
    padding-right: 20px;
    position: relative;
}

.flow ul li {
    float: left;
    margin-right: 90px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #c8c8c8;
}

.flow ul li em {
    color: #8d8d8d;
    font-weight: bold;
}

.flow .current_li {
    color: #4bae10;
}

.flow ul .line {
    border-top: 2px solid #4bae10;
    bottom: -6px;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.flow .last {
    margin-right: 0;
}

/*流程样式 */
.instr {
    overflow: hidden;
    margin: 0 10px;
}

.instr span {
    position: relative;
    z-index: 1;
    padding-bottom: 25px;
    display: block;
    float: left;
    background: url(../../images/store/flowDot.jpg) 50% 30px no-repeat;
    margin-right: 10px;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #b9b9b9;
}
.instr .first {
    margin-left: 0;
}
.instr .last {
    margin-right: 0;
}

.instr span.highlight-tour {
    background: url(../../images/store/balloonIcon.jpg) no-repeat 50% 100%;
    color: #e47965;
}

.instr span.highlight {
    background: url(../../images/store/flowdeepDot.jpg) no-repeat 50% 25px;
    color: #797979;
}

.instr {
    position: relative;
}

.instr .line {
    position: absolute;
    display: block;
    height: 2px;
    border-bottom: 2px dotted #e6e6e6;
    bottom: 6px;
    z-index: 0;
    margin-left: -5px;
}

.instr .line div {
    background-color: #c1c1c1;
    height: 2px;
    margin-top: 2px;
}

.breadthDiv {
    width: 720px;
}

.tour_createOrder {
    border: 1px solid #efefef;
    background: #fff;
    padding: 15px 10px;
    margin-bottom: 10px;
}

.chief {
    border-bottom: 1px solid #e1e1e1;
}
.chief h3 {
    width: 10%;
    font-size: 16px;
    font-weight: bold;
    color: #f1634c;
    border-bottom: 1px solid #f1634c;
    padding: 0 0 5px 5px;
    margin-bottom: -1px;
}
.tour_orderTitle {
    padding: 15px 0;
    border-bottom: 1px dotted #e4e4e4;
    margin-bottom: 15px;
    
}
.tour_orderTitle h2 {
    color: #404040;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 698px;
}
.tour_orderTitle .font_tit {
    color: #888;
}
.tour_orderTitle .font_smallGap {
    margin-left: 10px;
}
.tour_orderTitle .font_gap {
    margin-left: 30px;
}
.pro_infoTable td {
    vertical-align: top;
    padding-bottom: 10px;
}
.pro_infoTable .blueTag {
    background: #7bcbf1;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    min-width: 54px;
    padding:3px 0;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}
.pro_infoTable p {
    padding-bottom: 8px;
}
 .pro_infoTable .price, .tour_guestInfo .price {
     color: #ef4423;
     font-size: 13px;
     margin-right: 3px;
 }
.pro_infoTable .price em, .tour_guestInfo .price em {
    font-family: "微软雅黑";
    font-size: 12px;
}
.tour_guestInfo {
    font-size: 14px;
    color: #404040;
    margin: 10px auto;
    width:700px;
}
.tour_guestInfo th {
    text-align: right;
    padding:6px 5px 6px 0;
}
.tour_guestInfo th em {
    color: #f1634c;
    font-size: 12px;
    margin-right: 3px;
    vertical-align: middle;
}
.tour_guestInfo td {
    padding:6px 0 6px 5px;
}
.tour_guestInfo input[type=text] {
    height: 23px;
    line-height: 23px;
    border: 1px solid #bbb;
    padding-left: 5px;
    width:187px;
    vertical-align: middle;
}
.tour_guestInfo input[name=select_pro] {
    border:none;
}

.tour_guestInfo input[type=checkbox] {
    margin-right: 3px;
    vertical-align: text-bottom;
}
.tour_guestInfo .add_btn {
    color: #2792d6;
    cursor: pointer;
}
.tour_guestInfo input , .tour_guestInfo select {
    color: #404040; 
    font-size: 14px;
}

.tour_infoList {
    position: relative;
}
.tour_infoListDiv {
    position: absolute;
    top:10px;
    left: 5px;
}
.tour_infoListDiv p {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}
.tour_infoListDiv .peopleType {
    background: #73c889;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    color: #fff;
    padding: 2px 3px;
    text-align: center;
    margin-right: 8px;
}
.add_guestBlock {
    border: 1px dashed #c9c9c9;
    background: #f8f8f8;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #1ba1e2;
    font-size: 14px;
}
.add_guestBlock i {
    background: url(../../images/store/tour_addIcon.png) no-repeat;
    width:13px;
    height: 13px;
    display: inline-block;
    margin-right: 3px;
}
.add_guestBlock:hover {
    border: 1px dashed #23a8e8;
    background: #e5f5fd;
    cursor: pointer;
}
.tour_totalPrice {
    color: #ef4423;
    font-size: 26px;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
}
.tour_totalPrice em {
    font-family: "微软雅黑";
    font-size: 20px;
}


.tour_rightFillIn {
    color: #333333;
    margin-left: 728px;
    width:252px;
}
.fillInBlock {
    
}
.aside_orderTopBg {
    background: url(../../images/store/tour_asideTop.png) no-repeat;
    width: 252px;
    height: 16px;
}
.aside_orderCon {
    background: url(../../images/store/tour_asideConBg.png) repeat-y;
    
}
.orderTotal {
    border-bottom: 1px dotted #e4e4e4;
    height: auto;
    overflow: hidden;
    margin: 0 15px;
    padding: 10px 0;
}
.orderTotal .total_zj {
    color: #888;
    font-size: 14px;
    float: left;
}
.orderTotal .totalPrice {
    color: #ef4423;
    font-size: 20px;
    float: right;
}
.orderTotal .totalPrice em {
    font-family: "微软雅黑";
    font-size: 16px;
}
.orderTotalInfo {
    padding: 10px 0;
    margin:0 15px;
}
.orderTotalInfo h5 {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}
.orderTotalInfo p {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
}

.orderTotalInfo .price {
    color: #ef4423;
    font-size: 16px;
}
.orderTotalInfo .price em {
    font-family: "微软雅黑";
    font-size: 14px;
}
.aside_orderBotBg {
    background: url(../../images/store/tour_asideBottom.png) no-repeat 50% bottom;
    width: 252px;
    height: 10px;
}



.departureInfoContainer li:hover{
    color: #ec5e16;
    text-decoration: underline;
}

.departureInfo {
    width: 170px;
    height: 22px;
    vertical-align: middle;
    border: 1px solid #bbbbbb;
    background: url("../../images/store/input_arrowDown.gif") 94% 50% no-repeat;
    cursor: pointer;
}











/* tab切换 */
.tour_tab_change {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.tour_tab_change li {
    float: left;
    padding: 8px 15px;
    color: #636363;
}
.currentState {
    background: #fff;
    border: 1px solid #e1e1e1;
    margin: -1px 0 -1px -1px;
    border-bottom: 1px solid #fff;
}

.currentState a {
    font-weight: bold;
    
}
.tour_tab_change li em a{
    color: #636363;
}

.tour_tab_change a:hover, .tour_tab_change a:visited, .tour_tab_change a:active {
    text-decoration: none;
}
.expense_include, .expense_Noinclude {
    padding: 10px 5px 0 5px;
    width:95%;
}







/*排序按钮样式*/
.sorttab {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #c1c1c1;
    padding: 3px 40px 3px 10px;
}

.sorttab i {
    width: 9px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    background: url(../../images/store/sort.png) no-repeat 0 0;
    margin-left: 20px
}

.ascend, .descend {
    color: #404040
}

.ascend i {
    background-position: -14px 0
}

.descend i {
    background-position: -28px 0
}

/*排序按钮样式*/

/* 通用翻页*/
.pagination, .paging {
    margin: 10px 0;
}

.pagination div, .paging div {
    float: right;
    height: 30px;
    line-height: 30px;
}

.pagination div em, .paging div em {
    color: #e94749;
    font-weight: bold;
}

.pagination ul, .paging ul {
    margin: 0 10px 0 5px;
    float: right;
}

.pagination ul li, .paging ul li {
    float: left;
    margin-left: 10px;
}

.pagination ul li a, .paging ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #ccd5de;
    color: #e94749;
}

.pagination ul li a:hover, .pagination .present, .paging .present {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #e94749;
    border: 1px solid #e94749;
}

.pagination ul li span, .paging ul li span {
    color: #e94749;
}

.pagination .disabled {
    color: #ccd5de;
}

.pagination .disabled:hover {
    color: #ccd5de;
    background: none;
    border: 1px solid #ccd5de;
    cursor: default;
}

.paging ul li a:hover {
    background: #f6f6f6;
    text-decoration: none;
    color: #e94749;
}

.paging .present:hover {
    background: #e94749;
    color: #fff;
}

/* 通用button*/
.adaptiveButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.adaptiveButton:hover {
    text-decoration: none;
}

.adaptiveButton .center {
    padding: 0 30px;
    color: #ffffff;
}

.adaptiveButton .center_1 {
    padding: 0 20px;
}

.adaptiveButton .center_2 {
    padding: 0 10px;
}

.mediumOrange_btn span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.mediumOrange_btn .left {
    background: url('../../images/store/big_btn.png') 0 -240px no-repeat;
    width: 5px
}

.mediumOrange_btn .center {
    background: url("../../images/store/big_btn.png") 0 -275px repeat-x;
}

.mediumOrange_btn .right {
    background: url('../../images/store/big_btn.png') 0 -310px no-repeat;
    width: 5px
}

.mediumOrange_btn:hover .left {
    background: url('../../images/store/big_btn.png') 0 -345px no-repeat;
}

.mediumOrange_btn:hover .center {
    background: url("../../images/store/big_btn.png") 0 -380px repeat-x;
}

.mediumOrange_btn:hover .right {
    background: url('../../images/store/big_btn.png') 0 -416px no-repeat;
}






.brightOrange_btn  span{float:left; height:35px; line-height:35px;}
.brightOrange_btn .left{background:url('../../images/store/big_btn.png') 0 -680px no-repeat;width:5px}
.brightOrange_btn .center{background:url("../../images/store/big_btn.png") 0 -720px repeat-x;}
.brightOrange_btn .right{background:url('../../images/store/big_btn.png') 0 -760px no-repeat;width:5px}
.brightOrange_btn:hover .left{background:url('../../images/store/big_btn.png') 0 -800px no-repeat;}
.brightOrange_btn:hover .center{background:url("../../images/store/big_btn.png") 0 -840px repeat-x;}
.brightOrange_btn:hover .right{background:url('../../images/store/big_btn.png') 0 -880px no-repeat;}