@charset "utf-8";
/* CSS Document */

.flow{ padding:10px 10px 0 10px;}
.flow h3{ padding:10px 0 10px 10px; font-size:14px; color:#797979; font-weight:bold; background:url(../../images/store/leftarrows.png) no-repeat left center; float:left;}
.flow ul{ float:right; border-bottom:2px solid #e1e1e1; padding-right:20px; position:relative;}
.flow ul li{ float:left; margin-right:90px; padding:10px 0; font-size:14px; font-weight:bold; color:#c8c8c8;}
.flow .current_li{ color:#4bae10;}
.flow ul .line { border-top: 2px solid #4bae10; bottom: -6px; height: 4px; left: 0; position: absolute; width: 100%;}
.departure{ height:auto; padding:10px 10px 0 10px; border: 1px solid #e1e1e1; margin:10px 0; color:#636363; background:#fff;}
.chief{ border-bottom:1px solid #e1e1e1; padding-top:10px;}
.chief h3{ width:10%; font-size:14px; font-weight:bold; color:#f1634c; border-bottom:1px solid #f1634c; padding:0 0 10px 5px; margin-bottom:-1px;}
.chiefTit{ float:left;}
.look{ float:right; vertical-align:middle; color:#636363; text-decoration:underline;}
.route{ width:100%; margin-top:10px;}
.route th,.fare th{ background:#f8f8f8; border-bottom:1px solid #e4e4e4; padding:13px 0; color:#404040;}
.route th:first-child,.route td:first-child,.departure .traveller tr td:first-child{ padding-left:10px;}
.route td,.fare td{ padding:15px 0; line-height:22px;}
.route a{ text-decoration:none;}
.route input[type="checkbox"],.route input[type="radio"]{ border:0; vertical-align:middle; margin-right:3px;}
.route input[type="text"]{ height: 22px;}
.routex td{
    border-bottom:1px dotted #e4e4e4;
}
.routex tr.disabled td{
    color:#a3a3a3;
}
.noMarginTop {
    margin-top: 0;
}
.route .peopleType {
    background: #73c889;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    color: #fff;
    padding: 2px 3px;
    text-align: center;
    margin-right: 8px;
    vertical-align: middle;
}
.route .boldFont16 {
    font-size: 16px;
    color: #404040;
}
.route .fontCopy {
    color: #cf6b00;
    margin-left: 5px;
    vertical-align: top;
}
.route .fontPrint {
    color: #cf6b00;
    border-bottom: 1px dashed #cf6b00;
    padding-bottom: 3px;
    cursor: pointer;
}

.route .tdGap td {
    padding: 0 0 15px 0;
}
.route .boldFont20 {
    font-size: 20px;
    color: #ff6500;
}
.ruleBlock {
    border: 1px solid #efefef;
    background: #f8f8f8;
    padding: 15px 10px;
    margin-bottom: 15px;
}
.ruleBlock h4 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}
.ruleBlock th {
    line-height: 22px;
    padding-left: 10px;
    vertical-align: top;
}
.ruleBlock td, .departure td {
    line-height: 22px;
}
.departureTable {
    margin:5px 0 30px 0;
}
.departureTable th {
    text-align: right;
}
.departureTable td {
    padding:8px 0 8px 0;
}
.departureTable input[type=text] {
    border: 1px solid #abadb3;
    line-height: 23px;
}
.accountInfoBlock {
    width:100%;
    margin-top:-10px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC142d59,endColorstr=#CC142d59);
    background: rgba(20,45,89,0.8);
    padding: 2px 0;
}
.inner_accountInfoBlock {
    width:960px;
    padding:15px 10px;
    margin:0 auto;
    text-align: right;
    font-family: sans-serif;
}
.inner_accountInfoBlock b {
    padding:0 5px;
}
.accountInfoBlock .accountCon {
    font-size: 14px;
    vertical-align: middle;
}
.accountInfoBlock .totlePrice {
    font-size: 26px;
    color: #ff7b24;
    vertical-align:sub;
    margin-right: 10px;
    font-family: "Microsoft YaHei";
}
.info_view {
    float:right;
    vertical-align:middle;
    color:#2792d6;
}
.info_view a {
    color:#2792d6;
    text-decoration: none;
}
.info_view a:hover {
    color:#2792d6;
    text-decoration: underline;
}
.ticketInfo_priceNote {
    border: 1px solid #d9e7f3;
    background: #f2f8fd;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    float: right;
    width:56%;
    text-align: right;
}
.ticketInfo_priceNote b {
    padding:0 7px;
}

.abroadhotelSalePriceTbl .icon_fade_roomInfo{
    background: url("../../images/store/tuifang.png") 0 0 no-repeat #f0f0f0;
}
.abroadhotelSalePriceTbl .fade_roomInfo{
    border-left:1px solid #dadada;
    padding:0 10px 0 20px;
}
.advanced_hotel {
    background: #f5f5f5;
    margin-bottom: 10px;
    position: relative;
}
.book_former {
    position: absolute;
    background: url("../../images/store/book_former.png") 0 0 no-repeat;
    width:149px;
    height: 105px;
    top:100px;
    right: 154px;
}
.hideBorderBot {
    width: 93px;
    height: 6px;
    position:absolute;
    top: -5px;
    left:1px;
    background: #ffffff;
}
/*预付酒店 浮层（没有小箭头）*/
.layerGrayContainer_noArrow {
    border:1px solid #cdcdcd;
    padding:10px;
    color:#333;
}
.layerGrayContainer_noArrow .inner_img {
    margin:0 auto;
}
.layerGrayContainer_noArrow p {
    padding:10px 0 0 0;
    margin-bottom: 10px;
}

/*白屏弹窗*/
.audit{ padding:0 10px 20px; color:#636363;}
.audit_tab{ width:auto; height:auto;}
.audit_tab td{ height:40px;}
.audit_tab td:first-child{ text-align:right; padding-right:3px;}
.audit_input{ height:20px; width:265px; line-height:20px; padding-left:3px;}
.audit label{ margin-right:20px;}
.audit a{ font-size:14px;}
.audit_tab textarea{ width:265px; height:60px; padding:3px;}
.audit_last td{ padding:10px 0;}
.audit_last td:first-child{ vertical-align:top;}
.abolish{ font-size:12px; margin-left:30px; vertical-align:middle; text-decoration:underline;}
/*白屏弹窗*/


/* 国际订单详情-正常 */

.position{ margin:15px 0 10px 0;}
.pos_ul{ margin-left:10px;}
.pos_ul li{ float:left; margin-right:5px;}
.pos_btn{ float:right; margin-right:20px;}
.pos_btn a{ margin-left:5px;}
.order{ color:#636363; border:1px solid #e4e4e4; background:#fff;}
.order_list{ width:100%;}
.order_list td,.order_list th{ padding:10px 0;}
.order_list td:first-child,.order_list th:first-child{ padding-left:10px;}
.order_list th{ border-bottom:1px solid #e4e4e4; background:#f8f8f8; color:#404040;}
.order_list a{ color:#cf6b00;}
.order_list em{ color:#f1634c;}
.order_list td{ border-bottom:1px solid #e4e4e4;}
.order_trace{ margin:10px 0;}
.trace{ width:8%; font-weight:bold; float:left; padding:10px 0 0 10px;}
.trace_list{ width:89.5%; float:left;}
.trace_list th,.trace_list td{ padding:10px 0;}
.trace_list th:first-child,.trace_list td:first-child{ padding-left:15px;}
.trace_list th{ border-bottom:1px dashed #e4e4e4; color:#404040;}
.examine{ background:#fff7f1;}
.write_note{ margin:15px 0; line-height:22px;}
.trace_list a{ text-decoration:underline;}

/* 国际订单详情-正常 */

.currentFlow{ color:#4bae10;}
.upProcess li em{ display:inline-block; width:22px; height:39px; background:url(../images/store/store_login.png) no-repeat 0 -328px; margin-left:50px;}
.endorseOrder{ border:1px solid #e1e1e1; border-bottom:0; margin-top:10px; color:#404040; width:100%; margin-bottom:-10px; position:relative; background:#fff;}
.endorseOrder th{ font-weight:500; text-align:left; padding:15px 5px 10px;}
.endorseOrder th:first-child{ padding-left:10px;}
.endorseOrder td:first-child{ padding-left:15px;}
.endorseOrder td{ padding:0px 5px 5px;}
.orderNo {position:relative;z-index:2;}
.orderNO b{ font-size:14px;}
.orderNO strong{ font-weight:bold; font-size:13px;}
.relevanceOr {
    position:relative;
    cursor:pointer;
    left:40px;
    top:0px;
    padding:5px 10px;
    background-color: #ff6500;
    color:#ffffff
}
.relevanceOr i{ color:#ffffff;}
.relevanceOr em{ display:inline-block; width:7px; height:4px; background:url(../images/store/white_arrow_bottom.png) no-repeat; vertical-align:middle;}
.endorsing{ font-size:14px; color:#f1634c;}
.adultOrder{ text-decoration:none; color:#cf6b00;}
.passTicket{ border:1px solid #e1e1e1; border-collapse:collapse; margin-bottom:10px; width:100%; color:#404040;}
.passTicket td{ padding:15px 10px;}
.passTicket th{ background:#f8f8f8; padding:15px 10px; border-bottom:1px solid #e1e1e1; font-weight:bold;}
.accountRec{ text-align:right;}
.accountRec strong{ font-size:14px;}
.accountRec em{ font-size:14px; color:#ff6500;}
.copy{ color:#cf6b00; margin-left:20px; font-weight:500;}
.passTicket .noborder th{ border-bottom:0;}
.remarkTex{ width:600px; height:100px; margin:15px 0 20px;}
.accountInfo{width:960px; background:#eaeaea; border:1px solid #e1e1e1; border-top:0; padding:15px 10px; margin-top:-10px;}
.accountTit{ margin-bottom:10px;}
.accountTit h3{ float:left; font-size:14px; color:#f1634c; font-weight:bold;}
.acTotal{ float:right; color:#404040;}
.acTotal em{ font-size:16px;}
.acTotal strong{ font-size:16px; color:#ff6500; font-weight:bold;}
.operateBtn{ text-align:right;}
.operateBtn a{ margin-left:15px;}
.printOrdBtn:hover{ text-decoration:none; color:#636363; background:#fdfdfd;}
.printOrdBtn{ display:inline-block; padding:0 20px; height:28px; line-height:28px; border:1px solid #bbbbbb; vertical-align:middle; background:url(../../images/store/bgcolor.jpg) repeat-x; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; color:#636363;}
.listTit h3{ float:left;}
.titleRi{ float:left; margin:10px 0 0 15px;}
.titleRi i{ background:url(../../images/store/smallPicture.png) no-repeat 0 -58px; width:14px; height:14px; display:inline-block; margin-left:-15px; margin-right:3px; vertical-align:middle;}
.chHint{ color:#8d8d8d;}
.titleRi label{ margin-left:15px;}
.titleRi label input{ border:0; margin-right:2px;}
.reOrder{ border:1px solid #e1e1e1; padding:12px; width:375px; color:#404040; position:absolute; top:278px; left:560px; background:#ffffff;}
.reTi{ padding-bottom:10px; border-bottom:1px dashed #e1e1e1;}
.reNO{ float:left;}
.reNO b{ font-size:14px;}
.reNO strong{ font-size:13px; font-weight:bold;}
.re_order{ float:right;}
.re_order em{ display:inline-block; width:9px; height:5px; background:url(../../images/store/up_down.png) no-repeat 0 0; vertical-align:middle;}
.re_order i{ color:#f1634c;}
.rawOrd{ padding:7px 10px; border-bottom:1px dashed #e1e1e1;}
.rawNum{ float:left; font-size:14px;}
.ordNum{ float:right; font-size:14px; color:#ff6500; font-weight:bold;}
.orderSta{ margin-top:10px;}
.orderSta li{padding:0 0 20px 12px; position:relative;}
.sta{ color:#f1634c; margin-left:20px;}
.staList{ background:#f8f8f8; padding:10px; margin-top:7px;}
.staList td{ line-height:20px;}
.staList a,.rawNum a{ color:#cf6b00;}
.staList a:hover,.rawNum a:hover{ color:#f1634c;}


/*流程样式 */
.instr{
    overflow:hidden;
    margin:0 10px;
}
.instr span{
    position:relative;
    z-index:1;
    padding-bottom:25px;
    display:block;
    float:left;
    background:url(../../images/store/flowDot.jpg) 50% 29px no-repeat;
    margin-right:10px;
    min-width:100px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:#b9b9b9;
}
.instr .first{
    margin-left:0;
}
.instr .last{
    margin-right:0;
}
.instr span.highlight-fl{
    background-image:url(../../images/store/travelFlowIcon.jpg);
    background-position:50% 100%;
    color:#e47965;
}
.travel-instr span.highlight-fl, .travel-instr span.highlight-hotel {
    background: url(../../images/hotel_order_status_dot_ing.gif) no-repeat 40% 13%;
}{
    background: url(../../images/hotel_order_status_dot_ing.gif) no-repeat 40% 13%;
}
.instr span.highlight-hotel {
    background-image:url(../../images/store/icon_Hotel.jpg);
    background-position:50% 105%;
    color:#e47965;
}
.instr span.highlight-fe{
    background-image:url(../../images/order_r5_c123.png);
    background-position:50% 0;
    color:#f10;
}
.instr span.highlight{
    background-position:50% 29px;
    background-image:url(../../images/store/flowdeepDot.jpg);
    color:#797979;
}
.instr{
    position:relative;
}
.instr .line{
    position:absolute;
    display:block;
    height:2px;
    border-bottom: 2px dotted #e6e6e6;
    bottom:6px;
    z-index:0;
    margin-left:-5px;
}
.instr .line div{
    background-color:#c1c1c1;
    height:2px;
    margin-top:2px;
}

.airPlace .transferTime{ width:90px; display:inline-block; text-align:center; cursor:pointer; vertical-align:middle; position:relative;}
.airPlace .transferTime .transferNumber{ border-bottom:1px dashed #cf6b00; color:#cf6b00;}
.airPlace .weightFont{ font-size:16px; display:inline-block; width:100px; text-align:center; vertical-align:middle;}
.airLogo{ background:url(../../images/store/aviation.jpg) no-repeat; width:16px; height:16px; vertical-align:middle; display:inline-block; margin-right:5px;}
.practicalTips{ display:inline-block; cursor:pointer; vertical-align:middle; margin-left:20px; border-bottom:1px dashed #cf6b00; color:#cf6b00;}

/*浮层提示样式*/
.tooltipsContent .tooltipsArrow {
    position:absolute;
    top:-5px;
    left:50%;
    background:url(../../images/store/messge_direct_gray.png) no-repeat 0 -20px;
    width:9px;
    height:5px;
}
.tooltipsContent {
    color:#636363;
    border:1px solid #a8a8a8;
    background:#fff;
    padding:10px 12px;
    position:relative;
}
.tooltipsContent div{ line-height:23px;}

.offerInfoTab{ margin:10px 0; width:100%;}
.offerInfoTab thead th{ background:#f8f8f8; height:40px; line-height:40px;}
.offerInfoTab tbody td{ padding:12px 0; font-size:14px;}
.offerInfoTab .pnrA{ background:#fafafa; border:1px solid #e7e7e7; padding:3px 5px; font-size:12px;}
.offerInfoTab .orangeFont{ color:#ff6500; font-size:20px;}
.offerInfoTab .bigFont{ font-size:16px;}
.offerInfoTab .weightFont{ font-size:16px;}
.typeTips{ position:relative; display:inline-block; text-align:center;}
.typeTips .typeContent{ background:#ffe8e8; height:40px; line-height:40px; min-width:50px; font-size:14px; color:#f6a095; display:inline-block;}
.typeTips .typeTipsIcon{ background:url(../../images/store/iconSprite.png) no-repeat -39px 0; display:inline-block; width:5px; height:10px; position:absolute; top:40%; right:-10%;}

.flexibleType{ width:140px; height: 25px; margin: 0 auto; border: 1px solid #e1e1e1; top: -1px; z-index: 2; line-height: 25px; cursor: pointer; background:url(../images/store/doubleUp.png) no-repeat 90px center #fbfbfb; margin-bottom:-2px; text-align:center;}
.flexibleType.down{ background:url(../../images/store/doubleDown.png) no-repeat 90px center; color:#f1634c;}
.tipsTab thead th{ font-weight:bold; border-bottom:1px solid #d2d2d2; padding:7px 2px;}
.tipsTab tbody td{ border-top:1px dashed #d2d2d2; padding:7px 2px;}
.pnrCoding{ text-align:center; color:#898989; margin-top:5px;}
.pnrCoding .lightGrayFont{ color:#636363;}
.remarkInfo .remarkDiv{ background:#fafadb; border:1px solid #dcc791; padding:10px; font-size:12px; margin-top:-10px;}
.remarkInfo .remarkDiv h5{ font-weight:bold;}
.remarkInfo .remarkDiv p{ line-height:20px; margin:7px 0;}

.flight_filter .chosen_text{ float:left;}
.flight_filter .chosen_items{ width:85%; float:left;}
.flight_filter .chosen_items .chosen_item{ white-space:nowrap; margin-bottom:7px; display:inline-block;}

.messagebar{
    left: 390px;
    top: 4px;
    border:1px solid #d49d0f;
    background-color:#fafadb;
    padding: 5px;
    position: absolute;
}

.titleFont{ padding:10px 0;}
.offerInfoTab .bottomSolid td{ border-bottom:1px solid #e1e1e1;}
.tabComm{ width:98%; margin-left:20px;}
.tabComm td{ padding:5px;}
.departure .lastTab{ margin-bottom:10px;}

.remarkLineHeight{ line-height: 20px;}

.orderStatus{ padding-bottom: 10px; border: 1px solid #e1e1e1; border-bottom: 0;}
.order .newEndorseOrder{ border: 0; background: none; margin: 0;}
.order .newEndorseOrder .orderNO,.order .newEndorseOrder .orderNO strong{ font-size: 20px;}
.newEndorseOrder .relevanceOr {
    padding: 5px 10px;
    background: #52a0e5;
    color: #fff;
    height:24px;
    line-height: 24px;
}
.newEndorseOrder .relevanceOr:hover {
    background: #67b3f6;
}
.newEndorseOrder .relevanceOr i{ color: #fff;}
.newEndorseOrder .relevanceOr em{ background: url("../../images/store/writeArrowDown.png") no-repeat;}
.newEndorseOrder .lightGray888{ color: #888888;}
.newEndorseOrder .lightGray4040{ color: #404040;}

.newEndorseOrder .lightGray-status{
    position: absolute;
    right: 140px;
    top: 44px;
}

.newEndorseOrder .lightGray-warrant{
    position: absolute;
    right: 37px;
    top: 42px;
}

.newEndorseOrder .lightGray-warrantAdd{
    font-size: 18px;
    right: 14px;
    top: 38px;
}

.newEndorseOrder .lightGray-down{
    position: absolute;
    right: 58px;
    top: 62px;
    color: #1879cf;
    font-size: 12px;
}

.orderStatusAndDownLoad {
    width: 200px;
}

.orderStatusAndDownLoad b{
    color: #f1634c;
    font-size: 18px;
}

.orderStatusAndDownLoad .download {
    margin-left: 40px;
    line-height: 20px;
}

.orderStatusAndDownLoad .downLink {
    color: #1879cf;
}

.orderStatusAndDownLoad .downLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.newEndorseOrder .relevanceOr_click {
    padding: 5px 10px 11px 10px;
    color: #636363;
    background: #fff;
    border: 1px solid #52a0e5;
    border-bottom:none;
    box-shadow: 1px 1px 10px #e0e3e7;
    -webkit-box-shadow:1px 1px 10px #e0e3e7;
    -moz-box-shadow:1px 1px 10px #e0e3e7;
}
.newEndorseOrder .relevanceOr_click i{
    color: #636363;
}
.newEndorseOrder .relevanceOr_click em {
    background: url("../../images/store/blackArrowDown.png") no-repeat;
}
.relevanceOr_click.relevanceOr:hover{
    background: #fff;
}
.newEndorseOrder .minWidthLabel label{ display: inline-block; min-width: 220px; margin-right: 10px;}
.newReOrder{
    border: 1px solid #52a0e5;
    padding:12px;
    width:375px;
    color:#404040;
    background:#ffffff;
    box-shadow: 1px 1px 10px #e0e3e7;
    -webkit-box-shadow:1px 1px 10px #e0e3e7;
    -moz-box-shadow:1px 1px 10px #e0e3e7;
}
.attention,.alreadyAttention{ padding:0 10px; height: 25px; line-height: 25px; display: inline-block; margin-left: 60px; cursor: pointer;}
.attention{ color: #fff; background: #52a0e5;}
.attention:hover {
    background: #67b3f6;
}
.alreadyAttention{ background: #fff; border: 1px solid #52a0e5; height: 23px; line-height: 23px;}
.alreadyAttention:hover {
    background: #ebf6ff;
}
.attention i,.alreadyAttention i{ display: inline-block; vertical-align: middle; margin-right: 5px;}
.alreadyAttention i{ background: url("../../images/store/iconSprite.png") no-repeat -72px 0; width: 14px; height: 9px;}
.attention i {
    background: url("../../images/store/iconSprite.png") no-repeat -52px 1px;
    width: 16px;
    height: 15px;
    margin-bottom: 4px;
}
.newOrderTrace{ background: #f7fbff; border: 1px solid #d9e7f3; margin-top: 0; position: relative;}
.newOrderTrace .orderArrowUp{ background: url("../../images/store/iconSprite.png") no-repeat -52px -14px; width: 15px; height: 8px; display: inline-block; position: absolute; top: -8px; right: 7%;}
.traceList{ float: left; width: 89.5%;}
.traceList li{ float: left; margin-left: 30px; padding: 10px 5px 10px 0; position: relative; border-bottom: 1px dashed #d8e9f9; vertical-align: top;}
.traceList .orderIcon{ position: absolute; top: 18px; left: -23px; background: url("../../images/store/iconSprite.png") no-repeat -72px -14px; width: 7px; height: 7px;}
.traceList li label{
    display: inline-block;
    width: 578px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    line-height: 22px;
    vertical-align: top;
    float: left;
}

.traceList li label.orderTraceContent span{
    margin-right: 20px;
}

.traceList li label.orderTraceContentAdd{
    height: 42px;
}


.traceList .opUser {
    float: right;
    color: #888;
    width: 260px;
}
.traceList .orderLine{ display: inline-block; width: 1px; height: 103%; border-left: 1px solid #bed2e4; position: absolute; top: 0; left:-20px;}
.traceList .orderNoLine{ border: 0; width: 100%;}
.traceList .orderOrangeFont{ color: #f1634c; font-size: 14px;}
.flexiBleContent{ display: none;}
.orderFlexibleType {
    width: 90px;
    height: 28px;
    margin: 0 auto;
    border: 1px solid #dbe8f3;
    top: -1px;
    z-index: 2;
    line-height: 28px;
    cursor: pointer;
    background: url(../../images/store/downArrowGray.png) no-repeat 75px center #fbfbfb;
    margin-bottom: -11px;
    text-align: center;
    padding-right: 10px;
    
}

.orderFlexibleTypeAdd{
    position: relative;
    left: -52px;
}

.orderFlexibleType.down {
    background: url(../../images/store/upArrowGray.png) no-repeat 75px center;
}
.newOrder{
    border: 0;
    position: relative;
}
.twoDimensionOrder{
    position: absolute;
    top: 0;
    right: 0;
}
.twoDimensionOrder .twoDimensionOrderBig{
    width: 120px;
    height: 120px;
    display: none;
    padding:7px;
    border: 1px solid #e1e1e1;
    background: #fff;
}
.twoDimensionOrder .twoDimensionOrderBig_M{
    width: 148px;
    height: 167px;
    display: none;
    cursor: pointer;
}
.twoDimensionOrder .twoDimensionOrderSmall{
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url("../../images/store/twoDimensionOrderSmall.png") no-repeat;
    cursor: pointer;
}

/* 旅游 */
.additionContent div{ line-height: 22px;}
.additionContent .exclamationMark{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../../images/store/icon_warnLightBlue.png") no-repeat;
    vertical-align: middle;
    margin:0 3px;
    cursor: pointer;
}
.additionContent .fontHint{
    background: #ff7a64;
    color: #fff;
    margin-left: 5px;
}
.dotted_top td{
    border-top: 1px dotted #e4e4e4;
}
.alignAtRight{
    text-align: right;
    display: inline-block;
    width: 100%;
    color: #ef4423;
    font-size: 16px;
}
.greenFont {
    color: #258e65;
}
.productInfo td{
    padding: 12px 5px 8px;
}
.productInfo .productTitle{
    width: 640px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    font-size: 16px;
    font-weight: bold;
}
.productInfo .font14{
    font-size: 14px;
    text-align: right;
    width: 100%;
    display: inline-block;
}
.productSmallInfo{
     margin-top: 5px;
 }
.productSmallInfo label{
    color: #888888;
    display: inline-block;
    margin-right: 20px;
}
.productSmallInfo .font404040{
    color: #404040;
}
.productInfo .moveTop td{
    padding-top: 0 ;
}
.productInfo .circularBeadBorder{
    background: #7bcbf1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px;
    min-width: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}
.costContent .costList{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
}
.costContent .costList li{
    float: left;
    min-width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center; 
    cursor: pointer;
}
.costContent .costList .current{
    border: 1px solid #E1E1E1;
    border-bottom: 0;
    margin-bottom: -2px;
    background: #ffffff;
    font-weight: bold;
}

.costTd.priceBlock {
    margin-top: 15px;
    padding: 0 5px;
}
.costP{
    margin: 15px;
}
.costP p{ line-height: 22px;}
.costFlexibleType {
    width: 110px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: #2792d6;
    background: url(../../images/store/downlightBlueArrow.png) no-repeat 75% center;
}
.costFlexibleType.down {
    background: url(../../images/store/uplightBlueArrow.png) no-repeat 55% center;
    margin-left: 15px;
}
.costFlexibleType:hover{
    color: #f1634c;
}
.floatLayer{ background:#fff;}
.floatLayer p{ line-height:20px;}

/*layer Gray*/
.layerGrayBlock {
    border:3px solid #e2e2e2;
    background:#fff;
}
.layerGrayContainer {
    border:1px solid #a8a8a8;
    padding:5px 12px;
    color:#636363;
    position:relative;
}
.k-tooltip-dir-n .layerGrayArrow,
.shadow_box .k-callout-n{
    /*TOP arrow*/
    position:absolute;
    top:-5px;
    left:50%;
    background:url(../../images/store/layerGrayArrow.png) no-repeat 0 0;
    width:9px;
    height:5px;
}
.k-tooltip-dir-s .layerGrayArrow,
.shadow_box .k-callout-s{
    /*BOTTOM arrow*/
    position:absolute;
    bottom:-5px;
    left:50%;
    background:url(../../images/store/layerGrayArrow.png) no-repeat 0 -6px;
    width:9px;
    height:5px;
}
.shadow_box .k-callout-n{/*TOP arrow*/
    margin-top:1px;
}
.shadow_box .k-callout-s{/*BOTTOM arrow*/
    margin-bottom:1px;
}
.shadow_box .k-loading-image{
    height: 40px;
    width: 40px;
    left:50%;
    margin-left:-20px;
    background: url(../../images/store/mini_loading.gif) no-repeat 50% 50%;
}
.shadow_box .k-loading-mask{
    background:#fff;
    border:1px solid #a8a8a8;
}
/*  旅游订单详情弹窗 */
.payContentWindow{
    font-size: 14px;
}
.payContentWindow .windowTitle{
    width: 485px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.payContentWindow .payMoney{
    padding-bottom: 15px;
    margin: 15px 0;
    border-bottom: 1px dotted #e1e1e1;
}
.payContentWindow .noPayCont{
    margin: 20px 0;
}
.noPayCont .moneyColor{
    font-weight: bold;
    font-size: 20px;
    color: #ff6500;
}
.payContentWindow .paySure{
    margin-left: 40px;
}
.payContentWindow .paySure input[type="text"]{
    width: 160px;
    height: 25px;
    padding: 0 3px;
}
.hintContent{
    background: #fff1e8;
    padding: 10px;
    border: 1px solid #ff6500;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
}
.hintContent .hintWord{
    float: left;
    color: #f85136;
    margin-right: 15px;
}
.hintContent .hintList{
    float: left;
}
.cancelBookWindow .shrinkLineHeight td{
    padding: 5px;
}
.cancelBookWindow .textField{
    width: 380px;
    max-width: 640px;
    height: 25px;
    line-height: 20px;
    overflow: auto;
    padding: 5px;
    vertical-align: middle;
}
.shrinkLineHeight .submitCancel{ 
    margin-left:20px; 
    color:#636363; 
    text-decoration:underline; 
    vertical-align:middle;
}
.shrinkLineHeight .submitCancel:hover{
    color: #ff6500;
}
.productInfo .noContent{
    background: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 2px;
    min-width: 50px;
    display: inline-block;
    margin-right: 10px;
}
.cancelInfoCont{
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E1E1;
    font-size: 14px;
    line-height: 25px;
}
.cancelInfoCont .font888{
    float: left;
    color: #888888;
}
.cancelInfoCont .font333{
    float: left;
    color: #333333;
}
.changeBg{ 
    background: #f7fbff;
    border: none;
    margin-bottom: 15px;
    padding: 0;
}
.changeBg .hintList{
    color: #333333;
}
.refundContent{
    padding-bottom: 0;
    border: 0;
}
.refundMoney{
    font-size: 14px;
    padding-bottom: 10px;
    font-family: "Arial";
}
.refundMoney .refundFont{
    color: #888888;
    vertical-align: middle;
}
.refundMoney .symbol{
    font-size: 22px;
    color: #ef4423;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: -5px;
}
.numberMoney{
    font-size: 28px;
    color: #ef4423;
    vertical-align: middle;
    font-weight: 600;
}
.currentSta{
    border:1px solid #d9e7f3;
    background:#f2f8fd;
}
.currentSta:hover{
    border: 1px solid #52a0e5;
}
.payed{
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
}

.route .bgGray td{
    background: #f1f1f1;
}

.route .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    width: 45px;
    text-overflow: ellipsis;
    display: inline-block;
}
.route .bgLightOrange:hover td{
    background: #fff6f0;
}

.accountInfoBlock .payWay{
    position: relative;
    z-index: 0;
}
.payWay .selectPayBtn{
    position: absolute;
    top: -67px;
    left: 0;
    z-index: -1;    
    display: none;
}
.payWay .selectPayBtn a{
    display: block;
    line-height: 30px;
    min-width: 78px;
    text-align: center;
    border: 1px solid #f1634c;
    border-bottom: 0;
    background: #FFFFFF;
}
.payWay .payClick .center,.payWay .payClick .center_1{
    min-width: 70px;
    padding: 0;
    text-align: center;
}

.departure .detail{
    color: #cf6b00;
    margin-left: 4px;
}

.shrinkLineHeight .detail{
    color: #cf6b00;
    margin-left: 4px;
}

.departure .status{
    color: #ef4423;
    font-size: 14px;
}

.departure .price{
    color: #333333;
    font-size: 16px;
    /*font-weight: bold;*/
}

.departure .cost{
    color: #666666;
    font-size: 12px;
}

.departure .button span{
    background-color: #3ea9ee;
    color: white;
    width: 37px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin:0px;
    padding: 0px;
    display: inline-block;
}

.adjustCharge,div.table-adjustCharge{
    line-height: 25px; 
    background-color: #f3f9ff;
    border: 1px solid #d6e5f1;
    margin-bottom: 10px;
    padding: 10px;
}

.adjustCharge .cause,.table-adjustCharge .cause{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

.adjustCharge .explain,.table-adjustCharge .explain{
    color: #333333;
    font-size: 14px;
}

.passengerDetail-table{
    width: 100%; 
    margin: 10px 0;   
}

.passengerDetail-table table th,
.passengerDetail-table table td{
    padding: 8px 5px 8px 0;
    color: #636363;
    font-size: 12px;
}

.passengerDetail-table table th {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

.passengerDetail-table .force-br {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.passengerDetail-table .top{
    border-bottom: 1px solid #e4e4e4;
}

#travelerInfo .chief {
    position: relative;
}

#travelerInfo .batchConfirm,#exitPassenger .batchConfirm{
    width: 70px;
    height: 22px;
    /* border: 1px solid #2792d6; */
    /* color: #2792d6; */
    text-align: center;
    line-height: 22px;
    float: right;
    position: absolute;
    left: 884px;
    bottom: 5px;
    background-color: #3ea9ee;
    color: white;
    cursor: pointer;
}
#travelerInfo .batchConfirm{
    width:86px;
    left:872px;
}

.passengerInfo{
    position: relative;
}
/* 
#exitPassenger .batchConfirm:hover,#travelerInfo .batchConfirm:hover{
    background-color: #2794d6;
    color: white;
    cursor: pointer;
} */

#exitPassenger table td.adjust{
    /*border-bottom: 1px solid #e4e4e4;*/
    padding-left: 0px;
}


.route .noBgGray td{
    background: none;
    border-top: 1px dashed #e4e4e4;
}

#exitPassenger .exitCancel{
    color: black;  
    text-decoration: underline;
}

#travelerInfo .confirm:hover,#exitPassenger .confirm:hover{
    background-color: #57b6f3;
    cursor: pointer;
}

#travelerInfo .cancel,#exitPassenger .cancel{
    cursor: pointer;
    text-decoration: none;
}

.shrinkLineHeight .remark{
    margin-left: 23px;
}

.endorseOrder td.minWidthLabel-lineRange{
    padding-top: 10px;
}

.departureAdd{
    padding-top: 1px;
}

.departureAdd tr td{
    padding-top: 4px;
    padding-bottom: 4px;
}

#exitPassenger .exitCancelAdvan {
  color: #666666;
  font-size: 12px;
  margin-left: 6px;
}

.productDetail-dashedLine td{
    border-bottom: 1px dashed #e4e4e4;
}
.productInfo .moveTop td.costTdAdd{
    padding-bottom: 40px;
    padding-top: 20px;
}

.modifyPassengerInfo{
    overflow-y: auto;
}

.productDetail{
    height: 120px;
    background-color: #f8f8f8;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.lineName{
    margin: 0 auto;
}

.lineName th{
    font-size: 14px;
    color: #404040;
    font-weight: bold;
    border-bottom: 1px dashed #8f8f8f;
    height: 40px;
}

.lineName td{
    height: 80px;
}

.lineName .font1{
    font-size: 14px;
    color: #505050;
}

.lineName .font2{
    font-size: 14px;
    color: #636363;
    font-weight: bold;
}

.lineName .font3{
    font-size: 14px;
    color: #505050;
}

.lineName .font4{
    font-size: 12px;
    color: #999999;
}

.lineName .font5{
    font-size: 12px;
    color: #666666;
}

.airlineDetailTable td{
    height: 70px; 
}

.airlineDetailTable .leave .leaveImg{
    background:url(../../images/buildOrder.png) no-repeat 0 0px;
    width:63px;
    height:63px;
    display: inline-block;
    margin-left: 4px;
}

.airlineDetailTable .leave .leaveRoute{
    background:url(../../images/buildOrder.png) no-repeat 0 -142px;
    width:31px;
    height:18px;
    display: inline-block;
}

.airlineDetailTable .leave .returnRoute{
    background:url(../../images/buildOrder.png) no-repeat 0 -164px;
    width:31px;
    height:18px;
    display: inline-block;
}

.airlineDetailTable .leave .bottomLine{
    border-bottom: 1px dashed #79b4c1;
}

.airlineDetailTable .leave .bottomLine .clock,.airlineDetailTable .leave .clock{
    border-style: none;
}

.airlineDetailTable .leave .bottomLine .clock .font1,.airlineDetailTable .leave .clock .font1{
    color: #636363;
    font-size: 14px;
    font-weight: bold;  
}

.airlineDetailTable .leave .bottomLine .clock .font2,.airlineDetailTable .leave .clock .font2{
    color: #636363;
    font-size: 14px;
    font-weight: bold; 
    margin-left: 8px; 
}

.airlineDetailTable .leave .bottomLine .clock .font3,.airlineDetailTable .leave .clock .font3{
    color: #636363;
    font-size: 12px;
    margin-left: 4px; 
}

.airlineDetailTable .leave .bottomLine .address{
    color: #636363;
    font-size: 12px;
}

.airlineDetailTable .leave .bottomLine .badge1{
    background:url(../../images/buildOrder.png) no-repeat 0 -210px;
    width:28px;
    height:28px;
    display: inline-block;
    vertical-align: middle;
}

.airlineDetailTable .leave .badge2{
    background:url(../../images/buildOrder.png) no-repeat 0 -243px;
    width:28px;
    height:28px;
    display: inline-block;
    vertical-align: middle;
}

.airlineDetailTable .leave .badge1Describe{
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.bottomFrame-note{
    height: 40px;
    line-height: 40px;
    background-color: #fffbf2;
    border: 1px solid #fd8a3f;
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;    
}

.bottomFrame-note span{
    font-size: 14px;
    color: #ff3c00;
    font-weight: bold;
}

.hotelDetailTable td{
    height: 110px;
    border-top: 1px solid #e1e1e1;
}

.hotelDetailTable .hotelImg{
    background:url(../../images/buildOrder.png) no-repeat 0 -70px;
    width:63px;
    height:63px;
    display: inline-block;
}

.hotelDetailTable .allRoute{
    background:url(../../images/buildOrder.png) no-repeat 0 -186px;
    width:31px;
    height:18px;
    display: inline-block;
}

.hotelDetailTable .stayHotelDate{
    font-size: 14px;
    color: #717171;
    margin-left: 4px;
    font-weight: bold;
}

.hotelInfoTable-advantage{
    border: none;
    border-top: 1px solid #e1e1e1;
}

.passenger-detail-title{
    display: inline-block;
}

.passenger-detail-title-right{
    display: inline-block;
    position: relative;
    left: 462px;
}

.passenger-detail-title-right div{
    display: inline-block;
}

.selectTraveler-advantage{
    font-size: 14px;
}

.passenger-detail-title-right .selectName-passenger input{
    height: 30px;
    background: url("../../images/order_r8_c5.png") no-repeat scroll right 8px center #fff;
    text-indent: 4px;
    border: 1px solid #bdbdbd;
}


.passenger-route{
  margin-top: 0px;
  width: 100%;
}

.passenger-route th{
  background: none repeat scroll 0 0 #f8f8f8;
  color: #404040;
  padding: 13px 0;
}

.passenger-route th:first-child, .passenger-route td:first-child{
  padding-left: 10px;
}

.travellerListCont-advantage{
    margin-left: 78px;
    margin-top: -1px;
}

.passenger-detail-title span{
    margin-right: 4px;
}

.passenger-detail-title em{
    color: red;
}

.departure .traveller-advantage td {
  padding: 3px 0px;
}

.dashed_top_advantage td {
  border-top: none;
}

.planeAndHotel-redStar{
  color: red;
  vertical-align: middle;
}

.dashed_top_advantage td input{
    /*border: 1px solid #bdbdbd;*/
}

.dashed_top_advantage .reduce{
    background:url(../../images/buildOrder.png) no-repeat 0 -300px;
    width:18px;
    height:18px;
    display: inline-block;
    vertical-align: middle;
}

.dashed_top_advantage .reduce:hover{
    cursor: pointer;
    background-position: -23px -300px;
}

.dashed_top_advantage .plus{
    background:url(../../images/buildOrder.png) no-repeat 0 -275px;
    width:18px;
    height:18px;
    display: inline-block;
    vertical-align: middle;
}

.dashed_top_advantage .plus:hover{
    cursor: pointer;
    background-position: -23px -275px;
}

.fillRuleFontStyle{
    font-size: 12px;
    color: #cc6633;
}

.fillRuleFontStyle .advantage{
    text-indent: 60px;
}

.relatedOfHuman{
    margin: 20px 0px;
}

.relatedOfHuman div{
    width: 78px;
    text-align: right;
    font-size: 14px;
    color: #333333;
    display: inline-block;
    margin-right: 4px;
}

.relatedOfHuman input{
    display: inline-block;
    width: 224px;
    height: 26px;
    border: 1px solid #bdbdbd;
}

.relatedOfHuman span{
    font-size: 12px;
    color: #999999;
    margin-left: 4px;
}

.relatedOfHuman textarea{
    width: 868px;
    height: 65px;
    display: inline-block;
    border: 1px solid #bdbdbd;
    vertical-align: top;
}

.relatedOfHuman .charge-detail{
    width: 700px;
    vertical-align: top;
    text-align: left;   
    font-size: 14px;
    color: #707070;
}

.relatedOfHuman .charge-detail p{
    margin-bottom: 8px;
    text-indent: 8px;
}

.humanNote{
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

.humanNote .exclamatoryMark{
    background:url(../../images/exclamatory.png) no-repeat 0px 0px;
    width:36px;
    height:36px;
    display: inline-block;
   
}

.humanNote .noteArticle{
    display: inline-block;
    position: relative;
    top: 6px;
    margin-left: 4px;
}

.humanNote .noteArticle .font1{
    font-size: 16px;
    color: #333333;
}

.humanNote .noteArticle .font2{
    font-size: 14px;
    color: #cc6633;
    text-align: left;
}

.humanNote .noteArticle .font3{
    font-size: 14px;
    color: #333333;
    text-align: left;
}

.modify-human-number{
    text-align: center;
    margin-top: 30px;
}

.modify-human-number span.second{
    margin-left: 15px;
    font-size: 14px;
    color: #636363;
}

.modify-human-number a{
    margin-left: 4px;
    font-size: 14px;
    color: #0066cc;
}

.airline-buildOrder{
    font-family: 'microsoft yahei',sans-serif!important
}

/* 订单倒计时部分 */
.orderCountDown {
    width:100%;
    background-color: #f8e4d9;
    margin-bottom: 10px;
}

.inner_orderCountDown {
    width: 960px;
    color: #333;
    margin: 0 auto;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.inner_orderCountDown em {
    color: #ff3300;
    font-weight: bold;
}

/* 旅游订单 备注信息  全是数字或字母时 word-break （不合理） */
.travel_order_remark em {
    display: inline-block;
    float: left;
}

.travel_order_remark i {
    display: inline-block;
    word-break: break-all;
    line-height: 16px;
    float: left;
    width: 670px;
}

.primarily-contract{
    height: 30px;
    line-height: 30px;
    text-indent: 4px;
    
}

.primarily-contract a{
    color: #2792d6;
    text-decoration: underline;
}

.primarily-contract a:hover{
    color: #f1634c;
}



















