body{ margin: 0 auto; background: #f6f6f6;}
footer.main-footer{ color:#969696;  background-color:#EAEAEA; border-top:1px solid #CACACA;}
.main-footer center{ margin-top:20px; }
.main-footer a{  color:inherit; }
.main-footer .bar{ margin:0 5px;}
.main-footer .copyright{ padding-bottom: 20px;}

.useBannerBg{ background: #0178d2; height: 280px;}
.useBanner{ background: url("../../images/store/useManual/useManualInland_03.png") no-repeat 50% 50%; height: 280px; margin: 0 auto;}
.mainBody{ width: 980px; margin: 0 auto;}
.navName{ margin-bottom: 50px;}
.navName li{ float: left; width: 163px; height: 70px; line-height: 70px; text-align: center; background: #858585; color: #fff; font-size: 22px; cursor:pointer;}
.navName li label{ height: 72%; width: 100%; line-height: 50px; display: inline-block; border-left: 1px dashed #ababab; cursor: pointer;}
.navName li:first-child label{ border-left: 0;}
.navName li label i{ display: inline-block; vertical-align: middle;}
.navName .inland{ background: url("../../images/store/smallPic.png") no-repeat 0 -179px; width: 32px; height: 32px; border: 0;}
.navName .international{ background: url("../../images/store/smallPic.png") no-repeat -42px -179px; width: 33px; height: 27px;}
.navName .prepayHotel{ background: url("../../images/store/smallPic.png") no-repeat 0 -216px; width: 35px; height: 30px;}
.navName .useCenter{ background: url("../../images/store/smallPic.png") no-repeat -41px -216px; width: 35px; height: 30px;}
.navName .passengerLiner{ background: url("../../images/store/smallPic.png") no-repeat -100px 0; width: 44px; height: 28px;}
.navName .travel{ background: url("../../images/store/smallPic.png") no-repeat -148px 0; width: 40px; height: 30px;}
.navName .currentLi{ background: #1bbc9b; border-bottom: 5px solid #009476;}
.navName .currentLi label,.navName .currentLi + li label{
    border-left: 0;
}
.changeContent li{ position: relative; z-index: 10; margin-left: 35px; padding: 0 0 50px 50px; border-left: 2px solid #cfcfcf;}
.changeContent .icon{ width: 51px; height: 51px; display: inline-block; position: absolute; left: -3%; top: -2%; z-index: 20;}
.k-ie7 .changeContent .icon{top: 2%;}
.changeContent .searchIcon{ background: url("../../images/store/useManual/useManualInland_07.png") no-repeat; top: -1%;}
.k-ie7 .changeContent .searchIcon{ top: 0;}
.moduleFirstLeft{ float: left; width: 380px; margin-right: 8px; color: #7c7c7c; position: relative; min-height: 340px;}
.moduleFirstLeft .bigTitle,.moduleSecondLeft .bigTitle,.moduleThirdLeft .bigTitle,.endorseContent .bigTitle,.moduleFirstBottomRight .bigTitle { font-size: 24px; color: #ff6500; font-weight: bold; margin-bottom: 15px;}
.moduleFirstLeft .grayTitle,.moduleFirstBottomRight .grayTitle{ font-weight: bold; font-size: 18px; margin:15px 0;}
.moduleFirstLeft .listContent,.moduleFirstBottomRight .listContent,.moduleSecondLeft .listContent,.moduleThirdLeft .listContent{ margin-bottom:20px; font-size: 16px;}
.moduleFirstLeft .listContent .listTitle,
.moduleFirstBottomRight .listContent .listTitle,
.moduleSecondLeft .listContent .listTitle,
.moduleThirdLeft .listContent .listTitle
{
    font-weight: bold;
    line-height: 25px;
}
.moduleFirstLeft .listContent .listTitle{
    width: 69%;
}
.moduleFirstLeft .listContent p,.moduleFirstBottomRight .listContent p,.moduleSecondLeft .listContent p{ line-height: 25px; margin-left: 12px;}
.moduleFirstRight{ width: 500px; float: right;}
.moduleFirstRight i{ width: 500px; height: 347px; display: inline-block;}
.moduleFirstRight .moduleFirstRightPic{ background: url("../../images/store/useManual/useManualInland_10.png") no-repeat;}
.moduleFirstLeft .moduleFirstBtn{ position: absolute; left:7%; bottom: 0;}
.moduleFirstLeft .moduleFirstBtn a{ background: #e94749; color: #fff; font-size: 24px; min-width: 270px; height: 60px; display:inline-block; line-height: 60px; text-align: center;}
.moduleFirstLeft .moduleFirstBtn a:hover{ text-decoration: none; background: #fa595b;}
.moduleFirstBottomLeft{ width: 538px; float: left;}
.moduleFirstBottomLeft i{ width: 538px; height: 380px; display: inline-block;}
.moduleFirstBottomLeft .searchBottomLeftPic{ background: url("../../images/store/useManual/useManualInland_15.png") no-repeat;}
.moduleFirstBottomRight{ float: right; width: 300px; padding-right: 20px; color: #7c7c7c;}
.changeContent .submitPay{ background: url("../../images/store/useManual/useManualInland_18.png") no-repeat;}
.moduleSecondLeft{ float: left; width: 220px; margin-right: 15px; color: #7c7c7c; position: relative;}
.moduleSecondLeft .listContent{ position: absolute; width: 310px;}
.moduleSecondRight{ float: right; width: 642px;}
.moduleSecondRight i{ width: 642px; height: 395px; display: inline-block;}
.moduleSecondRight .payPic{ background: url("../../images/store/useManual/useManualInland_20.png") no-repeat;}
.changeContent .completePic{ background: url("../../images/store/useManual/useManualInland_24.png") no-repeat;}
.moduleThirdLeft{ width: 295px; float: left; color: #7c7c7c;}
.moduleThirdRight{ width: 557px; float: right;}
.moduleThirdRight i{ width: 557px; height: 366px; display: inline-block;}
.moduleThirdRight .moduleThirdPic{ background: url("../../images/store/useManual/useManualInland_26.png") no-repeat;}
.changeContent .endorsePic{ background: url("../../images/store/useManual/useManualInland_27.png") no-repeat;}
.endorseContent .bigTitle .grayFont{ font-size: 16px; color: #636363; margin-left: 30px;}
.endorseContent .flowContent{ float: left; margin-left:45px; width: 261px;}
.endorseContent .flowContent figure img{ height:202px; width:280px;}
.endorseContent .flowContent figure p{ line-height: 25px; font-size: 16px; color: #636363; font-weight: bold; margin: 15px 5px;}
.endorseContent .flowContent:first-child{ margin-left: 0;}
.footDownload{ height: 140px; background: #2d3e50; position: relative;}
.footDownload .downloadBg{ background: url("../../images/store/useManual/footBottom.jpg") no-repeat 50% 50%; height:140px;}
.footDownload .downloadPdf{ background: url("../../images/store/useManual/useManualInland_43.png") no-repeat; display: inline-block; width: 290px; height: 60px; position: absolute; top: -148%; left: 112%;}
.footDownload .downloadPdf:hover{ background: url("../../images/store/useManual/pdfHover.png") no-repeat;}
.moduleFirstRight .moduleGuoJiPic{ background: url("../../images/store/useManual/useGuoJi_03.png") no-repeat;}
.moduleFirstBottomLeft .guoJiLeftPic{ background: url("../../images/store/useManual/useGuoJi_05.png") no-repeat;}
.changeContent .waitPic{ background: url("../../images/store/useManual/useGuoJi_11.png") no-repeat;}
.moduleThirdRight_1{ float: right; width: 500px;}
.moduleThirdRight_1 .moduleThirdRightPic_1{ background: url("../../images/store/useManual/useGuoJi_14.png") no-repeat; width: 500px; height: 347px; display: inline-block;}
.moduleSecondRight .payGuoJiPic{ background: url("../../images/store/useManual/useGuoJi_19.png") no-repeat;}
.moduleThirdRight .moduleThirdGuoJiPic{ background: url("../../images/store/useManual/useGuoJi_22.png") no-repeat;}
.moduleFirstRight .moduleFirstHotelPic{ background: url("../../images/store/useManual/useHotel_03.png") no-repeat;}
.moduleSecondRight .payHotelPic{ background: url("../../images/store/useManual/useHotel_07.png") no-repeat;}
.moduleThirdRight .moduleThirdHotelPic{ background: url("../../images/store/useManual/useHotel_11.png") no-repeat; height: 380px; }
.moduleThirdRight .moduleThirdServicePic{ background: url("../../images/store/useManual/useHotel_13.png") no-repeat; height: 242px; }
.moduleFirstRight.pullLeft{
    float: left;
    width: 500px;
}
.moduleFirstLeft.pullRight{
    float: right;
    width: 320px;
}
.moduleFirstLeft.pullRight .listTitle{
    width: auto;
}
.marginLeft25{
    margin-left: 25px;
}

.foot_block {
    width:600px;
    margin: 0 auto;
    line-height:140px;
}
.foot_fonts {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
}

.changeContent .walletIcon{
    background: url("../../images/store/useManual/userCenter_wallet.png") no-repeat;
    top: -3%;
}
.uc_LeftFonts {
    width:360px;
}
.uc_Right {
    float:right;
}
.walletPic{
    background: url("../../images/store/useManual/userCenter_img01.png") no-repeat;
    width: 499px;
    height: 348px;
    display: inline-block;
}
.changeContent .reportIcon {
    background: url("../../images/store/useManual/userCenter_report.png") no-repeat;
}
.uc_bigBtnLeft {
    position: absolute;
    left:7%;
    bottom: 0;
}
.uc_bigBtnRight {
    position: absolute;
    right:0;
    bottom: 13%;
}
.uc_bigBtnLeft a, .uc_bigBtnRight a {
    background: #e94749;
    color: #fff;
    font-size: 24px;
    min-width: 270px;
    height: 60px;
    display:inline-block;
    line-height: 60px;
    text-align: center;
}
.uc_bigBtnLeft a:hover, .uc_bigBtnRight a:hover{ text-decoration: none; background: #fa595b;}
.changeContent .staffIcon{
    background: url("../../images/store/useManual/userCenter_staffManagement.png") no-repeat;
}
.changeContent .travellerIcon{
    background: url("../../images/store/useManual/userCenter_traveller.png") no-repeat;
}
