body{ min-width: 1530px; margin: 0 auto; background: #f6f6f6;}
footer.main-footer{ color:#969696;  background-color:#EAEAEA; border-top:1px solid #CACACA;}
.main-footer center{ margin-top:20px; }
.main-footer a{  color:inherit; }
.main-footer .bar{ margin:0 5px;}
.main-footer .copyright{ padding-bottom: 20px;}

.useBannerBg{ background: #0178d2; height: 280px;}
.useBanner{ background: url("../../images/store/useManual/useManualInland_03.png") no-repeat; width: 1530px; height: 280px; margin: 0 auto;}
.mainBody{ width: 980px; margin: 0 auto;}
.navName{ margin-bottom: 50px;}
.navName li{ float: left; width: 245px; height: 70px; line-height: 70px; text-align: center; background: #858585; color: #fff; font-size: 26px; cursor:pointer;}
.navName li label{ height: 72%; width: 100%; line-height: 50px; display: inline-block; border-left: 1px dashed #ababab; cursor: pointer;}
.navName li:first-child label{ border-left: 0;}
.navName li label i{ display: inline-block; vertical-align: middle;}
.navName .inland{ background: url("../../images/store/smallPic.png") no-repeat 0 -179px; width: 32px; height: 32px;}
.navName .international{ background: url("../../images/store/smallPic.png") no-repeat -42px -179px; width: 33px; height: 27px;}
.navName .prepayHotel{ background: url("../../images/store/smallPic.png") no-repeat 0 -216px; width: 35px; height: 30px;}
.navName .useCenter{ background: url("../../images/store/smallPic.png") no-repeat -41px -216px; width: 35px; height: 30px;}
.navName .currentLi{ background: #1bbc9b; border-bottom: 5px solid #009476;}
.changeContent li{ position: relative; z-index: 10; margin-left: 35px; padding: 0 0 50px 50px; border-left: 2px solid #cfcfcf;}
.changeContent .icon{ width: 51px; height: 51px; display: inline-block; position: absolute; left: -3%; top: -2%; z-index: 20;}
.k-ie7 .changeContent .icon{top: 2%;}
.changeContent .searchIcon{ background: url("../../images/store/useManual/useManualInland_07.png") no-repeat; top: -1%;}
.k-ie7 .changeContent .searchIcon{ top: 0;}
.moduleFirstLeft{ float: left; width: 380px; margin-right: 15px; color: #7c7c7c; position: relative; min-height: 340px;}
.moduleFirstLeft .bigTitle,.moduleSecondLeft .bigTitle,.moduleThirdLeft .bigTitle,.endorseContent .bigTitle { font-size: 24px; color: #ff6500; font-weight: bold; margin-bottom: 15px;}
.moduleFirstLeft .grayTitle,.moduleFirstBottomRight .grayTitle{ font-weight: bold; font-size: 18px; margin:15px 0;}
.moduleFirstLeft .listContent,.moduleFirstBottomRight .listContent,.moduleSecondLeft .listContent,.moduleThirdLeft .listContent{ margin-bottom:20px; font-size: 16px;}
.moduleFirstLeft .listContent .listTitle,
.moduleFirstBottomRight .listContent .listTitle,
.moduleSecondLeft .listContent .listTitle,
.moduleThirdLeft .listContent .listTitle
{
    font-weight: bold;
    line-height: 25px;
}
.moduleFirstLeft .listContent p,.moduleFirstBottomRight .listContent p,.moduleSecondLeft .listContent p{ line-height: 25px; margin-left: 12px;}
.moduleFirstRight{ width: 492px; float: right;}
.moduleFirstRight .moduleFirstLeftPic{ background: url("../../images/store/useManual/useManualInland_10.png") no-repeat; width: 491px; height: 339px; display: inline-block;}
.moduleFirstLeft .moduleFirstBtn{ position: absolute; left:7%; bottom: 0;}
.moduleFirstLeft .moduleFirstBtn a{ background: #e94749; color: #fff; font-size: 24px; min-width: 270px; height: 60px; display:inline-block; line-height: 60px; text-align: center;}
.moduleFirstBottomLeft{ width: 532px; float: left;}
.moduleFirstBottomLeft .searchBottomLeftPic{ background: url("../../images/store/useManual/useManualInland_15.png") no-repeat; width: 531px; height: 375px; display: inline-block;}
.moduleFirstBottomRight{ float: right; width: 300px; padding-right: 20px; color: #7c7c7c;}
.changeContent .submitPay{ background: url("../../images/store/useManual/useManualInland_18.png") no-repeat;}
.moduleSecondLeft{ float: left; width: 220px; margin-right: 15px; color: #7c7c7c; position: relative;}
.moduleSecondLeft .listContent{ position: absolute; width: 310px;}
.moduleSecondRight{ float: right; width: 635px;}
.moduleSecondRight .payPic{ background: url("../../images/store/useManual/useManualInland_20.png") no-repeat; width: 632px; height: 376px; display: inline-block;}
.changeContent .completePic{ background: url("../../images/store/useManual/useManualInland_24.png") no-repeat;}
.moduleThirdLeft{ width: 295px; float: left; color: #7c7c7c;}
.moduleThirdRight{ width: 548px; float: right;}
.moduleThirdRight .moduleThirdPic{ background: url("../../images/store/useManual/useManualInland_26.png") no-repeat; width: 547px; height: 356px; display: inline-block;}
.changeContent .endorsePic{ background: url("../../images/store/useManual/useManualInland_27.png") no-repeat;}
.endorseContent .bigTitle .grayFont{ font-size: 16px; color: #636363; margin-left: 30px;}
.endorseContent .flowContent{ float: left; margin-left:53px; width: 261px;}
.endorseContent .flowContent figure img{ height: 177px; width: 261px;}
.endorseContent .flowContent figure p{ line-height: 25px; font-size: 16px; color: #636363; font-weight: bold; margin: 15px 5px;}
.endorseContent .flowContent:first-child{ margin-left: 0;}
.footDownload{ min-width: 1530px; height: 140px; background: #2d3e50;}
.footDownload .downloadContent{ width: 1530px; margin: 0 auto; position: relative;}
.footDownload .downloadPdf{ background: url("../../images/store/useManual/useManualInland_43.png") no-repeat; display: inline-block; width: 290px; height: 60px; position: absolute; top: 30%; right: 27%;}








