body{ min-width: 1530px;}
footer.main-footer{ color:#969696;  background-color:#EAEAEA; border-top:1px solid #CACACA;}
.main-footer center{ margin-top:20px; }
.main-footer a{  color:inherit; }
.main-footer .bar{ margin:0 5px;}
.main-footer .copyright{ padding-bottom: 20px;}
