.querytab-content{
    float: left;
    display:block;
    background-color:#f4f4f4;
    color:#333;
}
.querytab li{
    padding:0;
    list-style:none;
}
.querytab ul{
    padding:0;
    margin:0;
}
.querytab-controller{
    position:absolute;
    left:0;
    width:100px;
    color:#ccc;
    background-color:#2e303c;
    height:100%;
}
.querytab-controller ul{
    margin-top:25px;
}
.querytab-wrapper{
    position:relative;
    padding-left:100px;
    font-family:'Microsoft Yahei';
    font-size:10px;
    box-shadow:0 0 10px 0px #aaa;
}
.querytab h4{
    margin:15px 0;
}
.querytab b{
    cursor:pointer;
}
.querytab .k-dropdown-wrap{
    border-color:#ccc;
}
.querytab-controller b{
    display:block;
    cursor:pointer;
    padding:10px 0 10px 18px;
}
.querytab-controller{
    font-size:1.6em;
}
.querytab-controller .current{
    color:#fff;
    background-color:#e03716;
}
.querytab-flight{
    padding:25px;
    font-size:1.4em;
}
.querytab-flight strong{
    font-weight: 500;
}
.querytab input[type=text]{
    background-color:#fff;
    border:1px solid #ccc;
    height:28px;
    font-size:14px;
    padding:0;
    text-indent:5px;
    font-family:arial 'Microsoft Yahei';
}
.querytab input[type=text]:focus{
    border-color:#7bcee8;
    color:#333;
    outline:none;
}
.querytab input[type=radio]{
    margin-right:3px;
}
.querytab .k-widget{
    border:none;
}
.querytab .sel_airlines{
    border:0 !important;
}
.querytab .k-select{
    border:none;
}
.querytab .k-input{
    height:25px;
    padding-top:3px;
}
.querytab .tel {
    background: url(../../images/store/i6.png) no-repeat 0 50%; 
    padding-left:24px;
    color:#ff6500;
}
.querytab .text1{
    color:#666;
    top: 3px;
    font-size:12px;
    position:absolute;
    right:0;
}
.advanced_search .col1{
    width: 260px;
}
.advanced_search .sail_type{
    margin-right:20px;
}
.round_trip .text{
    margin-right:10px;
}
.advanced_search td{
    padding-bottom:12px;
}
.btn-c1{
    background-color:#fc6c26;
    color:#fff;
}
.btn-s1{
    width:120px;
    height:36px;
    font-size:18px;
}

.row-add-line{
    background-color:#f8f8f8;
    border:1px dashed #c9c9c9;
    text-align:center;
    height:28px;
    line-height:28px;
    margin-right: 33px;
}
.row-add-line:hover{
    border-color:#23a8e8;
    background-color:#e5f5fd;
}
.muti_add{
    display: block;
    color:#1ba1e2;
}
.trip_type{
    margin-right: 36px;
    position:relative;
    margin-bottom:20px;
}
.trip_type strong{
    margin-right:15px;
}
.trip_type label{
    margin-right:15px;
}
.icon-plus{
    margin-right:5px;
    width:13px;
    height:13px;
    background: url(../../images/store/querytab.png) -31px 0 no-repeat;
}
.querytab a{
    text-decoration:none;
}
.querytab .k-i-arrow-s{
    background: url(../../images/store/querytab.png) -48px 5px no-repeat;
}
.ac-remove-line{
    text-indent:200%;
    width:14px;
    height:14px;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    background: url(../../images/store/querytab.png) 0 0 no-repeat;
}
.ac-remove-line:hover{
    background-position:-14px 0;
}
.btn_area{text-align:right;}
.index_num{
    font: bold 16px arial;
    color:#ee330e;
}
.muti_trip table{
    table-layout:fixed;
}
.muti_trip .col1{width: 25px;}
.muti_trip .col2{width: 75px;}
.muti_trip .col3{width:200px;}
.muti_trip .col4{width: 75px;}
.muti_trip .col5{width:200px;}
.muti_trip .col6{width: 75px;}
.muti_trip .col7{width:170px;}
.muti_trip .col8{width:20px;}
.muti_trip td,.single_trip td{
    padding-bottom:12px;
}
.single_trip .col1{width: 260px;}
.single_trip .col2{width: 215px;}
.single_trip table{
    table-layout:fixed;
}
.single_trip{
    position:relative;
}
.icon-arrows{
    position:absolute;
    width:9px;
    height:5px;
    background: url(../../images/store/querytab.png) -64px 0 no-repeat;
    left:50%;
    top:21px;
    margin-left:-5px;
}
.underline-title span{
    position:relative;
    border-bottom:2px solid #e03716;
    line-height:20px;
}
.return_date.disabled{
    color:#999;
}
.return_date.disabled input{
    opacity:.6;
}

.xchange{
    top: 15px;
    left: 218px;
    color:#fff;
    text-indent: 10px;
    line-height: 45px;
    width:27px;
    height:47px;
    position:absolute;
    background:url(../../images/store/xchange_type.png) no-repeat;
}

/*pnr 导入*/


/* tips 验证样式 */
.message_ct {position:relative ;min-width:100px;background-color: #fdfef4;border: 1px solid #ffb596;padding:5px;}
.message_ct .arrow {background:url(../../images/store/messge_direct2.png) no-repeat 0 0;width:9px;height:9px;position:absolute;}
.message_ct .message_text {color:#636363;}
.message_ct .arrow_west {top:50%;left:-7px;margin-top:-4px;}
.message_ct .arrow_north {top:-5px;left:50%;margin-left:-4px;background-position:0 -20px;height:5px;}
.message_ct .arrow_east {top:50%;right:-7px;margin-top:-4px;background-position:0 -10px;}
.message_ct .arrow_south {bottom:-5px;left:50%;background-position:0 -26px;height:5px;}


.querytab-pnr{
    padding:25px;
    font-size:1.4em;
}
.subline{
	font-weight: 500;
}

.upload-button {
    vertical-align: middle;
    display: inline-block;
    height: 28px;
    width: 55px;
    border:1px solid #b0dffd;
    background:#e0f3ff no-repeat;
}




/** override style of swfuploader*/
.black_booking .progressBarInProgressWrapper{
	top: -1px;
	left: -1px;
	position: absolute;
	width: 100%;
    
    
	height: 100%;
    
    
    
	border: 1px solid #76cce8;
}
.black_booking .progressWrapper {
	width: 170px;
	overflow: hidden;
    float:left;
    line-height:23px;
    padding-right:10px;
    padding-bottom:5px;
}

.black_booking .progressContainer {
	height: 23px;
	position: relative;
	border: solid 1px #aaa;
	background-color: #fff;
	/* overflow: hidden; */
    color:#666;
}
/* Message */
.black_booking .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.black_booking .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.black_booking .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.black_booking .blue {
	border: solid 1px #aaa;
	background-color: #fff;
}

.progressName {
	z-index: 1;
	font-size: 12px;
	width: 140px;
    
	position: relative;
	padding-left:5px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
    float:left;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 100%;
	background-color: #bcedfd;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
    display:none;
	width: 60px;
    overflow:hidden;
	text-align: left;
	white-space: nowrap;
    float:left;
}

a.progressCancel {
	z-index: 1;
	position: relative;
	font-size: 0;
	display: block;
	height: 23px;
	width: 20px;
	background: url(../../images/store/querytab.png)  0 0 no-repeat;
	float: right;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: middle;
}

.fl-upholder{
    margin-top:10px;
    overflow:hidden;
    padding-left:80px;
}
.fl-uploader{
    font-size: 12px;
    position:relative;
    color:#999;
}
.fl-uploader-error{
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color: #f4f4f4;
    font-weight:normal;
    width: 305px;
    color: #ff4e00;
}
.fl-uploader-wrap{
    display:none;
    position:absolute;
    left:-8px;
    top:22px;
    z-index: 2;
}
.fl-error{
    font-style: normal;
    cursor:pointer;
    padding:2px 5px;
    background: url(../../images/store/icon_warn2.png) 50% 50% no-repeat;
    position:relative;
}
.fl-error:hover .fl-uploader-wrap{
    display:block;
}
.fl-uploader-errfiles{
    width:225px;
    color:#333;
    line-height:20px;
}
.black_booking .message_ct .arrow_north{
    left:20px;
}






body{padding:100px;}

