/*footer*/
footer.main-footer{
    color:#969696;
    background-color:#EAEAEA;
    border-top:1px solid #CACACA;
}
.main-footer center{
    margin-top:20px;
}
.copyright{
    padding-bottom: 20px;
}
.main-footer a{
    color:inherit;
}
.main-footer .bar{
    margin:0 5px;
}