img {
	width: 100%;
}

.section-white-bg {
	background-color: #fff;
}

.section-gray-bg {
	background-color: #e6e6e6;
}

/*  section-block-1   开始*/

.section-block-1 {
	padding-bottom: 30px;
}

.download-btn {
	width: 68%;
	height: 55px;
	border-radius: 10px;
	background-color: #d6293a;
	color: #fff;
	text-align: center;
	line-height: 55px;
	margin: 0 auto;
	margin-bottom: 10px;
	display: block;
	text-decoration: none;
}

.download-btn .dl-text-1 {
	font-size: 1.5em;
}

.download-btn .dl-text-2 {
	color: #eea6af;
}

.download-btn .dl-text-3 {
	font-size: 1.5em;
}

.section-block-1 .orange-font {
	color: #eb582c;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
}

.section-block-1 .gray-font {
	color: #999;
	text-align: center;
	font-size: 1.2em;
}

/*  section-block-1   结束*/

/*  section-block-2  开始  */

.section-block-2 {
	padding-top: 30px;
}

.section-block-2 img.main-bg {
	margin-left: 18%;
	width: 82%;
}

.section-block-2 .orange-font {
	color: #eb582c;
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 15px;
}

.section-block-2 .gray-font {
	color: #999;
	text-align: center;
	font-size: 1.25em;
}

.section-block-2 .top-text {
	margin-bottom: 10px;
}

.section-block-2 .right-text {
	margin-left: 3%;
}

/*  section-block-2  结束 */


/*  section-block-3  开始 */

.section-block-3 {
	padding-top: 20px;
}

.section-block-3 .main-bg {
	width: 82%;
	margin-right: 13%;
	margin-left: 5%;
}

.section-block-3 .orange-font {
	color: #eb582c;
	font-size: 2em;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.section-block-3 .gray-font {
	color: #999;
	text-align: center;
	font-size: 1.4em;
}

.section-block-3 .top-text {
	margin-bottom: 10px;
}

/*  section-block-3  结束 */

/*  section-block-4  开始 */

.section-block-4 {
	padding-top: 20px;
}

.section-block-4 .main-bg {
	margin-right: 4%;
	width: 96%;
}

.section-block-4 .orange-font {
	color: #eb582c;
	font-size: 2em;
	text-align: center;
	margin-bottom: 15px;
}

.section-block-4 .gray-font {
	color: #999;
	text-align: center;
	font-size: 1.4em;
}

/*  section-block-4  结束 */

/*  section-block-5  开始 */

.section-block-5 {
	padding-top: 20px;
	padding-bottom: 40px;
}

.section-block-5 .main-bg {
	margin-right: 8%;
	width: 92%;
}

.section-block-5 .orange-font {
	color: #eb582c;
	font-size: 2em;
	text-align: center;
	margin-bottom: 15px;
}

.section-block-5 .gray-font {
	color: #999;
	text-align: center;
	font-size: 1.4em;
}

.section-block-5 .top-text {
	margin-bottom: 10px;
}

/*  section-block-5  结束 */

.section-block-6 {
	padding-top: 80px;
	background-color: #fff;
}

.section-block-6 .large-logo {
	width: 30%;
	margin-left: 35%;
}

.section-block-6 .slogen {
	font-size: 1.5em;
	text-align: center;
	margin-top: 20px;
	color: #666;
}

.section-block-6 .download-btn {
	margin-top: 80px;
}

.download-btn:active {
	/*color: #fff;*/
}

.section-block-6 .light-red-font {
	font-size: 1.125em;
	color: #e47480;
	text-align: center;
	margin-top: 20px;
}

.section-block-6 .copyright {
	font-size: 0.75em;
	color: #999;
	text-align: center;
	margin-top: 40px;
}