body {
	font-size: 100%;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.priceTitle {
	color: #666;
}

.priceCont {
	color: #f64e16;
}

.imgContainer {
	text-align: left;
}

.simpInfo {
	width: 95%;
	margin: 0 auto;
}

.simpInfo .price {
	font-size: 1em;
}

.simpInfo .childPrice {
	margin-left: 5%;
}

.simpInfo .startDate,
.simpInfo .tip {
	color: #aaa;
}

.tripInfo {
	color: #555;
	line-height: 1.6em;
}

.tripInfo .infoContent {
	width: 95%;
	margin: 0 auto;
}

.tripInfo .mainTitle {
	width: 100%;
	background-color: #f6f6f6;
	border-left: 0.25em solid #ec632a;
	font-size: 1.4em;
	font-weight: bold;
	color: #333;
	padding: 0.3em 0 0.3em 0.2em;
	margin: 0.5em 0;
}

.tripInfo .subTitle {
	color: #333;
	font-size: 1.25em;
}

.infoContent .tip {
	color: #aaa;
}

.flightInfoTab {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0.5em auto;
	width: 100%;
	table-layout: fixed;
}

.flightInfoTab tbody {
	font-size: 0.875em;
}

.flightInfoTab th {
	background-color: #f6f6f6;
	text-align: left;
}

.flightInfoTab tr {
	height: 2em;
	line-height: 1.5em;
}

.grayBgColor {
	background-color: #f6f6f6;
}

.contText ul {
	width: 100%;
	margin-left: -2.4em;
	margin-top: 0.5em;
}

.hotelTopBlock .hotelIcon {
	background: url(../../../images/store/jijiajiu/hotelIcon.png) no-repeat 0 0;
	width: 17%;
	height: 42px;
	float: left;
}

.hotelTopBlock .hotelSimpInfo {
	float: left;
	width: 83%;
}

.hotelTopBlock .city {
	float: left;
	width: 17%;
}

.hotelTopBlock .name {
	float: left;
	width: 83%;
}

.hotelConfig {
	color: #737373;
}

footer {
	background-color: #ee6131;
}

.bottomOrderBlock {
	color: #fff;
	margin: 20% auto 0;
	width: 95%;
	padding: 12% 0 5%;
	position: relative;
}

.bottomOrderBlock i.telIcon {
	background: url(../../../images/store/jijiajiu/telIcon.png) no-repeat 0 0;
	display: inline-block;
	width: 17%;
	height: 42px;
	position: absolute;
	top: -7%;
	left: 5%;
}

.bottomOrderBlock .connectInfo,
.bottomOrderBlock .priceInfo {
	margin-bottom: 3%;	
	font-size: 1.125em;
	line-height: 1.5em;
}

.bottomOrderBlock .child {
	margin-left: 3%;
}

.bottomOrderBlock .tipInfo{
	color: #ffab8f;
}