@charset "utf-8";
/* CSS Document */

/* 采购商 旅游部分的所有样式都在 store_v2/store.css 中， 不利于维护
   不改动老的样式，新增样式放在 store_trav.css中   By: shuaigeng.zhao */

body {
    font-family:"Microsoft Yahei" "宋体" "Arial" "Helvetica" "sans-serif";
}

ul {
    list-style: none;
}

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.main-wrapper {
  min-width:100%;
}
.mainContainer {
    width:100%;
    margin: 0 auto;
}
.tripInfoAndBooking{
    background-color:#fff;
}
.tripInfoAndBooking_left #scrollImg{
    position:relative;
}
#scrollImg img{
    width:100%;
}
.tripInfoAndBooking_left #scrollImg p{
    position:absolute;
    left:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    color:#fff;
    word-break:break-all;
    padding:0.25rem 0.5rem;
    box-sizing: border-box;
    font-size:0.75rem;
}
.tripInfoAndBooking_right {
    padding: 0 0.25rem;
}
.tripInfoAndBooking_right li 
 .unimportantTxt87 {
    color: #878787;
}
.tripName{
    font-size: 0.7rem;
}
.tripName span {
  padding: 0 0.125rem;
}
.morenote{
    display:block;
    color:#878787;
    margin-top:0.25rem;
    font-size:0.6rem;
}
.unimportantTxt63 {
    color: #636363;
}
.tripInfoAndBooking_right li {
    border-bottom: 1px dashed #D2E2F3;
    padding:0.5rem 0.25rem;
}
.recommendedByPM{
    height: 260px;
}

.recommendedByPM li {
  border-bottom: 0;
  padding: 0;
  padding-left: 0.25rem;
  font-size:0.65rem;
}
.recommendedByPM li:first-child{
    font-size:0.75rem;
    font-weight: bold;
    border-bottom:0;
}