@charset "utf-8";
/* CSS Document */

/* 签证详情H5 S*/

body {
    color:#000;
    background:#f9f9f9;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 0.6rem;
}
.main-wrapper {
    width:100%;
    min-width: 100%;
}

.visaTetailBlock {
    background-color: #fff;
    padding:0 0.3rem 0.5rem 0.3rem;
    border-bottom:1px solid #e2e2e2;
    position: relative;
    margin-bottom: 0.5rem;
}
/*.visaTetailBlock:after {
    content: "";
    border:1px solid #e2e2e2;
    border-left:none;
    border-right: none;
    height: 200%;
    width:200%;
    position: absolute;
    top:0;
    left:0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    box-sizing: border-box;
}*/
.detailSummaryT {
    border-bottom: 1px solid #e2e2e2;
    padding:0.8rem 0;
    overflow: hidden;
}
.detailSummaryT img {
    float: left;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    width:4.575rem;
    height: 2.8rem;
}
.contentFonts {
    display: inline-block;
}
.contentFonts h2 {
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    width:10rem;
    /*word-wrap: break-word;*/
    /*width:10.2rem;*/
}
.contentFonts p {
    font-size: 0.55rem;
    color: #686868;
    padding:0 0 0 0.5rem;
}
.deatilSummeryCon {
    padding-top:0.6rem;
    padding-bottom: 0.4rem;
    line-height: 0.8rem;
}
.deatilSummeryCon th, .deatilSummeryCon td {
    padding:0.15rem 0;
    word-break:break-all;
}
.deatilSummeryCon th {
    text-align: right;
    vertical-align: top;
}
.deatilSummeryCon td {
    text-align: left;
    padding-left:0.1rem;
    color: #686868;
}
.visaTetailBlock .changeList {
    border-top:1px solid #e2e2e2;
    z-index: 1;
    -webkit-transform: translateZ(0);
    /*position:relative;*/
    overflow: hidden;
    width:100%;
}
.changeList li {
    border-bottom:1px solid #e2e2e2;
    background: #fafafa;
    border-right: 1px solid #e2e2e2;
    float: left;
    display: inline-block;
    position: relative;
    font-size: 0.65rem;
    height:2.2rem;
    line-height:2.2rem;
    text-align: center;
    width:33%;
}
.changeList li:last-child {
    width:33%;
    border-right: none;
}
.changeList li a {
    color: #111;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background: #fafafa;
}
.changeList li a.currentLi {
    background:#fff;
    color:#fc6c26;
    z-index:3;
    border-bottom: none;
    display: block;
}
.changeList .currentLi i {
    display: inline-block;
    position:absolute;
    bottom:-0.05rem;
    left:0;
    background:#f1634c;
    height:0.05rem;
    width:100%;
}
.changeListCon .itemCon {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e2e2e2;
}
.itemCon h3 {
    font-size: 0.65rem;
    padding:0.8rem 0.5rem 0.6rem 0.5rem;
}
.itemCon a[name="noticeContent"], .itemCon a[name="materialContent"], .itemCon a[name="otherContent"] {
    position: relative;
    top:-2.3rem;
    display: block;
}
.itemCon .commonIcon {
    background: url("../../../images/store/visaDetailIcon.png") no-repeat;
    display: inline-block;
    vertical-align: top;
    background-size: 2rem 7.5rem;
    margin-right: 0.15rem;
}
.itemCon .booking {
    background-position: 0 0;
    width:0.65rem;
    height: 0.75rem;
}
.itemCon .bookingCon, .itemCon .otherCon, .itemCon .materialsCon {
    background-color: #fff;
    border-top:1px solid #e2e2e2;
    padding:0.5rem 0.5rem 0.8rem 0.5rem;
}
.itemCon .materialsCon {
    padding:0;
    background-color: #fcfcfc;
    border-top:none;
}
.itemCon .bookingCon p, .itemCon .otherCon p {
    line-height: 1rem;
    margin-bottom: 0.5rem;
    color: #686868;
}
.itemCon .bookingCon p:last-of-type {
    margin-bottom: 0;
}
.itemCon .materials {
    background-position: 0 -0.825rem;
    width:0.7rem;
    height: 0.65rem;
}
.itemCon .peopleSort {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #e2e2e2;
}
.peopleSort .peopleSortT {
    background-color: #fff;
    padding:0.6rem 0.5rem;
    font-size: 0.65rem;
    border-top: 1px solid #e2e2e2;
    position: relative;
}
.peopleSortT .arrowSpan {
    position: absolute;
    right: 0.5rem;
    top:0.7rem;
}
.arrowSpan .commonIcon {
    background: url("../../../images/store/visaDetailIcon.png") no-repeat;
    display: inline-block;
    vertical-align: top;
    background-size: 2rem 7.5rem;
}
.arrowSpan .arrowRight {
    background-position: 0 -2.85rem;
    width:0.3rem;
    height: 0.55rem;
}
.arrowSpan .arrowDown {
    background-position: 0 -2.425rem;
    width:0.55rem;
    height: 0.3rem;
}
.peopleSortTable {
    /*width:100%;*/
}
.itemCon .other {
    background-position: 0 -1.55rem;
    width:0.7rem;
    height: 0.7rem;
}
.peopleSortTable th, .peopleSortTable td {
    font-size: 0.5rem;
    padding:0.2rem;
    border:1px solid #e2e2e2;
}
.peopleSortTable tr:last-child th, .peopleSortTable tr:last-child td {
    border-bottom: none;
}
.peopleSortTable th {
    text-align: center;
    color: #111;
}
.peopleSortTable td {
    color: #565656;
}
.peopleSortTable em {
    color: red;
    margin-right: 0.05rem;
    vertical-align: sub;
}
.tdListCon li {
    line-height: 0.7rem;
    padding:0.2rem 0;
}
.buttonFixBlock {
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    height: 2.2rem;
    background-color: #fff;
    border-top:1px solid #e2e2e2;
    font-size: 0.7rem;
    text-align: center;
}
.buttonFixBlock .priceBlock {
    float: left;
    display: inline-block;
    color: #404040;
    font-weight: bold;
    width:50%;
    padding:0.8rem 0;
}
.priceBlock strong {
    color: #e46c14;
    margin-left: 0.2rem;
}
.buttonFixBlock .operBlock {
    background-color: #ff9416;
    color: #fff;
    float: left;
    display: inline-block;
    width:50%;
    height: 100%;
    text-align: center;
}
.buttonFixBlock .operBlock a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width:100%;
    height: 100%;
    padding:0.85rem 0;
}

.noLRpadding {
    padding-left:0;
    padding-right: 0;
}
.noTopBorder {
    border-top:none;
}
.fixed_bar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 2;
}